<div id="tree-list-demo">
  <dx-tree-list
    id="employees"
    [dataSource]="employees"
    keyExpr="ID"
    parentIdExpr="Head_ID"
    [showRowLines]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [expandedRowKeys]="[1]"
    (onEditorPreparing)="editorPreparing($event)"
    (onInitNewRow)="initNewRow($event)"
  >
    <dxo-tree-list-editing
      mode="popup"
      [allowUpdating]="true"
      [allowDeleting]="allowDeleting"
      [allowAdding]="true"
    >
      <dxo-tree-list-popup title="Employee Info" [showTitle]="true" [width]="700">
      </dxo-tree-list-popup>
    </dxo-tree-list-editing>

    <dxi-tree-list-column dataField="Full_Name">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="Prefix" caption="Title">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="Head_ID" caption="Head" [visible]="false">
      <dxo-tree-list-lookup
        [dataSource]="lookupData"
        valueExpr="ID"
        displayExpr="Full_Name"
      >
      </dxo-tree-list-lookup>
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="Title" caption="Position">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="City" [width]="150">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="Hire_Date" dataType="date" [width]="120">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column type="buttons">
      <dxi-tree-list-button name="edit"></dxi-tree-list-button>
      <dxi-tree-list-button name="delete"></dxi-tree-list-button>
    </dxi-tree-list-column>
  </dx-tree-list>
</div>
