@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$filemanager-border-color: $base-border-color !default;
$filemanager-file-toolbar-bg: null !default;
$filemanager-editor-active-bg: color.change($base-text-color, $alpha: 0.1) !default;
$filemanager-dirs-tree-item-focus-bg: null !default;
$filemanager-dirs-tree-item-focus-color: null !default;
$filemanager-breadcrumbs-item-focus-bg: $base-border-color !default;
$filemanager-breadcrumbs-item-focus-color: $base-text-color !default;
$filemanager-custom-thumbnail-color: $base-border-color !default;
$filemanager-file-item-select-color: $base-bg !default;
$filemanager-file-item-select-bg: color.change($base-accent, $alpha: 0.8) !default;
$filemanager-file-item-select-focus-color: $base-bg !default;
$filemanager-file-item-select-focus-bg: color.change($base-accent, $alpha: 0.7) !default;
$filemanager-file-item-hover-bg: null !default;
$filemanager-file-item-focused-bg: null !default;
$filemanager-file-item-focused-border: $base-accent !default;
$filemanager-item-focused-color: null !default;
$filemanager-progressbox-shadow-color: null !default;


@if $color == "carmine" {
  $filemanager-file-toolbar-bg: darken($base-bg, 3%) !default;
  $filemanager-dirs-tree-item-focus-bg: darken($base-bg, 8%) !default;
  $filemanager-dirs-tree-item-focus-color: $base-text-color !default;
  $filemanager-file-item-hover-bg: $base-hover-bg !default;
  $filemanager-file-item-focused-bg: $base-accent !default;
  $filemanager-item-focused-color: $base-inverted-text-color !default;
  $filemanager-progressbox-shadow-color: color.change($base-shadow-color, $alpha: 0.175) !default;
}

@if $color == "contrast" {
  $filemanager-file-toolbar-bg: darken($base-bg, 3%) !default;
  $filemanager-dirs-tree-item-focus-bg: $base-text-color !default;
  $filemanager-dirs-tree-item-focus-color: $base-bg !default;
  $filemanager-file-item-hover-bg: $base-hover-color !default;
  $filemanager-file-item-focused-bg: $base-accent !default;
  $filemanager-item-focused-color: $base-text-color !default;
  $filemanager-progressbox-shadow-color: $base-shadow-color !default;
}

@if $color == "dark" {
  $filemanager-file-toolbar-bg: darken($base-bg, 3%) !default;
  $filemanager-dirs-tree-item-focus-bg: lighten($base-bg, 8%) !default;
  $filemanager-dirs-tree-item-focus-color: $base-text-color !default;
  $filemanager-file-item-hover-bg: $base-hover-bg !default;
  $filemanager-file-item-focused-bg: $base-focus-bg !default;
  $filemanager-item-focused-color: $base-inverted-text-color !default;
  $filemanager-progressbox-shadow-color: color.change($base-shadow-color, $alpha: 0.3) !default;
}

@if $color == "darkmoon" {
  $filemanager-file-toolbar-bg: darken($base-bg, 3%) !default;
  $filemanager-dirs-tree-item-focus-bg: lighten($base-bg, 8%) !default;
  $filemanager-dirs-tree-item-focus-color: $base-text-color !default;
  $filemanager-file-item-hover-bg: $base-hover-bg !default;
  $filemanager-file-item-focused-bg: $base-accent !default;
  $filemanager-item-focused-color: $base-inverted-text-color !default;
  $filemanager-progressbox-shadow-color: color.change(darken($base-shadow-color, 100%), $alpha: 0.3) !default;
}

@if $color == "darkviolet" {
  $filemanager-file-toolbar-bg: lighten($base-bg, 3%) !default;
  $filemanager-dirs-tree-item-focus-bg: lighten($base-bg, 8%) !default;
  $filemanager-dirs-tree-item-focus-color: $base-text-color !default;
  $filemanager-file-item-hover-bg: $base-hover-bg !default;
  $filemanager-file-item-focused-bg: $base-focus-bg !default;
  $filemanager-item-focused-color: $base-inverted-text-color !default;
  $filemanager-progressbox-shadow-color: color.change($base-shadow-color, $alpha: 0.3) !default;
}

@if $color == "greenmist" {
  $filemanager-file-toolbar-bg: darken($base-bg, 3%) !default;
  $filemanager-dirs-tree-item-focus-bg: darken($base-bg, 8%) !default;
  $filemanager-dirs-tree-item-focus-color: $base-text-color !default;
  $filemanager-file-item-hover-bg: $base-hover-bg !default;
  $filemanager-file-item-focused-bg: $base-accent !default;
  $filemanager-item-focused-color: $base-inverted-text-color !default;
  $filemanager-progressbox-shadow-color: color.change($base-shadow-color, $alpha: 0.175) !default;
}

@if $color == "light" {
  $filemanager-file-toolbar-bg: darken($base-bg, 3%) !default;
  $filemanager-dirs-tree-item-focus-bg: darken($base-bg, 8%) !default;
  $filemanager-dirs-tree-item-focus-color: $base-text-color !default;
  $filemanager-file-item-hover-bg: $base-hover-bg !default;
  $filemanager-file-item-focused-bg: $base-focus-bg !default;
  $filemanager-item-focused-color: $base-inverted-text-color !default;
  $filemanager-progressbox-shadow-color: color.change($base-shadow-color, $alpha: 0.175) !default;
}

@if $color == "softblue" {
  $filemanager-file-toolbar-bg: darken($base-bg, 3%) !default;
  $filemanager-dirs-tree-item-focus-bg: darken($base-bg, 8%) !default;
  $filemanager-dirs-tree-item-focus-color: $base-text-color !default;
  $filemanager-file-item-hover-bg: $base-hover-bg !default;
  $filemanager-file-item-focused-bg: $base-focus-bg !default;
  $filemanager-item-focused-color: $base-inverted-text-color !default;
  $filemanager-progressbox-shadow-color: color.change($base-shadow-color, $alpha: 0.175) !default;
}

