@use "../sizes" as *;

// adduse

$fluent-menu-vertical-padding: null !default;

@if $size == "default" {
  $fluent-menu-vertical-padding: 12px !default;
}

@if $size == "compact" {
  $fluent-menu-vertical-padding: 8px !default;
}

