<dx-html-editor
  [height]="300"
  [(valueType)]="editorValueType"
  [(value)]="valueContent"
>
  <dxo-toolbar>
    <dxi-item name="undo"></dxi-item>
    <dxi-item name="redo"></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item
      name="size"
      [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
      [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
    ></dxi-item>
    <dxi-item
      name="font"
      [acceptedValues]="[
        'Arial',
        'Courier New',
        'Georgia',
        'Impact',
        'Lucida Console',
        'Tahoma',
        'Times New Roman',
        'Verdana'
      ]"
      [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
    ></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item name="bold"></dxi-item>
    <dxi-item name="italic"></dxi-item>
    <dxi-item name="strike"></dxi-item>
    <dxi-item name="underline"></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item name="alignLeft"></dxi-item>
    <dxi-item name="alignCenter"></dxi-item>
    <dxi-item name="alignRight"></dxi-item>
    <dxi-item name="alignJustify"></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item name="color"></dxi-item>
    <dxi-item name="background"></dxi-item>
  </dxo-toolbar>
</dx-html-editor>

<div class="options">
  <dx-button-group
    (onSelectionChanged)="onValueTypeChanged($event)"
    [selectedItemKeys]="['Html']"
  >
    <dxi-item text="Html"></dxi-item>
    <dxi-item text="Markdown"></dxi-item>
  </dx-button-group>
  <div class="value-content">{{ prettierFormat(valueContent) }}</div>
</div>
