<dx-diagram #diagram id="diagram">
  <dxo-diagram-nodes
    [dataSource]="orgItemsDataSource"
    keyExpr="ID"
    textExpr="Text"
    typeExpr="Type"
    imageUrlExpr="Picture"
  >
    <dxo-diagram-auto-layout type="tree" orientation="horizontal"></dxo-diagram-auto-layout>
  </dxo-diagram-nodes>
  <dxo-diagram-edges
    [dataSource]="orgLinksDataSource"
    keyExpr="ID"
    fromExpr="From"
    toExpr="To"
  ></dxo-diagram-edges>
  <dxo-diagram-toolbox>
    <dxi-diagram-group category="general" title="General"></dxi-diagram-group>
    <dxi-diagram-group
      category="orgChart"
      title="Organizational Chart"
      [expanded]="true"
    ></dxi-diagram-group>
  </dxo-diagram-toolbox>
</dx-diagram>
