<h1>DevExtreme Angular Components Usage Samples</h1>

<div class="demo-container">
    <h2>Bindings</h2>

    <h3>Event handling</h3>
    <dx-button text="Press me" (onClick)="helloWorld()"></dx-button>

    <h3>Static option value</h3>
    <dx-text-box value="I'm static text" valueChangeEvent="keyup"></dx-text-box>

    <h3>One-way option binding</h3>
    <dx-text-box [value]="text" valueChangeEvent="keyup"></dx-text-box>

    <h3>Two-way option binding</h3>
    <dx-text-box [(value)]="text" valueChangeEvent="keyup"></dx-text-box>

    <h2>Angular Forms</h2>
    <form [formGroup]="form" novalidate>
        <div class="form-group">

            <label for="email">Email</label>
            <dx-text-box
                formControlName="emailControl"
                [isValid]="!emailControl.invalid || !emailControlIsChanged"
                [validationError]="{ message: 'Enter correct email' }">
            </dx-text-box>

            <label for="password">Password</label>
            <dx-text-box
                formControlName="passwordControl"
                mode="password"
                [isValid]="!passwordControl.invalid || !passwordControlIsChanged"
                [validationError]="{ message: 'Password should be greater that six symbols' }">
            </dx-text-box>

        </div>
        <label>Toggle form controls state: </label>
        <dx-switch (onValueChanged)="toggleFormControlsState($event)"></dx-switch><br/>
        <dx-button text="Submit" (onClick)="onSubmit()"></dx-button>
    </form>

    <h2>DevExtreme validation features</h2>
    <dx-validation-group>
        <div class="form-group">

            <label>Email</label>
            <dx-text-box [(value)]="formData.email" (onValueChanged)="updateEmailControl($event)">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Email is required."></dxi-validation-rule>
                    <dxi-validation-rule type="email" message="Email is invalid."></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>

            <label>Password</label>
            <dx-text-box [(value)]="formData.password" mode="password" (onValueChanged)="updatePasswordControl($event)">
                <dx-validator>
                    <dxi-validation-rule type="required" message="Password is required."></dxi-validation-rule>
                </dx-validator>
            </dx-text-box>

            <dx-validation-summary></dx-validation-summary>

        </div>
        <dx-button (onClick)="validate($event)" text="Submit"></dx-button>
    </dx-validation-group>

    <h2>dxForm</h2>
    <dx-form
        #dxForm
        [formData]="formData"
        labelLocation="top">
        <dxi-item
            dataField="email"
            editorType="dxTextBox">
            <dxi-validation-rule type="required" message="Email is required."></dxi-validation-rule>
            <dxi-validation-rule type="email" message="Email is invalid."></dxi-validation-rule>
        </dxi-item>
        <dxi-item
            dataField="password"
            editorType="dxTextBox"
            [editorOptions]="{ mode: 'password' }">
            <dxi-validation-rule type="required" message="Password is required."></dxi-validation-rule>
        </dxi-item>
    </dx-form>
    <dx-button (onClick)="dxForm.instance.validate()" text="Submit"></dx-button>

    <h2>Editor Widgets</h2>

    <dx-button text="Simple button" (onClick)="boolValue=!boolValue"></dx-button><br/>

    <dx-check-box text="Lonely checkbox" [(value)]="boolValue"></dx-check-box><br/>

    <dx-switch [(value)]="boolValue"></dx-switch><br/>

    <dx-text-box placeholder="TextBox" [(value)]="text" valueChangeEvent="keyup"></dx-text-box>

    <dx-text-area placeholder="TextArea" [(value)]="text" valueChangeEvent="keyup"></dx-text-area>

    <dx-number-box placeholder="NumberBox" [showSpinButtons]="true" [(value)]="numberValue" [min]="0" [max]="100" ></dx-number-box>

    <dx-progress-bar [(value)]="numberValue"></dx-progress-bar>

    <dx-slider [(value)]="numberValue"></dx-slider>

    <dx-range-slider [start]="15" [end]="75"></dx-range-slider>

    <dx-load-indicator [visible]="true"></dx-load-indicator>

    <dx-autocomplete placeholder="Autocomplete 'item'" [items]="demoItems"></dx-autocomplete>

    <dx-select-box placeholder="SelectBox" [items]="demoItems"></dx-select-box>

    <dx-tag-box placeholder="TagBox" [items]="demoItems"></dx-tag-box>

    <dx-radio-group [items]="demoItems"></dx-radio-group>

    <dx-color-box placeholder="ColorBox"></dx-color-box>

    <dx-date-box [(value)]="currentDate"></dx-date-box>

    <dx-calendar #calendar [value]="value" [selectionMode]="selectionMode">
    </dx-calendar>
    <dx-select-box
      [dataSource]="selectionModes"
      [(value)]="selectionMode"
    >
    </dx-select-box>

    <h2>Custom Templates</h2>

    <h3>dxList</h3>

    <dx-list [grouped]="true" [items]="products">
        <div *dxTemplate="let t of 'item'">
            {{t}}
            <dx-button class="float-right" text="Buy" (onClick)="buy(t)"></dx-button>
        </div>
        <div *dxTemplate="let g of 'group'">
            Group {{g.key}}
        </div>
    </dx-list>
</div>

<h2>dxPopup</h2>

<dx-popup showTitle="true" title="Demo of dxPopup" [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'">
        <div>Hello from dxPopup</div>
    </div>
</dx-popup>
<dx-button text="Show Popup via model" (onClick)="popupVisible = !popupVisible"></dx-button>

<h2>dxPopover</h2>

<dx-popover
    target="#popoverButton"
    [width]="300"
    position="top"
    showTitle="true"
    title="Demo of dxPopover">
    <div *dxTemplate="let data of 'content'">
        <p>Hello from dxPopover</p>
    </div>
</dx-popover>
<dx-button
    id="popoverButton"
    text="Show Popover via method"
    (onClick)="showPopover()"
></dx-button><br/>

<h2>dxResizable</h2>

<dx-resizable
    class="resizable"
    handles="right bottom"
    [minHeight]="100"
    [minWidth]="200"
    [maxHeight]="400"
    [maxWidth]="300"
    [width]="200"
    [height]="100">
    <p><b>Resize this element</b></p>
</dx-resizable>

<h2>dxScrollView</h2>

<dx-scroll-view class="scroll-view-height">
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, eveniet tempore, perspiciatis totam qui est minima dicta beatae dolores, omnis enim ut incidunt. Ut reprehenderit, tempore iusto deserunt doloremque fugit.</p>
        <p>Sint natus quia repellendus cum neque. Velit similique dicta corrupti nesciunt quas ea quam minima, aliquid qui ratione suscipit magnam molestiae aspernatur iure, tenetur sapiente voluptates laborum quidem nisi molestias.</p>
        <p>Id, nesciunt adipisci sint. Doloribus minima expedita, soluta. Eveniet reiciendis eius ducimus provident autem amet alias quis natus. In veritatis, repellendus laborum illo voluptates est quis consectetur consequuntur reiciendis rem!</p>
        <p>In cum, ipsum ratione beatae odio officia doloribus ullam magnam impedit repudiandae odit, vero! Minus quisquam earum aliquam tempore iusto consequatur modi laborum facilis dolorum! Earum, exercitationem error. Placeat, optio!</p>
        <p>Necessitatibus praesentium quisquam autem non dolores, doloremque architecto, suscipit nemo nisi et laboriosam temporibus maiores, quasi amet unde aut consectetur dolor quo. Minus laudantium, enim iste nesciunt ea pariatur eveniet!</p>
        <p>Illo, delectus deleniti nesciunt minima nisi eius accusantium asperiores corporis id repudiandae quia. Cum esse magni accusantium omnis laboriosam iure excepturi, saepe placeat laudantium amet molestiae dolores hic, labore laborum!</p>
        <p>Impedit deleniti rem delectus illum accusamus magni facere nam dolore dolor veniam quos accusantium nostrum magnam, velit praesentium! Optio amet quasi minus perspiciatis ex sit, similique reiciendis libero nostrum voluptatibus?</p>
        <p>Qui quidem natus voluptatibus et id doloribus distinctio tempora, eius, error rerum, commodi in accusamus iusto quos adipisci quasi? Quis error quae expedita hic modi ipsum pariatur, minima alias nesciunt.</p>
        <p>Voluptas illum excepturi aut quae, autem impedit sed non at corporis inventore itaque nostrum repellendus placeat, eum consequuntur cumque, vel voluptates esse. Suscipit mollitia aliquam optio, consectetur dicta quis officia.</p>
        <p>Possimus voluptas saepe quam reiciendis rerum reprehenderit error adipisci totam. Tempore doloribus, porro nemo odio neque rerum voluptatum dignissimos illo quis! Quidem quos maiores ipsum explicabo dolorem pariatur quas assumenda.</p>
        <p>Nisi maiores illum soluta provident placeat aspernatur cumque quod voluptatibus impedit id et minus, dicta tempore accusamus at inventore veritatis neque culpa mollitia. Animi, necessitatibus in dolorem perspiciatis harum voluptatum.</p>
        <p>Quas reprehenderit eveniet ex dicta soluta atque, quae facilis itaque mollitia consequatur consectetur, minima? Aliquid quae inventore eius odit vero ipsam quisquam adipisci harum vitae ad quis, tempora reprehenderit quia.</p>
        <p>Labore, temporibus, doloremque? Voluptates aut voluptatum corporis eum, consectetur labore similique quisquam, velit officia soluta nesciunt numquam quo, nostrum. Molestias delectus facilis odio id quae eveniet molestiae nobis sed fugit!</p>
        <p>Corporis nam quidem error. Excepturi eos nemo quas at ullam nesciunt quae, ipsam ad ducimus esse voluptatum, vel, sed consectetur. Laboriosam non, ipsam eos, reiciendis fugiat earum facere temporibus voluptas!</p>
        <p>Quos maiores, cumque nobis! Quisquam rem quidem, ex necessitatibus at ullam! Excepturi sit asperiores ad quibusdam, eum modi sed iusto perspiciatis vel officia hic nam perferendis ipsa saepe reiciendis non.</p>
    </div>
</dx-scroll-view>

<h2>DxTabs</h2>

<dx-tabs
    id="tabs"
    [dataSource]="tabs"
    [selectedIndex]="0"
    (onItemClick)="selectTab($event)">
</dx-tabs>
<div class="tab-content dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Selected content:</div>
        <div class="dx-field-value-static left-aligned">
            {{tabContent}}
        </div>
    </div>
</div>

<h2>DxTabPanel</h2>

<h3>With data source</h3>

<dx-tab-panel
    [height]="260"
    [dataSource]="tabPanelItems"
    [selectedIndex]="0"
    [loop]="true"
    [animationEnabled]="true"
    [swipeEnabled]="true">
    <div *dxTemplate="let company of 'title'">
        <span>{{company.CompanyName}}</span>
    </div>
    <div *dxTemplate="let company of 'item'">
        <div class="tabpanel-item">
            <div>
                <p>
                    <b>{{company.City}}</b>
                    (<span>{{company.State}}</span>)
                </p>
                <p>
                    <span>{{company.Zipcode}}</span>
                    <span>{{company.Address}}</span>
                </p>
            </div>
            <div>
                <p>
                    Phone: <b>{{company.Phone}}</b>
                </p>
                <p>
                    Fax: <b>{{company.Fax}}</b>
                </p>
                <p>
                    Website:
                    <a href="{{company.Website}}"
                        target="_blank">
                        {{company.Website}}
                    </a>
                </p>
            </div>
        </div>
    </div>
</dx-tab-panel>

<h3>With static items</h3>

<dx-tab-panel [height]="260" [selectedIndex]="0">
    <dxi-item title="Home" icon="home" [template]="'customTemplate'">
    </dxi-item>
    <dxi-item class="tabpanel-item" title="About" icon="info">
        <h3>About</h3>
        <p>Content of the About tab</p>
    </dxi-item>

    <div *dxTemplate="let item of 'customTemplate'" class="tabpanel-item">
        <h3>Home</h3>
        <p>Content of the Home tab</p>
    </div>
</dx-tab-panel>

<h2>DxDrawer</h2>

<dx-button icon="menu" (onClick)="drawer.opened = !drawer.opened"></dx-button>
<dx-drawer #drawer [height]="260">
    <div *dxTemplate="let data of 'panel'">
        <ul style="padding: 20px;">
            <li>Home</li>
            <li>About</li>
        </ul>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, eveniet tempore, perspiciatis totam qui est minima dicta beatae dolores, omnis enim ut incidunt. Ut reprehenderit, tempore iusto deserunt doloremque fugit.</p>
    <p>Sint natus quia repellendus cum neque. Velit similique dicta corrupti nesciunt quas ea quam minima, aliquid qui ratione suscipit magnam molestiae aspernatur iure, tenetur sapiente voluptates laborum quidem nisi molestias.</p>
    <p>Id, nesciunt adipisci sint. Doloribus minima expedita, soluta. Eveniet reiciendis eius ducimus provident autem amet alias quis natus. In veritatis, repellendus laborum illo voluptates est quis consectetur consequuntur reiciendis rem!</p>
</dx-drawer>

<h2>dxChart</h2>

<dx-select-box #serieType
    [items]="chartSeriesTypes"
    [value]="chartSeriesTypes[0]"
    [width]="200"></dx-select-box>

<dx-chart
    class="full-width"
    [dataSource]="oranges"
    (onPointHoverChanged)="seriesHoverChanged($event)">
    <dxi-series
        argumentField="day"
        valueField="oranges"
        name="My oranges"></dxi-series>
    <dxo-common-series-settings
        color="#ffa500"
        [type]="serieType.value"></dxo-common-series-settings>
    <dxo-size
        [height]="300"></dxo-size>
</dx-chart>

Hovered chart item: {{chartItem}}

<h2>dxDataGrid</h2>

<dx-data-grid [dataSource]="customers">
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[5, 10, 20]"
        [showInfo]="true">
    </dxo-pager>
    <dxi-column dataField="CompanyName"></dxi-column>
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataField="State"></dxi-column>
    <dxi-column dataField="Fax"></dxi-column>
    <dxi-column dataField="Phone" cellTemplate="phoneCellTemplate"></dxi-column>
    <div *dxTemplate="let cellData of 'phoneCellTemplate'">
        <dx-button (onClick)="callNumber(cellData.value)" [text]="cellData.text"></dx-button>
    </div>
</dx-data-grid>

<h2>dxScheduler</h2>

<dx-scheduler
    style="height: 500px; display: block"
    [dataSource]="appointments"
    [currentDate]="currentDate"
    startDateExpr="StartDate"
    endDateExpr="EndDate"
    textExpr="Text"
    [views]="['agenda','month','week','workWeek','day']"
    currentView="week"
    [firstDayOfWeek]="0"
    [startDayHour]="8"
    [endDayHour]="19"
    [resources]="resources"
></dx-scheduler>