@use "../../../_design-system/variables/ds" as ds;

$context-menu-content-disabled: ds.$color-content-disabled !default;
$context-menu-icon: ds.$color-content-subtle !default;
$context-menu-shadow: ds.$box-shadow-md !default;
