<dx-data-grid
  id="gridContainer"
  [dataSource]="suppliersData"
  [remoteOperations]="true"
  [showBorders]="true"
>
  <dxo-data-grid-paging [pageSize]="15"></dxo-data-grid-paging>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>
  <dxi-data-grid-column dataField="ContactName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="ContactTitle"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CompanyName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Country"></dxi-data-grid-column>
  <dxo-data-grid-master-detail
    [enabled]="true"
    template="masterDetail"
  ></dxo-data-grid-master-detail>

  <div *dxTemplate="let masterDetailItem of 'masterDetail'">
    <detail-view
      [key]="masterDetailItem.key"
      [rowData]="masterDetailItem.data"
    ></detail-view>
  </div>
</dx-data-grid>
