// adduse

.dx-daterangebox {
  display: flex;

  .dx-datebox {
    flex-grow: 1;

    &.dx-editor-underlined {
      border-bottom: 0;

      &::before {
        margin-left: 0;
      }

      &.dx-rtl {
        .dx-texteditor-container {
          .dx-texteditor-input {
            padding-right: 0;
          }
        }
      }
    }

    &.dx-editor-outlined {
      border: 0;
      box-shadow: none;

      .dx-texteditor-label {
        .dx-label-before,
        .dx-label,
        .dx-label-after {
          border: 0 !important; // stylelint-disable-line declaration-no-important
          margin: 0 !important; // stylelint-disable-line declaration-no-important
          box-shadow: none !important; // stylelint-disable-line declaration-no-important
          clip-path: none;
        }
      }

      &.dx-state-focused,
      &.dx-state-hover,
      &.dx-state-focused.dx-state-hover {
        .dx-texteditor-label {
          .dx-label-before,
          .dx-label,
          .dx-label-after {
            clip-path: none;
          }
        }
      }

      &.dx-texteditor-with-floating-label,
      &.dx-texteditor-with-label {
        margin-top: 0;
      }

      &.dx-state-readonly {
        &.dx-state-hover {
          box-shadow: none;
        }
      }
    }

    &.dx-editor-filled {
      background-color: transparent;
      border: 0;

      &.dx-state-readonly {
        background-color: transparent;

        &.dx-state-hover {
          background-color: transparent;
        }
      }
    }
  }

  &.dx-texteditor-empty .dx-clear-button-area {
    display: block;
    visibility: hidden;
  }
}

.dx-daterangebox-separator {
  display: flex;
  align-items: center;

  .dx-rtl & {
    transform: scale(-1, 1);
  }
}
