@use './variables' as *;
@use '../variables' as *;

.dx-cardview-card-content {
  padding: $cardview-card__content-padding;
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: $cardview-card__content-row-gap;
  width: 100%;
  border-top: $cardview-card-border-width solid;
  border-top-color: $cardview-card-divider-color;

  // NOTE: Override default fonts only in "material-compact"
  font-size: $cardview-card__content-font-size;
  line-height: $cardview-card__content-line-height;

  .dx-cardview-card-selection & {
    border-top-color: $cardview-card--selected-divider-color;
  }
}

.dx-cardview-field-template {
  grid-column: span 2;
}

.dx-cardview-field-caption,
.dx-cardview-field-value,
.dx-cardview-field-template {
  padding: $cardview-card__content__cell-padding-vertical $cardview-card__content__cell-padding-horizontal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .dx-cardview-word-wrap-enabled & {
    white-space: normal;
  }
}

.dx-cardview-field-caption {
  font-weight: $cardview-card__field-caption-weight;

  .dx-cardview-card-selection & {
    font-weight: $cardview-card--selected__field-caption-weight;
  }
}

.dx-cardview-field-value {
  &--text-align-right {
    text-align: right;
  }

  &--text-align-left {
    text-align: left;
  }

  &--text-align-center {
    text-align: center;
  }

  &__text-part {
    &--highlighted {
      color: $cardview-card__content__field-value--highlighted-text-color;
      background: $cardview-card__content__field-value--highlighted-bg-color;
      border-radius: $cardview-card__content__field-value--highlighted-border-radius;
      padding: $cardview-card__content__field-value--highlighted-border-padding;
      font-weight: $cardview-card__content__field-value--highlighted-text-weight;
      box-shadow: $cardview-card__content__field-value--highlighted-box-shadow;
    }
  }
}
