@use './variables' as *;
@use '../variables' as *;

.dx-cardview-card-content {
  padding: ($cardview-card-content-padding-vertical - $cardview-card-content-field-gap) $cardview-card-content-padding-horizontal;
  display: table;
  border-spacing: $cardview-card-content-field-gap;
  width: 100%;
}

.dx-cardview-field {
  display: table-row;
}

.dx-cardview-field-name,
.dx-cardview-field-value {
  display: table-cell;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: $cardview-card-content-cell-padding-vertical $cardview-card-content-cell-padding-horizontal;
}

.dx-cardview-field-name {
  font-weight: 600;
}

.dx-cardview-field-value {
  &--text-align-right {
    text-align: right;
  }

  &--text-align-left {
    text-align: left;
  }

  &--text-align-center {
    text-align: center;
  }

  &--white-space-normal {
    white-space: normal;
  }

  &--white-space-nowrap {
    white-space: nowrap;
  }

  &__text-part {
    &--highlighted {
      color: $cardview-card-content-field-value-highlight-color;
      background: $cardview-card-content-field-value-highlight-background;
    }
  }
}
