$cardview-card-content-padding-vertical: null !default;
$cardview-card-content-padding-horizontal: null !default;
$cardview-card-content-field-gap: null !default;
$cardview-card-content-cell-padding-vertical: null !default;
$cardview-card-content-cell-padding-horizontal: null !default;