@use "sass:math";
@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../textEditor/sizes" as *;
@use "../../base/timeView/mixins" as *;
@use "../../base/timeView";

// adduse
@include clock-action-icons-mixin($base-accent, $clock-bg-color, $clock-digits-color);

.dx-timeview {
  height: auto;
  width: auto;
}

.dx-timeview-clock {
  margin-bottom: 20px;
}

.dx-timeview-format12 {
  width: $generic-timeview-format12-width;
  margin-left: $generic-timeview-time-separator-margin;
  margin-right: auto;

  &.dx-rtl,
  .dx-rtl & {
    margin-left: auto;
    margin-right: $generic-timeview-time-separator-margin;
  }
}

.dx-timeview-time-separator {
  margin: 0 $generic-timeview-time-separator-margin;
}

.dx-timeview-field {
  min-height: $generic-timeview-field-min-height;
}

.dx-timeview-field .dx-numberbox {
  width: 70px - $generic-timeview-field-numberbox-reduce;

  &.dx-numberbox-spin-touch-friendly {
    width: 110px - $generic-timeview-field-numberbox-reduce;
  }
}
