<dx-tree-list
  id="employees"
  [dataSource]="employees"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [expandedRowKeys]="[1]"
>
  <dxo-tree-list-filter-row [visible]="true"></dxo-tree-list-filter-row>
  <dxo-tree-list-selection mode="single"></dxo-tree-list-selection>
  <dxi-tree-list-column dataField="Full_Name"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Title" caption="Position"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="City"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="State"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Mobile_Phone"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Hire_Date" dataType="date"></dxi-tree-list-column>
</dx-tree-list>
