<dx-chart id="chart" [dataSource]="dataSource">
  <dxi-chart-series argumentField="x1" valueField="y1"></dxi-chart-series>
  <dxi-chart-series argumentField="x2" valueField="y2">
    <dxo-chart-point symbol="triangleDown"></dxo-chart-point>
  </dxi-chart-series>
  <dxi-chart-value-axis [tickInterval]="50"></dxi-chart-value-axis>
  <dxo-chart-common-series-settings type="scatter"></dxo-chart-common-series-settings>
  <dxo-chart-argument-axis [tickInterval]="5">
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    <dxo-chart-minor-grid [visible]="true"></dxo-chart-minor-grid>
  </dxo-chart-argument-axis>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  <dxo-chart-common-pane-settings>
    <dxo-chart-border [visible]="true"></dxo-chart-border>
  </dxo-chart-common-pane-settings>
</dx-chart>
