<dx-chart
  id="chart"
  [dataSource]="populationData"
  title="Population: Age Structure"
>
  <dxi-chart-series valueField="maleyoung" name="Male: 0-14" stack="male">
  </dxi-chart-series>
  <dxi-chart-series valueField="malemiddle" name="Male: 15-64" stack="male">
  </dxi-chart-series>
  <dxi-chart-series valueField="maleolder" name="Male: 65 and older" stack="male">
  </dxi-chart-series>
  <dxi-chart-series valueField="femaleyoung" name="Female: 0-14" stack="female">
  </dxi-chart-series>
  <dxi-chart-series valueField="femalemiddle" name="Female: 15-64" stack="female">
  </dxi-chart-series>
  <dxi-chart-series
    valueField="femaleolder"
    name="Female: 65 and older"
    stack="female"
  >
  </dxi-chart-series>
  <dxo-chart-common-series-settings argumentField="state" type="fullStackedBar">
  </dxo-chart-common-series-settings>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxo-chart-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
  </dxo-chart-tooltip>
</dx-chart>
