@use "../mixins" as *;
@use "./mixins" as *;

// adduse


.dx-checkbox {
  display: inline-block;
  cursor: pointer;
  -webkit-user-drag: none;

  @include user-select(none);

  &.dx-state-readonly {
    cursor: default;
  }
}

.dx-checkbox-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.dx-checkbox-container {
  @include dx-overflow();

  height: 100%;
  width: 100%;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  text-overflow: clip;
}

.dx-checkbox-text {
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: normal;
  padding-inline-start: 5px;
}

.dx-state-disabled {
  .dx-checkbox {
    cursor: default;
  }
}
