@use "../../../mixins" as *;

$dx-file-view-item-width: 240px !default;
$dx-file-view-item-spacing: 8px !default;

.dx-chat-file {
  flex: 1 1 30%;
  display: flex;
  align-items: center;
}

.dx-chat-file-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.dx-chat-file-name {
  display: block;
  flex: 1 1 auto;
  min-width: 0;
  font-weight: 600;
  line-height: 1.2857;

  @include dx-overflow();
}

.dx-chat-file-size {
  display: block;
  flex: 1 0 auto;
  min-width: 0;
  text-align: end;

  @include dx-overflow();
}

.dx-chat-file-download-button {
  flex-grow: 0;
  flex-shrink: 0;
}

.dx-file-view-container {
  display: flex;
  flex-wrap: wrap;
  gap: $dx-file-view-item-spacing;
  width: 100%;
}

.dx-file-view-item {
  width: $dx-file-view-item-width;
  flex-shrink: 0;
}
