.priority {
  display: flex;
  align-items: center;
}

.priority--low {
  color: var(--dx-color-success);
}

.priority--normal {
  color: var(--dx-color-primary);
}

.priority--urgent {
  color: var(--dx-color-warning);
}

.priority--high {
  color: var(--dx-color-danger);
}

.indicator {
  background-color: currentcolor;
  margin-right: 8px;
  border-radius: 50%;
  height: 12px;
  width: 12px;
}
