<dx-file-manager
  id="fileManager"
  [fileSystemProvider]="remoteProvider"
  currentPath="Documents/Reports"
  [allowedFileExtensions]="allowedFileExtensions"
  height="550"
>
  <dxo-file-manager-permissions
    [create]="true"
    [copy]="true"
    [move]="true"
    [delete]="true"
    [rename]="true"
  >
  </dxo-file-manager-permissions>
  <dxo-file-manager-item-view>
    <dxo-file-manager-details>
      <dxi-file-manager-column dataField="thumbnail"></dxi-file-manager-column>
      <dxi-file-manager-column dataField="name"></dxi-file-manager-column>
      <dxi-file-manager-column
        dataField="dateModified"
        caption="Modified"
      ></dxi-file-manager-column>
      <dxi-file-manager-column
        dataField="created"
        caption="Created"
        dataType="date"
      ></dxi-file-manager-column>
      <dxi-file-manager-column
        dataField="modifiedBy"
        caption="Modified By"
        visibleIndex="2"
      ></dxi-file-manager-column>
    </dxo-file-manager-details>
  </dxo-file-manager-item-view>
</dx-file-manager>
