<dx-tree-list
    id="employees"
    [dataSource]="employees"
    itemsExpr="items"
    dataStructure="tree"
    [showRowLines]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [expandedRowKeys]="[1]">
    <dxi-column dataField="Title" caption="Position"></dxi-column>
    <dxi-column dataField="Full_Name"></dxi-column>
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataField="State"></dxi-column>
    <dxi-column dataField="Mobile_Phone"></dxi-column>
    <dxi-column dataField="Hire_Date" dataType="date"></dxi-column>
</dx-tree-list>