<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  keyExpr="ID"
  [showBorders]="true"
  [showRowLines]="true"
  [showColumnLines]="false"
  (onExporting)="onExporting($event)"
>
  <dxo-data-grid-export [enabled]="true" [formats]="['pdf']"></dxo-data-grid-export>
  <dxi-data-grid-column
    dataField="Picture"
    cellTemplate="cellTemplate"
    width="90px"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="HireDate" dataType="date"></dxi-data-grid-column>

  <div *dxTemplate="let cell of 'cellTemplate'">
    <img src="{{ cell.value }}" alt="Employee photo" />
  </div>
</dx-data-grid>
