$grid-cell-padding: 7px;
$grid-texteditor-input-padding: 32px;
$grid-total-footer-paddings: 7px;
$grid-command-select-column-width: 70px;
$grid-command-edit-column-width: 100px;
$grid-command-edit-column-with-icons-width: 80px;
$grid-command-expand-column-width: 30px;
$grid-command-adaptive-column-width: 36px;
$grid-column-header-indicator-width: 14px;
$grid-text-content-margin: 3px;
$grid-sort-index-width: 12px;
$grid-sort-index-offset: 3px;
$grid-ai-assistant-confirm-dialog-button-width: 50px;
