@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$base-dropdown-shadow-color1: null !default;
$base-dropdown-shadow-color2: null !default;

@if $mode == "light" {
  $base-dropdown-shadow-color1: color.change($base-shadow-color, $alpha: 0.12) !default;
  $base-dropdown-shadow-color2: color.change($base-shadow-color, $alpha: 0.14) !default;
}

@if $mode == "dark" {
  $base-dropdown-shadow-color1: color.change($base-shadow-color, $alpha: 0.24) !default;
  $base-dropdown-shadow-color2: color.change($base-shadow-color, $alpha: 0.28) !default;
}
