<dx-chart
  id="chart"
  [dataSource]="dataSource"
  [rotated]="true"
  [barGroupPadding]="0.2"
>
  <dxo-chart-argument-axis [categories]="['Royal Houses']">
    <dxo-chart-tick [visible]="false"></dxo-chart-tick>
  </dxo-chart-argument-axis>
  <dxo-chart-title
    text="The British Monarchy"
    subtitle="An Abbreviated Timeline"
  ></dxo-chart-title>
  <dxo-chart-animation [enabled]="false"></dxo-chart-animation>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
    <dxo-chart-title text="Royal Houses"></dxo-chart-title>
  </dxo-chart-legend>
  <dxo-chart-series-template nameField="house"></dxo-chart-series-template>
  <dxo-chart-common-series-settings
    argumentField="monarch"
    type="rangeBar"
    rangeValue1Field="start"
    rangeValue2Field="end"
    barOverlapGroup="monarchs"
    [minBarSize]="4"
  >
  </dxo-chart-common-series-settings>
</dx-chart>
