{
    "env": {
        "es6": true,
        "node": false
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "ignorePatterns": [ "integration/jquery/*.js" ],
    "rules": {
        "no-restricted-modules": [
            "error",
            {
                "patterns": ["*.js"]
            }
        ],
        "no-restricted-imports": [ "error", {
            "paths": [{
                "name": "jquery"
            }],
            "patterns": ["jquery/*"]
        }]
    }
}
