{
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-restricted-modules": [
            "error",
            {
                "patterns": ["*.js"]
            }
        ],
        "quotes": ["error", "single"]
    }
}
