{
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "no-restricted-modules": [
            "error",
            {
                "patterns": ["*.js"]
            }
        ],
        "no-undef": "error"
    },
    "globals": {
        "setInterval": true,
        "setTimeout": true,
        "clearInterval": true,
        "clearTimeout": true,
        "require": true,
        "module": true,
        "exports": true
    }
}
