<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  keyExpr="ID"
  [filterValue]="filterValue"
  [showBorders]="true"
>
  <dxo-data-grid-filter-panel [visible]="true"></dxo-data-grid-filter-panel>
  <dxo-data-grid-filter-builder
    [customOperations]="customOperations"
    [allowHierarchicalFields]="true"
  >
  </dxo-data-grid-filter-builder>
  <dxo-data-grid-filter-builder-popup [position]="popupPosition">
  </dxo-data-grid-filter-builder-popup>
  <dxo-data-grid-filter-row [visible]="true"></dxo-data-grid-filter-row>
  <dxo-data-grid-header-filter [visible]="true"></dxo-data-grid-header-filter>
  <dxo-data-grid-scrolling mode="infinite"></dxo-data-grid-scrolling>
  <dxi-data-grid-column
    dataField="OrderNumber"
    caption="Invoice Number"
    dataType="number"
  >
    <dxo-data-grid-header-filter [groupInterval]="10000"></dxo-data-grid-header-filter>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="SaleAmount"
    format="currency"
    dataType="number"
    [editorOptions]="{
      format: 'currency',
      showClearButton: true,
      inputAttr: { 'aria-label': 'Filter cell' }
    }"
  >
    <dxo-data-grid-header-filter
      [dataSource]="saleAmountHeaderFilter"
    ></dxo-data-grid-header-filter>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee" dataType="string"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="CustomerInfo.StoreCity"
    caption="City"
    dataType="string"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="CustomerInfo.StoreState"
    caption="State"
    dataType="string"
  ></dxi-data-grid-column>
</dx-data-grid>
