<dx-chart
  id="chart"
  [dataSource]="weatherData"
  defaultPane="bottomPane"
  title="Weather in Glendale, CA"
>
  <dxi-chart-series
    pane="topPane"
    color="#b0daff"
    type="rangeArea"
    rangeValue1Field="minT"
    rangeValue2Field="maxT"
    name="Monthly Temperature Ranges, °C"
  >
  </dxi-chart-series>
  <dxi-chart-series pane="topPane" valueField="avgT" name="Average Temperature, °C">
    <dxo-chart-label [visible]="true" [customizeText]="temperatureCustomizeText">
    </dxo-chart-label>
  </dxi-chart-series>
  <dxi-chart-series type="bar" valueField="prec" name="prec, mm">
    <dxo-chart-label [visible]="true" [customizeText]="precipitationCustomizeText">
    </dxo-chart-label>
  </dxi-chart-series>
  <dxo-chart-common-series-settings
    argumentField="month"
  ></dxo-chart-common-series-settings>
  <dxi-chart-pane name="topPane"></dxi-chart-pane>
  <dxi-chart-pane name="bottomPane"></dxi-chart-pane>
  <dxi-chart-value-axis pane="bottomPane">
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    <dxo-chart-title text="Precipitation, mm"></dxo-chart-title>
  </dxi-chart-value-axis>
  <dxi-chart-value-axis pane="topPane">
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    <dxo-chart-title text="Temperature, °C"></dxo-chart-title>
  </dxi-chart-value-axis>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
</dx-chart>
