<dx-html-editor [(value)]="editorValue">
  <dxo-html-editor-toolbar>
    <dxi-html-editor-item name="undo"></dxi-html-editor-item>
    <dxi-html-editor-item name="redo"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item
      name="header"
      [acceptedValues]="[false, 1, 2, 3, 4, 5]"
      [options]="{ inputAttr: { 'aria-label': 'Header' } }"
    ></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="bold"></dxi-html-editor-item>
    <dxi-html-editor-item name="italic"></dxi-html-editor-item>
    <dxi-html-editor-item name="strike"></dxi-html-editor-item>
    <dxi-html-editor-item name="underline"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignLeft"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignCenter"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignRight"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignJustify"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item
      widget="dxButton"
      [options]="toolbarButtonOptions"
    ></dxi-html-editor-item>
  </dxo-html-editor-toolbar>
</dx-html-editor>

<dx-popup
  [showTitle]="true"
  title="Markup"
  [(visible)]="popupVisible"
  [showCloseButton]="true"
>
  <div>{{ editorValue }}</div>
</dx-popup>
