<div id="demo-container">
    <div class="options">
        <div class="caption">Options</div>
        <div class="option">
            <dx-check-box
                text="Auto Update Parent Tasks"
                [(value)]="autoUpdateParentTasks"></dx-check-box>
        </div>
        <div class="option">
            <dx-check-box
                text="Enable Dependency Validation"
                [(value)]="validateDependencies"></dx-check-box>
        </div>
    </div>
    <div class="widget-container">
        <dx-gantt
            taskListWidth="500"
            height="700"
            taskTitlePosition="none">

            <dxo-validation [autoUpdateParentTasks]="autoUpdateParentTasks" [validateDependencies]="validateDependencies"></dxo-validation>

            <dxo-tasks [dataSource]="tasks"></dxo-tasks>
            <dxo-dependencies [dataSource]="dependencies"></dxo-dependencies>

            <dxi-column dataField="title" caption="Task" [width]="300"></dxi-column>
            <dxi-column dataField="start" caption="Start Date" dataType="date"></dxi-column>
            <dxi-column dataField="end" caption="End Date" dataType="date"></dxi-column>

            <dxo-editing [enabled]="true"></dxo-editing>
        </dx-gantt>
    </div>
</div>

