// adduse

.dx-textarea {
  height: auto;

  .dx-texteditor-input-container {
    align-items: stretch;
  }

  .dx-texteditor-input {
    resize: none;
    font-family: inherit;
    display: block;
    overflow: auto;
    white-space: pre-wrap;
    margin: 0;
  }

  .dx-texteditor-input-auto-resize {
    overflow-y: hidden;
  }

  .dx-placeholder {
    height: auto;

    &::before {
      white-space: normal;
    }
  }

  &.dx-textarea-smart {
    .dx-texteditor-input-container {
      position: relative;
    }

    .dx-textarea-suggestion {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      z-index: 1;
      opacity: 0.5;
      resize: none;
      font-family: inherit;
      display: block;
      overflow: hidden;
      white-space: pre-wrap;
      margin: 0;
      border: none;
      background: transparent;
    }
  }
}
