<div id="descContainer"
  >Sort and filter data, reorder and resize columns, select and expand rows.
  Once you are done, <a (click)="onRefreshClick()">refresh</a> the web page to
  see that the grid’s state is automatically persisted to continue working from
  where you stopped or you can <a (click)="onStateResetClick()">reset</a> the
  grid to its initial state.</div
>
<dx-tree-list
  id="employees"
  [dataSource]="employees"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  [showBorders]="true"
  [expandedRowKeys]="[1, 2, 10]"
>
  <dxo-tree-list-selection mode="multiple" [recursive]="true"></dxo-tree-list-selection>
  <dxo-tree-list-filter-row [visible]="true"></dxo-tree-list-filter-row>
  <dxo-tree-list-state-storing
    [enabled]="true"
    type="localStorage"
    storageKey="treeListStorage"
  ></dxo-tree-list-state-storing>

  <dxi-tree-list-column dataField="Full_Name" caption="Full Name"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Title" caption="Position"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="City"></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Hire_Date"
    caption="Hire Date"
    dataType="date"
    [width]="160"
  ></dxi-tree-list-column>
</dx-tree-list>
