<dx-bar-gauge id="gauge"
    [startValue]="0"
    [endValue]="200"
    [values]="[121.4, 135.4, 115.9, 141.1, 127.5]">
    <dxo-label
        [visible]="false"
    ></dxo-label>
    <dxo-tooltip
        [enabled]="true"
        [customizeTooltip]="customizeTooltip"
    ></dxo-tooltip>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-title text="Average Speed by Racer">
        <dxo-font [size]="28"></dxo-font>
    </dxo-title>
    <dxo-legend
        [visible]="true"
        verticalAlignment="bottom"
        horizontalAlignment="center"
        [customizeText]="customizeText">
    </dxo-legend>
</dx-bar-gauge>