<dx-range-selector
  id="range-selector"
  title="Select a Year Period"
  [dataSource]="dataSource"
>
  <dxo-range-selector-margin [top]="50"></dxo-range-selector-margin>
  <dxo-range-selector-chart>
    <dxo-range-selector-common-series-settings
      type="spline"
      argumentField="year"
      valueField="oil"
    >
    </dxo-range-selector-common-series-settings>
    <dxo-range-selector-series-template
      nameField="country"
      [customizeSeries]="customizeSeries"
    >
    </dxo-range-selector-series-template>
  </dxo-range-selector-chart>
  <dxo-range-selector-scale>
    <dxo-range-selector-label format="decimal"></dxo-range-selector-label>
  </dxo-range-selector-scale>
</dx-range-selector>
