@use "../sizes" as *;

// adduse

$generic-menu-item-padding-base: null !default;
$generic-menu-padding-big: null !default;
$generic-menu-padding-small: null !default;

@if $size == "default" {
  $generic-menu-item-padding-base: 5px !default;
  $generic-menu-padding-big: 25px !default;
  $generic-menu-padding-small: 19px !default;
}

@else if $size == "compact" {
  $generic-menu-item-padding-base: 3px !default;
  $generic-menu-padding-big: 23px !default;
  $generic-menu-padding-small: 17px !default;
}
