@use "../sizes" as *;

// adduse

$GENERIC_MENU_ITEM_PADDING_BASE: null !default;
$GENERIC_MENU_PADDING_BIG: null !default;
$GENERIC_MENU_PADDING_SMALL: null !default;

@if $size == "default" {
  $GENERIC_MENU_ITEM_PADDING_BASE: 5px;
  $GENERIC_MENU_PADDING_BIG: 25px;
  $GENERIC_MENU_PADDING_SMALL: 19px;
}

@else if $size == "compact" {
  $GENERIC_MENU_ITEM_PADDING_BASE: 3px;
  $GENERIC_MENU_PADDING_BIG: 23px;
  $GENERIC_MENU_PADDING_SMALL: 17px;
}
