@use "../sizes" as *;

// adduse

$generic-menu-item-padding-base: null !default;
$generic-menu-padding-big: null !default;
$generic-menu-padding-small: null !default;

@if $size == "default" {
  $generic-menu-item-padding-base: 5px;
  $generic-menu-padding-big: 25px;
  $generic-menu-padding-small: 19px;
}

@else if $size == "compact" {
  $generic-menu-item-padding-base: 3px;
  $generic-menu-padding-big: 23px;
  $generic-menu-padding-small: 17px;
}
