<dx-scheduler
  timeZone="America/Los_Angeles"
  [height]="730"
  [dataSource]="dataSource"
  dateCellTemplate="dateCellTemplate"
  [showAllDayPanel]="false"
  currentView="workWeek"
  [currentDate]="currentDate"
  [startDayHour]="7"
  [endDayHour]="23"
>
  <dxi-scheduler-view type="day"></dxi-scheduler-view>
  <dxi-scheduler-view
    type="week"
    [groups]="['typeId']"
    dateCellTemplate="dateCellTemplate"
  ></dxi-scheduler-view>
  <dxi-scheduler-view
    type="workWeek"
    [startDayHour]="9"
    [endDayHour]="18"
    [groups]="['priorityId']"
    dateCellTemplate="dateCellTemplate"
  ></dxi-scheduler-view>
  <dxi-scheduler-view type="month"></dxi-scheduler-view>

  <dxi-scheduler-resource
    fieldExpr="priorityId"
    [allowMultiple]="false"
    [dataSource]="priorityData"
    label="Priority"
    icon="tags"
  >
  </dxi-scheduler-resource>

  <dxi-scheduler-resource
    fieldExpr="typeId"
    [allowMultiple]="false"
    [dataSource]="typeData"
    label="Type"
  >
  </dxi-scheduler-resource>

  <dxo-scheduler-editing>
    <dxo-scheduler-form>
      <dxi-scheduler-item name="mainGroup">
        <dxi-scheduler-item name="subjectGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="dateGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="repeatGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="resourcesGroup">
          <dxi-scheduler-item
            name="priorityIdGroup"
            [colCount]="3"
            [colCountByScreen]="{ xs: 3 }"
          >
            <dxi-scheduler-item name="priorityIdIcon"></dxi-scheduler-item>
            <dxi-scheduler-item name="priorityIdEditor"></dxi-scheduler-item>
            <dxi-scheduler-item name="typeIdEditor"></dxi-scheduler-item>
          </dxi-scheduler-item>
        </dxi-scheduler-item>
        <dxi-scheduler-item name="descriptionGroup"></dxi-scheduler-item>
      </dxi-scheduler-item>
      <dxi-scheduler-item name="recurrenceGroup"></dxi-scheduler-item>
    </dxo-scheduler-form>
  </dxo-scheduler-editing>

  <div *dxTemplate="let data of 'dateCellTemplate'">
    <div class="name">{{
      ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"][data.date.getDay()]
    }}</div>
    <div class="number">{{ data.date.getDate() }}</div>
  </div>
</dx-scheduler>
