::ng-deep #gauge-demo {
    height: 440px;
    width: 100%;
}
::ng-deep #gauge {
    width: 80%;
    height: 100%;
    margin-top: 20px;
    float: left;
}
::ng-deep #panel {
    width: 150px;
    text-align: left;
    margin-top: 20px;
    float: left;
}
::ng-deep .dx-checkbox {
    margin-bottom: 10px;
    display: block;
}

::ng-deep .long-title h3 {
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}