<dx-data-grid id="gridContainer" [dataSource]="suppliersData" [remoteOperations]="true" [showBorders]="true">
    
    <dxo-paging [pageSize]="15"></dxo-paging>
    <dxi-column dataField="ContactName"></dxi-column>
    <dxi-column dataField="ContactTitle"></dxi-column>
    <dxi-column dataField="CompanyName"></dxi-column>
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataField="Country"></dxi-column>
    <dxo-master-detail [enabled]="true" template="masterDetail"></dxo-master-detail>

    <div *dxTemplate="let masterDetailItem of 'masterDetail'">
         <detail-view [key]="masterDetailItem.key" [rowData]="masterDetailItem.data" ></detail-view>
    </div>
</dx-data-grid>