<dx-chart id="chart" [dataSource]="countriesInfo">
  @for(energy of energySources; track energy.name) {
  <dxi-chart-series [valueField]="energy.value" [name]="energy.name">
  </dxi-chart-series>
  }
  <dxo-chart-common-series-settings argumentField="country" type="spline">
    <dxo-chart-point hoverMode="allArgumentPoints"></dxo-chart-point>
  </dxo-chart-common-series-settings>
  <dxo-chart-argument-axis
    [valueMarginsEnabled]="false"
    discreteAxisDivisionMode="crossLabels"
  >
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
  </dxo-chart-argument-axis>
  <dxo-chart-crosshair
    [enabled]="true"
    color="#949494"
    [width]="3"
    dashStyle="dot"
  >
    <dxo-chart-label [visible]="true" backgroundColor="#949494">
      <dxo-chart-font color="#fff" [size]="12"> </dxo-chart-font>
    </dxo-chart-label>
  </dxo-chart-crosshair>
  <dxo-chart-legend
    verticalAlignment="bottom"
    horizontalAlignment="center"
    itemTextPosition="bottom"
  >
  </dxo-chart-legend>
  <dxo-chart-title text="Energy Consumption in 2024">
    <dxo-chart-subtitle
      text="(Millions of Tons, Oil Equivalent)"
    ></dxo-chart-subtitle>
  </dxo-chart-title>
  <dxo-chart-tooltip [enabled]="true"></dxo-chart-tooltip>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
</dx-chart>
