@use "../../../_design-system/variables/ds" as ds;

$form-field-item-content: ds.$color-content !default;

$form-field-item-content-disabled: ds.$color-content-disabled !default;
$form-item-help-content: ds.$color-content-subtle !default;

$form-group-border: ds.$color-border !default;
