{
    "env": {
        "jest": true
    },
    "plugins": [
        "jest",
        "react"
    ],
    "extends": ["plugin:jest/recommended"],
    "rules": {
        "no-unused-vars": ["error", { "varsIgnorePattern": "h" }],
        "react/jsx-uses-vars": 2
    }
}
