@use './content_view';
@use './header_panel';
@use './variables' as *;
@use '../gridCore/error_row';

.dx-cardview {
  display: flex;
  flex-direction: column;
  gap: $cardview-gap;
  padding: $cardview-padding;
}
