@use './content_view';
@use './header_panel';
@use './variables' as *;

.dx-cardview {
  display: flex;
  flex-direction: column;
  gap: $cardview-gap;
  padding: $cardview-padding;
  background-color: $cardview-background-color;
  border-radius: $cardview-border-radius;
}
