@use 'colors' as *;

.dx-cardview-content {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.dx-cardview-card {
  width: 300px;
  border: 1px solid $cardview-color;
  padding: 15px 30px;
}

.dx-cardview-field span {
  display: inline-block;
  width: 50%; 
}