$cardview-gap: null !default;
$cardview-padding: null !default;
$cardview-background-color: null !default;
$cardview-border-radius: null !default;
$cardview-headers-container-gap: null !default;
$cardview-link-color: null !default;
