$cardview-gap: null !default;
$cardview-padding: null !default;
$cardview-bg-color: null !default;
$cardview-border-radius: null !default;
$cardview-text-weight: null !default;
$cardview-header-gap: null !default;
$cardview-link-color: null !default;
$cardview-text-color: null !default;
