<dx-pivot-grid
  id="sales"
  [allowSortingBySummary]="true"
  [allowSorting]="true"
  [allowFiltering]="true"
  [showBorders]="true"
  [height]="570"
  [dataSource]="pivotGridDataSource"
>
  <dxo-pivot-grid-header-filter
    [showRelevantValues]="showRelevantValues"
    [width]="300"
    [height]="400"
  >
    <dxo-pivot-grid-search [enabled]="searchEnabled"></dxo-pivot-grid-search>
  </dxo-pivot-grid-header-filter>

  <dxo-pivot-grid-field-chooser [allowSearch]="true"></dxo-pivot-grid-field-chooser>

  <dxo-pivot-grid-field-panel [visible]="true"> </dxo-pivot-grid-field-panel>
</dx-pivot-grid>

<div class="options">
  <div class="caption">Options</div>
  <div class="options-container">
    <div class="option">
      <dx-check-box
        text="Allow Search"
        [(value)]="searchEnabled"
      ></dx-check-box>
    </div>
    <div class="option">
      <dx-check-box
        text="Show Relevant Values"
        [(value)]="showRelevantValues"
      ></dx-check-box>
    </div>
  </div>
</div>
