<div class="option">
    <span>Office Time Zone</span>
    <dx-select-box
        [items]="demoLocations"
        [width]="240"
        displayExpr="title"
        valueExpr="id"
        [(value)]="timezone"
    >
    </dx-select-box>
</div>
<dx-scheduler
    [dataSource]="dataSource"
    [timeZone]="timezone"
    [views]="['workWeek']"
    currentView="workWeek"
    [currentDate]="currentDate"
    [resources]="resources"
    [height]="600"
    [startDayHour]="8"
    (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
    (onOptionChanged)="onOptionChanged($event)">
    <dxo-editing
        [allowTimeZoneEditing]="true">
    </dxo-editing>
</dx-scheduler>
