<div id="range-selector-demo">
  <dx-range-selector
    id="range-selector"
    title="Copper Production in 2013"
    [dataSource]="dataSource"
    (onValueChanged)="onValueChanged($event)"
  >
    <dxo-range-selector-chart>
      <dxi-range-selector-series
        valueField="copper"
        name="Copper"
      ></dxi-range-selector-series>
      <dxo-range-selector-common-series-settings
        type="bar"
        argumentField="country"
      >
      </dxo-range-selector-common-series-settings>
    </dxo-range-selector-chart>
  </dx-range-selector>
  <h2
    >Total: <span>{{ totalResult | number }}</span> tons</h2
  >
</div>
