<dx-data-grid
  id="gridContainer"
  [dataSource]="orders"
  keyExpr="ID"
  [showBorders]="true"
>
  <dxo-data-grid-filter-row
    [visible]="showFilterRow"
    [applyFilter]="currentFilter"
  ></dxo-data-grid-filter-row>
  <dxo-data-grid-header-filter [visible]="showHeaderFilter"></dxo-data-grid-header-filter>
  <dxo-data-grid-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search..."
  ></dxo-data-grid-search-panel>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>
  <dxi-data-grid-column dataField="OrderNumber" [width]="140" caption="Invoice Number">
    <dxo-data-grid-header-filter [groupInterval]="10000"></dxo-data-grid-header-filter>
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="OrderDate"
    alignment="right"
    dataType="date"
    [width]="120"
    [calculateFilterExpression]="calculateFilterExpression"
  >
    <dxo-data-grid-header-filter [dataSource]="orderHeaderFilter"></dxo-data-grid-header-filter>
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="DeliveryDate"
    alignment="right"
    dataType="datetime"
    format="M/d/yyyy, HH:mm"
    [width]="180"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="SaleAmount"
    alignment="right"
    format="currency"
    [editorOptions]="{
      format: 'currency',
      showClearButton: true,
      inputAttr: {
        'aria-label': 'Filter cell'
      }
    }"
  >
    <dxo-data-grid-header-filter
      [dataSource]="saleAmountHeaderFilter"
    ></dxo-data-grid-header-filter>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CustomerStoreCity" caption="City">
    <dxo-data-grid-header-filter>
      <dxo-data-grid-search [enabled]="true"></dxo-data-grid-search>
    </dxo-data-grid-header-filter>
  </dxi-data-grid-column>
</dx-data-grid>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Apply Filter</span>
    <dx-select-box
      id="useFilterApplyButton"
      [inputAttr]="{ 'aria-label': 'Filter' }"
      [items]="applyFilterTypes"
      [(value)]="currentFilter"
      valueExpr="key"
      displayExpr="name"
      [disabled]="!showFilterRow"
    ></dx-select-box>
  </div>
  <div class="option">
    <dx-check-box
      text="Filter Row"
      [(value)]="showFilterRow"
      (onValueChanged)="clearFilter()"
    ></dx-check-box>
  </div>
  <div class="option">
    <dx-check-box
      text="Header Filter"
      [(value)]="showHeaderFilter"
      (onValueChanged)="clearFilter()"
    ></dx-check-box>
  </div>
</div>
