<dx-scheduler
  timeZone="America/Los_Angeles"
  [dataSource]="appointmentsData"
  [views]="['agenda']"
  currentView="agenda"
  [currentDate]="currentDate"
  [startDayHour]="9"
  [height]="600"
>
  <dxi-scheduler-resource
    fieldExpr="assigneeId"
    label="Assignee"
    [allowMultiple]="true"
    [dataSource]="assignees"
    [useColorAsDefault]="true"
    icon="user"
  >
  </dxi-scheduler-resource>
  <dxi-scheduler-resource
    fieldExpr="priorityId"
    label="Priority"
    [dataSource]="priorities"
    icon="tags"
  >
  </dxi-scheduler-resource>

  <dxo-scheduler-editing>
    <dxo-scheduler-form>
      <dxi-scheduler-item name="mainGroup">
        <dxi-scheduler-item name="subjectGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="dateGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="repeatGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="resourcesGroup">
          <dxi-scheduler-item
            name="assigneeIdGroup"
            [colCount]="3"
            [colCountByScreen]="{ xs: 3 }"
          >
            <dxi-scheduler-item name="assigneeIdIcon"></dxi-scheduler-item>
            <dxi-scheduler-item name="assigneeId"></dxi-scheduler-item>
            <dxi-scheduler-item name="priorityId"></dxi-scheduler-item>
          </dxi-scheduler-item>
        </dxi-scheduler-item>
      </dxi-scheduler-item>
      <dxi-scheduler-item name="recurrenceGroup"></dxi-scheduler-item>
    </dxo-scheduler-form>
  </dxo-scheduler-editing>
</dx-scheduler>
