<dx-scheduler
  timeZone="America/Los_Angeles"
  [dataSource]="appointmentsData"
  [views]="['agenda']"
  currentView="agenda"
  [currentDate]="currentDate"
  [startDayHour]="9"
  [height]="600"
>
  <dxi-scheduler-resource
    fieldExpr="assigneeId"
    label="Assignee"
    [allowMultiple]="true"
    [dataSource]="assignees"
    [useColorAsDefault]="true"
  >
  </dxi-scheduler-resource>
  <dxi-scheduler-resource
    fieldExpr="priorityId"
    label="Priority"
    [dataSource]="priorities"
  >
  </dxi-scheduler-resource>
</dx-scheduler>
