<dx-tree-list
  id="tasks"
  [dataSource]="tasks"
  keyExpr="Task_ID"
  parentIdExpr="Task_Parent_ID"
  [expandedRowKeys]="[1, 2]"
  [selectedRowKeys]="[1, 29, 42]"
  [columnAutoWidth]="true"
  [wordWrapEnabled]="true"
  [showBorders]="true"
>
  <dxo-tree-list-search-panel
    [visible]="true"
    width="250"
  ></dxo-tree-list-search-panel>
  <dxo-tree-list-header-filter [visible]="true"></dxo-tree-list-header-filter>
  <dxo-tree-list-selection mode="multiple"></dxo-tree-list-selection>
  <dxo-tree-list-column-chooser [enabled]="true"></dxo-tree-list-column-chooser>

  <dxi-tree-list-column
    dataField="Task_Subject"
    [width]="300"
  ></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Assigned_Employee_ID"
    caption="Assigned"
    [minWidth]="200"
    cssClass="employee"
    cellTemplate="employeeTemplate"
  >
    <dxo-tree-list-lookup
      [dataSource]="employees"
      valueExpr="ID"
      displayExpr="Name"
    ></dxo-tree-list-lookup>
  </dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Status"
    caption="Status"
    [minWidth]="100"
  >
    <dxo-tree-list-lookup [dataSource]="statuses"></dxo-tree-list-lookup>
  </dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Completion"
    caption="% Completed"
    [visible]="false"
    [customizeText]="getCompletionText"
  ></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Priority"
    caption="Priority"
    [visible]="false"
  >
    <dxo-tree-list-lookup
      [dataSource]="priorities"
      valueExpr="id"
      displayExpr="value"
    ></dxo-tree-list-lookup>
  </dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Start_Date"
    caption="Start Date"
    dataType="date"
  ></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Due_Date"
    caption="Due Date"
    dataType="date"
  ></dxi-tree-list-column>
  <div *dxTemplate="let options of 'employeeTemplate'">
    @if(options.data.Task_Assigned_Employee) {
    <img
      class="img"
      [src]="options.data.Task_Assigned_Employee.Picture"
      alt=""
    />
    } @if(options.data.Task_Assigned_Employee) {
    <span class="name">{{ options.data.Task_Assigned_Employee.Name }}</span>
    }
  </div>
</dx-tree-list>
