<div class="summary-item-header center" *ngIf="isConfirmed">
  Your booking request was submitted.
</div>
<div class="summary-container" *ngIf="!isConfirmed">
  <div class="summary-item">
    <div class="summary-item-header">Dates</div>
    <div class="separator"></div>
    <div>
      <span class="summary-item-label">Check-in Date: </span>{{ getCheckInDate() }}
    </div>
    <div>
      <span class="summary-item-label">Check-out Date: </span>{{ getCheckOutDate() }}
    </div>
  </div>

  <div class="summary-item">
    <div class="summary-item-header">Guests</div>
    <div class="separator"></div>
    <div
      ><span class="summary-item-label">Adults: </span
      >{{ formData.adultsCount }}</div
    >
    <div
      ><span class="summary-item-label">Children: </span
      >{{ formData.childrenCount }}</div
    >
    <div
      ><span class="summary-item-label">Pets: </span
      >{{ formData.petsCount }}</div
    >
  </div>

  <div class="summary-item">
    <div class="summary-item-header">Room and Meals</div>
    <div class="separator"></div>
    <div
      ><span class="summary-item-label">Room Type: </span
      >{{ formData.roomType }}</div
    >
    <div
      ><span class="summary-item-label">Check-out Date: </span
      >{{ formData.mealPlan }}</div
    >
  </div>

  <div class="summary-item" *ngIf="!!formData.additionalRequest">
    <div class="summary-item-header">Additional Requests</div>
    <div class="separator"></div>
    <div>{{ formData.additionalRequest }}</div>
  </div>
</div>
