# General d.ts files

*.d.ts @IlyaKhD @DevExpress/devextreme-techwriters
/ts/** @IlyaKhD

# Grids

/js/ui/data_grid.d.ts    @DevExpress/devextreme-grids @IlyaKhD @DevExpress/devextreme-techwriters
/js/ui/data_grid.js      @DevExpress/devextreme-grids
/js/ui/data_grid/**      @DevExpress/devextreme-grids
/js/ui/grid_core/**      @DevExpress/devextreme-grids

/js/ui/tree_list.d.ts    @DevExpress/devextreme-grids @IlyaKhD @DevExpress/devextreme-techwriters
/js/ui/tree_list.js      @DevExpress/devextreme-grids
/js/ui/tree_list/**      @DevExpress/devextreme-grids
