# General d.ts files

*.d.ts                   @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/ts/**                   @DevExpress/devextreme-apireviewers

# Grids

/js/ui/data_grid.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/data_grid.js      @DevExpress/devextreme-grids
/js/ui/data_grid/**      @DevExpress/devextreme-grids
/js/ui/grid_core/**      @DevExpress/devextreme-grids

/js/ui/tree_list.d.ts    @DevExpress/devextreme-grids @DevExpress/devextreme-apireviewers @DevExpress/devextreme-techwriters
/js/ui/tree_list.js      @DevExpress/devextreme-grids
/js/ui/tree_list/**      @DevExpress/devextreme-grids

# DevOps

/.github/**             @DevExpress/devextreme-devops
