@use "../sizes" as *;
@use "colors" as *;

// adduse

$GENERIC_CHECKBOX_ARROW_ICON_SIZE: null !default;
$GENERIC_CHECKBOX_INTERMIDIATE_ICON_SIZE: null !default;
$GENERIC_CHECKBOX_INTERMIDIATE_ICON_MARGIN: null !default;

@if $size == "default" {
  $GENERIC_CHECKBOX_ARROW_ICON_SIZE: 16px;

  $GENERIC_CHECKBOX_INTERMIDIATE_ICON_SIZE: 14px;
  $GENERIC_CHECKBOX_INTERMIDIATE_ICON_MARGIN: 4px;
}

@else if $size == "compact" {
  $GENERIC_CHECKBOX_ARROW_ICON_SIZE: 10px;

  $GENERIC_CHECKBOX_INTERMIDIATE_ICON_SIZE: 8px;
  $GENERIC_CHECKBOX_INTERMIDIATE_ICON_MARGIN: 3px;
}
