@import (once) "../base/icons.less";

.dx-font-icons("dxiconsmaterial", "DevExtreme Material Icons", "devextreme_material_icons");

.dx-icon {
    font-size: 24px;
    line-height: 1;
    white-space: nowrap;
    text-rendering: optimizeLegibility;
    font-feature-settings: 'liga';
}

.dx-tab {
    .dx-icon,
    &.dx-tab-selected .dx-icon {
        background-size: 100% 100%;
        background-position: 50% 50%;
    }
}

.dx-scrollview-pulldown {
    background-image: @SCROLLVIEW_PULLDOWN_PATH;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.dx-loadindicator-image {
    background-image: @LOADINDICATOR_IMAGE_PATH;
    background-position: center center;
    background-repeat: no-repeat;
}

.dx-loadindicator-image-small {
    background-image: @LOADINDICATOR_IMAGE_SMALL_PATH;
    background-position: center center;
    background-repeat: no-repeat;
}

.dx-loadindicator-image-large {
    background-image: @LOADINDICATOR_IMAGE_LARGE_PATH;
    background-position: center center;
    background-repeat: no-repeat;
}
