@import (once) "./dropDownList.material.less";

.dx-selectbox-popup-wrapper {
    .dx-overlay-content {
        box-shadow: @dropdown-widgets-shadow;
    }

    .dx-popup-content {
        padding: 0;
    }

    .dx-list {
        background-color: @selectbox-list-bg;
    }
}
