<dx-chart
  id="chart"
  [dataSource]="grossProductData"
  [stickyHovering]="false"
  title="Great Lakes Gross State Product"
>
  <dxi-chart-series valueField="year2024" name="2024"></dxi-chart-series>
  <dxi-chart-series valueField="year2020" name="2020"></dxi-chart-series>
  <dxi-chart-series valueField="year2016" name="2016"></dxi-chart-series>
  <dxo-chart-common-series-settings
    argumentField="state"
    type="spline"
    hoverMode="includePoints"
  >
    <dxo-chart-point hoverMode="allArgumentPoints"></dxo-chart-point>
  </dxo-chart-common-series-settings>
  <dxo-chart-legend
    verticalAlignment="bottom"
    horizontalAlignment="center"
    hoverMode="excludePoints"
  >
  </dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
</dx-chart>
