<dx-data-grid
  id="gridContainer"
  [dataSource]="orders"
  keyExpr="ID"
  [showBorders]="true"
>
  <dxo-data-grid-selection mode="single"></dxo-data-grid-selection>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>

  <dxi-data-grid-column
    dataField="OrderNumber"
    [width]="130"
    caption="Invoice Number"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee" [groupIndex]="0"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CustomerStoreCity" caption="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CustomerStoreState" caption="State"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="SaleAmount"
    alignment="right"
    format="currency"
    [width]="160"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="TotalAmount"
    alignment="right"
    format="currency"
    [width]="160"
  ></dxi-data-grid-column>

  <dxo-data-grid-summary>
    <dxi-data-grid-group-item
      column="OrderNumber"
      summaryType="count"
      displayFormat="{0} orders"
    >
    </dxi-data-grid-group-item>
    <dxi-data-grid-group-item
      column="SaleAmount"
      summaryType="max"
      valueFormat="currency"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-data-grid-group-item>
    <dxi-data-grid-group-item
      column="TotalAmount"
      summaryType="max"
      valueFormat="currency"
      [showInGroupFooter]="false"
      [alignByColumn]="true"
    >
    </dxi-data-grid-group-item>
    <dxi-data-grid-group-item
      column="TotalAmount"
      summaryType="sum"
      valueFormat="currency"
      displayFormat="Total: {0}"
      [showInGroupFooter]="true"
    >
    </dxi-data-grid-group-item>
  </dxo-data-grid-summary>

  <dxi-data-grid-sort-by-group-summary-info
    summaryItem="count"
  ></dxi-data-grid-sort-by-group-summary-info>
</dx-data-grid>
