<dx-polar-chart
    id="chart"
    [useSpiderWeb]="true"
    title="Fruit Production in 2010 (Millions of Tons)"
    [dataSource]="productionData">
    <dxi-series valueField="apples" name="Apples"></dxi-series>
    <dxi-series valueField="grapes" name="Grapes"></dxi-series>
    <dxi-series valueField="lemons" name="Lemons"></dxi-series>
    <dxi-series valueField="oranges" name="Oranges"></dxi-series>
    <dxo-common-series-settings type="line"></dxo-common-series-settings>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-tooltip [enabled]="true"></dxo-tooltip>
</dx-polar-chart>