@use "../../../_design-system/variables/ds" as ds;

$viz-blue: ds.$color-bg-blue !default;
$viz-gray: ds.$color-bg-gray !default;
$viz-green: ds.$color-bg-green !default;
$viz-pink: ds.$color-bg-pink !default;
$viz-primary: ds.$color-bg-primary !default;
$viz-purple: ds.$color-bg-purple !default;
$viz-red: ds.$color-bg-red !default;
$viz-yellow: ds.$color-bg-yellow !default;

$viz-tile-border: ds.$color-content-static-dark !default;
