<div class="long-title">
  <h3>Personal details</h3>
</div>
<div id="form-container">
  <dx-form id="form" [colCount]="2" [formData]="employee">
    <dxi-form-item itemType="group">
      <dxi-form-item itemType="group" caption="Personal Data">
        <dxi-form-item dataField="FirstName"></dxi-form-item>
        <dxi-form-item dataField="LastName"></dxi-form-item>
        <dxi-form-item
          editorType="dxCheckBox"
          [editorOptions]="checkBoxOptions"
        ></dxi-form-item>
      </dxi-form-item>
      <dxi-form-item itemType="group">
        <dxi-form-item
          itemType="group"
          caption="Home Address"
          name="HomeAddress"
          [visible]="isHomeAddressVisible"
        >
          <dxi-form-item dataField="Address"></dxi-form-item>
          <dxi-form-item dataField="City"></dxi-form-item>
        </dxi-form-item>
      </dxi-form-item>
    </dxi-form-item>
    <dxi-form-item itemType="group" caption="Phones" name="phones-container">
      <dxi-form-item
        itemType="group"
        name="phones"
        *ngFor="let phone of phoneOptions; let i = index"
      >
        <dxi-form-item
          [dataField]="'Phones[' + i + ']'"
          [editorOptions]="phoneOptions[i]"
        >
          <dxo-form-label [text]="'Phone ' + (i + 1)"> </dxo-form-label>
        </dxi-form-item>
      </dxi-form-item>
      <dxi-form-item
        itemType="button"
        horizontalAlignment="left"
        cssClass="add-phone-button"
        [buttonOptions]="addPhoneButtonOptions"
      >
      </dxi-form-item>
    </dxi-form-item>
  </dx-form>
</div>
