{
    "presets": ["env"],
    "plugins": [
        "transform-es2015-modules-commonjs",
         "add-module-exports",
        ["transform-react-jsx", { "pragma": "Preact.h" }]
    ],
    "ignore": ["**/*.json", "**/sinon.js", "**/*.tsx"]
}