artifacts/*
js/viz/docs/*
node_modules/*
build/*
*.j.tsx
playground/*
themebuilder/data/metadata/*
themebuilder-scss/dist/*
themebuilder-scss/coverage/*
themebuilder-scss/src/data/metadata/*
js/bundles/dx.custom.js
testing/jest/utils/transformers/*
ts/
js/localization/cldr-data/*
js/localization/default_messages.js
