artifacts/*
node_modules/*
build/*
dist
*.j.tsx
playground/*
themebuilder/data/metadata/*
themebuilder-scss/coverage/*
testing/jest/utils/transformers/*
ts/
js
testing
themebuilder-scss
*-e2e
lib
*.scss

packages/jquery/*
packages/interim/*

/.off.eslintrc.js
/gulpfile.js
/webpack.config.js
