artifacts/*
js/viz/docs/*
node_modules/*
testing/helpers/sinon/*
*.d.ts
*.j.tsx
playground/*
themebuilder/data/metadata/*
themebuilder-scss/dist/*
themebuilder-scss/coverage/*
themebuilder-scss/src/data/metadata/*
js/bundles/dx.custom.js
testing/jest/utils/transformers/*

!js/renovation/**/*.d.ts
