{
    "env": {
        "es6": true
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "globalReturn": true
        }
    },
    "plugins": [
        "spellcheck"
    ],
    "rules": {
        "block-spacing": "error",
        "comma-spacing": "error",
        "computed-property-spacing": "error",
        "func-call-spacing": "error",
        "key-spacing": "error",
        "keyword-spacing": [
            "error",
            "overrides": {
                "catch": { "after": false },
                "for": { "after": false },
                "if": { "after": false },
                "switch": { "after": false },
                "while": { "after": false }
            }
        ],
        "no-multiple-empty-lines": [ "error", { "max": 2 }],
        "no-irregular-whitespace": "error",
        "no-multi-spaces": "error",
        "no-trailing-spaces": "error",
        "no-whitespace-before-property": "error",
        "object-curly-spacing": [ "error", "always" ],
        "semi-spacing": "error",
        "space-before-blocks": "error",
        "space-before-function-paren": [ "error", "never" ],
        "space-in-parens": "error",
        "space-infix-ops": "error",
        "space-unary-ops": "error",
        "spaced-comment": [ "error", "always", {
            "exceptions": [ "#DEBUG", "#ENDDEBUG" ],
            "markers": [ "/" ]
        } ],

        "brace-style": [ "error", "1tbs", { "allowSingleLine": true } ],
        "curly": [ "error", "multi-line", "consistent" ],

        "unicode-bom": [ "error", "never" ],
        "eol-last": [ "error", "always" ],
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "MemberExpression": 1,
                "CallExpression": {
                    "arguments": 1
                }
            }
        ],
        "no-console": "error",
        "spellcheck/spell-checker": [
            "error",
            {
                "lang": "en_US",
                "comments": false,
                "strings": false,
                "identifiers": true,
                "templates": false,
                "skipIfMatch": [
                    "^\\$?..$"
                ],
                "skipWords": [
                    dx, // DevExpress
                    el, // Element
                    fn, // Function
                    fx, // Effects
                    jq, // jQuery
                    js, // JavaScript
                    ko, // Knockout
                    ln, // Math
                    na, // Special case for NaN
                    ng, // Angular
                    ok, // OK
                    px, // Pixel
                    tz, // Timezone
                    ua, // User-agent
                    ui, // User Interface
                    un, // "Un-Escape"
                    xs, // extra small
                    xy, // XY-diagram
                    vm, // view-model

                    amd,        // AMD modules
                    bing,
                    cldr,       // Unicode CLDR Project
                    cwd,        // current working directory
                    edm,        // Entity Data Model
                    eol,        // end of line
                    etag,       // HTTP header
                    eula,       // EULA
                    jsrender,   // JsRender template engine
                    hsl,        // HSL color
                    hsv,        // HSV color
                    iana,       // IANA (time-zone database)
                    ie,
                    ie11,
                    ios,
                    ipad,
                    iphone,
                    linejoin,   // SVG "stroke-linejoin"
                    ltr,        // Left-to-Right
                    mdx,        // OLAP Multi-dimensional expressions
                    mercator,   // Map term
                    microsoft,
                    moz,        // Vendor prefix
                    mozilla,
                    firefox,
                    msie,
                    odata,      // OData
                    rtl,        // Right-to-Left
                    sinon,      // JS library
                    tspan,      // SVG element
                    tspans,
                    uglify,     // UglifyJS
                    untils,     // Time-zone term
                    viapoint,   // Geo term
                    webkit,
                    webpack,
                    xmla,       // XML for Analysis
                    ldml,       // LOCALE DATA MARKUP LANGUAGE

                    accessor,
                    accessors,
                    acos,
                    adaptivity,
                    addons,
                    affine,
                    aggregator,
                    aggregators,
                    ajax,
                    anim,
                    appt,
                    appts,
                    arabic,
                    arg,
                    argc,
                    args,
                    argv,
                    asc,
                    ascii,
                    asin,
                    aspnet,
                    async,
                    atan,
                    attr,
                    attrs,
                    autocomplete,
                    autocompletion,
                    backend,
                    backends,
                    basename,
                    bezier,
                    bindable,
                    bool,
                    buf,
                    calc,
                    camelize,
                    cancelable,
                    captionize,
                    ceil,
                    centroid,
                    checkbox,
                    checkboxes,
                    codomain,
                    coef,
                    coefs,
                    coeff,
                    coeffs,
                    colgroup,
                    colgroups,
                    colorizer,
                    colorizers,
                    colspan,
                    colspans,
                    concat,
                    cond,
                    configs,
                    configurator,
                    configurators,
                    const,
                    consts,
                    conv,
                    coord,
                    coords,
                    cordova,
                    cpus,
                    crit,
                    crosshair,
                    ctor,
                    ctors,
                    ctrl,
                    ctx,
                    dasherize,
                    datetime,
                    dblclick,
                    deactivator,
                    dec,
                    decrement,
                    deferreds,
                    defs,
                    del,
                    dels,
                    denormalize,
                    deps,
                    desc,
                    deserialization,
                    deserialize,
                    dest,
                    dev,
                    devtool,
                    dir,
                    dirname,
                    dom,
                    donut,
                    downloader,
                    draggable,
                    draggables,
                    drilldown,
                    droppable,
                    durations,
                    eigen,
                    elems,
                    enctype,
                    enqueue,
                    enum,
                    esc,
                    etalon,
                    exceedings,
                    exchanger,
                    expander,
                    expando,
                    expr,
                    exprs,
                    extname,
                    extremum,
                    fieldset,
                    fieldsets,
                    filename,
                    focusable,
                    focusin,
                    focusout,
                    foreach,
                    formatter,
                    formatters,
                    fullscreen,
                    func,
                    funcs,
                    gaussian,
                    geo,
                    geocode,
                    geocoded,
                    geocoder,
                    getter,
                    getters,
                    gregorian,
                    guid,
                    hideable,
                    historyless,
                    hor,
                    horz,
                    hostname,
                    hoverable,
                    href,
                    html,
                    http,
                    idx,
                    img,
                    impl,
                    inflector,
                    infobox,
                    infos,
                    init,
                    inited,
                    intervalize,
                    invertible,
                    invoker,
                    iri,
                    iso,
                    iter,
                    jsonp,
                    keydown,
                    len,
                    lng,
                    localizable,
                    lookups,
                    marginate,
                    metadata,
                    minify,
                    mixin,
                    mixins,
                    multiline,
                    multipane,
                    multitouch,
                    namespace,
                    namespaced,
                    namespaces,
                    nav,
                    navbar,
                    noop,
                    normalizer,
                    num,
                    observables,
                    overline,
                    paddings,
                    param,
                    params,
                    parsers,
                    patcher,
                    pathname,
                    pdf,
                    penult,
                    polyline,
                    polymorph,
                    polynom,
                    popout,
                    popup,
                    pos,
                    postfix,
                    postfixes,
                    postprocess,
                    preload,
                    prepend,
                    prerender,
                    prev,
                    proj,
                    proto,
                    proxied,
                    queryable,
                    radian,
                    radians,
                    radiuses,
                    readdir,
                    rect,
                    rects,
                    registrator,
                    reinit,
                    rels,
                    renderer,
                    renderers,
                    reposition,
                    resample,
                    resampled,
                    resizable,
                    resizables,
                    resize,
                    resized,
                    resizer,
                    resizing,
                    resolvers,
                    rgb,
                    rgba,
                    roadmap,
                    rowspan,
                    rowspans,
                    sankey,
                    scalebar,
                    scrollable,
                    scrollbar,
                    scroller,
                    scrollers,
                    seg,
                    selectable,
                    semidiscrete,
                    serializers,
                    shader,
                    sortable,
                    sparkline,
                    sparklines,
                    splitter,
                    sqrt,
                    squarified,
                    squarify,
                    src,
                    str,
                    stringify,
                    struct,
                    stylesheets,
                    sublevel,
                    submenu,
                    submenus,
                    substr,
                    substring,
                    substrings,
                    subtags,
                    subvalue,
                    subvalues,
                    svg,
                    swipeable,
                    synchronizable,
                    synchronizer,
                    tabbable,
                    tabindex,
                    tbody,
                    templated,
                    thead,
                    timeline,
                    timestamp,
                    timezones,
                    titleize,
                    tfoot,
                    tmp,
                    tmpl,
                    toolbars,
                    tooltip,
                    tooltips,
                    transclude,
                    treeview,
                    uid,
                    uint,
                    unary,
                    undelete,
                    ungroup,
                    ungrouping,
                    unicode,
                    unlink,
                    unmap,
                    unmerge,
                    unmerged,
                    unmocked,
                    unproject,
                    unregister,
                    unselect,
                    unselected,
                    unshift,
                    untranslate,
                    updatable,
                    uploader,
                    uri,
                    utc,
                    utils,
                    validator,
                    validators,
                    vals,
                    ver,
                    vert,
                    viewport,
                    vml,
                    waypoint,
                    waypoints,
                    winloss,
                    workspace,
                    writeable,
                    xhr,
                    xml,
                    xmlns
                ]
            }
        ]
    }
}
