*       text eol=lf

# images
*.gif   binary
*.jpg   binary
*.png   binary
*.ico   binary

# fonts
*.eot   binary
*.ttf   binary
*.woff  binary
*.woff2  binary

# verctor-map shape files
*.dbf   binary
*.shp   binary
*.shx   binary
