.idea
/artifacts
/testing/testcafe/artifacts
/testing/bundlers/dist
/testing/bundlers/entry
/testing/bundlers/devextreme*
/testing/bundlers/.parcel-cache
/dotnet_packages
/js/bundles/dx.custom.js
/js/localization/default_messages.js
/js/localization/cldr-data
/js/renovation/**/*.j.tsx
/js/renovation/code_coverage
/scss/bundles/*.scss
bin
node_modules
obj
project.lock.json
package-lock.json
yarn.lock
.DS_Store
