# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
npm
dist
bin
obj
/artifacts

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# System Files
.DS_Store
Thumbs.db

.nx/cache
nx-cloud.env
