.idea
/artifacts
/dotnet_packages
/js/bundles/dx.custom.js
/js/localization/default_messages.js
/js/localization/cldr-data
/js/**/*.p.js
/themebuilder/data/less
/themebuilder/data/metadata
bin
node_modules
obj
project.lock.json
yarn.lock
