{
    "extends": "stylelint-config-standard",
    "ignoreFiles": "**/*.json",
    "rules": {
        "indentation": null,
        "comment-empty-line-before": null,
        "length-zero-no-unit": null,
        "selector-list-comma-newline-after": null,
        "max-empty-lines": null,
        "selector-pseudo-element-colon-notation": null,
        "declaration-empty-line-before": null,
        "color-hex-case": null,
        "number-leading-zero": null,
        "no-missing-end-of-source-newline": null,
        "block-opening-brace-space-before": null,
        "block-closing-brace-empty-line-before": null,
        "declaration-block-trailing-semicolon": null,
        "declaration-bang-space-before": null,
        "block-no-empty": null,
        "block-closing-brace-newline-before": null,
        "declaration-block-semicolon-space-before": null,
        "declaration-block-no-duplicate-properties": null,
        "selector-descendant-combinator-no-non-space": null,
        "declaration-block-semicolon-newline-after": null,
        "value-list-comma-newline-after": null,
        "at-rule-empty-line-before": null,
        "at-rule-name-case": null,
        "at-rule-no-unknown": null,
        "unit-case": null,
        "declaration-colon-newline-after": null,
        "block-opening-brace-newline-after": null,
        "property-no-unknown": null,
        "function-comma-space-before": null,
        "color-hex-length": null,
        "font-family-no-missing-generic-family-keyword": null,
        "rule-empty-line-before": null,
        "no-extra-semicolons": null,
        "selector-combinator-space-after": null,
        "selector-combinator-space-before": null,
        "function-comma-space-after": null,
        "no-descending-specificity": null,
        "no-duplicate-selectors": null,
        "number-no-trailing-zeros": null,
        "no-empty-source": null,
        "block-closing-brace-space-before": null
    }
}
