{
    "extends": "stylelint-config-standard",
    "ignoreFiles": "**/*.json",
    "rules": {
        "indentation": null,
        "selector-list-comma-newline-after": null,
        "max-empty-lines": 2,
        "selector-pseudo-element-colon-notation": null,
        "declaration-empty-line-before": null,
        "number-leading-zero": null,
        "block-opening-brace-space-before": null,
        "block-closing-brace-empty-line-before": null,
        "block-closing-brace-newline-before": null,
        "declaration-block-no-duplicate-properties": null,
        "selector-descendant-combinator-no-non-space": null,
        "block-opening-brace-newline-after": null,
        "property-no-unknown": null,
        "font-family-no-missing-generic-family-keyword": null,
        "rule-empty-line-before": null,
        "no-descending-specificity": null,
        "no-duplicate-selectors": null,
        "no-empty-source": null,
        "block-closing-brace-space-before": null
    }
}
