<div id="pivotgrid-demo">
  <div class="desc-container">
    Expand, filter, sort and perform other operations on&nbsp;the PivotGrid&rsquo;s columns and rows.
    <a onclick="window.location.reload()">Refresh</a>
    the web page and note that the PivotGrid&rsquo;s state is&nbsp;automatically persisted.
  </div>

  <dx-button
    text="Reset the PivotGrid's State"
    (onClick)="onResetButtonClick()"></dx-button>

  <dx-pivot-grid
    [allowSortingBySummary]="true"
    [allowSorting]="true"
    [allowExpandAll]="true"
    [allowFiltering]="true"
    [showBorders]="true"
    [height]="570"
    [dataSource]="pivotGridDataSource"
    (onContextMenuPreparing)="prepareContextMenu($event)">

    <dxo-field-panel [visible]="true"></dxo-field-panel>
    <dxo-field-chooser [enabled]="true"></dxo-field-chooser>

    <dxo-state-storing
      [enabled]="true"
      type="localStorage"
      storageKey="dx-widget-gallery-pivotgrid-storing">
    </dxo-state-storing>
  </dx-pivot-grid>
</div>