@use "../icons" as *;

@mixin invalid-dropdowneditor-input-padding(
  $invalid-badge-size,
  $texteditor-underlined-input-horizontal-padding,
  $texteditor-filled-input-horizontal-padding,
) {
  &.dx-dropdowneditor-button-visible {
    &.dx-editor-underlined {
      .dx-texteditor-input {
        padding-inline-end: $invalid-badge-size + $texteditor-underlined-input-horizontal-padding;
      }

      .dx-start-datebox {
        .dx-texteditor-input {
          padding-inline-end: $texteditor-underlined-input-horizontal-padding;
        }
      }

      .dx-timeview {
        .dx-texteditor-input {
          padding-inline-end: 0;
        }
      }
    }

    &.dx-editor-filled,
    &.dx-editor-outlined {
      .dx-texteditor-input {
        padding-inline-end: $invalid-badge-size + $texteditor-filled-input-horizontal-padding;
      }

      .dx-start-datebox {
        .dx-texteditor-input {
          padding-inline-end: $texteditor-filled-input-horizontal-padding;
        }
      }

      .dx-timeview {
        .dx-texteditor-input {
          padding-inline-end: 0;
        }
      }
    }
  }
}
