@use "sass:meta";
@use "../icon_fonts" as *;

@function badge-input-padding($invalid-badge-size, $input-horizontal-padding) {
  @if meta.type-of($invalid-badge-size) == number and meta.type-of($input-horizontal-padding) == number {
    @return $invalid-badge-size + $input-horizontal-padding;
  }

  @if $input-horizontal-padding == 0 {
    @return $invalid-badge-size;
  }

  @return calc(#{$invalid-badge-size} + #{$input-horizontal-padding});
}

@mixin invalid-dropdowneditor-input-padding(
  $invalid-badge-size,
  $texteditor-underlined-input-horizontal-padding,
  $texteditor-filled-input-horizontal-padding,
) {
  &.dx-dropdowneditor-button-visible {
    &.dx-editor-underlined {
      .dx-texteditor-input {
        padding-inline-end: badge-input-padding($invalid-badge-size, $texteditor-underlined-input-horizontal-padding);
      }

      .dx-start-datebox {
        .dx-texteditor-input {
          padding-inline-end: $texteditor-underlined-input-horizontal-padding;
        }
      }

      .dx-timeview {
        .dx-texteditor-input {
          padding-inline-end: 0;
        }
      }
    }

    &.dx-editor-filled,
    &.dx-editor-outlined {
      .dx-texteditor-input {
        padding-inline-end: badge-input-padding($invalid-badge-size, $texteditor-filled-input-horizontal-padding);
      }

      .dx-start-datebox {
        .dx-texteditor-input {
          padding-inline-end: $texteditor-filled-input-horizontal-padding;
        }
      }

      .dx-timeview {
        .dx-texteditor-input {
          padding-inline-end: 0;
        }
      }
    }
  }
}
