@GENERIC_MENU_POPUP_BORDER: 1px solid @menu-popup-border-color;

.dx-context-menu {
    color: @menu-color;

    .dx-submenu {
        background-color: @menu-popup-bg;
        border: @GENERIC_MENU_POPUP_BORDER;
        .box-shadow(0 2px 2px @menu-container-shadow-color);
    }

    .dx-menu-item-popout {
        .dx-icon-spinright;
        .dx-icon-font-centered-sizing(@GENERIC_BASE_ICON_SIZE);
    }

    .dx-menu-separator {
        background-color: @menu-separator-bg;
    }

    .dx-menu-no-icons > .dx-menu-item-wrapper > .dx-menu-item > .dx-menu-item-content .dx-menu-item-text {
        padding-left: @GENERIC_MENU_ITEM_PADDING_BASE;

        .dx-rtl &,
        .dx-rtl& {
            padding-right: @GENERIC_MENU_ITEM_PADDING_BASE;
            padding-left: @GENERIC_MENU_PADDING_BIG;
        }
    }

    &.dx-rtl {
        .dx-menu-item-content {
            padding: @GENERIC_MENU_ITEM_PADDING_BASE @GENERIC_MENU_ITEM_PADDING_REDUCED @GENERIC_MENU_ITEM_PADDING_BASE @GENERIC_MENU_ITEM_PADDING_BASE;

            .dx-menu-item-text {
                padding: 0 @GENERIC_MENU_ITEM_PADDING_BASE + @GENERIC_BASE_ICON_SIZE @GENERIC_MENU_ITEM_PADDING_BASE @GENERIC_MENU_PADDING_BIG;
            }
        }
    }
}
