@GENERIC_POPOVER_TOOLBAR_PADDING: 15px;

.dx-popover-wrapper {
    &.dx-position-bottom .dx-popover-arrow:after {
        background: @popover-arrow-bg;
    }

    .dx-popup-title {
        margin: 0;

        &.dx-toolbar {
            padding-left: @GENERIC_POPOVER_TOOLBAR_PADDING;
        }
    }

    .dx-popover-arrow:after,
    &.dx-popover-without-title .dx-popover-arrow:after {
        background: @overlay-content-bg;
    }

    .dx-rtl.dx-popup-title {
        &.dx-toolbar {
            padding-right: @GENERIC_POPOVER_TOOLBAR_PADDING;
            padding-left: 0;
        }
    }
}

.dx-popover-arrow:after {
    border: 1px solid @texteditor-border-color;
}
