.dx-scheduler-recurrence-rule-item.dx-label-v-align {
    .dx-recurrence-editor-container {
        padding-top: 17px;
    }
}

.dx-recurrence-editor-container {
    position: relative;
    margin-bottom: 21px;
}
