.dx-splitter {
    width: 4px;
    background-color: @splitter-bg;

    .dx-splitter-transparent {
        background-color: transparent;
    }
}

.dx-splitter-border {
    background-color: @splitter-border-color;
}
