@import (once) "./multiView.generic.less";
@import (once) "./tabs.generic.less";

@GENERIC_TABPANEL_INSET_SHADOW_LEFT: inset @GENERIC_TABS_BORDER_WIDTH 0 @tabs-border-color;
@GENERIC_TABPANEL_INSET_SHADOW_TOP: inset 0 @GENERIC_TABS_BORDER_WIDTH @tabs-border-color;
@GENERIC_TABPANEL_INSET_SHADOW_RIGHT: inset -@GENERIC_TABS_BORDER_WIDTH 0 @tabs-border-color;
@GENERIC_TABPANEL_INSET_SHADOW_BOTTOM: inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @tabs-border-color;

.tabpanel-shadow-mixin(@accent-color) {
    & > .dx-tabpanel-tabs {
        .dx-tabs {
            box-shadow: inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @accent-color, @GENERIC_TABPANEL_INSET_SHADOW_TOP, @GENERIC_TABPANEL_INSET_SHADOW_RIGHT, @GENERIC_TABPANEL_INSET_SHADOW_LEFT;
        }

        .dx-tab {
            box-shadow: @GENERIC_TABPANEL_INSET_SHADOW_TOP, inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @accent-color;

            &.dx-tab-selected {
                box-shadow: inset 0 @GENERIC_TABS_BORDER_WIDTH @accent-color, inset -@GENERIC_TABS_BORDER_WIDTH 0 @accent-color, inset @GENERIC_TABS_BORDER_WIDTH 0 @accent-color;
            }
        }

        .dx-tabs-expanded {
            .dx-tab:not(.dx-tab-selected) {
                &:first-of-type {
                    box-shadow: inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @accent-color, @GENERIC_TABPANEL_INSET_SHADOW_LEFT, @GENERIC_TABPANEL_INSET_SHADOW_TOP;

                    .dx-rtl&,
                    .dx-rtl & {
                        box-shadow: inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @accent-color, @GENERIC_TABPANEL_INSET_SHADOW_RIGHT, @GENERIC_TABPANEL_INSET_SHADOW_TOP;
                    }
                }
            }
        }

        .dx-tabs-stretched {
            .dx-tab:not(.dx-tab-selected) {
                &:last-of-type {
                    box-shadow: inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @accent-color, @GENERIC_TABPANEL_INSET_SHADOW_RIGHT, @GENERIC_TABPANEL_INSET_SHADOW_TOP;

                    .dx-rtl&,
                    .dx-rtl & {
                        box-shadow: inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @accent-color, @GENERIC_TABPANEL_INSET_SHADOW_LEFT, @GENERIC_TABPANEL_INSET_SHADOW_TOP;
                    }
                }
            }
        }

        .dx-tabs-nav-button-left {
            box-shadow: inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @accent-color, @GENERIC_TABPANEL_INSET_SHADOW_LEFT, @GENERIC_TABPANEL_INSET_SHADOW_TOP;
        }

        .dx-tabs-nav-button-right {
            box-shadow: inset 0 (-@GENERIC_TABS_BORDER_WIDTH) @accent-color, @GENERIC_TABPANEL_INSET_SHADOW_TOP, @GENERIC_TABPANEL_INSET_SHADOW_RIGHT;
        }
    }

    .dx-multiview-wrapper {
        border-color: @accent-color;
    }
}

.dx-multiview-wrapper {
    border: @GENERIC_TABS_BORDER;
}

.dx-tabpanel {
    .dx-tabs {
        display: block;
        border: none;
        background-color: @tabs-tab-bg;
    }

    .dx-tabs-scrollable {
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;

        .dx-tabs-wrapper {
            display: block;
            border: none;
        }
    }

    .dx-tab {
        width: 140px;

        &:after,
        &:before {
            content: none;
        }
    }

    &:not(.dx-empty-collection) {
        .dx-multiview-wrapper {
            border-top: none;
        }
    }

    .tabpanel-shadow-mixin(@tabs-border-color);

    &.dx-state-focused {
        .tabpanel-shadow-mixin(@tabs-focused-border-color);
    }
}
