.dx-textarea {
    height: auto;

    .dx-icon-clear {
        top: 0;
        margin-top: 0;
    }

    &.dx-invalid .dx-texteditor-container:after {
        top: @GENERIC_BASE_INLINE_BORDEREDWIDGET_TOP_PADDING;
        margin-top: 0;
    }
}
