<dx-tree-list
  id="employees"
  [dataSource]="employees"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [filterMode]="filterModeValue"
>
  <dxo-search-panel [visible]="true" text="Manager"></dxo-search-panel>

  <dxi-column
    dataField="Title"
    caption="Position"
    dataType="string"
  ></dxi-column>
  <dxi-column dataField="Full_Name" dataType="string"></dxi-column>
  <dxi-column dataField="City" dataType="string"></dxi-column>
  <dxi-column dataField="State" dataType="string"></dxi-column>
  <dxi-column dataField="Mobile_Phone" dataType="string"></dxi-column>
  <dxi-column dataField="Hire_Date" dataType="date"></dxi-column>
</dx-tree-list>

<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Filter Mode</span>
    <dx-select-box
      [items]="filterModes"
      [(value)]="filterModeValue"
      [inputAttr]="{ 'aria-label': 'Filter Mode' }"
    >
    </dx-select-box>
  </div>
</div>
