<div class="options">
  <div>Position by</div>
  <dx-radio-group
    layout="horizontal"
    [items]="['alias', 'coordinates']"
    value="alias"
    (onValueChanged)="radioGroupValueChanged($event)"
  >
  </dx-radio-group>
  <dx-select-box
    [items]="positions"
    [(value)]="aliasPosition"
    [visible]="isAlias"
  >
  </dx-select-box>
  <div class="section">
    <dx-number-box
      [visible]="!isAlias"
      placeholder="top"
      [(value)]="coordinatePosition.top"
      width="48%"
      valueChangeEvent="keyup"
      [disabled]="!!coordinatePosition.bottom"
    >
    </dx-number-box>
    <dx-number-box
      [visible]="!isAlias"
      placeholder="bottom"
      [(value)]="coordinatePosition.bottom"
      width="48%"
      valueChangeEvent="keyup"
      [disabled]="!!coordinatePosition.top"
    >
    </dx-number-box>
  </div>
  <div class="section">
    <dx-number-box
      [visible]="!isAlias"
      placeholder="left"
      [(value)]="coordinatePosition.left"
      width="48%"
      valueChangeEvent="keyup"
      [disabled]="!!coordinatePosition.right"
    >
    </dx-number-box>
    <dx-number-box
      [visible]="!isAlias"
      placeholder="right"
      [(value)]="coordinatePosition.right"
      width="48%"
      valueChangeEvent="keyup"
      [disabled]="!!coordinatePosition.left"
    >
    </dx-number-box>
  </div>
  <div>Direction</div>
  <dx-select-box [items]="directions" [(value)]="direction"> </dx-select-box>
  <div class="section">
    <dx-button
      text="Show"
      width="48%"
      (onClick)="showNotify($event)"
    ></dx-button>
    <dx-button
      text="Hide all"
      width="48%"
      (onClick)="hideAll($event)"
    ></dx-button>
  </div>
</div>
