@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$chat-background-color: $base-bg !default;
$chat-border-color: $base-border-color !default;
$chat-avatar-color: null !default;
$chat-messagebox-border-color: $base-border-color !default;
$chat-avatar-background-color: $base-border-color !default;
$chat-bubble-color-primary: null !default;
$chat-bubble-background-color-primary: null !default;
$chat-bubble-background-color-secondary: null !default;
$chat-information-color: null !default;

$chat-messagelist-empty-icon-color: null !default;
$chat-messagelist-empty-icon-background-color: null !default;
$chat-messagelist-empty-message-color: null !default;
$chat-messagelist-empty-prompt-color: null !default;

@if $color == "light" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: darken($base-element-bg, 4%) !default;
  $chat-information-color: darken($base-bg, 41.57) !default;

  $chat-messagelist-empty-icon-color: lighten($base-icon-color, 46.67) !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: darken($base-text-color, 6.67) !default;
  $chat-messagelist-empty-prompt-color: lighten($base-label-color, 38.43) !default;
}

@if $color == "dark" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: lighten($base-element-bg, 4%) !default;
  $chat-information-color: lighten($base-bg, 32.55) !default;

  $chat-messagelist-empty-icon-color: darken($base-icon-color, 37.25) !default;
  $chat-messagelist-empty-icon-background-color: lighten($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: lighten($base-text-color, 12.94) !default;
  $chat-messagelist-empty-prompt-color: darken($base-label-color, 38.04) !default;
}

@if $color == "carmine" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: darken($base-element-bg, 4%) !default;
  $chat-information-color: darken($base-bg, 41.57) !default;

  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;
}

@if $color == "contrast" {
  $chat-avatar-color: $base-inverted-text-color !default;
  $chat-bubble-color-primary: $base-inverted-text-color !default;
  $chat-bubble-background-color-primary: $base-inverted-bg !default;
  $chat-bubble-background-color-secondary: $base-hover-color !default;
  $chat-information-color: $base-text-color !default;

  $chat-messagelist-empty-icon-color: $base-bg !default;
  $chat-messagelist-empty-icon-background-color: $base-inverted-bg !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-text-color !default;
}

@if $color == "darkmoon" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: lighten($base-element-bg, 4%) !default;
  $chat-information-color: lighten($base-bg, 32.55) !default;

  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;
}

@if $color == "darkviolet" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: lighten($base-element-bg, 4%) !default;
  $chat-information-color: lighten($base-bg, 32.55) !default;

  $chat-messagelist-empty-icon-color: darken($base-icon-color, 37.25) !default;
  $chat-messagelist-empty-icon-background-color: lighten($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: lighten($base-text-color, 12.94) !default;
  $chat-messagelist-empty-prompt-color: darken($base-label-color, 38.04) !default;
}

@if $color == "greenmist" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: darken($base-element-bg, 4%) !default;
  $chat-information-color: darken($base-bg, 41.57) !default;

  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;
}

@if $color == "softblue" {
  $chat-avatar-color: $base-text-color !default;
  $chat-bubble-color-primary: $base-text-color !default;
  $chat-bubble-background-color-primary: color.change(darken($base-accent, 5%), $alpha: 0.1) !default;
  $chat-bubble-background-color-secondary: darken($base-element-bg, 4%) !default;
  $chat-information-color: darken($base-bg, 41.57) !default;

  $chat-messagelist-empty-icon-color: $base-icon-color !default;
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 7.84) !default;
  $chat-messagelist-empty-message-color: $base-text-color !default;
  $chat-messagelist-empty-prompt-color: $base-label-color !default;
}
