::ng-deep .demo-container .dx-fieldset:first-child {
  width: 500px;
}

.custom-color-picker {
  width: 82px;
  padding: 5px;
}

.color {
  cursor: pointer;
  font-size: 18px;
}

.text-container {
  padding-inline-start: 12px;
  padding-inline-end: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.button-img-container {
  position: relative;
  height: 32px;
}

.button-img {
  width: 32px;
  height: 32px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--dx-color-border);
  border-radius: 50%;
}

.button-img-indicator {
  position: absolute;
  background-color: var(--dx-color-danger);
  top: -1px;
  inset-inline-end: -1px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: var(--dx-color-main-bg);
  z-index: 1;
}

.button-title {
  line-height: 20px;
}

.button-row {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
}

::ng-deep #custom-template .dx-button {
  height: 46px;
}

::ng-deep #custom-template .dx-button.dx-dropdownbutton-action .dx-button-content {
  padding-inline-start: 12px;
  padding-inline-end: 12px;
}
