<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [showBorders]="true"
  [remoteOperations]="true"
>
  <dxi-data-grid-column dataField="OrderNumber" dataType="number"> </dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderDate" dataType="date"> </dxi-data-grid-column>
  <dxi-data-grid-column dataField="StoreCity" dataType="string"> </dxi-data-grid-column>
  <dxi-data-grid-column dataField="StoreState" dataType="string"> </dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee" dataType="string"> </dxi-data-grid-column>
  <dxi-data-grid-column dataField="SaleAmount" dataType="number" format="currency">
  </dxi-data-grid-column>
  <dxo-data-grid-paging [pageSize]="12"></dxo-data-grid-paging>
  <dxo-data-grid-pager
    [visible]="true"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[8, 12, 20]"
  ></dxo-data-grid-pager>
</dx-data-grid>
