{
    "env": {
        "node": true,
        "browser": true,
        "jquery": true
    },
    "globals": {
        "test": true,
        "fixture": true
    },
    "extends": ["devextreme/testcafe"]
}
