<div id="list-demo">
  <div class="widget-container">
    <dx-list
      #list
      [dataSource]="tasks"
      [height]="400"
      [selectionMode]="selectionModeValue"
      [selectAllMode]="selectAllModeValue"
      [showSelectionControls]="true"
      [selectedItemKeys]="[]"
      [selectByClick]="selectByClick"
    ></dx-list>
    <div class="selected-data">
      <span class="caption">Selected IDs: </span>
      <span>{{ list.selectedItemKeys.join(", ") }}</span>
    </div>
  </div>
  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <span>Selection Mode</span>
      <dx-select-box
        [items]="['none', 'single', 'multiple', 'all']"
        [(value)]="selectionModeValue"
        [inputAttr]="{ 'aria-label': 'Selection Mode' }"
      >
      </dx-select-box>
    </div>
    <div class="option">
      <span>Select All Mode</span>
      <dx-select-box
        [disabled]="selectionModeValue !== 'all'"
        [items]="['page', 'allPages']"
        [inputAttr]="{ 'aria-label': 'Select All Mode' }"
        [(value)]="selectAllModeValue"
      >
      </dx-select-box>
    </div>
    <div class="option">
      <span>Select By Click</span>
      <dx-check-box [(value)]="selectByClick"></dx-check-box>
    </div>
  </div>
</div>
