<dx-chart
  id="chart"
  title="Daily Sales"
  dataSource="../../../../data/simpleJSON.json"
  [rotated]="true"
>
  <dxi-chart-series color="#79cac4" type="bar" argumentField="day" valueField="sales">
    <dxo-chart-label [visible]="true" backgroundColor="#c18e92"></dxo-chart-label>
  </dxi-chart-series>
  <dxo-chart-argument-axis>
    <dxo-chart-label [customizeText]="customizeText"></dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxi-chart-value-axis>
    <dxo-chart-tick [visible]="false"></dxo-chart-tick>
    <dxo-chart-label [visible]="false"></dxo-chart-label>
  </dxi-chart-value-axis>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
</dx-chart>
