<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  [keyExpr]="'ID'"
  [width]="'100%'"
  [showBorders]="true"
  (onExporting)="onExporting($event)"
>
  <dxo-data-grid-group-panel [visible]="true"></dxo-data-grid-group-panel>
  <dxo-data-grid-grouping [autoExpandAll]="true"></dxo-data-grid-grouping>
  <dxo-data-grid-selection mode="multiple"></dxo-data-grid-selection>

  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="State" [groupIndex]="0"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" [width]="130"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" dataType="date" [width]="100"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="HireDate" dataType="date" [width]="100"></dxi-data-grid-column>

  <dxo-data-grid-export [enabled]="true" [allowExportSelectedData]="true"></dxo-data-grid-export>
</dx-data-grid>
