<div class="form">
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">Default Mode</div>
        <div class="dx-field">
            <div class="dx-field-label">First Name</div>
            <div class="dx-field-value">
                <dx-autocomplete
                    placeholder="Type first name..."
                    [(value)]="firstName"
                    [dataSource]="names"
                    (onValueChanged)="updateEmployeeInfo($event)">
                </dx-autocomplete>
            </div>
        </div>
    </div>
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">With Clear Button</div>
        <div class="dx-field">
            <div class="dx-field-label">Last Name</div>
            <div class="dx-field-value">
                <dx-autocomplete
                    placeholder="Type last name..."
                    [showClearButton]="true"
                    [dataSource]="surnames"
                    [(value)]="lastName"
                    (onValueChanged)="updateEmployeeInfo($event)">
                </dx-autocomplete>
            </div>
        </div>
    </div>
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">Disabled</div>
        <div class="dx-field">
            <div class="dx-field-label">Position</div>
                <div class="dx-field-value">
                <dx-autocomplete
                    [disabled]="true"
                    [value]="position"
                    [dataSource]="positions">                   
                </dx-autocomplete>
            </div>
        </div>
    </div>
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">With Custom Search Options</div>
        <div class="dx-field">
            <div class="dx-field-label">City</div>
            <div class="dx-field-value">
                <dx-autocomplete #cityd
                    placeholder="Type two symbols to search..."
                    [minSearchLength]="2"
                    [searchTimeout]="500"
                    [dataSource]="cities"
                    [(value)]="city"
                    (onValueChanged)="updateEmployeeInfo($event)">
                </dx-autocomplete>
            </div>
        </div>
    </div>
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">Custom Item Template and Data Source Usage</div>
        <div class="dx-field">
            <div class="dx-field-label">State</div>
            <div class="dx-field-value">
                <dx-autocomplete
                    placeholder="Type state name..."
                    valueExpr="State_Long"
                    [dataSource]="states"
                    [(value)]="state"
                    (onValueChanged)="updateEmployeeInfo($event)">
                    <div *dxTemplate="let item of 'item'">
                        <span>{{item.State_Long}} ({{item.State_Short}})</span>
                    </div>
                </dx-autocomplete>
            </div>
        </div>
    </div>
    <div class="dx-fieldset">
        <div class="dx-fieldset-header">Event Handling</div>
        <div class="employees-data">
            Employee data: <span>{{fullInfo}}</span>
        </div>
    </div>
</div>