<dx-chart
  id="chart"
  [dataSource]="populationData"
  [rotated]="true"
  [barGroupWidth]="18"
  title="Population Pyramid For Norway 2024"
>
  <dxo-chart-common-series-settings argumentField="age" type="stackedbar">
  </dxo-chart-common-series-settings>
  <dxi-chart-series valueField="male" name="Male" color="#3F7FBF">
  </dxi-chart-series>
  <dxi-chart-series valueField="female" name="Female" color="#F87CCC">
  </dxi-chart-series>
  <dxo-chart-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
  </dxo-chart-tooltip>
  <dxi-chart-value-axis>
    <dxo-chart-label [customizeText]="customizeLabel"></dxo-chart-label>
  </dxi-chart-value-axis>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
    <dxo-chart-margin [left]="50"></dxo-chart-margin>
  </dxo-chart-legend>
</dx-chart>
