<div id="tree-list-demo">
  <dx-tree-list
    id="tasks"
    [dataSource]="tasksData"
    keyExpr="Task_ID"
    parentIdExpr="Task_Parent_ID"
    [columnAutoWidth]="true"
    [wordWrapEnabled]="true"
    [showBorders]="true"
    (onInitNewRow)="initNewRow($event)"
  >
    <dxo-tree-list-editing
      mode="cell"
      [allowAdding]="true"
      [allowUpdating]="true"
      [allowDeleting]="true"
    >
    </dxo-tree-list-editing>

    <dxi-tree-list-column dataField="Task_Subject" [minWidth]="250">
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column
      dataField="Task_Assigned_Employee_ID"
      caption="Assigned"
      [minWidth]="120"
    >
      <dxo-tree-list-lookup
        [dataSource]="employeesData"
        valueExpr="ID"
        displayExpr="Name"
      ></dxo-tree-list-lookup>
      <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
    </dxi-tree-list-column>
    <dxi-tree-list-column dataField="Task_Status" caption="Status" [minWidth]="120">
      <dxo-tree-list-lookup [dataSource]="statusesData"></dxo-tree-list-lookup>
    </dxi-tree-list-column>
    <dxi-tree-list-column
      dataField="Task_Start_Date"
      caption="Start Date"
      dataType="date"
    ></dxi-tree-list-column>
    <dxi-tree-list-column
      dataField="Task_Due_Date"
      caption="Due Date"
      dataType="date"
    ></dxi-tree-list-column>
  </dx-tree-list>
</div>
