<dx-gantt
    taskListWidth="500"
    scaleType="weeks"
    height="700"
    [rootValue]="-1">

    <dxo-tasks [dataSource]="tasks"></dxo-tasks>
    <dxo-dependencies [dataSource]="dependencies"></dxo-dependencies>
    <dxo-resources [dataSource]="resources"></dxo-resources>
    <dxo-resource-assignments [dataSource]="resourceAssignments"></dxo-resource-assignments>

    <dxi-column dataField="title" caption="Subject" [width]="300"></dxi-column>
    <dxi-column dataField="start" caption="Start Date" dataType="date"></dxi-column>
    <dxi-column dataField="end" caption="End Date" dataType="date"></dxi-column>

    <dxo-editing [enabled]="true"></dxo-editing>
</dx-gantt>
