<div class="form">
  <h4>Employees</h4>
  <dx-tree-view
    id="treeview"
    [items]="employees"
    [width]="340"
    [height]="320"
    [showCheckBoxesMode]="checkboxVisibility"
    [selectionMode]="selectionMode"
    [disabledNodeSelectionMode]="disabledNodeSelectionMode"
    [selectNodesRecursive]="recursiveSelection"
    [selectByClick]="selectOnClick"
    (onSelectionChanged)="treeViewSelectionChanged($event)"
    (onContentReady)="treeViewContentReady($event)"
  >
    <div *dxTemplate="let item of 'item'">
      {{ item.fullName + " (" + item.position + ")" }}
    </div>
  </dx-tree-view>
  <div class="selected-container">
    Selected employees
    <dx-list
      id="selected-employees"
      [width]="400"
      [height]="200"
      [items]="selectedEmployees"
      showScrollbar="always"
    >
      <div *dxTemplate="let item of 'item'">
        {{ item.prefix + " " + item.fullName + " (" + item.position + ")" }}
      </div>
    </dx-list>
  </div>
</div>

<div class="options">
  <div class="caption">Options</div>
  <div class="options-container">
    <div class="options-section">
      <div class="option">
        <span>Checkbox Visibility:</span>
        <div class="editor-container">
          <dx-select-box
            [items]="checkboxVisibilityOptions"
            [inputAttr]="{ 'aria-label': 'Checkbox Visibility' }"
            [value]="checkboxVisibility"
            (onValueChanged)="checkboxVisibilityValueChanged($event)"
          ></dx-select-box>
        </div>
      </div>
      <div class="option">
        <span>Selection Mode:</span>
        <div class="editor-container">
          <dx-select-box
            [items]="selectionModes"
            [value]="selectionMode"
            [inputAttr]="{ 'aria-label': 'Selection Mode' }"
            [disabled]="isSelectionModeDisabled"
            (onValueChanged)="selectionModeValueChanged($event)"
          ></dx-select-box>
        </div>
      </div>
      <div class="option">
        <span>Disabled Node Selection Mode:</span>
        <div class="editor-container">
          <dx-select-box
            [items]="disabledNodeSelectionModes"
            [value]="disabledNodeSelectionMode"
            [inputAttr]="{ 'aria-label': 'Disabled Node Selection Mode' }"
            (onValueChanged)="disabledNodeSelectionModeValueChanged($event)"
          ></dx-select-box>
        </div>
      </div>
    </div>
    <div class="options-section">
      <div class="option">
        <div class="caption-placeholder">&nbsp;</div>
        <div class="editor-container">
          <dx-check-box
            text="Recursive Selection"
            [disabled]="isRecursiveDisabled"
            [(value)]="recursiveSelection"
          ></dx-check-box>
        </div>
      </div>
      <div class="option">
        <div class="caption-placeholder">&nbsp;</div>
        <div class="editor-container">
          <dx-check-box
            text="Select on Click"
            [(value)]="selectOnClick"
          ></dx-check-box>
        </div>
      </div>
    </div>
  </div>
</div>
