@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse
$clock-digits-color: null !default;

@if $mode == "light" {
  $clock-digits-color: $base-text-color !default;
}

@if $mode == "dark" {
  $clock-digits-color: $base-text-color !default;
}
