<div id="descContainer">Sort and filter data, group, reorder and resize columns, change page numbers and page size. Once you are done, <a (click)="onRefreshClick()">refresh</a> the web page to see that the grid’s state is automatically persisted to continue working from where you stopped or you can <a (click)="onStateResetClick()">reset</a> the grid to its initial state.</div>
<dx-data-grid id="gridContainer" #dataGrid
    [dataSource]="orders"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
    [showBorders]="true"
    keyExpr="ID">

    <dxo-selection mode="single"></dxo-selection>
    <dxo-filter-row [visible]="true"></dxo-filter-row>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-state-storing [enabled]="true" type="localStorage" storageKey="storage"></dxo-state-storing>
    <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 20]"></dxo-pager>

    <dxi-column dataField="OrderNumber" [width]="130" caption="Invoice Number"></dxi-column>
    <dxi-column dataField="OrderDate" sortOrder="desc" dataType="date"></dxi-column>
    <dxi-column dataField="SaleAmount" alignment="right" format="currency"></dxi-column>
    <dxi-column dataField="Employee"></dxi-column>
    <dxi-column dataField="CustomerStoreCity" caption="City"></dxi-column>
    <dxi-column dataField="CustomerStoreState" caption="State" [groupIndex]="0"></dxi-column>

</dx-data-grid>