<dx-chart
  id="chart"
  palette="violet"
  title="Annual Inflation Rate in 2024 and 2025"
  [dataSource]="inflationData"
>
  <dxo-chart-common-series-settings
    argumentField="date"
    type="rangeArea"
  ></dxo-chart-common-series-settings>
  <dxi-chart-value-axis
    [tickInterval]="0.5"
    [valueMarginsEnabled]="false"
    [visualRange]="{ startValue: 0.5, endValue: 4 }"
  >
    <dxo-chart-label [customizeText]="customizeValueAxisText">
      <dxo-chart-format type="fixedPoint" [precision]="2"></dxo-chart-format>
    </dxo-chart-label>
  </dxi-chart-value-axis>
  <dxo-chart-argument-axis [valueMarginsEnabled]="false">
    <dxo-chart-label format="month"></dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  <dxi-chart-series
    rangeValue1Field="val2024"
    rangeValue2Field="val2025"
    name="2024 - 2025"
  ></dxi-chart-series>
</dx-chart>
