::ng-deep .low .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
    background: gray;
}
::ng-deep .normal .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
    background: green;
}
::ng-deep .urgent .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
    background: orange;
}
::ng-deep .high .dx-radiobutton-checked .dx-radiobutton-icon .dx-radiobutton-icon-dot {
    background: red;
}
::ng-deep #radio-group-with-selection {
    margin-bottom: 10px;
}
::ng-deep #tasks-list {
    margin: 0 0 10px 10px;
    white-space: normal;
}
::ng-deep #list {
    margin: 10px 0 0 20px;
    padding-left: 0;
    text-align: left;
}