<dx-data-grid id="gridContainer"
        [dataSource]="dataSource"
        [showBorders]="true">
    <dxi-column
        dataField="Product_ID"
    ></dxi-column>
    <dxi-column
        dataField="Product_Name"
        [width]="250"
    ></dxi-column>
    <dxi-column
        dataField="Product_Cost"
        caption="Cost"
        dataType="number"
        format="currency"
    ></dxi-column>
    <dxi-column
        dataField="Product_Sale_Price"
        caption="Sale Price"
        dataType="number"
        format="currency"
    ></dxi-column>
    <dxi-column
        dataField="Product_Retail_Price"
        caption="Retail Price"
        dataType="number"
        format="currency"
    ></dxi-column>
    <dxi-column
        dataField="Product_Current_Inventory"
        caption="Inventory"
    ></dxi-column>
</dx-data-grid>