<dx-card-view
  id="cardView"
  [dataSource]="houses"
  keyExpr="ID"
  cardsPerRow="auto"
  [cardMinWidth]="350"
  [wordWrapEnabled]="true"
>
  <dxo-card-view-sorting mode="multiple"></dxo-card-view-sorting>
  <dxo-card-view-card-cover
    [imageExpr]="imageExpr"
    [altExpr]="altExpr"
  ></dxo-card-view-card-cover>
  <dxi-card-view-column dataField="Address"></dxi-card-view-column>
  <dxi-card-view-column
    dataField="Price"
    format="currency"
    sortOrder="asc"
  ></dxi-card-view-column>
  <dxi-card-view-column dataField="HouseSize"></dxi-card-view-column>
  <dxi-card-view-column dataField="Baths"></dxi-card-view-column>
  <dxi-card-view-column
    dataField="Beds"
    sortOrder="desc"
  ></dxi-card-view-column>
</dx-card-view>
