<div class="form">
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Default mode</div>
      <div class="dx-field-value">
        <dx-range-slider
          [min]="0"
          [max]="100"
          [start]="20"
          [end]="60"
        ></dx-range-slider>
      </div>
    </div>
    <div class="dx-field custom-height-slider">
      <div class="dx-field-label">With labels</div>
      <div class="dx-field-value">
        <dx-range-slider
          [min]="0"
          [max]="100"
          [start]="35"
          [end]="65"
          [label]="label"
        ></dx-range-slider>
      </div>
    </div>
    <div class="dx-field custom-height-slider">
      <div class="dx-field-label">With tooltips</div>
      <div class="dx-field-value">
        <dx-range-slider
          [min]="0"
          [max]="100"
          [start]="15"
          [end]="65"
          [tooltip]="tooltip"
        ></dx-range-slider>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Without range highlighting</div>
      <div class="dx-field-value">
        <dx-range-slider
          [min]="0"
          [max]="100"
          [start]="20"
          [end]="80"
          [showRange]="false"
        ></dx-range-slider>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">With discrete step</div>
      <div class="dx-field-value">
        <dx-range-slider
          [min]="0"
          [max]="100"
          [start]="20"
          [end]="70"
          [step]="10"
          [tooltip]="tooltipEnabled"
        ></dx-range-slider>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Disabled</div>
      <div class="dx-field-value">
        <dx-range-slider
          [min]="0"
          [max]="100"
          [start]="25"
          [end]="75"
          [disabled]="true"
        ></dx-range-slider>
      </div>
    </div>
  </div>
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Process Value Changes</div>
    <div class="dx-field">
      <div class="dx-field-label">On handle movement</div>
      <div class="dx-field-value">
        <dx-range-slider
          [(start)]="start"
          [(end)]="end"
          [min]="0"
          [max]="100"
        ></dx-range-slider>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">On handle release</div>
      <div class="dx-field-value">
        <dx-range-slider
          [(start)]="start"
          [(end)]="end"
          [min]="0"
          [max]="100"
          valueChangeMode="onHandleRelease"
        ></dx-range-slider>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Start value</div>
      <div class="dx-field-value">
        <dx-number-box
          [(value)]="start"
          [min]="0"
          [max]="100"
          [showSpinButtons]="true"
          [inputAttr]="{ 'aria-label': 'Start Value' }"
        ></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">End value</div>
      <div class="dx-field-value">
        <dx-number-box
          [(value)]="end"
          [min]="0"
          [max]="100"
          [showSpinButtons]="true"
          [inputAttr]="{ 'aria-label': 'End Value' }"
        ></dx-number-box>
      </div>
    </div>
  </div>
</div>
