<div id="list-demo">
  <div class="widget-container">
    <dx-list [dataSource]="plannedTasks" keyExpr="id">
      <dxo-item-dragging
        group="tasks"
        [data]="plannedTasks"
        [allowReordering]="true"
        [onDragStart]="onDragStart"
        [onAdd]="onAdd"
        [onRemove]="onRemove"
      >
      </dxo-item-dragging>
    </dx-list>
    <dx-list [dataSource]="doingTasks" keyExpr="id">
      <dxo-item-dragging
        group="tasks"
        [data]="doingTasks"
        [allowReordering]="true"
        [onDragStart]="onDragStart"
        [onAdd]="onAdd"
        [onRemove]="onRemove"
      >
      </dxo-item-dragging>
    </dx-list>
  </div>
</div>
