@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Tab text color
* $type color
*/
$navbar-tab-color: $base-text-color !default;


/**
* $name 20. Selected tab text color
* $type color
*/
$navbar-tab-selected-color: $base-text-color !default;

/**
* $name 30. Tab background color
* $type color
*/
$navbar-tab-bg: darken($base-bg, 3%) !default;


/**
* $name 40. Selected tab background color
* $type color
*/
$navbar-tab-selected-bg: $base-bg !default;
$navbar-tab-focused-border-color: $base-focus-bg !default;
