<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [dataSource]="dataSource"
    keyExpr="ID"
    [showBorders]="true"
  >
    <dxo-data-grid-paging [enabled]="false"></dxo-data-grid-paging>
    <dxo-data-grid-editing
      mode="popup"
      [allowUpdating]="true"
      [allowAdding]="true"
      [allowDeleting]="true"
    >
      <dxo-data-grid-popup
        title="Employee Info"
        [showTitle]="true"
        [width]="700"
        [height]="525"
      >
      </dxo-data-grid-popup>
      <dxo-data-grid-form>
        <dxi-data-grid-item itemType="group" [colCount]="2" [colSpan]="2">
          <dxi-data-grid-item dataField="FirstName"></dxi-data-grid-item>
          <dxi-data-grid-item dataField="LastName"></dxi-data-grid-item>
          <dxi-data-grid-item dataField="Prefix"></dxi-data-grid-item>
          <dxi-data-grid-item dataField="BirthDate"></dxi-data-grid-item>
          <dxi-data-grid-item dataField="Position"></dxi-data-grid-item>
          <dxi-data-grid-item dataField="HireDate"></dxi-data-grid-item>
          <dxi-data-grid-item
            dataField="Notes"
            editorType="dxTextArea"
            [colSpan]="2"
            [editorOptions]="{ height: 100 }"
          >
          </dxi-data-grid-item>
        </dxi-data-grid-item>

        <dxi-data-grid-item
          itemType="group"
          caption="Home Address"
          [colCount]="2"
          [colSpan]="2"
        >
          <dxi-data-grid-item dataField="StateID"></dxi-data-grid-item>
          <dxi-data-grid-item dataField="Address"></dxi-data-grid-item>
        </dxi-data-grid-item>
      </dxo-data-grid-form>
    </dxo-data-grid-editing>

    <dxi-data-grid-column dataField="Prefix" caption="Title" [width]="70"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="BirthDate" dataType="date"> </dxi-data-grid-column>
    <dxi-data-grid-column dataField="Position" [width]="170"> </dxi-data-grid-column>
    <dxi-data-grid-column dataField="HireDate" dataType="date"> </dxi-data-grid-column>
    <dxi-data-grid-column dataField="StateID" caption="State" [width]="125">
      <dxo-data-grid-lookup [dataSource]="states" displayExpr="Name" valueExpr="ID">
      </dxo-data-grid-lookup>
    </dxi-data-grid-column>
    <dxi-data-grid-column dataField="Address" [visible]="false"> </dxi-data-grid-column>
    <dxi-data-grid-column dataField="Notes" [visible]="false"> </dxi-data-grid-column>
  </dx-data-grid>
</div>
