@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 80. Search icon color
* $type color
*/
$textbox-search-icon-color: null !default;


@if $color == "carmine" {
  $textbox-search-icon-color: lighten($base-icon-color, 3%) !default;
}

@if $color == "contrast" {
  $textbox-search-icon-color: $base-icon-color !default;
}

@if $color == "dark" {
  $textbox-search-icon-color: darken($base-icon-color, 40%) !default;
}

@if $color == "darkmoon" {
  $textbox-search-icon-color: $base-icon-color !default;
}

@if $color == "darkviolet" {
  $textbox-search-icon-color: darken($base-icon-color, 40%) !default;
}

@if $color == "greenmist" {
  $textbox-search-icon-color: $base-icon-color !default;
}

@if $color == "light" {
  $textbox-search-icon-color: lighten($base-icon-color, 40%) !default;
}

@if $color == "softblue" {
  $textbox-search-icon-color: $base-icon-color !default;
}

