<div id="chart-demo">
  <dx-chart
    [dataSource]="chartDataSource"
    title="Temperature in Seattle, 2025"
    [valueAxis]="{
      valueType: 'numeric',
      grid: {
        opacity: 0.2
      },
      label: {
        customizeText: customizeText
      }
    }"
  >
    <dxo-chart-size [height]="420"></dxo-chart-size>
    <dxi-chart-series
      argumentField="Date"
      valueField="Temperature"
      type="spline"
    ></dxi-chart-series>
    <dxo-chart-legend [visible]="false"></dxo-chart-legend>
    <dxo-chart-common-pane-settings>
      <dxo-chart-border
        [visible]="true"
        [width]="2"
        [top]="false"
        [right]="false"
      ></dxo-chart-border>
    </dxo-chart-common-pane-settings>
    <dxo-chart-export [enabled]="true"></dxo-chart-export>
    <dxo-chart-tooltip
      [enabled]="true"
      [customizeTooltip]="customizeTooltip"
    ></dxo-chart-tooltip>
    <dxo-chart-argument-axis type="discrete">
      <dxo-chart-grid [visible]="true" [opacity]="0.5"></dxo-chart-grid>
      <dxo-chart-label
        [customizeText]="customizeArgumentAxisText"
      ></dxo-chart-label>
    </dxo-chart-argument-axis>
    <dxo-chart-loading-indicator [enabled]="true"></dxo-chart-loading-indicator>
  </dx-chart>
  <div class="action">
    <div class="label">Choose a month:</div>
    <dx-select-box
      id="selectbox"
      [items]="months"
      [width]="150"
      [inputAttr]="{ 'aria-label': 'Month' }"
      [value]="selectedMonth"
      valueExpr="id"
      displayExpr="name"
      (onValueChanged)="onValueChanged($event)"
    ></dx-select-box>
  </div>
</div>
