.options{padding:20px;background-color:#bfbfbf26;position:absolute;right:0;top:0;width:260px;display:flex;flex-direction:column;gap:5px}.section{width:100%;display:flex;justify-content:space-between}
