<dx-data-grid
  #grid
  id="gridContainer"
  [dataSource]="employees"
  keyExpr="ID"
  [hoverStateEnabled]="true"
  [showBorders]="true"
  [selectedRowKeys]="[]"
>
  <dxo-data-grid-selection mode="single"></dxo-data-grid-selection>
  <dxi-data-grid-column dataField="Prefix" caption="Title" [width]="70"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" [width]="180"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="HireDate" dataType="date"></dxi-data-grid-column>
</dx-data-grid>
<div id="employeeInfo" *ngIf="grid.selectedRowKeys.length">
  <img
    class="employeePhoto"
    [src]="grid.instance.getSelectedRowsData()[0].Picture"
    alt="Employee photo"
  />
  <p class="employeeNotes">{{
    grid.instance.getSelectedRowsData()[0].Notes
  }}</p>
</div>
