<div class="long-title">
  <h3>Current Price (with Min and Max)</h3>
</div>
<div id="gauge-demo">
  <dx-linear-gauge id="c1" [value]="24" [subvalues]="[18, 43]">
    <dxo-linear-gauge-subvalue-indicator type="rectangle" color="#9B870C">
    </dxo-linear-gauge-subvalue-indicator>
    <dxo-linear-gauge-scale [startValue]="10" [endValue]="50" [tickInterval]="10">
      <dxo-linear-gauge-label [customizeText]="customizeText"></dxo-linear-gauge-label>
    </dxo-linear-gauge-scale>
  </dx-linear-gauge>

  <dx-linear-gauge id="c2" [value]="38" [subvalues]="[18, 43]">
    <dxo-linear-gauge-subvalue-indicator type="rhombus" color="#779ECB">
    </dxo-linear-gauge-subvalue-indicator>
    <dxo-linear-gauge-scale [startValue]="10" [endValue]="50" [tickInterval]="10">
      <dxo-linear-gauge-label [customizeText]="customizeText"></dxo-linear-gauge-label>
    </dxo-linear-gauge-scale>
  </dx-linear-gauge>

  <dx-linear-gauge id="c3" [value]="21" [subvalues]="[18, 43]">
    <dxo-linear-gauge-subvalue-indicator type="circle" color="#8FBC8F">
    </dxo-linear-gauge-subvalue-indicator>
    <dxo-linear-gauge-scale [startValue]="10" [endValue]="50" [tickInterval]="10">
      <dxo-linear-gauge-label [customizeText]="customizeText"></dxo-linear-gauge-label>
    </dxo-linear-gauge-scale>
  </dx-linear-gauge>

  <dx-linear-gauge id="c4" [value]="42" [subvalues]="[18, 43]">
    <dxo-linear-gauge-subvalue-indicator type="textCloud" color="#734F96">
    </dxo-linear-gauge-subvalue-indicator>
    <dxo-linear-gauge-scale [startValue]="10" [endValue]="50" [tickInterval]="10">
      <dxo-linear-gauge-label [customizeText]="customizeText"></dxo-linear-gauge-label>
    </dxo-linear-gauge-scale>
  </dx-linear-gauge>

  <dx-linear-gauge id="c5" [value]="28" [subvalues]="[18, 43]">
    <dxo-linear-gauge-subvalue-indicator type="triangleMarker" color="#f05b41">
    </dxo-linear-gauge-subvalue-indicator>
    <dxo-linear-gauge-scale [startValue]="10" [endValue]="50" [tickInterval]="10">
      <dxo-linear-gauge-label [customizeText]="customizeText"></dxo-linear-gauge-label>
    </dxo-linear-gauge-scale>
  </dx-linear-gauge>
</div>
