@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse


$timeview-clock-bg: null !default;
$timeview-hourarrow-bg: null !default;
$timeview-minutearrow-bg: null !default;


@if $color == "carmine" {

  $timeview-clock-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/clock-bg.svg') !default;
  $timeview-hourarrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/hour-arrow.svg') !default;
  $timeview-minutearrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/min-arrow.svg') !default;
}

@if $color == "contrast" {

  $timeview-clock-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/contrast/timeView/clock-bg.svg') !default;
  $timeview-hourarrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/contrast/timeView/hour-arrow.svg') !default;
  $timeview-minutearrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/contrast/timeView/min-arrow.svg') !default;
}

@if $color == "dark" {

  $timeview-clock-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/clock-bg.svg') !default;
  $timeview-hourarrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/hour-arrow.svg') !default;
  $timeview-minutearrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/min-arrow.svg') !default;
}

@if $color == "darkmoon" {

  $timeview-clock-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/clock-bg.svg') !default;
  $timeview-hourarrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/hour-arrow.svg') !default;
  $timeview-minutearrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/min-arrow.svg') !default;
}

@if $color == "darkviolet" {

  $timeview-clock-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/clock-bg.svg') !default;
  $timeview-hourarrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/hour-arrow.svg') !default;
  $timeview-minutearrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/dark/timeView/min-arrow.svg') !default;
}

@if $color == "greenmist" {

  $timeview-clock-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/clock-bg.svg') !default;
  $timeview-hourarrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/hour-arrow.svg') !default;
  $timeview-minutearrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/min-arrow.svg') !default;
}

@if $color == "light" {

  $timeview-clock-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/clock-bg.svg') !default;
  $timeview-hourarrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/hour-arrow.svg') !default;
  $timeview-minutearrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/min-arrow.svg') !default;
}

@if $color == "softblue" {

  $timeview-clock-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/clock-bg.svg') !default;
  $timeview-hourarrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/hour-arrow.svg') !default;
  $timeview-minutearrow-bg: data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/generic/color-schemes/light/timeView/min-arrow.svg') !default;
}

