@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../textEditor/sizes" as *;
@use "../../base/timeView";

// adduse


.dx-timeview {
  height: auto;
  width: auto;
}

.dx-timeview-clock {
  min-height: $generic-timeview-clock-min-size + $generic-timeview-clock-additional-size;
  min-width: $generic-timeview-clock-min-size + $generic-timeview-clock-additional-size;
  background: $timeview-clock-bg no-repeat 50% 50%;
  background-size: $generic-timeview-clock-min-size;
}

.dx-timeview-hourarrow {
  background-image: $timeview-hourarrow-bg;
  background-size: 5px 57px - $generic-timeview-arrow-height-reduce;
}

.dx-timeview-minutearrow {
  background-image: $timeview-minutearrow-bg;
  background-size: 5px 79px - $generic-timeview-arrow-height-reduce / 2;
}

.dx-timeview-format12 {
  width: $generic-timeview-format12-width;
  margin-left: $generic-timeview-time-separator-margin;
  margin-right: auto;

  &.dx-rtl,
  .dx-rtl & {
    margin-left: auto;
    margin-right: $generic-timeview-time-separator-margin;
  }
}

.dx-timeview-time-separator {
  margin: 0 $generic-timeview-time-separator-margin;
}

.dx-timeview-field {
  min-height: $generic-timeview-field-min-height;
}

.dx-timeview-field .dx-numberbox {
  width: 70px - $generic-timeview-field-numberbox-reduce;

  &.dx-numberbox-spin-touch-friendly {
    width: 110px - $generic-timeview-field-numberbox-reduce;
  }
}
