@use "../sizes" as *;

// adduse

$generic-timeview-clock-min-size: null !default;
$generic-timeview-field-min-height: null !default;
$generic-timeview-arrow-height-reduce: null !default;
$generic-timeview-field-numberbox-reduce: null !default;
$generic-timeview-format12-width: null !default;

$generic-timeview-clock-additional-size: 8px !default;
$generic-timeview-time-separator-margin: 5px !default;

@if $size == "default" {
  $generic-timeview-clock-min-size: 191px !default;
  $generic-timeview-field-min-height: 50px !default;
  $generic-timeview-arrow-height-reduce: 0 !default;
  $generic-timeview-field-numberbox-reduce: 0 !default;
  $generic-timeview-format12-width: 70px !default;
}

@else if $size == "compact" {
  $generic-timeview-clock-min-size: 161px !default;
  $generic-timeview-field-min-height: 32px !default;
  $generic-timeview-arrow-height-reduce: 20px !default;
  $generic-timeview-field-numberbox-reduce: 16px !default;
  $generic-timeview-format12-width: 55px !default;
}
