<dx-data-grid
  id="employees"
  [dataSource]="employees"
  [keyExpr]="'ID'"
  [showRowLines]="true"
  [width]="'100%'"
  [showBorders]="true"
  [columnAutoWidth]="true"
>
  <dxo-data-grid-column-chooser
    height="340px"
    #columnChooser
    [enabled]="true"
    [mode]="columnChooserModes[1].key"
  >
    <dxo-data-grid-position
      my="right top"
      at="right bottom"
      of=".dx-datagrid-column-chooser-button"
    ></dxo-data-grid-position>

    <dxo-data-grid-search
      [enabled]="searchEnabled"
      [editorOptions]="editorOptions"
    ></dxo-data-grid-search>

    <dxo-data-grid-selection
      [allowSelectAll]="allowSelectAll"
      [selectByClick]="selectByClick"
      [recursive]="recursive"
    ></dxo-data-grid-selection>
  </dxo-data-grid-column-chooser>

  <dxi-data-grid-column dataField="FirstName" [allowHiding]="false"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName" [allowHiding]="false"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="State"></dxi-data-grid-column>
  <dxi-data-grid-column caption="Contacts">
    <dxi-data-grid-column dataField="MobilePhone" [allowHiding]="false"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="Email"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="Skype" [visible]="false"></dxi-data-grid-column>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="HireDate" dataType="date"></dxi-data-grid-column>
</dx-data-grid>

<div class="options">
  <div class="caption">Options</div>

  <div class="selectboxes-container">
    <div class="option">
      <span>Column chooser mode</span>
      <dx-select-box
        id="columnChooserMode"
        [items]="columnChooserModes"
        [inputAttr]="{ 'aria-label': 'Column Chooser Mode' }"
        [(value)]="columnChooser.mode"
        valueExpr="key"
        displayExpr="name"
      ></dx-select-box>
    </div>
  </div>

  <div class="checkboxes-container">
    <div class="option">
      <dx-check-box
        text="Search enabled"
        [(value)]="searchEnabled"
      ></dx-check-box>
    </div>
    <div class="option">
      <dx-check-box
        text="Allow select all"
        [(value)]="allowSelectAll"
        [disabled]="columnChooser.mode === 'dragAndDrop'"
      ></dx-check-box>
    </div>
    <div class="option">
      <dx-check-box
        text="Select by click"
        [(value)]="selectByClick"
        [disabled]="columnChooser.mode === 'dragAndDrop'"
      ></dx-check-box>
    </div>
    <div class="option">
      <dx-check-box
        text="Recursive"
        [(value)]="recursive"
        [disabled]="columnChooser.mode === 'dragAndDrop'"
      ></dx-check-box>
    </div>
  </div>
</div>
