@mixin step(
  $min-size,
  $width,
  $height,
  $content-row-gap,
  $content-column-gap,
  $stepper-step-optional-mark-font-size,
) {
  .dx-stepper-horizontal {
    .dx-step {
      min-width: $min-size;
    }
  }

  .dx-stepper-vertical {
    .dx-step {
      min-height: $min-size;
    }
  }

  .dx-step-content {
    row-gap: $content-row-gap;
    column-gap: $content-column-gap;

    .dx-step-optional-mark {
      font-size: $stepper-step-optional-mark-font-size;
    }
  }

  .dx-step-indicator {
    z-index: 0;
    width: $width;
    height: $height;
  }
}

@mixin step-states(
  $background-color,
  $background-color-hover,
  $color-selected,
  $background-color-selected,
  $background-color-selected-hover,
  $border-color,
  $border-color-hover,
  $border-color-focused,
  $border-color-selected,
  $invalid-color,
  $invalid-color-hover,
  $disabled-color,
  $disabled-bg,
) {
  .dx-step-indicator {
    background-color: $background-color;
    border-color: $border-color;
    box-shadow: 0 0 0 8px $background-color;
  }

  .dx-step {
    &.dx-state-hover {
      .dx-step-indicator {
        border-color: $border-color-hover;
        background-color: $background-color-hover;
      }

      &.dx-step-completed,
      &.dx-step-selected {
        .dx-step-indicator {
          border-color: $border-color-focused;
          background-color: $background-color-selected-hover;
        }

        &.dx-step-invalid {
          .dx-step-indicator {
            color: $color-selected;
            border-color: $invalid-color-hover;
            background-color: $invalid-color-hover;
          }
        }
      }

      &.dx-step-invalid {
        .dx-step-indicator {
          color: $invalid-color-hover;
        }

        .dx-step-label {
          color: $invalid-color-hover;
        }
      }
    }

    &.dx-state-active {
      .dx-step-indicator {
        background-color: $background-color-hover;
      }
    }

    &.dx-step-invalid {
      .dx-step-indicator {
        color: $invalid-color;
      }

      .dx-step-label {
        color: $invalid-color;
      }
    }

    &.dx-step-completed {
      .dx-step-indicator {
        color: $color-selected;
        border-color: $border-color-selected;
        background-color: $background-color-selected;
        box-shadow: 0 0 0 8px $background-color;
      }

      .dx-step-label {
        color: $background-color-selected;
      }

      &.dx-step-invalid {
        .dx-step-label {
          color: $invalid-color;
        }

        .dx-step-indicator {
          border-color: $invalid-color;
          background-color: $invalid-color;
          box-shadow: 0 0 0 8px $background-color;
        }

        &.dx-state-focused {
          .dx-step-indicator {
            border-color: $invalid-color-hover;
            background-color: $invalid-color-hover;
          }
        }
      }

      &.dx-state-disabled {
        .dx-step-indicator {
          color: $disabled-color;
          border-color: $disabled-bg;
          background-color: $disabled-bg;
        }

        .dx-step-label {
          color: $disabled-color;
        }

        &.dx-state-focused {
          .dx-step-indicator {
            border-color: $disabled-bg;
            background-color: $disabled-bg;
          }
        }
      }
    }

    &.dx-step-selected {
      .dx-step-indicator {
        color: $color-selected;
        border-color: $border-color-selected;
        background-color: $background-color-selected;
        box-shadow: 0 0 0 2px $background-color, 0 0 0 4px $border-color-selected, 0 0 0 8px $background-color;
      }

      .dx-step-label {
        color: $background-color-selected;
      }

      &.dx-step-invalid {
        .dx-step-label {
          color: $invalid-color;
        }

        .dx-step-indicator {
          border-color: $invalid-color;
          background-color: $invalid-color;
          box-shadow: 0 0 0 2px $background-color, 0 0 0 4px $invalid-color, 0 0 0 8px $background-color;
        }
      }

      &.dx-state-disabled {
        .dx-step-indicator {
          color: $disabled-color;
          border-color: $disabled-bg;
          background-color: $disabled-bg;
        }

        .dx-step-label {
          color: $disabled-color;
        }

        &.dx-state-focused {
          .dx-step-indicator {
            border-color: $disabled-bg;
            background-color: $disabled-bg;
          }
        }
      }
    }

    &.dx-state-focused {
      .dx-step-indicator {
        box-shadow: 0 0 0 2px $background-color, 0 0 0 4px $border-color-focused, 0 0 0 8px $background-color;
      }

      &.dx-step-selected,
      &.dx-step-completed {
        .dx-step-indicator {
          background-color: $background-color-selected-hover;
        }
      }

      &.dx-step-invalid {
        .dx-step-indicator {
          box-shadow: 0 0 0 2px $background-color, 0 0 0 4px $invalid-color-hover, 0 0 0 8px $background-color;
        }
      }
    }

    &.dx-state-disabled {
      .dx-step-indicator {
        color: $disabled-color;
        border-color: $disabled-bg;
        background-color: $disabled-bg;
      }

      .dx-step-label {
        color: $disabled-color;
      }
    }
  }

  .dx-stepper {
    &.dx-state-focused {
      .dx-step-selected {
        .dx-step-indicator {
          box-shadow: 0 0 0 8px $background-color;
        }

        &.dx-state-focused {
          .dx-step-indicator {
            box-shadow: 0 0 0 2px $background-color, 0 0 0 4px $border-color-focused, 0 0 0 8px $background-color;
          }

          &.dx-step-invalid {
            .dx-step-indicator {
              border-color: $invalid-color-hover;
              background-color: $invalid-color-hover;
              box-shadow: 0 0 0 2px $background-color, 0 0 0 4px $invalid-color-hover, 0 0 0 8px $background-color;
            }
          }
        }
      }
    }
  }
}
