<dx-chart
  id="chart"
  [dataSource]="catBreedsData"
  [rotated]="true"
  title="Most Popular US Cat Breeds"
  (onPointClick)="pointClick($event)"
  (onDone)="done($event)"
>
  <dxi-chart-series valueField="count" name="breeds" color="#a3d6d2">
    <dxo-chart-selection-style color="#ec2e7a">
      <dxo-chart-hatching direction="none"></dxo-chart-hatching>
    </dxo-chart-selection-style>
  </dxi-chart-series>
  <dxo-chart-common-series-settings argumentField="breed" type="bar">
  </dxo-chart-common-series-settings>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
</dx-chart>
