@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$accordion-color: $base-text-color !default;

/**
* $name 10. Item title text color
* $type color
*/
$accordion-title-color: $accordion-color !default;

/**
* $name 20. Item border color
* $type color
*/
$accordion-item-border-color: $base-border-color !default;

/**
* $name 30. Item active state icon color
* $type color
*/
$accordion-icon-active-color: $accordion-color !default;
$accordion-background-color: $base-bg !default;
$accordion-title-active-color: $accordion-color !default;
$accordion-title-active-bg: $base-hover-bg !default;
$accordion-item-hover-bg: $base-hover-bg !default;
$accordion-item-bg: $accordion-background-color !default;
$accordion-icon-color: color.change($base-icon-color, $alpha: 0.38) !default;
$accordion-title-hover-border-color: darken($base-border-color, 6%) !default;
