@use "../sizes" as *;

// adduse

$MATERIAL_ACCORDION_TITLE_PADDING: null !default;
$MATERIAL_ACCORDION_BODY_PADDING: null !default;
$MATERIAL_ACCORDION_ARROW_LINE_HEIGHT: null !default;
$MATERIAL_ACCORDION_TITLE_HEIGHT: null !default;
$MATERIAL_ACCORDION_OPENED_TITLE_HEIGHT: null !default;
$MATERIAL_ACCORDION_TITLE_FONT_SIZE: null !default;
$MATERIAL_ACCORDION_OPENED_MARGIN: null !default;
$MATERIAL_ACCORDION_SHADOW: null !default;

@if $size == "default" {
  $MATERIAL_ACCORDION_TITLE_PADDING: 24px;
  $MATERIAL_ACCORDION_BODY_PADDING: 24px;

  $MATERIAL_ACCORDION_ARROW_LINE_HEIGHT: 16px;

  $MATERIAL_ACCORDION_TITLE_HEIGHT: 48px;
  $MATERIAL_ACCORDION_OPENED_TITLE_HEIGHT: 64px;
  $MATERIAL_ACCORDION_TITLE_FONT_SIZE: 15px;
  $MATERIAL_ACCORDION_OPENED_MARGIN: 16px;
  $MATERIAL_ACCORDION_SHADOW: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

@else if $size == "compact" {
  $MATERIAL_ACCORDION_TITLE_PADDING: 16px;
  $MATERIAL_ACCORDION_BODY_PADDING: 16px;

  $MATERIAL_ACCORDION_ARROW_LINE_HEIGHT: 16px;

  $MATERIAL_ACCORDION_TITLE_HEIGHT: 40px;
  $MATERIAL_ACCORDION_OPENED_TITLE_HEIGHT: 40px;
  $MATERIAL_ACCORDION_TITLE_FONT_SIZE: 15px;
  $MATERIAL_ACCORDION_OPENED_MARGIN: 8px;
  $MATERIAL_ACCORDION_SHADOW: 0 3px 1px -2px rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.07), 0 1px 5px 0 rgba(0, 0, 0, 0.06);
}
