<dx-tree-list
  id="employees"
  [dataSource]="employees"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [columnAutoWidth]="true"
  [autoExpandAll]="true"
  [showBorders]="true"
  [showRowLines]="true"
>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxi-column
    caption="Employee"
    [fixed]="true"
    [calculateCellValue]="calculateCellValue"
  ></dxi-column>
  <dxi-column dataField="Position" alignment="right"></dxi-column>
  <dxi-column
    dataField="Address"
    [fixed]="true"
    fixedPosition="sticky"
  ></dxi-column>
  <dxi-column dataField="City"></dxi-column>
  <dxi-column dataField="Zipcode"></dxi-column>
  <dxi-column dataField="State"></dxi-column>
  <dxi-column
    dataField="Department"
    [fixed]="true"
    fixedPosition="right"
  ></dxi-column>
  <dxi-column dataField="BirthDate" dataType="date"></dxi-column>
  <dxi-column dataField="HireDate" dataType="date"></dxi-column>
  <dxi-column dataField="HomePhone"></dxi-column>
  <dxi-column dataField="MobilePhone"></dxi-column>
  <dxi-column
    dataField="Email"
    [fixed]="true"
    fixedPosition="sticky"
  ></dxi-column>
  <dxi-column dataField="Skype"></dxi-column>
</dx-tree-list>
