::ng-deep .chart {
  position: absolute;
  top: 12px;
  right: 35px;
  width: 480px;
  height: 347px;
}

::ng-deep .chart_environment {
  width: 820px;
  position: relative;
  margin: 0 auto;
}

::ng-deep .controls-pane {
  text-align: center;
}

::ng-deep .custom-markup-text {
  fill: #fff;
  font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana, sans-serif;
}

::ng-deep .custom-markup-text-title {
  font-size: 36px;
  font-weight: bold;
}

::ng-deep .custom-markup-text-subtitle {
  font-size: 14px;
  opacity: 0.8;
}
