@use "sass:math";
@use "../sizes" as *;
@use "../../base/treeList/variables" as *;

// adduse

$treelist-expand-icon-size-fluent: null !default;
$treelist-expand-checkbox-right-gap-fluent: null !default;

@if $size == "default" {
  $treelist-expand-icon-size-fluent: 20px !default;
  $treelist-expand-checkbox-right-gap-fluent: 12px !default;
}

@else if $size == "compact" {
  $treelist-expand-icon-size-fluent: 16px !default;
  $treelist-expand-checkbox-right-gap-fluent: 8px !default;
}

$treelist-expand-icon-size: $treelist-expand-icon-size-fluent !default;
$treelist-expand-icon-name-expanded: chevrondown !default;
$treelist-expand-icon-name-collapsed: chevronright !default;
$treelist-expand-icon-right-gap: 4px !default;
$treelist-expand-checkbox-size: 16px !default;
$treelist-expand-checkbox-right-gap: $treelist-expand-checkbox-right-gap-fluent !default;
