@use "sass:math";
@use "colors" as *;
@use "sizes" as *;
@use "../common/sizes" as *;
@use "../../base/icon_fonts" as *;
@use "../textEditor" as *;
@use "../../base/tagBox";

.dx-tagbox {
  .dx-tag-container {
    height: 100%;
    padding-top: var(--dx-tag-box-tag-container-padding-block);
    padding-bottom: var(--dx-tag-box-tag-container-padding-block);
    gap: var(--dx-tag-box-tag-container-gap);

    .dx-texteditor-input {
      padding: 0;
      min-height: 0;
    }
  }

  &.dx-editor-underlined {
    .dx-tag-container {
      padding-top: calc(var(--dx-tag-box-tag-container-padding-block) + 1px);
      padding-bottom: calc(var(--dx-tag-box-tag-container-padding-block) + 1px);
    }
  }

  &.dx-editor-outlined,
  &.dx-editor-filled,
  &.dx-editor-underlined {
    .dx-texteditor-input {
      height: var(--dx-tag-box-tag-size);
    }
  }

  &.dx-editor-outlined,
  &.dx-editor-filled {
    .dx-tag-container {
      padding-inline-start: var(--dx-tag-box-tag-container-padding-inline-start);
    }
  }

  &.dx-texteditor-with-label:not(.dx-texteditor-label-outside),
  &.dx-texteditor-with-floating-label {
    &.dx-editor-filled,
    &.dx-editor-underlined {
      .dx-tag {
        margin: 0;
      }

      .dx-texteditor-input {
        padding: 0;
      }
    }

    &.dx-editor-filled {
      .dx-tag-container,
      .dx-placeholder::before {
        padding-top: var(--dx-tag-box-filled-with-label-padding-block-start);
        padding-bottom: var(--dx-tag-box-filled-with-label-padding-block-end);
      }
    }

    &.dx-editor-underlined {
      .dx-tag-container,
      .dx-placeholder::before {
        padding-top: calc(var(--dx-tag-box-filled-with-label-padding-block-start) + 1px);
        padding-bottom: calc(var(--dx-tag-box-filled-with-label-padding-block-end) + 1px);
      }
    }
  }

  &.dx-state-disabled {
    .dx-tag-content {
      color: var(--dx-tag-box-tag-content-disabled);
      background-color: var(--dx-tag-box-tag-bg-disabled);
    }

    .dx-tag-remove-button {
      &::before {
        color: var(--dx-tag-box-tag-content-disabled);
      }
    }
  }
}

.dx-tagbox-single-line {
  .dx-tag-container {
    padding-right: 0;
  }
}

.dx-tag-content {
  display: inline-flex;
  align-items: center;
  font-size: var(--dx-tag-box-tag-content-font-size);
  line-height: var(--dx-tag-box-tag-content-line-height);
  margin: 0;
  padding-top: var(--dx-tag-box-tag-content-padding-block);
  padding-bottom: var(--dx-tag-box-tag-content-padding-block);
  padding-inline-start: var(--dx-tag-box-tag-content-padding-inline-start);
  padding-inline-end: var(--dx-tag-box-tag-content-padding-inline-end);
  min-width: var(--dx-tag-box-tag-content-min-width);
  background-color: var(--dx-tag-box-tag-bg);
  color: var(--dx-tag-box-tag-content);
  border-radius: var(--dx-tag-box-tag-border-radius);
  border-width: var(--dx-tag-box-tag-border-width);
  border-style: solid;
  border-color: var(--dx-tag-box-border-disabled);
}

.dx-tag-remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--dx-tag-box-tag-size);
  height: 100%;

  @include dx-icon(clear);

  font-size: calc(var(--dx-tag-box-tag-content-font-size) + 2px);

  &::before {
    content: "\f15f";
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dx-tag-box-tag-remove-button-content);
  }
}

.dx-tag {
  &:hover {
    .dx-tag-content {
      background-color: var(--dx-tag-box-tag-bg-hovered);
      color: var(--dx-tag-box-tag-content-active);
    }
  }

  &.dx-state-focused {
    .dx-tag-content {
      color: var(--dx-tag-box-tag-content-active);
      border-color: var(--dx-tag-box-tag-border-focused);
    }
  }
}

@mixin tagbox-editor-container-offset() {
  inset-inline-end: $invalid-badge-padding-inline;
}

.dx-tagbox.dx-invalid,
.dx-tagbox.dx-valid {
  .dx-texteditor-container {
    &::after {
      @include tagbox-editor-container-offset();
    }
  }
}

.dx-tagbox.dx-validation-pending {
  .dx-texteditor-container {
    .dx-pending-indicator {
      @include tagbox-editor-container-offset();
    }
  }
}

.dx-tagbox-popup-wrapper {
  .dx-list-select-all {
    border-bottom: var(--dx-tag-box-list-select-all-border-block-end);
    border-bottom-color: var(--dx-tag-box-select-all-line);
    padding-bottom: var(--dx-tag-box-select-all-padding-block-end);
    margin-bottom: var(--dx-tag-box-select-all-margin-block-end);

    &::after {
      background-color: transparent;
    }
  }
}
