<dx-card-view
  [dataSource]="dataSource"
  [remoteOperations]="true"
  [headerFilter]="headerFilterConfig"
  [searchPanel]="searchPanelConfig"
  [cardMinWidth]="100"
  [wordWrapEnabled]="true"
>
  <dxo-card-view-editing
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
  ></dxo-card-view-editing>
  <dxi-card-view-column dataField="Task_Subject" caption="Subject">
    <dxi-card-view-required-rule></dxi-card-view-required-rule>
  </dxi-card-view-column>
  <dxi-card-view-column
    dataField="Task_Start_Date"
    caption="Start Date"
    dataType="date"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="Task_Due_Date"
    caption="Due Date"
    dataType="date"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="Task_Priority"
    caption="Priority"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="Task_Status"
    caption="Status"
  ></dxi-card-view-column>
</dx-card-view>
