@use "../sizes" as *;
// adduse

$DIAGRAM_TOOLBOX_WIDTH: null !default;
$DIAGRAM_TOOLBOX_H_PADDING: null !default;
$DIAGRAM_TOOLBOX_ACCORDION_V_PADDING: null !default;
$DIAGRAM_TOOLBOX_INPUT_MARGIN: null !default;
$DIAGRAM_TOOLBOX_INPUT_H_PADDING: null !default;
$DIAGRAM_TOOLBOX_INPUT_V_PADDING: null !default;
$DIAGRAM_TOOLBOX_INPUT_IMAGE_SIZE: null !default;
$DIAGRAM_TOOLBOX_MOBILE_PADDING: null !default;
$DIAGRAM_PROPERTIES_PANEL_PADDING: null !default;
$DIAGRAM_PROPERTIES_PANEL_SPACING: null !default;
$DIAGRAM_PROPERTIES_LAYOUT_ICON_SIZE: null !default;
$DIAGRAM_SMALL_EDITOR_WIDTH: null !default;
$DIAGRAM_MEDIUM_EDITOR_WIDTH: null !default;
$DIAGRAM_LARGE_EDITOR_WIDTH: null !default;

@if $size == "default" {
    $DIAGRAM_TOOLBOX_WIDTH: 144px;
    $DIAGRAM_TOOLBOX_H_PADDING: 12px;
    $DIAGRAM_TOOLBOX_ACCORDION_V_PADDING: 6px;
    $DIAGRAM_TOOLBOX_INPUT_MARGIN: 2px;
    $DIAGRAM_TOOLBOX_INPUT_H_PADDING: 9px;
    $DIAGRAM_TOOLBOX_INPUT_V_PADDING: 4px;
    $DIAGRAM_TOOLBOX_INPUT_IMAGE_SIZE: 12px;
    $DIAGRAM_TOOLBOX_MOBILE_PADDING: 66px;

    $DIAGRAM_PROPERTIES_PANEL_PADDING: 8px;
    $DIAGRAM_PROPERTIES_PANEL_SPACING: 8px;
    $DIAGRAM_PROPERTIES_LAYOUT_ICON_SIZE: 64px;

    $DIAGRAM_SMALL_EDITOR_WIDTH: 100px;
    $DIAGRAM_MEDIUM_EDITOR_WIDTH: 150px;
    $DIAGRAM_LARGE_EDITOR_WIDTH: 240px;
}

@else if $size == "compact" {
    $DIAGRAM_TOOLBOX_WIDTH: 114px;
    $DIAGRAM_TOOLBOX_H_PADDING: 8px;
    $DIAGRAM_TOOLBOX_ACCORDION_V_PADDING: 4px;
    $DIAGRAM_TOOLBOX_INPUT_MARGIN: 1px;
    $DIAGRAM_TOOLBOX_INPUT_H_PADDING: 5px;
    $DIAGRAM_TOOLBOX_INPUT_V_PADDING: 3px;
    $DIAGRAM_TOOLBOX_INPUT_IMAGE_SIZE: 10px;
    $DIAGRAM_TOOLBOX_MOBILE_PADDING: 56px;

    $DIAGRAM_PROPERTIES_PANEL_PADDING: 4px;
    $DIAGRAM_PROPERTIES_PANEL_SPACING: 4px;
    $DIAGRAM_PROPERTIES_LAYOUT_ICON_SIZE: 48px;

    $DIAGRAM_SMALL_EDITOR_WIDTH: 70px;
    $DIAGRAM_MEDIUM_EDITOR_WIDTH: 120px;
    $DIAGRAM_LARGE_EDITOR_WIDTH: 180px;
}
