@use "colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/card";

.dx-card {
  box-shadow: var(--dx-card-shadow-rest);
  border-radius: $global-border-radius;
  background-color: var(--dx-card-bg-rest);
  margin: var(--dx-card-margin);
}
