::ng-deep #grid {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

::ng-deep .selected-data {
  margin-top: 20px;
  padding: 20px;
  background-color: var(--dx-color-options-panel-bg);
}

::ng-deep .selected-data .caption {
  font-weight: bold;
  font-size: 115%;
  margin-right: 4px;
}
