<dx-data-grid
  #grid
  id="grid-container"
  [dataSource]="employees"
  keyExpr="ID"
  [(selectedRowKeys)]="selectedRows"
  (onSelectionChanged)="selectionChangedHandler()"
  [showBorders]="true"
>
  <dxo-data-grid-selection mode="multiple"> </dxo-data-grid-selection>

  <dxi-data-grid-column dataField="Prefix" caption="Title" [width]="70"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" [width]="180"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" dataType="date" [width]="125"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="HireDate" dataType="date" [width]="125"></dxi-data-grid-column>
  <dxo-data-grid-toolbar>
    <dxi-data-grid-item location="before">
      <dx-select-box
        [dataSource]="prefixOptions"
        [inputAttr]="{ 'aria-label': 'Title' }"
        placeholder="Select title"
        [width]="150"
        [value]="prefix"
        (onValueChanged)="filterSelected($event)"
      >
      </dx-select-box>
    </dxi-data-grid-item>
    <dxi-data-grid-item location="before">
      <dx-button
        text="Clear Selection"
        [disabled]="!selectedRows?.length"
        (onClick)="grid.instance.clearSelection()"
      >
      </dx-button>
    </dxi-data-grid-item>
  </dxo-data-grid-toolbar>
</dx-data-grid>
<div class="selected-data">
  <span class="caption">Selected Records:</span>
  <span>
    {{
      grid.selectedRowKeys.length
        ? (grid.instance.getSelectedRowsData() | stringifyEmployees)
        : "Nobody has been selected"
    }}
  </span>
</div>
