<dx-data-grid
  id="gridContainer"
  [dataSource]="tasks"
  [showBorders]="true"
  (onRowInserted)="$event.component.navigateToRow($event.key)"
>
  <dxo-data-grid-paging [enabled]="true" [pageSize]="15"></dxo-data-grid-paging>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>
  <dxo-data-grid-header-filter [visible]="true"></dxo-data-grid-header-filter>
  <dxo-data-grid-search-panel [visible]="true"></dxo-data-grid-search-panel>
  <dxo-data-grid-editing mode="cell" [allowUpdating]="true" [allowAdding]="true">
  </dxo-data-grid-editing>
  <dxi-data-grid-column
    dataField="Owner"
    [width]="150"
    [allowSorting]="false"
    editCellTemplate="singleDropDownBoxEditor"
  >
    <dxo-data-grid-lookup [dataSource]="employees" displayExpr="FullName" valueExpr="ID">
    </dxo-data-grid-lookup>
    <dxi-data-grid-validation-rule type="required"></dxi-data-grid-validation-rule>
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="AssignedEmployee"
    caption="Assignees"
    [width]="200"
    [allowSorting]="false"
    editCellTemplate="tagBoxEditor"
    [cellTemplate]="cellTemplate"
    [calculateFilterExpression]="calculateFilterExpression"
  >
    <dxo-data-grid-lookup [dataSource]="employees" valueExpr="ID" displayExpr="FullName">
    </dxo-data-grid-lookup>
    <dxi-data-grid-validation-rule type="required"></dxi-data-grid-validation-rule>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="Subject">
    <dxi-data-grid-validation-rule type="required"></dxi-data-grid-validation-rule>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="Status" width="200" [editorOptions]="editorOptions">
    <dxo-data-grid-lookup [dataSource]="statuses" displayExpr="name" valueExpr="id">
    </dxo-data-grid-lookup>
    <dxi-data-grid-validation-rule type="required"></dxi-data-grid-validation-rule>
  </dxi-data-grid-column>

  <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
    <dx-tag-box
      [dataSource]="employees"
      [value]="cellInfo.value"
      valueExpr="ID"
      displayExpr="FullName"
      [showSelectionControls]="true"
      [maxDisplayedTags]="3"
      [showMultiTagOnly]="false"
      [inputAttr]="{ 'aria-label': 'Name' }"
      applyValueMode="useButtons"
      [searchEnabled]="true"
      (onValueChanged)="cellInfo.setValue($event.value)"
      (onSelectionChanged)="cellInfo.component.updateDimensions()"
    >
    </dx-tag-box>
  </div>

  <div *dxTemplate="let cellInfo of 'singleDropDownBoxEditor'">
    <dx-drop-down-box
      [dropDownOptions]="dropDownOptions"
      [dataSource]="employees"
      [(value)]="cellInfo.value"
      [inputAttr]="{ 'aria-label': 'Owner' }"
      displayExpr="FullName"
      valueExpr="ID"
      contentTemplate="contentTemplate"
    >
      <div *dxTemplate="let e of 'contentTemplate'">
        <dx-data-grid
          [dataSource]="employees"
          [remoteOperations]="true"
          [height]="250"
          [selectedRowKeys]="getSelectedRowKeys(cellInfo.value)"
          [focusedRowEnabled]="true"
          [focusedRowKey]="cellInfo.value"
          [hoverStateEnabled]="true"
          (onContextMenuPreparing)="$event.items = []"
          (onSelectionChanged)="
            onSelectionChanged($event.selectedRowKeys, cellInfo, e.component)
          "
        >
          <dxi-data-grid-column dataField="FullName"></dxi-data-grid-column>
          <dxi-data-grid-column dataField="Title"></dxi-data-grid-column>
          <dxi-data-grid-column dataField="Department"></dxi-data-grid-column>
          <dxo-data-grid-paging [enabled]="true" [pageSize]="10"></dxo-data-grid-paging>
          <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>
          <dxo-data-grid-selection mode="single"></dxo-data-grid-selection>
        </dx-data-grid>
      </div>
    </dx-drop-down-box>
  </div>

  <div *dxTemplate="let status of 'statusTemplate'">
    <div *ngIf="status === null" ; else elseBlock>
      <span>(All)</span>
    </div>
    <div dx-template #elseBlock>
      <img
        src="images/icons/status-{{ status.id }}.svg"
        class="status-icon middle"
      />
      <span class="middle">{{ status.name }}</span>
    </div>
  </div>
</dx-data-grid>
