<dx-data-grid
  id="gridContainer"
  keyExpr="ID"
  [dataSource]="vehicles"
  [showBorders]="true"
  [height]="500"
  (onRowExpanding)="onRowExpanding($event)"
  (onCellClick)="onCellClick($event)"
>
  <dxo-data-grid-paging [pageSize]="10" />

  <dxi-data-grid-column
    type="detailExpand"
    cellTemplate="detailExpandTemplate"
  />
  <div *dxTemplate="let model of 'detailExpandTemplate'">
    <div class="dx-icon-sparkle"></div>
  </div>
  <dxi-data-grid-column
    dataField="Model"
    [calculateCellValue]="calculateModel"
  />
  <dxi-data-grid-column dataField="Price" format="currency" alignment="left" />
  <dxi-data-grid-column
    caption="Category"
    [minWidth]="180"
    cellTemplate="categoryTemplate"
  />
  <div *dxTemplate="let model of 'categoryTemplate'">
    <category [id]="model.data.CategoryID" [name]="model.data.CategoryName" />
  </div>
  <dxi-data-grid-column dataField="Modification" />
  <dxi-data-grid-column dataField="Horsepower" />
  <dxi-data-grid-column dataField="BodyStyleName" caption="Body Style" />

  <dxo-data-grid-master-detail
    [enabled]="true"
    template="masterDetail"
  ></dxo-data-grid-master-detail>

  <div *dxTemplate="let masterDetailItem of 'masterDetail'">
    <detail-view [rowData]="masterDetailItem.data"></detail-view>
  </div>
</dx-data-grid>
