<div class="long-title">
  <h3>Sales Statistics</h3>
</div>
<dx-pivot-grid
  [allowSorting]="true"
  [allowFiltering]="true"
  [height]="570"
  [showBorders]="true"
  [dataSource]="dataSource"
>
  <dxo-pivot-grid-field-panel
    [visible]="true"
    [showFilterFields]="false"
  ></dxo-pivot-grid-field-panel>
  <dxo-pivot-grid-field-chooser [allowSearch]="true"></dxo-pivot-grid-field-chooser>
  <dxo-pivot-grid-header-filter>
    <dxo-pivot-grid-search [enabled]="true"></dxo-pivot-grid-search>
  </dxo-pivot-grid-header-filter>
  <dxo-pivot-grid-scrolling mode="virtual"></dxo-pivot-grid-scrolling>
</dx-pivot-grid>
