#textBlock {
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.6em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    width: 300px;
}