<dx-scheduler
  [dataSource]="dataSource"
  [views]="views"
  [currentView]="currentView"
  [currentDate]="currentDate"
  [firstDayOfWeek]="0"
  [startDayHour]="9"
  [endDayHour]="19"
  [showAllDayPanel]="false"
  [height]="600"
  dataCellTemplate="dataCellTemplate"
  dateCellTemplate="dateCellTemplate"
  timeCellTemplate="timeCellTemplate"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
  (onAppointmentAdding)="onAppointmentAdding($event)"
  (onAppointmentUpdating)="onAppointmentUpdating($event)">

    <div *dxTemplate="let dataCell of 'dataCellTemplate'"
      [ngClass]="{
        'disable-date': isHoliday(dataCell.startDate) || isWeekend(dataCell.startDate),
        'dinner': isDinner(dataCell.startDate)
      }">
    </div>

    <div *dxTemplate="let dateCell of 'dateCellTemplate'"
      [ngClass]="{ 'disable-date': isWeekend(dateCell.date) }">
      {{dateCell.text}}
    </div>

    <div
      *dxTemplate="let timeCell of 'timeCellTemplate'"
      [ngClass]="{ 'dinner': isDinner(timeCell.date) }">
      {{timeCell.text}}
      <div *ngIf="hasCoffeeCupIcon(timeCell.date)" class="cafe"></div>
    </div>

</dx-scheduler>