<div id="long-title">
  <h3>Country Area, Population, and GDP Structure</h3>
</div>
<dx-data-grid
  id="gridContainer"
  [dataSource]="countries"
  keyExpr="ID"
  [showBorders]="true"
  (onExporting)="onExporting($event)"
>
  <dxo-data-grid-export [enabled]="true" [formats]="['pdf']"></dxo-data-grid-export>

  <dxi-data-grid-column dataField="Country"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Area"> </dxi-data-grid-column>
  <dxi-data-grid-column caption="Population">
    <dxi-data-grid-column
      caption="Total"
      dataField="Population_Total"
      format="fixedPoint"
    >
    </dxi-data-grid-column>
    <dxi-data-grid-column caption="Urban" dataField="Population_Urban" format="percent">
    </dxi-data-grid-column>
  </dxi-data-grid-column>
  <dxi-data-grid-column caption="Nominal GDP">
    <dxi-data-grid-column
      caption="Total, mln $"
      dataField="GDP_Total"
      format="fixedPoint"
      sortOrder="desc"
    >
    </dxi-data-grid-column>
    <dxi-data-grid-column caption="By Sector">
      <dxi-data-grid-column
        caption="Agriculture"
        [width]="95"
        dataField="GDP_Agriculture"
      >
        <dxo-data-grid-format type="percent" [precision]="1"> </dxo-data-grid-format>
      </dxi-data-grid-column>
      <dxi-data-grid-column caption="Industry" [width]="80" dataField="GDP_Industry">
        <dxo-data-grid-format type="percent" [precision]="1"> </dxo-data-grid-format>
      </dxi-data-grid-column>
      <dxi-data-grid-column caption="Services" [width]="85" dataField="GDP_Services">
        <dxo-data-grid-format type="percent" [precision]="1"> </dxo-data-grid-format>
      </dxi-data-grid-column>
    </dxi-data-grid-column>
  </dxi-data-grid-column>
</dx-data-grid>
