@use "../sizes" as *;

// adduse

$material-datebox-overlay-item-margin: 10px;
$material-datebox-overlay-item-margin-adaptive: 18px;
$material-datebox-popup-content-margin: 0 34px;
$material-datebox-input-min-height: 33px;
