@use "../sizes" as *;

// adduse

$material-datebox-overlay-item-margin: 10px !default;
$material-datebox-overlay-item-margin-adaptive: 18px !default;
$material-datebox-popup-content-margin: 0 34px !default;
$material-datebox-input-min-height: 33px !default;
