@use "../sizes" as *;

// adduse

$material-button-group-button-height: 100% !default;
$material-button-group-button-min-height: null !default;

@if $size == "default" {
  $material-button-group-button-min-height: $material-button-height !default;
}
  
@else if $size == "compact" {
  $material-button-group-button-min-height: $material-button-height !default;
}
