<dx-data-grid
  id="orders"
  [dataSource]="productsDataSource"
  [repaintChangesOnly]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
>
  <dxo-data-grid-paging [pageSize]="10"></dxo-data-grid-paging>

  <dxi-data-grid-column dataField="ProductName" dataType="string"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="UnitPrice"
    dataType="number"
    format="currency"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderCount" dataType="number"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Quantity" dataType="number"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="Amount"
    dataType="number"
    format="currency"
    [allowSorting]="true"
  ></dxi-data-grid-column>
  <dxo-data-grid-summary>
    <dxi-data-grid-total-item column="ProductName" summaryType="count"></dxi-data-grid-total-item>
    <dxi-data-grid-total-item
      column="Amount"
      summaryType="sum"
      displayFormat="{0}"
      valueFormat="currency"
    ></dxi-data-grid-total-item>
    <dxi-data-grid-total-item
      column="OrderCount"
      summaryType="sum"
      displayFormat="{0}"
    ></dxi-data-grid-total-item>
  </dxo-data-grid-summary>
  <dxo-data-grid-master-detail [enabled]="true" template="productDetail">
  </dxo-data-grid-master-detail>

  <div *dxTemplate="let detail of 'productDetail'">
    <dx-data-grid
      [dataSource]="getDetailGridDataSource(detail.data)"
      [columnAutoWidth]="true"
      [repaintChangesOnly]="true"
      [showBorders]="true"
    >
      <dxo-data-grid-paging [pageSize]="5"></dxo-data-grid-paging>

      <dxi-data-grid-column dataField="OrderID" dataType="number"></dxi-data-grid-column>
      <dxi-data-grid-column dataField="ShipCity" dataType="string"></dxi-data-grid-column>
      <dxi-data-grid-column
        dataField="OrderDate"
        dataType="datetime"
        format="yyyy/MM/dd HH:mm:ss"
      ></dxi-data-grid-column>
      <dxi-data-grid-column
        dataField="UnitPrice"
        dataType="number"
        format="currency"
      ></dxi-data-grid-column>
      <dxi-data-grid-column dataField="Quantity" dataType="number"></dxi-data-grid-column>
      <dxi-data-grid-column
        caption="Amount"
        dataType="number"
        format="currency"
        [allowSorting]="true"
        [calculateCellValue]="getAmount"
      ></dxi-data-grid-column>

      <dxo-data-grid-summary>
        <dxi-data-grid-total-item column="OrderID" summaryType="count"></dxi-data-grid-total-item>
        <dxi-data-grid-total-item
          column="Quantity"
          summaryType="sum"
          displayFormat="{0}"
        ></dxi-data-grid-total-item>
        <dxi-data-grid-total-item
          column="Amount"
          summaryType="sum"
          displayFormat="{0}"
          valueFormat="currency"
        ></dxi-data-grid-total-item>
      </dxo-data-grid-summary>
    </dx-data-grid>
  </div>
</dx-data-grid>

<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Update frequency:</span>
    <dx-slider [min]="10" [step]="10" [max]="5000" [(value)]="updatesPerSecond">
      <dxo-slider-tooltip
        [enabled]="true"
        format="#0 per second"
        showMode="always"
        position="top"
      >
      </dxo-slider-tooltip>
    </dx-slider>
  </div>
</div>
