.dx-chat-deleteconfirmation-popup-wrapper {
  .dx-overlay-content {
    padding: 16px 24px;

    &.dx-popup-flex-height {
      gap: 16px;
    }

    .dx-popup-bottom {
      padding: 0;
    }
  }

  .dx-popup-content {
    padding: 0;
  }

  .dx-toolbar {
    padding: 0;

    .dx-button {
      width: 94px;
    }
  }
}
