<dx-funnel
  id="funnel"
  [dataSource]="data"
  argumentField="argument"
  valueField="value"
  palette="Soft Pastel"
>
  <dxo-funnel-title text="Website Conversions">
    <dxo-funnel-margin [bottom]="30"></dxo-funnel-margin>
  </dxo-funnel-title>
  <dxo-funnel-export [enabled]="true"></dxo-funnel-export>
  <dxo-funnel-tooltip [enabled]="true" format="fixedPoint"> </dxo-funnel-tooltip>
  <dxo-funnel-item>
    <dxo-funnel-border [visible]="true"> </dxo-funnel-border>
  </dxo-funnel-item>
  <dxo-funnel-label
    [visible]="true"
    position="inside"
    backgroundColor="none"
    [customizeText]="customizeText"
  ></dxo-funnel-label>
</dx-funnel>
