@use "../sizes" as *;
// adduse

$GENERIC_TREEVIEW_CONTAINER_WITH_BORDER_OFFSET: null !default;
$GENERIC_TREEVIEW_BORDER_PADDING: null !default;
$GENERIC_TREEVIEW_CONTAINER_PADDING:
  $GENERIC_TREEVIEW_BORDER_PADDING
  $GENERIC_TREEVIEW_BORDER_PADDING
  $GENERIC_TREEVIEW_BORDER_PADDING
  $GENERIC_TREEVIEW_CONTAINER_WITH_BORDER_OFFSET;
$GENERIC_TREEVIEW_NODE_OFFSET: null !default;
$GENERIC_TREEVIEW_TOGGLE_ITEM_WIDTH: null !default;
$GENERIC_TREEVIEW_ITEM_WITH_CHECKBOX_OFFSET: null !default;
$GENERIC_SELECT_ALL_ITEM_OFFSET: null !default;
$GENERIC_SELECT_ALL_ITEM_PADDING: null !default;
$GENERIC_SELECT_ALL_ITEM_LEFT_PADDING: null !default;
$GENERIC_TREEVIEW_ITEM_PADDING: null !default;
$GENERIC_TREEVIEW_MIN_ITEM_HEIGHT: null !default;
$GENERIC_TREEVIEW_CHECKBOX_OFFSET: null !default;
$GENERIC_TREEVIEW_ITEM_VISIBILITY_ICON_SIZE: null !default;
$GENERIC_TREEVIEW_LOADINCICATOR_OFFSET_TOP: null !default;
$GENERIC_TREEVIEW_LOADINCICATOR_OFFSET_LEFT: null !default;
$GENERIC_TREEVIEW_LOADINCICATOR_SIZE: null !default;
$GENERIC_SELECT_ALL_TEXT_OFFSET: null !default;
$GENERIC_TREEVIEW_ARROW_ICON_SIZE: null !default;
$GENERIC_TREEVIEW_SEARCHBOX_MARGIN_BOTTOM: null !default;

@if $size == "default" {
  $GENERIC_TREEVIEW_CONTAINER_WITH_BORDER_OFFSET: 7px;

  $GENERIC_TREEVIEW_BORDER_PADDING: 1px;
  $GENERIC_TREEVIEW_CONTAINER_PADDING:
    $GENERIC_TREEVIEW_BORDER_PADDING
    $GENERIC_TREEVIEW_BORDER_PADDING
    $GENERIC_TREEVIEW_BORDER_PADDING
    $GENERIC_TREEVIEW_CONTAINER_WITH_BORDER_OFFSET;

  $GENERIC_TREEVIEW_NODE_OFFSET: 15px;

  $GENERIC_TREEVIEW_TOGGLE_ITEM_WIDTH: 21px;

  $GENERIC_TREEVIEW_ITEM_WITH_CHECKBOX_OFFSET: 36px;
  $GENERIC_SELECT_ALL_ITEM_OFFSET: 20px;

  $GENERIC_SELECT_ALL_ITEM_PADDING: 9px 0 11px $GENERIC_SELECT_ALL_ITEM_OFFSET;
  $GENERIC_SELECT_ALL_ITEM_LEFT_PADDING: 26px;

  $GENERIC_TREEVIEW_ITEM_PADDING: 5px 6px;
  $GENERIC_TREEVIEW_MIN_ITEM_HEIGHT: 32px;

  $GENERIC_TREEVIEW_CHECKBOX_OFFSET: 19px;

  $GENERIC_TREEVIEW_ITEM_VISIBILITY_ICON_SIZE: 10px;

  $GENERIC_TREEVIEW_LOADINCICATOR_OFFSET_TOP: 8px;
  $GENERIC_TREEVIEW_LOADINCICATOR_OFFSET_LEFT: -1px;
  $GENERIC_TREEVIEW_LOADINCICATOR_SIZE: 14px;
  $GENERIC_SELECT_ALL_TEXT_OFFSET: 31px;

  $GENERIC_TREEVIEW_ARROW_ICON_SIZE: 22px;

  $GENERIC_TREEVIEW_SEARCHBOX_MARGIN_BOTTOM: 5px;
}

@else if $size == "compact" {
  $GENERIC_TREEVIEW_CONTAINER_WITH_BORDER_OFFSET: 6px;

  $GENERIC_TREEVIEW_BORDER_PADDING: 1px;
  $GENERIC_TREEVIEW_CONTAINER_PADDING:
    $GENERIC_TREEVIEW_BORDER_PADDING
    $GENERIC_TREEVIEW_BORDER_PADDING
    $GENERIC_TREEVIEW_BORDER_PADDING
    $GENERIC_TREEVIEW_CONTAINER_WITH_BORDER_OFFSET;

  $GENERIC_TREEVIEW_NODE_OFFSET: 10px;

  $GENERIC_TREEVIEW_TOGGLE_ITEM_WIDTH: 16px;

  $GENERIC_TREEVIEW_ITEM_WITH_CHECKBOX_OFFSET: 31px;
  $GENERIC_SELECT_ALL_ITEM_OFFSET: 15px;

  $GENERIC_SELECT_ALL_ITEM_PADDING: 6px 0 8px $GENERIC_SELECT_ALL_ITEM_OFFSET;
  $GENERIC_SELECT_ALL_ITEM_LEFT_PADDING: 20px;

  $GENERIC_TREEVIEW_ITEM_PADDING: 4px 6px;
  $GENERIC_TREEVIEW_MIN_ITEM_HEIGHT: 28px;

  $GENERIC_TREEVIEW_CHECKBOX_OFFSET: 14px;

  $GENERIC_TREEVIEW_ITEM_VISIBILITY_ICON_SIZE: 8px;

  $GENERIC_TREEVIEW_LOADINCICATOR_OFFSET_TOP: 8px;
  $GENERIC_TREEVIEW_LOADINCICATOR_OFFSET_LEFT: -1px;
  $GENERIC_TREEVIEW_LOADINCICATOR_SIZE: 11px;
  $GENERIC_SELECT_ALL_TEXT_OFFSET: 26px;

  $GENERIC_TREEVIEW_ARROW_ICON_SIZE: 18px;

  $GENERIC_TREEVIEW_SEARCHBOX_MARGIN_BOTTOM: 3px;
}
