<dx-chart id="chart" [dataSource]="oilProductionData" palette="soft">
  <dxi-chart-series valueField="year1990" name="1990"></dxi-chart-series>
  <dxi-chart-series valueField="year2000" name="2000"></dxi-chart-series>
  <dxi-chart-series valueField="year2010" name="2010"></dxi-chart-series>
  <dxi-chart-series valueField="year2020" name="2020"></dxi-chart-series>
  <dxi-chart-series valueField="year2021" name="2021"></dxi-chart-series>
  <dxi-chart-series valueField="year2022" name="2022"></dxi-chart-series>
  <dxo-chart-common-series-settings
    argumentField="state"
    type="bar"
    [barPadding]="0.5"
  >
  </dxo-chart-common-series-settings>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxo-chart-title text="Oil Production">
    <dxo-chart-subtitle text="(in millions tonnes)"></dxo-chart-subtitle>
  </dxo-chart-title>
</dx-chart>
