<dx-diagram #diagram id="diagram">
  <dxo-diagram-nodes
    [dataSource]="orgItemsDataSource"
    keyExpr="ID"
    [typeExpr]="itemTypeExpr"
    textExpr="Name"
    [widthExpr]="itemWidthExpr"
    [heightExpr]="itemHeightExpr"
    [textStyleExpr]="itemTextStyleExpr"
    [styleExpr]="itemStyleExpr"
  >
    <dxo-diagram-auto-layout type="tree" orientation="horizontal"></dxo-diagram-auto-layout>
  </dxo-diagram-nodes>
  <dxo-diagram-edges
    [dataSource]="orgLinksDataSource"
    keyExpr="ID"
    fromExpr="From"
    toExpr="To"
    [styleExpr]="linkStyleExpr"
    [fromLineEndExpr]="linkFromLineEndExpr"
    [toLineEndExpr]="linkToLineEndExpr"
  ></dxo-diagram-edges>
  <dxo-diagram-toolbox>
    <dxi-diagram-group category="general" title="General"></dxi-diagram-group>
  </dxo-diagram-toolbox>
</dx-diagram>
