<dx-chart
    id="chart"
    title="Daily Sales"
    dataSource="../../../../data/simpleJSON.json"
    [rotated]="true"
>
    <dxi-series
        color="#79cac4"
        type="bar"
        argumentField="day"
        valueField="sales"
    >
        <dxo-label [visible]="true" backgroundColor="#c18e92"></dxo-label>
    </dxi-series>
    <dxo-argument-axis>
        <dxo-label [customizeText]="customizeText"></dxo-label>
    </dxo-argument-axis>
    <dxi-value-axis>
        <dxo-tick [visible]="false"></dxo-tick>
        <dxo-label [visible]="false"></dxo-label>
    </dxi-value-axis>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-legend [visible]="false"></dxo-legend>
</dx-chart>