<dx-tree-list
    id="employees"
    [dataSource]="employees"
    keyExpr="ID"
    parentIdExpr="Head_ID"
    [showRowLines]="true"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [allowColumnReordering]="true"
    [expandedRowKeys]="[1]">
    <dxi-column dataField="Full_Name" [allowReordering]="false"></dxi-column>
    <dxi-column dataField="Title" caption="Position"></dxi-column>
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataField="State"></dxi-column>
    <dxi-column dataField="Mobile_Phone"></dxi-column>
    <dxi-column dataField="Hire_Date" dataType="date"></dxi-column>
</dx-tree-list>