@use "colors" as *;
@use "sizes" as *;

@mixin publish {
  --dx-list-base-select-all-separator-bg: #{$list-base-select-all-separator-bg};
  --dx-list-border: #{$list-border};
  --dx-list-border-disabled: #{$list-border-disabled};
  --dx-list-border-width: #{$list-border-width};
  --dx-list-bottom-padding: #{$list-bottom-padding};
  --dx-list-content-disabled: #{$list-content-disabled};
  --dx-list-context-menu-content-border: #{$list-context-menu-content-border};
  --dx-list-delete-button-static-padding: #{$list-delete-button-static-padding};
  --dx-list-empty-message-min-height: #{$list-empty-message-min-height};
  --dx-list-expanded-group-content: var(--dx-list-group-content);
  --dx-list-group-content: #{$list-group-content};
  --dx-list-group-header-bg: #{$list-group-header-bg};
  --dx-list-group-header-font-weight: #{$list-group-header-font-weight};
  --dx-list-group-header-padding-block: #{$list-group-header-padding-block};
  --dx-list-header-indicator-content: #{$list-header-indicator-content};
  --dx-list-hold-menu-bg: #{$list-hold-menu-bg};
  --dx-list-hold-menu-border: var(--dx-list-border);
  --dx-list-hold-menu-shadow: #{$list-hold-menu-shadow};
  --dx-list-icon: #{$list-icon};
  --dx-list-inverted-content: #{$list-inverted-content};
  --dx-list-item-badge-container-width: #{$list-item-badge-container-width};
  --dx-list-item-bg-active: #{$list-item-bg-active};
  --dx-list-item-bg-hovered: #{$list-item-bg-hovered};
  --dx-list-item-bg-selected: #{$list-item-bg-selected};
  --dx-list-item-bg-selected-disabled: #{$list-item-bg-selected-disabled};
  --dx-list-item-bg-selected-focused: #{$list-item-bg-selected-focused};
  --dx-list-item-bg-selected-hovered: #{$list-item-bg-selected-hovered};
  --dx-list-item-border: #{$list-item-border};
  --dx-list-item-border-width: #{$list-item-border-width};
  --dx-list-item-content-hovered: #{$list-item-content-hovered};
  --dx-list-item-content-selected: var(--dx-list-normal-content);
  --dx-list-item-gap: #{$list-item-gap};
  --dx-list-item-ghost-bg: #{$list-item-ghost-bg};
  --dx-list-item-ghost-border: #{$list-item-ghost-border};
  --dx-list-item-ghost-border-width: #{$list-item-ghost-border-width};
  --dx-list-item-ghost-content: #{$list-item-ghost-content};
  --dx-list-item-height: #{$list-item-height};
  --dx-list-item-margin-inline: #{$list-item-margin-inline};
  --dx-list-item-padding-block: #{$list-item-padding-block};
  --dx-list-item-padding-inline: #{$list-item-padding-inline};
  --dx-list-items-row-gap: #{$list-items-row-gap};
  --dx-list-menu-button-default-bg: #{$list-menu-button-default-bg};
  --dx-list-menu-button-default-content: #{$list-menu-button-default-content};
  --dx-list-menu-button-delete-bg: #{$list-menu-button-delete-bg};
  --dx-list-next-button-padding: #{$list-next-button-padding};
  --dx-list-next-button-padding-inline: #{$list-next-button-padding-inline};
  --dx-list-normal-content: #{$list-normal-content};
  --dx-list-padding-block: #{$list-padding-block};
  --dx-list-response-wait-opacity: #{$list-response-wait-opacity};
  --dx-list-search-box-margin-block-end: #{$list-search-box-margin-block-end};
  --dx-list-select-all-height: #{$list-select-all-height};
  --dx-list-slide-menu-button-inset-block-end: #{$list-slide-menu-button-inset-block-end};
  --dx-list-slide-menu-button-menu-border: #{$list-slide-menu-button-menu-border};
  --dx-list-slide-menu-button-padding: #{$list-slide-menu-button-padding};
}
