<div id="chart-demo">
  <dx-chart
    id="zoomedChart"
    palette="soft"
    [dataSource]="chemicalComposition"
    title="The Chemical Composition of the Earth Layers"
  >
    <dxi-chart-series
      *ngFor="let item of seriesSource"
      [valueField]="item.valueField"
      [name]="item.name"
    >
    </dxi-chart-series>
    <dxo-chart-common-series-settings type="bar" [ignoreEmptyPoints]="true">
    </dxo-chart-common-series-settings>
    <dxi-chart-value-axis>
      <dxo-chart-label [customizeText]="customizeText"></dxo-chart-label>
    </dxi-chart-value-axis>
    <dxo-chart-argument-axis #argumentAxis> </dxo-chart-argument-axis>
    <dxo-chart-legend
      [visible]="true"
      verticalAlignment="top"
      horizontalAlignment="right"
      orientation="horizontal"
    >
      <dxo-chart-border [visible]="true"></dxo-chart-border>
    </dxo-chart-legend>
  </dx-chart>
  <dx-range-selector
    [dataSource]="chemicalComposition"
    [(value)]="argumentAxis.visualRange"
  >
    <dxo-range-selector-size [height]="120"></dxo-range-selector-size>
    <dxo-range-selector-margin [left]="10"></dxo-range-selector-margin>
    <dxo-range-selector-scale [minorTickCount]="1"></dxo-range-selector-scale>
    <dxo-range-selector-behavior valueChangeMode="onHandleMove"></dxo-range-selector-behavior>
    <dxo-range-selector-chart palette="soft">
      <dxo-range-selector-common-series-settings type="bar" [ignoreEmptyPoints]="true">
      </dxo-range-selector-common-series-settings>
      <dxi-range-selector-series
        *ngFor="let item of seriesSource"
        [valueField]="item.valueField"
        [name]="item.name"
      >
      </dxi-range-selector-series>
    </dxo-range-selector-chart>
  </dx-range-selector>
</div>
