.form {
  min-height: 690px;
}

.form .dx-field-value {
  text-align: right;
}

.dx-fieldset-header {
  padding: 10px 0;
}

.color-block {
  width: 360px;
  height: 254px;
  position: relative;
}

.hero-color-box {
  position: absolute;
  right: 0;
  left: 400px;
  top: 110px;
}

.superhero
.brush {
  position: absolute;
  height: 100%;
  width: 100%;
}

.hero-block {
  position: relative;
}

.superhero,
.dx-color-scheme-greenmist .superhero {
  fill: #404041;
}

.dx-color-scheme-dark .superhero,
.dx-color-scheme-darkmoon .superhero,
.dx-color-scheme-darkviolet .superhero,
.dx-color-scheme-blue-dark .superhero,
.dx-color-scheme-orange-dark .superhero,
.dx-color-scheme-teal-dark .superhero,
.dx-color-scheme-lime-dark .superhero,
.dx-color-scheme-purple-dark .superhero {
  fill: #a8a8a8;
}

.dx-color-scheme-contrast .superhero {
  fill: #fff;
}
