<div id="list-api-demo">
  <div class="widget-container">
    <dx-list
      [dataSource]="tasks"
      [height]="400"
      [allowItemDeleting]="allowDeletion"
      [itemDeleteMode]="itemDeleteMode"
    >
    </dx-list>
  </div>
  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <dx-check-box text="Allow deletion" [(value)]="allowDeletion">
      </dx-check-box>
    </div>
    <div class="option">
      <span>Item delete mode</span>
      <dx-select-box
        [disabled]="!allowDeletion"
        [items]="[
          'static',
          'toggle',
          'slideButton',
          'slideItem',
          'swipe',
          'context'
        ]"
        [inputAttr]="{ 'aria-label': 'Delete Mode' }"
        [(value)]="itemDeleteMode"
      >
      </dx-select-box>
    </div>
  </div>
</div>
