<dx-chart id="chart" title="Damped Sine Wave" [dataSource]="dataSource">
  <dxi-chart-pane name="top"></dxi-chart-pane>
  <dxi-chart-pane name="bottom"></dxi-chart-pane>
  <dxi-chart-series pane="top"></dxi-chart-series>
  <dxi-chart-series pane="bottom"></dxi-chart-series>
  <dxo-chart-common-axis-settings [endOnTick]="false"> </dxo-chart-common-axis-settings>
  <dxi-chart-value-axis
    title="Logarithmic Axis"
    type="logarithmic"
    pane="top"
    [linearThreshold]="-3"
  ></dxi-chart-value-axis>
  <dxi-chart-value-axis title="Linear Axis" pane="bottom"></dxi-chart-value-axis>
  <dxo-chart-tooltip [enabled]="true" format="exponential"></dxo-chart-tooltip>
  <dxo-chart-crosshair [enabled]="true">
    <dxo-chart-label [visible]="true">
      <dxo-chart-format type="fixedPoint" [precision]="2"></dxo-chart-format>
    </dxo-chart-label>
    <dxo-chart-horizontal-line [visible]="false"> </dxo-chart-horizontal-line>
  </dxo-chart-crosshair>
  <dxo-chart-legend [visible]="false"> </dxo-chart-legend>
</dx-chart>
