.dx-command-edit .dx-link {
    text-decoration: none;
    font-size: 18px;
    margin: 0 3px;
}

.dx-command-edit .dx-link:hover {
     opacity: 0.8;
}

#select-position {
    display: inline-block;
    vertical-align: middle;
}

.select-position span {
    vertical-align: middle;
    margin-right: 10px;
}