@use "../../../icon_fonts" as *;

@mixin chat-alertlist(
  $error-color,
  $padding-block,
  $padding-inline,
  $error-padding-block,
  $row-gap,
) {
  .dx-chat-alertlist {
    padding-block: $padding-block;
    padding-inline: $padding-inline;
    row-gap: $row-gap;
  }

  .dx-chat-alertlist:empty {
    padding-block: 0;
    padding-inline: 0;
  }

  .dx-chat-alertlist-error {
    &.dx-informer {
      color: $error-color;
      padding-block: $error-padding-block;
    }
  }
}
