@use "../sizes" as *;

// adduse

$material-dropdowneditor-list-font-size: null !default;
$material-dropdowneditor-list-line-height: null !default;


@if $size == "default" {
  $material-dropdowneditor-list-font-size: 14px !default;
  $material-dropdowneditor-list-line-height: 20px !default;
}

@else if $size == "compact" {
  $material-dropdowneditor-list-font-size: 13px !default;
  $material-dropdowneditor-list-line-height: 16px !default;
}
