@use "../sizes" as *;
// adduse

$MATERIAL_TABS_ITEM_PADDING: null !default;
$MATERIAL_TAB_TEXT_LINE_HEIGHT: null !default;
$MATERIAL_TAB_HEIGHT: null !default;
$MATERIAL_TAB_MIN_WIDTH: null !default;

@if $size == "default" {
    $MATERIAL_TABS_ITEM_PADDING: 12px 16px;
    $MATERIAL_TAB_TEXT_LINE_HEIGHT: 24px;
    $MATERIAL_TAB_HEIGHT: 48px;
    $MATERIAL_TAB_MIN_WIDTH: 90px;
}

@else if $size == "compact" {
    $MATERIAL_TABS_ITEM_PADDING: 6px 12px;
    $MATERIAL_TAB_TEXT_LINE_HEIGHT: 24px;
    $MATERIAL_TAB_HEIGHT: 36px;
    $MATERIAL_TAB_MIN_WIDTH: 82px;
}
