@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$lookup-icon-color: $base-icon-color !default;
$lookup-popover-arrow-border-color: $base-text-color !default;
$lookup-popover-arrow-bg: $base-bg !default;
