<dx-vector-map id="vector-map" [bounds]="[-180, 85, 180, -75]">
  <dxo-vector-map-tooltip
    [enabled]="true"
    [customizeTooltip]="customizeTooltip"
  ></dxo-vector-map-tooltip>
  <dxi-vector-map-layer
    [dataSource]="worldMap"
    name="areas"
    palette="Violet"
    [colorGroups]="[0, 0.5, 0.8, 1, 2, 3, 100]"
    colorGroupingField="population"
    [customize]="customizeLayers"
  >
    <dxo-vector-map-label
      [enabled]="true"
      dataField="name"
    ></dxo-vector-map-label>
  </dxi-vector-map-layer>
  <dxi-vector-map-layer
    [dataSource]="markers"
    name="markers"
    elementType="bubble"
    dataField="value"
    [sizeGroups]="[0, 8000, 10000, 50000]"
    opacity="0.8"
  >
    <dxo-vector-map-label [enabled]="false"></dxo-vector-map-label>
  </dxi-vector-map-layer>
  <dxi-vector-map-legend
    title="World Population<br/>Percentages"
    horizontalAlignment="left"
    verticalAlignment="bottom"
    [customizeItems]="customizeItems"
    [customizeText]="customizeText"
  >
    <dxo-vector-map-source
      layer="areas"
      grouping="color"
    ></dxo-vector-map-source>
  </dxi-vector-map-legend>
  <dxi-vector-map-legend
    title="City Population"
    markerShape="circle"
    horizontalAlignment="right"
    verticalAlignment="bottom"
    [customizeItems]="customizeItems"
    [customizeText]="customizeMarkers"
  >
    <dxo-vector-map-source
      layer="markers"
      grouping="size"
    ></dxo-vector-map-source>
  </dxi-vector-map-legend>
</dx-vector-map>
