@WIN10_RECURRENCE_EDITOR_NUMBERBOX_WIDTH: 85px;

.dx-recurrence-radiogroup-repeat-type-label,
.dx-recurrence-repeat-end-label {
    line-height: 30px;
}

.dx-recurrence-editor-container {
    padding-top: 17px;
}

.dx-recurrence-numberbox-interval,
.dx-recurrence-numberbox-day-of-month,
.dx-recurrence-numberbox-repeat-count {
    width: @WIN10_RECURRENCE_EDITOR_NUMBERBOX_WIDTH !important;
}
