<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  keyExpr="nameEn"
  [rtlEnabled]="rtlEnabled"
  [showBorders]="true"
>
  <dxo-data-grid-paging [pageSize]="15"></dxo-data-grid-paging>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>
  <dxo-data-grid-search-panel
    [visible]="true"
    [placeholder]="placeholder"
  ></dxo-data-grid-search-panel>

  <dxi-data-grid-column
    [dataField]="rtlEnabled ? 'nameAr' : 'nameEn'"
    [caption]="rtlEnabled ? 'الدولة' : 'Name'"
  >
  </dxi-data-grid-column>
  <dxi-data-grid-column
    [dataField]="rtlEnabled ? 'capitalAr' : 'capitalEn'"
    [caption]="rtlEnabled ? 'عاصمة' : 'Capital'"
  >
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="population"
    [caption]="rtlEnabled ? 'عدد السكان (نسمة) 2013' : 'Population'"
    [format]="{ type: 'fixedPoint', precision: 0 }"
  >
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="area"
    [headerCellTemplate]="rtlEnabled ? 'arabicTemplate' : 'englishTemplate'"
    [format]="{ type: 'fixedPoint', precision: 0 }"
  >
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="accession" [visible]="false"></dxi-data-grid-column>

  <div *dxTemplate="let item of 'englishTemplate'">
    <div>Area (km<sup>2</sup>)</div>
  </div>
  <div *dxTemplate="let item of 'arabicTemplate'">
    <div>المساحة (كم<sup>2</sup>)</div>
  </div>
</dx-data-grid>

<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Language:</span>
    <dx-select-box
      id="select-language"
      [items]="languages"
      [inputAttr]="{ 'aria-label': 'Language' }"
      [value]="languages[1]"
      [width]="250"
      (onValueChanged)="onSelectLanguage($event)"
    >
    </dx-select-box>
  </div>
</div>
