<dx-pie-chart
  id="pie"
  type="doughnut"
  title="Top Internet Languages"
  palette="Soft Pastel"
  [dataSource]="internetLanguages"
>
  <dxo-pie-chart-export [enabled]="true"></dxo-pie-chart-export>
  <dxo-pie-chart-legend
    horizontalAlignment="center"
    verticalAlignment="bottom"
  ></dxo-pie-chart-legend>
  <dxi-pie-chart-series argumentField="language" valueField="percent">
    <dxo-pie-chart-small-values-grouping
      mode="topN"
      [topCount]="3"
    ></dxo-pie-chart-small-values-grouping>
    <dxo-pie-chart-label
      [visible]="true"
      format="fixedPoint"
      [customizeText]="customizeLabel"
    >
      <dxo-pie-chart-connector [visible]="true" [width]="1"></dxo-pie-chart-connector>
    </dxo-pie-chart-label>
  </dxi-pie-chart-series>
</dx-pie-chart>
