@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
// adduse


$overlay-border-color: null !default;
$overlay-content-bg: null !default;
$overlay-shader-bg: null !default;


@if $mode == "light" {

  $overlay-border-color: $base-border-color !default;

  /**
    * $name 10. Content background color
    * $type color
    */
  $overlay-content-bg: $base-bg !default;

  /**
    * $name 20. Shader background color
    * $type color
    */
  $overlay-shader-bg: color.change($base-shadow-color, $alpha: 0.32) !default;
}

@if $mode == "dark" {

  $overlay-border-color: $base-border-color !default;

  /**
    * $name 10. Content background color
    * $type color
    */
  $overlay-content-bg: $base-bg !default;

  /**
    * $name 40. Shader background color
    * $type color
    */
  $overlay-shader-bg: color.change($base-shadow-color, $alpha: 0.61) !default;
}

