@use "../sizes" as *;

// adduse

$material-invalid-badge-size: null !default;

@if $size == "default" {
  $material-invalid-badge-size: $material-base-icon-size - 2px;
}

@else if $size == "compact" {
  $material-invalid-badge-size: $material-base-icon-size - 2px;
}
