<dx-html-editor height="750px" [value]="valueContent">
  <dxo-html-editor-table-context-menu
    [enabled]="contextMenuEnabled"
  ></dxo-html-editor-table-context-menu>
  <dxo-html-editor-table-resizing
    [enabled]="allowResizing"
  ></dxo-html-editor-table-resizing>
  <dxo-html-editor-toolbar>
    <dxi-html-editor-item name="bold"></dxi-html-editor-item>
    <dxi-html-editor-item name="color"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignLeft"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignCenter"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignRight"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertTable"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertHeaderRow"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertRowAbove"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertRowBelow"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertColumnLeft"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertColumnRight"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="deleteColumn"></dxi-html-editor-item>
    <dxi-html-editor-item name="deleteRow"></dxi-html-editor-item>
    <dxi-html-editor-item name="deleteTable"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="cellProperties"></dxi-html-editor-item>
    <dxi-html-editor-item name="tableProperties"></dxi-html-editor-item>
  </dxo-html-editor-toolbar>
</dx-html-editor>

<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <dx-check-box
      text="Allow Table Resizing"
      [(value)]="allowResizing"
    ></dx-check-box>
  </div>
  <div class="option">
    <dx-check-box
      text="Enable Table Context Menu"
      [(value)]="contextMenuEnabled"
    ></dx-check-box>
  </div>
</div>
