@use "colors" as *;
@use "sizes" as *;
@use "variables" as *;
@use "layout/aiChat/sizes" as *;

@mixin publish {
  --dx-grid-adaptive-column-height: #{$grid-adaptive-column-height};
  --dx-grid-after-inset-inline-end: #{$grid-after-inset-inline-end};
  --dx-grid-ai-chat-message-border-rest: #{$grid-ai-chat-message-border-rest};
  --dx-grid-ai-chat-message-error-content-rest: #{$grid-ai-chat-message-error-content-rest};
  --dx-grid-ai-chat-message-icon-size: #{$grid-ai-chat-message-icon-size};
  --dx-grid-ai-chat-message-pending-content-rest: #{$grid-ai-chat-message-pending-content-rest};
  --dx-grid-ai-chat-message-success-content-rest: #{$grid-ai-chat-message-success-content-rest};
  --dx-grid-ai-prompt-editor-progress-bar-height: #{$grid-ai-prompt-editor-progress-bar-height};
  --dx-grid-bg-rest: #{$grid-bg-rest};
  --dx-grid-border: #{$grid-border};
  --dx-grid-border-focused: #{$grid-border-focused};
  --dx-grid-border-radius: #{$grid-border-radius};
  --dx-grid-border-rest: #{$grid-border-rest};
  --dx-grid-cell-border-inline-end: #{$grid-cell-border-inline-end};
  --dx-grid-cell-font-size: #{$grid-cell-font-size};
  --dx-grid-cell-height: #{$grid-cell-height};
  --dx-grid-cell-line-height: #{$grid-cell-line-height};
  --dx-grid-cell-modified-bg-rest: #{$grid-cell-modified-bg-rest};
  --dx-grid-cell-padding: #{$grid-cell-padding};
  --dx-grid-cell-padding-block: #{$grid-cell-padding-block};
  --dx-grid-cell-padding-inline: #{$grid-cell-padding-inline};
  --dx-grid-cell-removed-border-rest: #{if($grid-cell-removed-border-rest == $grid-border-rest, var(--dx-grid-border-rest), $grid-cell-removed-border-rest)};
  --dx-grid-cell-removed-content-rest: #{if($grid-cell-removed-content-rest == $grid-column-chooser-item-content-rest, var(--dx-grid-column-chooser-item-content-rest), $grid-cell-removed-content-rest)};
  --dx-grid-checkbox-size: #{$grid-checkbox-size};
  --dx-grid-chevron-icon-rest: #{$grid-chevron-icon-rest};
  --dx-grid-column-chooser-bg-rest: #{$grid-column-chooser-bg-rest};
  --dx-grid-column-chooser-font-weight: #{$grid-column-chooser-font-weight};
  --dx-grid-column-chooser-item-bg-rest: #{if($grid-column-chooser-item-bg-rest == $grid-column-chooser-bg-rest, var(--dx-grid-column-chooser-bg-rest), $grid-column-chooser-item-bg-rest)};
  --dx-grid-column-chooser-item-content-rest: #{if($grid-column-chooser-item-content-rest == $grid-content-rest, var(--dx-grid-content-rest), $grid-column-chooser-item-content-rest)};
  --dx-grid-column-chooser-item-height: #{$grid-column-chooser-item-height};
  --dx-grid-column-chooser-item-margin: #{$grid-column-chooser-item-margin};
  --dx-grid-column-chooser-list-item-margin: #{$grid-column-chooser-list-item-margin};
  --dx-grid-column-chooser-message-content-rest: #{$grid-column-chooser-message-content-rest};
  --dx-grid-column-chooser-padding: #{$grid-column-chooser-padding};
  --dx-grid-column-chooser-padding-inline: #{$grid-column-chooser-padding-inline};
  --dx-grid-column-separator-bg-rest: #{$grid-column-separator-bg-rest};
  --dx-grid-command-ai-button-max-width: #{$grid-command-ai-button-max-width};
  --dx-grid-command-ai-content-padding-inline-start: #{$grid-command-ai-content-padding-inline-start};
  --dx-grid-command-ai-icon-size: #{$grid-command-ai-icon-size};
  --dx-grid-command-edit-column-width: #{$grid-command-edit-column-width};
  --dx-grid-command-edit-column-with-icons-width: #{$grid-command-edit-column-with-icons-width};
  --dx-grid-command-edit-icon-margin: #{$grid-command-edit-icon-margin};
  --dx-grid-command-edit-icon-size: #{$grid-command-edit-icon-size};
  --dx-grid-command-edit-text-margin: #{$grid-command-edit-text-margin};
  --dx-grid-command-select-column-width: #{$grid-command-select-column-width};
  --dx-grid-content-focused: #{$grid-content-focused};
  --dx-grid-content-padding: #{$grid-content-padding};
  --dx-grid-content-rest: #{$grid-content-rest};
  --dx-grid-drag-header-bg-rest: #{if($grid-drag-header-bg-rest == $grid-bg-rest, var(--dx-grid-bg-rest), $grid-drag-header-bg-rest)};
  --dx-grid-drag-header-border-rest: #{$grid-drag-header-border-rest};
  --dx-grid-drag-header-shadow-ambient-rest: #{$grid-drag-header-shadow-ambient-rest};
  --dx-grid-drag-header-shadow-key-rest: #{$grid-drag-header-shadow-key-rest};
  --dx-grid-draggable-column-content-rest: #{$grid-draggable-column-content-rest};
  --dx-grid-drop-highlight-bg-rest: #{$grid-drop-highlight-bg-rest};
  --dx-grid-drop-highlight-content-rest: #{$grid-drop-highlight-content-rest};
  --dx-grid-editor-bg-rest: #{$grid-editor-bg-rest};
  --dx-grid-editor-input-border-block-end-width: #{$grid-editor-input-border-block-end-width};
  --dx-grid-editor-input-padding: #{$grid-editor-input-padding};
  --dx-grid-error-message-padding-inline-end: #{$grid-error-message-padding-inline-end};
  --dx-grid-filter-operation-icon-margin-block-start: #{$grid-filter-operation-icon-margin-block-start};
  --dx-grid-filter-panel-content-rest: #{$grid-filter-panel-content-rest};
  --dx-grid-filter-panel-icon-size: #{$grid-filter-panel-icon-size};
  --dx-grid-filter-panel-padding: #{$grid-filter-panel-padding};
  --dx-grid-filter-row-bg-rest: #{$grid-filter-row-bg-rest};
  --dx-grid-filter-row-editor-padding-inline: #{$grid-filter-row-editor-padding-inline};
  --dx-grid-group-panel-item-margin-inline: #{$grid-group-panel-item-margin-inline};
  --dx-grid-group-panel-message-line-height: #{$grid-group-panel-message-line-height};
  --dx-grid-group-row-bg-rest: #{$grid-group-row-bg-rest};
  --dx-grid-group-row-content-rest: #{if($grid-group-row-content-rest == $grid-column-chooser-item-content-rest, var(--dx-grid-column-chooser-item-content-rest), $grid-group-row-content-rest)};
  --dx-grid-header-cell-font-size: #{if($grid-header-cell-font-size == $grid-cell-font-size, var(--dx-grid-cell-font-size), $grid-header-cell-font-size)};
  --dx-grid-header-cell-padding-block: #{$grid-header-cell-padding-block};
  --dx-grid-header-cell-sort-index-margin-inline-start: #{$grid-header-cell-sort-index-margin-inline-start};
  --dx-grid-header-filter-empty-icon-rest: #{if($grid-header-filter-empty-icon-rest == $grid-header-filter-icon-rest, var(--dx-grid-header-filter-icon-rest), $grid-header-filter-empty-icon-rest)};
  --dx-grid-header-filter-icon-active: #{$grid-header-filter-icon-active};
  --dx-grid-header-filter-icon-rest: #{if($grid-header-filter-icon-rest == $grid-column-chooser-item-content-rest, var(--dx-grid-column-chooser-item-content-rest), $grid-header-filter-icon-rest)};
  --dx-grid-header-height: #{$grid-header-height};
  --dx-grid-header-icon-container-size: #{$grid-header-icon-container-size};
  --dx-grid-header-icon-size: #{$grid-header-icon-size};
  --dx-grid-header-line-height: #{$grid-header-line-height};
  --dx-grid-header-panel-padding: #{$grid-header-panel-padding};
  --dx-grid-header-row-padding-block-end: #{$grid-header-row-padding-block-end};
  --dx-grid-header-row-padding-block-start: #{$grid-header-row-padding-block-start};
  --dx-grid-hidden-border: #{$grid-hidden-border};
  --dx-grid-icon-button-border-radius: #{$grid-icon-button-border-radius};
  --dx-grid-icon-link-opacity-disabled: #{$grid-icon-link-opacity-disabled};
  --dx-grid-icon-margin: #{$grid-icon-margin};
  --dx-grid-icon-rest: #{$grid-icon-rest};
  --dx-grid-link-content-rest: #{$grid-link-content-rest};
  --dx-grid-link-icon-min-width: #{$grid-link-icon-min-width};
  --dx-grid-margin-inline-start: #{$grid-margin-inline-start};
  --dx-grid-master-detail-cell-bg-rest: #{$grid-master-detail-cell-bg-rest};
  --dx-grid-master-detail-padding: #{$grid-master-detail-padding};
  --dx-grid-menu-item-icon-size: #{$grid-menu-item-icon-size};
  --dx-grid-menu-item-padding: #{$grid-menu-item-padding};
  --dx-grid-no-data-content-rest: #{$grid-no-data-content-rest};
  --dx-grid-no-data-font-size: #{$grid-no-data-font-size};
  --dx-grid-outline-focused: #{$grid-outline-focused};
  --dx-grid-overlay-content-padding: #{$grid-overlay-content-padding};
  --dx-grid-popup-title-border-block-end: #{$grid-popup-title-border-block-end};
  --dx-grid-revert-button-margin: #{$grid-revert-button-margin};
  --dx-grid-row-alternation-bg-rest: #{$grid-row-alternation-bg-rest};
  --dx-grid-row-bg-focused: #{$grid-row-bg-focused};
  --dx-grid-row-bg-hovered: #{$grid-row-bg-hovered};
  --dx-grid-row-border: #{$grid-row-border};
  --dx-grid-row-border-block-start-focused: #{$grid-row-border-block-start-focused};
  --dx-grid-row-border-selected: #{if($grid-row-border-selected == $grid-border-rest, var(--dx-grid-border-rest), $grid-row-border-selected)};
  --dx-grid-row-content-focused: #{$grid-row-content-focused};
  --dx-grid-row-content-hovered: #{$grid-row-content-hovered};
  --dx-grid-row-content-selected: #{if($grid-row-content-selected == $grid-content-rest, var(--dx-grid-content-rest), $grid-row-content-selected)};
  --dx-grid-row-error-bg-rest: #{$grid-row-error-bg-rest};
  --dx-grid-row-error-content-rest: #{$grid-row-error-content-rest};
  --dx-grid-row-invalid-bg-rest: #{$grid-row-invalid-bg-rest};
  --dx-grid-row-lines-border-block-end: #{$grid-row-lines-border-block-end};
  --dx-grid-row-lines-border-block-start: #{$grid-row-lines-border-block-start};
  --dx-grid-row-lines-border-inline-start: #{$grid-row-lines-border-inline-start};
  --dx-grid-row-removed-bg-rest: #{if($grid-row-removed-bg-rest == $grid-row-bg-hovered, var(--dx-grid-row-bg-hovered), $grid-row-removed-bg-rest)};
  --dx-grid-row-removed-border-block-end: #{$grid-row-removed-border-block-end};
  --dx-grid-row-removed-border-block-start: #{$grid-row-removed-border-block-start};
  --dx-grid-search-bg-rest: #{$grid-search-bg-rest};
  --dx-grid-search-content-rest: #{$grid-search-content-rest};
  --dx-grid-selection-bg-rest: #{$grid-selection-bg-rest};
  --dx-grid-sort-index-icon-inset-block-end: #{$grid-sort-index-icon-inset-block-end};
  --dx-grid-sort-index-icon-margin-inline-start: #{$grid-sort-index-icon-margin-inline-start};
  --dx-grid-sort-index-icon-padding-inline-end: #{$grid-sort-index-icon-padding-inline-end};
  --dx-grid-summary-bg-rest: #{if($grid-summary-bg-rest == $grid-bg-rest, var(--dx-grid-bg-rest), $grid-summary-bg-rest)};
  --dx-grid-summary-content-rest: #{$grid-summary-content-rest};
  --dx-grid-text-link-opacity-disabled: #{$grid-text-link-opacity-disabled};
  --dx-grid-tree-view-node-padding-inline-start: #{$grid-tree-view-node-padding-inline-start};
  --dx-grid-tree-view-search-margin-block-end: #{$grid-tree-view-search-margin-block-end};
  --dx-grid-tree-view-select-all-item-padding-inline-start: #{$grid-tree-view-select-all-item-padding-inline-start};
  --dx-grid-validation-pending-padding: #{$grid-validation-pending-padding};
}
