<div id="data-grid-demo">
  <dx-data-grid [dataSource]="payments">
    <dxi-column
      dataField="PaymentId"
      [caption]="formatMessage('Number')"
      [allowEditing]="false"
      width="100"
    >
    </dxi-column>
    <dxi-column dataField="ContactName" [caption]="formatMessage('Contact')">
    </dxi-column>
    <dxi-column dataField="CompanyName" [caption]="formatMessage('Company')">
    </dxi-column>
    <dxi-column
      dataField="Amount"
      [caption]="formatMessage('Amount')"
      dataType="number"
      format="currency"
      [editorOptions]="{
        format: 'currency',
        showClearButton: true
      }"
    >
    </dxi-column>
    <dxi-column
      dataField="PaymentDate"
      [caption]="formatMessage('PaymentDate')"
      dataType="date"
    >
    </dxi-column>
    <dxo-filter-row [visible]="true" [applyFilter]="auto"> </dxo-filter-row>
    <dxo-editing mode="popup" [allowUpdating]="true">
      <dxo-popup [width]="700" [height]="345"> </dxo-popup>
    </dxo-editing>
  </dx-data-grid>

  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <label for="selectInput">Language</label>
      <dx-select-box
        id="selectBox"
        [dataSource]="locales"
        [inputAttr]="{ 'aria-label': 'Language' }"
        displayExpr="Name"
        valueExpr="Value"
        [value]="locale"
        (onValueChanged)="changeLocale($event)"
        [inputAttr]="{ id: 'selectInput' }"
      >
      </dx-select-box>
    </div>
  </div>
</div>
