@use "../sizes" as *;

// adduse

$generic-toast-line-height: null !default;
$generic-toast-icon-size: null !default;
$generic-toast-content-padding: null !default;

@if $size == "default" {
  $generic-toast-line-height: 32px;
  $generic-toast-icon-size: 35px;
  $generic-toast-content-padding: 10px;
}

@else if $size == "compact" {
  $generic-toast-line-height: 25px;
  $generic-toast-icon-size: 25px;
  $generic-toast-content-padding: 5px;
}
