@use "../sizes" as *;
// adduse

$GENERIC_TOAST_LINE_HEIGHT: null !default;
$GENERIC_TOAST_ICON_SIZE: null !default;
$GENERIC_TOAST_CONTENT_PADDING: null !default;

@if $size == "default" {
    $GENERIC_TOAST_LINE_HEIGHT: 32px;
    $GENERIC_TOAST_ICON_SIZE: 35px;
    $GENERIC_TOAST_CONTENT_PADDING: 10px;
}

@else if $size == "compact" {
    $GENERIC_TOAST_LINE_HEIGHT: 25px;
    $GENERIC_TOAST_ICON_SIZE: 25px;
    $GENERIC_TOAST_CONTENT_PADDING: 5px;
}
