@mixin dx-simple-button {
  .dx-simple-button {
    display: block;
    padding: 5px 15px;
    background: transparent;
    border: 1px solid #ff40818a;
    border-radius: 4px;
    color: #ff40818a;
    outline: none;
    cursor: pointer;
  }
}
