<dx-chart
  id="chart"
  [dataSource]="relativeMasses"
  title="Relative Masses of the Heaviest Solar System Objects"
  [customizePoint]="customizePoint"
>
  <dxi-chart-series type="scatter" valueField="mass" argumentField="name">
    <dxo-chart-point [size]="20"></dxo-chart-point>
  </dxi-chart-series>
  <dxo-chart-common-pane-settings>
    <dxo-chart-border [visible]="true"></dxo-chart-border>
  </dxo-chart-common-pane-settings>
  <dxo-chart-argument-axis>
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    <dxo-chart-label rotationAngle="20" overlappingBehavior="rotate"> </dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxi-chart-value-axis type="logarithmic" title="Mass Relative to the Earth">
  </dxi-chart-value-axis>
  <dxo-chart-tooltip [enabled]="true"></dxo-chart-tooltip>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
</dx-chart>
