<div class="tables">
  <div *ngFor="let status of statuses" class="column">
    <dx-data-grid
      [dataSource]="dataSource"
      [height]="440"
      [showBorders]="true"
      [filterValue]="['Status', '=', status]"
    >
      <dxo-data-grid-row-dragging
        [data]="status"
        group="tasksGroup"
        [onAdd]="onAdd"
      ></dxo-data-grid-row-dragging>
      <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>

      <dxi-data-grid-column dataField="Subject" dataType="string"></dxi-data-grid-column>
      <dxi-data-grid-column dataField="Priority" dataType="number" [width]="80">
        <dxo-data-grid-lookup
          [dataSource]="priorities"
          valueExpr="id"
          displayExpr="text"
        ></dxo-data-grid-lookup>
      </dxi-data-grid-column>
      <dxi-data-grid-column
        dataField="Status"
        dataType="number"
        [visible]="false"
      ></dxi-data-grid-column>
    </dx-data-grid>
  </div>
</div>
