<div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Data grouped in the DataSource</div>
        <div class="dx-field-value">
            <dx-select-box [dataSource]="fromUngroupedData"
                valueExpr="ID"
                [grouped]="true"
                displayExpr="Name"></dx-select-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Pre-grouped data</div>
        <div class="dx-field-value">
            <dx-select-box [dataSource]="fromPregroupedData"
                valueExpr="ID"
                [grouped]="true"
                displayExpr="Name"></dx-select-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Custom group template</div>
        <div class="dx-field-value">
            <dx-select-box [dataSource]="fromUngroupedData"
                valueExpr="ID"
                [grouped]="true"
                displayExpr="Name"
                [searchEnabled]="true"
                groupTemplate="group">
                <div *dxTemplate="let data of 'group'">
                    <div class="custom-icon">
                        <span class="dx-icon-box icon"></span>
                        {{data.key}}
                    </div>
                </div>
            </dx-select-box>
        </div>
    </div>
</div>