// Base inline widgets paddings
@MATERIAL_BASE_INLINE_WIDGET_VERTICAL_PADDING:
    @MATERIAL_BASE_INLINE_WIDGET_HEIGHT - @MATERIAL_BASE_INLINE_BLOCK_HEIGHT;
@MATERIAL_BASE_INLINE_WIDGET_TOP_PADDING:
    floor(@MATERIAL_BASE_INLINE_WIDGET_VERTICAL_PADDING/2);

// Base bordered inline widgets sizes
@MATERIAL_BASE_BORDER_WIDTH: 1px;
@MATERIAL_BASE_INLINE_BORDEREDWIDGET_INNER_SIZE:
    @MATERIAL_BASE_INLINE_WIDGET_HEIGHT - @MATERIAL_BASE_BORDER_WIDTH * 2;
@MATERIAL_BASE_INLINE_BORDEREDWIDGET_TOP_PADDING:
    @MATERIAL_BASE_INLINE_WIDGET_TOP_PADDING - @MATERIAL_BASE_BORDER_WIDTH;
