@use "../sizes" as *;

// adduse

$generic-lookup-popup-content-top: null !default;
$generic-lookup-popup-content-padding: null !default;
$generic-lookup-list-top: null !default;

@if $size == "default" {
  $generic-lookup-popup-content-top: 49px !default;
  $generic-lookup-popup-content-padding: 20px !default;
  $generic-lookup-list-top: 70px !default;
}

@else if $size == "compact" {
  $generic-lookup-popup-content-top: 36px !default;
  $generic-lookup-popup-content-padding: 10px !default;
  $generic-lookup-list-top: 40px !default;
}
