$base-font-family: getCustomVar(("$base-font-family")) !default;
$base-border-radius: getCustomVar(($base-border-radius)) !default;
$base-accent: getCustomVar(("$base-accent")) !default;

@use "sass:color";
$color: null !default;

$base-font-family: null !default;
$base-border-radius: null !default;
$base-accent: null !default;


@if $color == "light" {
  $base-border-radius: 10px;
  $base-font-family: 'Helvetica Neue','Segoe UI',helvetica,verdana,sans-serif !default;
  $base-accent: #337ab7 !default;
}


$never-used: collector(
(
"$base-border-radius": $base-border-radius,
"$base-font-family": $base-font-family,
"$base-accent": $base-accent,
12345: "",
)
);
