$chat-file-name-font-weight: 600 !default;
$chat-editing-preview-caption-font-weight: 500 !default;

@use "../mixins" as *;
@use "layout/chat" as *;
@use "layout/chat-avatar" as *;
@use "layout/chat-fileview" as * with (
  $file-name-font-weight: $chat-file-name-font-weight,
);
@use "layout/chat-alertlist" as *;
@use "layout/chat-messagebox" as *;
@use "layout/chat-messagebox-editing-preview" as * with (
  $editing-preview-caption-font-weight: $chat-editing-preview-caption-font-weight,
);
@use "layout/chat-messagebubble" as *;
@use "layout/chat-confirmationpopup" as *;
@use "layout/chat-messagegroup" as *;
@use "layout/chat-messagelist" as *;
@use "layout/chat-suggestions" as *;
@use "layout/chat-typingindicator" as *;

// adduse
