@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Filename text color
* $type color
*/
$fileuploader-filename-color: $base-text-color !default;

/**
* $name 20. File status text color
* $type color
*/
$fileuploader-falename-status-color: null !default;

/**
* $name 30. Border color on dragover
* $type color
*/
$fileuploader-border-color: $base-border-color !default;

@if $color == "carmine" {
  $fileuploader-falename-status-color: lighten($fileuploader-filename-color, 40%) !default;
}

@if $color == "contrast" {
  $fileuploader-falename-status-color: $base-text-color !default;
}

@if $color == "dark" {
  $fileuploader-falename-status-color: darken($fileuploader-filename-color, 40%) !default;
}

@if $color == "darkmoon" {
  $fileuploader-falename-status-color: darken($fileuploader-filename-color, 40%) !default;
}

@if $color == "darkviolet" {
  $fileuploader-falename-status-color: darken($fileuploader-filename-color, 40%) !default;
}

@if $color == "greenmist" {
  $fileuploader-falename-status-color: lighten($fileuploader-filename-color, 40%) !default;
}

@if $color == "light" {
  $fileuploader-falename-status-color: lighten($fileuploader-filename-color, 40%) !default;
}

@if $color == "softblue" {
  $fileuploader-falename-status-color: lighten($fileuploader-filename-color, 40%) !default;
}
