@use "../sizes" as *;
// adduse

$GENERIC_FILEUPLOADER_VERTICAL_PADDING: null !default;

@if $size == "default" {
  $GENERIC_FILEUPLOADER_VERTICAL_PADDING: 7px;
}

@else if $size == "compact" {
  $GENERIC_FILEUPLOADER_VERTICAL_PADDING: 2px;
}
