<div id="content-wrapper">
  <div class="options">
    <div class="caption">Options</div>
    <div class="editors-modes">
      <div class="option">
        <dx-select-box
          [items]="['outlined', 'filled', 'underlined']"
          [inputAttr]="{ 'aria-label': 'Styling Mode' }"
          stylingMode="outlined"
          label="Styling Mode"
          labelMode="outside"
          [(value)]="stylingMode"
        ></dx-select-box>
      </div>
      <div class="option">
        <dx-select-box
          [items]="['floating', 'static', 'hidden', 'outside']"
          [inputAttr]="{ 'aria-label': 'Label Mode' }"
          stylingMode="outlined"
          label="Label Mode"
          labelMode="outside"
          [(value)]="labelMode"
        ></dx-select-box>
      </div>
    </div>
  </div>
  <div class="widgets-container">
    <div class="title">Edit Profile</div>
    <dx-text-box
      value="Olivia Peyton"
      [inputAttr]="{ 'aria-label': 'Name' }"
      label="Name"
      id="name"
      placeholder="Type..."
      [stylingMode]="stylingMode"
      [labelMode]="labelMode"
    >
      <dx-validator>
        <dxi-validation-rule type="required"> </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
    <dx-text-box
      label="Address"
      [inputAttr]="{ 'aria-label': 'Address' }"
      placeholder="Type..."
      id="address"
      [stylingMode]="stylingMode"
      [labelMode]="labelMode"
    >
      <dx-validator>
        <dxi-validation-rule type="required"> </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
    <dx-date-box
      label="Hire Date"
      id="hire-date"
      placeholder="Select..."
      [stylingMode]="stylingMode"
      [labelMode]="labelMode"
      [inputAttr]="{ 'aria-label': 'Hire Date' }"
    >
      <dx-validator>
        <dxi-validation-rule type="required"> </dxi-validation-rule>
      </dx-validator>
    </dx-date-box>
    <dx-date-box
      [value]="birthDate"
      label="Birth Date"
      id="birth-date"
      placeholder="Select..."
      [stylingMode]="stylingMode"
      [labelMode]="labelMode"
      [inputAttr]="{ 'aria-label': 'Birth Date' }"
    >
      <dx-validator>
        <dxi-validation-rule type="required"> </dxi-validation-rule>
      </dx-validator>
    </dx-date-box>
    <dx-select-box
      [items]="states"
      placeholder="Select..."
      [inputAttr]="{ 'aria-label': 'State' }"
      label="State"
      id="state"
      [stylingMode]="stylingMode"
      [labelMode]="labelMode"
    >
      <dx-validator>
        <dxi-validation-rule type="required"> </dxi-validation-rule>
      </dx-validator>
    </dx-select-box>
    <dx-text-box
      label="Phone"
      [inputAttr]="{ 'aria-label': 'Phone' }"
      mask="+1 (000) 000-0000"
      id="phone"
      [maskRules]="phoneRules"
      [stylingMode]="stylingMode"
      [labelMode]="labelMode"
    >
      <dx-validator>
        <dxi-validation-rule type="required"> </dxi-validation-rule>
      </dx-validator>
    </dx-text-box>
    <dx-date-range-box
      [stylingMode]="stylingMode"
      [labelMode]="labelMode"
      id="vacation-dates"
      startDate="6/3/2023"
      startDateLabel="Start Vacation Date"
      endDate="12/3/2023"
      endDateLabel="End Vacation Date"
    ></dx-date-range-box>
    <dx-text-area
      value="Olivia loves to sell. She has been selling DevAV products since 2012."
      placeholder="Type..."
      label="Notes"
      id="notes"
      [stylingMode]="stylingMode"
      [labelMode]="labelMode"
      [inputAttr]="{ 'aria-label': 'Notes' }"
    ></dx-text-area>
  </div>
  <dx-button
    text="Save"
    type="default"
    icon="save"
    id="validate"
    (onClick)="validateClick($event)"
    class="validate"
  ></dx-button>
</div>
