<dx-pie-chart
  id="pie"
  title="Olympic Medals in 2008"
  palette="bright"
  [dataSource]="olympicMedals"
>
  <dxo-pie-chart-legend
    orientation="horizontal"
    itemTextPosition="right"
    horizontalAlignment="center"
    verticalAlignment="bottom"
    [columnCount]="4"
  ></dxo-pie-chart-legend>
  <dxo-pie-chart-export [enabled]="true"></dxo-pie-chart-export>
  <dxi-pie-chart-series argumentField="country" valueField="medals">
    <dxo-pie-chart-label
      [visible]="true"
      position="columns"
      [customizeText]="customizeLabel"
    >
      <dxo-pie-chart-font [size]="16"></dxo-pie-chart-font>
      <dxo-pie-chart-connector [visible]="true" [width]="0.5"></dxo-pie-chart-connector>
    </dxo-pie-chart-label>
  </dxi-pie-chart-series>
</dx-pie-chart>
