<dx-tree-list
  id="employees"
  [dataSource]="employees"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [expandedRowKeys]="[1]"
>
  <dxo-tree-list-header-filter [visible]="true"></dxo-tree-list-header-filter>
  <dxo-tree-list-selection mode="single"></dxo-tree-list-selection>
  <dxi-tree-list-column dataField="Full_Name"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Title" caption="Position">
    <dxo-tree-list-header-filter [allowSelectAll]="false">
      <dxo-tree-list-search [enabled]="true"></dxo-tree-list-search>
    </dxo-tree-list-header-filter>
  </dxi-tree-list-column>
  <dxi-tree-list-column dataField="City">
    <dxo-tree-list-header-filter>
      <dxo-tree-list-search
        [enabled]="true"
        [searchExpr]="searchExpr"
        [editorOptions]="editorOptions"
      ></dxo-tree-list-search>
    </dxo-tree-list-header-filter>
  </dxi-tree-list-column>
  <dxi-tree-list-column dataField="State"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Mobile_Phone"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Hire_Date" dataType="date"></dxi-tree-list-column>
</dx-tree-list>
