@use "../sizes" as *;

// adduse

$generic-tabpanel-tabs-item-padding: null !default;

@if $size == "default" {
  $generic-tabpanel-tabs-item-padding: 9px !default;
}

@else if $size == "compact" {
  $generic-tabpanel-tabs-item-padding: 4px !default;
}
