<dx-data-grid
  id="grid"
  [dataSource]="dataSource"
  [repaintChangesOnly]="true"
  [showBorders]="true"
>
  <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>
  <dxo-data-grid-editing
    mode="cell"
    [refreshMode]="refreshMode"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
  >
  </dxo-data-grid-editing>

  <dxi-data-grid-column dataField="CustomerID" caption="Customer">
    <dxo-data-grid-lookup
      [dataSource]="customersData"
      valueExpr="Value"
      displayExpr="Text"
    ></dxo-data-grid-lookup>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Freight"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="ShipCountry"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="ShipVia" caption="Shipping Company" dataType="number">
    <dxo-data-grid-lookup
      [dataSource]="shippersData"
      valueExpr="Value"
      displayExpr="Text"
    ></dxo-data-grid-lookup>
  </dxi-data-grid-column>

  <dxo-data-grid-summary>
    <dxi-data-grid-total-item column="CustomerID" summaryType="count"> </dxi-data-grid-total-item>
    <dxi-data-grid-total-item column="Freight" summaryType="sum" valueFormat="#0.00">
    </dxi-data-grid-total-item>
  </dxo-data-grid-summary>
</dx-data-grid>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Refresh Mode:</span>
    <dx-select-box
      [(value)]="refreshMode"
      [items]="refreshModes"
      [inputAttr]="{ 'aria-label': 'Refresh Mode' }"
    >
    </dx-select-box>
  </div>
  <div id="requests">
    <div>
      <div class="caption">Network Requests</div>
      <dx-button id="clear" text="Clear" (onClick)="clearRequests()">
      </dx-button>
    </div>
    <ul>
      <li *ngFor="let request of requests">{{ request }}</li>
    </ul>
  </div>
</div>
