@use "../sizes" as *;

// adduse

$fluent-menu-vertical-padding: null !default;

@if $size == "default" {
  $fluent-menu-vertical-padding: 6px !default;
}

@if $size == "compact" {
  $fluent-menu-vertical-padding: 4px !default;
}

