@use "sass:math";
@use "colors" as *;
@use "sizes" as *;
@use "../../base/mixins" as *;
@use "../../base/icon_fonts" as *;
@use "../gridBase" as *;
@use "../gridBase/colors" as gridBaseColors;
@use "../gridBase/sizes" as gridBaseSizes;
@use "../../base/treeList" as baseTreeList with (
  $treelist-expandable-node-line-height: var(--dx-tree-list-empty-space-height),
  $treelist-sticky-column-border: var(--dx-tree-list-sticky-column-border),
  $treelist-cell-focus-outline: var(--dx-tree-list-cell-outline-focused),
  $treelist-header-filter-outline: var(--dx-grid-outline-focused),
  $treelist-header-filter-outline-offset: var(--dx-tree-list-outline-offset-focused),
  $treelist-button-margin-left: var(--dx-tree-list-form-buttons-margin-inline-start),
  $treelist-button-margin-top: var(--dx-tree-list-form-buttons-margin-block-start),
  $treelist-error-message-margin-bottom: var(--dx-tree-list-error-message-margin-block-end),
  $treelist-button-margin-right: var(--dx-tree-list-form-buttons-rtl-margin-inline-start),
  $datagrid-border: gridBaseSizes.$grid-border-width solid,
  $datagrid-drag-header-border-color: gridBaseColors.$grid-drag-header-border,
  $datagrid-row-error-bg: gridBaseColors.$grid-row-error-bg,
  $datagrid-base-color: gridBaseColors.$grid-content,
  $datagrid-base-background-color: gridBaseColors.$grid-bg,
  $datagrid-border-color: gridBaseColors.$grid-border,
  $datagrid-focused-border-color: gridBaseColors.$grid-border-focused,
  $datagrid-text-stub-background-image-path: gridBaseColors.$grid-text-stub-bg,
  $datagrid-row-error-color: gridBaseColors.$grid-row-error-content,
  $header-filter-color: gridBaseColors.$grid-header-filter-icon,
  $header-filter-color-empty: gridBaseColors.$grid-header-filter-empty-icon,
  $base-focus-color: gridBaseColors.$grid-content-focused,
);
@use "layout/cell";
@include grid-base(treelist);

.dx-treelist-rowsview {
  tr:not(.dx-row-focused) .dx-treelist-empty-space {
    color: var(--dx-tree-list-chevron-icon);
  }

  .dx-sort-up,
  .dx-sort-down,
  .dx-header-filter {
    vertical-align: middle;
  }

  tr:not(.dx-row-focused).dx-selection {
    .dx-treelist-empty-space {
      color: var(--dx-tree-list-chevron-icon-selected);
    }
  }

  .dx-treelist-cell-expandable {
    .dx-treelist-text-content {
      white-space: normal;
    }
  }

  &.dx-treelist-nowrap .dx-treelist-table {
    .dx-treelist-cell-expandable {
      .dx-treelist-text-content {
        white-space: nowrap;
      }
    }
  }
}
