.dx-tooltip-wrapper {
    height: 0; // NOTE: T254808

    .dx-popover-arrow:after {
        content: none;
    }

    .dx-overlay-content {
        padding: 5px 7px;
        border-radius: 2px;
        background-color: fade(#616161, 90%);
        border: 1px solid transparent;
        color: #ffffff;
        box-shadow: none;

        .dx-popup-content {
            padding: 0;
        }
    }
}
