{
    "env": {
        "qunit": true,
        "browser": true
    },
    "globals": {
        "define": true,
        "Promise": true,
        "SystemJS": true,
        "DevExpress": true,
        "sinon": true
    },
    "plugins": [
        "qunit"
    ],
    "rules": {
        "qunit/assert-args": "error",
        "qunit/literal-compare-order": "error",
        "qunit/no-arrow-tests": "error"
    }
}
