@use "../../../_design-system/variables/ds" as ds;

// adduse

$toolbar-bg-rest: transparent !default;
$toolbar-content-rest: ds.$color-content-neutral-default-rest !default;
$toolbar-separator-border-rest: ds.$separator-color !default;
