@forward "tb_generic";

@use "tb_generic" as *;
@use "sass:color";
$color: null !default;

$base-font-family: null !default;
$base-accent: null !default;


@if $color == "light" {
  $base-font-family: 'Helvetica Neue','Segoe UI',helvetica,verdana,sans-serif !default;
  $base-accent: #337ab7 !default;
}


$never-used: collector(
(
"$base-font-family": $base-font-family,
"$base-accent": $base-accent,
12345: "",
)
);
