<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">Locale-dependent format</div>
    <div class="dx-field-value">
      <dx-date-box
        placeholder="12/31/2018, 2:52 PM"
        type="datetime"
        [showClearButton]="true"
        [useMaskBehavior]="true"
        [inputAttr]="{ 'aria-label': 'Date Time' }"
      >
      </dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Built-in predefined format</div>
    <div class="dx-field-value">
      <dx-date-box
        placeholder="10/16/2018"
        [showClearButton]="true"
        [useMaskBehavior]="true"
        displayFormat="shortdate"
        type="date"
        [value]="date"
        [inputAttr]="{ 'aria-label': 'Date' }"
      >
      </dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Locale Data Markup Language (LDML) pattern</div>
    <div class="dx-field-value">
      <dx-date-box
        placeholder="Tuesday, 16 of Oct, 2018 14:52"
        [showClearButton]="true"
        [useMaskBehavior]="true"
        displayFormat="EEEE, d of MMM, yyyy HH:mm"
        [value]="date"
        [inputAttr]="{ 'aria-label': 'Date' }"
      >
      </dx-date-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Format with literal characters</div>
    <div class="dx-field-value">
      <dx-date-box
        placeholder="Year: 2018"
        [showClearButton]="true"
        [useMaskBehavior]="true"
        displayFormat="'Year': yyyy"
        type="date"
        [value]="date"
        [inputAttr]="{ 'aria-label': 'Date' }"
      >
      </dx-date-box>
    </div>
  </div>
</div>
