::ng-deep form {
  margin: 10px 10px 15px;
}

::ng-deep .last-group {
  margin-top: 30px;
  margin-bottom: 10px;
}

::ng-deep .last-group .dx-item-content {
  align-items: start;
  justify-content: center;
}

::ng-deep .last-group .dx-field-item {
  padding: 0 !important;
}

::ng-deep .buttons-group {
  display: flex;
  width: 100%;
  justify-content: end;
}

::ng-deep .buttons-group .dx-item-content {
  gap: 10px;
}
