@forward "./variables";
@use "./variables" as *;
@use "sass:color";
@use "../../_design-system/variables/ds" as ds;

$color: null !default;
$mode: null !default;

$fluent-color-accent-modificator: null !default;

$base-accent: null !default;

$fluent-color-theme-modificator: null !default;

$base-font-family: ds.$font-family-sans-serif !default;

$base-typography-bg: null !default;

$base-bg: null !default;

$base-border-color: null !default;

$base-separator-color: null !default;

$base-inverted-bg: null !default;
$base-shadow-color: null !default;

$base-success: null !default;

$base-warning: #fde300 !default;

$base-danger: null !default;

$base-text-color: null !default;
$base-inverted-text-color: null !default;

$base-icon-color: null !default;

$base-disabled-opacity: 0.38 !default;

$scrollview-pulldown-path: null !default;


@if $color == "blue" {
  $fluent-color-accent-modificator: "blue" !default;
}

@if $mode == "light" {
  $fluent-color-theme-modificator: "light" !default;

  $base-bg: rgba(255, 255, 255, 1) !default;

  @if $color == "blue" {
    $base-typography-bg: rgba(250, 250, 250, 1) !default;

    $base-accent: rgba(15, 108, 189, 1) !default;
    $base-success: rgba(16, 124, 16, 1) !default;
    $base-danger: rgba(209, 52, 56, 1) !default;
    $base-text-color: rgba(36, 36, 36, 1) !default;
    $base-icon-color: color.adjust($base-text-color, $lightness: 23.92%, $space: hsl) !default;
    $base-border-color: rgba(224, 224, 224, 1) !default;
    $base-shadow-color: #000 !default;
  }

  $base-separator-color: $base-border-color !default;

  $base-inverted-bg: color.adjust($base-bg, $lightness: -100%, $space: hsl) !default;

  $base-inverted-text-color: #fff !default;

  $scrollview-pulldown-path: data-uri('images/widgets/dxdsfluent/color-schemes/light/pulldown.png') !default;
}

@if $mode == "dark" {
  $fluent-color-theme-modificator: "dark" !default;

  @if $color == "blue" {
    $base-bg: rgba(41, 41, 41, 1) !default;
    $base-accent: rgba(71, 158, 245, 1) !default;
    $base-success: #54B054 !default;
    $base-danger: rgba(227, 125, 128, 1) !default;
    $base-border-color: rgba(97, 97, 97, 1) !default;

    $base-typography-bg: #1F1F1F !default;
  }

  $base-text-color: rgba(255, 255, 255, 1) !default;
  $base-icon-color: color.adjust($base-text-color, $lightness: -32.16%, $space: hsl) !default;

  $base-bg: rgba(41, 41, 41, 1) !default;

  $base-separator-color: color.adjust($base-border-color, $lightness: -5.88%, $space: hsl) !default;

  $base-inverted-bg: color.adjust($base-bg, $lightness: 100%, $space: hsl) !default;
  $base-shadow-color: #000 !default;
  $base-inverted-text-color: #000 !default;

  $scrollview-pulldown-path: data-uri('images/widgets/dxdsfluent/color-schemes/dark/pulldown.png') !default;
}

$base-spin-icon-color: $base-icon-color !default;

$base-link-color: $base-accent !default;


:root {
  --dx-component-color-bg: #{$base-bg};
  --dx-color-main-bg: #{$base-typography-bg};
  --dx-color-primary: #{$base-accent};
  --dx-color-danger: #{$base-danger};
  --dx-color-success: #{$base-success};
  --dx-color-warning: #{$base-warning};
  --dx-color-border: #{$base-border-color};
  --dx-color-text: #{$base-text-color};
  --dx-color-icon: #{$base-icon-color};
  --dx-color-spin-icon: #{$base-spin-icon-color};
  --dx-color-link: #{$base-link-color};
  --dx-color-shadow: #{$base-shadow-color};
  --dx-color-separator: #{$base-separator-color};
}
