<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  keyExpr="ID"
  [allowColumnReordering]="true"
  [showBorders]="true"
  (onEditingStart)="logEvent('EditingStart')"
  (onInitNewRow)="logEvent('InitNewRow')"
  (onRowInserting)="logEvent('RowInserting')"
  (onRowInserted)="logEvent('RowInserted')"
  (onRowUpdating)="logEvent('RowUpdating')"
  (onRowUpdated)="logEvent('RowUpdated')"
  (onRowRemoving)="logEvent('RowRemoving')"
  (onRowRemoved)="logEvent('RowRemoved')"
  (onSaving)="logEvent('Saving')"
  (onSaved)="logEvent('Saved')"
  (onEditCanceling)="logEvent('EditCanceling')"
  (onEditCanceled)="logEvent('EditCanceled')"
>
  <dxo-data-grid-paging [enabled]="true"></dxo-data-grid-paging>
  <dxo-data-grid-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
  >
  </dxo-data-grid-editing>

  <dxi-data-grid-column dataField="Prefix" caption="Title"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" [width]="130"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="StateID" caption="State" [width]="125">
    <dxo-data-grid-lookup [dataSource]="states" displayExpr="Name" valueExpr="ID">
    </dxo-data-grid-lookup>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" [width]="125" dataType="date"> </dxi-data-grid-column>
</dx-data-grid>

<div id="events">
  <div>
    <div class="caption"> Fired events </div>
    <dx-button id="clear" text="Clear" (onClick)="clearEvents()"></dx-button>
  </div>
  <ul>
    <li *ngFor="let event of events">{{ event }}</li>
  </ul>
</div>
