<div class="pies-container">
  <dx-pie-chart
    *ngFor="let options of pies"
    class="pie"
    [title]="options.title"
    [palette]="options.palette"
    [dataSource]="options.dataSource"
    sizeGroup="piesGroup"
  >
    <dxi-pie-chart-series argumentField="name" valueField="area">
      <dxo-pie-chart-label [visible]="true" format="percent"></dxo-pie-chart-label>
    </dxi-pie-chart-series>
    <dxo-pie-chart-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="right"
      [rowCount]="2"
    >
    </dxo-pie-chart-legend>
  </dx-pie-chart>
</div>
