<dx-scheduler
  [dataSource]="appointmentsData"
  [views]="views"
  currentView="week"
  [startDayHour]="9"
  [endDayHour]="19"
  [currentDate]="currentDate"
  [height]="600"
  [showAllDayPanel]="false"
  [resources]="resources"
  [editing]="editingOptions"
  (onAppointmentAdding)="onAppointmentAdding($event)"
  (onAppointmentUpdating)="onAppointmentUpdating($event)"
></dx-scheduler>
<div class="options">
  <div class="option">
    <span>Overlapping Rule</span>
    <dx-select-box
      [items]="overlappingRuleItems"
      valueExpr="value"
      displayExpr="text"
      value="sameResource"
      [width]="200"
      (onValueChanged)="onOverlappingRuleChanged($event)"
    ></dx-select-box>
  </div>
</div>
