<dx-chart
  id="chart"
  [class]="isFirstLevel ? 'pointer-on-bars' : ''"
  [dataSource]="dataSource"
  (onPointClick)="onPointClick($event)"
  title="The Most Populated Countries by Continents"
  [customizePoint]="customizePoint"
>
  <dxi-chart-series type="bar"></dxi-chart-series>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  <dxi-chart-value-axis [showZero]="false"></dxi-chart-value-axis>
</dx-chart>
<dx-button
  class="button-container"
  text="Back"
  icon="chevronleft"
  [visible]="!isFirstLevel"
  (onClick)="onButtonClick()"
>
</dx-button>
