@use "sass:string";
@use "../string" as *;
@use "../mask" as *;

@mixin list-icon-colored($data-uri, $current-color) {
  $uri: replace("#{$data-uri}", "currentColor", escape("#{$current-color}"));

  background-image: string.unquote($uri);
}

@mixin list-icon-masked($data-uri) {
  $uri: replace("#{$data-uri}", "currentColor", "%23000");

  mask-image: string.unquote($uri);
  mask-position: 50% 50%;
  mask-repeat: no-repeat;

  @include masked-glyph-paint();
}

@mixin toggle-delete-icon($color: null, $masked: false) {
  .dx-icon-toggle-delete {
    @if $masked {
      @include list-icon-masked(data-uri("image/svg+xml;charset=UTF-8", "images/widgets/common/list/toggle-delete.svg"));
    } @else {
      @include list-icon-colored(data-uri("image/svg+xml;charset=UTF-8", "images/widgets/common/list/toggle-delete.svg"), $color);
    }
  }
}
