<div id="chart-demo">
  <dx-chart
    title="Corporations with Highest Market Value"
    palette="Harmony Light"
    [dataSource]="corporationsInfo"
  >
    <dxi-series valueField="y2005" name="2005"></dxi-series>
    <dxi-series valueField="y2004" name="2004"></dxi-series>
    <dxo-common-series-settings
      #commonSeries
      argumentField="company"
      [type]="types[0]"
    ></dxo-common-series-settings>
    <dxo-margin [bottom]="20"></dxo-margin>
    <dxo-argument-axis [valueMarginsEnabled]="false"></dxo-argument-axis>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-legend verticalAlignment="bottom" horizontalAlignment="center">
    </dxo-legend>
  </dx-chart>
  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <span>Series Type</span>
      <dx-select-box
        [dataSource]="types"
        [(value)]="commonSeries.type"
        [inputAttr]="{ 'aria-label': 'Series Type' }"
      >
      </dx-select-box>
    </div>
  </div>
</div>
