@use "../sizes" as *;

// adduse

$material-radio-button-margin: null !default;

@if $size == "default" {
  $material-radio-button-margin: 12px !default;
}

@else if $size == "compact" {
  $material-radio-button-margin: 6px !default;
}

