<div id="range-selector-demo">
  <dx-range-selector
    id="range-selector"
    title="Calculate the Working Days Count in a Date Period"
    (onValueChanged)="onValueChanged($event)"
  >
    <dxo-range-selector-margin [top]="50"></dxo-range-selector-margin>
    <dxo-range-selector-scale
      [startValue]="startValue"
      [endValue]="endValue"
      minorTickInterval="day"
      tickInterval="month"
    >
      <dxo-range-selector-minor-tick [visible]="false"></dxo-range-selector-minor-tick>
      <dxo-range-selector-marker [visible]="false"></dxo-range-selector-marker>
      <dxo-range-selector-label [customizeText]="customizeLabel"></dxo-range-selector-label>
    </dxo-range-selector-scale>
    <dxo-range-selector-slider-marker [customizeText]="customizeSliderMarker">
    </dxo-range-selector-slider-marker>
    <dxo-range-selector-behavior #beh valueChangeMode="onHandleMove"> </dxo-range-selector-behavior>
  </dx-range-selector>
  <h2>Working days count: {{ workingDaysCount.toFixed() }}</h2>
  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <span>Handle Range Changes</span>
      <dx-select-box
        id="handle"
        [dataSource]="dataSource"
        [inputAttr]="{ 'aria-label': 'Value Change Mode' }"
        [width]="210"
        [(value)]="beh.valueChangeMode"
      ></dx-select-box>
    </div>
  </div>
</div>
