@use "../sizes" as *;
// adduse

$MATERIAL_SLIDER_WIDTH: null !default;
$MATERIAL_SLIDER_TRACK_HEIGHT: null !default;
$MATERIAL_SLIDER_HANDLE_SIZE: null !default;
$MATERIAL_SLIDER_WRAPPER_HEIGHT: null !default;
$MATERIAL_SLIDER_TOOLTIP_WIDTH: null !default;
$MATERIAL_SLIDER_TOP_TOOLTIP_MARGIN: null !default;

@if $size == "default" {
    $MATERIAL_SLIDER_WIDTH: 14px;
    $MATERIAL_SLIDER_TRACK_HEIGHT: 4px;
    $MATERIAL_SLIDER_HANDLE_SIZE: 32px;
    $MATERIAL_SLIDER_WRAPPER_HEIGHT: 32px;
    $MATERIAL_SLIDER_TOOLTIP_WIDTH: 34px;
    $MATERIAL_SLIDER_TOP_TOOLTIP_MARGIN: -5px;
}

@else if $size == "compact" {
    $MATERIAL_SLIDER_WIDTH: 14px;
    $MATERIAL_SLIDER_TRACK_HEIGHT: 4px;
    $MATERIAL_SLIDER_HANDLE_SIZE: 26px;
    $MATERIAL_SLIDER_WRAPPER_HEIGHT: 26px;
    $MATERIAL_SLIDER_TOOLTIP_WIDTH: 28px;
    $MATERIAL_SLIDER_TOP_TOOLTIP_MARGIN: -2px;
}
