@use "../sizes" as *;

// adduse

$material-slider-handle-size: null !default;
$material-slider-wrapper-height: null !default;
$material-slider-tooltip-width: null !default;
$material-slider-top-tooltip-margin: null !default;

$material-slider-width: 14px;
$material-slider-track-height: 4px;
$material-slider-height: 28px;

@if $size == "default" {
  $material-slider-handle-size: 32px;
  $material-slider-wrapper-height: 32px;
  $material-slider-tooltip-width: 34px;
  $material-slider-top-tooltip-margin: -5px;
}

@else if $size == "compact" {
  $material-slider-handle-size: 26px;
  $material-slider-wrapper-height: 26px;
  $material-slider-tooltip-width: 28px;
  $material-slider-top-tooltip-margin: -2px;
}
