@use "../sizes" as *;
// adduse

$MATERIAL_TEXTEDITOR_FONT_SIZE: null !default;
$MATERIAL_TEXTEDITOR_CLEAR_ICON_SIZE: null !default;
$MATERIAL_FILLED_TEXTEDITOR_INPUT_HORIZONTAL_PADDING: null !default;
$MATERIAL_FILLED_TEXTEDITOR_INPUT_PADDING: null !default;
$MATERIAL_STANDARD_TEXTEDITOR_INPUT_PADDING: null !default;
$MATERIAL_UNDERLINED_EDITOR_BUTTON_HEIGHT: null !default;

@if $size == "default" {
  $MATERIAL_TEXTEDITOR_FONT_SIZE: 16px;
  $MATERIAL_TEXTEDITOR_CLEAR_ICON_SIZE: 12px;
  $MATERIAL_FILLED_TEXTEDITOR_INPUT_HORIZONTAL_PADDING: 12px;
  $MATERIAL_FILLED_TEXTEDITOR_INPUT_PADDING: 19px $MATERIAL_FILLED_TEXTEDITOR_INPUT_HORIZONTAL_PADDING 18px;
  $MATERIAL_STANDARD_TEXTEDITOR_INPUT_PADDING: 7px $MATERIAL_STANDARD_TEXTEDITOR_INPUT_HORIZONTAL_PADDING 6px;
  $MATERIAL_UNDERLINED_EDITOR_BUTTON_HEIGHT: 28px;
}

@else if $size == "compact" {
  $MATERIAL_TEXTEDITOR_FONT_SIZE: 13px;
  $MATERIAL_TEXTEDITOR_CLEAR_ICON_SIZE: 10px;
  $MATERIAL_FILLED_TEXTEDITOR_INPUT_HORIZONTAL_PADDING: 8px;
  $MATERIAL_FILLED_TEXTEDITOR_INPUT_PADDING: 13px $MATERIAL_FILLED_TEXTEDITOR_INPUT_HORIZONTAL_PADDING 12px;
  $MATERIAL_STANDARD_TEXTEDITOR_INPUT_PADDING: 6px $MATERIAL_STANDARD_TEXTEDITOR_INPUT_HORIZONTAL_PADDING 5px;
  $MATERIAL_UNDERLINED_EDITOR_BUTTON_HEIGHT: 22px;
}
