@use "../sizes" as *;

// adduse

$material-filled-lookup-height: null !default;
$material-standard-lookup-height: null !default;
$material-lookup-font-size: null !default;
$material-lookup-popup-content-padding: null !default;
$material-lookup-list-top: null !default;

$material-lookup-popup-content-top: 49px;
$material-lookup-arrow-margin: -6px;
$material-lookup-arrow-right: 10px;
$material-lookup-arrow-left: 16px;
$material-lookup-invalid-message-font-size: 14px;
$material-lookup-invalid-message-padding-horizontal: 20px;
$material-lookup-invalid-message-padding-top: 13px;
$material-lookup-invalid-message-padding-bottom: 12px;
$material-lookup-invalid-message-margin-bottom: 20px;

@if $size == "default" {
  $material-filled-lookup-height: 56px;
  $material-standard-lookup-height: 32px;
  $material-lookup-font-size: 16px;
  $material-lookup-popup-content-padding: 20px;
  $material-lookup-list-top: 66px;
}

@else if $size == "compact" {
  $material-filled-lookup-height: 40px;
  $material-standard-lookup-height: 26px;
  $material-lookup-font-size: 13px;
  $material-lookup-popup-content-padding: 8px;
  $material-lookup-list-top: 36px;
}
