@use "sass:math";
@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/treeView" as *;
@use "../../base/icons" as *;
@use "../checkBox/colors" as *;

// adduse

$material-treeview-container-with-border-offset: 8px;
$material-treeview-border-padding: 1px;
$material-treeview-container-padding:
  $material-treeview-border-padding
  $material-treeview-border-padding
  $material-treeview-border-padding
  $material-treeview-container-with-border-offset;

$material-select-all-item-left-padding: 26px;
$material-treeview-node-offset: $material-treeview-toggle-item-width;


.dx-treeview-custom-expand-icon,
.dx-treeview-custom-collapse-icon {
  @include dx-icon-sizing($material-base-icon-size);

  top: $material-custom-icon-top;
}

.dx-treeview-node-loadindicator {
  width: $material-treeview-loadincicator-size;
  height: $material-treeview-loadincicator-size;
}

.dx-treeview-search {
  margin-block-end: $material-treeview-searchbox-margin-bottom;
}

.dx-treeview-with-search > .dx-scrollable {
  height: calc(100% - #{round($material-treeview-search-editor-height + $material-treeview-searchbox-margin-bottom)});
}

.dx-treeview-border-visible {
  border: 1px solid $treeview-border-color;

  .dx-treeview-select-all-item {
    padding-inline-start: $material-select-all-item-left-padding;
  }

  .dx-scrollable-content {
    > .dx-treeview-node-container {
      padding: $material-treeview-container-padding;
    }
  }
}

.dx-treeview-select-all-item {
  border-block-end: 1px solid $treeview-border-color;
  padding: $material-select-all-item-padding;

  .dx-checkbox-text {
    padding-inline-start: $material-treeview-item-element-gap;
  }
}

.dx-treeview-node {
  padding-inline-start: $material-treeview-node-offset + $material-treeview-item-element-gap;
}

.dx-state-selected {
  > .dx-treeview-item {
    color: $treeview-item-selected-color;
  }
}

.dx-treeview-item-with-checkbox {
  .dx-checkbox {
    .dx-checkbox-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: $material-checkbox-container-size;
      width: $material-checkbox-container-size;
    }
  }

  .dx-treeview-item {
    color: $base-text-color;
  }
}

.dx-treeview-item-without-checkbox {
  &.dx-treeview-item-with-custom-expander-icon > .dx-treeview-item {
    padding-inline-start: $material-treeview-item-side-padding;
  }

  &.dx-state-selected {
    > .dx-treeview-item {
      color: $treeview-item-selected-color;
      background-color: $treeview-item-selected-bg;

      &.dx-state-hover:not(.dx-state-focused) {
        background-color: $treeview-item-selected-hover-bg;
      }
    }
  }

  &.dx-state-focused {
    > .dx-treeview-item {
      color: $treeview-focus-color;
      background-color: $treeview-focused-bg;
    }
  }
}

.dx-treeview-item {
  gap: $material-treeview-item-element-gap;
  padding: $material-treeview-item-padding;
  height: $material-treeview-min-item-height;
  line-height: math.div($material-treeview-min-item-height, 2) - 2;

  .dx-treeview-item-content {
    .dx-icon {
      @include dx-icon-sizing($material-base-icon-size);
    }
  }

  &.dx-state-hover {
    background-color: $treeview-hover-bg;
    color: $treeview-item-hover-color;
  }
}

.dx-treeview-toggle-item-visibility {
  @include dx-icon(chevronright);

  // @include dx-icon-font-centered-sizing($material-base-icon-size);

  font-size: $material-base-icon-size;
  text-align: center;
  line-height: $material-base-icon-size;

  &::before {
    width: $material-base-icon-size;
  }

  color: $treeview-spin-icon-color;
  width: $material-treeview-toggle-item-width;
  height: $material-treeview-toggle-item-width;

  &.dx-treeview-toggle-item-visibility-opened {
    @include dx-icon(chevrondown);
  
    // @include dx-icon-font-centered-sizing($material-base-icon-size);
  
    font-size: $material-base-icon-size;
    text-align: center;
    line-height: $material-base-icon-size;

    &::before {
      width: $material-base-icon-size;
    }
  }
}
