@use "../sizes" as *;
@use "../typography/sizes" as *;

// adduse

$fluent-toolbar-height: null !default;

$fluent-toolbar-padding: 0 !default;
$fluent-toolbar-item-spacing: 4px !default;
$fluent-toolbar-label-font-size: $fluent-m-font-size !default;
$fluent-toolbar-section-padding: null !default;

@if $size == "default" {
  $fluent-toolbar-height: 48px !default;
  $fluent-toolbar-section-padding: 12px !default;
}

@else if $size == "compact" {
  $fluent-toolbar-height: 36px !default;
  $fluent-toolbar-section-padding: 8px !default;
}

:root {
  --dx-toolbar-height: #{$fluent-toolbar-height};
}
