<div class="form">
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Default mode</div>
      <div class="dx-field-value">
        <dx-number-box
          [inputAttr]="{ 'aria-label': 'With Spin And Buttons' }"
        ></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">With spin and clear buttons</div>
      <div class="dx-field-value">
        <dx-number-box
          [value]="20.5"
          [showSpinButtons]="true"
          [showClearButton]="true"
          [inputAttr]="{ 'aria-label': 'With Spin And Buttons' }"
        ></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Disabled</div>
      <div class="dx-field-value">
        <dx-number-box
          [value]="20.5"
          [showSpinButtons]="true"
          [showClearButton]="true"
          [disabled]="true"
          [inputAttr]="{ 'aria-label': 'Disabled' }"
        ></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">With max and min values</div>
      <div class="dx-field-value">
        <dx-number-box
          [value]="15"
          [min]="10"
          [max]="20"
          [showSpinButtons]="true"
          [inputAttr]="{ 'aria-label': 'Min And Max' }"
        ></dx-number-box>
      </div>
    </div>
  </div>
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Event Handling</div>
    <div class="dx-field">
      <div class="dx-field-label">This month sales</div>
      <div class="dx-field-value">
        <dx-number-box
          #numberBox
          [max]="30"
          [min]="0"
          [showSpinButtons]="true"
          [inputAttr]="{ 'aria-label': 'Sales' }"
          (onKeyDown)="keyDown($event)"
          [value]="16"
        ></dx-number-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Stock</div>
      <div class="dx-field-value">
        <dx-number-box
          [min]="0"
          [showSpinButtons]="false"
          [readOnly]="true"
          [value]="numberBox.max - numberBox.value"
          [inputAttr]="{ 'aria-label': 'Stock' }"
        ></dx-number-box>
      </div>
    </div>
  </div>
</div>
