<div>
  <dx-chart
    id="zoomed-chart"
    [dataSource]="dataSource"
    [resizePanesOnZoom]="true"
  >
    <dxi-chart-series></dxi-chart-series>
    <dxo-chart-argument-axis
      [valueMarginsEnabled]="false"
      [visualRange]="visualRange"
      type="logarithmic"
      [minorTickCount]="10"
    >
      <dxo-chart-label format="exponential"></dxo-chart-label>
      <dxo-chart-grid [visible]="true"></dxo-chart-grid>
      <dxo-chart-minor-grid [visible]="true"></dxo-chart-minor-grid>
    </dxo-chart-argument-axis>
    <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  </dx-chart>
  <dx-range-selector
    id="range-selector"
    [dataSource]="dataSource"
    [(value)]="visualRange"
  >
    <dxo-range-selector-chart>
      <dxi-range-selector-series></dxi-range-selector-series>
    </dxo-range-selector-chart>
    <dxo-range-selector-scale
      type="logarithmic"
      [minorTickCount]="10"
      [minRange]="1"
    >
      <dxo-range-selector-label format="exponential"></dxo-range-selector-label>
    </dxo-range-selector-scale>
    <dxo-range-selector-slider-marker
      format="exponential"
    ></dxo-range-selector-slider-marker>
    <dxo-range-selector-behavior
      valueChangeMode="onHandleMove"
      [snapToTicks]="false"
    >
    </dxo-range-selector-behavior>
  </dx-range-selector>
</div>
