<div class="dx-fieldset form">
    <div class="dx-field">
        <div class="dx-field-label">Default mode</div>
        <div class="dx-field-value-static">
            <p>
                <span id="subject1">Google AdWords Strategy</span>
                (<a id="link1"
                    (mouseenter)="toggleDefault()"
                    (mouseleave)="toggleDefault()">details</a>)
            </p>
            <dx-popover
                target="#link1" 
                position="top"
                [width]="300"
                [(visible)]="defaultVisible">
                <div *dxTemplate="let data = model of 'content'">
                    Make final decision on whether we are going to 
                    increase our Google AdWord spend based 
                    on our 2013 marketing plan.
                </div>
            </dx-popover>
        </div>
    </div>
  
    <div class="dx-field">
        <div class="dx-field-label">With title</div>
        <div class="dx-field-value-static">
            <p>
                <span id="subject2">
                    Rollout of New Website and Marketing Brochures
                </span>
                (<a id="link2"
                    (mouseenter)="toggleWithTitle()"
                    (mouseleave)="toggleWithTitle()">details</a>)
            </p>
            <dx-popover 
                target="#link2"
                position="bottom"
                [width]="300"
                [showTitle]="true"
                title="Details:"
                [(visible)]="withTitleVisible">
                <div *dxTemplate="let data = model of 'content'">
                    The designs for new brochures and 
                    website have been approved. 
                    Launch date is set for Feb 28.
                </div>
            </dx-popover>
        </div>
    </div>
  
    <div class="dx-field">
        <div class="dx-field-label">With animation</div>
        <div class="dx-field-value-static">
            <p>
                <span id="subject3">
                    Create 2012 Sales Report
                </span> 
                (<a id="link3"
                    (mouseenter)="toggleWithAnimationOptions()"
                    (mouseleave)="toggleWithAnimationOptions()">details</a>)
            </p>
            <dx-popover 
                target="#link3" 
                position="top"
                [width]="300" 
                [(visible)]="withAnimationOptionsVisible">
                <dxo-animation>
                	<dxo-show 
                        type="pop" 
                        [from]="{ scale: 0 }" 
                        [to]="{ scale: 1 }"></dxo-show>
                    <dxo-hide 
                        type="fade" 
                        [from]="1" 
                        [to]="0"></dxo-hide>
                </dxo-animation>
                <div *dxTemplate="let data = model of 'content'">
                    2012 Sales Report has to be completed 
                    so we can determine if major changes 
                    are required to sales strategy. 
                </div>
            </dx-popover>
        </div>
    </div>
  
    <div class="dx-field">
        <div class="dx-field-label">With overlay</div>
        <div class="dx-field-value-static">
            <p>
                <span id="subject4">Website Re-Design Plan</span> 
                (<a id="link4" (click)="toggleWithShadingOptions()">more</a>)
            </p>
            <dx-popover
                target="#link4" 
                position="top"
                [width]="300"
                [shading]="true"
                shadingColor="rgba(0, 0, 0, 0.5)"
                [(visible)]="withShadingOptionsVisible">
                <div *dxTemplate="let data of 'content'">
                    The changes in our brochure designs for 2013 require 
                    us to update key areas of our website.
                </div>
            </dx-popover>
        </div>
    </div>
</div>