<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    keyExpr="ID"
    [dataSource]="dataSource"
    [showBorders]="true"
    (onEditorPreparing)="onEditorPreparing($event)"
  >
    <dxo-data-grid-editing mode="row" [allowUpdating]="true" [allowAdding]="true">
    </dxo-data-grid-editing>

    <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="Position"></dxi-data-grid-column>
    <dxi-data-grid-column
      dataField="StateID"
      caption="State"
      [setCellValue]="setStateValue"
    >
      <dxo-data-grid-lookup [dataSource]="states" valueExpr="ID" displayExpr="Name">
      </dxo-data-grid-lookup>
    </dxi-data-grid-column>
    <dxi-data-grid-column dataField="CityID" caption="City">
      <dxo-data-grid-lookup
        [dataSource]="getFilteredCities"
        valueExpr="ID"
        displayExpr="Name"
      >
      </dxo-data-grid-lookup>
    </dxi-data-grid-column>
  </dx-data-grid>
</div>
