<div id="longtabs">
  <div class="caption">Tabs</div>
  <dx-tabs [dataSource]="longtabs"></dx-tabs>
</div>
<div id="scrolledtabs">
  <div class="caption">Tabs with Overflow</div>
  <dx-tabs
    [dataSource]="longtabs"
    [width]="300"
    [scrollByContent]="true"
    [showNavButtons]="true"
  ></dx-tabs>
</div>
<div id="tabs">
  <div class="caption">API</div>
  <dx-tabs
    #apiTabs
    [dataSource]="tabs"
    [selectedIndex]="0"
    (onItemClick)="selectTab($event)"
  ></dx-tabs>
  <div class="content dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Selected index:</div>
      <div class="dx-field-value">
        <dx-select-box
          [dataSource]="tabs"
          displayExpr="text"
          valueExpr="id"
          [inputAttr]="{ 'aria-label': 'Tab' }"
          (onItemClick)="selectTab($event)"
          [(value)]="apiTabs.selectedIndex"
        ></dx-select-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Selected content:</div>
      <div class="dx-field-value-static left-aligned">
        {{ tabContent }}
      </div>
    </div>
  </div>
</div>
