.demo-container {
  overflow: visible;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.dx-drawer-content {
  display: flex;
}

#toolbar {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.08);
  padding: 5px 10px;
  z-index: 10000;
}

.panel-list {
  height: 400px;
  padding-top: 12px;
}

.options {
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.options-container {
  display: flex;
  align-items: center;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
  display: inline-block;
  margin-right: 50px;
}

label {
  font-weight: bold;
}

#content {
  padding: 0 24px;
}

#content h2 {
  font-size: 26px;
}
