.dx-size-default() {
    @GENERIC_BADGE_HORIZONTAL_PADDING: 6px;
}
.dx-size-compact() {
    @GENERIC_BADGE_HORIZONTAL_PADDING: 5px;
}


.dx-badge {
    background-color: @badge-bg;
    color: @badge-color;
    font-size: @GENERIC_BASE_FONT_SIZE - 1px;
    padding: 0 @GENERIC_BADGE_HORIZONTAL_PADDING 2px;
    line-height: normal;
}
