.dx-dropdownmenu-popup-wrapper {
    .dx-overlay-content {
        box-shadow: @dropdown-widgets-shadow;

        .dx-popup-content {
            padding: 1px;
        }
    }

    .dx-dropdownmenu-list {
        border-radius: 8px;
    }

    .dx-list-item {
        border-top: 0;
    }
}
