@import (once) "./buttonGroup.material.less";
@import (once) "./popup.material.less";
@import (once) "./list.material.less";

.dx-dropdownbutton-toggle {
    &.dx-button {
        min-width: auto;

        .dx-rtl & {
            border-right-width: 0;
        }
    }
}

.dx-dropdownbutton {
    .dx-buttongroup-last-item.dx-buttongroup-last-item .dx-button-content {
        padding-right: 0;

        .dx-rtl & {
            padding-left: 0;
        }
    }

    .dx-button-has-icon.dx-button-has-text {
        .dx-button-content {
            padding-left: 8px;
            padding-right: 8px;
        }
    }

    .dx-icon.dx-icon-right {
        .dx-icon-sizing(@MATERIAL_BASE_ICON_SIZE);

        margin-left: 0;
    }
}

.dx-dropdownbutton-popup-wrapper {
    .dx-dropdownlist-list-appearance();
}
