.dx-dropdownbutton-toggle {
    &.dx-button {
        min-width: auto;

        .dx-rtl & {
            border-right-width: 0;
        }
    }
}

.dx-dropdownbutton {
    .dx-button-has-icon.dx-button-has-text {
        .dx-button-content {
            padding-left: 8px;
            padding-right: 8px;
        }

        .dx-icon {
            margin-right: 8px;
        }

        .dx-icon.dx-icon-right {
            .dx-icon-sizing(@MATERIAL_BASE_ICON_SIZE);

            margin-right: -8px;
            margin-left: 0;
        }
    }
}
