@gantt_scale_item_height: 28px;
@gantt_header_item_height: 56px;
@gantt_task_wrapper_padding_top: 8px;
@gantt_successor_background_color: white;

.dx-gantt {
    border: 1px solid @base-border-color;

    .dx-gantt-splitter {
        width: 4px;
        background-color: @datagrid-column-separator-bg;
    }

    .dx-gantt-splitter-transparent {
        background-color: transparent;
    }

    .dx-gantt-splitter-border {
        border-left: 2px solid @base-border-color;
    }

    .dx-gantt-view {
        background-color: @base-bg;
    }

    .dx-header-row {
        height: @gantt_header_item_height;
    }

    .dx-gantt-header {
        color: @treelist-columnchooser-item-color;
        border-bottom: 1px solid @base-border-color;
        margin-bottom: -1px;

        .dx-gantt-tsac,
        .dx-gantt-tsa,
        .dx-gantt-hb,
        .dx-gantt-vb {
            border-color: @base-border-color;
            background-color: @base-bg;
        }
    }

    .dx-gantt-tac {
        height: calc(100% - @gantt_header_item_height);
    }

    .dx-gantt-si {
        padding-left: 16px;
        padding-right: 16px;
    }

    .dx-gantt-si,
    .dx-gantt-tsa .dx-gantt-vb {
        height: @gantt_scale_item_height;
        line-height: @gantt_scale_item_height;
    }

    .dx-gantt-tsac,
    .dx-gantt-tsa {
        border-bottom: 1px solid @base-border-color;
    }

    .dx-gantt-hb {
        border-top: 1px solid @base-border-color;
    }

    .dx-gantt-vb {
        border-left: 1px solid @base-border-color;
    }

    .dx-gantt-taskWrapper {
        padding-top: @gantt_task_wrapper_padding_top;

        .dx-gantt-task,
        .dx-gantt-titleOut,
        .dx-gantt-taskRes {
            height: 19px;
        }

        .dx-gantt-task {
            background-color: lighten(@base-accent, 10%);
            border-radius: @base-border-radius;

            .dx-gantt-tPrg {
                border-radius: @base-border-radius;
                background-color: darken(@base-accent, 10%);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &.dx-gantt-smallTask {
                border-radius: @base-border-radius;

                .dx-gantt-titleIn {
                    padding: 0 2px;
                }
            }

            &.dx-gantt-milestone {
                background-image: linear-gradient(135deg, @base-border-color, @base-text-color);
                width: 11px;
                height: 11px;
            }
        }

        .dx-gantt-taskRes {
            color: #fff;
            background-color: #999;
            border-radius: @base-border-radius;
            margin-left: 21px;
            padding-left: 4px;
            padding-right: 4px;
        }

        .dx-gantt-taskTitle,
        .dx-gantt-taskRes {
            font-size: 0.95em;
        }

        .dx-gantt-titleIn {
            color: #fff;
            padding: 0 @gantt_task_wrapper_padding_top;
        }

        .dx-gantt-titleOut {
            padding-right: 20px;
        }
    }

    .dx-gantt-task-edit-wrapper {
        padding-top: @gantt_task_wrapper_padding_top;

        .dx-gantt-task-edit-frame {
            border: 1px solid darken(@base-accent, 10%);
            border-radius: @base-border-radius;
        }
    }

    .dx-gantt-task-edit-wrapper-successor {
        padding-top: @gantt_task_wrapper_padding_top;
    }

    .dx-gantt-task-edit-dependency-r,
    .dx-gantt-task-edit-successor-dependency-r,
    .dx-gantt-task-edit-dependency-l,
    .dx-gantt-task-edit-successor-dependency-l {
        background: @gantt_successor_background_color;
        border: 1px solid darken(@base-accent, 10%);
    }

    .dx-gantt-task-edit-dependency-line {
        background-color: @base-text-color;
    }

    .dx-gantt-sel {
        background-color: @treelist-selection-bg;
    }

    .dx-gantt-conn-v {
        border-left: 1px solid @base-text-color;
    }

    .dx-gantt-conn-h {
        border-top: 1px solid @base-text-color;
    }

    .dx-gantt-arrow {
        border: 5px solid @base-text-color;
    }
}
