.dx-size-default() {
    @MATERIAL_PIVOTTABS_HEIGHT: 74px;
    @MATERIAL_PIVOTTABS_FONT_SIZE: 40px;
    @MATERIAL_PIVOTTABS_ITEM_PADDING: 10px;
}
.dx-size-compact() {
    @MATERIAL_PIVOTTABS_HEIGHT: 74px;
    @MATERIAL_PIVOTTABS_FONT_SIZE: 40px;
    @MATERIAL_PIVOTTABS_ITEM_PADDING: 10px;
}


.dx-pivottabs {
    height: @MATERIAL_PIVOTTABS_HEIGHT;
}

.dx-pivottabs-tab, .dx-pivottabs-ghosttab {
    padding: @MATERIAL_PIVOTTABS_ITEM_PADDING;
    color: @pivottabs-tab-color;
    font-size: @MATERIAL_PIVOTTABS_FONT_SIZE;
}

.dx-pivottabs-tab-selected {
    color: @pivottabs-tab-selected-color;
}
