.dx-size-default() {
    @MATERIAL_POPUP_CLOSEBUTTON_SIZE: 23px;
    @MATERIAL_POPUP_CLOSEBUTTON_ICON_SIZE: 15px;

    @MATERIAL_POPUP_CONTENT_PADDING: 20px;
    @MATERIAL_POPUP_BUTTON_MARGIN: 0 10px;

    @MATERIAL_POPUP_TOOLBAR_ITEM_SPACING: 10px;
    @MATERIAL_POPUP_TOOLBARTOP_PADDING: 6px 20px;
    @MATERIAL_POPUP_TOOLBARBOTTOM_PADDING: 20px;
}
.dx-size-compact() {
    @MATERIAL_POPUP_CLOSEBUTTON_SIZE: 19px;
    @MATERIAL_POPUP_CLOSEBUTTON_ICON_SIZE: 11px;

    @MATERIAL_POPUP_CONTENT_PADDING: 10px;
    @MATERIAL_POPUP_BUTTON_MARGIN: 0 5px;

    @MATERIAL_POPUP_TOOLBAR_ITEM_SPACING: 5px;
    @MATERIAL_POPUP_TOOLBARTOP_PADDING: 2px 10px;
    @MATERIAL_POPUP_TOOLBARBOTTOM_PADDING: 10px;
}
@MATERIAL_POPUP_CLOSEBUTTON_OFFSET: (@MATERIAL_POPUP_CLOSEBUTTON_SIZE - @MATERIAL_POPUP_CLOSEBUTTON_ICON_SIZE) / 2;

@MATERIAL_POPUP_TOOLBAR_HEIGHT: @MATERIAL_BASE_INLINE_WIDGET_HEIGHT;
@MATERIAL_POPUP_TOOLBAR_LABEL_FONT_SIZE: @MATERIAL_M_FONT_SIZE;

@MATERIAL_POPUP_CLOSEBUTTON_BORDER_WEIGHT: @MATERIAL_BASE_BORDER_WIDTH;
@MATERIAL_POPUP_CLOSEBUTTON_ICON_CONTAINER_SIZE: @MATERIAL_POPUP_CLOSEBUTTON_SIZE - @MATERIAL_POPUP_CLOSEBUTTON_BORDER_WEIGHT * 2;

@MATERIAL_MOBILE_POPUP_CLOSEBUTTON_SIZE: 37px;
@MATERIAL_MOBILE_POPUP_CLOSEBUTTON_ICON_SIZE: 15px;
@MATERIAL_MOBILE_POPUP_CLOSEBUTTON_OFFSET: (@MATERIAL_MOBILE_POPUP_CLOSEBUTTON_SIZE - @MATERIAL_MOBILE_POPUP_CLOSEBUTTON_ICON_SIZE) / 2;
@MATERIAL_MOBILE_POPUP_CLOSEBUTTON_ICON_CONTAINER_SIZE: @MATERIAL_MOBILE_POPUP_CLOSEBUTTON_SIZE - @MATERIAL_POPUP_CLOSEBUTTON_BORDER_WEIGHT * 2;

.dx-popup-wrapper {
    & > .dx-overlay-content {
        border: 1px solid @overlay-border-color;
        background: @overlay-content-bg;
        .box-shadow(0 6px 12px @overlay-content-shadow-color);
        .border-radius(@popup-border-radius);
    }

    & > .dx-popup-fullscreen {
        .border-radius(0);
    }
}

.dx-popup-title {
    position: relative;
    padding: @MATERIAL_POPUP_TOOLBARTOP_PADDING;
    min-height: 28px;
    border-bottom: 1px solid @popup-title-border-color;
    background: @popup-title-bg;
    color: @popup-title-color;

    &.dx-toolbar {
        .dx-toolbar-sizing(@MATERIAL_POPUP_TOOLBAR_HEIGHT, @MATERIAL_POPUP_TOOLBARTOP_PADDING, @MATERIAL_POPUP_TOOLBAR_LABEL_FONT_SIZE, @MATERIAL_POPUP_TOOLBAR_ITEM_SPACING );
        .box-shadow(none);
    }

    .dx-closebutton {
        display: block;

        .dx-button-content {
            padding: 0;
        }

        .dx-icon {
            .box-sizing(border-box);
        }

        .dx-button-styling();
        .dx-button-styling-clear();

        .dx-closebutton-sizing(@size, @offset, @iconSize, @iconContainerSize) {
            width: @size;
            height: @size;
            margin: 0 -@offset 0 @offset;

            .dx-rtl & {
                margin: 0 @offset 0 -@offset;
            }

            .dx-icon {
                .dx-icon-sizing(@iconSize, @iconContainerSize);
            }
        }

        .dx-closebutton-sizing(
            @MATERIAL_POPUP_CLOSEBUTTON_SIZE,
            @MATERIAL_POPUP_CLOSEBUTTON_OFFSET,
            @MATERIAL_POPUP_CLOSEBUTTON_ICON_SIZE,
            @MATERIAL_POPUP_CLOSEBUTTON_ICON_CONTAINER_SIZE);

        .dx-device-mobile & {
            .dx-closebutton-sizing(
                @MATERIAL_MOBILE_POPUP_CLOSEBUTTON_SIZE,
                @MATERIAL_MOBILE_POPUP_CLOSEBUTTON_OFFSET,
                @MATERIAL_MOBILE_POPUP_CLOSEBUTTON_ICON_SIZE,
                @MATERIAL_MOBILE_POPUP_CLOSEBUTTON_ICON_CONTAINER_SIZE);
        }
    }
}

.dx-popup-content {
    padding: @MATERIAL_POPUP_CONTENT_PADDING;

    & > .dx-button {
        margin: @MATERIAL_POPUP_BUTTON_MARGIN;
    }
}

.dx-popup-bottom {
    background: @popup-bottom-bg;
    color: @popup-bottom-color;

    &.dx-toolbar {
        .dx-toolbar-sizing(
            @MATERIAL_POPUP_TOOLBAR_HEIGHT,
            @MATERIAL_POPUP_TOOLBARBOTTOM_PADDING,
            @MATERIAL_POPUP_TOOLBAR_LABEL_FONT_SIZE,
            @MATERIAL_POPUP_TOOLBAR_ITEM_SPACING
        );
        .dx-device-mobile & {
            .dx-toolbar-sizing(
                @MATERIAL_POPUP_TOOLBAR_HEIGHT,
                @MATERIAL_POPUP_TOOLBARBOTTOM_PADDING,
                @MATERIAL_POPUP_TOOLBAR_LABEL_FONT_SIZE,
                @MATERIAL_POPUP_TOOLBAR_ITEM_SPACING
            );
        }
    }

    .dx-button {
        min-width: 100px;
    }
}

.dx-popup-content.dx-dialog-content {
    min-width: 220px;
    padding: @MATERIAL_POPUP_CONTENT_PADDING;
}

.dx-dialog-message {
    padding: 0;
}
