@SCROLLBAR_SIZE_THIN: 6px;
@SCROLLBAR_SIZE: 13px;

.dx-scrollable-content {
    -webkit-transform: none;
}

.dx-scrollable-scroll {
    padding: 2px 0 2px 2px;
    background-color: transparent;
    opacity: 1;
    overflow: hidden;
    transition: opacity 0s linear;

    .dx-rtl & {
        padding-left: 0;
        padding-right: 2px;
    }
}

.dx-scrollable-scroll.dx-state-invisible {
    opacity: 0;
    transition: opacity .5s linear 1s;
}

.dx-scrollable-scroll-content {
    width: 100%;
    height: 100%;
    background-color: @scrollable-scroll-bg;
    box-shadow: 0 0 0 1px @scrollable-scroll-shadow-color;
}

.dx-scrollbar-hoverable {
    background-color: @scrollable-scrollbar-bg;

    .dx-scrollable-scroll.dx-state-invisible {
        opacity: 1;
        .dx-scrollable-scroll-content {
            background-color: transparent;
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 1px transparent;
        }
    }
}

.dx-scrollbar-vertical {
    .dx-scrollable-scroll {
        float: right;
        width: @SCROLLBAR_SIZE_THIN;
    }

    &.dx-scrollbar-hoverable {
        width: @SCROLLBAR_SIZE_THIN;
        transition: width .2s linear .15s, background-color .2s linear .15s;

        .dx-scrollable-scroll {
            transition: background-color .5s linear 1s, width .2s linear 150ms;

            .dx-scrollable-scroll-content {
                transition: box-shadow .15s linear .15s, background-color .15s linear .15s;
            }

            &.dx-state-invisible {
                transition: background-color .5s linear 1s, width .2s linear .15s;

                .dx-scrollable-scroll-content {
                    transition: box-shadow .5s linear 1s, background-color .5s linear 1s;
                }
            }
        }

        &.dx-state-hover, &.dx-scrollable-scrollbar-active {
            width: @SCROLLBAR_SIZE;

            .dx-scrollable-scroll {
                width: @SCROLLBAR_SIZE;
            }
        }
    }
}

.dx-scrollbar-horizontal {
    .dx-scrollable-scroll {
        height: @SCROLLBAR_SIZE_THIN;
    }

    &.dx-scrollbar-hoverable {
        height: @SCROLLBAR_SIZE_THIN;
        transition: height .2s linear .15s, background-color .2s linear .15s;

        .dx-scrollable-scroll {
            transition: background-color .5s linear 1s, height .2s linear .15s;

            .dx-scrollable-scroll-content {
                transition: box-shadow .15s linear .15s, background-color .15s linear .15s;
            }

            &.dx-state-invisible {
                transition: background-color .5s linear 1s, height .2s linear .15s;

                .dx-scrollable-scroll-content {
                    transition: box-shadow .5s linear 1s, background-color .5s linear 1s;
                }
            }
        }

        &.dx-state-hover, &.dx-scrollable-scrollbar-active {
            height: @SCROLLBAR_SIZE;

            .dx-scrollable-scroll {
                height: @SCROLLBAR_SIZE;
            }
        }
    }
}

.dx-scrollable-scrollbars-alwaysvisible {
    &.dx-scrollable-vertical,
    &.dx-scrollable-both {
        .dx-scrollable-content {
            padding-right: @SCROLLBAR_SIZE_THIN;

            .dx-rtl&,
            .dx-rtl & {
                padding-right: 0;
                padding-left: @SCROLLBAR_SIZE_THIN;
            }
        }
    }

    &.dx-scrollable-horizontal,
    &.dx-scrollable-both {
        .dx-scrollable-content {
            padding-bottom: @SCROLLBAR_SIZE_THIN;
        }
    }
}

.dx-scrollview-scrollbottom-text, 
.dx-scrollview-pull-down-text {
    margin-left: 10px;
    top: (50px - @MATERIAL_BASE_FONT_SIZE) / 2;
    display: inline-block;

    .dx-rtl & {
        margin-left: 0;
        margin-right: 10px;
    }
}

.dx-scrollview-pull-down-text {
    div {
        position: relative;
    }
}

.dx-scrollview-pull-down-image {
    display: none;
}

.dx-scrollview-pull-down {
    text-align: center;
}

.dx-rtl .dx-scrollable,
.dx-rtl.dx-scrollable {

    .dx-scrollable-scroll {
        float: left;
    }
}
