.dx-size-default() {
    @MATERIAL_SLIDER_HEIGHT: 28px;
    @MATERIAL_SLIDER_WIDTH: 14px;
    @MATERIAL_SLIDER_TRACK_HEIGHT: 4px;
}
.dx-size-compact() {
    @MATERIAL_SLIDER_HEIGHT: 20px;
    @MATERIAL_SLIDER_WIDTH: 9px;
    @MATERIAL_SLIDER_TRACK_HEIGHT: 2px;
}
@MATERIAL_SLIDER_RADIUS: 50%;
@MATERIAL_SLIDER_BAR_HEIGHT: 2px;
@MATERIAL_SLIDER_HANDLE_SIZE: 32px;
@MATERIAL_SLIDER_HANDLE_ACTIVE_BORDER_WIDTH: 2px;
@MATERIAL_SLIDER_HANDLE_INNER_SIZE: 12px;
@MATERIAL_SLIDER_HANDLE_INNER_BORDER_WIDTH: 1px;
@MATERIAL_SLIDER_HANDLE_INNER_DISABLED_SIZE: 2px;
@MATERIAL_SLIDER_WRAPPER_HEIGHT: 32px;
@MATERIAL_SLIDER_TOOLTIP_PADDING: 30px;

.dx-slider-wrapper {
    height: @MATERIAL_SLIDER_WRAPPER_HEIGHT;
}

.dx-slider-bar, .dx-slider-range {
    margin-top: (@MATERIAL_SLIDER_WRAPPER_HEIGHT - @MATERIAL_SLIDER_BAR_HEIGHT) / 2;
    height: @MATERIAL_SLIDER_BAR_HEIGHT;
}

.dx-slider-bar {
    margin-right: @MATERIAL_SLIDER_HANDLE_SIZE / 2 + @MATERIAL_SLIDER_HANDLE_ACTIVE_BORDER_WIDTH;
    margin-left: @MATERIAL_SLIDER_HANDLE_SIZE / 2 + @MATERIAL_SLIDER_HANDLE_ACTIVE_BORDER_WIDTH;
    background: @MATERIAL_SLIDER_BAR_BACKGROUND;
}

.dx-slider-range {
    top: @MATERIAL_SLIDER_BAR_HEIGHT / 2 - @MATERIAL_SLIDER_HANDLE_SIZE / 2;

    &.dx-slider-range-visible {
        background: @MATERIAL_SLIDER_BACKGROUND;
    }
}

.dx-slider-handle {
    margin-top: @MATERIAL_SLIDER_BAR_HEIGHT / 2 - @MATERIAL_SLIDER_HANDLE_SIZE / 2;
    margin-right: -@MATERIAL_SLIDER_HANDLE_SIZE / 2;
    width: @MATERIAL_SLIDER_HANDLE_SIZE;
    height: @MATERIAL_SLIDER_HANDLE_SIZE;
    .border-radius(@MATERIAL_SLIDER_RADIUS);

    &:after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        margin-top: -@MATERIAL_SLIDER_HANDLE_INNER_SIZE / 2;
        margin-left: -@MATERIAL_SLIDER_HANDLE_INNER_SIZE / 2;
        width: @MATERIAL_SLIDER_HANDLE_INNER_SIZE;
        height: @MATERIAL_SLIDER_HANDLE_INNER_SIZE;
        background: @MATERIAL_SLIDER_BACKGROUND;
        content: "";
        .border-radius(@MATERIAL_SLIDER_RADIUS);
    }

    .dx-tooltip-wrapper .dx-popup-content {
        line-height: normal;
    }

    .dx-inkripple-wave {
        background-color: @MATERIAL_SLIDER_ACTIVE;
    }
}

.dx-slider-tooltip-position-top {
    padding-top: @MATERIAL_SLIDER_TOOLTIP_PADDING;
}

.dx-slider-tooltip-position-bottom {
    padding-bottom: @MATERIAL_SLIDER_TOOLTIP_PADDING;
}

.dx-slider-label-position-bottom {
    .dx-slider-label {
        bottom: -18px;
    }
}

.dx-slider-label-position-top {
    .dx-slider-label {
        top: -15px;
    }
}

.dx-state-disabled {
    &.dx-slider, .dx-slider {
        opacity: 1;

        .dx-slider-handle {
            opacity: 1;
        }
    }

    .dx-slider-range.dx-slider-range-visible {
        background: @MATERIAL_SLIDER_DISABLED_BACKGROUND;
    }

    .dx-slider-handle {
        width: 12px;
        height: 12px;
        margin-top: -5px;
        margin-right: -5px;
        border-radius: 50%;
        border: 2px solid white;

        &:after {
            margin-top: -@MATERIAL_SLIDER_HANDLE_INNER_DISABLED_SIZE / 2 - @MATERIAL_SLIDER_HANDLE_INNER_BORDER_WIDTH - 2px;
            margin-left: -@MATERIAL_SLIDER_HANDLE_INNER_DISABLED_SIZE / 2 - @MATERIAL_SLIDER_HANDLE_INNER_BORDER_WIDTH - 2px;
            width: 8px;
            height: 8px;
            background: grey;
        }

        .dx-overlay-content{
            margin-top: -12px ;
            margin-left: -11px ;
        }
    }
}

.dx-state-active.dx-slider-handle:after {
    .transform(scale(1.3));
}

.dx-rtl {
    .dx-slider-handle {
        margin-left: -@MATERIAL_SLIDER_HANDLE_SIZE / 2;
    }

    &.dx-state-disabled {
        .dx-slider-handle {
            margin-left: -5px;
            margin-right: 0;
        }

        .dx-overlay-content{
            margin-left: -13px ;
        }
    }
}
