@MATERIAL_SLIDEOUTVIEW_BORDER_WIDTH: @MATERIAL_BASE_BORDER_WIDTH;

.dx-slideoutview-content {
    box-sizing: content-box;
    margin-left: -@MATERIAL_SLIDEOUTVIEW_BORDER_WIDTH;
    border-style: solid;
    border-width: 0 @MATERIAL_SLIDEOUTVIEW_BORDER_WIDTH;
    border-color: @slideoutview-content-border-color;
}

.dx-slideoutview-menu-content,
.dx-slideoutview-content {
    background-color: @slideoutview-bg;
}
