@use "./mixins" as *;
@use "../mixins" as *;

// adduse

.dx-lookup {
  margin: 0;

  .dx-popup-content {
    .dx-scrollable {
      height: calc(100% - 45px);
    }
  }

  .dx-lookup-field-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.dx-lookup-field {
  outline: none;
  position: relative;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;

  @include dx-overflow();

  &::before {
    content: ".";
    color: transparent;
    display: inline-block;
    width: 0;
    float: left;
  }
}

.dx-lookup-empty {
  .dx-lookup-field {
    display: flex;
    align-items: center;

    .dx-placeholder {
      &::before {
        padding: 0;
      }
    }
  }

  .dx-placeholder {
    position: relative;
    display: flex;
  }
}

.dx-lookup-arrow {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  inset-inline-end: 0;
  height: 100%;
}

.dx-state-disabled {
  .dx-lookup-field {
    cursor: default;
  }
}

.dx-lookup-popup-wrapper {
  .dx-list-item {
    cursor: pointer;
  }
}

.dx-lookup-popup-search {
  .dx-list {
    height: 90%;
  }
}

.dx-lookup-search-wrapper {
  width: 100%;
}
