<dx-box direction="row" width="100%" [height]="75">
  <dxi-box-item class="rect demo-dark" [ratio]="1"> ratio = 1 </dxi-box-item>
  <dxi-box-item class="rect demo-light" [ratio]="2"> ratio = 2 </dxi-box-item>
  <dxi-box-item class="rect demo-dark" [ratio]="1"> ratio = 1 </dxi-box-item>
</dx-box>
<br />
<dx-box direction="row" width="100%" [height]="75">
  <dxi-box-item class="rect demo-dark" [ratio]="0" [baseSize]="150">
    150px
  </dxi-box-item>
  <dxi-box-item class="demo-light" [ratio]="1">
    <dx-box
      direction="row"
      width="100%"
      [height]="75"
      align="center"
      crossAlign="center"
    >
      <dxi-box-item [ratio]="0" [baseSize]="50">
        <div class="small"></div>
      </dxi-box-item>
      <dxi-box-item [ratio]="0" [baseSize]="50">
        <div class="small"></div>
      </dxi-box-item>
      <dxi-box-item [ratio]="0" [baseSize]="50">
        <div class="small"></div>
      </dxi-box-item>
    </dx-box>
  </dxi-box-item>
  <dxi-box-item class="rect demo-dark" [ratio]="0" baseSize="10%"> 10% </dxi-box-item>
</dx-box>
<br />
<dx-box direction="col" width="100%" [height]="250">
  <dxi-box-item class="rect demo-dark header" [ratio]="1"> Header </dxi-box-item>
  <dxi-box-item [ratio]="2" [baseSize]="0">
    <dx-box direction="row" width="100%" [height]="125">
      <dxi-box-item class="rect demo-dark" [ratio]="1"> Left Bar </dxi-box-item>
      <dxi-box-item class="rect demo-light" [ratio]="1"> Content </dxi-box-item>
      <dxi-box-item class="rect demo-dark" [ratio]="1"> Right Bar </dxi-box-item>
    </dx-box>
  </dxi-box-item>
  <dxi-box-item class="rect demo-dark footer" [ratio]="1"> Footer </dxi-box-item>
</dx-box>
