<dx-chart
  id="chart"
  [dataSource]="temperaturesData"
  title="Daily Temperature in May"
  [customizePoint]="customizePoint"
  [customizeLabel]="customizeLabel"
>
  <dxi-chart-series
    argumentField="day"
    valueField="value"
    type="bar"
    color="#e7d19a"
  ></dxi-chart-series>
  <dxi-chart-value-axis [maxValueMargin]="0.01" [visualRange]="{ startValue: 40 }">
    <dxo-chart-label [customizeText]="customizeText"></dxo-chart-label>
    <dxi-chart-constant-line
      [width]="2"
      [value]="lowAverage"
      color="#8c8cff"
      dashStyle="dash"
    >
      <dxo-chart-label text="Low Average"></dxo-chart-label>
    </dxi-chart-constant-line>
    <dxi-chart-constant-line
      [width]="2"
      [value]="highAverage"
      color="#ff7c7c"
      dashStyle="dash"
    >
      <dxo-chart-label text="High Average"></dxo-chart-label>
    </dxi-chart-constant-line>
  </dxi-chart-value-axis>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
</dx-chart>
