@use "colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/speedDialAction" as baseSpeedDialAction with (
  $speeddialaction-fa-button-label-border-radius: $speed-dial-action-fa-button-label-border-radius,
);
@use "../button/colors" as buttonColors;

// adduse
@use "../overlay";
@include baseSpeedDialAction.dx-fa-button-mixin(
  $speed-dial-action-main-fa-button-size,
  $speed-dial-action-fa-button-size,
  $global-icon-size,
  $global-font-size,
  $speed-dial-action-fa-button-label-padding,
  $speed-dial-action-fa-button-label-offset,
  $speed-dial-action-content-rest,
  $speed-dial-action-bg-rest,
  $speed-dial-action-shadow-rest,
  $speed-dial-action-backdrop-rest,
  $speed-dial-action-bg-hovered,
  $speed-dial-action-bg-active,
  $speed-dial-action-label-shadow-rest,
  $speed-dial-action-main-bg-rest,
  buttonColors.$button-default-contained-content-rest,
  $speed-dial-action-main-bg-hovered,
  $speed-dial-action-main-bg-active
);

.dx-fa-button {
  &.dx-fa-button-main {
    .dx-overlay-content {
      .dx-fa-button-label {
        padding: $speed-dial-action-main-fa-button-label-padding;
        font-size: $global-font-size;
        font-weight: $speed-dial-action-fa-button-label-font-weight;
      }
    }

    &.dx-fa-button-with-label {
      .dx-overlay-content {
        .dx-fa-button-icon {
          padding-inline-start: $speed-dial-action-main-fa-button-padding-inline;
        }
      }
    }
  }
}
