@use "../../../_design-system/variables/ds" as ds;

// adduse

$number-box-spin-icon-rest: ds.$color-content-neutral-subdued-rest !default;
$number-box-spin-bg-hovered: ds.$color-surface-neutral-default-hovered !default;
$number-box-spin-bg-active: ds.$color-surface-neutral-default-active !default;

$number-box-content-disabled: ds.$color-content-neutral-default-disabled !default;

// Base-layer values injected with design tokens (wave B1)
