<dx-data-grid
  id="gridContainer"
  [dataSource]="companies"
  [keyExpr]="'ID'"
  [width]="'100%'"
  [showBorders]="true"
  (onExporting)="onExporting($event)"
>
  <dxo-data-grid-export [enabled]="true" [formats]="['pdf']"></dxo-data-grid-export>
  <dxo-data-grid-group-panel [visible]="true"></dxo-data-grid-group-panel>
  <dxo-data-grid-grouping [autoExpandAll]="true"></dxo-data-grid-grouping>
  <dxi-data-grid-sort-by-group-summary-info
    summaryItem="count"
  ></dxi-data-grid-sort-by-group-summary-info>

  <dxi-data-grid-column dataField="Name" [width]="190"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Address" [width]="200"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="State" [groupIndex]="0"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Phone" [format]="phoneNumberFormat"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="Website"
    alignment="center"
    [width]="100"
    cellTemplate="cellTemplate"
  ></dxi-data-grid-column>
  <div *dxTemplate="let cell of 'cellTemplate'">
    <a href="{{ cell.text }}" target="_blank">Website</a>
  </div>

  <dxo-data-grid-summary>
    <dxi-data-grid-total-item
      column="Name"
      summaryType="count"
      displayFormat="Total count: {0}"
    ></dxi-data-grid-total-item>
  </dxo-data-grid-summary>
</dx-data-grid>
