<div class="example">
  <div class="example__title">
    Form control example
  </div>
  <div class="example__control">
    <form [formGroup]="form">
      <dx-slide-toggle formControlName="toggleControl"
                       [text]="'Angular form control'"
                       [textPosition]="'left'">
      </dx-slide-toggle>
    </form>
  </div>
  <div class="example__info">
    <button (click)="toggleFormValue()">
      Toggle form value
    </button>

    <div>
      Form value: {{ formValue$ | async | json }}
    </div>
  </div>
</div>

<div class="example">
  <div class="example__title">
    Validation example
  </div>
  <div class="example__control">
    <form [formGroup]="validationForm">
      <dx-slide-toggle formControlName="toggleControl"
                       [text]="'Angular form control'"
                       [textPosition]="'left'">
      </dx-slide-toggle>
    </form>
  </div>
  <div class="example__info">
    <button (click)="toggleValidationFormValue()">
      Toggle form value
    </button>

    <div>
      Form value: {{ validationFormValue$ | async | json }}
    </div>
    <div>
      Form status: {{ validationFormStatus$ | async | json }}
    </div>
  </div>
</div>
