@use "../sizes" as *;

// adduse

$MATERIAL_POPUP_CONTENT_PADDING: null !default;
$MATERIAL_POPUP_CONTENT_WITHTITLE_TOP_PADDING: null !default;
$MATERIAL_POPUP_BUTTON_MARGIN: null !default;
$MATERIAL_POPUP_TOOLBAR_ITEM_SPACING: null !default;
$MATERIAL_POPUP_TOOLBARTOP_PADDING: null !default;
$MATERIAL_POPUP_TOOLBARBOTTOM_PADDING: null !default;
$MATERIAL_POPUP_BOTTOM_TOOLBAR_HEIGHT: null !default;

@if $size == "default" {
  $MATERIAL_POPUP_CONTENT_PADDING: 24px;
  $MATERIAL_POPUP_CONTENT_WITHTITLE_TOP_PADDING: 20px;

  $MATERIAL_POPUP_BUTTON_MARGIN: 0 8px;

  $MATERIAL_POPUP_TOOLBAR_ITEM_SPACING: 8px;
  $MATERIAL_POPUP_TOOLBARTOP_PADDING: 0 8px 0 24px;
  $MATERIAL_POPUP_TOOLBARBOTTOM_PADDING: 0 8px 0 24px;
  $MATERIAL_POPUP_BOTTOM_TOOLBAR_HEIGHT: 52px;
}

@else if $size == "compact" {
  $MATERIAL_POPUP_CONTENT_PADDING: 16px;
  $MATERIAL_POPUP_CONTENT_WITHTITLE_TOP_PADDING: 14px;

  $MATERIAL_POPUP_BUTTON_MARGIN: 0 8px;

  $MATERIAL_POPUP_TOOLBAR_ITEM_SPACING: 8px;
  $MATERIAL_POPUP_TOOLBARTOP_PADDING: 0 8px 0 16px;
  $MATERIAL_POPUP_TOOLBARBOTTOM_PADDING: 0 8px 0 16px;
  $MATERIAL_POPUP_BOTTOM_TOOLBAR_HEIGHT: 44px;
}
