<dx-diagram
  (onRequestEditOperation)="requestEditOperationHandler($event)"
  (onRequestLayoutUpdate)="requestLayoutUpdateHandler($event)"
>
  <dxi-diagram-custom-shape
    category="items"
    [type]="'root'"
    baseType="octagon"
    [defaultText]="'Development'"
  >
  </dxi-diagram-custom-shape>
  <dxi-diagram-custom-shape
    category="items"
    [type]="'team'"
    [title]="'Team'"
    baseType="ellipse"
    [defaultText]="'Team Name'"
  >
  </dxi-diagram-custom-shape>
  <dxi-diagram-custom-shape
    category="items"
    [type]="'employee'"
    [title]="'Employee'"
    baseType="rectangle"
    [defaultText]="'Employee Name'"
  >
  </dxi-diagram-custom-shape>
  <dxo-diagram-nodes
    [dataSource]="orgItemsDataSource"
    keyExpr="ID"
    typeExpr="Type"
    textExpr="Name"
    parentKeyExpr="ParentID"
    [styleExpr]="itemStyleExpr"
  >
    <dxo-diagram-auto-layout type="tree"></dxo-diagram-auto-layout>
  </dxo-diagram-nodes>
  <dxo-diagram-context-toolbox
    [width]="100"
    [shapeIconsPerRow]="2"
    [shapes]="['team', 'employee']"
  >
    <dxi-diagram-group category="general" title="General"></dxi-diagram-group>
  </dxo-diagram-context-toolbox>
  <dxo-diagram-toolbox [shapeIconsPerRow]="2">
    <dxi-diagram-group title="Items" [shapes]="['team', 'employee']"></dxi-diagram-group>
  </dxo-diagram-toolbox>
  <dxo-diagram-properties-panel visibility="disabled"> </dxo-diagram-properties-panel>
</dx-diagram>
