$cardview-headerpanel-content-gap: null !default;

$cardview-headerpanel-dropzone-height: null !default;
$cardview-headerpanel-dropzone-top: null !default;

$cardview-dropzone-text-color: null !default;
$cardview-dropzone-background-color: null !default;
$cardview-dropzone-border-width: null !default;
$cardview-dropzone-border-color: null !default;
$cardview-dropzone-border-radius: null !default;

$cardview-headerpanel-text-empty-line-height: null !default;
