<dx-map
  #map
  center="40.7061, -73.9969"
  [zoom]="14"
  [height]="400"
  width="100%"
  [provider]="mapProviders[0].key"
  [apiKey]="apiKey"
  [type]="mapTypes[0].key"
>
</dx-map>

<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Map Provider</span>
    <dx-select-box
      [dataSource]="mapProviders"
      displayExpr="name"
      valueExpr="key"
      [inputAttr]="{ 'aria-label': 'Map Provider' }"
      [(value)]="map.provider"
    >
    </dx-select-box>
  </div>
  <div class="option">
    <span>Map Type</span>
    <dx-select-box
      [dataSource]="mapTypes"
      displayExpr="name"
      valueExpr="key"
      [inputAttr]="{ 'aria-label': 'Map Type' }"
      [(value)]="map.type"
    >
    </dx-select-box>
  </div>
</div>
