@use "../sizes" as *;

// adduse

$fluent2-badge-padding: null !default;
$fluent2-badge-font-size: null !default;
$badge-line-height: null !default;

@if $size == "default" {
  $fluent2-badge-padding: 0 6px !default;
  $fluent2-badge-font-size: 12px !default;
  $badge-line-height: 20px !default;
}

@else if $size == "compact" {
  $fluent2-badge-padding: 0 6px !default;
  $fluent2-badge-font-size: 10px !default;
  $badge-line-height: 16px !default;
}
