@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 10. Slider bar background color
* $type color
*/
$fluent-slider-bar-bg: $base-neutral-foreground !default; // color.change($base-accent, $alpha: 0.24) !default;

/**
* $name 20. Selected range background color
* $type color
*/
$fluent-slider-bg: $base-accent !default;
$fluent-slider-bg-hover: $base-accent-hover !default;
$fluent-slider-bg-focused: $base-accent-active !default;
$fluent-slider-disabled-bg: $base-foreground-disabled !default;
$fluent-slider-bar-disabled-bg: $base-neutral-background-disabled !default;
$fluent-slider-tooltip-bg: $base-accent !default;

/**
* $name 30. Slider tooltip text color
* $type color
*/
$fluent-slider-tooltip-color: $base-inverted-text-color !default;
