<dx-scheduler
  timeZone="America/Los_Angeles"
  [dataSource]="appointmentsData"
  [views]="['timelineDay', 'timelineWeek', 'timelineWorkWeek', 'timelineMonth']"
  currentView="timelineMonth"
  [firstDayOfWeek]="0"
  [startDayHour]="8"
  [endDayHour]="20"
  [cellDuration]="60"
  [groups]="['priority']"
  [currentDate]="currentDate"
  [height]="580"
  [snapToCellsMode]="snapToCellsMode"
  (onInitialized)="onSchedulerInitialized($event)"
  (onContentReady)="onSchedulerContentReady()"
>
  <dxi-scheduler-resource
    fieldExpr="ownerId"
    [allowMultiple]="true"
    [dataSource]="resourcesData"
    label="Owner"
    [useColorAsDefault]="true"
    icon="user"
  ></dxi-scheduler-resource>
  <dxi-scheduler-resource
    fieldExpr="priority"
    [allowMultiple]="false"
    [dataSource]="prioritiesData"
    label="Priority"
    icon="tags"
  ></dxi-scheduler-resource>
</dx-scheduler>
<div class="options">
  <div class="option">
    <span>Snap to Cells Mode:</span>
    <dx-select-box
      [items]="snapToCellsModeItems"
      valueExpr="value"
      displayExpr="text"
      [value]="snapToCellsMode"
      (onValueChanged)="onSnapToCellsModeChanged($event)"
    ></dx-select-box>
  </div>
</div>
