<dx-scheduler
  timeZone="America/Los_Angeles"
  [dataSource]="appointmentsData"
  [views]="['timelineDay', 'timelineWeek', 'timelineWorkWeek', 'timelineMonth']"
  currentView="timelineMonth"
  [firstDayOfWeek]="0"
  [startDayHour]="8"
  [endDayHour]="20"
  [cellDuration]="60"
  [groups]="['priority']"
  [currentDate]="currentDate"
  [height]="580"
>
  <dxi-scheduler-resource
    fieldExpr="ownerId"
    [allowMultiple]="true"
    [dataSource]="resourcesData"
    label="Owner"
    [useColorAsDefault]="true"
    icon="user"
  ></dxi-scheduler-resource>
  <dxi-scheduler-resource
    fieldExpr="priority"
    [allowMultiple]="false"
    [dataSource]="prioritiesData"
    label="Priority"
    icon="tags"
  ></dxi-scheduler-resource>

  <dxo-scheduler-editing>
    <dxo-scheduler-form>
      <dxi-scheduler-item name="mainGroup">
        <dxi-scheduler-item name="subjectGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="dateGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="repeatGroup"></dxi-scheduler-item>
        <dxi-scheduler-item name="resourcesGroup">
          <dxi-scheduler-item
            name="ownerIdGroup"
            [colCount]="3"
            [colCountByScreen]="{ xs: 3 }"
          >
            <dxi-scheduler-item name="ownerIdIcon"></dxi-scheduler-item>
            <dxi-scheduler-item name="ownerId"></dxi-scheduler-item>
            <dxi-scheduler-item name="priority"></dxi-scheduler-item>
          </dxi-scheduler-item>
        </dxi-scheduler-item>
      </dxi-scheduler-item>
      <dxi-scheduler-item name="recurrenceGroup"></dxi-scheduler-item>
    </dxo-scheduler-form>
  </dxo-scheduler-editing>
</dx-scheduler>
