::ng-deep .dx-scheduler-timeline-day .dx-scheduler-cell-sizes-horizontal,
::ng-deep .dx-scheduler-timeline-week .dx-scheduler-cell-sizes-horizontal,
::ng-deep .dx-scheduler-timeline-work-week .dx-scheduler-cell-sizes-horizontal {
    width: 100px;
}

::ng-deep .dx-scheduler-appointment-content {
  color: var(--dxds-color-content-neutral-default-on-surface-rest, white);
}

.options {
  padding: 20px;
  background-color: color-mix(in srgb, var(--dxds-color-surface-neutral-default-inverted-rest, #bfbfbf) calc(var(--dxds-opacity-5, 0.15) * 100%), transparent);
  margin-top: 20px;
}

.caption {
  font-size: 18px;
  font-weight: 500;
}

.option {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}