<div id="data-grid-demo">
  <dx-data-grid
    id="gridContainer"
    [height]="440"
    [dataSource]="tasks"
    keyExpr="ID"
    [showBorders]="true"
  >
    <dxo-data-grid-row-dragging
      [allowReordering]="true"
      [onReorder]="onReorder"
      [showDragIcons]="showDragIcons"
    ></dxo-data-grid-row-dragging>
    <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>
    <dxo-data-grid-sorting mode="none"></dxo-data-grid-sorting>
    <dxi-data-grid-column dataField="ID" [width]="55"></dxi-data-grid-column>
    <dxi-data-grid-column dataField="Owner" [width]="150">
      <dxo-data-grid-lookup
        [dataSource]="employees"
        valueExpr="ID"
        displayExpr="FullName"
      ></dxo-data-grid-lookup>
    </dxi-data-grid-column>
    <dxi-data-grid-column dataField="AssignedEmployee" caption="Assignee" [width]="150">
      <dxo-data-grid-lookup
        [dataSource]="employees"
        valueExpr="ID"
        displayExpr="FullName"
      ></dxo-data-grid-lookup>
    </dxi-data-grid-column>
    <dxi-data-grid-column dataField="Subject"></dxi-data-grid-column>
  </dx-data-grid>

  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <dx-check-box [(value)]="showDragIcons" text="Show Drag Icons">
      </dx-check-box>
    </div>
  </div>
</div>
