<dx-polar-chart 
    id="radarChart"
    [dataSource]="temperaturesData"
    title="Average temperature in London">
    <dxo-common-series-settings
        type="bar"
        [opacity]="0.75">
    </dxo-common-series-settings>
    <dxi-series
        valueField="day"
        name="Day"
        color="#fdff5e">
    </dxi-series>
    <dxi-series
        valueField="night"
        name="Night"
        color="#0f3b59">
    </dxi-series>
    <dxo-common-annotation-settings
        type="text"
        [opacity]="0.7"
        [arrowLength]="0">
    </dxo-common-annotation-settings>
    <dxi-annotation
        text="WINTER"
        [angle]="45"
        [radius]="180">
    </dxi-annotation>
    <dxi-annotation
        text="SPRING"
        [angle]="135"
        [radius]="180">
    </dxi-annotation>
    <dxi-annotation
        text="SUMMER"
        [angle]="225"
        [radius]="180">
    </dxi-annotation>
    <dxi-annotation
        text="FALL"
        [angle]="315"
        [radius]="180">
    </dxi-annotation>
    <dxi-annotation
        [argument]="maxDay.arg"
        series="Day"
        text="Highest temperature: {{maxDay.day}} °C"
        [opacity]="1"
        [offsetX]="105"
        [paddingTopBottom]="15"
        [paddingLeftRight]="15">
    </dxi-annotation>
    <dxi-annotation
        [argument]="minNight.arg"
        series="Night"
        text="Lowest temperature: {{minNight.night}} °C"
        [opacity]="1"
        [offsetX]="105"
        [paddingTopBottom]="15"
        [paddingLeftRight]="15">
    </dxi-annotation>
    <dxo-argument-axis>
        <dxi-strip
            startValue="December"
            endValue="February"
            color="#0076d1">
        </dxi-strip>
        <dxi-strip
            startValue="March"
            endValue="May"
            color="#3ca3b0">
        </dxi-strip>
        <dxi-strip
            startValue="June"
            endValue="August"
            color="#3fbc1e">
        </dxi-strip>
        <dxi-strip
            startValue="September"
            endValue="November"
            color="#f0bb00">
        </dxi-strip>
    </dxo-argument-axis>
    <dxo-legend
        horizontalAlignment="center"
        verticalAlignment="bottom">
    </dxo-legend>
</dx-polar-chart>
