#productList {
    padding: 10px;
}

#productList ul {
    text-align: center;
    list-style-type: none;
    margin: 20px 0;
}

#productList ul li {
    display: inline-block;
    width: 160px;
    margin: 10px;
}

#productList ul li img {
    width: 100px;
}

.dx-toast-content {
    min-width: 300px;
    max-width: 400px;
}
