@use "../sizes" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$fluent-datebox-overlay-item-margin: ds.$spacing-160 !default;
$fluent-datebox-overlay-item-margin-adaptive: ds.$spacing-180 !default;
$fluent-datebox-popup-content-margin: 0 ds.$spacing-340 !default;
