<dx-data-grid
  id="gridContainer"
  [dataSource]="orders"
  keyExpr="ID"
  [showBorders]="true"
  (onToolbarPreparing)="onToolbarPreparing($event)"
>
  <dxo-data-grid-grouping [autoExpandAll]="expandAll"></dxo-data-grid-grouping>
  <dxo-data-grid-column-chooser [enabled]="true"></dxo-data-grid-column-chooser>
  <dxo-data-grid-load-panel [enabled]="true"></dxo-data-grid-load-panel>

  <dxi-data-grid-column
    dataField="OrderNumber"
    caption="Invoice Number"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderDate"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="CustomerStoreCity"
    caption="City"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="CustomerStoreState"
    caption="State"
    [groupIndex]="0"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="SaleAmount"
    alignment="right"
    format="currency"
  ></dxi-data-grid-column>

  <dxo-data-grid-toolbar>
    <dxi-data-grid-item location="before">
      <div *dxTemplate class="informer">
        <div class="count">{{ totalCount }}</div>
        <span>Total Count</span>
      </div>
    </dxi-data-grid-item>
    <dxi-data-grid-item location="before" locateInMenu="auto">
      <div *dxTemplate>
        <dx-select-box
          width="225"
          [items]="groupingValues"
          [inputAttr]="{ 'aria-label': 'Value' }"
          displayExpr="text"
          valueExpr="value"
          value="CustomerStoreState"
          (onValueChanged)="toggleGroupColumn($event)"
        >
        </dx-select-box>
      </div>
    </dxi-data-grid-item>
    <dxi-data-grid-item
      location="before"
      locateInMenu="auto"
      widget="dxButton"
      [options]="toggleButtonOptions"
    >
    </dxi-data-grid-item>
    <dxi-data-grid-item
      location="after"
      locateInMenu="auto"
      showText="inMenu"
      widget="dxButton"
      [options]="refreshButtonOptions"
    >
    </dxi-data-grid-item>
    <dxi-data-grid-item name="columnChooserButton"></dxi-data-grid-item>
  </dxo-data-grid-toolbar>
</dx-data-grid>
