<dx-data-grid
  id="gridContainer"
  keyExpr="ID"
  [dataSource]="employees"
  (onSelectionChanged)="onSelectionChanged($event)"
  (onContentReady)="onContentReady($event)"
  [showBorders]="true"
>
  <dxo-data-grid-selection mode="single"></dxo-data-grid-selection>
  <dxo-data-grid-master-detail [enabled]="false" template="detail"></dxo-data-grid-master-detail>
  <dxi-data-grid-column dataField="Prefix" [width]="70" caption="Title"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" [width]="170"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="State" [width]="125"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" dataType="date"></dxi-data-grid-column>

  <div *dxTemplate="let employee of 'detail'">
    <div class="employeeInfo">
      <img
        class="employeePhoto"
        alt="Employee photo"
        [src]="employee.data.Picture"
      />
      <p class="employeeNotes">{{ employee.data.Notes }}</p>
    </div>
  </div>
</dx-data-grid>
