<dx-diagram
  #diagram
  id="diagram"
  (onContentReady)="contentReadyHandler($event)"
  (onSelectionChanged)="selectionChangedHandler($event)"
>
  <dxo-diagram-nodes
    [dataSource]="dataSource"
    keyExpr="ID"
    [textExpr]="textExpression"
    parentKeyExpr="Head_ID"
  >
    <dxo-diagram-auto-layout type="tree"></dxo-diagram-auto-layout>
  </dxo-diagram-nodes>
  <dxo-diagram-toolbox visibility="disabled"></dxo-diagram-toolbox>
  <dxo-diagram-properties-panel visibility="disabled"></dxo-diagram-properties-panel>
</dx-diagram>
<div class="selected-data">
  <span class="caption">Selected Items:</span>
  <span>
    {{
      selectedItems && selectedItems.length
        ? (selectedItems | stringifyItems : textExpression)
        : "Nobody has been selected"
    }}
  </span>
</div>
