@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$chat-background-color: $base-bg !default;
$chat-messagebox-border-color: $base-border-color !default;
$chat-avatar-background-color: #878787 !default;
$chat-bubble-background-color-primary: #EBF3FC !default;
$chat-bubble-background-color-secondary: #F5F5F5 !default;
$chat-information-color: null !default;

@if $mode == "light" {
  $chat-information-color: #707070 !default;
}

// TODO: ADD DARK THEME
@else if $mode == "dark" {
  $chat-information-color: #999999 !default;
}
