@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$chat-background-color: $base-bg !default;
$chat-border-color: $base-border-color !default;
$chat-messagebox-border-color: $base-border-color !default;
$chat-avatar-background-color: null !default;
$chat-bubble-background-color-primary: null !default;
$chat-bubble-background-color-secondary: null !default;
$chat-information-color: null !default;

$chat-messagelist-empty-icon-color: null !default;
$chat-messagelist-empty-icon-background-color: null !default;
$chat-messagelist-empty-message-color: $base-text-color !default;
$chat-messagelist-empty-prompt-color: null !default;
$chat-messagelist-day-header-color: null !default;

@if $mode == "light" {
  $chat-avatar-background-color: darken($base-bg, 12.16) !default; // #E0E0E0
  $chat-bubble-background-color-primary: lighten(desaturate(adjust-hue($base-accent, 4), 11.38), 55.49) !default; // #EBF3FC
  $chat-bubble-background-color-secondary: darken($base-bg, 3.92) !default; // #F5F5F5
  $chat-information-color: darken($base-bg, 56.08) !default; // #707070

  $chat-messagelist-empty-icon-color: lighten($base-icon-color, 32.16) !default; // #B3B3B3
  $chat-messagelist-empty-icon-background-color: darken($base-bg, 3.92) !default; // #F5F5F5
  $chat-messagelist-empty-prompt-color: darken($base-label-color, 5.88) !default; // #616161
  $chat-messagelist-day-header-color: lighten($base-icon-color, 32.16) !default; // #B3B3B3
}

@else if $mode == "dark" {
  $chat-avatar-background-color: lighten($base-bg, 16.08) !default; // #525252
  $chat-bubble-background-color-primary: darken(desaturate(adjust-hue($base-accent, -4), 14.69), 49.41) !default; // #082338
  $chat-bubble-background-color-secondary: lighten($base-bg, 7.84) !default; // #3D3D3D
  $chat-information-color: lighten($base-bg, 43.92) !default; // #999

  $chat-messagelist-empty-icon-color: darken($base-icon-color, 25.88) !default; // #6B6B6B
  $chat-messagelist-empty-icon-background-color: lighten($base-bg, 7.84) !default; // #3D3D3D
  $chat-messagelist-empty-prompt-color: lighten($base-label-color, 7.84) !default; // #ADADAD
  $chat-messagelist-day-header-color: darken($base-icon-color, 25.88) !default; // #6B6B6B
}
