@use "sass:math";
@use "../textEditor/colors" as *;
@use "../common/sizes" as *;
@use "../sizes" as *;

// adduse

$chat-border-radius: $base-border-radius * 3 !default;
$chat-bubble-border-radius: null !default;
$chat-bubble-padding: null !default;
$chat-bubble-container-gap: 4px !default;
$chat-messagebox-padding: null !default;
$chat-messagebox-textarea-border-radius: $texteditor-input-border-radius !default;
$chat-messagebox-gap: 8px !default;
$chat-messagebox-buton-gap: 2px !default;
$chat-messagelist-padding: null !default;
$chat-messagegroup-gap: 4px !default;
$chat-messagegroup-padding: null !default;
$chat-information-gap: 8px !default;
$chat-avatar-size: 32px !default;
$chat-messagegroup-alignment-start-template: auto 82.5% 1fr !default;
$chat-messagegroup-alignment-start-gap: 12px !default;
$chat-header-padding: 20px !default;
$chat-information-font-size: 12px !default;

$chat-alert-icon-size: $fluent-base-icon-size !default;
$chat-alert-content-column-gap: null !default;
$chat-alerts-padding-block: null !default;
$chat-alerts-padding-inline: null !default;
$chat-alerts-row-gap: null !default;
$chat-alert-padding-block: null !default;

$chat-messagelist-empty-icon-box-size: null !default;
$chat-messagelist-empty-icon-size: null !default;
$chat-messagelist-empty-icon-margin-bottom: null !default;
$chat-messagelist-empty-row-gap: null !default;
$chat-messagelist-empty-message-font-size: null !default;
$chat-messagelist-empty-prompt-font-size: null !default;
$chat-messagelist-day-header-padding-bottom: 12px !default;
$chat-messagelist-day-header-first-padding-top: 20px !default;
$chat-messagelist-day-header-font-size: 12px !default;

$chat-typingindicator-template: $chat-messagegroup-alignment-start-template !default;
$chat-typingindicator-padding: null !default;
$chat-typingindicator-row-gap: $chat-messagegroup-gap !default;
$chat-typingindicator-font-size: $chat-information-font-size !default;
$chat-typingindicator-bubble-padding-block: null !default;
$chat-typingindicator-bubble-padding-inline: null !default;
$chat-typingindicator-bubble-border-radius: null !default;
$chat-typingindicator-bubble-column-gap: 4px !default;
$chat-typingindicator-circle-size: null !default;
$chat-typingindicator-circle-size-center: null !default;
$chat-typingindicator-circle-border-radius: 999em !default;

@if $size == "default" {
  $chat-bubble-border-radius: $fluent-base-border-radius * 3 !default;
  $chat-bubble-padding: 8px 12px !default;
  $chat-messagebox-padding: 20px !default;
  $chat-messagelist-padding: 20px !default;
  $chat-messagegroup-padding: 24px !default;

  $chat-alert-content-column-gap: 6px !default;
  $chat-alerts-padding-block: 12px !default;
  $chat-alerts-padding-inline: 20px !default;
  $chat-alerts-row-gap: 2px !default;
  $chat-alert-padding-block: 6px !default;

  $chat-messagelist-empty-icon-box-size: 64px !default;
  $chat-messagelist-empty-icon-size: 40px !default;
  $chat-messagelist-empty-icon-margin-bottom: 12px !default;
  $chat-messagelist-empty-row-gap: 4px !default;
  $chat-messagelist-empty-message-font-size: 18px !default;
  $chat-messagelist-empty-prompt-font-size: 14px !default;

  $chat-typingindicator-circle-size: math.div(8, 14) * 1em !default;
  $chat-typingindicator-circle-size-center: math.div(12, 14) * 1em !default;
  $chat-typingindicator-bubble-padding-block: 12px !default;
  $chat-typingindicator-bubble-padding-inline: 20px !default;
  $chat-typingindicator-padding: $chat-messagegroup-padding !default;
  $chat-typingindicator-bubble-border-radius: $chat-bubble-border-radius !default;
}

@else if $size == "compact" {
  $chat-bubble-border-radius: $fluent-base-border-radius * 2 !default;
  $chat-bubble-padding: 6px 8px !default;
  $chat-messagebox-padding: 16px !default;
  $chat-messagelist-padding: 16px !default;
  $chat-messagegroup-padding: 12px !default;

  $chat-alert-content-column-gap: 4px !default;
  $chat-alerts-padding-block: 8px !default;
  $chat-alerts-padding-inline: 16px !default;
  $chat-alerts-row-gap: 2px !default;
  $chat-alert-padding-block: 5px !default;

  $chat-messagelist-empty-icon-box-size: 48px !default;
  $chat-messagelist-empty-icon-size: 32px !default;
  $chat-messagelist-empty-icon-margin-bottom: 14px !default;
  $chat-messagelist-empty-row-gap: 2px !default;
  $chat-messagelist-empty-message-font-size: 14px !default;
  $chat-messagelist-empty-prompt-font-size: 12px !default;

  $chat-typingindicator-circle-size: math.div(8, 12) * 1em !default;
  $chat-typingindicator-circle-size-center: math.div(12, 12) * 1em !default;
  $chat-typingindicator-bubble-padding-block: 8px !default;
  $chat-typingindicator-bubble-padding-inline: 12px !default;
  $chat-typingindicator-padding: $chat-messagegroup-padding !default;
  $chat-typingindicator-bubble-border-radius: $chat-bubble-border-radius !default;
}
