@use "../sizes" as *;

// adduse

$chat-bubble-border-radius: null !default;
$chat-bubble-padding: null !default;
$chat-bubble-container-gap: 4px !default;
$chat-messagebox-padding: null !default;
$chat-messagebox-textarea-min-height: null !default;
$chat-messagebox-textarea-border-radius: null !default;
$chat-messagebox-button-height: null !default;
$chat-messagebox-button-width: null !default;
$chat-messagebox-gap: 8px !default;
$chat-messagelist-padding: null !default;
$chat-messagegroup-gap: 4px !default;
$chat-messagelist-gap: null !default;
$chat-information-gap: 8px !default;
$chat-avatar-size: 32px !default;
$chat-messagegroup-alignment-start-template: auto 1fr !default;
$chat-messagegroup-alignment-start-gap: 12px !default;
$chat-header-padding: 20px !default;
$chat-information-font-size: 12px !default;

@if $size == "default" {
  $chat-bubble-border-radius: 12px !default;
  $chat-bubble-padding: 8px 12px !default;
  $chat-messagebox-padding: 20px !default;
  $chat-messagebox-textarea-min-height: 40px !default;
  $chat-messagebox-textarea-border-radius: 4px !default;
  $chat-messagebox-button-height: 40px !default;
  $chat-messagebox-button-width: 32px !default;
  $chat-messagelist-padding: 20px !default;
  $chat-messagelist-gap: 24px !default;
}

@else if $size == "compact" {
  $chat-bubble-border-radius: 8px !default;
  $chat-bubble-padding: 6px 8px !default;
  $chat-messagebox-padding: 16px !default;
  $chat-messagebox-textarea-min-height: 32px !default;
  $chat-messagebox-textarea-border-radius: 4px !default;
  $chat-messagebox-button-height: 32px !default;
  $chat-messagebox-button-width: 24px !default;
  $chat-messagelist-padding: 16px !default;
  $chat-messagelist-gap: 12px !default;
}
