<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [remoteOperations]="false"
  [allowColumnReordering]="true"
  [rowAlternationEnabled]="true"
  [showBorders]="true"
  [width]="'100%'"
  (onContentReady)="contentReady($event)"
>
  <dxo-data-grid-paging [pageSize]="10"></dxo-data-grid-paging>
  <dxo-data-grid-pager
    [visible]="true"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-data-grid-pager>
  <dxo-data-grid-search-panel
    [visible]="true"
    [highlightCaseSensitive]="true"
  ></dxo-data-grid-search-panel>
  <dxo-data-grid-group-panel [visible]="true"></dxo-data-grid-group-panel>
  <dxo-data-grid-grouping [autoExpandAll]="false"></dxo-data-grid-grouping>

  <dxi-data-grid-column dataField="Product" [groupIndex]="0"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="Amount"
    caption="Sale Amount"
    dataType="number"
    format="currency"
    alignment="right"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    caption="Discount %"
    dataField="Discount"
    cellTemplate="discountCellTemplate"
    dataType="number"
    format="percent"
    alignment="right"
    [allowGrouping]="false"
    cssClass="bullet"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="SaleDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Region" dataType="string"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Sector" dataType="string"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Channel" dataType="string"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Customer" dataType="string" [width]="150"></dxi-data-grid-column>

  <div *dxTemplate="let d of 'discountCellTemplate'">
    <div class="chart-cell">
      <dx-bullet
        [showTarget]="false"
        [showZeroLevel]="true"
        [startScaleValue]="0"
        [endScaleValue]="100"
        [value]="d.value * 100"
      >
        <dxo-bullet-size [width]="150" [height]="35"></dxo-bullet-size>
        <dxo-bullet-tooltip
          [enabled]="true"
          [paddingTopBottom]="2"
          [customizeTooltip]="customizeTooltip"
        >
          <dxo-bullet-font [size]="18"></dxo-bullet-font>
        </dxo-bullet-tooltip>
        <dxo-bullet-margin [top]="5" [bottom]="0" [left]="5"></dxo-bullet-margin>
      </dx-bullet>
    </div>
  </div>
</dx-data-grid>
