<p>Click this text and press <b>Tab</b></p>
<dx-tree-list
  id="treeListContainer"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [dataSource]="employees"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [expandedRowKeys]="[1, 2, 3, 5]"
>
  <dxo-tree-list-editing
    [allowUpdating]="true"
    [allowDeleting]="true"
    [selectTextOnEditStart]="true"
    [useIcons]="true"
  >
  </dxo-tree-list-editing>

  <dxo-tree-list-header-filter [visible]="true"> </dxo-tree-list-header-filter>

  <dxo-tree-list-filter-panel [visible]="true"> </dxo-tree-list-filter-panel>

  <dxo-tree-list-filter-row [visible]="true"> </dxo-tree-list-filter-row>

  <dxo-tree-list-scrolling mode="standard"> </dxo-tree-list-scrolling>

  <dxo-tree-list-paging [enabled]="true" [pageSize]="10"> </dxo-tree-list-paging>

  <dxo-tree-list-pager
    [allowedPageSizes]="[5, 10]"
    [showPageSizeSelector]="true"
    [showNavigationButtons]="true"
  >
  </dxo-tree-list-pager>

  <dxi-tree-list-column dataField="Full_Name"> </dxi-tree-list-column>

  <dxi-tree-list-column dataField="Title" caption="Position"> </dxi-tree-list-column>

  <dxi-tree-list-column dataField="City"> </dxi-tree-list-column>

  <dxi-tree-list-column dataField="State"> </dxi-tree-list-column>
</dx-tree-list>
