<dx-chart
  id="chart"
  [dataSource]="medalsInfo"
  pointSelectionMode="multiple"
  [rotated]="true"
  title="Olympic Medals in 2008"
  (onPointClick)="pointClick($event)"
>
  <dxi-chart-series valueField="gold" name="Gold Medals" color="#ffd700"></dxi-chart-series>
  <dxi-chart-series
    valueField="silver"
    name="Silver Medals"
    color="#c0c0c0"
  ></dxi-chart-series>
  <dxi-chart-series
    valueField="bronze"
    name="Bronze Medals"
    color="#cd7f32"
  ></dxi-chart-series>
  <dxo-chart-common-series-settings argumentField="country" type="stackedbar">
    <dxo-chart-selection-style>
      <dxo-chart-hatching direction="left"></dxo-chart-hatching>
    </dxo-chart-selection-style>
  </dxo-chart-common-series-settings>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
</dx-chart>
