@use "sass:math";
@use "../sizes" as *;
@use "./colors" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$fluent-line-height: null !default;

$fluent-inline-borderedwidget-inner-size: calc(#{$fluent-base-inline-widget-height} - #{$fluent-base-border-width} * 2) !default;

$fluent-invalid-badge-size: calc(#{$fluent-base-icon-size} - #{ds.$spacing-20}) !default;
$fluent-invalid-badge-horizontal-padding: calc((#{$fluent-inline-borderedwidget-inner-size} - #{$fluent-invalid-badge-size}) / 2) !default;
$fluent-invalid-badge-halfhorizontal-padding: calc((#{$fluent-invalid-badge-horizontal-padding}) / 2) !default;

$fluent-valid-badge-font-size: calc(#{$fluent-base-font-size} + 6px) !default;

$fluent-base-dropdown-widgets-shadow: null !default;

@if $size == "default" {
  $fluent-line-height: 1.428571 !default;
  $fluent-base-dropdown-widgets-shadow: 0 0 ds.$spacing-20 0 $base-dropdown-shadow-color1, 0 ds.$spacing-80 ds.$spacing-160 0 $base-dropdown-shadow-color2 !default;
}

@else if $size == "compact" {
  $fluent-line-height: 1.3333 !default;
  $fluent-base-dropdown-widgets-shadow: 0 0 ds.$spacing-20 0 $base-dropdown-shadow-color1, 0 ds.$spacing-40 ds.$spacing-80 0 $base-dropdown-shadow-color2 !default;
}

:root {
  --dx-line-height: #{$fluent-line-height};
}
