<dx-scheduler
  [dataSource]="dataSource"
  [views]="views"
  [currentView]="currentView"
  [currentDate]="currentDate"
  [firstDayOfWeek]="0"
  [startDayHour]="9"
  [endDayHour]="19"
  [showAllDayPanel]="false"
  [height]="730"
  dataCellTemplate="dataCellTemplate"
  dateCellTemplate="dateCellTemplate"
  timeCellTemplate="timeCellTemplate"
  (onContentReady)="onContentReady($event)"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
  (onAppointmentAdding)="onAppointmentAdding($event)"
  (onAppointmentUpdating)="onAppointmentUpdating($event)"
  (onOptionChanged)="onOptionChanged($event)"
>
  <div
    *dxTemplate="let dataCell of 'dataCellTemplate'"
    [class.disable-date]="isDisableDate | apply : dataCell.startDate"
    [class.dx-scheduler-date-table-cell-text]="currentView === 'month'"
    [class.dinner]="!(isDisableDate | apply : dataCell.startDate) && (isDinner | apply : dataCell.startDate)"
  >
    {{ currentView === "month" ? (dataCell.startDate | date) : "" }}
  </div>

  <div
    *dxTemplate="let dateCell of 'dateCellTemplate'"
    [class.disable-date]="isDisabledDateCell | apply : dateCell.date"
  >
    {{ dateCell.text }}
  </div>

  <div
    *dxTemplate="let timeCell of 'timeCellTemplate'"
    [class.dinner]="isDinner | apply : timeCell.date"
  >
    {{ timeCell.text }}
    @if(hasCoffeeCupIcon | apply : timeCell.date){
      <div class="cafe"></div>
    }
  </div>
</dx-scheduler>
