<dx-pie-chart
  id="pie"
  type="doughnut"
  title="Olympic Medals in 2008"
  palette="Soft Pastel"
  [dataSource]="olympicMedals"
  (onPointClick)="pointClickHandler($event)"
>
  <dxo-pie-chart-export [enabled]="true"></dxo-pie-chart-export>
  <dxo-pie-chart-legend
    [margin]="0"
    horizontalAlignment="right"
    verticalAlignment="top"
  ></dxo-pie-chart-legend>
  <dxi-pie-chart-series argumentField="country" valueField="medals">
    <dxo-pie-chart-hover-style color="#ffd700"></dxo-pie-chart-hover-style>
  </dxi-pie-chart-series>
</dx-pie-chart>
