@use "../colors" as *;
@use "../../../_design-system/variables/ds" as ds;

$time-view-clock-digits-bg: ds.$color-content !default;
$time-view-clock-arrow-bg: ds.$color-bg-inverted !default;
$time-view-clock-bg: ds.$color-bg-canvas !default;

$time-view-clock-shadow: ds.$box-shadow-sm !default;
