@use "sizes" as *;

@mixin publish {
  --dx-time-view-clock-margin-block-end: #{$time-view-clock-margin-block-end};
  --dx-time-view-field-min-height: #{$time-view-field-min-height};
  --dx-time-view-field-number-box-spin-touch-friendly-width: #{$time-view-field-number-box-spin-touch-friendly-width};
  --dx-time-view-field-number-box-width: #{$time-view-field-number-box-width};
  --dx-time-view-format12-width: #{$time-view-format12-width};
  --dx-time-view-input-padding-inline-start: #{$time-view-input-padding-inline-start};
  --dx-time-view-number-box-spin-touch-friendly-width: #{$time-view-number-box-spin-touch-friendly-width};
  --dx-time-view-time-separator-margin: #{$time-view-time-separator-margin};
}
