@use "../sizes" as *;

// adduse

$generic-lookup-height: null !default;
$generic-lookup-popup-content-top: null !default;
$generic-lookup-popup-content-padding: null !default;
$generic-lookup-list-top: null !default;
$generic-lookup-arrow-margin: null !default;
$generic-lookup-arrow-right: null !default;
$generic-lookup-arrow-left: null !default;
$generic-lookup-invalid-message-font-size: null !default;
$generic-lookup-invalid-message-padding-horizontal: null !default;
$generic-lookup-invalid-message-padding-top: null !default;
$generic-lookup-invalid-message-padding-bottom: null !default;
$generic-lookup-invalid-message-margin-bottom: null !default;

@if $size == "default" {
  $generic-lookup-height: 36px;
  $generic-lookup-popup-content-top: 49px;
  $generic-lookup-popup-content-padding: 20px;
  $generic-lookup-list-top: 70px;

  $generic-lookup-arrow-margin: -6px;
  $generic-lookup-arrow-right: 10px;
  $generic-lookup-arrow-left: 16px;

  $generic-lookup-invalid-message-font-size: 14px;
  $generic-lookup-invalid-message-padding-horizontal: 20px;
  $generic-lookup-invalid-message-padding-top: 13px;
  $generic-lookup-invalid-message-padding-bottom: 12px;
  $generic-lookup-invalid-message-margin-bottom: 20px;
}

@else if $size == "compact" {
  $generic-lookup-height: 26px;
  $generic-lookup-popup-content-top: 36px;
  $generic-lookup-popup-content-padding: 10px;
  $generic-lookup-list-top: 40px;

  $generic-lookup-arrow-margin: -5px;
  $generic-lookup-arrow-right: 5px;
  $generic-lookup-arrow-left: 11px;

  $generic-lookup-invalid-message-font-size: 12px;
  $generic-lookup-invalid-message-padding-horizontal: 10px;
  $generic-lookup-invalid-message-padding-top: 7px;
  $generic-lookup-invalid-message-padding-bottom: 10px;
  $generic-lookup-invalid-message-margin-bottom: 10px;
}
