<div class="charts">
  <dx-chart
    id="chart"
    [dataSource]="goldMedals"
    title="Olympic Gold Medals in 2008"
    [rotated]="true"
  >
    <dxi-chart-series
      color="#f3c40b"
      type="bar"
      argumentField="country"
      valueField="medals"
    >
      <dxo-chart-label [visible]="true"></dxo-chart-label>
    </dxi-chart-series>
    <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  </dx-chart>

  <dx-pie-chart
    id="pieChart"
    [dataSource]="allMedals"
    [title]="title"
    palette="Harmony Light"
  >
    <dxi-pie-chart-series argumentField="country" valueField="medals">
      <dxo-pie-chart-label [visible]="true">
        <dxo-pie-chart-connector [visible]="true"></dxo-pie-chart-connector>
      </dxo-pie-chart-label>
    </dxi-pie-chart-series>
  </dx-pie-chart>
</div>

<div class="controls-pane">
  <dx-button
    icon="export"
    text="Export"
    type="default"
    [width]="145"
    (onClick)="export()"
  >
  </dx-button>
</div>
