@use "sizes" as *;
@use "../common/colors" as *;
@use "../common/sizes" as *;
@use "../../base/dropDownMenu/mixins" as *;
@use "../../base/dropDownMenu" with (
  $dropdownmenu-list-min-width: var(--dx-drop-down-menu-list-min-width),
  $dropdownmenu-list-border-radius: var(--dx-drop-down-menu-list-border-radius),
  $dropdownmenu-popup-content-padding: var(--dx-drop-down-menu-popup-content-padding),
);

.dx-dropdownmenu-popup-wrapper {
  .dx-toolbar-menu-section {
    display: flex;
    flex-direction: column;
    row-gap: var(--dx-drop-down-menu-section-row-gap);
    margin-inline: var(--dx-drop-down-menu-section-margin-inline);
  }

  .dx-overlay-content {
    box-shadow: $global-dropdown-box-shadow;
  }
}

@include dx-dropdownmenu-focus-outline($focus-rect-outline-rest, $focus-rect-border-radius, $drop-down-menu-section-margin-inline);
