<dx-chart
  id="chart"
  defaultPane="bottom"
  [dataSource]="weatherData"
  title="Weather in Los Angeles, California"
>
  <dxi-chart-series pane="top" valueField="avgT" name="Average Temperature, °C">
    <dxo-chart-value-error-bar
      lowValueField="avgLowT"
      highValueField="avgHighT"
      [lineWidth]="1"
      [opacity]="0.8"
    >
    </dxo-chart-value-error-bar>
  </dxi-chart-series>
  <dxi-chart-series
    pane="bottom"
    valueField="avgH"
    type="bar"
    name="Average Humidity, %"
  >
    <dxo-chart-value-error-bar type="fixed" [value]="3" [lineWidth]="1">
    </dxo-chart-value-error-bar>
  </dxi-chart-series>
  <dxo-chart-common-series-settings
    argumentField="month"
  ></dxo-chart-common-series-settings>
  <dxi-chart-pane name="top"></dxi-chart-pane>
  <dxi-chart-pane name="bottom"></dxi-chart-pane>
  <dxo-chart-argument-axis>
    <dxo-chart-label displayMode="stagger"></dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxi-chart-value-axis pane="top">
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    <dxo-chart-title text="Temperature, °C"></dxo-chart-title>
  </dxi-chart-value-axis>
  <dxi-chart-value-axis [tickInterval]="50" pane="bottom">
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    <dxo-chart-title text="Humidity, %"></dxo-chart-title>
  </dxi-chart-value-axis>
  <dxo-chart-tooltip
    [enabled]="true"
    [customizeTooltip]="customizeTooltip"
  ></dxo-chart-tooltip>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-chart-legend>
</dx-chart>
