<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  keyExpr="ID"
  [columnAutoWidth]="true"
  [showBorders]="true"
>
  <dxo-data-grid-column-fixing [enabled]="true"></dxo-data-grid-column-fixing>
  <dxi-data-grid-column
    caption="Employee"
    [fixed]="true"
    [calculateCellValue]="calculateCellValue"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" alignment="right"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="Address"
    [fixed]="true"
    fixedPosition="sticky"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Zipcode"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="State"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="Department"
    [fixed]="true"
    fixedPosition="right"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="HireDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="HomePhone"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="MobilePhone"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Email"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Skype"></dxi-data-grid-column>
</dx-data-grid>
