@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/icons" as *;
@use "../list/sizes" as *;
@use "../button/mixins" as *;
@use "../button/colors" as *;
@use "../button/sizes" as *;
@use "../checkBox/sizes" as *;
@use "mixins" as *;
@use "../../base/toolbar";

// adduse
@use "../dropDownMenu";

.dx-toolbar {
  background-color: $toolbar-bg;
  color: $toolbar-color;

  @include dx-toolbar-sizing(
    $material-toolbar-height,
    $material-toolbar-padding,
    $material-toolbar-label-font-size,
    $material-toolbar-item-spacing
  );

  .dx-device-mobile & {
    @include dx-toolbar-sizing(
      $material-mobile-toolbar-height,
      $material-mobile-toolbar-padding,
      $material-mobile-toolbar-label-font-size,
      $material-mobile-toolbar-item-spacing
    );
  }

  &.dx-state-disabled {
    opacity: 1;
  }
}

.dx-toolbar-after {
  .dx-toolbar-item {
    @include dx-toolbar-item-padding($material-toolbar-item-spacing);
  }

  .dx-device-mobile & {
    .dx-toolbar-item {
      @include dx-toolbar-item-padding($material-mobile-toolbar-item-spacing);
    }
  }
}

.dx-toolbar-background {
  background-color: $toolbar-bg;
}

.dx-toolbar-menu-section {
  border-bottom: 1px solid $base-border-color;

  .dx-toolbar-hidden-button {
    .dx-toolbar-item-auto-hide {
      padding: 0;
    }

    .dx-button {
      height: $material-list-item-height;
      padding: 0;
    }

    .dx-button-content {
      padding: 0 $material-list-item-horizontal-padding;
    }
  }

  .dx-button-content {
    padding: 4px;

    .dx-icon {
      color: $toolbar-color;

      @include dx-icon-sizing($material-button-icon-size);
    }
  }

  .dx-toolbar-item-auto-hide {
    padding: 0 $material-list-item-horizontal-padding;

    .dx-checkbox {
      padding: ($material-list-item-height - $material-checkbox-size) / 2 0;
    }
  }
}

.dx-toolbar-button {
  .dx-button-has-text:not(.dx-button-back) {
    .dx-icon {
      @include dx-icon-sizing($material-button-icon-size);
      @include dx-icon-margin(6px);
    }
  }

  &.dx-toolbar-text-auto-hide .dx-button {
    @include dx-button-onlyicon-sizing();

    &.dx-button-has-icon.dx-button-has-text {
      border-radius: 50%;
    }
  }

  .dx-menu {
    .dx-menu-item {
      color: $toolbar-color;
      font-size: $material-base-font-size;
      font-weight: 500;
      height: $material-button-height;

      .dx-menu-item-content {
        padding-top: $material-toolbar-menu-vertical-padding;
        padding-bottom: $material-toolbar-menu-vertical-padding;
      }

      &.dx-menu-item-has-text.dx-menu-item-has-icon {
        .dx-icon {
          @include dx-icon-margin(6px);
        }
      }

      &.dx-state-hover {
        background-color: $button-normal-hover-bg;
      }

      &.dx-state-focused,
      &.dx-state-active {
        background-color: $button-normal-focused-bg;
      }
    }
  }
}

.dx-toolbar-menu-action .dx-button.dx-button-has-icon:not(.dx-button-has-text) {
  border-radius: 0;
}

.dx-toolbar .dx-tab {
  padding: 4px;
}

.dx-toolbar-hidden-button-group {
  margin-top: $material-toolbar-padding;
  margin-bottom: $material-toolbar-padding;

  .dx-buttongroup-wrapper {
    .dx-buttongroup-item.dx-button {
      box-shadow: none;

      .dx-button-content {
        padding: $material-toolbar-padding $material-list-item-horizontal-padding;
      }
    }
  }
}
