<dx-chart
  id="chart"
  [dataSource]="dataSource"
  [title]="title"
  [palette]="['#00ced1', '#008000', '#ffd700', '#ff7f50']"
  (onSeriesClick)="onSeriesClick($event)"
>
  <dxo-chart-common-series-settings type="bubble"></dxo-chart-common-series-settings>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxo-chart-legend position="inside" horizontalAlignment="left">
    <dxo-chart-border [visible]="true"></dxo-chart-border>
  </dxo-chart-legend>
  <dxo-chart-argument-axis title="Total Population">
    <dxo-chart-label [customizeText]="argumentCustomizeText"></dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxi-chart-value-axis title="Population with Age over 60">
    <dxo-chart-label [customizeText]="valueCustomizeText"></dxo-chart-label>
  </dxi-chart-value-axis>
  <dxo-chart-tooltip
    [enabled]="true"
    location="edge"
    [customizeTooltip]="customizeTooltip"
  >
  </dxo-chart-tooltip>
  <dxi-chart-series
    *ngFor="let correlation of correlationSource"
    [name]="correlation.name"
    [argumentField]="correlation.argumentField"
    [valueField]="correlation.valueField"
    [sizeField]="correlation.sizeField"
    [tagField]="correlation.tagField"
  >
  </dxi-chart-series>
</dx-chart>
