<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [keyExpr]="'ID'"
  [width]="'100%'"
  [columnHidingEnabled]="true"
  [showBorders]="true"
>
  <dxo-data-grid-editing
    [allowAdding]="true"
    [allowUpdating]="true"
    mode="batch"
  ></dxo-data-grid-editing>
  <dxo-data-grid-grouping
    [contextMenuEnabled]="true"
    expandMode="rowClick"
  ></dxo-data-grid-grouping>
  <dxo-data-grid-group-panel
    [visible]="true"
    emptyPanelText="Use the context menu of header columns to group data"
  ></dxo-data-grid-group-panel>

  <dxo-data-grid-pager
    [allowedPageSizes]="[5, 8, 15, 30]"
    [showInfo]="true"
    [showNavigationButtons]="true"
    [showPageSizeSelector]="true"
    [visible]="true"
  >
  </dxo-data-grid-pager>

  <dxo-data-grid-paging [pageSize]="8"></dxo-data-grid-paging>
  <dxo-data-grid-column-chooser [enabled]="true" mode="select"></dxo-data-grid-column-chooser>

  <dxi-data-grid-column
    [allowGrouping]="false"
    dataField="OrderNumber"
    [width]="130"
    caption="Invoice Number"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CustomerStoreCity" caption="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CustomerStoreState" caption="State"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="SaleAmount" format="currency"></dxi-data-grid-column>
</dx-data-grid>
