<div class="long-title">
  <h3>Personal details</h3>
</div>
<div id="form-container">
  <dx-form id="form" [formData]="employee" [colCount]="2">
    <dxi-form-item
      itemType="group"
      captionTemplate="info"
      caption="System Information"
    >
      <dxi-form-item dataField="ID"></dxi-form-item>
      <dxi-form-item
        itemType="group"
        captionTemplate="user"
        caption="Main Information"
      >
        <dxi-form-item dataField="FirstName"></dxi-form-item>
        <dxi-form-item dataField="LastName"></dxi-form-item>
        <dxi-form-item dataField="HireDate"></dxi-form-item>
        <dxi-form-item dataField="Position"></dxi-form-item>
        <dxi-form-item dataField="OfficeNo"></dxi-form-item>
      </dxi-form-item>
    </dxi-form-item>
    <dxi-form-item
      itemType="group"
      captionTemplate="personal"
      caption="Personal Data"
    >
      <dxi-form-item dataField="BirthDate"></dxi-form-item>
      <dxi-form-item
        itemType="group"
        captionTemplate="address"
        caption="Home Address"
      >
        <dxi-form-item dataField="Address"></dxi-form-item>
        <dxi-form-item dataField="City"></dxi-form-item>
        <dxi-form-item dataField="State"></dxi-form-item>
        <dxi-form-item dataField="Zipcode"></dxi-form-item>
      </dxi-form-item>
    </dxi-form-item>
    <dxi-form-item
      itemType="group"
      captionTemplate="contact"
      caption="Contact Information"
    >
      <dxi-form-item itemType="tabbed">
        <dxo-form-tab-panel-options [deferRendering]="false">
        </dxo-form-tab-panel-options>
        <dxi-form-tab title="Phone">
          <dxi-form-item dataField="Phone"></dxi-form-item>
        </dxi-form-tab>
        <dxi-form-tab title="Skype">
          <dxi-form-item dataField="Skype"></dxi-form-item>
        </dxi-form-tab>
        <dxi-form-tab title="Email">
          <dxi-form-item dataField="Email"></dxi-form-item>
        </dxi-form-tab>
      </dxi-form-item>
    </dxi-form-item>

    <ng-container *ngFor="let label of groupCaptionTemplates">
      <div *dxTemplate="let data of label.name">
        <i class="dx-icon {{ label.icon }}"></i><span>{{ data.caption }}</span>
      </div>
    </ng-container>
  </dx-form>
</div>
