::ng-deep #form-container {
  margin: 10px;
}

::ng-deep .long-title h3 {
  font-size: 24px;
  text-align: center;
  line-height: 2em;
}

::ng-deep .dx-form-group-custom-caption .dx-template-wrapper {
  display: flex;
  align-items: center;
}

::ng-deep .dx-form-group-custom-caption .dx-icon {
  color: var(--dx-color-spin-icon);
}

::ng-deep .dx-form-group-custom-caption span {
  line-height: 1;
}
