@SCROLLVIEW_PULLDOWN_PATH: url(images/widgets/generic/color-schemes/darkmoon/pulldown.png);
@LOADINDICATOR_IMAGE_PATH: url(images/widgets/generic/color-schemes/darkmoon/loader.gif);
@LOADINDICATOR_IMAGE_SMALL_PATH: url(images/widgets/generic/color-schemes/darkmoon/loader20.gif);
@LOADINDICATOR_IMAGE_LARGE_PATH: url(images/widgets/generic/color-schemes/darkmoon/loader64.gif);
