@use "colors" as *;
@use "sizes" as *;

@mixin publish {
  --dx-chat-alert-list-content: #{$chat-alert-list-content};
  --dx-chat-alert-padding-block: #{$chat-alert-padding-block};
  --dx-chat-alerts-padding-block: #{$chat-alerts-padding-block};
  --dx-chat-alerts-padding-inline: #{$chat-alerts-padding-inline};
  --dx-chat-alerts-row-gap: #{$chat-alerts-row-gap};
  --dx-chat-avatar-bg: #{$chat-avatar-bg};
  --dx-chat-avatar-content: #{$chat-avatar-content};
  --dx-chat-avatar-size: #{$chat-avatar-size};
  --dx-chat-bg: #{$chat-bg};
  --dx-chat-border-width: #{$chat-border-width};
  --dx-chat-border: #{$chat-border};
  --dx-chat-border-radius: #{$chat-border-radius};
  --dx-chat-bubble-border-radius: #{$chat-bubble-border-radius};
  --dx-chat-bubble-container-gap: #{$chat-bubble-container-gap};
  --dx-chat-bubble-delete-gap: #{$chat-bubble-delete-gap};
  --dx-chat-bubble-delete-icon-size: #{$chat-bubble-delete-icon-size};
  --dx-chat-bubble-gap: #{$chat-bubble-gap};
  --dx-chat-bubble-image-border-radius: #{$chat-bubble-image-border-radius};
  --dx-chat-bubble-image-max-height: #{$chat-bubble-image-max-height};
  --dx-chat-bubble-image-max-width: #{$chat-bubble-image-max-width};
  --dx-chat-bubble-image-padding: #{$chat-bubble-image-padding};
  --dx-chat-bubble-padding: #{$chat-bubble-padding};
  --dx-chat-bubble-primary-bg: #{$chat-bubble-primary-bg};
  --dx-chat-bubble-primary-content: #{$chat-bubble-primary-content};
  --dx-chat-bubble-secondary-bg: #{$chat-bubble-secondary-bg};
  --dx-chat-bubble-secondary-content: #{$chat-bubble-secondary-content};
  --dx-chat-confirmation-popup-content-padding: #{$chat-confirmation-popup-content-padding};
  --dx-chat-confirmation-popup-toolbar-gap: #{$chat-confirmation-popup-toolbar-gap};
  --dx-chat-confirmation-popup-toolbar-padding-block: #{$chat-confirmation-popup-toolbar-padding-block};
  --dx-chat-confirmation-popup-toolbar-padding-inline: #{$chat-confirmation-popup-toolbar-padding-inline};
  --dx-chat-editing-preview-caption-font-weight: #{$chat-editing-preview-caption-font-weight};
  --dx-chat-file-base-section-gap: #{$chat-file-base-section-gap};
  --dx-chat-file-button-size: #{$chat-file-button-size};
  --dx-chat-file-container-bg: #{$chat-file-container-bg};
  --dx-chat-file-container-border-radius: #{$chat-file-container-border-radius};
  --dx-chat-file-container-box-shadow: #{$chat-file-container-box-shadow};
  --dx-chat-file-container-padding: #{$chat-file-container-padding};
  --dx-chat-file-container-width: #{$chat-file-container-width};
  --dx-chat-file-icon-font-size: #{$chat-file-icon-font-size};
  --dx-chat-file-name-font-weight: #{$chat-file-name-font-weight};
  --dx-chat-file-secondary-content: #{$chat-file-secondary-content};
  --dx-chat-file-secondary-font-size: #{$chat-file-secondary-font-size};
  --dx-chat-file-size-max-width: #{$chat-file-size-max-width};
  --dx-chat-file-view-items-gap: #{$chat-file-view-items-gap};
  --dx-chat-information-author-name-content: #{$chat-information-author-name-content};
  --dx-chat-information-edited-gap: #{$chat-information-edited-gap};
  --dx-chat-information-font-size: #{$chat-information-font-size};
  --dx-chat-information-gap: #{$chat-information-gap};
  --dx-chat-information-icon-size: #{$chat-information-icon-size};
  --dx-chat-information-timestamp-content: #{$chat-information-timestamp-content};
  --dx-chat-message-box-border-block-start-width: #{$chat-message-box-border-block-start-width};
  --dx-chat-message-box-border: var(--dx-chat-border);
  --dx-chat-message-box-file-bg: #{$chat-message-box-file-bg};
  --dx-chat-message-box-file-cancel-button-secondary-content: #{$chat-message-box-file-cancel-button-secondary-content};
  --dx-chat-message-box-files-container-padding: #{$chat-message-box-files-container-padding};
  --dx-chat-message-box-files-container-padding-block-start: #{$chat-message-box-files-container-padding-block-start};
  --dx-chat-message-box-gap: #{$chat-message-box-gap};
  --dx-chat-message-box-padding: #{$chat-message-box-padding};
  --dx-chat-message-box-textarea-border-radius: #{$chat-message-box-textarea-border-radius};
  --dx-chat-message-box-textarea-padding: #{$chat-message-box-textarea-padding};
  --dx-chat-message-box-toolbar-min-height: #{$chat-message-box-toolbar-min-height};
  --dx-chat-message-editing-preview-accent-content: #{$chat-message-editing-preview-accent-content};
  --dx-chat-message-editing-preview-border-width: #{$chat-message-editing-preview-border-width};
  --dx-chat-message-editing-preview-cancel-button-content: #{$chat-message-editing-preview-cancel-button-content};
  --dx-chat-message-editing-preview-caption-font-size: var(--dx-typography-xs-font-size);
  --dx-chat-message-editing-preview-content-padding-inline: #{$chat-message-editing-preview-content-padding-inline};
  --dx-chat-message-editing-preview-content-row-gap: #{$chat-message-editing-preview-content-row-gap};
  --dx-chat-message-group-alignment-start-gap: #{$chat-message-group-alignment-start-gap};
  --dx-chat-message-group-gap: #{$chat-message-group-gap};
  --dx-chat-message-group-padding: #{$chat-message-group-padding};
  --dx-chat-message-group-start-grid-template-columns: #{$chat-message-group-start-grid-template-columns};
  --dx-chat-message-list-context-menu-delete-button-bg-focused: #{$chat-message-list-context-menu-delete-button-bg-focused};
  --dx-chat-message-list-context-menu-delete-button-content: #{$chat-message-list-context-menu-delete-button-content};
  --dx-chat-message-list-context-menu-delete-button-content-focused: #{$chat-message-list-context-menu-delete-button-content-focused};
  --dx-chat-message-list-day-header-content: #{$chat-message-list-day-header-content};
  --dx-chat-message-list-day-header-first-padding-block-start: #{$chat-message-list-day-header-first-padding-block-start};
  --dx-chat-message-list-day-header-font-size: #{$chat-message-list-day-header-font-size};
  --dx-chat-message-list-day-header-padding-block-end: #{$chat-message-list-day-header-padding-block-end};
  --dx-chat-message-list-empty-icon: #{$chat-message-list-empty-icon};
  --dx-chat-message-list-empty-icon-bg: #{$chat-message-list-empty-icon-bg};
  --dx-chat-message-list-empty-icon-box-size: #{$chat-message-list-empty-icon-box-size};
  --dx-chat-message-list-empty-icon-margin-block-end: #{$chat-message-list-empty-icon-margin-block-end};
  --dx-chat-message-list-empty-icon-size: #{$chat-message-list-empty-icon-size};
  --dx-chat-message-list-empty-message-content: #{$chat-message-list-empty-message-content};
  --dx-chat-message-list-empty-message-font-size: #{$chat-message-list-empty-message-font-size};
  --dx-chat-message-list-empty-prompt-content: #{$chat-message-list-empty-prompt-content};
  --dx-chat-message-list-empty-prompt-font-size: #{$chat-message-list-empty-prompt-font-size};
  --dx-chat-message-list-empty-row-gap: #{$chat-message-list-empty-row-gap};
  --dx-chat-message-list-padding: #{$chat-message-list-padding};
  --dx-chat-suggestions-border-width: #{$chat-suggestions-border-width};
  --dx-chat-suggestions-box-shadow: #{$chat-suggestions-box-shadow};
  --dx-chat-suggestions-button-border-radius: #{$chat-suggestions-button-border-radius};
  --dx-chat-suggestions-button-max-width: #{$chat-suggestions-button-max-width};
  --dx-chat-suggestions-gap: #{$chat-suggestions-gap};
  --dx-chat-suggestions-padding: #{$chat-suggestions-padding};
  --dx-chat-typing-indicator-bubble-bg: var(--dx-chat-bubble-secondary-bg);
  --dx-chat-typing-indicator-bubble-border-radius: var(--dx-chat-bubble-border-radius);
  --dx-chat-typing-indicator-bubble-column-gap: #{$chat-typing-indicator-bubble-column-gap};
  --dx-chat-typing-indicator-bubble-padding-block: #{$chat-typing-indicator-bubble-padding-block};
  --dx-chat-typing-indicator-bubble-padding-inline: #{$chat-typing-indicator-bubble-padding-inline};
  --dx-chat-typing-indicator-circle-bg: #{$chat-typing-indicator-circle-bg};
  --dx-chat-typing-indicator-circle-border-radius: #{$chat-typing-indicator-circle-border-radius};
  --dx-chat-typing-indicator-circle-center-bg: #{$chat-typing-indicator-circle-center-bg};
  --dx-chat-typing-indicator-circle-center-size: #{$chat-typing-indicator-circle-center-size};
  --dx-chat-typing-indicator-circle-size: #{$chat-typing-indicator-circle-size};
  --dx-chat-typing-indicator-content: #{$chat-typing-indicator-content};
  --dx-chat-typing-indicator-font-size: var(--dx-chat-information-font-size);
  --dx-chat-typing-indicator-grid-template-columns: var(--dx-chat-message-group-start-grid-template-columns);
  --dx-chat-typing-indicator-padding: var(--dx-chat-message-group-padding);
  --dx-chat-typing-indicator-row-gap: var(--dx-chat-message-group-gap);
}
