@use "../overlay/colors" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$colorbox-overlay-bg: $overlay-content-bg !default;
$colorbox-palette-cell-bg: $colorbox-overlay-bg !default;
$colorview-border-color: ds.$color-border-neutral-default-rest !default;
$colorview-label-color: ds.$color-content-neutral-subdued-rest !default;
$colorview-handle-color: ds.$color-surface-neutral-default-rest !default;
$colorview-handle-border-color: ds.$color-border-neutral-default-rest !default;
