@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse


$slideoutview-content-border-color: color.change($base-border-color, $alpha: 0.5) !default;
$slideoutview-bg: null !default;


@if $color == "carmine" {
  $slideoutview-bg: $base-element-bg !default;
}

@if $color == "contrast" {
  $slideoutview-bg: $base-bg !default;
}

@if $color == "dark" {
  $slideoutview-bg: $base-element-bg !default;
}

@if $color == "darkmoon" {
  $slideoutview-bg: $base-element-bg !default;
}

@if $color == "darkviolet" {
  $slideoutview-bg: $base-element-bg !default;
}

@if $color == "greenmist" {
  $slideoutview-bg: $base-element-bg !default;
}

@if $color == "light" {
  $slideoutview-bg: $base-element-bg !default;
}

@if $color == "softblue" {
  $slideoutview-bg: $base-element-bg !default;
}

