<dx-chart id="chart" palette="Harmony Light" [dataSource]="zoomingData">
  <dxo-chart-zoom-and-pan argumentAxis="both"></dxo-chart-zoom-and-pan>
  <dxi-chart-series argumentField="arg" valueField="y1"></dxi-chart-series>
  <dxo-chart-argument-axis [visualRange]="{ startValue: 300, endValue: 500 }">
  </dxo-chart-argument-axis>
  <dxi-chart-series argumentField="arg" valueField="y2"></dxi-chart-series>
  <dxo-chart-scroll-bar [visible]="true"></dxo-chart-scroll-bar>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
</dx-chart>
