@GENERIC_SIZE_POSTFIX: ".compact";

// Font sizes
@GENERIC_BASE_FONT_SIZE: 12px;
@GENERIC_BASE_LINE_HEIGHT: 1.33334; // 16px/12px

@GENERIC_XL_FONT_SIZE: 29px;
@GENERIC_L_FONT_SIZE: 24px;
@GENERIC_M_FONT_SIZE: 18px;
@GENERIC_S_FONT_SIZE: 16px;
@GENERIC_XS_FONT_SIZE: 10px;

@GENERIC_H3_FONT_SIZE: 20px;
@GENERIC_H5_FONT_SIZE: 14px;

@GENERIC_FORM_GROUP_CAPTION_FONT_SIZE: 16px;
@GENERIC_FORM_GROUP_CONTENT_PADDING_BOTTOM: 10px;

// Base sizes
@GENERIC_BASE_INLINE_WIDGET_HEIGHT: 26px;
@GENERIC_BASE_INLINE_BLOCK_HEIGHT: 16px;
@GENERIC_BASE_ICON_SIZE: 14px;
@GENERIC_BASE_MORE_ADAPTIVE_ICON_SIZE: 17px;
@GENERIC_BASE_INLINE_HORIZONTAL_PADDING: 6px;

@GENERIC_GRID_BASE_NODATA_FONT_SIZE: 14px;
@GENERIC_DATAGRID_CELL_PADDING: 5px;

@PIVOTGRID_EMPTY_COLUMN_WIDTH: 16px;
@PIVOTGRID_EXPAND_ICON_OFFSET: -5px;
@PIVOTGRID_EXPAND_ICON_TEXT_OFFSET: 0;

@PIVOTGRID_COMMON_LEFT_RIGHT_PADDING: 6px;
@PIVOTGRID_COMMON_TOP_BOTTOM_PADDING: 5px;
@PIVOTGRID_FIELD_INDICATORS_OFFSET: 4px;
@PIVOTGRID_INDICATORS_LINE_HEIGHT: 16px;

@TREELIST_EXPANDED_ICON_MARGIN_LEFT: 3px;
@TREELIST_COLLAPSED_ICON_MARGIN_LEFT: 4px;
@TREELIST_ICON_MARGIN_TOP: @GENERIC_BASE_ICON_SIZE/2;

@filterbuilder-item-margin-bottom: 5px;
@filterbuilder-treeview-item-horizontal-padding: 15px;
@filterbuilder-treeview-item-padding: 3px @filterbuilder-treeview-item-horizontal-padding;

@FILEMANAGER_TOOLBAR_SEPARATOR_HEIGHT: 26px;
@FILEMANAGER_TOOLBAR_VIEWMODE_WIDTH: 130px;
@FILEMANAGER_BREADCRUMBS_ITEM_PADDING_TOP: 3px;
@FILEMANAGER_BREADCRUMBS_ITEM_PADDING_BOTTOM: 7px;
@FILEMANAGER_FILE_ACTIONS_BUTTON_WIDTH: 32px;
@FILEMANAGER_FILE_ACTIONS_BUTTON_HEIGHT: 18px;
@FILEMANAGER_FILE_ACTIONS_BUTTON_TOP_BOTTOM_PADDING: 9px;
@FILEMANAGER_DIRS_TREE_ICON_MARGIN_BOTTOM: 1px;
@FILEMANAGER_LARGE_ICON_SIZE: 18px;
@FILEMANAGER_LARGE_ICON_BUTTON_CONTENT_PADDING: 3px;

@GANTT_SCALE_ITEM_HEIGHT: 23px;
@GANTT_HEADER_ITEM_HEIGHT: 45px;
@GANTT_TASK_WRAPPER_PADDING_TOP: 5px;
@GANTT_TASK_HEIGHT: 18px;
@GANTT_DEPENDENCY_SUCCESSOR_SIZE: 9px;
@GANTT_MILESTONE_SIZE: 14px;

@GENERIC_CHECKBOX_SIZE: 16px;
@GENERIC_SWITCH_HEIGHT: 18px;
@GENERIC_SLIDER_HEIGHT: 20px;
@GENERIC_RADIOGROUP_MIN_HEIGHT: 20px;
@GENERIC_LIST_ITEM_VERTICAL_PADDING: 5px;

@import (once) "shared/base.less";
@import (once) "shared/mobile.less";

.dx-size-compact;
