<dx-scheduler
    timeZone="America/Los_Angeles"
    [dataSource]="appointmentsData"
    [views]='["day", "week"]'
    currentView="week"
    [startDayHour]="9"
    [endDayHour]="19"
    [currentDate]="currentDate"
    [height]="600"
    (onAppointmentAdded)="onAppointmentAdded($event)"
    (onAppointmentUpdated)="onAppointmentUpdated($event)"
    (onAppointmentDeleted)="onAppointmentDeleted($event)">
    <dxo-editing #editingOptions
        [allowAdding]="true"
        [allowDeleting]="true"
        [allowUpdating]="true"
        [allowResizing]="true"
        [allowDragging]="true"
    ></dxo-editing>
</dx-scheduler>
<div class="options">
    <div class="caption">Options</div>
    <div class="option">
        <dx-check-box text="Allow adding" [(value)]="editingOptions.allowAdding"></dx-check-box>
    </div>
    <div class="option">    
        <dx-check-box text="Allow deleting" [(value)]="editingOptions.allowDeleting"></dx-check-box>
    </div>
    <div class="option">    
        <dx-check-box text="Allow updating" [(value)]="editingOptions.allowUpdating"></dx-check-box>
    </div>
    <div class="option">    
        <dx-check-box text="Allow resizing" [(value)]="editingOptions.allowResizing" [disabled]="!editingOptions.allowUpdating"></dx-check-box>
    </div>
    <div class="option">    
        <dx-check-box text="Allow dragging" [(value)]="editingOptions.allowDragging" [disabled]="!editingOptions.allowUpdating"></dx-check-box>
    </div>
</div>