@use "../../../_design-system/variables/ds" as ds;

// adduse

$splitter-resize-handle-content-rest: ds.$color-content-neutral-subdued-rest !default;

$splitter-resize-handle-content-focused: ds.$color-content-neutral-default-static-dark-rest !default;

$splitter-resize-handle-bg-rest: ds.$color-border-neutral-default-rest !default;

$splitter-resize-handle-bg-hovered: ds.$color-border-neutral-default-hovered !default;

$splitter-resize-handle-bg-focused: ds.$color-surface-primary-default-rest !default;

$splitter-resize-handle-content-hovered: $splitter-resize-handle-content-rest !default;
