<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  keyExpr="ID"
  [columnAutoWidth]="true"
  [showBorders]="true"
  dataRowTemplate="dataRowTemplateName"
>
  <dxi-column
    caption="Photo"
    [width]="100"
    [allowFiltering]="false"
    [allowSorting]="false"
  ></dxi-column>
  <dxi-column dataField="Prefix" [width]="70" caption="Title"></dxi-column>
  <dxi-column dataField="FirstName"></dxi-column>
  <dxi-column dataField="LastName"></dxi-column>
  <dxi-column dataField="Position"></dxi-column>
  <dxi-column dataField="BirthDate" dataType="date"></dxi-column>
  <dxi-column dataField="HireDate" dataType="date"></dxi-column>

  <ng-container *dxTemplate="let employee of 'dataRowTemplateName'">
    <tr class="main-row" role="row">
      <td rowspan="2" role="gridcell"
        ><img
          [src]="employee.data.Picture"
          alt="Picture of {{ employee.data.FirstName }} {{
            employee.data.LastName
          }}"
          tabindex="0"
      /></td>
      <td role="gridcell">{{ employee.data.Prefix }}</td>
      <td role="gridcell">{{ employee.data.FirstName }}</td>
      <td role="gridcell">{{ employee.data.LastName }}</td>
      <td role="gridcell">{{ employee.data.Position }}</td>
      <td role="gridcell">{{ employee.data.BirthDate | date : "M/d/yyyy" }}</td>
      <td role="gridcell">{{ employee.data.HireDate | date : "M/d/yyyy" }}</td>
    </tr>
    <tr class="notes-row" role="row">
      <td colspan="6" role="gridcell"
        ><div>{{ employee.data.Notes }}</div></td
      >
    </tr>
  </ng-container>
</dx-data-grid>
