<dx-chart
  id="chart"
  title="Temperature in Toronto (2017)"
  [dataSource]="chartDataSource"
  [zoomAndPan]="{ argumentAxis: 'pan' }"
>
  <dxo-chart-scroll-bar [visible]="true"></dxo-chart-scroll-bar>
  <dxo-chart-argument-axis
    argumentType="datetime"
    [(visualRange)]="currentVisualRange"
    [wholeRange]="bounds"
  >
  </dxo-chart-argument-axis>
  <dxi-chart-value-axis name="temperature" [allowDecimals]="false">
    <dxo-chart-title text="Temperature, &deg;C">
      <dxo-chart-font color="#ff950c"></dxo-chart-font>
    </dxo-chart-title>
    <dxo-chart-label>
      <dxo-chart-font color="#ff950c"></dxo-chart-font>
    </dxo-chart-label>
  </dxi-chart-value-axis>
  <dxi-chart-series
    color="#ff950c"
    type="rangeArea"
    argumentField="date"
    rangeValue1Field="minTemp"
    rangeValue2Field="maxTemp"
    name="Temperature range"
  >
  </dxi-chart-series>
  <dxo-chart-animation [enabled]="false"></dxo-chart-animation>
  <dxo-chart-loading-indicator backgroundColor="none">
    <dxo-chart-font [size]="14"></dxo-chart-font>
  </dxo-chart-loading-indicator>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
</dx-chart>
