@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700") screen and (max-width: 0);

body {
  overflow: clip;
}

.dx-scrollable-scroll { visibility: hidden !important; }

.dx-theme-material * {
  -webkit-font-smoothing: antialiased !important;
  
  /* text-rendering: optimizeLegibility !important; */
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: geometricPrecision !important;
}

.dx-theme-material,
.dx-theme-material-typography,
.dx-theme-material .dx-widget { 
  /* stylelint-disable-next-line font-family-name-quotes */
  font-family: 'RobotoFallback', sans-serif !important;
}
