body {
  overflow: clip;
}

*:focus {
  outline: none !important;
}

* { caret-color: transparent !important; }

.dx-scrollable-scroll { visibility: hidden !important; }

.dx-theme-material * {
  -webkit-font-smoothing: antialiased !important;
  
  /* text-rendering: optimizeLegibility !important; */
  text-rendering: geometricprecision !important;
}
