<dx-data-grid
  id="gridContainer"
  keyExpr="ID"
  [dataSource]="vehicles"
  [showBorders]="true"
  [aiIntegration]="aiIntegration"
  (onAIColumnRequestCreating)="onAIColumnRequestCreating($event)"
>
  <dxo-data-grid-grouping [contextMenuEnabled]="false" />
  <dxo-data-grid-paging [pageSize]="10" />

  <dxi-data-grid-column
    dataField="TrademarkName"
    caption="Trademark"
    [width]="200"
    cellTemplate="trademarkTemplate"
  />
  <div *dxTemplate="let model of 'trademarkTemplate'">
    <trademark
      [id]="model.data.ID"
      [name]="model.data.Name"
      [trademarkName]="model.data.TrademarkName"
      (showInfo)="showInfo(model.data)"
    />
  </div>
  <dxi-data-grid-column
    dataField="Price"
    format="currency"
    alignment="left"
    [width]="100"
  />
  <dxi-data-grid-column
    dataField="CategoryName"
    caption="Category"
    [minWidth]="180"
    cellTemplate="categoryTemplate"
  />
  <div *dxTemplate="let model of 'categoryTemplate'">
    <category [category]="model.data.CategoryName" />
  </div>
  <dxi-data-grid-column dataField="Modification" [width]="180" />
  <dxi-data-grid-column dataField="Horsepower" [width]="140" />
  <dxi-data-grid-column
    dataField="BodyStyleName"
    caption="Body Style"
    [width]="180"
  />
  <dxi-data-grid-column
    name="AI Column"
    caption="AI Column"
    cssClass="ai__cell"
    type="ai"
    [fixed]="true"
    fixedPosition="right"
    [width]="200"
  >
    <dxo-data-grid-ai
      prompt="
        Identify the country where the vehicle model is manufactured. 
        When looking up a country, consider vehicle brand, model, and specifications.
      "
      mode="auto"
      noDataText="No data"
    />
  </dxi-data-grid-column>
</dx-data-grid>

<dx-popup
  title="Image Info"
  [width]="360"
  [height]="260"
  [(visible)]="popupVisible"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  (onHiding)="hideInfo()"
>
  <dxo-position at="center" my="center" collision="fit" />
  <div *dxTemplate="let _ of 'content'">
    <license-info *ngIf="currentVehicle" [vehicle]="currentVehicle" />
  </div>
</dx-popup>
