<dx-tree-list
  id="employees"
  [dataSource]="employees"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [columnAutoWidth]="true"
  [expandedRowKeys]="[1, 2, 4, 5]"
  (onFocusedCellChanging)="onFocusedCellChanging($event)"
>
  <dxo-tree-list-keyboard-navigation
    [editOnKeyPress]="editOnkeyPress"
    [enterKeyAction]="enterKeyAction"
    [enterKeyDirection]="enterKeyDirection"
  >
  </dxo-tree-list-keyboard-navigation>
  <dxo-tree-list-editing mode="batch" [allowUpdating]="true" startEditAction="dblClick">
  </dxo-tree-list-editing>
  <dxi-tree-list-column dataField="Full_Name"> </dxi-tree-list-column>
  <dxi-tree-list-column dataField="Prefix" caption="Title"> </dxi-tree-list-column>
  <dxi-tree-list-column dataField="Title" caption="Position"> </dxi-tree-list-column>
  <dxi-tree-list-column dataField="City"> </dxi-tree-list-column>
  <dxi-tree-list-column dataField="Hire_Date" dataType="date"> </dxi-tree-list-column>
</dx-tree-list>

<div class="options">
  <div class="caption">Options</div>
  <div class="option-container">
    <div class="option check-box">
      <dx-check-box
        id="editOnKeyPress"
        text="Edit On Key Press"
        [(value)]="editOnKeyPress"
      >
      </dx-check-box>
    </div>
    <div class="option">
      <span class="option-caption">Enter Key Action</span>
      <dx-select-box
        class="select"
        [inputAttr]="{ 'aria-label': 'Key Action' }"
        [dataSource]="enterKeyActions"
        [(value)]="enterKeyAction"
      >
      </dx-select-box>
    </div>
    <div class="option">
      <span class="option-caption">Enter Key Direction</span>
      <dx-select-box
        class="select"
        [inputAttr]="{ 'aria-label': 'Key Direction' }"
        [dataSource]="enterKeyDirections"
        [(value)]="enterKeyDirection"
      >
      </dx-select-box>
    </div>
  </div>
</div>
