<dx-data-grid
  [dataSource]="customers"
  keyExpr="ID"
  [allowColumnReordering]="true"
  [showBorders]="true"
  (onExporting)="onExporting($event)"
>
  <dxi-data-grid-column dataField="CompanyName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Phone"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Fax"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="State" [groupIndex]="0"></dxi-data-grid-column>

  <dxo-data-grid-selection mode="multiple"></dxo-data-grid-selection>
  <dxo-data-grid-paging [pageSize]="10"></dxo-data-grid-paging>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>
  <dxo-data-grid-grouping [autoExpandAll]="true"></dxo-data-grid-grouping>
  <dxo-data-grid-export
    [enabled]="true"
    [formats]="['pdf']"
    [allowExportSelectedData]="true"
  ></dxo-data-grid-export>
</dx-data-grid>
