<div class="schedulers">
    <div class="column-1">
        <dx-scheduler
            [dataSource]="store1"
            [remoteFiltering] ="true"
            [views]='["day", "workWeek"]'
            currentView="day"
            [currentDate]="currentDate"
            [startDayHour]="9"
            [endDayHour]="19"
            [height]="600"
            textExpr="Text"
            dateSerializationFormat="yyyy-MM-ddTHH:mm:ssZ"
            descriptionExpr="Description"
            startDateExpr="StartDate"
            endDateExpr="EndDate"
            allDayExpr="AllDay">
        </dx-scheduler>
    </div>
    <div class="column-2">
        <dx-scheduler
            [dataSource]="store2"
            [remoteFiltering] ="true"
            [views]='["day", "workWeek"]'
            currentView="day"
            [currentDate]="currentDate"
            [startDayHour]="9"
            [endDayHour]="19"
            [height]="600"
            dateSerializationFormat="yyyy-MM-ddTHH:mm:ssZ"
            textExpr="Text"
            startDateExpr="StartDate"
            endDateExpr="EndDate"
            allDayExpr="AllDay">
        </dx-scheduler>
    </div>
</div>