@use "../sizes" as *;

// adduse

$material-pivotgrid-cell-padding: null !default;
$pivotgrid-common-left-right-padding: null !default;

$pivotgrid-empty-column-width: 19px !default;
$pivotgrid-common-top-bottom-padding: 7px !default;
$pivotgrid-field-indicators-offset: 6px !default;
$pivotgrid-indicators-line-height: 12px !default;

@if $size == "default" {
  $material-pivotgrid-cell-padding: 10px 14px !default;
  $pivotgrid-common-left-right-padding: 10px !default;
}

@else if $size == "compact" {
  $material-pivotgrid-cell-padding: 7px 8px !default;
  $pivotgrid-common-left-right-padding: 8px !default;
}
