<dx-chart
  id="chart"
  [dataSource]="iceHockeyStatistics"
  [title]="title"
  [customizePoint]="customizePoint"
>
  <dxi-chart-series color="#888888"></dxi-chart-series>
  <dxo-chart-common-series-settings
    argumentField="year"
    valueField="place"
    type="spline"
  >
    <dxo-chart-point [visible]="false"></dxo-chart-point>
  </dxo-chart-common-series-settings>
  <dxo-chart-argument-axis [allowDecimals]="false" [axisDivisionFactor]="60">
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    <dxo-chart-label>
      <dxo-chart-format type="decimal"></dxo-chart-format>
    </dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxi-chart-value-axis [inverted]="true">
    <dxo-chart-grid [visible]="false"></dxo-chart-grid>
    <dxo-chart-label [customizeText]="customizeText"></dxo-chart-label>
  </dxi-chart-value-axis>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
  <dxo-chart-export [enabled]="true" [formats]="['PNG', 'PDF', 'JPEG', 'GIF', 'SVG']">
  </dxo-chart-export>
</dx-chart>
