<dx-button id="exportButton"
    icon="exportpdf"
    text="Export to PDF"
    (onClick)="exportGrid($event)">
</dx-button>

<dx-data-grid 
    [dataSource]="customers"
    [allowColumnReordering]="true"
    [showBorders]="true">    
    
    <dxi-column dataField="CompanyName"></dxi-column>
    <dxi-column dataField="Phone"></dxi-column>
    <dxi-column dataField="Fax"></dxi-column>
    <dxi-column dataField="City"></dxi-column>
    <dxi-column dataField="State" [groupIndex]="0"></dxi-column>
    
    <dxo-search-panel [visible]="true"></dxo-search-panel>
    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
</dx-data-grid>
