<dx-data-grid
  id="gridContainer"
  [dataSource]="orders"
  [selectedRowKeys]="[1, 4, 7]"
  keyExpr="ID"
  [showBorders]="true"
  (onSelectionChanged)="onSelectionChanged($event)"
>
  <dxo-data-grid-paging [enabled]="false"></dxo-data-grid-paging>
  <dxo-data-grid-selection mode="multiple"></dxo-data-grid-selection>

  <dxi-data-grid-column
    dataField="OrderNumber"
    [width]="130"
    caption="Invoice Number"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CustomerStoreCity" caption="City"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CustomerStoreState" caption="State"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="SaleAmount"
    [width]="160"
    alignment="right"
    format="currency"
  ></dxi-data-grid-column>

  <dxo-data-grid-summary [calculateCustomSummary]="calculateSelectedRow">
    <dxi-data-grid-total-item
      name="SelectedRowsSummary"
      summaryType="custom"
      valueFormat="currency"
      displayFormat="Sum: {0}"
      showInColumn="SaleAmount"
    >
    </dxi-data-grid-total-item>
  </dxo-data-grid-summary>
</dx-data-grid>
