@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 10. Text color
* $type color
*/
$texteditor-color: $base-text-color !default;

/**
* $name 20. Placeholder text color
* $type color
*/
$texteditor-placeholder-color: null !default;

/**
* $name 30. Background color
* $type color
*/
$texteditor-bg: null !default;
$texteditor-underlined-bg: transparent !default;

/**
* $name 40. Filled editor background color
* $type color
*/
$texteditor-filled-bg: color.change($texteditor-color, $alpha: 0.05) !default;

/**
* $name 50. Border color
* $type color
*/
$texteditor-border-color: $base-border-color !default;

/**
* $name 30. Focused border color
* $type color
*/
$texteditor-focused-border-color: null !default;

/**
* $name 60. Hovered border color
* $type color
*/
$texteditor-hover-border-color: null !default;
$texteditor-button-clear-icon-color: null !default;
$texteditor-invalid-focused-border-color: $base-invalid-color !default;
$texteditor-invalid-faded-border-color: $base-invalid-faded-border-color !default;
$texteditor-filled-invalid-background: null !default;
$texteditor-border-radius: $base-border-radius !default;
$texteditor-input-border-radius: $base-border-radius !default;
$texteditor-disabled-border-color: color.change($texteditor-color, $alpha: 0.5) !default;
$texteditor-readonly-border-color: $base-border-color !default;
$texteditor-label-transition:
  font-size 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms,
  transform 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms,
  top 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;

@if $color == "carmine" {
  $texteditor-placeholder-color: $base-label-color !default;
  $texteditor-bg: $base-element-bg !default;
  $texteditor-focused-border-color: $base-focus-bg !default;
  $texteditor-hover-border-color: color.change($base-accent, $alpha: 0.4) !default;
  $texteditor-button-clear-icon-color: $base-icon-color !default;
  $texteditor-filled-invalid-background: color.change($texteditor-invalid-faded-border-color, $alpha: 0.1) !default;
}

@if $color == "contrast" {
  $texteditor-bg: $base-bg !default;
  $texteditor-focused-border-color: $base-focus-color !default;
  $texteditor-hover-border-color: $base-border-color !default;
  $texteditor-placeholder-color: $base-text-color !default;
  $texteditor-button-clear-icon-color: $base-icon-color !default;
  $texteditor-filled-invalid-background: color.change($texteditor-invalid-faded-border-color, $alpha: 0.2) !default;
}

@if $color == "dark" {
  $texteditor-placeholder-color: darken($texteditor-color, 40%) !default;
  $texteditor-bg: $base-element-bg !default;
  $texteditor-hover-border-color: color.change($base-accent, $alpha: 0.4) !default;
  $texteditor-focused-border-color: $base-focus-bg !default;
  $texteditor-button-clear-icon-color: darken($texteditor-color, 40%) !default;
  $texteditor-filled-invalid-background: color.change($texteditor-invalid-faded-border-color, $alpha: 0.2) !default;
}

@if $color == "darkmoon" {
  $texteditor-bg: $base-element-bg !default;
  $texteditor-focused-border-color: $base-focus-bg !default;
  $texteditor-hover-border-color: color.change($base-accent, $alpha: 0.4) !default;
  $texteditor-placeholder-color: darken($base-label-color, 17%) !default; // #c1c7c9 => #919ea3
  $texteditor-button-clear-icon-color: $base-icon-color !default;
  $texteditor-filled-invalid-background: color.change($texteditor-invalid-faded-border-color, $alpha: 0.2) !default;
}

@if $color == "darkviolet" {
  $texteditor-bg: $base-element-bg !default;
  $texteditor-placeholder-color: darken($texteditor-color, 40%) !default;
  $texteditor-hover-border-color: color.change($base-accent, $alpha: 0.4) !default;
  $texteditor-focused-border-color: $base-focus-bg !default;
  $texteditor-button-clear-icon-color: $base-icon-color !default;
  $texteditor-filled-invalid-background: color.change($texteditor-invalid-faded-border-color, $alpha: 0.2) !default;
}

@if $color == "greenmist" {
  $texteditor-placeholder-color: lighten($base-label-color, 16%) !default; // #728e94 => #a1b1b5
  $texteditor-bg: $base-element-bg !default;
  $texteditor-hover-border-color: color.change($base-accent, $alpha: 0.4) !default;
  $texteditor-focused-border-color: $base-focus-bg !default;
  $texteditor-button-clear-icon-color: $base-icon-color !default;
  $texteditor-filled-invalid-background: color.change($texteditor-invalid-faded-border-color, $alpha: 0.1) !default;
}

@if $color == "light" {
  $texteditor-placeholder-color: lighten($texteditor-color, 40%) !default;
  $texteditor-bg: $base-element-bg !default;
  $texteditor-hover-border-color: color.change($base-accent, $alpha: 0.4) !default;
  $texteditor-focused-border-color: $base-focus-bg !default;
  $texteditor-button-clear-icon-color: lighten($texteditor-color, 40%) !default;
  $texteditor-filled-invalid-background: color.change($texteditor-invalid-faded-border-color, $alpha: 0.1) !default;
}

@if $color == "softblue" {
  $texteditor-placeholder-color: lighten($texteditor-color, 40%) !default;
  $texteditor-bg: $base-element-bg !default;
  $texteditor-hover-border-color: color.change($base-accent, $alpha: 0.4) !default;
  $texteditor-focused-border-color: $base-focus-bg !default;
  $texteditor-button-clear-icon-color: $base-icon-color !default;
  $texteditor-filled-invalid-background: color.change($texteditor-invalid-faded-border-color, $alpha: 0.1) !default;
}

$texteditor-label-color: $texteditor-placeholder-color;

:root {
  --dx-texteditor-color-text: #{$texteditor-color};
  --dx-texteditor-color-label: #{$texteditor-label-color};
}
