<div class="dx-fieldset">
  <div class="dx-field">
    <div class="dx-field-label">Password TextBox</div>
    <div class="dx-field-value">
      <dx-text-box
        value="password"
        placeholder="password"
        [inputAttr]="{ 'aria-label': 'Password' }"
        stylingMode="filled"
        [(mode)]="passwordMode"
      >
        <dxi-text-box-button
          name="today"
          location="after"
          [options]="passwordButton"
        ></dxi-text-box-button>
      </dx-text-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Multi-currency NumberBox</div>
    <div class="dx-field-value">
      <dx-number-box
        [value]="14500.55"
        [(format)]="currencyFormat"
        [showClearButton]="true"
        [showSpinButtons]="true"
        [inputAttr]="{ 'aria-label': 'Currency Format' }"
      >
        <dxi-number-box-button
          name="currency"
          location="after"
          [options]="currencyButton"
        ></dxi-number-box-button>
        <dxi-number-box-button name="clear"></dxi-number-box-button>
        <dxi-number-box-button name="spins"></dxi-number-box-button>
      </dx-number-box>
    </div>
  </div>
  <div class="dx-field">
    <div class="dx-field-label">Advanced DateBox</div>
    <div class="dx-field-value">
      <dx-date-box
        stylingMode="outlined"
        [(value)]="dateValue"
        [inputAttr]="{ 'aria-label': 'Date' }"
      >
        <dxi-date-box-button
          name="today"
          location="before"
          [options]="todayButton"
        ></dxi-date-box-button>
        <dxi-date-box-button
          name="prevDate"
          location="before"
          [options]="prevDateButton"
        ></dxi-date-box-button>
        <dxi-date-box-button
          name="nextDate"
          location="after"
          [options]="nextDateButton"
        ></dxi-date-box-button>
        <dxi-date-box-button name="dropDown"></dxi-date-box-button>
      </dx-date-box>
    </div>
  </div>
</div>
