<dx-file-manager id="fileManager"
    [fileSystemProvider]="remoteProvider"
    currentPath="Widescreen"
    (onSelectedFileOpened)="displayImagePopup($event)">

    <dxo-permissions 
        create="true"
        copy="true"
        move="true"
        delete="true"
        rename="true"
        upload="true"
        download="true">
    </dxo-permissions>
</dx-file-manager>

<dx-popup id="photo-popup"
    maxHeight="600"
    closeOnOutsideClick="true"
    [(title)]="imageItemToDisplay.name"
    [(visible)]="popupVisible">
    <div *dxTemplate="let data of 'content'" class="photo-popup-content">
        <img src="{{imageItemToDisplay.dataItem.url}}" class="photo-popup-image" />
    </div>
</dx-popup>
