<dx-load-panel [position]="loadPanelPosition" [visible]="isLoading">
</dx-load-panel>
<dx-data-grid
  id="gridContainer"
  keyExpr="OrderID"
  [dataSource]="orders$ | async"
  [showBorders]="true"
  [repaintChangesOnly]="true"
  (onSaving)="onSaving($event)"
>
  <dxo-data-grid-editing
    mode="row"
    [allowAdding]="true"
    [allowDeleting]="true"
    [allowUpdating]="true"
    [(changes)]="changes"
    [(editRowKey)]="editRowKey"
  ></dxo-data-grid-editing>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>

  <dxi-data-grid-column dataField="OrderID" [allowEditing]="false"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="ShipName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="ShipCountry"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="ShipCity"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="ShipAddress"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="OrderDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Freight"></dxi-data-grid-column>
</dx-data-grid>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Edit Row Key:</span>
    <div id="editRowKey">{{
      editRowKey === null ? "null" : editRowKey.toString()
    }}</div>
  </div>
  <div class="option">
    <span>Changes:</span>
    <div id="changes">{{ changesText }}</div>
  </div>
</div>
