<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [remoteOperations]="{ groupPaging: true }"
  [wordWrapEnabled]="true"
  [width]="'100%'"
  [showBorders]="true"
>
  <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>
  <dxo-data-grid-group-panel [visible]="true"></dxo-data-grid-group-panel>
  <dxo-data-grid-grouping #expand [autoExpandAll]="false"></dxo-data-grid-grouping>

  <dxi-data-grid-column dataField="Id" dataType="number" [width]="75"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="ProductSubcategoryName"
    caption="Subcategory"
    [width]="150"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="StoreName"
    caption="Store"
    [width]="150"
    [groupIndex]="0"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="ProductCategoryName"
    caption="Category"
    [width]="120"
    [groupIndex]="1"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="ProductName" caption="Product"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="DateKey"
    caption="Date"
    dataType="date"
    format="yyyy-MM-dd"
    [width]="100"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="SalesAmount"
    caption="Amount"
    format="currency"
    [width]="100"
  ></dxi-data-grid-column>

  <dxo-data-grid-summary>
    <dxi-data-grid-group-item column="Id" summaryType="count"> </dxi-data-grid-group-item>
  </dxo-data-grid-summary>
</dx-data-grid>
