<div class="stepper-demo">
  <div class="widget-container">
    <div
      class="widget-wrapper"
      [ngClass]="'widget-wrapper-' + orientation"
    >
      <div class="stepper-wrapper">
        <div id="iconsLabel" class="stepper-label">Icons and Labels</div>
        <dx-stepper
          id="icons"
          [elementAttr]="{ 'aria-labelledby': 'iconsLabel' }"
          [selectedIndex]="2"
          [orientation]="orientation"
          [linear]="navigationMode"
          [selectOnFocus]="selectOnFocus"
          [rtlEnabled]="rtlMode"
        >
          <dxi-item
            [text]="steps[0].text"
            [label]="steps[0].label"
            [icon]="steps[0].icon"
          />
          <dxi-item
            [text]="steps[1].text"
            [label]="steps[1].label"
            [icon]="steps[1].icon"
          />
          <dxi-item
            [text]="steps[2].text"
            [label]="steps[2].label"
            [icon]="steps[2].icon"
            [optional]="steps[2].optional"
          />
          <dxi-item
            [text]="steps[3].text"
            [label]="steps[3].label"
            [icon]="steps[3].icon"
          />
          <dxi-item
            [text]="steps[4].text"
            [label]="steps[4].label"
            [icon]="steps[4].icon"
          />
        </dx-stepper>
      </div>
      <div class="stepper-wrapper">
        <div id="numbersLabel" class="stepper-label">Numbers and Labels</div>
        <dx-stepper
          id="numbers"
          [elementAttr]="{ 'aria-labelledby': 'numbersLabel' }"
          [selectedIndex]="2"
          [orientation]="orientation"
          [linear]="navigationMode"
          [selectOnFocus]="selectOnFocus"
          [rtlEnabled]="rtlMode"
        >
          <dxi-item [label]="steps[0].label" />
          <dxi-item [label]="steps[1].label" />
          <dxi-item [label]="steps[2].label" [optional]="steps[2].optional" />
          <dxi-item [label]="steps[3].label" />
          <dxi-item [label]="steps[4].label" />
        </dx-stepper>
      </div>
      <div class="stepper-wrapper">
        <div id="customTextLabel" class="stepper-label">Custom Text</div>
        <dx-stepper
          id="customText"
          [elementAttr]="{ 'aria-labelledby': 'customTextLabel' }"
          [selectedIndex]="2"
          [orientation]="orientation"
          [linear]="navigationMode"
          [selectOnFocus]="selectOnFocus"
          [rtlEnabled]="rtlMode"
        >
          <dxi-item [text]="steps[0].text" />
          <dxi-item [text]="steps[1].text" />
          <dxi-item [text]="steps[2].text" />
          <dxi-item [text]="steps[3].text" />
          <dxi-item [text]="steps[4].text" />
        </dx-stepper>
      </div>
    </div>
  </div>

  <div class="options">
    <div class="caption">Options</div>

    <div class="option">
      <div>Orientation</div>
      <dx-button-group
        id="orientation"
        keyExpr="value"
        [items]="orientations"
        [selectedItemKeys]="[orientation]"
        (onItemClick)="onOrientationClick($event)"
      />
    </div>
    <div class="option">
      <div>Navigation Mode</div>
      <dx-button-group
        id="navigationMode"
        keyExpr="value"
        [items]="navigationModes"
        [selectedItemKeys]="[navigationMode]"
        (onItemClick)="onNavigationModeClick($event)"
      />
    </div>
    <div class="option-separator"></div>
    <div class="option">
      <dx-check-box
        id="selectOnFocus"
        text="Select step on focus"
        [value]="selectOnFocus"
        (onValueChanged)="onSelectOnFocusChanged($event)"
      />
    </div>
    <div class="option">
      <dx-check-box
        id="rtlMode"
        text="Right-to-left mode"
        [value]="rtlMode"
        (onValueChanged)="onRtlModeChanged($event)"
      />
    </div>
  </div>
</div>
