<dx-pie-chart
  id="pie"
  palette="ocean"
  type="doughnut"
  innerRadius="0.2"
  [dataSource]="exportImportData"
>
  <dxo-pie-chart-title text="Imports/Exports of Goods and Services">
    <dxo-pie-chart-subtitle text="(billion US$, 2012)"></dxo-pie-chart-subtitle>
  </dxo-pie-chart-title>
  <dxo-pie-chart-legend [visible]="true"></dxo-pie-chart-legend>
  <dxo-pie-chart-export [enabled]="true"></dxo-pie-chart-export>
  <dxo-pie-chart-common-series-settings>
    <dxo-pie-chart-label [visible]="false"></dxo-pie-chart-label>
  </dxo-pie-chart-common-series-settings>
  <dxo-pie-chart-tooltip
    [enabled]="true"
    format="currency"
    [customizeTooltip]="customizeTooltip"
  ></dxo-pie-chart-tooltip>
  <dxi-pie-chart-series
    name="Export"
    argumentField="Country"
    valueField="Export"
  ></dxi-pie-chart-series>
  <dxi-pie-chart-series
    name="Import"
    argumentField="Country"
    valueField="Import"
  ></dxi-pie-chart-series>
</dx-pie-chart>
