<div ng-if="connectionStarted">
    <dx-data-grid
        id="gridContainer"
        [dataSource]="dataSource"
        [showBorders]="true"
        [repaintChangesOnly]="true"
        [highlightChanges]="true">
        <dxi-column
            dataField="lastUpdate"
            dataType="date"
            [width]="115"
            format="longTime">
        </dxi-column>
        <dxi-column
            dataField="symbol">
        </dxi-column>
        <dxi-column
            dataField="price"
            dataType="number"
            format="#0.####"
            cellTemplate="priceCellTemplate">
        </dxi-column>
        <dxi-column
            dataField="change"
            dataType="number"
            [width]="140"
            format="#0.####"
            cellTemplate="changeCellTemplate">
        </dxi-column>
        <dxi-column
            dataField="dayOpen"
            dataType="number"
            format="#0.####">
        </dxi-column>
        <dxi-column
            dataField="dayMin"
            dataType="number"
            format="#0.####">
        </dxi-column>
        <dxi-column
            dataField="dayMax"
            dataType="number"
            format="#0.####">
        </dxi-column>

        <div *dxTemplate="let cell of 'priceCellTemplate'" [class.inc]="cell.data.change > 0" [class.dec]="cell.data.change < 0">
            <span>{{cell.text}}</span>
        </div>
        <div *dxTemplate="let cell of 'changeCellTemplate'" [class.inc]="cell.data.change > 0" [class.dec]="cell.data.change < 0">
            <span class="current-value">{{cell.text}}</span>
            <span class="arrow"></span>
            <span class="diff">{{cell.data.percentChange.toFixed(2)}}%</span>
        </div>
    </dx-data-grid>
</div>