@mixin dx-buttongroup-item-states($hover-color, $focused-color) {
  &.dx-state-hover {
    background-color: $hover-color;
  }

  &.dx-state-focused {
    background-color: $focused-color;
  }
}

@mixin dx-buttongroup-item(
  $button-normal-bg,
  $button-group-default-bg,
  $button-group-success-bg,
  $button-group-danger-bg,
  $button-default-border-color,
  $button-default-color,
  $button-default-outlined-bg-hover,
  $button-default-outlined-bg-focused,
  $button-default-text-bg-hover,
  $button-default-text-bg-focused,
  $button-success-text-bg-hover,
  $button-success-text-bg-focused,
  $button-danger-text-bg-hover,
  $button-danger-text-bg-focused,
  $button-success-border-color,
  $button-success-color,
  $button-success-outlined-bg-hover,
  $button-success-outlined-bg-focused,
  $button-danger-border-color,
  $button-danger-color,
  $button-danger-outlined-bg-hover,
  $button-danger-outlined-bg-focused,
  $button-normal-bg-hover,
  $button-normal-bg-focused,
  $button-group-default-contained-hover-bg,
  $button-group-default-contained-focused-bg,
  $button-group-success-contained-hover-bg,
  $button-group-success-contained-focused-bg,
  $button-group-danger-contained-hover-bg,
  $button-group-danger-contained-focused-bg,
  $button-normal-outlined-bg-hover,
  $button-normal-outlined-bg-focused,
  $button-normal-text-bg-hover,
  $button-normal-text-bg-focused,
  $button-group-normal-contained-selected-bg,
  $button-group-normal-contained-selected-bg-hover,
  $button-group-normal-contained-selected-bg-focused,
  $button-group-normal-selected-bg,
  $button-group-normal-selected-bg-hover,
  $button-group-normal-selected-bg-focused,
  $button-group-normal-selected-color,
  $button-group-success-selected-bg,
  $button-group-success-selected-bg-hover,
  $button-group-success-selected-bg-focused,
  $button-group-success-selected-color,
  $button-group-default-selected-bg,
  $button-group-default-selected-bg-hover,
  $button-group-default-selected-bg-focused,
  $button-group-default-selected-color,
  $button-group-danger-selected-bg,
  $button-group-danger-selected-bg-hover,
  $button-group-danger-selected-bg-focused,
  $button-group-danger-selected-color,
  $button-disabled-text-color: none,
) {
  .dx-buttongroup-item {
    &.dx-button-mode-contained {
      &.dx-button-normal {
        background-color: $button-normal-bg;

        @include dx-buttongroup-item-states($button-normal-bg-hover, $button-normal-bg-focused);

        &.dx-item-selected {
          background-color: $button-group-normal-contained-selected-bg;

          @include dx-buttongroup-item-states($button-group-normal-contained-selected-bg-hover, $button-group-normal-contained-selected-bg-focused);

          &,
          & .dx-icon {
            color: $button-group-normal-selected-color;
          }
        }
      }

      &:not(.dx-item-selected) {
        background-color: $button-normal-bg;

        &.dx-button-default {
          background-color: $button-group-default-bg;
          border-color: $button-default-border-color;

          @include dx-buttongroup-item-states($button-group-default-contained-hover-bg, $button-group-default-contained-focused-bg);

          &,
          .dx-icon {
            color: $button-default-color;
          }
        }

        &.dx-button-success {
          background-color: $button-group-success-bg;
          border-color: $button-success-border-color;

          @include dx-buttongroup-item-states($button-group-success-contained-hover-bg, $button-group-success-contained-focused-bg);

          &,
          .dx-icon {
            color: $button-success-color;
          }
        }

        &.dx-button-danger {
          background-color: $button-group-danger-bg;
          border-color: $button-danger-border-color;

          @include dx-buttongroup-item-states($button-group-danger-contained-hover-bg, $button-group-danger-contained-focused-bg);

          &,
          .dx-icon {
            color: $button-danger-color;
          }
        }
      }

      @if $button-disabled-text-color != none {
        &.dx-button {
          &.dx-state-disabled {
            .dx-icon {
              color: $button-disabled-text-color;
            }
          }
        }
      }
    }

    &.dx-button-mode-outlined {
      @include dx-buttongroup-item-states($button-normal-outlined-bg-hover, $button-normal-outlined-bg-focused);

      &.dx-button-default {
        @include dx-buttongroup-item-states($button-default-outlined-bg-hover, $button-default-outlined-bg-focused);
      }

      &.dx-button-success {
        @include dx-buttongroup-item-states($button-success-outlined-bg-hover, $button-success-outlined-bg-focused);
      }

      &.dx-button-danger {
        @include dx-buttongroup-item-states($button-danger-outlined-bg-hover, $button-danger-outlined-bg-focused);
      }
    }

    &.dx-button-mode-text {
      @include dx-buttongroup-item-states($button-normal-text-bg-hover, $button-normal-text-bg-focused);

      &.dx-button-default {
        @include dx-buttongroup-item-states($button-default-text-bg-hover, $button-default-text-bg-focused);
      }

      &.dx-button-success {
        @include dx-buttongroup-item-states($button-success-text-bg-hover, $button-success-text-bg-focused);
      }

      &.dx-button-danger {
        @include dx-buttongroup-item-states($button-danger-text-bg-hover, $button-danger-text-bg-focused);
      }
    }

    &.dx-button-mode-outlined,
    &.dx-button-mode-text {
      &.dx-item-selected {
        &.dx-button-normal {
          background-color: $button-group-normal-selected-bg;

          @include dx-buttongroup-item-states($button-group-normal-selected-bg-hover, $button-group-normal-selected-bg-focused);

          &,
          & .dx-icon {
            color: $button-group-normal-selected-color;
          }
        }

        &.dx-button-success {
          background-color: $button-group-success-selected-bg;

          @include dx-buttongroup-item-states($button-group-success-selected-bg-hover, $button-group-success-selected-bg-focused);

          &,
          & .dx-icon {
            color: $button-group-success-selected-color;
          }
        }

        &.dx-button-default {
          background-color: $button-group-default-selected-bg;

          @include dx-buttongroup-item-states($button-group-default-selected-bg-hover, $button-group-default-selected-bg-focused);

          &,
          & .dx-icon {
            color: $button-group-default-selected-color;
          }
        }

        &.dx-button-danger {
          background-color: $button-group-danger-selected-bg;

          @include dx-buttongroup-item-states($button-group-danger-selected-bg-hover, $button-group-danger-selected-bg-focused);

          &,
          & .dx-icon {
            color: $button-group-danger-selected-color;
          }
        }
      }
    }
  }
}

@mixin dx-buttongroup-sizing(
  $button-border-radius,
  $button-group-first-item-padding-left,
  $button-border-width,
) {
  .dx-button-mode-outlined,
  .dx-button-mode-contained {
    &.dx-buttongroup-item {
      padding-inline-start: 1px;
      padding-inline-end: 1px;
    }

    &.dx-buttongroup-first-item {
      padding-inline-start: $button-group-first-item-padding-left;
      border-inline-start-width: $button-border-width;

      &.dx-button {
        border-start-start-radius: $button-border-radius;
        border-end-start-radius: $button-border-radius;
      }
    }

    &.dx-buttongroup-last-item {
      padding-inline-end: 0;
      border-inline-end-width:  $button-border-width;

      &.dx-button {
        border-start-end-radius: $button-border-radius;
        border-end-end-radius: $button-border-radius;
      }
    }
  }
};
