@use "../sizes" as *;

// adduse

$DIAGRAM_TOOLBOX_WIDTH: null !default;
$DIAGRAM_TOOLBOX_H_PADDING: null !default;
$DIAGRAM_TOOLBOX_ACCORDION_V_PADDING: null !default;
$DIAGRAM_TOOLBOX_INPUT_MARGIN: null !default;
$DIAGRAM_TOOLBOX_INPUT_H_PADDING: null !default;
$DIAGRAM_TOOLBOX_INPUT_V_PADDING: null !default;
$DIAGRAM_TOOLBOX_INPUT_IMAGE_SIZE: null !default;
$DIAGRAM_TOOLBOX_INPUT_IMAGE_PADDING: null !default;
$DIAGRAM_TOOLBOX_MOBILE_PADDING: null !default;
$DIAGRAM_PROPERTIES_PANEL_PADDING: null !default;
$DIAGRAM_PROPERTIES_PANEL_SPACING: null !default;
$DIAGRAM_PROPERTIES_LAYOUT_ICON_SIZE: null !default;
$DIAGRAM_TOUCHBAR_ITEM_PADDING: null !default;
$DIAGRAM_FLOATING_TOOLBAR_ITEMS_HEIGHT: null !default;
$DIAGRAM_FLOATING_TOOLBAR_EDITOR_PADDING: null !default;
$DIAGRAM_FLOATING_TOOLBAR_EDITOR_BUTTON_PADDING: null !default;
$DIAGRAM_SMALL_EDITOR_WIDTH: null !default;
$DIAGRAM_MEDIUM_EDITOR_WIDTH: null !default;
$DIAGRAM_LARGE_EDITOR_WIDTH: null !default;

@if $size == "default" {
  $DIAGRAM_TOOLBOX_WIDTH: 156px;
  $DIAGRAM_TOOLBOX_H_PADDING: 12px;
  $DIAGRAM_TOOLBOX_ACCORDION_V_PADDING: 8px;
  $DIAGRAM_TOOLBOX_INPUT_MARGIN: 2px;
  $DIAGRAM_TOOLBOX_INPUT_H_PADDING: 9px;
  $DIAGRAM_TOOLBOX_INPUT_V_PADDING: 12px;
  $DIAGRAM_TOOLBOX_INPUT_IMAGE_SIZE: 18px;
  $DIAGRAM_TOOLBOX_INPUT_IMAGE_PADDING: 6px 4px;
  $DIAGRAM_TOOLBOX_MOBILE_PADDING: 68px;

  $DIAGRAM_PROPERTIES_PANEL_PADDING: 0;
  $DIAGRAM_PROPERTIES_PANEL_SPACING: 16px;
  $DIAGRAM_PROPERTIES_LAYOUT_ICON_SIZE: 64px;

  $DIAGRAM_TOUCHBAR_ITEM_PADDING: 10px;

  $DIAGRAM_FLOATING_TOOLBAR_ITEMS_HEIGHT: 36px;
  $DIAGRAM_FLOATING_TOOLBAR_EDITOR_PADDING: 8px 6px;
  $DIAGRAM_FLOATING_TOOLBAR_EDITOR_BUTTON_PADDING: 4px;

  $DIAGRAM_SMALL_EDITOR_WIDTH: 100px;
  $DIAGRAM_MEDIUM_EDITOR_WIDTH: 180px;
  $DIAGRAM_LARGE_EDITOR_WIDTH: 280px;
}

@else if $size == "compact" {
  $DIAGRAM_TOOLBOX_WIDTH: 130px;
  $DIAGRAM_TOOLBOX_H_PADDING: 10px;
  $DIAGRAM_TOOLBOX_ACCORDION_V_PADDING: 6px;
  $DIAGRAM_TOOLBOX_INPUT_MARGIN: 2px;
  $DIAGRAM_TOOLBOX_INPUT_H_PADDING: 8px;
  $DIAGRAM_TOOLBOX_INPUT_V_PADDING: 8px;
  $DIAGRAM_TOOLBOX_INPUT_IMAGE_SIZE: 14px;
  $DIAGRAM_TOOLBOX_INPUT_IMAGE_PADDING: 3px 4px;
  $DIAGRAM_TOOLBOX_MOBILE_PADDING: 58px;

  $DIAGRAM_PROPERTIES_PANEL_PADDING: 6px;
  $DIAGRAM_PROPERTIES_PANEL_SPACING: 8px;
  $DIAGRAM_PROPERTIES_LAYOUT_ICON_SIZE: 48px;

  $DIAGRAM_TOUCHBAR_ITEM_PADDING: 7px;

  $DIAGRAM_FLOATING_TOOLBAR_ITEMS_HEIGHT: 28px;
  $DIAGRAM_FLOATING_TOOLBAR_EDITOR_PADDING: 6px 4px;
  $DIAGRAM_FLOATING_TOOLBAR_EDITOR_BUTTON_PADDING: 2px;

  $DIAGRAM_SMALL_EDITOR_WIDTH: 80px;
  $DIAGRAM_MEDIUM_EDITOR_WIDTH: 120px;
  $DIAGRAM_LARGE_EDITOR_WIDTH: 220px;
}
