@use "../sizes" as *;

// adduse

$diagram-toolbox-width: null !default;
$diagram-toolbox-h-padding: null !default;
$diagram-toolbox-accordion-v-padding: null !default;
$diagram-toolbox-input-h-padding: null !default;
$diagram-toolbox-input-v-padding: null !default;
$diagram-toolbox-input-image-size: null !default;
$diagram-toolbox-input-image-padding: null !default;
$diagram-toolbox-mobile-padding: null !default;
$diagram-properties-panel-padding: null !default;
$diagram-properties-panel-spacing: null !default;
$diagram-properties-layout-icon-size: null !default;
$diagram-touchbar-item-padding: null !default;
$diagram-floating-toolbar-items-height: null !default;
$diagram-floating-toolbar-editor-padding: null !default;
$diagram-floating-toolbar-editor-button-padding: null !default;
$diagram-small-editor-width: null !default;
$diagram-medium-editor-width: null !default;
$diagram-large-editor-width: null !default;

$diagram-toolbox-input-margin: 2px;

@if $size == "default" {
  $diagram-toolbox-width: 156px;
  $diagram-toolbox-h-padding: 12px;
  $diagram-toolbox-accordion-v-padding: 8px;
  $diagram-toolbox-input-h-padding: 9px;
  $diagram-toolbox-input-v-padding: 12px;
  $diagram-toolbox-input-image-size: 18px;
  $diagram-toolbox-input-image-padding: 6px 4px;
  $diagram-toolbox-mobile-padding: 68px;

  $diagram-properties-panel-padding: 0;
  $diagram-properties-panel-spacing: 16px;
  $diagram-properties-layout-icon-size: 64px;

  $diagram-touchbar-item-padding: 10px;

  $diagram-floating-toolbar-items-height: 36px;
  $diagram-floating-toolbar-editor-padding: 8px 6px;
  $diagram-floating-toolbar-editor-button-padding: 4px;

  $diagram-small-editor-width: 100px;
  $diagram-medium-editor-width: 180px;
  $diagram-large-editor-width: 280px;
}

@else if $size == "compact" {
  $diagram-toolbox-width: 130px;
  $diagram-toolbox-h-padding: 10px;
  $diagram-toolbox-accordion-v-padding: 6px;
  $diagram-toolbox-input-h-padding: 8px;
  $diagram-toolbox-input-v-padding: 8px;
  $diagram-toolbox-input-image-size: 14px;
  $diagram-toolbox-input-image-padding: 3px 4px;
  $diagram-toolbox-mobile-padding: 58px;

  $diagram-properties-panel-padding: 6px;
  $diagram-properties-panel-spacing: 8px;
  $diagram-properties-layout-icon-size: 48px;

  $diagram-touchbar-item-padding: 7px;

  $diagram-floating-toolbar-items-height: 28px;
  $diagram-floating-toolbar-editor-padding: 6px 4px;
  $diagram-floating-toolbar-editor-button-padding: 2px;

  $diagram-small-editor-width: 80px;
  $diagram-medium-editor-width: 120px;
  $diagram-large-editor-width: 220px;
}
