@use "sass:color";
@use "../colors" as *;
@use "../sizes" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$load-panel-padding: ds.$spacing-120 ds.$spacing-240 !default;
$load-panel-border-radius: ds.$border-radius-80 !default;
$load-panel-box-shadow: 0 ds.$spacing-80 ds.$spacing-160 0 color.change($base-shadow-color, $alpha: 0.14) !default;
