<dx-toolbar>
    <dxi-item location="before" 
              widget="dxButton" 
              [options]="backButtonOptions">
    </dxi-item>
    <dxi-item location="before" 
              widget="dxButton" 
              locateInMenu="auto" 
              [options]="refreshButtonOptions">
    </dxi-item>
    <dxi-item location="center" 
              widget="dxButton" 
              locateInMenu="never">
        <div *dxTemplate>
            <div class='toolbar-label'><b>Tom's Club</b> Products</div>
        </div>        
    </dxi-item>
    <dxi-item location="after" 
              widget="dxSelectBox" 
              locateInMenu="auto" 
              [options]="selectBoxOptions">
    </dxi-item>
    <dxi-item location="after" 
              widget="dxButton" 
              locateInMenu="auto" 
              [options]="addButtonOptions">
    </dxi-item>
    <dxi-item widget="dxButton" 
              locateInMenu="always" 
              [options]="saveButtonOptions">
    </dxi-item>
    <dxi-item widget="dxButton" 
              locateInMenu="always" 
              [options]="printButtonOptions">
    </dxi-item>
    <dxi-item widget="dxButton" 
              locateInMenu="always" 
              [options]="settingsButtonOptions">
    </dxi-item>
</dx-toolbar>
<dx-list id="products" [dataSource]="productsStore">    
</dx-list>