<dx-vector-map id="vector-map" [bounds]="[-118, 52, -80, 20]">
  <dxo-vector-map-loading-indicator
    [show]="true"
  ></dxo-vector-map-loading-indicator>
  <dxi-vector-map-layer
    [dataSource]="usaMap"
    borderColor="#ffffff"
    [hoverEnabled]="false"
  ></dxi-vector-map-layer>
  <dxi-vector-map-layer
    [dataSource]="weather"
    dataField="url"
    elementType="image"
    type="marker"
    [size]="51"
  >
    <dxo-vector-map-label dataField="text">
      <dxo-vector-map-font [size]="14"></dxo-vector-map-font>
    </dxo-vector-map-label>
  </dxi-vector-map-layer>
</dx-vector-map>
