<dx-tree-list
  id="treelist"
  [dataSource]="dataSource"
  [showBorders]="true"
  [remoteOperations]="{ filtering: true }"
  keyExpr="id"
  parentIdExpr="parentId"
  hasItemsExpr="hasItems"
  rootValue=""
>
  <dxi-tree-list-column dataField="name"></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="size"
    [width]="100"
    [customizeText]="customizeSizeText"
  ></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="createdDate"
    dataType="date"
    [width]="150"
  ></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="modifiedDate"
    dataType="date"
    [width]="150"
  ></dxi-tree-list-column>
</dx-tree-list>
