<dx-funnel
  id="pyramid"
  palette="Harmony light"
  [dataSource]="dataSource"
  argumentField="level"
  valueField="count"
  [inverted]="true"
  algorithm="dynamicHeight"
  [sortData]="false"
>
  <dxo-funnel-title text="Team Composition">
    <dxo-funnel-margin [bottom]="30"></dxo-funnel-margin>
  </dxo-funnel-title>
  <dxo-funnel-tooltip [enabled]="true"></dxo-funnel-tooltip>
  <dxo-funnel-item>
    <dxo-funnel-border [visible]="true"></dxo-funnel-border>
  </dxo-funnel-item>
  <dxo-funnel-legend [visible]="true"></dxo-funnel-legend>
  <dxo-funnel-label visible="true" horizontalAlignment="left" backgroundColor="none">
    <dxo-funnel-font [size]="16"></dxo-funnel-font>
  </dxo-funnel-label>
</dx-funnel>
