<div class="form">
  <dx-tree-view
    id="simple-treeview"
    [items]="products"
    dataStructure="plain"
    parentIdExpr="categoryId"
    keyExpr="ID"
    displayExpr="name"
    [width]="300"
    (onItemClick)="selectItem($event)"
  ></dx-tree-view>
  <div id="product-details" *ngIf="currentItem.price">
    <img alt="{{ currentItem.name }}" [src]="currentItem.icon" />
    <div class="name">{{ currentItem.name }}</div>
    <div class="price">{{ "$" + currentItem.price }}</div>
  </div>
</div>
