@use "../sizes" as *;

// adduse

$material-text-button-horizontal-padding: null !default;

@if $size == "default" {
  $material-text-button-horizontal-padding: 8px;
}

@else if $size == "compact" {
  $material-text-button-horizontal-padding: 5px;
}
