@use "../sizes" as *;

// adduse

$material-dropdownbutton-icon-spindown-size: null !default;

@if $size == "default" {
  $material-dropdownbutton-icon-spindown-size: 24px;
}

@else if $size == "compact" {
  $material-dropdownbutton-icon-spindown-size: 18px;
}
