@use "../sizes" as *;

// adduse

$material-texteditor-font-size: null !default;
$material-texteditor-clear-icon-size: null !default;
$material-texteditor-label-top-offset: null !default;
$material-texteditor-label-outside-height: null !default;
$material-texteditor-label-outside-top-offset: null !default;
$material-filled-texteditor-input-horizontal-padding: null !default;
$material-filled-texteditor-input-top-padding: null !default;
$material-filled-texteditor-input-bottom-padding: null !default;
$material-standard-texteditor-input-top-padding: null !default;
$material-underlined-editor-button-height: null !default;
$material-texteditor-label-font-size: null !default;
$material-texteditor-label-outside-font-size: null !default;
$material-standard-texteditor-input-bottom-padding: null !default;
$material-standard-texteditor-with-label-input-top-padding: null !default;
$material-standard-texteditor-with-label-input-bottom-padding: null !default;
$material-filled-texteditor-input-with-label-top-padding: null !default;
$material-filled-texteditor-input-with-label-bottom-padding: null !default;

@if $size == "default" {
  $material-texteditor-font-size: 16px !default;
  $material-texteditor-label-font-size: 12px !default;
  $material-texteditor-label-outside-font-size: 14px !default;
  $material-texteditor-clear-icon-size: 12px !default;
  $material-texteditor-label-top-offset: 4px !default;
  $material-texteditor-label-outside-height: 20px !default;
  $material-texteditor-label-outside-top-offset: 24px !default;
  $material-filled-texteditor-input-horizontal-padding: 16px !default;
  $material-filled-texteditor-input-top-padding: 15px !default;
  $material-filled-texteditor-input-with-label-top-padding: 21px;
  $material-filled-texteditor-input-bottom-padding: 14px !default;
  $material-filled-texteditor-input-with-label-bottom-padding: 8px;
  $material-standard-texteditor-input-top-padding: 15px !default;
  $material-standard-texteditor-input-bottom-padding: 14px !default;
  $material-standard-texteditor-with-label-input-top-padding: 21px !default;
  $material-standard-texteditor-with-label-input-bottom-padding: 8px !default;
  $material-underlined-editor-button-height: 28px !default;
}

@else if $size == "compact" {
  $material-texteditor-font-size: 12px !default;
  $material-texteditor-label-font-size: 10px !default;
  $material-texteditor-label-outside-font-size: 12px !default;
  $material-texteditor-clear-icon-size: 10px !default;
  $material-texteditor-label-top-offset: 0 !default;
  $material-texteditor-label-outside-height: 16px !default;
  $material-texteditor-label-outside-top-offset: 18px !default;
  $material-filled-texteditor-input-horizontal-padding: 12px !default;
  $material-filled-texteditor-input-top-padding: 9px;
  $material-filled-texteditor-input-with-label-top-padding: 15px;
  $material-filled-texteditor-input-bottom-padding: 9px;
  $material-filled-texteditor-input-with-label-bottom-padding: 3px;
  $material-standard-texteditor-input-top-padding: 9px !default;
  $material-standard-texteditor-input-bottom-padding: 9px !default;
  $material-standard-texteditor-with-label-input-top-padding: 14px !default;
  $material-standard-texteditor-with-label-input-bottom-padding: 4px !default;
  $material-underlined-editor-button-height: 22px !default;
}

$material-filled-texteditor-input-padding:
  $material-filled-texteditor-input-top-padding
  $material-filled-texteditor-input-horizontal-padding
  $material-filled-texteditor-input-bottom-padding !default;

$material-standard-texteditor-input-padding:
  $material-standard-texteditor-input-top-padding
  $material-base-standard-texteditor-input-horizontal-padding
  $material-standard-texteditor-input-bottom-padding !default;

$material-filled-texteditor-input-button-horizontal-padding: $material-filled-texteditor-input-horizontal-padding - 4px;
$material-filled-texteditor-spin-button-horizontal-padding: $material-filled-texteditor-input-horizontal-padding - 8px;
