@import (once) "./loadIndicator.ios7.less";
@import (once) "./overlay.ios7.less";

.dx-loadpanel-content {
    background: @IOS7_LOAD_INDICATOR_BACKGROUND;
    border: none;
}

.dx-loadpanel-message {
    padding-top: 7px;
}
