.dx-tabpanel {
    &.dx-borders {
        border: 1px solid @IOS7_TABPANEL_BORDER_COLOR;

        .dx-hairlines & {
            border-width: 0.5px;
        }
    }

    .dx-tab {
        color: @IOS7_TABS_ACTIVE_TEXT;

        &.dx-tab-selected {
            color: @IOS7_TABS_SELECTED_TEXT;
        }
    }

    .dx-tabpanel-tabs {
        padding: 5px 10px;
    }
}
