<dx-circular-gauge id="gauge" [value]="750">
    <dxo-scale
        [startValue]="0"
        [endValue]="1000"
        [tickInterval]="100"
        [minorTickInterval]="25">
        <dxo-tick color="#9c9c9c"></dxo-tick>
        <dxo-minor-tick color="#9c9c9c" [visible]="true"></dxo-minor-tick>
    </dxo-scale>
    <dxo-range-container backgroundColor="none"></dxo-range-container>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-title text="Fan Speed (in rpm)">
        <dxo-font [size]="28"></dxo-font>
    </dxo-title>
</dx-circular-gauge>
