.dx-scheduler-work-space-year {
    .dx-scheduler-year-calendars-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 12px;
        grid-row-gap: 20px;
        padding: 12px;

        .dx-scheduler-year-calendar-item {
            .dx-scheduler-year-calendar-label {
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 8px;
                text-align: center;
            }
    
            table {
                width: 100%;
                table-layout: fixed;
                border-spacing: 0;
                line-height: normal;
            }
    
            td,
            th {
                padding: 0;
            }
    
            .dx-calendar-cell {
                cursor: pointer;

                &.dx-calendar-other-month {
                    opacity: 0.5;
                }

                &:hover {
                    background-color: #f5f5f5;
                }

                .dx-scheduler-year-calendar-has-appointment {
                    background-color: #337ab7;
                    color: #fff;
                    border-radius: 50%;
                    display: inline-block;
                    width: 1.5em;
                    height: 1.5em;
                    line-height: 1.5em;
                    text-align: center;
                }
            }
        }
    }
}