// Base inline widgets paddings
@GENERIC_BASE_INLINE_WIDGET_VERTICAL_PADDING:
    @GENERIC_BASE_INLINE_WIDGET_HEIGHT - @GENERIC_BASE_INLINE_BLOCK_HEIGHT;
@GENERIC_BASE_INLINE_WIDGET_TOP_PADDING:
    floor(@GENERIC_BASE_INLINE_WIDGET_VERTICAL_PADDING/2);
@GENERIC_BASE_INLINE_WIDGET_BOTTOM_PADDING:
    @GENERIC_BASE_INLINE_WIDGET_VERTICAL_PADDING - @GENERIC_BASE_INLINE_WIDGET_TOP_PADDING;

// Base bordered inline widgets sizes
@GENERIC_BASE_BORDER_WIDTH: 1px;
@GENERIC_BASE_INLINE_BORDEREDWIDGET_INNER_SIZE:
    @GENERIC_BASE_INLINE_WIDGET_HEIGHT - @GENERIC_BASE_BORDER_WIDTH * 2;
@GENERIC_BASE_INLINE_BORDEREDWIDGET_TOP_PADDING:
    @GENERIC_BASE_INLINE_WIDGET_TOP_PADDING - @GENERIC_BASE_BORDER_WIDTH;
@GENERIC_BASE_INLINE_BORDEREDWIDGET_HORIZONTAL_PADDING:
    @GENERIC_BASE_INLINE_HORIZONTAL_PADDING - @GENERIC_BASE_BORDER_WIDTH;
@GENERIC_BASE_INLINE_BORDEREDWIDGET_BOTTOM_PADDING:
    @GENERIC_BASE_INLINE_WIDGET_BOTTOM_PADDING - @GENERIC_BASE_BORDER_WIDTH;
@GENERIC_BASE_INLINE_BORDEREDWIDGET_PADDING:
    @GENERIC_BASE_INLINE_BORDEREDWIDGET_TOP_PADDING
    @GENERIC_BASE_INLINE_BORDEREDWIDGET_HORIZONTAL_PADDING
    @GENERIC_BASE_INLINE_BORDEREDWIDGET_BOTTOM_PADDING;

@SCHEDULER_LEFT_COLUMN_WIDTH: 100px;
