@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../color" as extcolor;

// adduse

/**
* $name 130. Badge text color
* $type color
*/
$badge-color: $base-inverted-text-color !default;

/**
* $name 140. Badge background color
* $type color
*/
$badge-bg: null !default;


@if $color == "carmine" {
  $badge-bg: #ff5f42 !default;
}

@if $color == "contrast" {
  $badge-bg: $base-accent !default;
}

@if $color == "dark" {
  $badge-bg: $base-accent !default;
}

@if $color == "darkmoon" {
  $badge-bg: lighten($base-accent, 25%) !default;
}

@if $color == "darkviolet" {
  $badge-color: $base-icon-color !default;
  $badge-bg: $base-accent-highlight-color !default;
}

@if $color == "greenmist" {
  $badge-bg: #23ada4 !default;
}

@if $color == "light" {
  $badge-bg: $base-accent !default;
}

@if $color == "softblue" {
  $badge-bg: extcolor.difference($base-accent, #171717) !default;
}

