@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$button-border-radius: $base-border-radius !default;
$button-disabled-background: $base-neutral-background-disabled !default;
$button-disabled-icon-opacity: 0.6 !default;
$button-disabled-text-opacity: 0.6 !default;
$button-shadow-color: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-normal-color: $base-text-color !default;

/**
* $name 10. Selected item text color
* $type color
*/
$button-normal-selected-color: $base-text-color !default;

/**
* $name 20. Background color
* $type color
*/
$button-normal-bg: $base-neutral-background1 !default;

/**
* $name 30. Hovered state background color
* $type color
*/
$button-normal-hover-bg: $base-bg-hover !default;

/**
* $name 40. Focused state background color
* $type color
*/
$button-normal-focused-bg: $base-bg-hover !default;

/**
* $name 50. Active state background color
* $type color
*/
$button-normal-active-bg: $base-bg-active !default;

/**
* $name 20. Selected item background color
* $type color
*/
$button-normal-selected-bg: $base-bg-selected !default;
$button-normal-bg-inverted: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-default-color: null !default;

/**
* $name 10. Selected item text color
* $type color
*/
$button-default-selected-color: null !default;

/**
* $name 20. Background color
* $type color
*/
$button-default-bg: null !default;

/**
* $name 30. Hovered state background color
* $type color
*/
$button-default-hover-bg: null !default;

/**
* $name 40. Focused state background color
* $type color
*/
$button-default-focused-bg: null !default;

/**
* $name 50. Active state background color
* $type color
*/
$button-default-active-bg: null !default;

/**
* $name 20. Selected item background color
* $type color
*/
$button-default-selected-bg: null !default;

$button-default-outlined-color: $base-accent-foreground !default;
$button-default-outlined-color-hover: null !default;
$button-default-outlined-color-active: $base-accent-foreground2-active !default;
$button-default-outlined-selected-color: $base-accent-foreground2-active !default;
$button-default-outlined-hover-bg: null !default;
$button-default-outlined-focused-bg: null !default;
$button-default-outlined-active-bg: null !default;
$button-default-outlined-selected-bg: null !default;

$button-default-text-color: $base-accent-foreground !default;
$button-default-text-color-hover: null !default;
$button-default-text-color-active: $base-accent-foreground2-active !default;
$button-default-text-selected-color: $base-accent-foreground2-active !default;
$button-default-text-hover-bg: null !default;
$button-default-text-focused-bg: null !default;
$button-default-text-active-bg: null !default;
$button-default-text-selected-bg: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-danger-color: null !default;

/**
* $name 10. Selected item text color
* $type color
*/
$button-danger-selected-color: null !default;

/**
* $name 20. Background color
* $type color
*/
$button-danger-bg: $base-danger !default;

/**
* $name 30. Hovered state background color
* $type color
*/
$button-danger-hover-bg: $base-danger-hover !default;

/**
* $name 40. Focused state background color
* $type color
*/
$button-danger-focused-bg: $base-danger-hover !default;

/**
* $name 50. Active state background color
* $type color
*/
$button-danger-active-bg: $base-danger-active !default;

/**
* $name 20. Selected item background color
* $type color
*/
$button-danger-selected-bg: $base-danger-selected !default;

$button-danger-outlined-color: null !default;
$button-danger-outlined-color-hover: null !default;
$button-danger-outlined-color-active: null !default;
$button-danger-outlined-selected-color: null !default;
$button-danger-outlined-hover-bg: null !default;
$button-danger-outlined-focused-bg: null !default;
$button-danger-outlined-active-bg: null !default;
$button-danger-outlined-selected-bg: null !default;

$button-danger-text-color: null !default;
$button-danger-text-color-hover: null !default;
$button-danger-text-color-active: null !default;
$button-danger-text-selected-color: null !default;
$button-danger-text-hover-bg: null !default;
$button-danger-text-focused-bg: null !default;
$button-danger-text-active-bg: null !default;
$button-danger-text-selected-bg: null !default;

/**
* $name 10. Text color
* $type color
*/
$button-success-color: null !default;

/**
* $name 10. Selected item text color
* $type color
*/
$button-success-selected-color: null !default;

/**
* $name 20. Background color
* $type color
*/
$button-success-bg: $base-success !default;

/**
* $name 30. Hovered state background color
* $type color
*/
$button-success-hover-bg: $base-success-hover !default;

/**
* $name 40. Focused state background color
* $type color
*/
$button-success-focused-bg: $base-success-hover !default;

/**
* $name 50. Active state background color
* $type color
*/
$button-success-active-bg: $base-success-active !default;

/**
* $name 20. Selected item background color
* $type color
*/
$button-success-selected-bg: $base-success-selected !default;

$button-success-outlined-color: null !default;
$button-success-outlined-color-hover: null !default;
$button-success-outlined-color-active: null !default;
$button-success-outlined-selected-color: null !default;
$button-success-outlined-hover-bg: null !default;
$button-success-outlined-focused-bg: null !default;
$button-success-outlined-active-bg: null !default;
$button-success-outlined-selected-bg: null !default;

$button-success-text-color: null !default;
$button-success-text-color-hover: null !default;
$button-success-text-color-active: null !default;
$button-success-text-selected-color: null !default;
$button-success-text-hover-bg: null !default;
$button-success-text-focused-bg: null !default;
$button-success-text-active-bg: null !default;
$button-success-text-selected-bg: null !default;

@if $mode == "light" {
  $button-default-bg: $base-accent !default;
  $button-default-hover-bg: $base-accent-hover !default;
  $button-default-focused-bg: $base-accent-hover !default;
  $button-default-active-bg: $base-accent-active !default;
  $button-default-selected-bg: $base-accent-selected !default;

  $button-default-outlined-color-hover: $base-accent-foreground2-active !default;

  $button-default-outlined-hover-bg: $base-brand2-bg !default;
  $button-default-outlined-focused-bg: $base-brand2-bg !default;
  $button-default-outlined-active-bg: $base-brand2-bg-active !default;
  $button-default-outlined-selected-bg: $base-brand2-bg-selected !default;

  $button-default-text-color-hover: $base-accent-foreground2-active !default;

  $button-default-text-hover-bg: $base-brand2-bg !default;
  $button-default-text-focused-bg: $base-brand2-bg !default;
  $button-default-text-active-bg: $base-brand2-bg-active !default;
  $button-default-text-selected-bg: $base-brand2-bg-selected !default;

  $button-danger-outlined-color: #D13438 !default;
  $button-danger-outlined-color-hover: #A02729 !default;
  $button-danger-outlined-color-active: #3F1011 !default;
  $button-danger-outlined-selected-color: #A02729 !default;

  $button-danger-outlined-hover-bg: #FDF6F6 !default;
  $button-danger-outlined-focused-bg: #FDF6F6 !default;
  $button-danger-outlined-active-bg: #F1BBBC !default;
  $button-danger-outlined-selected-bg: #F7D9DA !default;

  $button-success-outlined-color: #107C10 !default;
  $button-success-outlined-color-hover: #0B510B !default;
  $button-success-outlined-color-active: #052505 !default;
  $button-success-outlined-selected-color: #0B510B !default;

  $button-success-outlined-hover-bg: #F1FAF1 !default;
  $button-success-outlined-focused-bg: #F1FAF1 !default;
  $button-success-outlined-active-bg: #9FD89F !default;
  $button-success-outlined-selected-bg: #D7F0D7 !default;

  $button-danger-text-color: #D13438 !default;
  $button-danger-text-color-hover: #A02729 !default;
  $button-danger-text-color-active: #3F1011!default;
  $button-danger-text-selected-color: #A02729 !default;

  $button-danger-text-hover-bg: #FDF6F6 !default;
  $button-danger-text-focused-bg: #FDF6F6 !default;
  $button-danger-text-active-bg: #F1BBBC !default;
  $button-danger-text-selected-bg: #F7D9DA !default;

  $button-success-text-color: #107C10 !default;
  $button-success-text-color-hover: #0B510B !default;
  $button-success-text-color-active: #052505 !default;
  $button-success-text-selected-color: #0B510B !default;

  $button-success-text-hover-bg: #F1FAF1 !default;
  $button-success-text-focused-bg: #F1FAF1 !default;
  $button-success-text-active-bg: #9FD89F !default;
  $button-success-text-selected-bg: #D7F0D7 !default;

  $button-default-color: $base-inverted-text-color !default;
  $button-default-selected-color: $base-inverted-text-color !default;
  $button-danger-color: $base-inverted-text-color !default;
  $button-danger-selected-color: $base-inverted-text-color !default;
  $button-success-color: $base-inverted-text-color !default;
  $button-success-selected-color: $base-inverted-text-color !default;
  $button-shadow-color: rgba(0, 0, 0, 0.24) !default;
  $button-normal-bg-inverted: darken($button-normal-bg, 100%) !default;
}

@if $mode == "dark" {
  $button-default-bg: $base-accent !default;
  $button-default-hover-bg: $base-accent-hover !default;
  $button-default-focused-bg: $base-accent-hover !default;
  $button-default-active-bg: #b4d6fa !default; 
  $button-default-selected-bg: #a6cff9 !default;

  $button-default-outlined-color-hover: $base-accent-foreground2-hover !default;
  $button-default-outlined-hover-bg: #082338 !default;
  $button-default-outlined-focused-bg: #082338 !default;
  $button-default-outlined-active-bg: #0F548C !default;
  $button-default-outlined-selected-bg: #0C3B5E !default;

  $button-default-text-color-hover: $base-accent-foreground2-hover !default;
  $button-default-text-hover-bg: #082338 !default;
  $button-default-text-focused-bg: #082338 !default;
  $button-default-text-active-bg: #0F548C !default;
  $button-default-text-selected-bg: #0C3B5E  !default;

  $button-danger-outlined-color: #E37D80 !default;
  $button-danger-outlined-color-hover: #FDF6F6 !default;
  $button-danger-outlined-color-active: #FDF6F6 !default;
  $button-danger-outlined-selected-color: #FDF6F6 !default;

  $button-danger-outlined-hover-bg: #3F1011 !default;
  $button-danger-outlined-focused-bg: #3F1011 !default;
  $button-danger-outlined-active-bg: #BC2F32 !default;
  $button-danger-outlined-selected-bg: #751D1F !default;

  $button-success-outlined-color: #54B054 !default;
  $button-success-outlined-color-hover: #F1FAF1 !default;
  $button-success-outlined-color-active: #F1FAF1 !default;
  $button-success-outlined-selected-color: #F1FAF1 !default;

  $button-success-outlined-hover-bg: #052505 !default;
  $button-success-outlined-focused-bg: #052505 !default;
  $button-success-outlined-active-bg: #0B500B !default;
  $button-success-outlined-selected-bg: #094509 !default;

  $button-danger-text-color: #E37D80 !default;
  $button-danger-text-color-hover: #FDF6F6 !default;
  $button-danger-text-color-active: #FDF6F6 !default;
  $button-danger-text-selected-color: #FDF6F6 !default;

  $button-danger-text-hover-bg: #4F1314 !default;
  $button-danger-text-focused-bg: #4F1314 !default;
  $button-danger-text-active-bg: #BC2F32 !default;
  $button-danger-text-selected-bg: #751D1F !default;

  $button-success-text-color: #54B054 !default;
  $button-success-text-color-hover: #F1FAF1 !default;
  $button-success-text-color-active: #F1FAF1 !default;
  $button-success-text-selected-color: #F1FAF1 !default;

  $button-success-text-hover-bg: #052505 !default;
  $button-success-text-focused-bg: #052505 !default;
  $button-success-text-active-bg: #0B500B !default;
  $button-success-text-selected-bg: #094509 !default;

  $button-default-color: $base-neutral-background2 !default;
  $button-default-selected-color: $base-neutral-background2 !default;
  $button-danger-color: $base-neutral-background2 !default;
  $button-danger-selected-color: $base-neutral-background2 !default;
  $button-success-color: $base-neutral-background2 !default;
  $button-success-selected-color: $base-neutral-background2 !default;
  $button-shadow-color: rgba(0, 0, 0, 0.4) !default;
  $button-normal-bg-inverted: lighten($button-normal-bg, 100%) !default;
}

$button-default-icon-color: $button-default-color !default;
$button-normal-icon-color: $button-normal-color !default;
$button-danger-icon-color: $button-danger-color !default;
$button-success-icon-color: $button-success-color !default;

$button-disabled-text-color: $base-foreground-disabled !default;
$button-normal-outlined-hover-bg: $button-normal-hover-bg !default;
$button-normal-outlined-focused-bg: $button-normal-hover-bg !default;
$button-normal-outlined-active-bg: $button-normal-active-bg !default;
$button-normal-outlined-selected-bg: $button-normal-selected-bg !default;
$button-normal-text-hover-bg: $button-normal-hover-bg !default;
$button-normal-text-focused-bg: $button-normal-hover-bg !default;
$button-normal-text-active-bg: $button-normal-active-bg !default;
$button-normal-text-selected-bg: $button-normal-selected-bg !default;
