<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  [showBorders]="true"
  [focusedRowEnabled]="true"
  [(focusedRowKey)]="focusedRowKey"
  [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
  (onFocusedRowChanging)="onFocusedRowChanging($event)"
  (onFocusedRowChanged)="onFocusedRowChanged($event)"
>
  <dxo-data-grid-paging [pageSize]="10"> </dxo-data-grid-paging>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>
  @for(column of columns; track column.dataField) {
  <dxi-data-grid-column
    [dataField]="column?.dataField"
    [width]="column?.width"
    [dataType]="column?.dataType"
    [caption]="column?.caption"
    [cssClass]="column?.cssClass"
    [allowSorting]="column?.allowSorting"
  >
  </dxi-data-grid-column>
  }
</dx-data-grid>

<div class="task-info">
  <div class="info">
    <div id="taskSubject">{{ taskSubject }}</div>
    <p id="taskDetails">{{ taskDetails }}</p>
  </div>
  <div class="progress">
    <span id="taskStatus">{{ taskStatus }}</span>
    <span id="taskProgress">{{ taskProgress }}</span>
  </div>
</div>

<div class="options">
  <div class="caption">Options</div>
  <div class="options-container">
    <div class="option">
      <span>Focused Row Key</span>
      <dx-number-box
        id="taskId"
        min="1"
        max="183"
        step="0"
        [(value)]="focusedRowKey"
        [inputAttr]="{ 'aria-label': 'Focused Row Key' }"
      >
      </dx-number-box>
    </div>
    <div class="option">
      <dx-check-box
        [text]="'Auto Navigate To Focused Row'"
        [(value)]="autoNavigateToFocusedRow"
      >
      </dx-check-box>
    </div>
  </div>
</div>
