<dx-card-view
  [dataSource]="employees"
  keyExpr="id"
  cardsPerRow="auto"
  [cardMinWidth]="350"
  [height]="840"
>
  <dxo-card-view-search-panel [visible]="true"></dxo-card-view-search-panel>
  <dxo-card-view-card-cover
    [imageExpr]="imageExpr"
    [altExpr]="altExpr"
  ></dxo-card-view-card-cover>
  <dxo-card-view-editing
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [popup]="popupConfig"
  >
    <dxo-card-view-form>
      <dxo-card-view-form-item
        caption="Personal Data"
        itemType="group"
        [colCount]="2"
        [colSpan]="2"
      >
        <dxo-card-view-form-item
          dataField="firstName"
        ></dxo-card-view-form-item>
        <dxo-card-view-form-item dataField="lastName"></dxo-card-view-form-item>
        <dxo-card-view-form-item
          dataField="birthDate"
        ></dxo-card-view-form-item>
        <dxo-card-view-form-item dataField="picture"></dxo-card-view-form-item>
      </dxo-card-view-form-item>
      <dxo-card-view-form-item
        caption="Main Info"
        itemType="group"
        [colCount]="2"
        [colSpan]="2"
      >
        <dxo-card-view-form-item dataField="hireDate"></dxo-card-view-form-item>
        <dxo-card-view-form-item dataField="title"></dxo-card-view-form-item>
        <dxo-card-view-form-item
          dataField="notes"
          editorType="dxTextArea"
          [colSpan]="2"
          [editorOptions]="{ height: 100 }"
        ></dxo-card-view-form-item>
        <dxo-card-view-form-item dataField="picture"></dxo-card-view-form-item>
      </dxo-card-view-form-item>
      <dxo-card-view-form-item
        caption="Contacts"
        itemType="group"
        [colCount]="2"
        [colSpan]="2"
      >
        <dxo-card-view-form-item
          dataField="address"
          [colSpan]="2"
        ></dxo-card-view-form-item>
        <dxo-card-view-form-item dataField="city"></dxo-card-view-form-item>
        <dxo-card-view-form-item dataField="zipcode"></dxo-card-view-form-item>
        <dxo-card-view-form-item
          dataField="mobilePhone"
        ></dxo-card-view-form-item>
        <dxo-card-view-form-item dataField="email"></dxo-card-view-form-item>
      </dxo-card-view-form-item>
    </dxo-card-view-form>
  </dxo-card-view-editing>
  <dxi-card-view-column
    caption="Full Name"
    [calculateFieldValue]="calculateFullName"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="birthDate"
    dataType="date"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="hireDate"
    dataType="date"
  ></dxi-card-view-column>
  <dxi-card-view-column
    caption="Position"
    dataField="title"
  ></dxi-card-view-column>
  <dxi-card-view-column dataField="department"></dxi-card-view-column>
  <dxi-card-view-column dataField="address"></dxi-card-view-column>
  <dxi-card-view-column dataField="mobilePhone"></dxi-card-view-column>
  <dxi-card-view-column dataField="email"></dxi-card-view-column>
  <dxi-card-view-column
    dataField="notes"
    [visible]="false"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="firstName"
    [visible]="false"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="lastName"
    [visible]="false"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="city"
    [visible]="false"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="zipcode"
    [visible]="false"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="picture"
    [visible]="false"
  ></dxi-card-view-column>
</dx-card-view>
