<dx-chart id="chart" [dataSource]="population" title="Population by Countries">
  <dxi-chart-series argumentField="country"></dxi-chart-series>
  <dxo-chart-argument-axis>
    <dxo-chart-label wordWrap="none" [overlappingBehavior]="currentMode"></dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
</dx-chart>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Overlapping Modes:</span>
    <dx-select-box
      [dataSource]="overlappingModes"
      [(value)]="currentMode"
      [inputAttr]="{ 'aria-label': 'Overlapping Mode' }"
    >
    </dx-select-box>
  </div>
</div>
