<dx-tree-list
  id="tasks"
  [dataSource]="tasksData"
  keyExpr="Task_ID"
  parentIdExpr="Task_Parent_ID"
  [autoExpandAll]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
>
  <dxo-tree-list-scrolling mode="standard"></dxo-tree-list-scrolling>
  <dxo-tree-list-paging [enabled]="true" [pageSize]="10"> </dxo-tree-list-paging>
  <dxo-tree-list-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5, 10, 20]"
    [showInfo]="true"
  >
  </dxo-tree-list-pager>
  <dxi-tree-list-column dataField="Task_Subject" [width]="390"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Task_Assigned_Employee_ID" caption="Assigned">
    <dxo-tree-list-lookup
      [dataSource]="employeesData"
      valueExpr="ID"
      displayExpr="Name"
    ></dxo-tree-list-lookup>
  </dxi-tree-list-column>
  <dxi-tree-list-column dataField="Task_Status" caption="Status">
    <dxo-tree-list-lookup [dataSource]="statusesData"></dxo-tree-list-lookup>
  </dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Start_Date"
    caption="Start Date"
    dataType="date"
    [width]="100"
  ></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Due_Date"
    caption="Due Date"
    dataType="date"
    [width]="100"
  ></dxi-tree-list-column>
</dx-tree-list>
