@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse


$validation-message-color: null !default;
$validation-message-background-color: $base-invalid-color !default;
$validation-summary-color: $base-invalid-color !default;
$validation-overlay-border-radius: $base-border-radius !default;


@if $color == "carmine" {
  $validation-message-color: $base-inverted-text-color !default;
}

@if $color == "contrast" {
  $validation-message-color: $base-text-color !default;
}

@if $color == "dark" {
  $validation-message-color: $base-inverted-text-color !default;
}

@if $color == "darkmoon" {
  $validation-message-color: $base-inverted-text-color !default;
}

@if $color == "darkviolet" {
  $validation-message-color: $base-inverted-text-color !default;
}

@if $color == "greenmist" {
  $validation-message-color: $base-inverted-text-color !default;
}

@if $color == "light" {
  $validation-message-color: $base-inverted-text-color !default;
}

@if $color == "softblue" {
  $validation-message-color: $base-inverted-text-color !default;
}

