@use "../sizes" as *;

// adduse

$generic-toolbar-size-editor-width: null !default;
$generic-html-editor-horizontal-padding: 15px !default;

@if $size == "default" {
  $generic-toolbar-size-editor-width: 105px !default;
}

@else if $size == "compact" {
  $generic-toolbar-size-editor-width: 80px !default;
}
