<dx-pie-chart id="pie" palette="Vintage" [dataSource]="champions">
  <dxo-pie-chart-common-annotation-settings
    type="image"
    color="transparent"
    [paddingLeftRight]="0"
    [paddingTopBottom]="0"
    tooltipTemplate="tooltipTemplate"
  >
    <dxo-pie-chart-image [height]="60" [width]="90"></dxo-pie-chart-image>
    <dxo-pie-chart-border color="transparent"></dxo-pie-chart-border>
  </dxo-pie-chart-common-annotation-settings>
  <dxi-pie-chart-annotation
    *ngFor="let item of annotations"
    [argument]="item.country"
    [data]="item.data"
    [location]="item.location"
    [offsetX]="item.offsetX"
    [offsetY]="item.offsetY"
    [color]="item.color"
  >
    <dxo-pie-chart-image [url]="item.image"></dxo-pie-chart-image>
    <dxo-pie-chart-border [color]="item.borderColor"></dxo-pie-chart-border>
    <dxo-pie-chart-shadow [opacity]="item.shadowOpacity"></dxo-pie-chart-shadow>
  </dxi-pie-chart-annotation>
  <dxi-pie-chart-series argumentField="country" valueField="gold">
    <dxo-pie-chart-label
      [visible]="true"
      position="inside"
      [radialOffset]="83"
      backgroundColor="transparent"
    >
      <dxo-pie-chart-font [size]="16" [weight]="600"></dxo-pie-chart-font>
    </dxo-pie-chart-label>
  </dxi-pie-chart-series>
  <dxo-pie-chart-tooltip [paddingLeftRight]="12" [paddingTopBottom]="10"></dxo-pie-chart-tooltip>
  <dxo-pie-chart-legend [visible]="false"></dxo-pie-chart-legend>
  <dxo-pie-chart-title
    text="Ice Hockey World Championship Gold Medal Winners"
  ></dxo-pie-chart-title>
  <div *dxTemplate="let annotation of 'tooltipTemplate'" class="medal-tooltip">
    <div class="country-name"
      >{{ annotation.data.country }}
      <br *ngIf="annotation.data.oldCountryName" />{{
        annotation.data.oldCountryName
      }}
    </div>
    <div class="gold">
      <span class="caption">Gold</span>: {{ annotation.data.gold }}
    </div>
    <div class="silver">
      <span class="caption">Silver</span>: {{ annotation.data.silver }}
    </div>
    <div class="bronze">
      <span class="caption">Bronze</span>: {{ annotation.data.bronze }}
    </div>
  </div>
</dx-pie-chart>
