<dx-chart id="chart" [dataSource]="mountains" title="The Highest Mountains">
  <dxi-chart-series
    argumentField="name"
    valueField="height"
    type="bar"
    color="#E55253"
  >
  </dxi-chart-series>
  <dxo-chart-argument-axis [visible]="true"></dxo-chart-argument-axis>
  <dxi-chart-value-axis [visualRange]="{ startValue: 8000 }">
    <dxo-chart-label [customizeText]="customizeLabel"></dxo-chart-label>
  </dxi-chart-value-axis>
  <dxo-chart-tooltip
    [enabled]="true"
    [customizeTooltip]="customizeTooltip"
  ></dxo-chart-tooltip>
  <dxo-chart-legend [visible]="false"></dxo-chart-legend>
</dx-chart>
<div id="buttonGroup">
  <dx-button icon="print" text="Print" (onClick)="print()"> </dx-button>
  <dx-button icon="export" text="Export" (onClick)="export()"> </dx-button>
</div>
