<dx-chart
  id="chart"
  title="Ice Hockey World Championship Gold Medal Winners"
  [dataSource]="dataSource"
>
  <dxo-chart-common-series-settings type="bar" argumentField="country">
    <dxo-chart-label visible="true"></dxo-chart-label>
  </dxo-chart-common-series-settings>
  <dxi-chart-series name="Gold" valueField="gold" color="#ffd700"> </dxi-chart-series>
  <dxi-chart-series name="Silver" valueField="silver" color="#c0c0c0"> </dxi-chart-series>
  <dxi-chart-series name="Bronze" valueField="bronze" color="#cd7f32"> </dxi-chart-series>
  <dxo-chart-argument-axis>
    <dxo-chart-label [visible]="true" template="labelTemplate"></dxo-chart-label>
  </dxo-chart-argument-axis>
  <svg overflow="visible" *dxTemplate="let data of 'labelTemplate'">
    <image
      filter="url(#DevExpress_shadow_filter)"
      y="0"
      width="60"
      height="40"
      attr.href="{{ getFilePath(data.valueText) }}"
    ></image>
    <text class="template-text" x="30" y="59" text-anchor="middle">
      {{ data.valueText }}
    </text>
  </svg>
</dx-chart>
