<dx-scheduler
  timeZone="America/Los_Angeles"
  [crossScrollingEnabled]="crossScrollingEnabled"
  [dataSource]="appointmentsData"
  [views]="['day', 'month']"
  currentView="month"
  [groups]="groups"
  recurrenceEditMode="series"
  [currentDate]="currentDate"
  (onCellContextMenu)="onCellContextMenu($event)"
  (onAppointmentContextMenu)="onAppointmentContextMenu($event)"
  [startDayHour]="9"
  [height]="730"
>
  <dxi-scheduler-resource
    fieldExpr="roomId"
    label="room"
    [dataSource]="resourcesData"
    icon="conferenceroomoutline"
  ></dxi-scheduler-resource>
</dx-scheduler>

<dx-context-menu
  [items]="contextMenuItems"
  target=".dx-scheduler"
  (onItemClick)="onContextMenuItemClick($event)"
  (onHiding)="onContextMenuHiding()"
  [width]="200"
>
  <div *dxTemplate="let e of 'item'">
    <div>
      @if(e.color) {
      <div class="item-badge" [style.background-color]="e.color"></div>
      }
      {{ e.text }}
    </div>
  </div>
</dx-context-menu>
