<dx-tree-list
  id="employees"
  [dataSource]="employees"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [showRowLines]="true"
  [columnHidingEnabled]="true"
  [showBorders]="true"
  [expandedRowKeys]="[1]"
>
  <dxo-tree-list-column-chooser [enabled]="true" mode="select"></dxo-tree-list-column-chooser>

  <dxi-tree-list-column dataField="Title" caption="Position"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Full_Name"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="City"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="State" [hidingPriority]="0"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Mobile_Phone" [hidingPriority]="1"></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Hire_Date"
    [hidingPriority]="2"
    dataType="date"
  ></dxi-tree-list-column>
</dx-tree-list>
