@use "../sizes" as *;
@use "../list/colors" as *;
// adduse

$GENERIC_LIST_BORDER_WIDTH: null !default;
$GENERIC_LIST_ITEM_HORIZONTAL_PADDING: null !default;
$GENERIC_LIST_ITEM_BORDER_WIDTH: null !default;
$GENERIC_LIST_GROUP_HEADER_VERTICAL_PADDING: null !default;
$GENERIC_LIST_DELETEBUTTON_PADDING: null !default;
$GENERIC_LIST_SELECT_ALL_MARGIN_TOP: null !default;
$GENERIC_LIST_SELECT_ALL_MARGIN_RIGHT: null !default;
$GENERIC_LIST_SELECT_ALL_LABEL_MARGIN_TOP: null !default;
$GENERIC_LIST_SELECT_ALL_LABEL_LINE_HEIGHT: null !default;
$GENERIC_LIST_SEARCHBOX_MARGIN_BOTTOM: null !default;

@if $size == "default" {
  $GENERIC_LIST_BORDER_WIDTH: 1px;

  $GENERIC_LIST_ITEM_HORIZONTAL_PADDING: 10px;
  $GENERIC_LIST_ITEM_BORDER_WIDTH: 1px;
  $GENERIC_LIST_GROUP_HEADER_VERTICAL_PADDING: $list-group-header-default-padding-top;

  $GENERIC_LIST_DELETEBUTTON_PADDING: 3px;

  $GENERIC_LIST_SELECT_ALL_MARGIN_TOP: -1px;
  $GENERIC_LIST_SELECT_ALL_MARGIN_RIGHT: 0;
  $GENERIC_LIST_SELECT_ALL_LABEL_MARGIN_TOP: 1px;
  $GENERIC_LIST_SELECT_ALL_LABEL_LINE_HEIGHT: 17px;

  $GENERIC_LIST_SEARCHBOX_MARGIN_BOTTOM: 5px;
}

@else if $size == "compact" {
  $GENERIC_LIST_BORDER_WIDTH: 1px;

  $GENERIC_LIST_ITEM_HORIZONTAL_PADDING: 5px;
  $GENERIC_LIST_ITEM_BORDER_WIDTH: 0;
  $GENERIC_LIST_GROUP_HEADER_VERTICAL_PADDING: $list-group-header-compact-padding-top;

  $GENERIC_LIST_DELETEBUTTON_PADDING: 1px;

  $GENERIC_LIST_SELECT_ALL_MARGIN_TOP: 1px;
  $GENERIC_LIST_SELECT_ALL_MARGIN_RIGHT: $GENERIC_LIST_ITEM_HORIZONTAL_PADDING;
  $GENERIC_LIST_SELECT_ALL_LABEL_MARGIN_TOP: -1px;
  $GENERIC_LIST_SELECT_ALL_LABEL_LINE_HEIGHT: 16px;

  $GENERIC_LIST_SEARCHBOX_MARGIN_BOTTOM: 3px;
}
