<dx-vector-map id="vector-map" [bounds]="[-180, 85, 180, -60]">
  <dxo-vector-map-tooltip [enabled]="true" contentTemplate="tooltipContent"></dxo-vector-map-tooltip>
  <dxo-vector-map-export [enabled]="true"></dxo-vector-map-export>
  <dxo-vector-map-title text="Nominal GDP">
    <dxo-vector-map-subtitle text="(in millions of US dollars)"></dxo-vector-map-subtitle>
  </dxo-vector-map-title>
  <dxi-vector-map-layer
    [customize]="customizeLayers"
    [dataSource]="worldMap"
    [colorGroups]="[
      0, 10000, 50000, 100000, 500000, 1000000, 10000000, 50000000
    ]"
    colorGroupingField="total"
    name="areas"
  >
    <dxo-vector-map-label [enabled]="true" dataField="name"></dxo-vector-map-label>
  </dxi-vector-map-layer>
  <dxi-vector-map-legend [customizeText]="customizeText">
    <dxo-vector-map-source layer="areas" grouping="color"></dxo-vector-map-source>
  </dxi-vector-map-legend>
  <div *dxTemplate="let info of 'tooltipContent'" class="state-tooltip">
    <div>
      <h4>{{ info.attribute("name") }}</h4>
      <div
        *ngIf="gdpData[info.attribute('name')] as countryGDPData"
        id="nominal"
      >
        Nominal GDP: $<span>{{
          pipe.transform(countryGDPData.total, "1.0-0")
        }}</span
        >M
      </div>
      <div *ngIf="getPieData(info.attribute('name')) as data; else noData">
        <dx-pie-chart id="gdp-sectors" [dataSource]="data" [animation]="false">
          <dxi-pie-chart-series argumentField="name" valueField="value">
            <dxo-pie-chart-label [visible]="true" [customizeText]="customizePieLabel">
              <dxo-pie-chart-connector [visible]="true" [width]="1"></dxo-pie-chart-connector>
            </dxo-pie-chart-label>
          </dxi-pie-chart-series>
          <dxo-pie-chart-legend [visible]="false"></dxo-pie-chart-legend>
        </dx-pie-chart>
      </div>
      <ng-template #noData>No economic development data</ng-template>
    </div>
  </div>
</dx-vector-map>
