<dx-chart
    id="chart"
    [dataSource]="relativeMasses"
    title="Relative Masses of the Heaviest Solar System Objects"
    [customizePoint]="customizePoint">
    <dxi-series
        type="scatter"
        valueField="mass"
        argumentField="name">
        <dxo-point [size]="20"></dxo-point>
    </dxi-series>
    <dxo-common-pane-settings>
        <dxo-border [visible]="true"></dxo-border>
    </dxo-common-pane-settings>
    <dxo-argument-axis>
        <dxo-grid [visible]="true"></dxo-grid>
        <dxo-label
            rotationAngle="20"
            overlappingBehavior="rotate">
        </dxo-label>
    </dxo-argument-axis>
    <dxi-value-axis
        type="logarithmic"
        title="Mass Relative to the Earth">
    </dxi-value-axis>
    <dxo-tooltip [enabled]="true"></dxo-tooltip>
    <dxo-legend [visible]="false"></dxo-legend>
    <dxo-export [enabled]="true"></dxo-export>
</dx-chart>