.dx-step-list {
  display: grid;
}

.dx-stepper-horizontal {
  .dx-step-list {
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
  }
}

.dx-stepper-vertical {
  .dx-step-list {
    height: 100%;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(48px, 1fr);
  }
}
