.dx-avatar {
  grid-row: 2 / auto;
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999em;
  overflow: clip;
}

.dx-avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
