@use "../sizes" as *;

// adduse

$material-toast-content-padding: null !default;
$material-toast-height: null !default;
$material-toast-shadow-color: null !default;

@if $size == "default" {
  $material-toast-content-padding: 0 16px;
  $material-toast-height: 48px;
  $material-toast-shadow-color: 0.25;
}

@else if $size == "compact" {
  $material-toast-content-padding: 0 12px;
  $material-toast-height: 36px;
  $material-toast-shadow-color: 0.15;
}
