@use "../../../_design-system/variables/ds" as ds;

$toast-bg-rest: ds.$color-bg !default;

$toast-info-bg-rest: $toast-bg-rest !default;

$toast-info-content-rest: ds.$color-content !default;

$toast-warning-bg-rest: ds.$color-bg-warning !default;

$toast-warning-content-rest: ds.$color-content-static-light !default;

$toast-error-bg-rest: ds.$color-bg-danger !default;

$toast-error-content-rest: ds.$color-content-static-dark !default;

$toast-success-bg-rest: ds.$color-bg-success !default;

$toast-success-content-rest: ds.$color-content-static-dark !default;
