<dx-circular-gauge
    id="gauge"
    [value]="2200"
    [subvalues]="[2700]">
    <dxo-subvalue-indicator type="textcloud">
        <dxo-text [customizeText]="customizeText">
            <dxo-format type="thousands" [precision]="1"></dxo-format>
        </dxo-text>
    </dxo-subvalue-indicator>
    <dxo-scale
        [startValue]="0"
        [endValue]="3000"
        [tickInterval]="500">
        <dxo-label [customizeText]="customizeText"></dxo-label>
    </dxo-scale>
    <dxo-export [enabled]="true"></dxo-export>
    <dxo-title text="Oven Temperature (includes Recommended)">
        <dxo-font [size]="28"></dxo-font>
    </dxo-title>
</dx-circular-gauge>

