<dx-pie-chart
  id="pie"
  type="doughnut"
  title="The Population of Continents and Regions"
  palette="Soft Pastel"
  [dataSource]="populationByRegions"
>
  <dxi-pie-chart-series argumentField="region">
    <dxo-pie-chart-label [visible]="true" format="millions">
      <dxo-pie-chart-connector [visible]="true"></dxo-pie-chart-connector>
    </dxo-pie-chart-label>
  </dxi-pie-chart-series>
  <dxo-pie-chart-export [enabled]="true"></dxo-pie-chart-export>
  <dxo-pie-chart-legend
    [margin]="0"
    horizontalAlignment="right"
    verticalAlignment="top"
  ></dxo-pie-chart-legend>
  <dxo-pie-chart-tooltip
    [enabled]="true"
    [customizeTooltip]="customizeTooltip"
    format="millions"
  >
  </dxo-pie-chart-tooltip>
</dx-pie-chart>
