<dx-chart id="chart"
        title="Temperature in Toronto (2017)"
        [dataSource]="chartDataSource"
        [zoomAndPan]="{ argumentAxis: 'pan' }">
    <dxo-scroll-bar [visible]="true"></dxo-scroll-bar>
    <dxo-argument-axis
        argumentType="datetime"
        [visualRangeUpdateMode]="keep"
        [(visualRange)]="currentVisualRange"
        [wholeRange]="bounds">
    </dxo-argument-axis>
    <dxi-value-axis
        name="temperature"
        [allowDecimals]="false">
        <dxo-title text="Temperature, &deg;C">
            <dxo-font color="#ff950c"></dxo-font>
        </dxo-title>
        <dxo-label>
            <dxo-font color="#ff950c"></dxo-font>
        </dxo-label>
    </dxi-value-axis>
    <dxi-series
        color="#ff950c"
        type="rangeArea"
        argumentField="date"
        rangeValue1Field="minTemp"
        rangeValue2Field="maxTemp"
        name="Temperature range">
    </dxi-series>
    <dxo-animation [enabled]="false"></dxo-animation>
    <dxo-loading-indicator backgroundColor="none">
        <dxo-font [size]="14"></dxo-font>
    </dxo-loading-indicator>
    <dxo-legend [visible]="false"></dxo-legend>
</dx-chart>