@use "../sizes" as *;

// adduse

$fluent-datebox-overlay-item-margin: 16px !default;
$fluent-datebox-overlay-item-margin-adaptive: 18px !default;
$fluent-datebox-popup-content-margin: 0 34px !default;
$fluent-datebox-input-min-height: 33px !default;
