<div class="options">
  <div class="option">
    <div class="label">Work Hours</div>
    <div class="value">
      <dx-radio-group
        [items]="shifts"
        [(value)]="currentShift"
        layout="horizontal"
      >
      </dx-radio-group>
    </div>
  </div>
</div>
<br />
<dx-scheduler
  timeZone="America/Los_Angeles"
  [dataSource]="appointments"
  [views]="['day', 'week']"
  currentView="week"
  [currentDate]="currentDate"
  [startDayHour]="0"
  [endDayHour]="8"
  [cellDuration]="60"
  [offset]="currentShift.offset"
  [showAllDayPanel]="false"
>
</dx-scheduler>
