@mixin chat(
  $background-color,
  $border-color,
  $border-radius,
  $border-width: 1px,
) {
  .dx-chat {
    background-color: $background-color;
    border: $border-width solid;
    border-color: $border-color;
    border-radius: $border-radius;
  }
}
