@use "../sizes" as *;
@use "../button/colors" as *;
// adduse

$GENERIC_SCHEDULER_WORKSPACE_DATE_TABLE_CELL_HEIGHT: null !default;
$GENERIC_SCHEDULER_TIMELINE_DATE_TABLE_CELL_HEIGHT: null !default;
$GENERIC_SCHEDULER_HEADER_PANEL_TOP_GAP: null !default;
$GENERIC_SCHEDULER_HEADER_HEIGHT: null !default;
$GENERIC_SCHEDULER_NAVIGATOR_HEIGHT: null !default;
$GENERIC_SCHEDULER_NAVIGATOR_BORDER_RADIUS: null !default;
$GENERIC_SCHEDULER_NAVIGATION_BUTTONS_PADDING: null !default;
$GENERIC_SCHEDULER_APPOINTMENT_MONTH_TEXT_SIZE: null !default;
$GENERIC_SCHEDULER_WORKSPACE_INFO_TEXT_SIZE: null !default;
$GENERIC_SCHEDULER_ALL_DAY_TITLE_FONT_SIZE: null !default;
$GENERIC_SCHEDULER_APPOINTMENT_CONTENT_PADDING: null !default;
$GENERIC_SCHEDULER_APPOINTMENT_RECURRENCE_CONTENT_PADDING: null !default;
$GENERIC_SCHEDULER_APPOINTMENT_RECURRENCE_CONTENT_PADDING_RTL: null !default;
$GENERIC_SCHEDULER_AGENDA_APPOINTMENT_FONT_SIZE: null !default;
$GENERIC_SCHEDULER_GROUP_HEADER_AGENDA_FONT_SIZE: null !default;
$GENERIC_SCHEDULER_GROUP_HEADER_TABLE_CELL_WIDTH: null !default;
$GENERIC_SCHEDULER_APPOINTMENT_TRANSPARENT_LEFT_BORDER: null !default;
$GENERIC_SCHEDULER_APPOINTMENT_TRANSPARENT_RIGHT_BORDER: null !default;
$GENERIC_SCHEDULER_APPOINTMENT_COLLECTOR_HEIGHT: null !default;

@if $size == "default" {
  $GENERIC_SCHEDULER_WORKSPACE_DATE_TABLE_CELL_HEIGHT: 50px;
  $GENERIC_SCHEDULER_TIMELINE_DATE_TABLE_CELL_HEIGHT: 75px;

  $GENERIC_SCHEDULER_HEADER_PANEL_TOP_GAP: 10px;

  $GENERIC_SCHEDULER_HEADER_HEIGHT: 56px;
  $GENERIC_SCHEDULER_NAVIGATOR_HEIGHT: 36px;
  $GENERIC_SCHEDULER_NAVIGATOR_BORDER_RADIUS: $button-border-radius;
  $GENERIC_SCHEDULER_NAVIGATION_BUTTONS_PADDING: 6px;

  $GENERIC_SCHEDULER_APPOINTMENT_MONTH_TEXT_SIZE: 13px;
  $GENERIC_SCHEDULER_WORKSPACE_INFO_TEXT_SIZE: 14px;
  $GENERIC_SCHEDULER_ALL_DAY_TITLE_FONT_SIZE: 14px;

  $GENERIC_SCHEDULER_APPOINTMENT_CONTENT_PADDING: 5px 7px;
  $GENERIC_SCHEDULER_APPOINTMENT_RECURRENCE_CONTENT_PADDING: 5px 25px 5px 7px;
  $GENERIC_SCHEDULER_APPOINTMENT_RECURRENCE_CONTENT_PADDING_RTL: 5px 7px 5px 25px;

  $GENERIC_SCHEDULER_AGENDA_APPOINTMENT_FONT_SIZE: 16px;
  $GENERIC_SCHEDULER_GROUP_HEADER_AGENDA_FONT_SIZE: 14px;
  $GENERIC_SCHEDULER_GROUP_HEADER_TABLE_CELL_WIDTH: 80px;
  $GENERIC_SCHEDULER_APPOINTMENT_TRANSPARENT_LEFT_BORDER: 3px solid transparent;
  $GENERIC_SCHEDULER_APPOINTMENT_TRANSPARENT_RIGHT_BORDER: 2px solid transparent;


  $GENERIC_SCHEDULER_APPOINTMENT_COLLECTOR_HEIGHT: 20px;
}

@else if $size == "compact" {
  $GENERIC_SCHEDULER_WORKSPACE_DATE_TABLE_CELL_HEIGHT: 36px;
  $GENERIC_SCHEDULER_TIMELINE_DATE_TABLE_CELL_HEIGHT: 50px;

  $GENERIC_SCHEDULER_HEADER_PANEL_TOP_GAP: 5px;

  $GENERIC_SCHEDULER_HEADER_HEIGHT: 39px;
  $GENERIC_SCHEDULER_NAVIGATOR_HEIGHT: 25px;
  $GENERIC_SCHEDULER_NAVIGATOR_BORDER_RADIUS: $button-border-radius;
  $GENERIC_SCHEDULER_NAVIGATION_BUTTONS_PADDING: 4px;

  $GENERIC_SCHEDULER_APPOINTMENT_MONTH_TEXT_SIZE: 11px;
  $GENERIC_SCHEDULER_WORKSPACE_INFO_TEXT_SIZE: 12px;
  $GENERIC_SCHEDULER_ALL_DAY_TITLE_FONT_SIZE: 11px;

  $GENERIC_SCHEDULER_APPOINTMENT_CONTENT_PADDING: 2px 5px;
  $GENERIC_SCHEDULER_APPOINTMENT_RECURRENCE_CONTENT_PADDING: 2px 25px 2px 5px;
  $GENERIC_SCHEDULER_APPOINTMENT_RECURRENCE_CONTENT_PADDING_RTL: 2px 5px 2px 25px;

  $GENERIC_SCHEDULER_AGENDA_APPOINTMENT_FONT_SIZE: 14px;
  $GENERIC_SCHEDULER_GROUP_HEADER_AGENDA_FONT_SIZE: 14px;
  $GENERIC_SCHEDULER_GROUP_HEADER_TABLE_CELL_WIDTH: 60px;
  $GENERIC_SCHEDULER_APPOINTMENT_TRANSPARENT_LEFT_BORDER: 2px solid transparent;
  $GENERIC_SCHEDULER_APPOINTMENT_TRANSPARENT_RIGHT_BORDER: 1px solid transparent;

  $GENERIC_SCHEDULER_APPOINTMENT_COLLECTOR_HEIGHT: 17px;
}
