@use "../common/colors" as *;
@use "../sizes" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$fluent-tooltip-padding: null !default;
$fluent-tooltip-font-size: null !default;
$fluent-tooltip-arrow-border-radius: ds.$border-radius-20 !default;
$fluent-tooltip-shadow: 0 0 ds.$spacing-20 0 $base-dropdown-shadow-color1 !default;

@if $size == "default" {
  $fluent-tooltip-padding: ds.$spacing-70 ds.$spacing-110 !default;
  $fluent-tooltip-font-size: ds.$font-size-caption-md;
}

@else if $size == "compact" {
  $fluent-tooltip-padding: ds.$spacing-30 ds.$spacing-50 !default;
  $fluent-tooltip-font-size: ds.$font-size-caption-md;
}

// Values hoisted from style-file literals (tokenized)
$fluent-tooltip-overlay-content-border: ds.$border-width-10 solid transparent !default;
