<dx-html-editor height="725px" [value]="valueContent">
  <dxo-html-editor-toolbar [multiline]="isMultiline">
    <dxi-html-editor-item name="undo"></dxi-html-editor-item>
    <dxi-html-editor-item name="redo"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item
      name="size"
      [acceptedValues]="['8pt', '10pt', '12pt', '14pt', '18pt', '24pt', '36pt']"
      [options]="{ inputAttr: { 'aria-label': 'Font size' } }"
    ></dxi-html-editor-item>
    <dxi-html-editor-item
      name="font"
      [acceptedValues]="[
        'Arial',
        'Courier New',
        'Georgia',
        'Impact',
        'Lucida Console',
        'Tahoma',
        'Times New Roman',
        'Verdana'
      ]"
      [options]="{ inputAttr: { 'aria-label': 'Font family' } }"
    ></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="bold"></dxi-html-editor-item>
    <dxi-html-editor-item name="italic"></dxi-html-editor-item>
    <dxi-html-editor-item name="strike"></dxi-html-editor-item>
    <dxi-html-editor-item name="underline"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignLeft"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignCenter"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignRight"></dxi-html-editor-item>
    <dxi-html-editor-item name="alignJustify"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="orderedList"></dxi-html-editor-item>
    <dxi-html-editor-item name="bulletList"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item
      name="header"
      [acceptedValues]="[false, 1, 2, 3, 4, 5]"
      [options]="{ inputAttr: { 'aria-label': 'Header' } }"
    ></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="color"></dxi-html-editor-item>
    <dxi-html-editor-item name="background"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="link"></dxi-html-editor-item>
    <dxi-html-editor-item name="image"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="clear"></dxi-html-editor-item>
    <dxi-html-editor-item name="codeBlock"></dxi-html-editor-item>
    <dxi-html-editor-item name="blockquote"></dxi-html-editor-item>
    <dxi-html-editor-item name="separator"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertTable"></dxi-html-editor-item>
    <dxi-html-editor-item name="deleteTable"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertRowAbove"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertRowBelow"></dxi-html-editor-item>
    <dxi-html-editor-item name="deleteRow"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertColumnLeft"></dxi-html-editor-item>
    <dxi-html-editor-item name="insertColumnRight"></dxi-html-editor-item>
    <dxi-html-editor-item name="deleteColumn"></dxi-html-editor-item>
  </dxo-html-editor-toolbar>
  <dxo-html-editor-media-resizing [enabled]="true"> </dxo-html-editor-media-resizing>
  <dxo-html-editor-image-upload [tabs]="currentTab" fileUploadMode="base64">
  </dxo-html-editor-image-upload>
</dx-html-editor>

<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <dx-check-box
      text="Multiline toolbar"
      [(value)]="isMultiline"
    ></dx-check-box>
  </div>
  <div class="option">
    <div class="label">Image upload tabs:</div>
    <dx-select-box
      [items]="tabs"
      [inputAttr]="{ 'aria-label': 'Tab' }"
      [(value)]="currentTab"
      valueExpr="value"
      displayExpr="name"
    >
    </dx-select-box>
  </div>
</div>
