@use "../../colors" as *;
@use "../../../../base/gridBase/layout/aiChat/mixins" as *;
@use "../../../colors" as *;
@use "../../../button/colors" as buttonColors;
@use "./sizes" as *;
@include ai-chat-messagelist-empty(
  buttonColors.$button-default-contained-bg,
  buttonColors.$button-default-outlined-bg-hovered,
);
@include ai-chat-message-pending(var(--dx-grid-ai-chat-message-pending-content));
@include ai-chat-message-success(var(--dx-grid-ai-chat-message-success-content));
@include ai-chat-message-error(var(--dx-grid-ai-chat-message-error-content));
@include ai-chat-messagebubble-border(var(--dx-grid-ai-chat-message-border));
@include ai-chat-message-regenerate-button(buttonColors.$button-normal-contained-bg-active);
@include ai-chat-message-icon(var(--dx-grid-ai-chat-message-icon-size));

.dx-ai-chat--disabled .dx-ai-chat__message-regenerate-button {
  color: var(--dx-grid-ai-chat-message-regenerate-button-content-disabled);
  cursor: default;
  user-select: none;
  -webkit-touch-callout: none;
}
