<div class="long-title">
  <h3>Average temperature in London</h3>
</div>
<div id="chart-demo">
  <dx-polar-chart id="radarChart" [dataSource]="temperaturesData">
    <dxi-polar-chart-series valueField="day" name="Day" color="#ba4d51"></dxi-polar-chart-series>
    <dxi-polar-chart-series valueField="night" name="Night" color="#5f8b95"></dxi-polar-chart-series>
    <dxo-polar-chart-common-series-settings #seriesSettings type="scatter">
    </dxo-polar-chart-common-series-settings>
    <dxo-polar-chart-margin [top]="50" [bottom]="50" [left]="100"> </dxo-polar-chart-margin>
  </dx-polar-chart>
  <div class="center">
    <div>Series Type</div>&nbsp;
    <dx-select-box
      [dataSource]="types"
      [(value)]="seriesSettings.type"
      [inputAttr]="{ 'aria-label': 'Series Type' }"
      [width]="200"
    >
    </dx-select-box>
  </div>
</div>
