<p>Click this text and press <b>Tab</b></p>
<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  keyExpr="ID"
  [showBorders]="true"
  [focusedRowEnabled]="true"
>
  <dxo-data-grid-editing
    [allowUpdating]="true"
    [allowDeleting]="true"
    [selectTextOnEditStart]="true"
    [useIcons]="true"
  >
  </dxo-data-grid-editing>

  <dxo-data-grid-header-filter [visible]="true"> </dxo-data-grid-header-filter>

  <dxo-data-grid-filter-panel [visible]="true"> </dxo-data-grid-filter-panel>

  <dxo-data-grid-filter-row [visible]="true"> </dxo-data-grid-filter-row>

  <dxo-data-grid-paging [pageSize]="10"> </dxo-data-grid-paging>

  <dxo-data-grid-pager
    [allowedPageSizes]="[5, 10]"
    [showPageSizeSelector]="true"
    [showNavigationButtons]="true"
  >
  </dxo-data-grid-pager>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>

  <dxi-data-grid-column dataField="FirstName"> </dxi-data-grid-column>

  <dxi-data-grid-column dataField="LastName"> </dxi-data-grid-column>

  <dxi-data-grid-column dataField="Position"> </dxi-data-grid-column>

  <dxi-data-grid-column dataField="StateID" caption="State">
    <dxo-data-grid-lookup [dataSource]="states" valueExpr="ID" displayExpr="Name">
    </dxo-data-grid-lookup>
  </dxi-data-grid-column>
</dx-data-grid>
