<dx-diagram #diagram id="diagram" (onContentReady)="contentReadyHandler($event)" (onSelectionChanged)="selectionChangedHandler($event)">
    <dxo-nodes [dataSource]="dataSource" keyExpr="ID" textExpr="Full_Name" parentKeyExpr="Head_ID">
        <dxo-auto-layout type="tree"></dxo-auto-layout>
    </dxo-nodes>
    <dxo-toolbox visibility="disabled"></dxo-toolbox>
    <dxo-properties-panel visibility="disabled"></dxo-properties-panel>
</dx-diagram>
<div class="selected-data">
    <span class="caption">Selected Items:</span>
    <span>
        {{selectedItems && selectedItems.length ? (selectedItems | stringifyItems) : 'Nobody has been selected'}}
    </span>
</div>
