<dx-html-editor [(value)]="editorValue">
  <dxo-toolbar>
    <dxi-item name="undo"></dxi-item>
    <dxi-item name="redo"></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item
      name="header"
      [acceptedValues]="[false, 1, 2, 3, 4, 5]"
      [options]="{ inputAttr: { 'aria-label': 'Header' } }"
    ></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item name="bold"></dxi-item>
    <dxi-item name="italic"></dxi-item>
    <dxi-item name="strike"></dxi-item>
    <dxi-item name="underline"></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item name="alignLeft"></dxi-item>
    <dxi-item name="alignCenter"></dxi-item>
    <dxi-item name="alignRight"></dxi-item>
    <dxi-item name="alignJustify"></dxi-item>
    <dxi-item name="separator"></dxi-item>
    <dxi-item widget="dxButton" [options]="toolbarButtonOptions"></dxi-item>
  </dxo-toolbar>
</dx-html-editor>

<dx-popup [showTitle]="true" title="Markup" [(visible)]="popupVisible">
  <div>{{ editorValue }}</div>
</dx-popup>
