<dx-vector-map
  id="map-container"
  [bounds]="[-180, 85, 180, -75]"
  [maxZoomFactor]="3"
  title="Sea Currents"
>
  <dxo-vector-map-export [enabled]="true"></dxo-vector-map-export>
  <dxi-vector-map-layer
    [dataSource]="worldMap"
    [hoverEnabled]="false"
  ></dxi-vector-map-layer>
  <dxi-vector-map-layer
    name="water"
    [dataSource]="streamsData"
    colorGroupingField="tag"
    [colorGroups]="[0, 1, 2]"
    [palette]="['#3c20c8', '#d82020']"
    borderColor="none"
    [hoverEnabled]="false"
  ></dxi-vector-map-layer>
  <dxi-vector-map-legend
    horizontalAlignment="right"
    verticalAlignment="top"
    [customizeText]="customizeText"
  >
    <dxo-vector-map-font [size]="14"></dxo-vector-map-font>
    <dxo-vector-map-source
      layer="water"
      grouping="color"
    ></dxo-vector-map-source>
  </dxi-vector-map-legend>
</dx-vector-map>
