<div id="container">
  <div class="header">Employees</div>
  <ul>
    @for (employee of employees; track employee.ID) {
    <li>
      <img
        [id]="'image' + employee.ID"
        [alt]="employee.FirstName + ' ' + employee.LastName"
        [src]="employee.Picture"
      />
      <br />
      <i>{{ employee.FirstName }} {{ employee.LastName }}</i
      ><br />
      <dx-button
        class="button-info"
        text="Details"
        (mouseenter)="detailsButtonMouseEnter(employee.ID)"
        (onClick)="showInfo(employee)"
      >
      </dx-button>
    </li>
    }
  </ul>
  <dx-popup
    [width]="450"
    [height]="600"
    [dragEnabled]="false"
    [hideOnOutsideClick]="true"
    container=".dx-viewport"
    titleTemplate="title"
    [(visible)]="popupVisible"
  >
    <dxi-popup-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="before"
      [options]="emailButtonOptions"
    >
    </dxi-popup-toolbar-item>
    <dxi-popup-toolbar-item
      widget="dxButton"
      toolbar="bottom"
      location="after"
      [options]="closeButtonOptions"
    >
    </dxi-popup-toolbar-item>
    <div *dxTemplate="let data of 'title'">
      <p class="title">Title template</p>
    </div>
  </dx-popup>
</div>
