@use "../../sizes" as *;

// adduse

$material-tabs-item-gap: 4px !default;
$material-tabs-item-padding: null !default;
$material-tabs-item-padding-horizontal: null !default;
$material-tabs-item-padding-vertical: null !default;
$material-tab-height: null !default;
$material-tab-min-width: null !default;

$material-tab-text-line-height: 1.714286 !default;
$material-base-icon-margin: null !default;

$material-tab-nav-button-icon-width: null !default;
$material-tab-nav-button-icon-height: null !default;
$material-tab-nav-button-icon-font-size: null !default;
$material-tab-nav-button-content-padding: null !default;

$material-tab-vertical-nav-button-content-padding: null !default;

$material-indicator-thickness-primary: 2px !default;
$material-indicator-thickness-secondary: 3px !default;

$material-indicator-length-primary: 100% !default;
$material-indicator-length-secondary: 100% !default;

$material-indicator-border-radius-secondary: 8px !default;

$material-tabs-icon-size: $material-base-icon-size !default;

@if $size == "default" {
  $material-tabs-item-padding-horizontal: 12px !default;
  $material-tabs-item-padding-vertical: 16px !default;
  $material-tabs-item-padding: $material-tabs-item-padding-horizontal $material-tabs-item-padding-vertical !default;
  $material-tab-height: auto !default;
  $material-tab-min-width: 90px !default;
  $material-base-icon-margin: 8px !default;
  $material-tab-nav-button-icon-width: 24px !default;
  $material-tab-nav-button-icon-height: 24px !default;
  $material-tab-nav-button-icon-font-size: 24px !default;
  $material-tab-nav-button-content-padding: 0 4px !default;
  $material-tab-vertical-nav-button-content-padding: 4px 0 !default;
}

@else if $size == "compact" {
  $material-tabs-item-padding-horizontal: 6px !default;
  $material-tabs-item-padding-vertical: 12px !default;
  $material-tabs-item-padding: $material-tabs-item-padding-horizontal $material-tabs-item-padding-vertical !default;
  $material-tab-height: auto !default;
  $material-tab-min-width: 82px !default;
  $material-base-icon-margin: 7px !default;
  $material-tab-nav-button-icon-width: 24px !default;
  $material-tab-nav-button-icon-height: 24px !default;
  $material-tab-nav-button-icon-font-size: 24px !default;
  $material-tab-nav-button-content-padding: 0 4px !default;
  $material-tab-vertical-nav-button-content-padding: 4px 0 !default;
}
