<dx-scheduler
  [height]="730"
  [currentDate]="currentDate"
  [dataSource]="appointments"
  currentView="Timeline"
  [startDayHour]="8"
  [endDayHour]="20"
  [cellDuration]="60"
  [showAllDayPanel]="false"
  [groups]="['humanId']"
>
  <dxi-scheduler-view
    type="timelineWorkWeek"
    name="Timeline"
    groupOrientation="vertical"
  ></dxi-scheduler-view>
  <dxi-scheduler-view type="workWeek" groupOrientation="vertical"></dxi-scheduler-view>
  <dxi-scheduler-view type="month" groupOrientation="horizontal"></dxi-scheduler-view>
  <dxi-scheduler-resource fieldExpr="humanId" [dataSource]="resources" label="Employee">
  </dxi-scheduler-resource>
  <dxo-scheduler-scrolling mode="virtual"> </dxo-scheduler-scrolling>
</dx-scheduler>
