@mixin publish {
  --dx-button-danger-contained-icon: var(--dx-button-danger-contained-content);
  --dx-button-danger-text-bg-active: var(--dx-button-danger-outlined-bg-active);
  --dx-button-danger-text-bg-focused: var(--dx-button-danger-outlined-bg-focused);
  --dx-button-danger-text-bg-hovered: var(--dx-button-danger-outlined-bg-hovered);
  --dx-button-danger-text-bg-selected: var(--dx-button-danger-outlined-bg-selected);
  --dx-button-danger-text-content-active: var(--dx-button-danger-outlined-content-active);
  --dx-button-danger-text-content-hovered: var(--dx-button-danger-outlined-content-hovered);
  --dx-button-danger-text-content: var(--dx-button-danger-outlined-content);
  --dx-button-danger-text-content-selected: var(--dx-button-danger-outlined-content-selected);
  --dx-button-default-contained-icon: var(--dx-button-default-contained-content);
  --dx-button-default-text-bg-active: var(--dx-button-default-outlined-bg-active);
  --dx-button-default-text-bg-focused: var(--dx-button-default-outlined-bg-focused);
  --dx-button-default-text-bg-hovered: var(--dx-button-default-outlined-bg-hovered);
  --dx-button-default-text-bg-selected: var(--dx-button-default-outlined-bg-selected);
  --dx-button-default-text-content-active: var(--dx-button-default-outlined-content-active);
  --dx-button-icon-text-padding-inline-start: var(--dx-button-padding-inline);
  --dx-button-normal-contained-icon: var(--dx-button-normal-contained-content);
  --dx-button-normal-outlined-bg-active: var(--dx-button-normal-contained-bg-active);
  --dx-button-normal-outlined-bg-focused: var(--dx-button-normal-contained-bg-focused);
  --dx-button-normal-outlined-bg-hovered: var(--dx-button-normal-contained-bg-hovered);
  --dx-button-normal-outlined-bg-selected: var(--dx-button-normal-contained-bg-selected);
  --dx-button-normal-text-bg-active: var(--dx-button-normal-contained-bg-active);
  --dx-button-normal-text-bg-focused: var(--dx-button-normal-contained-bg-focused);
  --dx-button-normal-text-bg-hovered: var(--dx-button-normal-contained-bg-hovered);
  --dx-button-normal-text-bg-selected: var(--dx-button-normal-contained-bg-selected);
  --dx-button-success-contained-icon: var(--dx-button-success-contained-content);
  --dx-button-success-text-bg-active: var(--dx-button-success-outlined-bg-active);
  --dx-button-success-text-bg-focused: var(--dx-button-success-outlined-bg-focused);
  --dx-button-success-text-bg-hovered: var(--dx-button-success-outlined-bg-hovered);
  --dx-button-success-text-bg-selected: var(--dx-button-success-outlined-bg-selected);
  --dx-button-success-text-content-active: var(--dx-button-success-outlined-content-active);
  --dx-button-success-text-content-hovered: var(--dx-button-success-outlined-content-hovered);
  --dx-button-success-text-content: var(--dx-button-success-outlined-content);
  --dx-button-success-text-content-selected: var(--dx-button-success-outlined-content-selected);
}
