@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;

// adduse

$stepper-step-bg: $typography-bg !default;
$stepper-step-shadow: $typography-bg !default;
$stepper-step-hover-bg: $button-normal-hover-bg !default;

$stepper-step-color-selected: $base-inverted-text-color !default;
$stepper-step-selected-bg: $button-default-bg !default;
$stepper-step-selected-hover-bg: $button-default-hover-bg !default;

$stepper-step-invalid-bg: $button-danger-bg !default;
$stepper-step-invalid-hover-bg: $button-danger-hover-bg !default;

$stepper-step-border-color: $base-border-color !default;
$stepper-step-hover-border-color: null !default;

$stepper-step-focused-border-color: $stepper-step-selected-hover-bg !default;
$stepper-step-selected-border-color: $base-accent !default;

$stepper-connector-bg: $base-border-color !default;
$stepper-connector-value-bg: $base-accent !default;

$stepper-step-disabled-text-color: color.change($base-text-color, $alpha: 0.38) !default;
$stepper-step-disabled-bg: $base-border-color !default;

@if $mode == 'light' {
  $stepper-step-hover-border-color: darken($base-border-color, 6%) !default;
}

@if $mode == 'dark' {
  $stepper-step-hover-border-color: lighten($base-border-color, 6%) !default;
}
