<div id="list-api-demo">
    <div class="widget-container">
        <dx-list
            [dataSource]="tasks"
            [height]="400"
            [allowItemDeleting]="allowDeleting"
            [itemDeleteMode]="deleteType"
            [showSelectionControls]="true"
            selectionMode="multiple"
            [(selectedItems)]="selectedItems">
        </dx-list>
        <div class="selected-data">
            <span class="caption">Selected Tasks:</span>
            <span>{{selectedItems.join(", ")}}</span>
        </div>
    </div>    
    <div class="options">
        <div class="caption">Options</div>
        <div class="option">
            <dx-check-box
                text="Allow deleting"
                [(value)]="allowDeleting">
            </dx-check-box>
        </div>
        <div class="option">
            <span>Deleting type</span>
            <dx-select-box
                [disabled]="!allowDeleting"
                [items]="['static', 'toggle', 'slideButton', 'slideItem', 'swipe', 'context']"
                [(value)]="deleteType">
            </dx-select-box>
        </div>
    </div>
</div>