<dx-range-selector
  id="range-selector"
  title="Select a Month Period"
  [value]="['2013/03/01', '2013/03/07']"
  [dataSource]="dataSource"
>
  <dxo-range-selector-margin [top]="50"></dxo-range-selector-margin>
  <dxo-range-selector-chart>
    <dxi-range-selector-series valueField="dayT" color="yellow"></dxi-range-selector-series>
    <dxi-range-selector-series valueField="nightT"></dxi-range-selector-series>
    <dxo-range-selector-common-series-settings type="steparea" argumentField="date">
    </dxo-range-selector-common-series-settings>
  </dxo-range-selector-chart>
  <dxo-range-selector-scale minorTickInterval="day" valueType="datetime">
    <dxo-range-selector-tick-interval [days]="2"></dxo-range-selector-tick-interval>
  </dxo-range-selector-scale>
  <dxo-range-selector-slider-marker format="day"></dxo-range-selector-slider-marker>
</dx-range-selector>
