<dx-card-view
  [dataSource]="employees"
  keyExpr="id"
  [searchPanel]="searchPanelConfig"
  [cardsPerRow]="2"
>
  <dxo-card-view-paging [pageSize]="4"></dxo-card-view-paging>
  <dxo-card-view-card-cover
    [imageExpr]="imageExpr"
    [altExpr]="altExpr"
  ></dxo-card-view-card-cover>
  <dxo-card-view-editing
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
    [popup]="popupConfig"
    [form]="formConfig"
  ></dxo-card-view-editing>
  <dxi-card-view-column
    caption="Full Name"
    [calculateFieldValue]="calculateFullName"
  ></dxi-card-view-column>
  <dxi-card-view-column dataField="birthDate" dataType="date">
    <dxi-card-view-validation-rule
      type="required"
    ></dxi-card-view-validation-rule>
  </dxi-card-view-column>
  <dxi-card-view-column dataField="hireDate" dataType="date">
    <dxi-card-view-validation-rule
      type="required"
    ></dxi-card-view-validation-rule>
    <dxi-card-view-validation-rule
      type="custom"
      message="Hire date cannot be earlier than birth date"
      [validationCallback]="hireDateValidationCallback"
    ></dxi-card-view-validation-rule>
  </dxi-card-view-column>
  <dxi-card-view-column caption="Position" dataField="title">
    <dxi-card-view-validation-rule
      type="required"
    ></dxi-card-view-validation-rule>
  </dxi-card-view-column>
  <dxi-card-view-column dataField="department"></dxi-card-view-column>
  <dxi-card-view-column dataField="address"></dxi-card-view-column>
  <dxi-card-view-column dataField="mobilePhone">
    <dxi-card-view-validation-rule
      type="pattern"
      message="Your phone must have '(555) 555-5555' format!"
      [pattern]="phonePattern"
    ></dxi-card-view-validation-rule>
  </dxi-card-view-column>
  <dxi-card-view-column dataField="email">
    <dxi-card-view-validation-rule type="email"></dxi-card-view-validation-rule>
    <dxi-card-view-validation-rule
      type="async"
      message="Email address is not unique"
      [ignoreEmptyValue]="true"
      [validationCallback]="emailValidationCallback"
    ></dxi-card-view-validation-rule>
  </dxi-card-view-column>
  <dxi-card-view-column
    dataField="notes"
    [visible]="false"
  ></dxi-card-view-column>
  <dxi-card-view-column dataField="firstName" [visible]="false">
    <dxi-card-view-validation-rule
      type="required"
    ></dxi-card-view-validation-rule>
  </dxi-card-view-column>
  <dxi-card-view-column dataField="lastName" [visible]="false">
    <dxi-card-view-validation-rule
      type="required"
    ></dxi-card-view-validation-rule>
  </dxi-card-view-column>
  <dxi-card-view-column
    dataField="city"
    [visible]="false"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="zipcode"
    [visible]="false"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="picture"
    [visible]="false"
  ></dxi-card-view-column>
</dx-card-view>
