#gridContainer {
  height: 450px;
}

.dx-row img {
  height: 100px;
}

#gridContainer tr.main-row td:not(:first-child) {
  height: 21px;
}

#gridContainer tr.notes-row {
  white-space: normal;
  vertical-align: top;
}

#gridContainer tr.notes-row td {
  height: 70px;
  color: var(--dxds-color-content-neutral-deep-rest, #999);
}

#gridContainer tbody.dx-state-hover {
  background-color: var(--dxds-color-surface-neutral-default-hovered, #ebebeb);
}

#gridContainer tbody.dx-state-hover tr.main-row td {
  color: var(--dxds-color-content-neutral-default-rest, #000);
}

#gridContainer tbody.dx-state-hover tr.notes-row td {
  color: var(--dxds-color-content-neutral-deep-rest, #888);
}
