@use "../sizes" as *;

// adduse

$fluent-button-content-line-height: 0 !default;
$fluent-button-text-line-height: normal !default;
$fluent-button-text-transform: none !default;
$fluent-button-text-font-weight: var(--DS-font-weight-display) !default;
$fluent-button-text-letter-spacing: normal !default;
$button-border-radius: var(--DS-border-radius-40) !default; // theme base level
$fluent-border-width: var(--DS-border-width-10) !default; // theme base level

$fluent-button-box-shadow-size: 0 1px 3px !default;

$button-base-padding: null !default;

$ds-fluent-button-height: null !default;
$ds-fluent-button-icon-size: null !default;
$ds-fluent-button-icon-margin: null !default;

@if $size == "default" {
  $button-base-padding: var(--DS-sizing-60) !default;

  $ds-fluent-button-height: var(--DS-sizing-320) !default;
  $ds-fluent-button-icon-size: var(--DS-sizing-200) !default;
  $ds-fluent-button-icon-margin: var(--DS-sizing-80) !default;
}

@else if $size == "compact" {
  $button-base-padding: var(--DS-sizing-40) !default;

  $ds-fluent-button-height: var(--DS-sizing-240) !default;
  $ds-fluent-button-icon-size: var(--DS-sizing-160) !default;
  $ds-fluent-button-icon-margin: var(--DS-sizing-40) !default;
}

$fluent-button-horizontal-padding: calc(#{$button-base-padding} * 2) !default;
$fluent-button-vertical-padding: $button-base-padding !default;
$fluent-button-icon-padding: $button-base-padding !default;
$fluent-button-icon-text-padding: $fluent-button-horizontal-padding !default;

:root {
  --dx-button-padding-inline: #{$fluent-button-horizontal-padding};
}
