@use "../sizes" as *;

// adduse

$fluent-button-horizontal-padding: null !default;
$fluent-button-vertical-padding: null !default;
$fluent-button-icon-padding: null !default;
$fluent-button-icon-text-padding: null !default;
$fluent-button-content-line-height: 0 !default;
$fluent-button-text-line-height: normal !default;
$fluent-button-text-transform: none !default;
$fluent-button-text-font-weight: 500 !default;
$fluent-button-text-letter-spacing: normal !default;

$fluent-button-box-shadow-size: 0 1px 3px !default;

@if $size == "default" {
  $fluent-button-horizontal-padding: 12px !default;
  $fluent-button-vertical-padding: 6px !default;
  $fluent-button-icon-padding: 6px;
  $fluent-button-icon-text-padding: $fluent-button-horizontal-padding !default;
}

@else if $size == "compact" {
  $fluent-button-horizontal-padding: 8px !default;
  $fluent-button-vertical-padding: 4px !default;
  $fluent-button-icon-padding: 4px !default;
  $fluent-button-icon-text-padding: $fluent-button-horizontal-padding !default;
}

:root {
  --dx-button-padding-inline: #{$fluent-button-horizontal-padding};
}
