@mixin dx-slide-toggle {
  .dx-slide-toggle {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;

    &.-left {
      flex-direction: row-reverse;
    }

    &.-right {
      flex-direction: row;
    }
  }

  .dx-native-checkbox {
    display: none;
  }
}

@mixin dx-slide-toggle-indicator-view {
  .dx-slide-toggle-indicator {
    &.-left {
      margin: 0 8px 0 0;
    }

    &.-right {
      margin: 0 0 0 8px;
    }
  }

  .dx-slide-toggle-line {
    position: relative;
    width: 36px;
    height: 14px;
    flex-shrink: 0;
    border-radius: 8px;

    // animation
    transition: all 80ms linear;
    transition-property: background-color;
    transition-delay: 50ms;

    &.-off {
      background-color: #00000061;
    }

    &.-on{
      background-color: #ff40818a;
    }
  }

  .dx-slide-toggle-thumb {
    position: absolute;
    height: 20px;
    width: 20px;
    top: -4px;
    border-radius: 50%;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    z-index: 1;

    // animation
    transition: all 80ms linear;
    transition-property: transform;

    &.-off {
      background-color: #fafafa;
      transform: translate(calc(20px - 100%) , 0);
    }

    &.-on{
      background-color: #ff4081;
      transform: translate(100%, 0);
    }
  }
}
