<dx-form id="form" [formData]="employee">
  <dxi-form-item itemType="group" cssClass="form-group" [colCount]="4">
    <dxi-form-item>
      <div class="form-avatar"></div>
    </dxi-form-item>
    <dxi-form-item itemType="group" [colSpan]="3">
      <dxi-form-item dataField="FirstName"></dxi-form-item>
      <dxi-form-item dataField="LastName"></dxi-form-item>
      <dxi-form-item
        dataField="BirthDate"
        editorType="dxDateBox"
        [editorOptions]="{ width: '100%' }"
      ></dxi-form-item>
    </dxi-form-item>
  </dxi-form-item>
  <dxi-form-item itemType="group" cssClass="form-group" [colCount]="2">
    <dxi-form-item itemType="group">
      <dxi-form-item dataField="Address"></dxi-form-item>
      <dxi-form-item dataField="City"></dxi-form-item>
      <dxi-form-item
        dataField="Position"
        editorType="dxSelectBox"
        [editorOptions]="{ items: positions, value: '' }"
      ></dxi-form-item>
    </dxi-form-item>
    <dxi-form-item itemType="group">
      <dxi-form-item
        dataField="State"
        editorType="dxSelectBox"
        [editorOptions]="{ items: states }"
      ></dxi-form-item>
      <dxi-form-item dataField="ZipCode"></dxi-form-item>
      <dxi-form-item
        dataField="Mobile"
        [label]="{ text: 'Phone' }"
        [editorOptions]="{ mask: '+1 (000) 000-0000' }"
      ></dxi-form-item>
    </dxi-form-item>
    <dxi-form-item
      dataField="Notes"
      [colSpan]="2"
      editorType="dxTextArea"
      [editorOptions]="{ height: 140 }"
    ></dxi-form-item>
  </dxi-form-item>
</dx-form>
