@use "../../../icon_fonts" as *;

.dx-ai-chat .dx-popup-content {
  padding: 0;
}

.dx-ai-chat__content {
  border: none;
  min-height: auto;
}

.dx-ai-chat__empty-image {
  @include dx-icon(sparkle);

  border-radius: 999em;
}

.dx-ai-chat__content .dx-chat-messagebubble {
  position: relative;
  overflow: hidden;
}

.dx-ai-chat__message {
  display: flex;
  gap: 8px;
}

.dx-ai-chat__message-content {
  display: flex;
  flex-flow: column;
  gap: 4px;
}

.dx-ai-chat__message--success .dx-ai-chat__message-icon {
  color: var(--dx-color-success);
}

.dx-ai-chat__message--error .dx-ai-chat__message-icon {
  color: var(--dx-color-danger);
}

.dx-ai-chat__message-error-text {
  color: var(--dx-color-danger);
}

.dx-ai-chat__message-header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.dx-ai-chat__message-regenerate-button {
  cursor: pointer;
}

.dx-ai-chat__message-list {
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dx-ai-chat__message-list-item {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.dx-ai-chat__message-list-item--success {
  color: var(--dx-color-success);
}

.dx-ai-chat__message-list-item--error {
  color: var(--dx-color-danger);
}

.dx-ai-chat__message-progressbar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 0;
}
