@mixin ai-chat-messagelist-empty(
  $messagelist-empty-icon-color,
  $messagelist-empty-icon-background-color,
) {
  .dx-ai-chat__empty-image {
    color: $messagelist-empty-icon-color;
    background-color: $messagelist-empty-icon-background-color;
  }
}

@mixin ai-chat-message-pending(
  $pending-message-color,
) {
  .dx-ai-chat__message--pending {
    .dx-ai-chat__message-icon, .dx-ai-chat__message-group-operations {
      color: $pending-message-color;
    }
  }
}
