::ng-deep #helpedInfo {
  color: var(--dxds-color-content-primary, #42a5f5);
}

::ng-deep #tooltip-content {
  font-size: 14px;
  font-weight: bold;
}

::ng-deep #template-content {
  display: inline-flex;
}
