<dx-data-grid id="gridContainer"
  [dataSource]="employees"
  keyExpr="ID"
  [showBorders]="true"
  [showRowLines]="true"
  [showColumnLines]="false"
  (onExporting)="onExporting($event)"
>
  <dxi-column dataField="Picture" cellTemplate="cellTemplate" width="90px"></dxi-column>
  <dxi-column dataField="FirstName"></dxi-column>
  <dxi-column dataField="LastName"></dxi-column>
  <dxi-column dataField="Position"></dxi-column>
  <dxi-column dataField="BirthDate" dataType="date"></dxi-column>
  <dxi-column dataField="HireDate" dataType="date"></dxi-column>
  
  <div *dxTemplate="let cell of 'cellTemplate'">
    <img src="{{cell.value}}">
  </div>
  
  <dxo-export [enabled]="true"></dxo-export>
</dx-data-grid>