@use "../sizes" as *;

$fluent-slider-handle-size: null !default;
$fluent-slider-wrapper-height: null !default;
$fluent-slider-tooltip-width: null !default;

$fluent-slider-height: 28px !default; // for fieldset height
$fluent-slider-radius: 50% !default;
$fluent-slider-track-height: null !default;
$fluent-slider-track-border-radius: 2px !default;

@if $size == "default" {
  $fluent-slider-track-height: 4px !default;
  $fluent-slider-handle-size: 20px !default;
  $fluent-slider-wrapper-height: 32px !default;
  $fluent-slider-tooltip-width: 34px !default;
}

@else if $size == "compact" {
  $fluent-slider-track-height: 2px !default;
  $fluent-slider-handle-size: 16px !default;
  $fluent-slider-wrapper-height: 26px !default;
  $fluent-slider-tooltip-width: 28px !default;
}
