<dx-scheduler
  [dataSource]="appointmentsData"
  [views]="['day', 'week']"
  currentView="week"
  [startDayHour]="9"
  [endDayHour]="19"
  [currentDate]="currentDate"
  [height]="600"
  [resources]="resources"
  [editing]="editingConfig"
  (onAppointmentAdding)="onAppointmentAdding($event)"
  (onAppointmentUpdating)="onAppointmentUpdating($event)"
  (onAppointmentFormOpening)="onAppointmentFormOpening($event)"
></dx-scheduler>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Allow Appointment Overlapping</span>
    <dx-switch
      [(value)]="allowOverlapping"
    ></dx-switch>
  </div>
</div>
