@use "../sizes" as *;

// adduse

$generic-texteditor-clear-icon-oversize: null !default;

@if $size == "default" {
  $generic-texteditor-clear-icon-oversize: 2px !default;
}

@else if $size == "compact" {
  $generic-texteditor-clear-icon-oversize: 1px !default;
}
