::ng-deep .full-width-content {
    width: 100%;
    margin-top: 30px;
}
::ng-deep .full-width-content > .dx-widget {
    margin-bottom: 20px;
}
::ng-deep .full-width-content .dx-field {
    max-width: 385px;
}