<div *ngIf="state$ | async as state"
     class="example">
  <div class="example__title">Simple control example</div>
  <div class="example__control">
    <dx-slide-toggle [value]="state.value"
                     [text]="state.text"
                     [textPosition]="state.textPosition"
                     (valueChange)="onValueChanged($event)">
    </dx-slide-toggle>
  </div>

  <div class="example__info">
    <div class="example__play-part">
      <button (click)="changeValue()">
        Toggle value
      </button>

      <div>
        App value: {{ state.value }}
      </div>
    </div>
    <div class="example__play-part">
      <span>Select text position:</span>
            <select class="example-input"
                    [value]="state.textPosition"
                    (change)="changeControlTextPosition($event)">
              <option value="left">Left</option>
              <option value="right">Right</option>
            </select>
    </div>
    <div class="example__play-part">
      <span>Set text:</span>
      <input class="example-input"
             type="text"
             [value]="state.text"
             (input)="changeControlText($event)"
      />
    </div>
  </div>
</div>
