<div class="form">
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">Switched on</div>
            <div class="dx-field-value">
                <dx-switch [value]="true"></dx-switch>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Switched off</div>
            <div class="dx-field-value">
                <dx-switch [value]="false"></dx-switch>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Value change handling</div>
            <div class="dx-field-value">
                <dx-switch #switch [value]="false"></dx-switch>
            </div>
        </div>
        <div class="dx-field">
            <div class="dx-field-label">Disabled</div>
            <div class="dx-field-value">
                <dx-switch [disabled]="true" [value]="switch.value">
                </dx-switch>
            </div>
        </div>
    </div>
</div>