<dx-scheduler
    [height]="600"
    [currentDate]="currentDate"
    [dataSource]="appointments"
    [views]="['workWeek', 'timelineWorkWeek', 'month']"
    currentView="timelineWorkWeek"
    [firstDayOfWeek]="0"
    [startDayHour]="8"
    [endDayHour]="20"
    [cellDuration]="60"
    [showAllDayPanel]="false"
    [scrolling]="{
        mode: 'virtual'
    }"
    [groups]="['humanId']"
    [resources]="[{
        fieldExpr: 'humanId',
        dataSource: resources,
        allowMultiple: false
    }]"
>
</dx-scheduler>