<dx-range-selector
  id="range-selector"
  [value]="[40000, 80000]"
  title="Select House Price Range"
>
  <dxo-range-selector-margin [top]="50"></dxo-range-selector-margin>
  <dxo-range-selector-scale
    [startValue]="15000"
    [endValue]="150000"
    [minorTickInterval]="500"
    [tickInterval]="15000"
  >
    <dxo-range-selector-label format="currency"></dxo-range-selector-label>
    <dxo-range-selector-minor-tick
      [visible]="false"
    ></dxo-range-selector-minor-tick>
  </dxo-range-selector-scale>
  <dxo-range-selector-slider-marker
    format="currency"
  ></dxo-range-selector-slider-marker>
</dx-range-selector>
