<div class="label"> Right click an image to display the context menu: </div>
<img id="image" alt="product" src="../../../../images/products/5.png" />
<dx-context-menu
  [dataSource]="dataSource"
  [width]="200"
  target="#image"
  (onItemClick)="itemClick($event)"
>
  <div *dxTemplate="let itemData of 'item'">
    <div class="item-template-container">
      <span
        *ngIf="itemData.icon"
        [ngClass]="itemData.icon"
        class="dx-icon"
      ></span>
      <span class="dx-menu-item-text">{{ itemData.text }}</span>
      <span *ngIf="itemData.items" class="dx-icon-spinright dx-icon"></span>
    </div>
  </div>
</dx-context-menu>
