$filterbuilder-range-separator-opacity: null !default;
$filterbuilder-action-icon-margin-left: null !default;
$filterbuilder-action-icon-margin-right: null !default;
$filterbuilder-group-content-padding-right: null !default;
$filterbuilder-range-separator-margin: null !default;
$filterbuilder-item-value-text-min-width: null !default;
$filterbuilder-item-value-text-padding: null !default;
$filterbuilder-action-icon-padding: null !default;
$filterbuilder-group-content-padding-left: null !default;
$filterbuilder-treeview-item-padding-left: null !default;
$filterbuilder-treeview-item-padding-right: null !default;
$filterbuilder-treeview-node-margin-left: null !default;
$filterbuilder-treeview-node-margin-right: null !default;
$filterbuilder-scrollable-max-height: null !default;

// adduse


.dx-filterbuilder {
  &.dx-rtl {
    .dx-filterbuilder-text,
    .dx-filterbuilder-action-icon {
      margin-left: $filterbuilder-action-icon-margin-left;
      margin-right: 0;
    }

    .dx-filterbuilder-group {
      .dx-filterbuilder-group-content .dx-filterbuilder-group-content {
        padding-left: 0;
        padding-right: $filterbuilder-group-content-padding-right;
      }
    }
  }

  .dx-filterbuilder-text,
  .dx-filterbuilder-action-icon {
    margin-left: 0;
    margin-right: $filterbuilder-action-icon-margin-right;
  }

  .dx-filterbuilder-text,
  .dx-filterbuilder-item-value-text,
  .dx-filterbuilder-action-icon {
    &:focus {
      outline: none;
    }
  }

  .dx-filterbuilder-group {
    .dx-filterbuilder-group-item {
      display: inline-block;
      white-space: nowrap;

      .dx-filterbuilder-text {
        display: inline-block;
        cursor: pointer;
        white-space: pre;

        .dx-filterbuilder-range {
          white-space: nowrap;
        }

        .dx-filterbuilder-text-separator,
        .dx-filterbuilder-range-separator {
          margin: $filterbuilder-range-separator-margin;
          opacity: $filterbuilder-range-separator-opacity;
        }

        &.dx-filterbuilder-group-operation,
        &.dx-filterbuilder-item-field,
        &.dx-filterbuilder-item-operation,
        .dx-filterbuilder-item-value-text {
          min-width: $filterbuilder-item-value-text-min-width;
          padding: $filterbuilder-item-value-text-padding;
        }

        .dx-texteditor {
          vertical-align: middle;
          margin-top: -7px;
          margin-bottom: -4px;
          display: inline-block;
        }
      }

      .dx-filterbuilder-action {
        display: inline-block;
        cursor: pointer;
        position: relative;

        &.dx-filterbuilder-action-icon {
          padding: $filterbuilder-action-icon-padding;
        }
      }
    }

    .dx-filterbuilder-group-content .dx-filterbuilder-group-content {
      padding-left: $filterbuilder-group-content-padding-left;
    }
  }

  .dx-filterbuilder-checkbox-size {
    vertical-align: middle;

    .dx-switch-container {
      vertical-align: baseline;
    }
  }
}

.dx-filterbuilder-operations {
  .dx-treeview-item {
    padding-left: $filterbuilder-treeview-item-padding-left;
  }

  .dx-rtl {
    .dx-treeview-item {
      padding-right: $filterbuilder-treeview-item-padding-right;
    }
  }
}

.dx-filterbuilder-overlay {
  white-space: nowrap;

  .dx-treeview {
    .dx-treeview-node {
      padding-left: 0;

      .dx-treeview-node-container-opened {
        margin-left: $filterbuilder-treeview-node-margin-left;
      }
    }

    &.dx-rtl {
      .dx-treeview-node {
        padding-right: 0;

        .dx-treeview-node-container-opened {
          margin-right: $filterbuilder-treeview-node-margin-right;
        }
      }
    }
  }

  .dx-overlay-content.dx-popup-normal {
    border-radius: 0;

    > .dx-popup-content {
      padding: 0;
    }
  }

  .dx-scrollable-container {
    max-height: $filterbuilder-scrollable-max-height;
  }

  .dx-menu-items-container {
    padding: 0;
  }
}
