@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/icons" as *;
@use "../../base/pager";

// adduse


.dx-pager {
  padding: $material-pager-paddings 14px  $material-pager-paddings 24px;

  &.dx-light-mode {
    .dx-page-sizes {
      min-width: 42px;
    }

    .dx-page-index {
      min-width: 19px;
    }
  }

  .dx-pages {
    .dx-page {
      padding: $material-pager-page-padding;
      line-height: $material-pager-page-line-height;
    }

    .dx-separator {
      padding-left: $material-pager-separator-paddings;
      padding-right: $material-pager-separator-paddings;
    }

    .dx-navigate-button {
      width: 9px;
      height: $material-pager-navbutton-height;
      padding: $material-pager-navbutton-paddings;
    }

    .dx-prev-button {
      @include dx-icon(chevronleft);
    }

    .dx-next-button {
      @include dx-icon(chevronright);
    }

    .dx-prev-button,
    .dx-next-button {
      @include dx-icon-font-centered-sizing(21px);
    }
  }

  .dx-page,
  .dx-page-size {
    font-size: $material-pager-page-font-size;

    &:hover {
      background-color: $pager-page-hovered-bg;
    }

    border-radius: 20px;
  }

  .dx-page-sizes .dx-page-size {
    padding: $material-pager-page-padding;
    line-height: $material-pager-page-line-height;
  }

  .dx-pages,
  .dx-page-sizes {
    .dx-selection {
      font-weight: 500;
      background-color: $pager-page-selected-bg;
      color: $pager-page-selected-color;
    }
  }

  .dx-page-sizes .dx-page-size:first-child {
    margin-left: 0;
  }
}
