@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;

// adduse

/**
* $name 10. Active color
* $type color
*/
$stepper-step-accent-bg: null !default;

/**
* $name 20. Hover state active color
* $type color
*/
$stepper-step-accent-hover-bg: null !default;

/**
* $name 30. Invalid color
* $type color
*/
$stepper-step-danger-bg: $base-danger !default;

/**
* $name 40. Hover state invalid color
* $type color
*/
$stepper-step-danger-hover-bg: null !default;

/**
* $name 60. Background color
* $type color
*/
$stepper-step-base-bg: null !default;

/**
* $name 70. Hover state background color
* $type color
*/
$stepper-step-base-hover-bg: null !default;

/**
* $name 100. Text or icon color
* $type color
*/
$stepper-step-base-text-color: $base-text-color !default;

/**
* $name 110. Label text color
* $type color
*/
$stepper-step-base-label-color: $base-text-color !default;
$stepper-step-disabled-shadow: $base-bg !default;

/**
* $name 260. Background color
* $type color
*/
$stepper-step-disabled-bg: null !default;

/**
* $name 270. Text color
* $type color
*/
$stepper-step-disabled-text-color: color.change($base-text-color, $alpha: $base-disabled-opacity) !default;

/**
* $name 280. Pending color
* $type color
*/
$stepper-connector-bg: $base-border-color !default;

/**
* $name 290. Completed color
* $type color
*/
$stepper-connector-value-bg: $base-text-color !default;

@if $color == "carmine" {
  $stepper-step-base-bg: color.adjust($base-bg, $lightness: -13.33%, $space: hsl) !default;
  $stepper-step-base-hover-bg: color.adjust($base-bg, $lightness: -16.86%, $space: hsl) !default;

  $stepper-step-accent-bg: $base-accent !default;
  $stepper-step-accent-hover-bg: color.adjust($stepper-step-accent-bg, $lightness: -9%, $space: hsl) !default;

  $stepper-step-danger-hover-bg: color.adjust($stepper-step-danger-bg, $lightness: -9%, $space: hsl) !default;

  $stepper-step-disabled-bg: color.adjust($base-bg, $lightness: -6.67%, $space: hsl) !default;
}

@if $color == "contrast" {
  $stepper-step-base-bg: color.adjust($base-bg, $lightness: 13.73%, $space: hsl) !default;
  $stepper-step-base-hover-bg: color.adjust($base-bg, $lightness: 17.65%, $space: hsl) !default;

  $stepper-step-accent-bg: $base-default !default;
  $stepper-step-accent-hover-bg: $base-inverted-bg !default;

  $stepper-step-danger-hover-bg: $base-inverted-bg !default;

  $stepper-step-disabled-bg: color.adjust($base-bg, $lightness: 5.49%, $space: hsl) !default;
}

@if $color == 'dark' {
  $stepper-step-base-bg: color.adjust($base-bg, $lightness: 13.73%, $space: hsl) !default;
  $stepper-step-base-hover-bg: color.adjust($base-bg, $lightness: 17.65%, $space: hsl) !default;

  $stepper-step-accent-bg: $base-accent !default;
  $stepper-step-accent-hover-bg: color.adjust($stepper-step-accent-bg, $lightness: 9%, $space: hsl) !default;

  $stepper-step-danger-hover-bg: color.adjust($stepper-step-danger-bg, $lightness: 9%, $space: hsl) !default;

  $stepper-step-disabled-bg: color.adjust($base-bg, $lightness: 5.49%, $space: hsl) !default;
}

@if $color == "darkmoon" {
  $stepper-step-base-bg: color.adjust($base-bg, $lightness: 13.73%, $space: hsl) !default;
  $stepper-step-base-hover-bg: color.adjust($base-bg, $lightness: 17.65%, $space: hsl) !default;

  $stepper-step-accent-bg: $base-accent !default;
  $stepper-step-accent-hover-bg: color.adjust($stepper-step-accent-bg, $lightness: 9%, $space: hsl) !default;

  $stepper-step-danger-hover-bg: color.adjust($stepper-step-danger-bg, $lightness: 9%, $space: hsl) !default;

  $stepper-step-disabled-bg: color.adjust($base-bg, $lightness: 5.49%, $space: hsl) !default;
}

@if $color == "darkviolet" {
  $stepper-step-base-bg: color.adjust($base-bg, $lightness: 13.73%, $space: hsl) !default;
  $stepper-step-base-hover-bg: color.adjust($base-bg, $lightness: 17.65%, $space: hsl) !default;

  $stepper-step-accent-bg: $base-accent !default;
  $stepper-step-accent-hover-bg: color.adjust($stepper-step-accent-bg, $lightness: 9%, $space: hsl) !default;

  $stepper-step-danger-hover-bg: color.adjust($stepper-step-danger-bg, $lightness: 9%, $space: hsl) !default;

  $stepper-step-disabled-bg: color.adjust($base-bg, $lightness: 5.49%, $space: hsl) !default;
}

@if $color == "greenmist" {
  $stepper-step-base-bg: color.adjust($base-bg, $lightness: -13.33%, $space: hsl) !default;
  $stepper-step-base-hover-bg: color.adjust($base-bg, $lightness: -16.86%, $space: hsl) !default;

  $stepper-step-accent-bg: $base-accent !default;
  $stepper-step-accent-hover-bg: color.adjust($stepper-step-accent-bg, $lightness: -9%, $space: hsl) !default;

  $stepper-step-danger-hover-bg: color.adjust($stepper-step-danger-bg, $lightness: -9%, $space: hsl) !default;

  $stepper-step-disabled-bg: color.adjust($base-bg, $lightness: -6.67%, $space: hsl) !default;
}

@if $color == 'light' {
  $stepper-step-base-bg: color.adjust($base-bg, $lightness: -13.33%, $space: hsl) !default;
  $stepper-step-base-hover-bg: color.adjust($base-bg, $lightness: -16.86%, $space: hsl) !default;

  $stepper-step-accent-bg: $base-accent !default;
  $stepper-step-accent-hover-bg: color.adjust($stepper-step-accent-bg, $lightness: -9%, $space: hsl) !default;

  $stepper-step-danger-hover-bg: color.adjust($stepper-step-danger-bg, $lightness: -9%, $space: hsl) !default;

  $stepper-step-disabled-bg: color.adjust($base-bg, $lightness: -6.67%, $space: hsl) !default;
}

@if $color == "softblue" {
  $stepper-step-base-bg: color.adjust($base-bg, $lightness: -13.33%, $space: hsl) !default;
  $stepper-step-base-hover-bg: color.adjust($base-bg, $lightness: -16.86%, $space: hsl) !default;

  $stepper-step-accent-bg: $base-accent !default;
  $stepper-step-accent-hover-bg: color.adjust($stepper-step-accent-bg, $lightness: -9%, $space: hsl) !default;

  $stepper-step-danger-hover-bg: color.adjust($stepper-step-danger-bg, $lightness: -9%, $space: hsl) !default;

  $stepper-step-disabled-bg: color.adjust($base-bg, $lightness: -6.67%, $space: hsl) !default;
}

/**
* $name 80. Border color
* $type color
*/
$stepper-step-base-border-color: $stepper-step-base-bg !default;

/**
* $name 90. Hover state border color
* $type color
*/
$stepper-step-base-hover-border-color: $stepper-step-base-hover-bg !default;

/**
* $name 120. Background color
* $type color
*/
$stepper-step-selected-bg: $stepper-step-accent-bg !default;

/**
* $name 130. Hover state background color
* $type color
*/
$stepper-step-selected-hover-bg: $stepper-step-accent-hover-bg !default;

/**
* $name 140. Text or icon color
* $type color
*/
$stepper-step-selected-text-color: $base-inverted-text-color !default;

/**
* $name 150. Label text color
* $type color
*/
$stepper-step-selected-label-color: $base-text-color !default;

/**
* $name 160. Background color
* $type color
*/
$stepper-step-invalid-bg: $stepper-step-danger-bg !default;

/**
* $name 170. Hover state background color
* $type color
*/
$stepper-step-invalid-hover-bg: $stepper-step-danger-hover-bg !default;

/**
* $name 180. Border color
* $type color
*/
$stepper-step-invalid-border-color: $stepper-step-invalid-bg !default;

/**
* $name 190. Hover state border color
* $type color
*/
$stepper-step-invalid-hover-border-color: $stepper-step-invalid-hover-bg !default;

/**
* $name 200. Text or icon color
* $type color
*/
$stepper-step-invalid-text-color: $base-inverted-text-color !default;

/**
* $name 210. Hover state text or icon color
* $type color
*/
$stepper-step-invalid-hover-text-color: $base-inverted-text-color !default;

/**
* $name 220. Invalid label text color
* $type color
*/
$stepper-step-invalid-label-color: $base-text-color !default;

/**
* $name 230. Background color
* $type color
*/
$stepper-step-invalid-selected-bg: $stepper-step-danger-bg !default;

/**
* $name 240. Hover state background color
* $type color
*/
$stepper-step-invalid-selected-hover-bg: $stepper-step-danger-hover-bg !default;

/**
* $name 300. Shadow color
* $type color
*/
$stepper-step-shadow-color: $base-bg !default;
