@use "../../../_design-system/variables/ds" as ds;

$toolbar-bg: transparent !default;
$toolbar-content: ds.$color-content !default;
$toolbar-separator-border: ds.$color-border-subtle !default;

$toolbar-content-disabled: ds.$color-content-disabled !default;
