<div id="pivotgrid-demo">
  <div class="desc-container">
    Expand, filter, sort and perform other operations on&nbsp;the
    PivotGrid&rsquo;s columns and rows.
    <a onclick="window.location.reload()">Refresh</a>
    the web page and note that the PivotGrid&rsquo;s state is&nbsp;automatically
    persisted.
  </div>

  <dx-button
    text="Reset the PivotGrid's State"
    (onClick)="onResetButtonClick()"
  ></dx-button>

  <dx-pivot-grid
    [allowSortingBySummary]="true"
    [allowSorting]="true"
    [allowExpandAll]="true"
    [allowFiltering]="true"
    [showBorders]="true"
    [height]="570"
    [dataSource]="pivotGridDataSource"
    (onContextMenuPreparing)="prepareContextMenu($event)"
  >
    <dxo-pivot-grid-field-panel [visible]="true"></dxo-pivot-grid-field-panel>
    <dxo-pivot-grid-field-chooser [enabled]="true"></dxo-pivot-grid-field-chooser>

    <dxo-pivot-grid-state-storing
      [enabled]="true"
      type="localStorage"
      storageKey="dx-widget-gallery-pivotgrid-storing"
    >
    </dxo-pivot-grid-state-storing>
  </dx-pivot-grid>
</div>
