.dx-buttongroup {
    display: inline-block;
}

.dx-buttongroup-wrapper {
    .flex-container(row, nowrap);
}

.dx-buttongroup-item {
    flex: 0 1 auto;

    &.dx-button-mode-outlined,
    &.dx-button-mode-contained {
        border-left-width: 0;

        &.dx-button {
            border-radius: 0;
        }
    }

    &.dx-button-mode-text {
        margin-left: 1px;
    }
}

.dx-buttongroup-item-has-width {
    flex: 1 1 auto;
    width: 100%;
}

