.dx-buttongroup-wrapper {
    .flex-container(row, nowrap);
}

.dx-buttongroup-item {
    .flex-item();

    &.dx-button {
        border-radius: 0;
        border-left-width: 0;
        width: 100%
    }
}

