.dx-filemanager {
    .dx-filemanager-toolbar {
        display: flex;
    }

    .dx-filemanager-container {
        display: flex;
        display: -webkit-flex;
    }

    .dx-filemanager-dirs-tree {
        min-width: 20%;
    }

    .dx-filemanager-view-separator {
        min-width: 2px;
        background-color: #dddddd;
    }
    .dx-filemanager-view-separator:hover {
        cursor: col-resize;
    }
    
    .dx-treeview-item-without-checkbox.dx-state-focused > .dx-treeview-item {
        background-color: #aad3f3;
    }

    .dx-filemanager-fileuploader .dx-filemanager-fileuploader-fileinput {
        display: none;
    }

    .dx-filemanager-file-actions-button {
       visibility: hidden;
       float: right;
       border: none;
       background-color: transparent;

       .dx-button-content {
            padding: 10px 7px;
       }
       
       i {
           font-style: normal;
       }
    }

    .dx-row.dx-selection .dx-filemanager-file-actions-button,
    .dx-row.dx-state-hover .dx-filemanager-file-actions-button {
        visibility: visible;
    }

}

.dx-filemanager-dialog.dx-filemanager-dialog-folder-chooser,
.dx-filemanager-progresspanel {
    height: 100%;
    overflow: auto;
}

.dx-filemanager-progresspanel {
    box-sizing: border-box;
    padding: 5px;

    .dx-filemanager-progressbox {
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }

    .dx-filemanager-progressbox-cancel-button {
        margin-top: 5px;
        float: right;
    }
}
