.dx-filemanager {
    display: flex;
    flex-direction: column;
    
    .dx-filemanager-toolbar {
        display: flex;
    }

    .dx-filemanager-container {
        display: flex;
        display: -webkit-flex;
        height: 100%;
    }

    .dx-filemanager-dirs-tree {
        min-width: 20%;
    }

    .dx-filemanager-view-separator {
        min-width: 2px;
        background-color: #dddddd;
    }
    .dx-filemanager-view-separator:hover {
        cursor: col-resize;
    }
    
    .dx-treeview-item-without-checkbox.dx-state-focused > .dx-treeview-item {
        background-color: #aad3f3;
    }

    .dx-filemanager-editing-container {
        position: absolute;
        top: -5000px;
        left: -5000px;
    }
    
    .dx-filemanager-fileuploader .dx-filemanager-fileuploader-fileinput {
        display: none;
    }

    .dx-filemanager-file-actions-button {
       visibility: hidden;
       float: right;
       border: none;
       background-color: transparent;

       .dx-button-content {
            padding: 10px 7px;
       }
       
       i {
           font-style: normal;
       }
    }

    .dx-row.dx-selection .dx-filemanager-file-actions-button,
    .dx-row.dx-state-hover .dx-filemanager-file-actions-button {
        visibility: visible;
    }
    
    .dx-filemanager-items-panel {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .dx-filemanager-thumbnails {
        width: 100%;
        height: 100%;
        overflow: hidden;

        &.dx-filemanager-inactive-area .dx-filemanager-thumbnails-view-port .dx-filemanager-thumbnails-item.dx-filemanager-item-selected {
            color: #333;
            background-color: #E6E6E6;
        }

        .dx-filemanager-thumbnails-view-port {
            width: 100%;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            box-sizing: border-box;
            padding: 5px;

            .dx-filemanager-thumbnails-container {
                user-select: none;
            }

            .dx-filemanager-thumbnails-item {
                float: left;
                text-align: center;
                cursor: pointer;
                white-space: nowrap;
                width: 100px;
                height: 100px;
                border: 1px dashed transparent;
                margin: 5px;
                box-sizing: border-box;

                &.dx-filemanager-item-selected {
                    background-color: #337AB7;
                    color: white;
                }
                &.dx-filemanager-item-focused {
                    border-color: black;
                }
                
                .dx-filemanager-thumbnails-item-content {
                    overflow: hidden;
                    padding: 13px 0 10px;

                    .dx-filemanager-thumbnails-item-thumbnail {
                        border: 0;
                        width: 48px;
                        height: 48px;
                        font-size: 48px;

                        &.dx-icon-image {
                            color: #DDDDDD;
                        }
                    }

                    .dx-filemanager-thumbnails-item-spacer {
                        border: 0;
                        padding: 0;
                        margin: 0;
                        height: 10px;
                        visibility: hidden;
                    }

                    .dx-filemanager-thumbnails-item-name {
                        overflow: hidden;
                        width: 100%;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.dx-filemanager-dialog.dx-filemanager-dialog-folder-chooser,
.dx-filemanager-progresspanel {
    height: 100%;
    overflow: auto;
}

.dx-filemanager-progresspanel {
    box-sizing: border-box;
    padding: 5px;

    .dx-filemanager-progressbox {
        float: left;
        width: 100%;
        padding-bottom: 10px;
    }

    .dx-filemanager-progressbox-cancel-button {
        margin-top: 5px;
        float: right;
    }
}
