@import (once) "./scrollView.less";
@import (once) "./treeList.less";
@import (once) "./splitter.less";

.dx-gantt {
    display: flex;
    position: relative;

    .dx-gantt-si {
        text-align: center;
        vertical-align: middle;
    }

    .dx-gantt-treelist-wrapper {
        display: inline-flex;

        .dx-treelist {
            .dx-scrollbar-vertical {
                display: none;
            }

            .dx-treelist-headers + .dx-treelist-rowsview {
                border-top: none;
            }
        }
    }

    .dx-splitter-wrapper .dx-splitter-border .dx-splitter {
        width: 2px;
    }

    .dx-gantt-view {
        -webkit-user-select: none; // stylelint-disable-line property-no-vendor-prefix
        user-select: none;
        width: 100%;

        .dx-gantt-tac-hb {
            margin-top: -1px;
        }

        .dx-scrollable-scrollbar {
            z-index: 100;
        }
    }
}
