.dx-splitter-wrapper {
    height: 100%;
    width: 0;
    display: inline-flex;
    position: relative;
    z-index: 998;
    right: auto;
}

.dx-splitter {
    height: 100%;
    width: 3px;
    display: block;
    cursor: col-resize;
    z-index: 999; // Below @OVERLAY_ZINDEX: 1000
    right: 0;

    &.dx-splitter-transparent {
        z-index: 998;
    }

    &.dx-state-disabled {
        width: 0;
        cursor: default;
    }
}

.dx-splitter-border {
    z-index: 997;
    height: 100%;
    width: 3px;
    display: block;
    right: 0;
}
