@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

$pivotgrid-area-background: $base-bg !default;
$pivotgrid-border-color: $base-border-color !default;

/**
* $name 10. Header text color
* $type color
*/
$pivotgrid-area-color: null !default;
$pivotgrid-data-area-color: $base-text-color !default;

/**
* $name 20. Total background color
* $type color
*/
$pivotgrid-totalcolor: null !default;

/**
* $name 30. Grand total background color
* $type color
*/
$pivotgrid-grandtotalcolor: null !default;

/**
* $name 40. Field area text color
* $type color
*/
$pivotgrid-field-area-text-color: null !default;
$pivotgrid-accent-color: null !default;
$pivotgrid-drag-header-border-color: null !default;
$pivotgrid-drag-header-first-shadow-color: null !default;
$pivotgrid-drag-header-second-shadow-color: null !default;
$pivotgrid-position-indicator-color: null !default;

/**
* $name 50. Arrow icon color
* $type color
*/
$pivotgrid-spin-icon-color: null !default;

@if $color == "carmine" {
  $pivotgrid-area-color: $base-header-color !default;
  $pivotgrid-totalcolor: darken($pivotgrid-area-background, 2.7%) !default;
  $pivotgrid-grandtotalcolor: darken($pivotgrid-area-background, 4%) !default;
  $pivotgrid-field-area-text-color: darken($pivotgrid-area-color, 26.2%) !default;
  $pivotgrid-accent-color: $base-accent !default;
  $pivotgrid-drag-header-border-color: color.change($pivotgrid-accent-color, $alpha: 0.5) !default;
  $pivotgrid-drag-header-first-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $pivotgrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $pivotgrid-position-indicator-color: gray !default;
  $pivotgrid-spin-icon-color: lighten($base-icon-color, 3%) !default;
}

@if $color == "contrast" {
  $pivotgrid-area-color: $base-text-color !default;
  $pivotgrid-totalcolor: $base-bg !default;
  $pivotgrid-grandtotalcolor: $base-bg !default;
  $pivotgrid-accent-color: $base-border-color !default;
  $pivotgrid-drag-header-border-color: $base-border-color !default;
  $pivotgrid-drag-header-first-shadow-color: $base-shadow-color !default;
  $pivotgrid-drag-header-second-shadow-color: $base-shadow-color !default;
  $pivotgrid-field-area-text-color: $pivotgrid-area-color !default;
  $pivotgrid-position-indicator-color: $base-accent !default;
  $pivotgrid-spin-icon-color: $base-icon-color !default;
}

@if $color == "dark" {
  $pivotgrid-area-color: darken($base-text-color, 30%) !default;
  $pivotgrid-totalcolor: lighten($pivotgrid-area-background, 2.5%) !default;
  $pivotgrid-grandtotalcolor: $base-hover-bg !default;
  $pivotgrid-field-area-text-color: lighten($pivotgrid-area-color, 26.2%) !default;
  $pivotgrid-accent-color: $base-accent !default;
  $pivotgrid-drag-header-border-color: color.change($pivotgrid-accent-color, $alpha: 0.5) !default;
  $pivotgrid-drag-header-first-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $pivotgrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $pivotgrid-position-indicator-color: gray !default;
  $pivotgrid-spin-icon-color: darken($base-icon-color, 38%) !default;
}

@if $color == "darkmoon" {
  $pivotgrid-area-color: $screen-text-color !default;
  $pivotgrid-totalcolor: darken($base-bg, 2%) !default; // #465672 => #40506b
  $pivotgrid-grandtotalcolor: $base-hover-bg !default;
  $pivotgrid-field-area-text-color: lighten($pivotgrid-area-color, 26.2%) !default;
  $pivotgrid-accent-color: $base-accent !default;
  $pivotgrid-drag-header-border-color: color.change($pivotgrid-accent-color, $alpha: 0.5) !default;
  $pivotgrid-drag-header-first-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $pivotgrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $pivotgrid-position-indicator-color: gray !default;
  $pivotgrid-spin-icon-color: $base-icon-color !default;
}

@if $color == "darkviolet" {
  $pivotgrid-area-color: darken($base-text-color, 30%) !default;
  $pivotgrid-totalcolor: #1f1f2b !default;
  $pivotgrid-grandtotalcolor: color.change($base-accent-highlight-color, $alpha: 0.15) !default;
  $pivotgrid-field-area-text-color: lighten($pivotgrid-area-color, 26.2%) !default;
  $pivotgrid-accent-color: $base-accent !default;
  $pivotgrid-drag-header-border-color: color.change($pivotgrid-accent-color, $alpha: 0.5) !default;
  $pivotgrid-drag-header-first-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $pivotgrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $pivotgrid-position-indicator-color: gray !default;
  $pivotgrid-spin-icon-color: $base-header-color !default;
}

@if $color == "greenmist" {
  $pivotgrid-area-color: lighten($base-text-color, 38.5%) !default;
  $pivotgrid-totalcolor: darken($base-bg, 1%) !default; // #f5f5f5 => #f0f2f2
  $pivotgrid-grandtotalcolor: lighten($base-label-color, 40.6%) !default; // #728e94 => #e8eded
  $pivotgrid-field-area-text-color: $base-text-color !default;
  $pivotgrid-accent-color: $base-accent !default;
  $pivotgrid-drag-header-border-color: color.change($pivotgrid-accent-color, $alpha: 0.5) !default;
  $pivotgrid-drag-header-first-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $pivotgrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $pivotgrid-position-indicator-color: gray !default;
  $pivotgrid-spin-icon-color: $base-icon-color !default;
}

@if $color == "light" {
  $pivotgrid-area-color: lighten($base-text-color, 38.5%) !default;
  $pivotgrid-totalcolor: color.change(darken($pivotgrid-area-background, 13.3%), $alpha: 0.2) !default;
  $pivotgrid-grandtotalcolor: darken($base-bg, 4%) !default;
  $pivotgrid-field-area-text-color: darken($pivotgrid-area-color, 26.2%) !default;
  $pivotgrid-accent-color: $base-accent !default;
  $pivotgrid-drag-header-border-color: color.change($pivotgrid-accent-color, $alpha: 0.5) !default;
  $pivotgrid-drag-header-first-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $pivotgrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $pivotgrid-position-indicator-color: gray !default;
  $pivotgrid-spin-icon-color: lighten($base-icon-color, 38.5%) !default;
}

@if $color == "softblue" {
  $pivotgrid-area-color: $base-icon-color !default;
  $pivotgrid-totalcolor: color.change(darken($pivotgrid-area-background, 4%), $alpha: 0.7) !default; // #fff => #f5f5f5
  $pivotgrid-grandtotalcolor: darken($base-bg, 4%) !default; // #fff => #f5f5f5
  $pivotgrid-field-area-text-color: darken($pivotgrid-area-color, 26.2%) !default;
  $pivotgrid-accent-color: $base-accent !default;
  $pivotgrid-drag-header-border-color: color.change($pivotgrid-accent-color, $alpha: 0.5) !default;
  $pivotgrid-drag-header-first-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $pivotgrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $pivotgrid-position-indicator-color: gray !default;
  $pivotgrid-spin-icon-color: $base-icon-color !default;
}

