@use "../sizes" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$gantt-header-item-height: null !default;
$gantt-task-title-padding-left: null !default;
$gantt-task-height: null !default;
$gantt-dependency-successor-size: null !default;
$gantt-milestone-size: null !default;

$gantt-task-wrapper-padding-top: 0 !default;

@if $size == "default" {
  $gantt-header-item-height: 57px !default; // dx-offscale: 57px
  $gantt-task-title-padding-left: ds.$spacing-110 !default;
  $gantt-task-height: 27px !default; // dx-offscale: 27px
  $gantt-dependency-successor-size: ds.$spacing-120 !default;
  $gantt-milestone-size: ds.$spacing-170 !default;
}

@else if $size == "compact" {
  $gantt-header-item-height: 51px !default; // dx-offscale: 51px
  $gantt-task-title-padding-left: ds.$spacing-90 !default;
  $gantt-task-height: ds.$spacing-200 !default;
  $gantt-dependency-successor-size: ds.$spacing-100 !default;
  $gantt-milestone-size: ds.$spacing-140 !default;
}

