<dx-diagram #diagram id="diagram" (onCustomCommand)="onCustomCommand($event)">
  <dxo-diagram-context-menu
    [enabled]="true"
    [commands]="['bringToFront', 'sendToBack', 'lock', 'unlock']"
  >
  </dxo-diagram-context-menu>
  <dxo-diagram-context-toolbox
    [enabled]="true"
    category="flowchart"
    [width]="200"
    [shapeIconsPerRow]="5"
  >
  </dxo-diagram-context-toolbox>
  <dxo-diagram-properties-panel visibility="visible">
    <dxi-diagram-tab>
      <dxi-diagram-group
        title="Page Properties"
        [commands]="['pageSize', 'pageOrientation', 'pageColor']"
      ></dxi-diagram-group>
    </dxi-diagram-tab>
  </dxo-diagram-properties-panel>
  <dxo-diagram-history-toolbar [visible]="false"> </dxo-diagram-history-toolbar>
  <dxo-diagram-view-toolbar [visible]="true"> </dxo-diagram-view-toolbar>
  <dxo-diagram-main-toolbar [visible]="true">
    <dxi-diagram-command name="undo"></dxi-diagram-command>
    <dxi-diagram-command name="redo"></dxi-diagram-command>
    <dxi-diagram-command name="separator"></dxi-diagram-command>
    <dxi-diagram-command name="fontName"></dxi-diagram-command>
    <dxi-diagram-command name="fontSize"></dxi-diagram-command>
    <dxi-diagram-command name="separator"></dxi-diagram-command>
    <dxi-diagram-command name="bold"></dxi-diagram-command>
    <dxi-diagram-command name="italic"></dxi-diagram-command>
    <dxi-diagram-command name="underline"></dxi-diagram-command>
    <dxi-diagram-command name="separator"></dxi-diagram-command>
    <dxi-diagram-command name="fontColor"></dxi-diagram-command>
    <dxi-diagram-command name="lineColor"></dxi-diagram-command>
    <dxi-diagram-command name="fillColor"></dxi-diagram-command>
    <dxi-diagram-command name="separator"></dxi-diagram-command>
    <dxi-diagram-command
      name="clear"
      icon="clearsquare"
      text="Clear Diagram"
    ></dxi-diagram-command>
  </dxo-diagram-main-toolbar>
  <dxo-diagram-toolbox
    visibility="visible"
    [showSearch]="false"
    [shapeIconsPerRow]="4"
    [width]="220"
  >
    <dxi-diagram-group category="general" title="General"></dxi-diagram-group>
    <dxi-diagram-group
      category="flowchart"
      title="Flowchart"
      [expanded]="true"
    ></dxi-diagram-group>
  </dxo-diagram-toolbox>
</dx-diagram>
