<dx-card-view
  id="cardView"
  [dataSource]="orders"
  keyExpr="ID"
  [headerFilter]="headerFilterConfig"
  [filterPanel]="filterPanelConfig"
  [filterValue]="filterValue"
  [filterBuilder]="filterBuilderConfig"
  [cardMinWidth]="100"
  [wordWrapEnabled]="true"
>
  <dxi-card-view-column
    dataField="OrderNumber"
    [headerFilter]="orderNumberHeaderFilterConfig"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="OrderDate"
    dataType="date"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="DeliveryDate"
    dataType="datetime"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="SaleAmount"
    dataType="number"
    [headerFilter]="saleAmountHeaderFilterConfig"
  ></dxi-card-view-column>
  <dxi-card-view-column dataField="CustomerStoreCity"></dxi-card-view-column>
  <dxi-card-view-column dataField="Employee"></dxi-card-view-column>
</dx-card-view>
