<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  keyExpr="date"
  [showRowLines]="true"
  [showColumnLines]="false"
  [showBorders]="true"
>
  <dxo-data-grid-sorting mode="none"></dxo-data-grid-sorting>
  <dxo-data-grid-pager [visible]="true"></dxo-data-grid-pager>
  <dxo-data-grid-paging [pageSize]="10"></dxo-data-grid-paging>
  <dxi-data-grid-column dataField="date" [width]="110" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column caption="Open" cellTemplate="diffCellTemplate"></dxi-data-grid-column>
  <dxi-data-grid-column caption="Close" cellTemplate="diffCellTemplate"></dxi-data-grid-column>
  <dxi-data-grid-column
    caption="Dynamics"
    [minWidth]="320"
    cellTemplate="chartCellTemplate"
  ></dxi-data-grid-column>
  <dxi-data-grid-column caption="High" cellTemplate="diffCellTemplate"></dxi-data-grid-column>
  <dxi-data-grid-column caption="Low" cellTemplate="diffCellTemplate"></dxi-data-grid-column>

  <div *dxTemplate="let d of 'chartCellTemplate'">
    <div class="chart-cell">
      <dx-sparkline
        [dataSource]="d.data.dayClose"
        argumentField="date"
        valueField="close"
        type="line"
        [showMinMax]="true"
        minColor="#f00"
        maxColor="#2ab71b"
        [pointSize]="6"
      >
        <dxo-sparkline-size [width]="290" [height]="40"></dxo-sparkline-size>
        <dxo-sparkline-tooltip [enabled]="false"></dxo-sparkline-tooltip>
      </dx-sparkline>
    </div>
  </div>
  <div
    *dxTemplate="let d of 'diffCellTemplate'"
    [class]="(d | gridCellData).diff > 0 ? 'inc' : 'dec'"
  >
    <div class="current-value">{{
      (d | gridCellData).value | currency : "USD" : "symbol"
    }}</div>
    <div class="diff">{{
      abs((d | gridCellData).diff) | number : "1.2-2"
    }}</div>
  </div>
</dx-data-grid>
