<dx-polar-chart
  id="chart"
  [useSpiderWeb]="true"
  title="Fruit Production in 2010 (Millions of Tons)"
  [dataSource]="productionData"
>
  <dxi-polar-chart-series valueField="apples" name="Apples"></dxi-polar-chart-series>
  <dxi-polar-chart-series valueField="grapes" name="Grapes"></dxi-polar-chart-series>
  <dxi-polar-chart-series valueField="lemons" name="Lemons"></dxi-polar-chart-series>
  <dxi-polar-chart-series valueField="oranges" name="Oranges"></dxi-polar-chart-series>
  <dxo-polar-chart-common-series-settings type="line"></dxo-polar-chart-common-series-settings>
  <dxo-polar-chart-export [enabled]="true"></dxo-polar-chart-export>
  <dxo-polar-chart-tooltip [enabled]="true"></dxo-polar-chart-tooltip>
</dx-polar-chart>
