$cardview-header-item-background-color: null !default;
$cardview-header-item-border-color: null !default;

$cardview-header-item-hovered-background-color: null !default;
$cardview-header-item-hovered-border-color: null !default;

$cardview-header-item-border-width: null !default;
$cardview-header-item-border-radius: null !default;
$cardview-header-item-padding-horizontal: 12px !default;
$cardview-header-item-padding-vertical: 6px !default;
