$cardview-header-panel__item-bg-color: null !default;
$cardview-header-panel__item-border-color: null !default;

$cardview-header-panel__item--hovered-bg-color: null !default;
$cardview-header-panel__item--hovered-border-color: null !default;

$cardview-header-panel__item-border-width: null !default;
$cardview-header-panel__item-border-radius: null !default;
$cardview-header-panel__item-padding-horizontal: null !default;
$cardview-header-panel__item-padding-vertical: null !default;

$cardview-header-item-content-gap: 4px !default;
$cardview-header-item-line-height: null !default;
$cardview-header-panel__item-icon-size: null !default;
$cardview-header-panel__item__icon-color: null !default;
$cardview-header-panel__item__header-filter-icon--selected-color: null !default;

$cardview-header-panel__item--dragged__prohibition-icon-color: null;
