@use "./mixins" as *;

// adduse


.dx-calendar {
  @include user-select(none);

  position: relative;
  display: flex;
  gap: 8px;
  flex-direction: column;
  justify-content: space-between;
}

.dx-calendar-views-wrapper {
  position: relative;
  display: flex;
  flex: auto;
}

.dx-calendar-navigator {
  display: flex;
  justify-content: space-between;

  .dx-button {
    &.dx-calendar-disabled-navigator-link {
      visibility: hidden;
    }
  }

  .dx-calendar-caption-button {
    width: 100%;
  }
}

.dx-calendar-footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .dx-button {
    width: 100%;
  }
}

.dx-calendar-body {
  overflow: hidden;
  display: flex;
  flex: 1 0 auto;

  .dx-widget {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .dx-calendar-multiview {
    width: 50%;

    table {
      padding: 0 5px;
    }
  }

  table {
    width: 100%;
    height: 100%;
    direction: ltr;
    table-layout: fixed;

    .dx-calendar-week-number-cell {
      text-align: center;
      cursor: default;
    }
  }

  td {
    cursor: pointer;
    position: relative;
  }

  thead th {
    @include dx-overflow();
  }
}

.dx-calendar-cell {
  text-align: center;

  span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
  }
}

.dx-calendar-contoured-date {
  outline-offset: -1px;
}

.dx-rtl {
  &.dx-calendar {
    .dx-calendar-body {
      table {
        left: 0;
      }

      .dx-widget {
        direction: ltr;
      }
    }
  }
}
