@use "./mixins" as *;

// adduse


.dx-tabs {
  &.dx-navbar {
    margin: 0;
    width: 100%;

    @include user-select(none);

    .dx-icon {
      display: block;
      margin: 0 auto;
      width: 31px;
      height: 31px;

      @at-root #{selector-append(".dx-rtl", &)},
      .dx-rtl & {
        margin: 0 auto;
      }
    }

    .dx-tab-text {
      display: block;
      vertical-align: 50%;
    }
  }
}

.dx-nav-item {
  position: relative;
  vertical-align: bottom;

  &.dx-state-disabled {
    cursor: default;
  }
}

.dx-nav-item-content {
  display: block;
}

.dx-nav-item a {
  display: block;
  height: 100%;
  text-decoration: none;
}

.dx-navbar-item-badge {
  position: absolute;
  top: 11%;
  right: 50%;
  margin-right: -24px;
}

.dx-rtl .dx-nav-item .dx-navbar-item-badge {
  right: auto;
  left: 50%;
  margin-right: auto;
  margin-left: -24px;
}
