@use "../base/mixins" as *;

// adduse

.dx-overlay-wrapper {
  top: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: $overlay-zindex;

  &,
  *,
  &::before,
  &::after,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}

.dx-overlay-modal {
  width: 100%;
  height: 100%;
}

.dx-overlay-shader {
  background-color: rgba(128, 128, 128, 0.5);
  pointer-events: auto;
}

.dx-overlay-content {
  position: absolute;
  pointer-events: auto;
  z-index: $overlay-zindex;
  outline: 0;
  overflow: hidden;

  & > .dx-template-wrapper {
    height: 100%;
    width: 100%;
  }
}

.dx-device-android {
  .dx-overlay-content {
    backface-visibility: hidden;
  }

  .dx-scrollable-native {
    .dx-overlay-content {
      backface-visibility: visible;
    }
  }
}
