$base-accent: null !default;

@use "sass:color";

.dx-sortable-placeholder {
  border-color: $base-accent;
}

.dx-sortable-dragging > * {
  border-color: color.change($base-accent, $alpha: 0.5);
  box-shadow: 0 1px 3px color.change(#000, $alpha: 0.1), 0 6px 8px color.change(#000, $alpha: 0.2);
}
