@use "../sizes" as *;

// adduse

$material-treeview-toggle-item-width: null !default;
$material-treeview-checkbox-offset: null !default;
$material-treeview-checkbox-vertical-offset: null !default;
$material-select-all-item-offset: null !default;
$material-select-all-item-padding: null !default;
$material-treeview-item-padding: null !default;
$material-treeview-min-item-height: null !default;
$material-treeview-item-with-checkbox-offset: null !default;
$material-treeview-loadincicator-offset-top: null !default;
$material-treeview-loadincicator-offset-left: null !default;
$material-treeview-loadincicator-size: null !default;
$material-select-all-text-offset: null !default;
$material-treeview-searchbox-margin-bottom: null !default;

@if $size == "default" {
  $material-treeview-toggle-item-width: 24px !default;
  $material-treeview-checkbox-offset: 35px !default;
  $material-treeview-checkbox-vertical-offset: 14px !default;
  $material-select-all-item-offset: $material-treeview-checkbox-offset !default;
  $material-select-all-item-padding: 15px 0 15px $material-select-all-item-offset !default;

  $material-treeview-item-padding: 13px 8px !default;
  $material-treeview-min-item-height: 48px !default;

  $material-treeview-item-with-checkbox-offset: $material-treeview-checkbox-offset + 5 !default;

  $material-treeview-loadincicator-offset-top: 13px !default;
  $material-treeview-loadincicator-offset-left: 2px !default;
  $material-treeview-loadincicator-size: 20px !default;
  $material-select-all-text-offset: 31px !default;

  $material-treeview-searchbox-margin-bottom: 8px !default;
}

@else if $size == "compact" {
  $material-treeview-toggle-item-width: 16px !default;
  $material-treeview-checkbox-offset: 26px !default;
  $material-treeview-checkbox-vertical-offset: 10px !default;
  $material-select-all-item-offset: $material-treeview-checkbox-offset !default;
  $material-select-all-item-padding: 10px 0 10px $material-select-all-item-offset !default;

  $material-treeview-item-padding: 10px 8px !default;
  $material-treeview-min-item-height: 36px !default;

  $material-treeview-loadincicator-offset-top: 8px !default;
  $material-treeview-loadincicator-offset-left: 0 !default;
  $material-treeview-loadincicator-size: 18px !default;
  $material-select-all-text-offset: 20px !default;

  $material-treeview-searchbox-margin-bottom: 4px !default;
}
