@mixin connector(
  $connector-background-color,
  $background-color,
  $margin-start,
  $thickness,
) {
  .dx-stepper-connector {
    background-color: $connector-background-color;
  }

  .dx-stepper-connector-value {
    background-color: $background-color;
  }

  .dx-stepper-connector-horizontal {
    margin-block-start: $margin-start;
    height: $thickness;
  }

  .dx-stepper-connector-vertical {
    margin-inline-start: $margin-start;
    width: $thickness;
  }
}
