@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;

// adduse

/**
* $name 10. Text color
* $type color
*/
$datagrid-base-color: $base-text-color !default;

/**
* $name 15. Background color
* $type color
*/
$datagrid-base-background-color: $base-bg !default;

/**
* $name 70. Border color
* $type color
*/
$datagrid-border-color: $base-border-color !default;
$datagrid-border: 1px solid $datagrid-border-color !default;

/**
* $name 20. Header text color
* $type color
*/
$datagrid-columnchooser-item-color: null !default;
$datagrid-block-separator-bg: null !default;

/**
* $name 25. Header text weight
* $type select
* $type-values normal|bold|light
*/
$datagrid-columnchooser-font-weight: normal !default;

/**
* $name 35. Draggable header border color
* $type color
*/
$datagrid-drag-header-border-color: null !default;
$datagrid-drag-header-shadow-color: null !default;
$datagrid-drag-header-second-shadow-color: null !default;
$datagrid-header-drag-bg: null !default;
$header-filter-color: null !default;
$header-filter-color-empty: null !default;

/**
* $name 51. Selected row background color
* $type color
*/
$datagrid-selection-bg: null !default;

/**
* $name 52. Selected row border color
* $type color
*/
$datagrid-row-selected-border-color: null !default;

/**
* $name 50. Selected row text color
* $type color
*/
$datagrid-row-selected-color: null !default;

/**
* $name 65. Focused row text color
* $type color
*/
$datagrid-row-focused-color: null !default;

/**
* $name 70. Focused row background color
* $type color
*/
$datagrid-row-focused-bg: null !default;

/**
* $name 90. Hovered row background color
* $type color
*/
$datagrid-hover-bg: null !default;
$datagrid-row-hovered-color: null !default;

/**
* $name 30. Context menu icon color
* $type color
*/
$datagrid-menu-icon-color: inherit !default;

/**
* $name 40. Modified data border color
* $type color
*/
$datagrid-cell-modified-border-color: null !default;
$datagrid-cell-removed-border-color: null !default;
$datagrid-row-removed-bg: null !default;
$datagrid-cell-removed-text-color: null !default;

/**
* $name 45. Invalid data faded color
* $type color
*/
$datagrid-row-invalid-faded-border-color: $base-invalid-faded-border-color !default;
$datagrid-row-invalid-border-color: $base-invalid-color !default;

/**
* $name 30. NoData message text color
* $type color
*/
$datagrid-nodata-color: null !default;

/**
* $name 90. Group row text color
* $type color
*/
$datagrid-group-row-color: null !default;

/**
* $name 95. Group row background color
* $type color
*/
$datagrid-group-row-bg: null !default;
$datagrid-master-detail-cell-bg: null !default;

/**
* $name 105. Highlighted text color
* $type color
*/
$datagrid-search-color: $base-inverted-text-color !default;

/**
* $name 125. Arrow icon color
* $type color
*/
$datagrid-spin-icon-color: null !default;

/**
* $name 110. Highlighted text background color
* $type color
*/
$datagrid-search-bg: null !default;

/**
* $name 115. Error row text color
* $type color
*/
$datagrid-row-error-color: null !default;

/**
* $name 120. Error row background color
* $type color
*/
$datagrid-row-error-bg: null !default;

/**
* $name 40. Link color
* $type color
*/
$datagrid-link-color: $base-link-color !default;

/**
* $name 75. Focused cell border color
* $type color
*/
$datagrid-focused-border-color: null !default;

/**
* $name 80. Editor background color
* $type color
*/
$datagrid-editor-bg: null !default;
$datagrid-drop-highlight-bg: null !default;
$datagrid-drop-highlight-color: $base-inverted-text-color !default;

/**
* $name 140. Column chooser background color
* $type color
*/
$datagrid-columnchooser-bg: null !default;

/**
* $name 85. Alternate row background color
* $type color
*/
$datagrid-row-alternation-bg: null !default;
$datagrid-columnchooser-item-bg: null !default;

/**
* $name 100. Summary item color
* $type color
*/
$datagrid-summary-color: null !default;
$datagrid-columnchooser-message-color: null !default;
$datagrid-summary-bg: null !default;
$datagrid-overlay-content-shadow-color: color.change($base-shadow-color, $alpha: 0.15) !default;
$datagrid-columnchooser-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
$datagrid-column-separator-bg: null !default;
$datagrid-text-stub-background-image-path: null !default;
$datagrid-draggable-column-text-color: null !default;

@if $color == "carmine" {
  $datagrid-columnchooser-item-color: $base-label-color !default;
  $datagrid-block-separator-bg: darken($datagrid-base-background-color, 6.5%) !default;
  $datagrid-drag-header-border-color: color.change($base-accent, $alpha: 0.7) !default;
  $datagrid-drag-header-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $datagrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $datagrid-header-drag-bg: $datagrid-base-background-color !default;
  $header-filter-color: $datagrid-columnchooser-item-color !default;
  $header-filter-color-empty: color.change($header-filter-color, $alpha: 0.5) !default;
  $datagrid-selection-bg: $base-accent !default;
  $datagrid-row-selected-border-color: lighten($base-accent, 9%) !default;
  $datagrid-row-selected-color: lighten($datagrid-base-color, 100%) !default;
  $datagrid-row-focused-color: $base-inverted-text-color !default;
  $datagrid-row-focused-bg: mix($base-bg, $base-accent, 20%) !default;
  $datagrid-hover-bg: darken($base-bg, 2%) !default;
  $datagrid-row-hovered-color: $base-hover-color !default;
  $datagrid-cell-modified-border-color: color.change($base-success, $alpha: 0.5) !default;
  $datagrid-nodata-color: $base-label-color !default;
  $datagrid-group-row-color: $base-label-color !default;
  $datagrid-group-row-bg: darken($base-bg, 2%) !default;
  $datagrid-master-detail-cell-bg: darken($datagrid-base-background-color, 2%) !default;
  $datagrid-spin-icon-color: lighten($base-icon-color, 3%) !default;
  $datagrid-search-bg: $base-accent !default;
  $datagrid-row-error-color: $base-inverted-text-color !default;
  $datagrid-row-error-bg: mix($base-invalid-color, $datagrid-base-background-color, 60%) !default;
  $datagrid-focused-border-color: mix($base-bg, darken($base-accent, 15%), 20%) !default;
  $datagrid-editor-bg: $datagrid-base-background-color !default;
  $datagrid-drop-highlight-bg: $base-accent !default;
  $datagrid-columnchooser-bg: $base-element-bg !default;
  $datagrid-row-alternation-bg: darken($base-bg, 2%) !default;
  $datagrid-columnchooser-item-bg: $datagrid-columnchooser-bg !default;
  $datagrid-summary-color: $base-label-color !default;
  $datagrid-columnchooser-message-color: lighten($datagrid-base-color, 40%) !default;
  $datagrid-summary-bg: $datagrid-base-background-color !default;
  $datagrid-column-separator-bg: $base-accent !default;
  $datagrid-text-stub-background-image-path: data-uri('images/widgets/generic/color-schemes/carmine/grid/text-stub.png') !default;
  $datagrid-cell-removed-border-color: $datagrid-border-color !default;
  $datagrid-row-removed-bg: $datagrid-border-color !default;
  $datagrid-cell-removed-text-color: $datagrid-columnchooser-item-color !default;
  $datagrid-draggable-column-text-color: $base-label-color !default;
}

@if $color == "contrast" {
  $datagrid-columnchooser-item-color: $base-text-color !default;
  $datagrid-block-separator-bg: $base-inverted-bg !default;
  $datagrid-drag-header-border-color: $base-border-color !default;
  $datagrid-drag-header-shadow-color: $base-shadow-color !default;
  $datagrid-drag-header-second-shadow-color: $base-shadow-color !default;
  $datagrid-header-drag-bg: $base-bg !default;
  $datagrid-selection-bg: $base-inverted-bg !default;
  $datagrid-row-selected-border-color: $datagrid-base-background-color !default;
  $datagrid-row-selected-color: $base-inverted-text-color !default;
  $datagrid-row-focused-color: $base-text-color !default;
  $datagrid-row-focused-bg: $base-accent !default;
  $datagrid-row-hovered-color: $base-text-color !default;
  $datagrid-hover-bg: $base-bg !default;
  $datagrid-cell-modified-border-color: $base-text-color !default;
  $datagrid-nodata-color: $base-text-color !default;
  $datagrid-group-row-color: $base-text-color !default;
  $datagrid-group-row-bg: #3806ff !default;
  $header-filter-color: #3806ff !default;
  $header-filter-color-empty: $datagrid-columnchooser-item-color !default;
  $datagrid-master-detail-cell-bg: $base-bg !default;
  $datagrid-spin-icon-color: $base-icon-color !default;
  $datagrid-search-bg: $base-inverted-bg !default;
  $datagrid-row-error-color: $base-inverted-text-color !default;
  $datagrid-row-error-bg: $base-invalid-color !default;
  $datagrid-focused-border-color: $base-accent !default;
  $datagrid-editor-bg: $datagrid-base-background-color !default;
  $datagrid-drop-highlight-bg: $base-inverted-bg !default;
  $datagrid-columnchooser-bg: $base-bg !default;
  $datagrid-row-alternation-bg: $base-bg !default;
  $datagrid-columnchooser-item-bg: $base-bg !default;
  $datagrid-summary-color: $base-text-color !default;
  $datagrid-columnchooser-message-color: $base-text-color !default;
  $datagrid-summary-bg: $base-bg !default;
  $datagrid-column-separator-bg: darken($datagrid-base-background-color, 13.5%) !default;
  $datagrid-text-stub-background-image-path: data-uri('images/widgets/generic/color-schemes/contrast/grid/text-stub.png') !default;
  $datagrid-cell-removed-border-color: $base-accent !default;
  $datagrid-row-removed-bg: $base-accent !default;
  $datagrid-cell-removed-text-color: $datagrid-columnchooser-item-color !default;
  $datagrid-draggable-column-text-color: $base-text-color !default;
}

@if $color == "dark" {
  $datagrid-columnchooser-item-color: darken($datagrid-base-color, 26%) !default;
  $datagrid-block-separator-bg: lighten($datagrid-base-background-color, 6.5%) !default;
  $datagrid-drag-header-border-color: color.change($base-accent, $alpha: 0.5) !default;
  $datagrid-drag-header-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $datagrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $datagrid-header-drag-bg: $datagrid-base-background-color !default;
  $header-filter-color: $datagrid-columnchooser-item-color !default;
  $header-filter-color-empty: color.change($header-filter-color, $alpha: 0.5) !default;
  $datagrid-selection-bg: #444 !default;
  $datagrid-row-selected-border-color: $datagrid-border-color !default;
  $datagrid-row-selected-color: $datagrid-base-color !default;
  $datagrid-row-focused-color: $base-text-color !default;
  $datagrid-row-focused-bg: mix($base-accent, $base-bg, 20%) !default;
  $datagrid-hover-bg: lighten($datagrid-base-background-color, 4%) !default;
  $datagrid-row-hovered-color: $base-hover-color !default;
  $datagrid-cell-modified-border-color: color.change($base-success, $alpha: 0.5) !default;
  $datagrid-nodata-color: $datagrid-base-color !default;
  $datagrid-group-row-color: lighten($datagrid-base-color, 6.7%) !default;
  $datagrid-group-row-bg: lighten($datagrid-base-background-color, 3%) !default;
  $datagrid-master-detail-cell-bg: lighten($datagrid-base-background-color, 2%) !default;
  $datagrid-spin-icon-color: darken($base-icon-color, 38.5%) !default;
  $datagrid-search-bg: $base-accent !default;
  $datagrid-row-error-color: $base-text-color !default;
  $datagrid-row-error-bg: mix($base-invalid-color, $datagrid-base-background-color, 60%) !default;
  $datagrid-focused-border-color: mix($base-bg, $base-focus-bg, 20%) !default;
  $datagrid-editor-bg: $datagrid-base-background-color !default;
  $datagrid-drop-highlight-bg: $base-accent !default;
  $datagrid-columnchooser-bg: $base-element-bg !default;
  $datagrid-row-alternation-bg: lighten($datagrid-base-background-color, 4%) !default;
  $datagrid-columnchooser-item-bg: $datagrid-columnchooser-bg !default;
  $datagrid-summary-color: color.change($datagrid-base-color, $alpha: 0.7) !default;
  $datagrid-columnchooser-message-color: darken($datagrid-base-color, 26%) !default;
  $datagrid-summary-bg: $datagrid-base-background-color !default;
  $datagrid-column-separator-bg: $base-accent !default;
  $datagrid-text-stub-background-image-path: data-uri('images/widgets/generic/color-schemes/dark/grid/text-stub.png') !default;
  $datagrid-cell-removed-border-color: $datagrid-border-color !default;
  $datagrid-row-removed-bg: darken($datagrid-border-color, 6.67) !default;
  $datagrid-cell-removed-text-color: color.change($base-text-color, $alpha: 0.7) !default;
  $datagrid-draggable-column-text-color: darken($base-text-color, 40%) !default;
}

@if $color == "darkmoon" {
  $datagrid-columnchooser-item-color: $screen-text-color !default;
  $datagrid-block-separator-bg: lighten($datagrid-base-background-color, 6.5%) !default;
  $datagrid-drag-header-border-color: color.change($base-accent, $alpha: 0.5) !default;
  $datagrid-drag-header-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $datagrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $datagrid-header-drag-bg: $datagrid-base-background-color !default;
  $header-filter-color: $datagrid-columnchooser-item-color !default;
  $header-filter-color-empty: color.change($header-filter-color, $alpha: 0.5) !default;
  $datagrid-selection-bg: $base-accent !default;
  $datagrid-row-selected-border-color: $base-grid-selected-border-color !default;
  $datagrid-row-selected-color: $base-bg !default;
  $datagrid-row-focused-color: $base-inverted-text-color !default;
  $datagrid-row-focused-bg: mix($base-bg, $base-accent, 20%) !default;
  $datagrid-hover-bg: darken($base-bg, 2%) !default;
  $datagrid-row-hovered-color: $base-hover-color !default;
  $datagrid-cell-modified-border-color: color.change($base-success, $alpha: 0.5) !default;
  $datagrid-nodata-color: $base-icon-color !default;
  $datagrid-group-row-color: $base-text-color !default;
  $datagrid-group-row-bg: lighten($base-bg, 3%) !default;
  $datagrid-master-detail-cell-bg: lighten($datagrid-base-background-color, 2%) !default;
  $datagrid-spin-icon-color: $base-icon-color !default;
  $datagrid-search-bg: $base-accent !default;
  $datagrid-row-error-color: $base-inverted-text-color !default;
  $datagrid-row-error-bg: mix($base-invalid-color, $datagrid-base-background-color, 60%) !default;
  $datagrid-focused-border-color: mix($base-bg, darken($base-accent, 20%), 20%) !default;
  $datagrid-editor-bg: $datagrid-base-background-color !default;
  $datagrid-drop-highlight-bg: $base-accent !default;
  $datagrid-columnchooser-bg: $base-element-bg !default;
  $datagrid-row-alternation-bg: darken($base-bg, 2%) !default;
  $datagrid-columnchooser-item-bg: $datagrid-columnchooser-bg !default;
  $datagrid-summary-color: color.change($datagrid-base-color, $alpha: 0.7) !default;
  $datagrid-columnchooser-message-color: darken($datagrid-base-color, 40%) !default;
  $datagrid-summary-bg: $datagrid-base-background-color !default;
  $datagrid-column-separator-bg: $base-accent !default;
  $datagrid-text-stub-background-image-path: data-uri('images/widgets/generic/color-schemes/darkmoon/grid/text-stub.png') !default;
  $datagrid-cell-removed-border-color: $datagrid-border-color !default;
  $datagrid-row-removed-bg: $datagrid-border-color !default;
  $datagrid-cell-removed-text-color: $datagrid-columnchooser-item-color !default;
  $datagrid-draggable-column-text-color: darken($base-label-color, 17%) !default;
}

@if $color == "darkviolet" {
  $datagrid-columnchooser-item-color: darken($datagrid-base-color, 38.5%) !default;
  $datagrid-block-separator-bg: lighten($datagrid-base-background-color, 6.5%) !default;
  $datagrid-drag-header-border-color: color.change($base-accent-highlight-color, $alpha: 0.8) !default;
  $datagrid-drag-header-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $datagrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $datagrid-header-drag-bg: $datagrid-base-background-color !default;
  $header-filter-color: $datagrid-columnchooser-item-color !default;
  $header-filter-color-empty: color.change($header-filter-color, $alpha: 0.5) !default;
  $datagrid-selection-bg: $base-select-bg !default;
  $datagrid-row-selected-border-color: $base-selected-border !default;
  $datagrid-row-selected-color: $datagrid-base-color !default;
  $datagrid-row-focused-color: $base-inverted-text-color !default;
  $datagrid-row-focused-bg: mix($base-bg, $base-accent, 15%) !default;
  $datagrid-hover-bg: $base-row-alternation-background !default;
  $datagrid-row-hovered-color: $base-hover-color !default;
  $datagrid-cell-modified-border-color: color.change($base-success, $alpha: 0.5) !default;
  $datagrid-nodata-color: darken($datagrid-base-color, 40%) !default;
  $datagrid-group-row-color: $base-header-color !default;
  $datagrid-group-row-bg: lighten($datagrid-base-background-color, 3%) !default;
  $datagrid-master-detail-cell-bg: lighten($datagrid-base-background-color, 2%) !default;
  $datagrid-spin-icon-color: $base-header-color !default;
  $datagrid-search-bg: $base-accent !default;
  $datagrid-row-error-color: $base-inverted-text-color !default;
  $datagrid-row-error-bg: mix($base-invalid-color, $datagrid-base-background-color, 60%) !default;
  $datagrid-focused-border-color: mix($base-bg, $base-focus-bg, 20%) !default;
  $datagrid-editor-bg: $datagrid-base-background-color !default;
  $datagrid-drop-highlight-bg: $base-accent !default;
  $datagrid-columnchooser-bg: $base-element-bg !default;
  $datagrid-row-alternation-bg: $base-row-alternation-background !default;
  $datagrid-columnchooser-item-bg: $datagrid-columnchooser-bg !default;
  $datagrid-summary-color: color.change($datagrid-base-color, $alpha: 0.7) !default;
  $datagrid-columnchooser-message-color: darken($datagrid-base-color, 40%) !default;
  $datagrid-summary-bg: $datagrid-base-background-color !default;
  $datagrid-column-separator-bg: $base-accent !default;
  $datagrid-text-stub-background-image-path: data-uri('images/widgets/generic/color-schemes/darkviolet/grid/text-stub.png') !default;
  $datagrid-cell-removed-border-color: $datagrid-border-color !default;
  $datagrid-row-removed-bg: $datagrid-border-color !default;
  $datagrid-cell-removed-text-color: $datagrid-columnchooser-item-color !default;
  $datagrid-draggable-column-text-color: darken($base-text-color, 40%) !default;
}

@if $color == "greenmist" {
  $datagrid-columnchooser-item-color: lighten($datagrid-base-color, 38.5%) !default;
  $datagrid-block-separator-bg: darken($datagrid-base-background-color, 6.5%) !default;
  $datagrid-drag-header-border-color: color.change($base-accent, $alpha: 0.5) !default;
  $datagrid-drag-header-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $datagrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $datagrid-header-drag-bg: $datagrid-base-background-color !default;
  $header-filter-color: $datagrid-columnchooser-item-color !default;
  $header-filter-color-empty: color.change($header-filter-color, $alpha: 0.5) !default;
  $datagrid-selection-bg: $base-link-color !default;
  $datagrid-row-selected-border-color: lighten($base-accent, 14%) !default;
  $datagrid-row-selected-color: lighten($base-text-color, 100%) !default;
  $datagrid-row-focused-color: $base-inverted-text-color !default;
  $datagrid-row-focused-bg: mix($base-bg, $base-accent, 20%) !default;
  $datagrid-hover-bg: darken($base-bg, 3%) !default;
  $datagrid-row-hovered-color: $base-hover-color !default;
  $datagrid-cell-modified-border-color: color.change($base-success, $alpha: 0.5) !default;
  $datagrid-nodata-color: lighten($datagrid-base-color, 40%) !default;
  $datagrid-group-row-color: lighten($datagrid-base-color, 38.5%) !default;
  $datagrid-group-row-bg: $base-bg !default;
  $datagrid-master-detail-cell-bg: darken($datagrid-base-background-color, 2%) !default;
  $datagrid-spin-icon-color: $base-icon-color !default;
  $datagrid-search-bg: $base-accent !default;
  $datagrid-row-error-color: $base-inverted-text-color !default;
  $datagrid-row-error-bg: mix($base-invalid-color, $datagrid-base-background-color, 60%) !default;
  $datagrid-focused-border-color: mix($base-bg, darken($base-focus-bg, 15%), 20%) !default;
  $datagrid-editor-bg: $base-bg !default;
  $datagrid-drop-highlight-bg: $base-accent !default;
  $datagrid-columnchooser-bg: $base-bg !default;
  $datagrid-row-alternation-bg: darken($base-bg, 3%) !default;
  $datagrid-columnchooser-item-bg: $datagrid-columnchooser-bg !default;
  $datagrid-summary-color: $base-label-color !default;
  $datagrid-columnchooser-message-color: lighten($datagrid-base-color, 40%) !default;
  $datagrid-summary-bg: $datagrid-base-background-color !default;
  $datagrid-column-separator-bg: $base-accent !default;
  $datagrid-text-stub-background-image-path: data-uri('images/widgets/generic/color-schemes/greenmist/grid/text-stub.png') !default;
  $datagrid-cell-removed-border-color: $datagrid-border-color !default;
  $datagrid-row-removed-bg: $datagrid-border-color !default;
  $datagrid-cell-removed-text-color: $datagrid-columnchooser-item-color !default;
  $datagrid-draggable-column-text-color: lighten($base-label-color, 16%) !default;
}

@if $color == "light" {
  $datagrid-columnchooser-item-color: lighten($datagrid-base-color, 26%) !default;
  $datagrid-block-separator-bg: darken($datagrid-base-background-color, 6.5%) !default;
  $datagrid-drag-header-border-color: color.change($base-accent, $alpha: 0.5) !default;
  $datagrid-drag-header-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $datagrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $datagrid-header-drag-bg: $datagrid-base-background-color !default;
  $header-filter-color: $datagrid-columnchooser-item-color !default;
  $header-filter-color-empty: color.change($header-filter-color, $alpha: 0.5) !default;
  $datagrid-selection-bg: #e6e6e6 !default;
  $datagrid-row-selected-border-color: $datagrid-border-color !default;
  $datagrid-row-selected-color: $datagrid-base-color !default;
  $datagrid-row-focused-color: $base-text-color !default;
  $datagrid-row-focused-bg: mix($base-accent, $base-bg, 20%) !default;
  $datagrid-hover-bg: darken($datagrid-base-background-color, 4%) !default;
  $datagrid-row-hovered-color: $base-hover-color !default;
  $datagrid-cell-modified-border-color: color.change($base-success, $alpha: 0.5) !default;
  $datagrid-nodata-color: $datagrid-base-color !default;
  $datagrid-group-row-color: darken($datagrid-base-color, 6.7%) !default;
  $datagrid-group-row-bg: darken($datagrid-base-background-color, 3%) !default;
  $datagrid-master-detail-cell-bg: darken($datagrid-base-background-color, 2%) !default;
  $datagrid-spin-icon-color: lighten($base-icon-color, 38.5%) !default;
  $datagrid-search-bg: $base-accent !default;
  $datagrid-row-error-color: $base-inverted-text-color !default;
  $datagrid-row-error-bg: mix($base-invalid-color, $datagrid-base-background-color, 60%) !default;
  $datagrid-focused-border-color: mix($base-bg, $base-focus-bg, 20%) !default;
  $datagrid-editor-bg: $datagrid-base-background-color !default;
  $datagrid-drop-highlight-bg: $base-accent !default;
  $datagrid-columnchooser-bg: $base-element-bg !default;
  $datagrid-row-alternation-bg: darken($datagrid-base-background-color, 4%) !default;
  $datagrid-columnchooser-item-bg: $datagrid-columnchooser-bg !default;
  $datagrid-summary-color: color.change($datagrid-base-color, $alpha: 0.7) !default;
  $datagrid-columnchooser-message-color: lighten($datagrid-base-color, 26%) !default;
  $datagrid-summary-bg: $datagrid-base-background-color !default;
  $datagrid-column-separator-bg: $base-accent !default;
  $datagrid-text-stub-background-image-path: data-uri('images/widgets/generic/color-schemes/light/grid/text-stub.png') !default;
  $datagrid-cell-removed-border-color: $datagrid-border-color !default;
  $datagrid-row-removed-bg: lighten($datagrid-border-color, 6.67) !default;
  $datagrid-cell-removed-text-color: color.change($base-text-color, $alpha: 0.7) !default;
  $datagrid-draggable-column-text-color: lighten($base-text-color, 40%) !default;
}

@if $color == "softblue" {
  $datagrid-columnchooser-item-color: $base-icon-color !default;
  $datagrid-block-separator-bg: darken($datagrid-base-background-color, 6.5%) !default;
  $datagrid-drag-header-border-color: color.change($base-accent, $alpha: 0.5) !default;
  $datagrid-drag-header-shadow-color: color.change($base-shadow-color, $alpha: 0.1) !default;
  $datagrid-drag-header-second-shadow-color: color.change($base-shadow-color, $alpha: 0.2) !default;
  $datagrid-header-drag-bg: $datagrid-base-background-color !default;
  $header-filter-color: $datagrid-columnchooser-item-color !default;
  $header-filter-color-empty: color.change($header-filter-color, $alpha: 0.5) !default;
  $datagrid-selection-bg: $base-grid-selection-background !default;
  $datagrid-row-selected-border-color: $base-grid-selectedrow-border-color !default;
  $datagrid-row-selected-color: $datagrid-base-color !default;
  $datagrid-row-focused-color: $base-inverted-text-color !default;
  $datagrid-row-focused-bg: mix($base-bg, $base-accent, 20%) !default;
  $datagrid-hover-bg: darken($datagrid-base-background-color, 2%) !default;
  $datagrid-row-hovered-color: $base-hover-color !default;
  $datagrid-cell-modified-border-color: color.change($base-success, $alpha: 0.5) !default;
  $datagrid-nodata-color: $base-icon-color !default;
  $datagrid-group-row-color: $base-icon-color !default;
  $datagrid-group-row-bg: darken($datagrid-base-background-color, 2%) !default;
  $datagrid-master-detail-cell-bg: darken($datagrid-base-background-color, 2%) !default;
  $datagrid-spin-icon-color: $base-icon-color !default;
  $datagrid-search-bg: $base-accent !default;
  $datagrid-row-error-color: $base-inverted-text-color !default;
  $datagrid-row-error-bg: mix($base-invalid-color, $datagrid-base-background-color, 60%) !default;
  $datagrid-focused-border-color: mix($base-bg, $base-focus-bg, 20%) !default;
  $datagrid-editor-bg: $datagrid-base-background-color !default;
  $datagrid-drop-highlight-bg: $base-accent !default;
  $datagrid-columnchooser-bg: $base-element-bg !default;
  $datagrid-row-alternation-bg: darken($datagrid-base-background-color, 2%) !default;
  $datagrid-columnchooser-item-bg: $datagrid-columnchooser-bg !default;
  $datagrid-summary-color: $base-icon-color !default;
  $datagrid-columnchooser-message-color: lighten($datagrid-base-color, 40%) !default;
  $datagrid-summary-bg: $datagrid-base-background-color !default;
  $datagrid-column-separator-bg: $base-accent !default;
  $datagrid-text-stub-background-image-path: data-uri('images/widgets/generic/color-schemes/softblue/grid/text-stub.png') !default;
  $datagrid-cell-removed-border-color: $datagrid-border-color !default;
  $datagrid-row-removed-bg: $datagrid-border-color !default;
  $datagrid-cell-removed-text-color: $datagrid-columnchooser-item-color !default;
  $datagrid-draggable-column-text-color: lighten($base-text-color, 40%) !default;
}
