@WIN10_THEME_MARKER: "dx.win10.black";

/**
* @name 10. Background color
* @type color
* @group base.common
*/
@WIN10_BACKGROUND_COLOR: #000000;

/**
* @name 20. Accent color
* @type color
* @group base.common
*/
@WIN10_ACCENT_COLOR: #0078d7;

/**
* @name 30. Accent light color
* @type color
* @group base.common
* @inherit @WIN10_ACCENT_COLOR
* @colorFunctions lighten 17, desaturate 27
*/
@WIN10_ACCENT_LIGHT_COLOR: desaturate(lighten(@WIN10_ACCENT_COLOR, 17%), 27%);
/**
* @name 40. Selected color
* @type color
* @group base.common
* @inherit @WIN10_ACCENT_COLOR
* @colorFunctions darken 10, desaturate 21
*/
@WIN10_SELECTED_COLOR: desaturate(darken(@WIN10_ACCENT_COLOR, 10%), 21%);
/**
* @name 50. Hovered selected color
* @type color
* @group base.common
* @inherit @WIN10_ACCENT_COLOR
* @colorFunctions darken 5, desaturate 9
*/
@WIN10_HOVERED_SELECTED_COLOR: desaturate(darken(@WIN10_ACCENT_COLOR, 5%), 9%);
/**
* @name 60. Active selected color
* @type color
* @group base.common
* @inherit @WIN10_ACCENT_COLOR
* @colorFunctions darken 2, desaturate 4
*/
@WIN10_ACTIVE_SELECTED_COLOR: desaturate(darken(@WIN10_ACCENT_COLOR, 2%), 4%);

@WIN10_WARNING_COLOR: #e81123;
/**
* @name 10. Invalid widget state color
* @type color
* @group editors.validation
* @inherit @WIN10_WARNING_COLOR
*/
@WIN10_INVALID_COLOR: @WIN10_WARNING_COLOR;

@VALIDATION_MESSAGE_COLOR: #fff;
@VALIDATION_MESSAGE_BACKGROUND_COLOR: @WIN10_INVALID_COLOR;

@VALIDATION_SUMMARY_COLOR: @WIN10_INVALID_COLOR;

/**
* @name 10. Text color
* @type color
* @group base.typography
*/
@WIN10_BASE_TEXT_COLOR: #fff;

@WIN10_CONTRAST_TEXT_COLOR: #000000;

/**
* @name 20. Link color
* @type color
* @group base.typography
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_LINK: @WIN10_ACCENT_COLOR;


@WIN10_LIGHT_COLOR: #ffffff;
@WIN10_DARK_COLOR: #000000;


@WIN10_GRAY_LIGHT_1: #cccccc;
@WIN10_GRAY_LIGHT_2: #999999;
@WIN10_GRAY_MEDIUM_1: #666666;
@WIN10_GRAY_MEDIUM_2: #555555;
@WIN10_GRAY_MEDIUM_3: #404040;
@WIN10_GRAY_DARK_1: #333333;
@WIN10_GRAY_DARK_2: #2b2b2b;
@WIN10_GRAY_DARK_3: #1f1f1f;
@WIN10_GRAY_DARK_4: #171717;



// Accordion

@WIN10_ACCORDION_ITEM_OPENED_TITLE_COLOR: @WIN10_BASE_TEXT_COLOR;
/**
* @name 10. Opened item background color
* @type color
* @group navigations.accordion
* @inherit @WIN10_SELECTED_COLOR
*/
@WIN10_ACCORDION_ITEM_OPENED_TITLE_BACKGROUND_COLOR: @WIN10_SELECTED_COLOR;
@WIN10_ACCORDION_ITEM_HOVER_TITLE_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_3;
/**
* @name 20. Hovered opened item background color
* @type color
* @group navigations.accordion
* @inherit @WIN10_HOVERED_SELECTED_COLOR
*/
@WIN10_ACCORDION_ITEM_OPENED_HOVER_TITLE_BACKGROUND_COLOR: @WIN10_HOVERED_SELECTED_COLOR;
@WIN10_ACCORDION_ITEM_ACTIVE_TITLE_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_2;
/**
* @name 30. Active opened item background color
* @type color
* @group navigations.accordion
* @inherit @WIN10_ACTIVE_SELECTED_COLOR
*/
@WIN10_ACCORDION_ITEM_OPENED_ACTIVE_TITLE_BACKGROUND_COLOR: @WIN10_ACTIVE_SELECTED_COLOR;
@WIN10_ACCORDION_ITEM_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;


// ActionSheet

@WIN10_ACTIONSHEET_BUTTON_TEXT_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_ACTIONSHEET_BUTTON_DISABLED_TEXT_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_ACTIONSHEET_BUTTON_HOVER_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_ACTIONSHEET_BUTTON_ACTIVE_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_2;


// Badge

/**
* @name 10. Background color
* @type color
* @group badges
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_BADGE_BACKGROUND_COLOR: @WIN10_ACCENT_COLOR;
/**
* @name 20. Text color
* @type color
* @group badges
* @inherit @WIN10_CONTRAST_TEXT_COLOR
*/
@WIN10_BADGE_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_BADGE_DISABLED_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_2;


// Button

@WIN10_BUTTON_BACKGROUND_COLOR: @WIN10_GRAY_DARK_1;
@WIN10_BUTTON_STATE_ACTIVE_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_BUTTON_STATE_HOVER_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_BUTTON_STATE_DISABLED_TEXT_COLOR: @WIN10_GRAY_MEDIUM_2;
/**
* @name 10. Danger button background color
* @type color
* @group buttons.danger
* @inherit @WIN10_WARNING_COLOR
*/
@WIN10_DANGER_BUTTON_BACKGROUND_COLOR: @WIN10_WARNING_COLOR;
@WIN10_DANGER_BUTTON_STATE_ACTIVE_BACKGROUND_COLOR: darken(@WIN10_DANGER_BUTTON_BACKGROUND_COLOR, 20%);
@WIN10_DANGER_BUTTON_STATE_HOVER_BACKGROUND_COLOR: darken(@WIN10_DANGER_BUTTON_BACKGROUND_COLOR, 16%);
@WIN10_DANGER_BUTTON_COLOR: @WIN10_BASE_TEXT_COLOR;
/**
* @name 10. Success button background color
* @type color
* @group buttons.success
*/
@WIN10_SUCCESS_BUTTON_BACKGROUND_COLOR: #099f21;
@WIN10_SUCCESS_BUTTON_STATE_ACTIVE_BACKGROUND_COLOR: darken(@WIN10_SUCCESS_BUTTON_BACKGROUND_COLOR, 20%);
@WIN10_SUCCESS_BUTTON_STATE_HOVER_BACKGROUND_COLOR: darken(@WIN10_SUCCESS_BUTTON_BACKGROUND_COLOR, 16%);
@WIN10_SUCCESS_BUTTON_COLOR: @WIN10_BASE_TEXT_COLOR;


// Calendar

@WIN10_CALENDAR_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
/**
* @name 10. Selected cell border color
* @type color
* @group editors.calendar
* @inherit @WIN10_ACCENT_LIGHT_COLOR
*/
@WIN10_CALENDAR_CELL_SELECTED_BORDER_COLOR: @WIN10_ACCENT_LIGHT_COLOR;
/**
* @name 20. Hovered selected cell border color
* @type color
* @group editors.calendar
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_CALENDAR_CELL_SELECTED_HOVER_BORDER_COLOR: @WIN10_ACCENT_COLOR;
/**
* @name 30. Today cell background color
* @type color
* @group editors.calendar
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_CALENDAR_CELL_TODAY_BASE_COLOR: @WIN10_ACCENT_COLOR;
/**
* @name 40. Hovered today cell border color
* @type color
* @group editors.calendar
* @inherit @WIN10_ACCENT_LIGHT_COLOR
*/
@WIN10_CALENDAT_CELL_TODAY_HOVER_BORDER_COLOR: @WIN10_ACCENT_LIGHT_COLOR;
@WIN10_CALENDAR_CELL_TODAY_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_CALENDAR_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
@WIN10_CALENDAR_NAVIGATOR_BUTTON_COLOR: @WIN10_GRAY_LIGHT_1;
@WIN10_CALENDAR_NAVIGATOR_BUTTON_ACTIVE_COLOR: @WIN10_LIGHT_COLOR;
@WIN10_CALENDAR_DAY_TITLE_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_CALENDAR_CELL_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_CALENDAR_CELL_ACTIVE_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_CALENDAR_CELL_ACTIVE_BORDER_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_CALENDAR_CELL_HOVER_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_CALENDAR_CELL_OTHER_VIEW_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_CALENDAR_CELL_EMPTY_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_CALENDAR_DISABLED_BASE_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_CALENDAR_DISABLED_CELL_SELECTED_COLOR: @WIN10_CONTRAST_TEXT_COLOR;
@WIN10_CALENDAR_TODAY_BUTTON_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_CALENDAR_INVALID_BORDER_COLOR: @WIN10_INVALID_COLOR;
@WIN10_CALENDAR_EMPTY_CELL_BACKGROUND: url(images/widgets/win10/color-schemes/black/calendar/empty-cell.png) center center no-repeat;

// TODO: COLOR -> TEXT_COLOR

// Checkbox

@WIN10_CHECKBOX_UNCHECKED_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
/**
* @name 10. Checked background color
* @type color
* @group editors.checkbox
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_CHECKBOX_CHECKED_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_CHECKBOX_CHECKED_ICON_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_CHECKBOX_UNCHECKED_BORDER_COLOR: @WIN10_GRAY_LIGHT_1;
@WIN10_CHECKBOX_HOVER_COLOR: @WIN10_LIGHT_COLOR;
@WIN10_CHECKBOX_ACTIVE_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_CHECKBOX_ACTIVE_BORDER_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_CHECKBOX_DISABLED_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
@WIN10_CHECKBOX_DISABLED_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_CHECKBOX_INVALID_BORDER_COLOR: @WIN10_INVALID_COLOR;


// ColorBox

// ColorView

@WIN10_COLORVIEW_CONTAINER_CELL_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_COLORVIEW_DISABLED_LABEL_COLOR: @WIN10_GRAY_LIGHT_2;
@COLORVIEW_HANDLE_COLOR: @WIN10_LIGHT_COLOR;
@COLORVIEW_HANDLE_BORDER_COLOR: fade(@WIN10_DARK_COLOR, 20%);


// TimeView

@WIN10_TIME_VIEW_CLOCK_IMAGE: url(images/widgets/win10/color-schemes/black/timeView/clock-bg.png);
@WIN10_TIME_VIEW_HOUR_ARROW_IMAGE: url(images/widgets/win10/color-schemes/black/timeView/hour-arrow.png);
@WIN10_TIME_VIEW_MINUTE_ARROW_IMAGE: url(images/widgets/win10/color-schemes/black/timeView/min-arrow.png);


// ContextMenu

@WIN10_CONTEXTMENU_CONTAINER_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;
@WIN10_CONTEXTMENU_CONTAINER_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;


// Menu

@WIN10_MENUBASE_ITEM_FOCUSED_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_MENUBASE_SEPARATOR_COLOR: @WIN10_GRAY_LIGHT_2;


// DateBox

@WIN10_DATEBOX_BOTTOM_TOOLBAR_BORDER_COLOR: rgba(255, 255, 255, 0.15);
@WIN10_DATEBOX_ROLLERS_BUTTON_BACKGROUND_COLOR: @WIN10_GRAY_DARK_1;
@WIN10_DATEBOX_ROLLERS_BUTTON_HOVER_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_DATEBOX_ROLLERS_BUTTON_ACTIVE_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_DATEBOX_ROLLERS_POPUP_BORDER_COLOR: @WIN10_GRAY_MEDIUM_2;


// DateView

@WIN10_DATEVIEW_SELECTED_ITEM_COLOR: @WIN10_SELECTED_COLOR;
@WIN10_DATEVIEW_TEXT_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_DATEVIEW_BACKGROUND_COLOR: @WIN10_GRAY_DARK_1;
@WIN10_DATEVIEW_ROLLER_BORDER_COLOR: rgba(255, 255, 255, 0.15);

@WIN10_DATEVIEW_DISABLED_TEXT_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_DATEVIEW_SELECTED_DISABLED_COLOR: @WIN10_GRAY_MEDIUM_1;


// DropDownEditor

@WIN10_DROPDOWNEDITOR_HOVER_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_DROPDOWNEDITOR_ACTIVE_BORDER_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_DROPDOWNEDITOR_ACTIVE_BACKGROUND_COLOR: @WIN10_GRAY_DARK_1;
@WIN10_DROPDOWNEDITOR_ACTIVE_PLACEHOLDER_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_DROPDOWNEDITOR_DROPDOWN_ICON_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_DROPDOWNEDITOR_DISABLED_DROPDOWN_ICON_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_DROPDOWNEDITOR_POPUP_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;


// DropDownMenu

@WIN10_DROPDOWNMENU_POPUP_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;


// Fieldset

@WIN10_FIELDSET_FIELD_ATTENTION_COLOR: @WIN10_WARNING_COLOR;


// Fileuploader

@WIN10_FILEUPLOADER_FILENAME_TEXT_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_FILEUPLOADER_STATUS_TEXT_COLOR: @WIN10_GRAY_MEDIUM_2;


// Gallery

@WIN10_GALLERY_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
@WIN10_GALLERY_BUTTON_COLOR: @WIN10_GRAY_DARK_1;
@WIN10_GALLERY_BUTTON_STATE_ACTIVE_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_GALLERY_BUTTON_STATE_HOVER_COLOR: @WIN10_GRAY_LIGHT_2;
/**
* @name 10. Current indicator color
* @type color
* @group gallery
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_GALLERY_ACCENT_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_GALLERY_INDICATOR_COLOR: @WIN10_GRAY_LIGHT_2;


// List

@WIN10_LIST_ITEM_HOVER_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_LIST_ITEM_ACTIVE_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_2;
/**
* @name 10. Selected item background color
* @type color
* @group list
* @inherit @WIN10_SELECTED_COLOR
*/
@WIN10_LIST_ITEM_SELECTED_BACKGROUND_COLOR: @WIN10_SELECTED_COLOR;
/**
* @name 20. Hovered selected item background color
* @type color
* @group list
* @inherit @WIN10_HOVERED_SELECTED_COLOR
*/
@WIN10_LIST_ITEM_SELECTED_HOVER_BACKGROUND_COLOR: @WIN10_HOVERED_SELECTED_COLOR;
/**
* @name 30. Active selected item background color
* @type color
* @group list
* @inherit @WIN10_ACTIVE_SELECTED_COLOR
*/
@WIN10_LIST_ITEM_SELECTED_ACTIVE_BACKGROUND_COLOR: @WIN10_ACTIVE_SELECTED_COLOR;
@WIN10_LIST_ITEM_ACTIVE_BORDER_COLOR: transparent;
/**
* @name 40. Item delete button background color
* @type color
* @group list
* @inherit @WIN10_WARNING_COLOR
*/
@WIN10_LIST_SLIDE_MENU_DELETE_BUTTON_BACKGROUND_COLOR: @WIN10_WARNING_COLOR;
@WIN10_LIST_SLIDE_MENU_DELETE_BUTTON_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_LIST_GROUP_HEADER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_LIST_DISABLED_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_LIST_CONTEXT_MENU_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_LIST_CONTEXT_MENU_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;


// LoadIndicator

/**
* @name 10. Load indicator color
* @type color
* @group overlays.common
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_LOADINDICATOR_ACCENT_COLOR: @WIN10_ACCENT_COLOR;


// LoadPanel

@WIN10_LOADPANEL_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_LOADPANEL_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;


// Lookup

@WIN10_LOOKUP_POPUP_BOTTOM_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;


// NavBar

@WIN10_NAVBAR_BACKGROUND_COLOR: @WIN10_GRAY_DARK_3;
@WIN10_NAVBAR_ITEM_DISABLED_TEXT_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_NAVBAR_ITEM_TEXT_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_NAVBAR_ITEM_HOVERED_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_NAVBAR_ITEM_SELECTED_TEXT_COLOR: @WIN10_ACCENT_COLOR;


// NumberBox

@WIN10_NUMBERBOX_SPIN_BUTTON_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_NUMBERBOX_SPIN_BUTTON_ACTIVE_BACKGROUND_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_NUMBERBOX_SPIN_BUTTON_ACTIVE_COLOR: @WIN10_BASE_TEXT_COLOR;


// Pivot

@WIN10_PIVOT_DISABLED_COLOR: @WIN10_GRAY_MEDIUM_1;


// PivotTabs

@WIN10_PIVOTTABS_TAB_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_PIVOTTABS_TAB_SELECTED_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_PIVOTTABS_DISABLED_TAB_COLOR: @WIN10_GRAY_MEDIUM_2;


// Popup

@WIN10_POPUP_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;
@WIN10_POPUP_BORDER_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_POPUP_SHADOW_COLOR: fade(@WIN10_DARK_COLOR, 20);
@WIN10_POPUP_CLOSEBUTTON_HOVER_BACKGROUND_COLOR: @WIN10_WARNING_COLOR;
@WIN10_POPUP_CLOSEBUTTON_HOVER_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_POPUP_CLOSEBUTTON_ACTIVE_BACKGROUND_COLOR: #f16e77;


// ProgressBar

/**
* @name 10. Selected range background color
* @type color
* @group progressbars
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_PROGRESSBAR_ACCENT_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_PROGRESSBAR_CONTAINER_BACKGROUND_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_PROGRESSBAR_DISABLED_COLOR: @WIN10_GRAY_LIGHT_2;


// RadioButton

@WIN10_RADIOBUTTON_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
@WIN10_RADIOBUTTON_UNCHECKED_BORDER_COLOR: @WIN10_GRAY_LIGHT_1;
/**
* @name 10. Checked border color
* @type color
* @group editors.radiogroup
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_RADIOBUTTON_CHECKED_BORDER_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_RADIOBUTTON_DOT_BACKGROUND_COLOR: @WIN10_GRAY_LIGHT_1;
@WIN10_RADIOBUTTON_HOVER_STATE_COLOR: @WIN10_LIGHT_COLOR;
@WIN10_RADIOBUTTON_ACTIVE_COLOR: @WIN10_LIGHT_COLOR;
@WIN10_RADIOBUTTON_ACTIVE_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_RADIOBUTTON_DISABLED_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_RADIOBUTTON_INVALID_BORDER_COLOR: @WIN10_INVALID_COLOR;


// Slider

/**
* @name 10. Selected range background color
* @type color
* @group sliders
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_SLIDER_ACCENT_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_SLIDER_HANDLE_HOVER_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_SLIDER_HANDLE_ACTIVE_BACKGROUND_COLOR: @WIN10_GRAY_LIGHT_1;
@WIN10_SLIDER_HANDLE_DISABLED_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;


// RangeSlider

// Scrollable

@WIN10_SCROLLABLE_SCROLL_BACKGROUND_COLOR: @WIN10_GRAY_LIGHT_2;


// SlideOutView

@WIN10_SLIDEOUTVIEW_MENU_BACKGROUND_COLOR: @WIN10_GRAY_DARK_4;
@WIN10_SLIDEOUTVIEW_CONTENT_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;


// Switch

@WIN10_SWITCH_OFF_COLOR: @WIN10_GRAY_LIGHT_1;
@WIN10_SWITCH_OFF_ALTERNATE_COLOR: @WIN10_BACKGROUND_COLOR;
/**
* @name 10. 'ON' state background color
* @type color
* @group editors.switch
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_SWITCH_ON_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_SWITCH_ON_ALTERNATE_COLOR: @WIN10_LIGHT_COLOR;
@WIN10_SWITCH_ACTIVE_HANDLE_BACKGROUND_COLOR: @WIN10_LIGHT_COLOR;
@WIN10_SWITCH_ACTIVE_WRAPPER_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_SWITCH_OFF_HOVER_COLOR: @WIN10_LIGHT_COLOR;
@WIN10_SWITCH_ON_HOVER_COLOR: @WIN10_ACCENT_LIGHT_COLOR;
@WIN10_SWITCH_DISABLED_COLOR: @WIN10_GRAY_DARK_1;
@WIN10_SWITCH_ON_DISABLED_HANDLE_COLOR: @WIN10_GRAY_MEDIUM_2;


// Tabs

@WIN10_TABS_HOVER_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_TABS_SELECTED_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_TABS_SELECTED_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_TABS_DISABLED_TEXT_COLOR: @WIN10_GRAY_MEDIUM_1;


// TabPanel

@WIN10_TABPANEL_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_TABPANEL_TAB_SELECTED_BOTTOM_BORDER_COLOR: @WIN10_BACKGROUND_COLOR;


// TagBox

/**
* @name 10. Tag background color
* @type color
* @group editors.tagbox
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_TAGBOX_TAG_BACKGROUND_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_TAGBOX_TAG_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_TAGBOX_DISABLED_TAG_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_TAGBOX_DISABLED_TAG_COLOR: @WIN10_GRAY_DARK_2;
@WIN10_TAGBOX_TAG_FOCUSED_BACKGROUND_COLOR: @WIN10_ACCENT_LIGHT_COLOR;
@WIN10_TAGBOX_SELECT_ALL_BORDER_COLOR: @WIN10_GRAY_MEDIUM_2;

// TextEditor

@WIN10_TEXTEDITOR_BORDER_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_TEXTEDITOR_HOVER_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
/**
* @name 10. Active border color
* @type color
* @group editors.texteditors
* @inherit @WIN10_ACCENT_COLOR
*/
@WIN10_TEXTEDITOR_FOCUSED_BORDER_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_TEXTEDITOR_BUTTON_ICON_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_TEXTEDITOR_BUTTON_ICON_FOCUSED_COLOR: @WIN10_GRAY_LIGHT_1;
@WIN10_TEXTEDITOR_BUTTON_ICON_DISABLED_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_TEXTEDITOR_DISABLED_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;
@WIN10_TEXTEDITOR_DISABLED_INPUT_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_TEXTEDITOR_INPUT_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_TEXTEDITOR_INPUT_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
@WIN10_TEXTEDITOR_FOCUSED_INPUT_BACKGROUND_COLOR: @WIN10_LIGHT_COLOR;
@WIN10_TEXTEDITOR_FOCUSED_TEXT_COLOR: @WIN10_CONTRAST_TEXT_COLOR;
@WIN10_TEXTEDITOR_PLACEHOLDER_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_TEXTEDITOR_FOCUSED_PLACEHOLDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_TEXTEDITOR_INVALID_BORDER_COLOR: @WIN10_INVALID_COLOR;

@WIN10_TEXTEDITOR_READONLY_BORDER_COLOR: darken(@WIN10_GRAY_MEDIUM_2, 15%);


// Toast

@WIN10_TOAST_BACKGROUND_COLOR: @WIN10_SELECTED_COLOR;
@WIN10_TOAST_TEXT_COLOR: @WIN10_BASE_TEXT_COLOR;


// Toolbar

@WIN10_TOOLBAR_BACKGROUND_COLOR: @WIN10_GRAY_DARK_3;
@WIN10_TOOLBAR_BUTTON_HOVER_COLOR: @WIN10_GRAY_MEDIUM_3;
@WIN10_TOOLBAR_BUTTON_ACTIVE_COLOR: @WIN10_GRAY_MEDIUM_2;
@WIN10_TOOLBAR_LIST_BACKGROUND_COLOR: @WIN10_GRAY_DARK_2;
@WIN10_TOOLBAR_LIST_BORDER_COLOR: @WIN10_GRAY_MEDIUM_1;


// Tooltip

@WIN10_TOOLTIP_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_1;
@WIN10_TOOLTIP_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;


// TrackBar

@WIN10_TRACKBAR_ACCENT_COLOR: @WIN10_ACCENT_COLOR;
@WIN10_TRACKBAR_UNSELECTED_RANGE_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_TRACKBAR_STATE_DISABLED_COLOR: @WIN10_GRAY_DARK_2;


// TreeView

@WIN10_TREEVIEW_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
@WIN10_TREEVIEW_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_TREEVIEW_ITEM_HOVER_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_3;
/**
* @name 10. Focused item background color
* @type color
* @group navigations.treeview
* @inherit @WIN10_SELECTED_COLOR
*/
@WIN10_TREEVIEW_ITEM_FOCUSED_BACKGROUND_COLOR: @WIN10_SELECTED_COLOR;
@WIN10_TREEVIEW_ITEM_FOCUSED_COLOR: @WIN10_BASE_TEXT_COLOR;

//
// DataGrid
//

@datagrid-base-color: @WIN10_BASE_TEXT_COLOR;
@datagrid-base-background-color: @WIN10_BACKGROUND_COLOR;
@datagrid-border-color: @WIN10_GRAY_LIGHT_2;
@datagrid-border: 1px solid @datagrid-border-color;
@datagrid-border-hidden: 1px solid transparent;
@datagrid-headers-border: 1px solid @WIN10_GRAY_LIGHT_2;
@datagrid-headers-color: @WIN10_BASE_TEXT_COLOR;
@datagrid-headers-separator-color: @WIN10_ACCENT_COLOR;
@datagrid-drag-header-background-color: @WIN10_ACCENT_COLOR;
@datagrid-row-border: 1px solid transparent;
@datagrid-selection-background: @WIN10_SELECTED_COLOR;
@datagrid-selection-color: @WIN10_BASE_TEXT_COLOR;
@datagrid-hover-color: @WIN10_BASE_TEXT_COLOR;
@datagrid-hover-background: @WIN10_GRAY_MEDIUM_3;
@datagrid-data-modified-color: #099f21;
@datagrid-nodata-color: @WIN10_GRAY_LIGHT_2;
@datagrid-nodata-font-size: 17px;
@datagrid-data-invalid-color: @WIN10_INVALID_COLOR;
@datagrid-data-faded-invalid-color:  @WIN10_INVALID_COLOR;
@datagrid-group-row-color: @WIN10_BASE_TEXT_COLOR;
@datagrid-group-row-background-color: @WIN10_GRAY_DARK_2;
@datagrid-group-column-icon-color: @WIN10_GRAY_LIGHT_2;
@datagrid-master-detail-background-color: @WIN10_GRAY_DARK_2;
@datagrid-header-panel-margin-bottom: 10px;
@datagrid-context-menu-icons-color: @WIN10_GRAY_LIGHT_2;

@datagrid-filter-operation-color: @datagrid-context-menu-icons-color;
@datagrid-filter-editor-focused-color: @WIN10_BASE_TEXT_COLOR;
@datagrid-filter-editor-focused-background-color: @WIN10_GRAY_MEDIUM_3;
@datagrid-focus-color: @WIN10_ACCENT_COLOR;
@datagrid-editor-background: @WIN10_BACKGROUND_COLOR;
@datagrid-drag-header-first-shadow-color: fade(@WIN10_DARK_COLOR, 10);
@datagrid-drag-header-second-shadow-color: fade(@WIN10_DARK_COLOR, 20);
@datagrid-row-alternation-color: @WIN10_GRAY_DARK_2;
@datagrid-headers-drop-highlight-background-color: @datagrid-selection-background;
@datagrid-search-text-background: @WIN10_SELECTED_COLOR;
@datagrid-search-text-color: @WIN10_BASE_TEXT_COLOR;
@datagrid-row-error-color: @WIN10_BASE_TEXT_COLOR;
@datagrid-row-error-bg: #f16e77;
@datagrid-text-stub-background-image-path: url(images/widgets/win10/color-schemes/black/grid/text-stub.png);

@HEADER_FILTER_COLOR: @datagrid-headers-color;
@HEADER_FILTER_COLOR_EMPTY: fade(@datagrid-headers-color, 50%);

@WIN10_EXPORT_MENU_SEPARATOP_COLOR: @WIN10_DARK_COLOR;
@WIN10_EXPORT_MENU_POPUP_TEXT_COLOR: @WIN10_DARK_COLOR;
@WIN10_EXPORT_MENU_POPUP_BACKGROUND: @WIN10_LIGHT_COLOR;
@WIN10_EXPORT_MENU_POPUP_BORDER: @WIN10_DARK_COLOR;


// Pager

@WIN10_PAGER_SELECTION_BACKGROUND_COLOR: @WIN10_SELECTED_COLOR;
@WIN10_PAGER_PAGES_INFO_COLOR: @WIN10_GRAY_LIGHT_2;
@WIN10_PAGER_PAGES_NAVIGATE_BUTTON_DISABLED_COLOR: @WIN10_GRAY_MEDIUM_1;


// TreeList
@treelist-base-color: @WIN10_BASE_TEXT_COLOR;
@treelist-base-background-color: @WIN10_BACKGROUND_COLOR;
@treelist-border-color: @WIN10_GRAY_LIGHT_2;
@treelist-border: 1px solid @treelist-border-color;
@treelist-border-hidden: 1px solid transparent;
@treelist-headers-border: 1px solid @WIN10_GRAY_LIGHT_2;
@treelist-headers-color: @WIN10_BASE_TEXT_COLOR;
@treelist-headers-separator-color: @WIN10_ACCENT_COLOR;
@treelist-drag-header-background-color: @WIN10_ACCENT_COLOR;
@treelist-row-border: 1px solid transparent;
@treelist-selection-background: @WIN10_SELECTED_COLOR;
@treelist-selection-color: @WIN10_BASE_TEXT_COLOR;
@treelist-hover-color: @WIN10_BASE_TEXT_COLOR;
@treelist-hover-background: @WIN10_GRAY_MEDIUM_3;
@treelist-data-modified-color: #099f21;
@treelist-nodata-color: @WIN10_GRAY_LIGHT_2;
@treelist-nodata-font-size: 17px;
@treelist-data-invalid-color: @WIN10_INVALID_COLOR;
@treelist-data-faded-invalid-color:  @WIN10_INVALID_COLOR;
@treelist-master-detail-background-color: @WIN10_GRAY_DARK_2;
@treelist-header-panel-margin-bottom: 10px;
@treelist-context-menu-icons-color: @WIN10_GRAY_LIGHT_2;
@treelist-filter-operation-color: @treelist-context-menu-icons-color;
@treelist-filter-editor-focused-color: @WIN10_BASE_TEXT_COLOR;
@treelist-filter-editor-focused-background-color: @WIN10_GRAY_MEDIUM_3;
@treelist-focus-color: @WIN10_ACCENT_COLOR;
@treelist-editor-background: @WIN10_BACKGROUND_COLOR;
@treelist-drag-header-first-shadow-color: fade(@WIN10_DARK_COLOR, 10);
@treelist-drag-header-second-shadow-color: fade(@WIN10_DARK_COLOR, 20);
@treelist-row-alternation-color: @WIN10_GRAY_DARK_2;
@treelist-headers-drop-highlight-background-color: @treelist-selection-background;
@treelist-search-text-background: @WIN10_SELECTED_COLOR;
@treelist-search-text-color: @WIN10_BASE_TEXT_COLOR;
@treelist-row-error-color: @WIN10_BASE_TEXT_COLOR;
@treelist-row-error-bg: #f16e77;
@treelist-text-stub-background-image-path: url(images/widgets/win10/color-schemes/black/grid/text-stub.png);


//
// dxPivotGrid
//

@PIVOTGRID_AREA_BACKGROUND: @WIN10_DARK_COLOR;

@PIVOTGRID_BORDER_COLOR: darken(@WIN10_LIGHT_COLOR, 20%);
@PIVOTGRID_AREA_COLOR: darken(@WIN10_LIGHT_COLOR, 54%);
@PIVOTGRID_DATA_AREA_COLOR: darken(@WIN10_LIGHT_COLOR, 25%);
@PIVOTGRID_TOTALCOLOR: lighten(@WIN10_DARK_COLOR, 15%);
@PIVOTGRID_GRANDTOTALCOLOR: lighten(@WIN10_DARK_COLOR, 20%);

@PIVOTGRID_ACCENT_COLOR: rgb(96, 96, 96);
@PIVOTGRID_SHADOW_COLOR: black;
@PIVOTGRID_DRAG_HEADER_BORDER_COLOR: fade(@PIVOTGRID_ACCENT_COLOR, 50%);
@PIVOTGRID_DRAG_HEADER_FIRST_SHADOW_COLOR: fade(@PIVOTGRID_SHADOW_COLOR, 10%);
@PIVOTGRID_DRAG_HEADER_SECOND_SHADOW_COLOR: fade(@PIVOTGRID_SHADOW_COLOR, 20%);

@PIVOTGRID_AREA_ALL_IMAGE: url(images/widgets/win10/color-schemes/black/grid/area-all.png);
@PIVOTGRID_AREA_FILTER_IMAGE: url(images/widgets/win10/color-schemes/black/grid/area-filter.png);
@PIVOTGRID_AREA_COLUMN_IMAGE: url(images/widgets/win10/color-schemes/black/grid/area-column.png);
@PIVOTGRID_AREA_ROW_IMAGE: url(images/widgets/win10/color-schemes/black/grid/area-row.png);
@PIVOTGRID_AREA_DATA_IMAGE: url(images/widgets/win10/color-schemes/black/grid/area-data.png);

@PIVOTGRID_DIMENSION_IMAGE: url(images/widgets/win10/color-schemes/black/grid/dimension.png);
@PIVOTGRID_HIERARCHY_IMAGE: url(images/widgets/win10/color-schemes/black/grid/hierarchy.png);

@PIVOTGRID_COMMON_LEFT_RIGHT_PADDING: 10px;
@PIVOTGRID_COMMON_TOP_BOTTOM_PADDING: 7px;
@PIVOTGRID_FIELD_INDICATORS_OFFSET: 6px;
@PIVOTGRID_EXPAND_ICON_OFFSET: -3px;
@PIVOTGRID_EXPAND_ICON_TEXT_OFFSET: 2px;

@PIVOTGRID_FIELD_AREA_TEXT_COLOR: darken(@PIVOTGRID_AREA_COLOR, 16.2%);

//
// Scheduler
//

@SCHEDULER_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;
@SCHEDULER_DROPPABLE_CELL_BACKGROUND_COLOR: @WIN10_GRAY_MEDIUM_3;

/**
* @name 15. Border color
* @type color
* @group scheduler
*/
@SCHEDULER_BASE_BORDER_COLOR: @WIN10_GRAY_LIGHT_2;

/**
* @name 20. Hour separator color
* @type color
* @group scheduler
*/
@SCHEDULER_ACCENT_BORDER_COLOR: @WIN10_GRAY_LIGHT_1;

/**
* @name 30. Appointment background color
* @type color
* @group scheduler
*/
@SCHEDULER_APPOINTMENT_BASE_COLOR: @WIN10_SELECTED_COLOR;

/**
* @name 35. Start appointment color
* @type color
* @group scheduler
*/
@SCHEDULER_APPOINTMENT_START_COLOR: fade(black, 50%);

/**
* @name 40. Appointment text color
* @type color
* @group scheduler
*/
@SCHEDULER_APPOINTMENT_TEXT_COLOR: @WIN10_LIGHT_COLOR;

/**
* @name 35. Focused cell color
* @type color
* @group scheduler
*/
@SCHEDULER_WORKSPACE_FOCUSED_CELL_COLOR: @WIN10_GRAY_MEDIUM_2;

/**
* @name 10. Text color
* @type color
* @group scheduler
*/
@SCHEDULER_PANEL_TEXT_COLOR: @WIN10_BASE_TEXT_COLOR;

/**
* @name 5. Workspace color
* @type color
* @group scheduler
*/
@SCHEDULER_WORKSPACE_BACKGROUND_COLOR: @WIN10_BACKGROUND_COLOR;

/**
* @name 55. Workspace accent color
* @type color
* @group scheduler
*/
@SCHEDULER_WORKSPACE_ACCENT_COLOR: @SCHEDULER_APPOINTMENT_BASE_COLOR;

/**
* @name 65. Date-time indicator color
* @type color
* @group scheduler
*/
@SCHEDULER_CURRENT_TIME_CELL_COLOR: @WIN10_ACCENT_COLOR;

@SCHEDULER_TIME_INDICATOR_COLOR: @SCHEDULER_CURRENT_TIME_CELL_COLOR;

@SCHEDULER_DD_APPOINTMENT_HOVER_TEXT_COLOR: @WIN10_LIGHT_COLOR;

@SCHEDULER_WORKSPACE_MONTH_TEXT_COLOR: @WIN10_BASE_TEXT_COLOR;

@SCHEDULER_WORKSPACE_ACTIVE_CELL_COLOR: @SCHEDULER_ACCENT_BORDER_COLOR;
@SCHEDULER_WORKSPACE_HOVERED_CELL_COLOR: @WIN10_GRAY_MEDIUM_3;
@SCHEDULER_OTHER_MONTH_CELL_OPACITY: .5;
@SCHEDULER_FILL_FOCUSED_APPOINTMENT: false;
@SCHEDULER_TIME_INDICATOR_BACKGROUND_COLOR: lighten(@SCHEDULER_BASE_BORDER_COLOR, 9%);
@SCHEDULER_FIRST_MONTH_CELL_BACKGROUND_COLOR: fadeout(@SCHEDULER_APPOINTMENT_BASE_COLOR, 85%);

// Form

@WIN10_FORM_LABEL_COLOR: @WIN10_BASE_TEXT_COLOR;
@WIN10_FORM_REQUIRED_MARK_COLOR: @WIN10_WARNING_COLOR;
@WIN10_FORM_OPTIONAL_MARK_COLOR: @WIN10_GRAY_LIGHT_1;

// Calendar
@WIN10_SCHEDULER_CALENDAR_COLOR: @WIN10_POPUP_BACKGROUND_COLOR;

// Icons
@WIN10_LIST_DELETE_SWITCH_BACKGROUND: url(images/widgets/win10/color-schemes/black/list/delete.png);
@WIN10_LIST_REORDER_HANDLE_BACKGROUND: url(images/widgets/win10/color-schemes/black/list/reorder_handle.png);
@WIN10_SCROLLVIEW_PULLDOWN_BACKGROUND_IMAGE: url(images/widgets/win10/color-schemes/black/pulldown.png) 0 0 no-repeat;
@WIN10_LOADINDICATOR_BACKGROUND_IMAGE: url(images/widgets/win10/color-schemes/black/loader64.gif);
@WIN10_TOAST_INFO_BACKGROUND: url(images/widgets/win10/color-schemes/black/toast/info.png);
@WIN10_TOAST_WARNING_BACKGROUND: url(images/widgets/win10/color-schemes/black/toast/warning.png);
@WIN10_TOAST_ERROR_BACKGROUND: url(images/widgets/win10/color-schemes/black/toast/error.png);
@WIN10_TOAST_SUCCESS_BACKGROUND: url(images/widgets/win10/color-schemes/black/toast/success.png);

@WIN10_FIELDSET_ATTENTION_BACKGROUND_IMAGE: url(images/widgets/win10/color-schemes/black/attention.png);
@WIN10_COLORBOX_NOCOLOR_IMG: url(images/widgets/win10/color-schemes/black/colorbox/nocolor.png);

// FilterBuilder
@filterbuilder-bg: @WIN10_BACKGROUND_COLOR;
@filterbuilder-plus-icon-color: #86d274;
@filterbuilder-plus-icon-hover-color: darken(@filterbuilder-plus-icon-color, 10%);
@filterbuilder-plus-icon-focus-color: darken(@filterbuilder-plus-icon-color, 20%);

@filterbuilder-remove-icon-color: #F9B7B7;
@filterbuilder-remove-icon-hover-color: darken(@filterbuilder-remove-icon-color, 10%);
@filterbuilder-remove-icon-focus-color: darken(@filterbuilder-remove-icon-color, 20%);

@filterbuilder-group-operation-color: #F9B7B7;
@filterbuilder-group-operation-hover-color: darken(@filterbuilder-group-operation-color, 10%);
@filterbuilder-group-operation-focus-color: darken(@filterbuilder-group-operation-color, 20%);

@filterbuilder-item-field-color: #6ab9ff;
@filterbuilder-item-field-hover-color: darken(@filterbuilder-item-field-color, 10%);
@filterbuilder-item-field-focus-color: darken(@filterbuilder-item-field-color, 20%);

@filterbuilder-item-operator-color: @filterbuilder-plus-icon-color;
@filterbuilder-item-operator-hover-color: darken(@filterbuilder-item-operator-color, 10%);
@filterbuilder-item-operator-focus-color: darken(@filterbuilder-item-operator-color, 20%);

@filterbuilder-item-value-color: #EEE;
@filterbuilder-item-value-hover-color: darken(@filterbuilder-item-value-color, 10%);
@filterbuilder-item-value-focus-color: darken(@filterbuilder-item-value-color, 20%);


@filterbuilder-text-focus-color: #FFF;
@filterbuilder-text-color: @WIN10_CONTRAST_TEXT_COLOR;

@filterbuilder-menu-icon-color: @WIN10_GRAY_LIGHT_2;
