@use "../variables/sizes" as *;

// adduse


@mixin dx-tabs-indicator-primary-mixin($position, $color) {
  &::after {
    content: "";
    position: absolute;
    background-color: $color;

    @if $position == top {
      top: 0;
      right: 0;
      left: 0;
      width: $fluent-indicator-length-primary;
      height: $fluent-indicator-thickness-primary;
    } @else if $position == right {
      top: 0;
      right: 0;
      bottom: 0;
      height: $fluent-indicator-length-primary;
      width: $fluent-indicator-thickness-primary;
    } @else if $position == bottom {
      right: 0;
      bottom: 0;
      left: 0;
      width: $fluent-indicator-length-primary;
      height: $fluent-indicator-thickness-primary;
    } @else if $position == left {
      top: 0;
      bottom: 0;
      left: 0;
      height: $fluent-indicator-length-primary;
      width: $fluent-indicator-thickness-primary;
    }
  }
}

@mixin dx-tabs-indicator-secondary-base-mixin($position, $color) {
  &::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    width: $fluent-indicator-length-secondary;
    height: $fluent-indicator-thickness-secondary;
    background-color: $color;

    @if $position == top {
      top: -$fluent-tabs-item-padding-horizontal;
      border-bottom-right-radius: $fluent-indicator-border-radius-secondary;
      border-bottom-left-radius: $fluent-indicator-border-radius-secondary;
      border-top-right-radius: unset;
      border-top-left-radius: unset;
    } @else if $position == bottom {
      bottom: -$fluent-tabs-item-padding-horizontal;
      border-top-right-radius: $fluent-indicator-border-radius-secondary;
      border-top-left-radius: $fluent-indicator-border-radius-secondary;
      border-bottom-right-radius: unset;
      border-bottom-left-radius: unset;
    }
  }
}

@mixin dx-tabs-indicator-secondary-vertical-mixin($position, $color) {
  &::after {
    content: "";
    position: absolute;
    top: $fluent-tabs-item-padding-horizontal;
    width: $fluent-indicator-thickness-secondary;
    height: calc($fluent-indicator-length-secondary - 2 * $fluent-tabs-item-padding-horizontal);
    background-color: $color;

    @if $position == right {
      right: 0;
      border-top-left-radius: $fluent-indicator-border-radius-secondary;
      border-bottom-left-radius: $fluent-indicator-border-radius-secondary;
      border-top-right-radius: unset;
      border-bottom-right-radius: unset;
    } @else if $position == left {
      left: 0;
      border-top-right-radius: $fluent-indicator-border-radius-secondary;
      border-bottom-right-radius: $fluent-indicator-border-radius-secondary;
      border-top-left-radius: unset;
      border-bottom-left-radius: unset;
    }
  }
}
