<dx-data-grid
  id="gridContainer"
  [dataSource]="employees"
  [showBorders]="true"
  keyExpr="ID"
  (onRowValidating)="onRowValidating($event)"
  (onEditorPreparing)="onEditorPreparing($event)"
>
  <dxo-data-grid-paging [enabled]="false"></dxo-data-grid-paging>
  <dxo-data-grid-editing
    mode="row"
    [allowUpdating]="true"
    [allowDeleting]="isDeleteIconVisible"
    [useIcons]="true"
  ></dxo-data-grid-editing>

  <dxi-data-grid-column type="buttons" [width]="110">
    <dxi-data-grid-button name="edit"></dxi-data-grid-button>
    <dxi-data-grid-button name="delete"></dxi-data-grid-button>
    <dxi-data-grid-button
      hint="Clone"
      icon="copy"
      [visible]="isCloneIconVisible"
      [disabled]="isCloneIconDisabled"
      [onClick]="onCloneIconClick"
    ></dxi-data-grid-button>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="Prefix" caption="Title"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="LastName"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Position" [width]="130"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="StateID" [width]="125" caption="State">
    <dxo-data-grid-lookup
      [dataSource]="states"
      displayExpr="Name"
      valueExpr="ID"
    ></dxo-data-grid-lookup>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="BirthDate" [width]="125" dataType="date"></dxi-data-grid-column>
</dx-data-grid>
