@use "../../../colors" as *;
@use "../../../sizes" as *;
@use "../../../../base/icon_fonts" as *;
@use "../../../../base/tabs";
@use "../../variables/colors" as *;
@use "../../variables/sizes" as *;
@use "../../mixins" as *;

// adduse
@use "../../../scrollable";
@use "../../../badge";

.dx-tabs .dx-tabs-nav-button {
  box-shadow: none;
}

.dx-tabs-styling-mode-secondary .dx-tabs-nav-button {
  border-radius: $tabs-item-secondary-border-radius;
}

.dx-tabs-nav-button {
  border: none;
  height: $tabs-tab-height;
  background-color: $tabs-nav-button-bg-rest;

  &.dx-button.dx-state-disabled.dx-button-mode-contained {
    visibility: hidden;
  }

  &.dx-button-has-icon .dx-icon {
    width: $tabs-tab-nav-button-icon-width;
    height: $tabs-tab-nav-button-icon-height;
    font-size: $tabs-tab-nav-button-icon-font-size;
  }

  &.dx-state-active {
    border: none;
  }

  &.dx-state-disabled {
    opacity: 1;
    background-color: $tabs-tab-bg-rest;

    .dx-button-content {
      opacity: $tabs-nav-button-opacity-disabled;
    }
  }

  .dx-button-content {
    flex: unset;
    padding: $tabs-tab-nav-button-content-padding;
  }
}

.dx-tabs-vertical {
  .dx-tabs-nav-button {
    padding: $tabs-tab-vertical-nav-button-content-padding;
  }
}
