<dx-card-view
  [dataSource]="vehicles"
  cardsPerRow="auto"
  [cardMinWidth]="260"
  cardTemplate="vehicleCardTemplate"
>
  <dxo-card-view-header-filter [visible]="true"></dxo-card-view-header-filter>
  <dxo-card-view-search-panel [visible]="true"></dxo-card-view-search-panel>
  <dxo-card-view-paging [pageSize]="12"></dxo-card-view-paging>

  <dxi-card-view-column dataField="TrademarkName"></dxi-card-view-column>
  <dxi-card-view-column dataField="Name"></dxi-card-view-column>
  <dxi-card-view-column dataField="Price" format="currency">
    <dxo-card-view-header-filter
      [groupInterval]="20000"
    ></dxo-card-view-header-filter>
  </dxi-card-view-column>
  <dxi-card-view-column dataField="CategoryName"></dxi-card-view-column>
  <dxi-card-view-column dataField="Modification"></dxi-card-view-column>
  <dxi-card-view-column dataField="BodyStyleName"></dxi-card-view-column>
  <dxi-card-view-column dataField="Horsepower"></dxi-card-view-column>

  <div *dxTemplate="let model of 'vehicleCardTemplate'">
    <vehicle-card
      [vehicle]="model.card.data"
      (showInfo)="showInfo(model.card.data)"
    ></vehicle-card>
  </div>
</dx-card-view>

<dx-popup
  [width]="350"
  [height]="240"
  [(visible)]="popupVisible"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  title="Image Info"
>
  <dxo-position at="center" my="center" collision="fit"></dxo-position>
  <div *dxTemplate="let _ of 'content'">
    <license-info
      *ngIf="currentVehicle"
      [vehicle]="currentVehicle"
    ></license-info>
  </div>
</dx-popup>
