<dx-card-view
  id="cardView"
  [dataSource]="vehicles"
  cardsPerRow="auto"
  [cardMinWidth]="260"
  [searchPanel]="searchPanelConfig"
  [paging]="pagingConfig"
  [headerFilter]="headerFilterConfig"
  cardTemplate="vehicleCardTemplate"
>
  <dxi-card-view-column dataField="TrademarkName"></dxi-card-view-column>
  <dxi-card-view-column dataField="Name"></dxi-card-view-column>
  <dxi-card-view-column
    dataField="Price"
    format="currency"
  ></dxi-card-view-column>
  <dxi-card-view-column dataField="CategoryName"></dxi-card-view-column>

  <dxi-card-view-column dataField="Modification"></dxi-card-view-column>
  <dxi-card-view-column dataField="BodyStyleName"></dxi-card-view-column>
  <dxi-card-view-column dataField="Horsepower"></dxi-card-view-column>

  <div *dxTemplate="let model of 'vehicleCardTemplate'">
    <vehicle-card
      [vehicle]="model.card.data"
      (showInfo)="showInfo(model.card.data)"
    ></vehicle-card>
  </div>
</dx-card-view>

<dx-popup
  [width]="350"
  [height]="240"
  [(visible)]="popupVisible"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  title="Image Info"
>
  <dxo-position at="center" my="center" collision="fit"></dxo-position>
  <div *dxTemplate="let _ of 'content'">
    <license-info
      *ngIf="currentVehicle"
      [vehicle]="currentVehicle"
    ></license-info>
  </div>
</dx-popup>
