<div class="form">
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Simple Field Set</div>
    <div class="dx-field">
      <div class="dx-field-label">Full Name</div>
      <div class="dx-field-value-static">Kevin Carter</div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Position</div>
      <div class="dx-field-value-static">Shipping Manager</div>
    </div>
  </div>
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Field Set with DevExtreme Widgets</div>
    <div class="dx-field">
      <div class="dx-field-label">Address</div>
      <dx-text-box
        class="dx-field-value"
        value="424 N Main St."
        [inputAttr]="{ 'aria-label': 'Address' }"
      >
      </dx-text-box>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">City</div>
      <dx-text-box
        class="dx-field-value"
        value="San Diego"
        [inputAttr]="{ 'aria-label': 'City' }"
      >
      </dx-text-box>
    </div>
  </div>
  <div class="dx-fieldset" id="notes-container">
    <div class="dx-fieldset-header">Field Set with Custom Value Width</div>
    <div class="dx-field">
      <div class="dx-field-label">Notes</div>
      <dx-text-area
        class="dx-field-value"
        [height]="80"
        value="Kevin is our hard-working shipping manager and has been helping that department work like clockwork for 18 months. When not in the office, he is usually on the basketball court playing pick-up games."
        [inputAttr]="{ 'aria-label': 'Notes' }"
      >
      </dx-text-area>
    </div>
  </div>
</div>
