::ng-deep #accordion {
  height: 700px;
}

::ng-deep #accordion .header {
  font-size: 20px;
}

::ng-deep #accordion .header,
::ng-deep #accordion p {
  margin: 0;
}

::ng-deep #accordion-container {
  margin-right: 400px;
}

::ng-deep .dx-theme-material #accordion .dx-accordion-item-title {
  display: flex;
}

::ng-deep .accordion-item-link {
  color: var(--dx-color-link);
  cursor: pointer;
  text-decoration: underline;
}

::ng-deep .dx-theme-material #accordion .header {
  align-self: center;
}

.options {
  padding: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 340px;
  top: 0;
  background-color: color-mix(in srgb, var(--dxds-color-surface-neutral-default-inverted-rest, #bfbfbf) calc(var(--dxds-opacity-5, 0.15) * 100%), transparent);
}

.options > .caption {
  font-weight: 500;
  font-size: 18px;
}

.option {
  margin-top: 10px;
}

.option > .caption {
  margin-top: 10px;
  display: inline-block;
}

::ng-deep .option > .dx-tagbox {
  margin-top: 2px;
}
