@use "../base/mixins" as *;

// adduse
.dx-deferrendering .dx-deferrendering-loadindicator-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.dx-deferrendering {
  &.dx-pending-rendering .dx-invisible-while-pending-rendering {
    display: none !important; // stylelint-disable-line declaration-no-important
  }

  &:not(.dx-pending-rendering) .dx-visible-while-pending-rendering {
    display: none !important; // stylelint-disable-line declaration-no-important
  }
}
