@use "../base/mixins" as *;

// adduse
$max-integer: 2147483647;

.dx-draggable {
  left: 0;
  cursor: pointer;

  @include user-select(none);

  &.dx-state-disabled,
  .dx-state-disabled & {
    cursor: default;
  }
}

.dx-draggable-clone {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $max-integer;
}
