@use "../base/mixins" as *;

// adduse


.dx-tileview {
  div.dx-scrollable-container {
    overflow-y: hidden; // anyway, tagName added for increase priorities
  }
}

.dx-tile {
  position: absolute;
  text-align: center;

  &.dx-state-active {
    transform: scale(0.96);
    transition: transform 100ms linear;
  }
}

.dx-tile-content {
  padding: 0;
  width: 100%;
  height: 100%;
}

.dx-tileview-wrapper {
  position: relative;
  height: 1px;
}

.dx-device-ios-6 {
  .dx-tile {
    backface-visibility: hidden;
  }
}
