@use "../sizes" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$fluent-switch-width: null !default;
$switch-handle-margin: null !default;
$switch-padding: ds.$spacing-80 !default;
$switch-container-vertical-margin: null !default;
$switch-container-horizontal-padding: null !default;
$fluent-switch-height: null !default;
$switch-handle-height: null !default;
$switch-container-height: null !default;

$fluent-switch-shadow-blur-radius: 0 !default;
$fluent-switch-container-adjustment: ds.$spacing-60 !default;

@if $size == "default" {
  $fluent-switch-width: ds.$spacing-400 !default;
  $switch-handle-height: ds.$spacing-140 !default;
  $switch-handle-margin: ds.$spacing-30 !default;
  $switch-container-vertical-margin: 0 !default;
  $switch-container-horizontal-padding: $switch-handle-margin !default;
  $fluent-switch-height: ds.$spacing-200 !default;
  $switch-container-height: $fluent-switch-height !default;
}

@else if $size == "compact" {
  $fluent-switch-width: ds.$spacing-320 !default;
  $switch-handle-height: ds.$spacing-120 !default;
  $switch-handle-margin: ds.$spacing-20 !default;
  $switch-container-vertical-margin: 0 !default;
  $switch-container-horizontal-padding: $switch-handle-margin !default;
  $fluent-switch-height: ds.$spacing-160 !default;
  $switch-container-height: $fluent-switch-height !default;
}
