@use "../../mixins" as *;

$scheduler-current-time-cell-color: null !default;
$scheduler-header-panel-table-cell-height: null !default;
$scheduler-current-time-cell-border-size: null !default;
$scheduler-time-indicator-color: null !default;
$scheduler-left-column-width: null !default;
$scheduler-accent-border: null !default;
$scheduler-accent-border-color: null !default;

.dx-scheduler-header-panel-cell.dx-scheduler-header-panel-current-time-cell {
  color: $scheduler-current-time-cell-color;

  &::before {
    position: absolute;
    top: $scheduler-header-panel-table-cell-height - $scheduler-current-time-cell-border-size - 1;
    right: 0;
    width: 100%;
    height: $scheduler-current-time-cell-border-size;
    content: '';
    background-color: $scheduler-time-indicator-color;
  }
}

.dx-scheduler-group-column-count-one .dx-scheduler-header-panel-empty-cell {
  width: $scheduler-left-column-width;
}

.dx-scheduler-group-column-count-two .dx-scheduler-header-panel-empty-cell {
  width: 2 * $scheduler-left-column-width;
}

.dx-scheduler-group-column-count-three .dx-scheduler-header-panel-empty-cell {
  width: 3 * $scheduler-left-column-width;
}

.dx-scheduler-work-space-week,
.dx-scheduler-work-space-work-week,
.dx-scheduler-work-space-day {
  .dx-scheduler-header-panel-empty-cell {
    width: $scheduler-left-column-width;
  }

  &.dx-scheduler-group-column-count-one .dx-scheduler-header-panel-empty-cell {
    width: 2 * $scheduler-left-column-width;
  }

  &.dx-scheduler-group-column-count-two .dx-scheduler-header-panel-empty-cell {
    width: 3 * $scheduler-left-column-width;
  }

  &.dx-scheduler-group-column-count-three .dx-scheduler-header-panel-empty-cell {
    width: 4 * $scheduler-left-column-width;
  }

  &.dx-scheduler-work-space-odd-cells {
    .dx-scheduler-date-table-row:nth-child(odd) .dx-scheduler-date-table-cell {
      border-top: $scheduler-accent-border;
    }

    .dx-scheduler-date-table-row:first-child .dx-scheduler-date-table-cell {
      border-top: none;
    }

    .dx-scheduler-time-panel-row:nth-child(2n) .dx-scheduler-time-panel-cell {
      &::after {
        background-color: $scheduler-accent-border-color;
      }
    }
  }
}

.dx-scheduler-timeline-week,
.dx-scheduler-timeline-work-week,
.dx-scheduler-timeline-day,
.dx-scheduler-timeline-month {
  .dx-scheduler-header-panel-empty-cell {
    border-bottom: none;
  }

  // This is a WA for existing behaviour. Refactor with setTableSizes
  .dx-scheduler-date-table-scrollable-content,
  .dx-scheduler-date-table-container {
    min-height: 100%;
    height: 100%;
  }

  .dx-scheduler-header-panel {
    @include flex-container(row, nowrap);

    thead {
      @include flex-container(column, nowrap);

      width: 100%;
    }
  }

  .dx-scheduler-header-row {
    @include flex-container(row, nowrap);
  }

  .dx-scheduler-header-panel-cell {
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    @include flex-container(row, nowrap);

    &:not(.dx-scheduler-header-panel-week-cell) {
      @include flex-container(row-reverse, nowrap);
    }
  }

  .dx-scheduler-header-panel-week-cell {
    flex-basis: 0;
  }

  .dx-scheduler-header-row .dx-scheduler-header-panel-cell {
    border-right: none;
  }
}
