<div class="list-container">
  <dx-list
    #list
    [dataSource]="products"
    [height]="400"
    [searchEnabled]="true"
    searchExpr="Name"
    searchMode="contains"
  >
    <div *dxTemplate="let data of 'item'">
      <div>{{ data.Name }}</div>
    </div>
  </dx-list>
</div>
<div class="options">
  <div class="caption">Options</div>
  <div class="option">
    <span>Search mode</span>
    <dx-select-box
      #searchMode
      [items]="['contains', 'startsWith', 'equals']"
      [inputAttr]="{ 'aria-label': 'Search Mode' }"
      [(value)]="list.searchMode"
    >
    </dx-select-box>
  </div>
</div>
