<h2>Template customization examples</h2>

<div class="example">
  <div class="example__title">items example</div>
  <div class="example__control">
    <dx-pager
      [selectedPage]="1"
      [selectedPageSize]="20"
      [pageCount]="20"
      [pageSizes]="[20, 40, 60]"
      [pageNumberItemView]="customPageNumberItem"
      [pageNumberFakeItemView]="customPageNumberDivider"
      [pageSizeItemView]="customPageSizeItem">
    </dx-pager>
  </div>
</div>

<div class="example">
  <div class="example__title">reuse default templates example</div>
  <div class="example__control">
    <dx-pager
      [selectedPage]="1"
      [selectedPageSize]="20"
      [pageCount]="20"
      [pageSizes]="[20, 40, 60]"
      [pageNumberView]="customPageNumber"
      [pageSizeView]="customPageSize">
    </dx-pager>
  </div>
</div>

<div class="example">
  <div class="example__title">main template example</div>
  <div class="example__control">
    <dx-pager
      [selectedPage]="1"
      [selectedPageSize]="20"
      [pageCount]="20"
      [pageSizes]="[20, 40, 60]"
      [pagerView]="customPager"
      [pageNumberItemView]="customPageNumberItem"
      [pageNumberFakeItemView]="customPageNumberDivider">
    </dx-pager>
  </div>
</div>

<ng-template #customPageNumberItem let-data>
  <div class="custom-pager-item"
       [class.--selected]="data.viewModel.selected"
       (click)="data.actions.selectPage(data.viewModel.value)">
    {{ data.viewModel.label }}
  </div>
</ng-template>

<ng-template #customPageNumberDivider>
  <div class="divider">
    <div class="divider__line">
    </div>
  </div>
</ng-template>

<ng-template #customPageSizeItem let-data>
  <div class="custom-pager-item"
       [class.--selected]="data.viewModel.selected"
       (click)="data.actions.selectPageSize(data.viewModel.value)">
    {{ data.viewModel.value }}
  </div>
</ng-template>

<ng-template #customPageNumber let-data>
  <div class="custom-page-numbers">
    <dx-pager-page-number-item-view
      class="custom-pager-numbers__content"
      *ngFor="let item of data.viewModel.items"
      [viewModel]="item"
      [actions]="data.actions">
    </dx-pager-page-number-item-view>
  </div>
</ng-template>

<ng-template #customPageSize let-data>
  <div class="custom-page-sizes">
    <dx-pager-page-size-item-view
      *ngFor="let item of data.viewModel.items"
      [viewModel]="item"
      [actions]="data.actions">
    </dx-pager-page-size-item-view>
  </div>
</ng-template>

<ng-template #customPager let-data>
  <div class="custom-pager">
    <dx-pager-page-size-view
      class="custom-pager__item"
      [viewModel]="data.viewModel.pageSizeViewModel"
      [actions]="{ selectPageSize: data.actions.selectPageSize }">
    </dx-pager-page-size-view>
    <dx-pager-page-number-view
      class="custom-pager__item"
      [viewModel]="data.viewModel.pageNumberViewModel"
      [actions]="{ selectPage: data.actions.selectPage }">
    </dx-pager-page-number-view>
  </div>
</ng-template>
