@use "sass:math";

@mixin chat-messagelist($padding) {
  .dx-chat-messagelist {
    .dx-scrollable-content {
      padding: 0 $padding;
    }
  }
}

@mixin chat-messagelist-empty(
  $messagelist-empty-padding,
  $messagelist-empty-icon-box-size,
  $messagelist-empty-icon-size,
  $messagelist-empty-icon-margin-bottom,
  $messagelist-empty-row-gap,
  $messagelist-empty-icon-color,
  $messagelist-empty-icon-background-color,
  $messagelist-empty-message-font-size,
  $messagelist-empty-message-color,
  $messagelist-empty-prompt-font-size,
  $messagelist-empty-prompt-color,
) {
  .dx-chat-messagelist-empty {
    .dx-scrollable-content {
      padding: $messagelist-empty-padding;
    }
  }

  .dx-chat-messagelist-empty-view {
    row-gap: $messagelist-empty-row-gap;
  }

  .dx-chat-messagelist-empty-image {
    color: $messagelist-empty-icon-color;
    background-color: $messagelist-empty-icon-background-color;
    padding: math.div($messagelist-empty-icon-box-size - $messagelist-empty-icon-size, 2);
    margin-bottom: $messagelist-empty-icon-margin-bottom;

    &::before {
      font-size: $messagelist-empty-icon-size;
    }
  }

  .dx-chat-messagelist-empty-message {
    font-size: $messagelist-empty-message-font-size;
    color: $messagelist-empty-message-color;
  }

  .dx-chat-messagelist-empty-prompt {
    font-size: $messagelist-empty-prompt-font-size;
    color: $messagelist-empty-prompt-color;
  }
}
