@use "../sizes" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$fluent-colorbox-overlay-padding: null !default;
$fluent-colorbox-preview-padding: null !default;
$fluent-colorbox-preview-icon-size: $fluent-base-icon-size !default;

@if $size == "default" {
  $fluent-colorbox-overlay-padding: ds.$spacing-200 !default;
  $fluent-colorbox-preview-padding: ds.$spacing-120 !default;
}

@else if $size == "compact" {
  $fluent-colorbox-overlay-padding: ds.$spacing-160 !default;
  $fluent-colorbox-preview-padding: ds.$spacing-80 !default;
}

$fluent-colorbox-preview-width: calc(#{$fluent-colorbox-preview-padding} * 2 + #{$fluent-colorbox-preview-icon-size}) !default;

// Values hoisted from style-file literals (tokenized)
$fluent-colorbox-color-result-preview-border: ds.$border-width-10 solid !default;
