<dx-html-editor height="350px">
    <dxo-toolbar>
        <dxi-item formatName="header" [formatValues]="[false, 1, 2, 3]"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="bold"></dxi-item>
        <dxi-item formatName="color"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="alignLeft"></dxi-item>
        <dxi-item formatName="alignCenter"></dxi-item>
        <dxi-item formatName="alignRight"></dxi-item>
        <dxi-item formatName="separator"></dxi-item>
        <dxi-item formatName="insertTable"></dxi-item>
        <dxi-item formatName="deleteTable"></dxi-item>
        <dxi-item formatName="insertRowAbove"></dxi-item>
        <dxi-item formatName="insertRowBelow"></dxi-item>
        <dxi-item formatName="deleteRow"></dxi-item>
        <dxi-item formatName="insertColumnLeft"></dxi-item>
        <dxi-item formatName="insertColumnRight"></dxi-item>
        <dxi-item formatName="deleteColumn"></dxi-item>
    </dxo-toolbar>
    <h2>
        Hardware Upgrade
    </h2>
    <br>
    <table>
        <tr style="font-weight: bold;">
            <td style="text-align: left;">Task Subject</td>
            <td style="text-align: center;">Status</td>
            <td style="text-align: right;">Progress</td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">Upgrade Server Hardware</td>
            <td style="text-align: center;">In Progress</td>
            <td style="text-align: right;">45%</td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">Upgrade Personal Computers</td>
            <td style="text-align: center; color: red;">Need Assistance</td>
            <td style="text-align: right;">80%</td>
        </tr>
        <tr style="text-align: center;">
            <td style="text-align: left;">Approve Personal Computer Upgrade Plan</td>
            <td style="text-align: center; color: lime;">Completed</td>
            <td style="text-align: right;">100%</td>
        </tr>
    </table>
</dx-html-editor>
