<div class="container">
  <div
    class="employees"
    [ngClass]="pageSize === 4 ? 'employees--forth' : 'employees--six'"
  >
    @for (employee of pageEmployees; track employee.ID) {
    <employee-card [employee]="employee"></employee-card>
    }
  </div>

  <dx-pagination
    [showInfo]="showInfo"
    [showNavigationButtons]="showNavigationButtons"
    [allowedPageSizes]="allowedPageSizes"
    [itemCount]="itemCount"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (pageIndexChange)="onPageIndexChange($event)"
    (pageSizeChange)="onPageSizeChange($event)"
  >
  </dx-pagination>
</div>
