@import (once) "./dropDownList.generic.less";

.dx-autocomplete {
    .dx-texteditor-input {
        font-size: 1em;
    }
}

.autocomplete-badge-offset() {
    right: @GENERIC_INVALID_BADGE_HORIZONTAL_PADDING;

    .dx-rtl&,
    .dx-rtl & {
        left: @GENERIC_INVALID_BADGE_HORIZONTAL_PADDING;
    }
}

.dx-autocomplete.dx-invalid,
.dx-autocomplete.dx-valid {
    .dx-texteditor-container {
        &:after {
            .autocomplete-badge-offset();
        }
    }
}

.dx-autocomplete.dx-validation-pending {
    .dx-texteditor-container {
        .dx-pending-indicator {
            .autocomplete-badge-offset();
        }
    }
}
