@import (once) "../base/filterBuilder.less";
@import (once) "./treeView.generic.less";
@import (once) "./popup.generic.less";
@import (once) "./textBox.generic.less";
@import (once) "./numberBox.generic.less";
@import (once) "./checkBox.generic.less";
@import (once) "./selectBox.generic.less";
@import (once) "./dateBox.generic.less";

.dx-filterbuilder {
    .dx-filterbuilder-action-icon {
        margin-bottom: @filterbuilder-item-margin-bottom;
    }

    .dx-filterbuilder-text,
    .dx-filterbuilder-item-value-text {
        border-radius: 5px;
    }

    .dx-filterbuilder-range-separator {
        color: @texteditor-color;
    }
}

.dx-filterbuilder-overlay {
    .dx-treeview-item {
        padding: @filterbuilder-treeview-item-padding;
    }

    .dx-rtl {
        .dx-treeview-item {
            padding-left: @filterbuilder-treeview-item-horizontal-padding;
        }
    }
}
