@mixin dx-simple-grid-table {
  .dx-simple-grid-table {
    &__header {
      display: flex;
    }

    &__header-cell {
      display: block;
      flex: 0 0 300px;
      padding: 10px;
      font-weight: bold;
    }

    display: block;
  }
}

@mixin dx-simple-grid-row {
  .dx-simple-grid-row {
    &__cell {
      display: block;
      flex: 0 0 300px;
      padding: 10px;
    }

    display: flex;
    width: 100%;
  }
}
