@mixin chat-messagebox(
  $padding,
  $border-color,
  $gap,
  $textarea-border-radius,
  $button-gap
) {
  .dx-chat-messagebox {
    padding: $padding;
    border-top-color: $border-color;
    gap: $gap;
  }

  .dx-chat-messagebox-textarea {
    &.dx-textarea.dx-texteditor {
      border-radius: $textarea-border-radius;
    }
  }

  .dx-chat-messagebox-button {
    margin-bottom: $button-gap;
  }
}
