# See http://help.github.com/ignore-files/ for more about ignoring files.

node_modules

bin
obj
lib
NuGet
.vscode/*
.idea
.vs
.idea
*.orig
*.rej
*.ldf
*proj.user
repository.config.json
converter.tsconfig.json
coverage
artifacts
screenshots
bundles
changed-files.json

!.vscode/settings.json
gulpfile.js/.eslintrc.js

shared/empty-file.js

Demos/**/config.js
Demos/**/tsconfig.json

.DS_Store
publish-demos
