<dx-tree-list
  id="employees"
  [dataSource]="employees"
  keyExpr="ID"
  parentIdExpr="Head_ID"
  [allowColumnReordering]="true"
  [columnAutoWidth]="true"
  [showBorders]="true"
  [showRowLines]="true"
  [autoExpandAll]="true"
>
  <dxo-tree-list-column-fixing [enabled]="true"></dxo-tree-list-column-fixing>
  <dxi-tree-list-column
    caption="Employee"
    [fixed]="true"
    [calculateCellValue]="calculateCellValue"
  ></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Position"
    alignment="right"
    [fixed]="true"
  ></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Address"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="City"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Zipcode"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="State"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Department"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="BirthDate" dataType="date"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="HireDate" dataType="date"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="HomePhone"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="MobilePhone"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Email"></dxi-tree-list-column>
  <dxi-tree-list-column dataField="Skype"></dxi-tree-list-column>
</dx-tree-list>
