@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;

// adduse

$stepper-step-bg: $base-bg !default;
$stepper-step-shadow: $base-typography-bg !default;
$stepper-step-border-color: $base-border-color !default;
$stepper-step-text-color: $base-text-color !default;
$stepper-step-label-color: $base-text-color !default;

$stepper-step-hover-bg: $base-hover-bg !default;
$stepper-step-hover-border-color: $base-border-color-hover !default;

$stepper-step-selected-text-color: $base-inverted-text-color !default;
$stepper-step-selected-bg: $base-accent !default;
$stepper-step-selected-hover-bg: $base-accent-hover !default;
$stepper-step-selected-label-color: $stepper-step-selected-bg !default;
$stepper-step-selected-hover-label-color: $stepper-step-selected-hover-bg !default;

$stepper-step-selected-invalid-bg: $base-danger !default;
$stepper-step-selected-invalid-hover-bg: $base-danger-hover !default;

$stepper-step-invalid-bg: $stepper-step-bg !default;
$stepper-step-invalid-border-color: $stepper-step-border-color !default;
$stepper-step-invalid-text-color: $stepper-step-selected-invalid-bg !default;
$stepper-step-invalid-hover-text-color: $stepper-step-selected-invalid-hover-bg !default;
$stepper-step-invalid-hover-bg: $stepper-step-hover-bg !default;
$stepper-step-invalid-hover-border-color: $stepper-step-hover-border-color !default;
$stepper-step-invalid-label-color: $stepper-step-selected-invalid-bg !default;
$stepper-step-invalid-hover-label-color: $stepper-step-selected-invalid-hover-bg !default;

$stepper-step-focused-border-color: $stepper-step-selected-hover-bg !default;

$stepper-step-disabled-text-color: $base-foreground-disabled !default;
$stepper-step-disabled-bg: $base-background-disabled !default;
$stepper-step-disabled-shadow: $base-bg !default;

$stepper-connector-bg: $base-separator-color !default;
$stepper-connector-value-bg: $base-accent !default;
