@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;
@use "../button/colors" as *;

// adduse

$stepper-step-bg: $base-typography-bg !default;
$stepper-step-hover-bg: $button-normal-hover-bg !default;

$stepper-step-color-selected: $base-inverted-text-color !default;
$stepper-step-selected-bg: $button-default-bg !default;
$stepper-step-selected-hover-bg: $button-default-hover-bg !default;

$stepper-step-invalid-bg: $button-danger-bg !default;
$stepper-step-invalid-hover-bg: $button-danger-hover-bg !default;

$stepper-step-border-color: $base-border-color !default;
$stepper-step-hover-border-color: $base-border-color-hover !default;

$stepper-step-focused-border-color: $base-accent !default;
$stepper-step-selected-border-color: $base-accent !default;

$stepper-connector-bg: $base-border-color !default;
$stepper-connector-value-bg: $base-accent !default;

$stepper-step-disabled-text-color: $base-foreground-disabled !default;
$stepper-step-disabled-bg: null !default;

@if $mode == 'light' {
  $stepper-step-disabled-bg: $base-background-disabled !default;
}

@if $mode == 'dark' {
  $stepper-step-disabled-bg: $base-background-disabled !default;
}
