@use "../sizes" as *;
@use "../../../_design-system/variables/ds" as ds;

// adduse

$fluent-menu-vertical-padding: null !default;

@if $size == "default" {
  $fluent-menu-vertical-padding: ds.$spacing-60 !default;
}

@if $size == "compact" {
  $fluent-menu-vertical-padding: ds.$spacing-40 !default;
}


// Values hoisted from style-file literals (tokenized)
$fluent-menu-treeview-border: ds.$border-width-10 solid !default;
$fluent-menu-treeview-node-border-bottom: ds.$border-width-10 solid !default;
