<div id="chart-demo">
  <dx-chart
    id="chart"
    title="Weather in Las Vegas, NV (2025)"
    [dataSource]="weatherIndicators"
  >
    <dxo-chart-common-series-settings argumentField="date">
    </dxo-chart-common-series-settings>
    <dxi-chart-series
      axis="precipitation"
      color="#03a9f4"
      type="bar"
      valueField="precip"
      name="Precipitation"
    >
    </dxi-chart-series>
    <dxi-chart-series
      axis="temperature"
      color="#ffc0bb"
      type="rangeArea"
      rangeValue1Field="minTemp"
      rangeValue2Field="maxTemp"
      name="Temperature range"
    >
      <dxo-chart-aggregation
        [enabled]="useAggregation"
        method="custom"
        [calculate]="calculateRangeArea"
      >
      </dxo-chart-aggregation>
    </dxi-chart-series>
    <dxi-chart-series
      axis="temperature"
      color="#e91e63"
      valueField="temp"
      name="Average temperature"
    >
      <dxo-chart-point [size]="7"></dxo-chart-point>
      <dxo-chart-aggregation
        #pointsAggregationSettings
        [enabled]="useAggregation"
        method="avg"
      >
      </dxo-chart-aggregation>
    </dxi-chart-series>
    <dxo-chart-argument-axis
      #argumentAxisSettings
      argumentType="datetime"
      aggregationInterval="week"
      [valueMarginsEnabled]="false"
    >
    </dxo-chart-argument-axis>
    <dxi-chart-value-axis name="temperature">
      <dxo-chart-title text="Temperature, °C">
        <dxo-chart-font color="#e91e63"></dxo-chart-font>
      </dxo-chart-title>
      <dxo-chart-label>
        <dxo-chart-font color="#e91e63"></dxo-chart-font>
      </dxo-chart-label>
    </dxi-chart-value-axis>
    <dxi-chart-value-axis name="precipitation" position="right">
      <dxo-chart-title text="Precipitation, mm">
        <dxo-chart-font color="#03a9f4"></dxo-chart-font>
      </dxo-chart-title>
      <dxo-chart-label>
        <dxo-chart-font color="#03a9f4"></dxo-chart-font>
      </dxo-chart-label>
    </dxi-chart-value-axis>
    <dxo-chart-legend [visible]="false"></dxo-chart-legend>
    <dxo-chart-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
    </dxo-chart-tooltip>
  </dx-chart>
  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <dx-check-box text="Aggregation enabled" [(value)]="useAggregation">
      </dx-check-box>
    </div>
    <div class="option">
      <span>Interval:</span>
      <dx-select-box
        [dataSource]="intervals"
        displayExpr="displayName"
        valueExpr="interval"
        [inputAttr]="{ 'aria-label': 'Interval' }"
        [(value)]="argumentAxisSettings.aggregationInterval"
      >
      </dx-select-box>
    </div>
    <div class="option">
      <span>Method:</span>
      <dx-select-box
        [dataSource]="functions"
        [inputAttr]="{ 'aria-label': 'Function' }"
        displayExpr="displayName"
        valueExpr="func"
        [(value)]="pointsAggregationSettings.method"
      >
      </dx-select-box>
    </div>
  </div>
</div>
