<div id="tabs-demo">
  <div [class]="widgetContainerClasses">
    <dx-tabs
      #withText
      [selectedIndex]="0"
      [dataSource]="tabsWithText"
      [scrollByContent]="false"
      [showNavButtons]="false"
    ></dx-tabs>
    <dx-tabs
      #withIconAndText
      [selectedIndex]="0"
      [dataSource]="tabsWithIconAndText"
      [scrollByContent]="false"
      [showNavButtons]="false"
    ></dx-tabs>
    <dx-tabs
      #withIcon
      [selectedIndex]="0"
      [dataSource]="tabsWithIcon"
      [scrollByContent]="false"
      [showNavButtons]="false"
    ></dx-tabs>
  </div>

  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <span>Orientation</span>
      <dx-select-box
        [items]="orientations"
        [inputAttr]="{ 'aria-label': 'Orientation' }"
        (onValueChanged)="onOrientationChanged($event)"
        [(value)]="orientation"
      ></dx-select-box>
    </div>

    <div class="option">
      <span>Styling mode</span>
      <dx-select-box
        [items]="stylingModes"
        [inputAttr]="{ 'aria-label': 'Styling Mode' }"
        (onValueChanged)="onStylingModeChanged($event)"
        [(value)]="stylingMode"
      ></dx-select-box>
    </div>

    <div class="option">
      <span>Icon position</span>
      <dx-select-box
        [items]="iconPositions"
        [inputAttr]="{ 'aria-label': 'Icon Position' }"
        (onValueChanged)="onIconPositionChanged($event)"
        [(value)]="iconPosition"
      ></dx-select-box>
    </div>

    <div class="option">
      <dx-check-box
        text="Show navigation buttons"
        [value]="false"
        id="show-navigation-buttons"
        (onValueChanged)="onShowNavigationChanged($event)"
      ></dx-check-box>
    </div>

    <div class="option">
      <dx-check-box
        text="Scroll content"
        [value]="false"
        id="scroll-content"
        (onValueChanged)="onScrollContentChanged($event)"
      ></dx-check-box>
    </div>
  </div>
</div>
