::ng-deep #tabs-demo {
  display: flex;
  min-height: 450px;
}

::ng-deep .widget-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  row-gap: 80px;
  column-gap: 4px;
  max-width: calc(100% - 300px);
  min-width: 200px;
  padding: 16px 32px;
  overflow: clip;
}

::ng-deep .widget-container-vertical {
  flex-direction: row;
}

::ng-deep .options {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

::ng-deep .dx-tab {
  width: 136px;
}

::ng-deep .caption {
  font-weight: 500;
  font-size: 18px;
}

::ng-deep #show-navigation-buttons {
  margin-top: 22px;
}

::ng-deep .option {
  margin-top: 20px;
}

::ng-deep .dx-viewport:not(.dx-theme-generic) .dx-tabs-horizontal {
  border-bottom: 1px solid rgb(225, 225, 225, 0.4);
}

::ng-deep .dx-viewport:not(.dx-theme-generic) .dx-tabs-vertical {
  border-right: 1px solid rgb(225, 225, 225, 0.4);
}

::ng-deep .dx-tabs-vertical {
  height: 250px;
}
