@use "../mixins" as *;
@use "../gridBase" as *;

// adduse

@include grid-base(treelist);

.dx-treelist-container {
  position: relative;
  cursor: default;
  white-space: normal;
}

.dx-treelist-rowsview {
  .dx-treelist-table:not(.dx-treelist-table-fixed) .dx-treelist-cell-expandable,
  .dx-treelist-best-fit.dx-treelist-cell-expandable {
    white-space: nowrap;

    .dx-treelist-text-content {
      display: inline-block;
      white-space: normal;
    }
  }
}
