<div class="dx-fieldset">
    <div class="dx-field">
        <div class="dx-field-label">Currency format</div>
        <div class="dx-field-value">
            <dx-number-box
                format="$ #,##0.##"
                [value]="14500.55"
            ></dx-number-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Accounting format</div>
        <div class="dx-field-value">
            <dx-number-box
                format="$ #,##0.##;($ #,##0.##)"
                [value]="-2314.12"
            ></dx-number-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Percent format</div>
        <div class="dx-field-value">
            <dx-number-box
                format="#0%"
                [value]="0.15"
                [step]="0.01"
            ></dx-number-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Fixed point format</div>
        <div class="dx-field-value">
            <dx-number-box
                format="#,##0.00"
                [value]="13415.24"
            ></dx-number-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Weight format</div>
        <div class="dx-field-value">
            <dx-number-box
                format="#0.## kg"
                [value]="3.14"
            ></dx-number-box>
        </div>
    </div>
</div>