<dx-data-grid
  [dataSource]="tasksDataSource"
  [showBorders]="true"
  [columnAutoWidth]="true"
>
  <dxi-data-grid-column dataField="Subject" dataType="string"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="StartDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="DueDate" dataType="date"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Priority" dataType="string"></dxi-data-grid-column>
  <dxi-data-grid-column
    caption="Completed"
    dataType="boolean"
    [calculateCellValue]="completedValue"
  ></dxi-data-grid-column>
</dx-data-grid>
