<div>
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Default mode</div>
      <div class="dx-field-value">
        <dx-tag-box
          [items]="simpleProducts"
          [inputAttr]="{ 'aria-label': 'Product' }"
        ></dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Search mode</div>
      <div class="dx-field-value">
        <dx-tag-box
          [items]="simpleProducts"
          [searchEnabled]="true"
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Batch selection</div>
      <div class="dx-field-value">
        <dx-tag-box
          [items]="simpleProducts"
          [showSelectionControls]="true"
          applyValueMode="useButtons"
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Hide selected items</div>
      <div class="dx-field-value">
        <dx-tag-box
          [items]="simpleProducts"
          [hideSelectedItems]="true"
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Single line mode</div>
      <div class="dx-field-value">
        <dx-tag-box
          [items]="simpleProducts"
          [multiline]="false"
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Add custom items</div>
      <div class="dx-field-value">
        <dx-tag-box
          [items]="editableProducts"
          [acceptCustomValue]="true"
          (onCustomItemCreating)="onCustomItemCreating($event)"
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">With custom placeholder</div>
      <div class="dx-field-value">
        <dx-tag-box
          [items]="simpleProducts"
          placeholder="Choose Product..."
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Disabled</div>
      <div class="dx-field-value">
        <dx-tag-box
          [items]="simpleProducts"
          [value]="[simpleProducts[0]]"
          [disabled]="true"
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Data source</div>
      <div class="dx-field-value">
        <dx-tag-box
          [dataSource]="dataSource"
          displayExpr="Name"
          valueExpr="Id"
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
        </dx-tag-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Custom template</div>
      <div class="dx-field-value">
        <dx-tag-box
          [dataSource]="dataSource"
          displayExpr="Name"
          valueExpr="Id"
          itemTemplate="customItem"
          [inputAttr]="{ 'aria-label': 'Product' }"
        >
          <div *dxTemplate="let product of 'customItem'">
            <div class="custom-item">
              <img [src]="product.ImageSrc" />
              <div class="product-name">
                {{ product.Name }}
              </div>
            </div>
          </div>
        </dx-tag-box>
      </div>
    </div>
  </div>
</div>
