<dx-tree-list
  id="tree-list"
  [dataSource]="tasksData"
  keyExpr="Task_ID"
  parentIdExpr="Task_Parent_ID"
  hasItemsExpr="Has_Items"
  [expandedRowKeys]="[1, 2]"
  [showRowLines]="true"
  [showBorders]="true"
  [columnAutoWidth]="true"
  [wordWrapEnabled]="true"
  (onInitNewRow)="initNewRow($event)"
>
  <dxo-tree-list-remote-operations
    [filtering]="true"
    [sorting]="true"
    [grouping]="true"
  ></dxo-tree-list-remote-operations>
  <dxo-tree-list-search-panel [visible]="true"></dxo-tree-list-search-panel>
  <dxo-tree-list-header-filter [visible]="true"></dxo-tree-list-header-filter>
  <dxo-tree-list-editing
    mode="row"
    [allowAdding]="true"
    [allowUpdating]="true"
    [allowDeleting]="true"
  >
  </dxo-tree-list-editing>

  <dxi-tree-list-column dataField="Task_Subject" [minWidth]="250">
    <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
  </dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Assigned_Employee_ID"
    caption="Assigned"
    [minWidth]="120"
  >
    <dxo-tree-list-lookup
      [dataSource]="employeesData"
      valueExpr="ID"
      displayExpr="Name"
    ></dxo-tree-list-lookup>
    <dxi-tree-list-validation-rule type="required"></dxi-tree-list-validation-rule>
  </dxi-tree-list-column>
  <dxi-tree-list-column dataField="Task_Status" caption="Status" [minWidth]="120">
    <dxo-tree-list-lookup [dataSource]="statusesData"></dxo-tree-list-lookup>
  </dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Start_Date"
    caption="Start Date"
    dataType="date"
  ></dxi-tree-list-column>
  <dxi-tree-list-column
    dataField="Task_Due_Date"
    caption="Due Date"
    dataType="date"
  ></dxi-tree-list-column>
</dx-tree-list>
