<dx-card-view
  id="cardView"
  [dataSource]="orders"
  keyExpr="OrderNumber"
  [headerFilter]="headerFilterConfig"
  [cardMinWidth]="100"
  [wordWrapEnabled]="true"
>
  <dxi-card-view-column
    dataField="OrderNumber"
    [headerFilter]="orderNumberHeaderFilterConfig"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="OrderDate"
    dataType="date"
    [calculateFilterExpression]="calculateOrderDateFilterExpression"
    [headerFilter]="orderDateHeaderFilterConfig"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="SaleAmount"
    dataType="number"
    [headerFilter]="saleAmountHeaderFilterConfig"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="StoreCity"
    [headerFilter]="storeCityHeaderFilterConfig"
  ></dxi-card-view-column>
  <dxi-card-view-column
    dataField="StoreState"
    [headerFilter]="storeStateHeaderFilterConfig"
  ></dxi-card-view-column>
  <dxi-card-view-column dataField="Employee"></dxi-card-view-column>
</dx-card-view>
