.dx-chat-message-bubble-container {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  max-width: 70%;
}

.dx-chat-message-group-alignment-start {
  .dx-chat-message-bubble {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.dx-chat-message-group-alignment-end {
  .dx-chat-message-bubble {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
}
