@mixin chat-messagebubble (
  $padding,
  $border-radius,
  $background-color-secondary,
  $background-color-primary,
  $line-height
) {
  .dx-chat-message-bubble {
    padding: $padding;
    background-color: $background-color-secondary;
    line-height: $line-height;
  }

  .dx-chat-message-group-alignment-start {
    .dx-chat-message-bubble {
      &:first-child {
        border-top-left-radius: $border-radius;
      }
  
      &:last-child {
        border-bottom-left-radius: $border-radius;
      }
    }
  }
  
  .dx-chat-message-group-alignment-end {
    .dx-chat-message-bubble {
      &:first-child {
        border-top-right-radius: $border-radius;
      }

      &:last-child {
        border-bottom-right-radius: $border-radius;
      }
    }
  }

  .dx-chat-message-group-alignment-end {
    .dx-chat-message-bubble {
      background-color: $background-color-primary;
    }
  }
}
