<div id="page">
  <dx-responsive-box singleColumnScreen="sm" [(screenByWidth)]="screen">
    <dxi-responsive-box-row [ratio]="1"></dxi-responsive-box-row>
    <dxi-responsive-box-row [ratio]="2"></dxi-responsive-box-row>
    <dxi-responsive-box-row [ratio]="1"></dxi-responsive-box-row>

    <dxi-responsive-box-col [ratio]="1"></dxi-responsive-box-col>
    <dxi-responsive-box-col [ratio]="2" screen="lg"></dxi-responsive-box-col>
    <dxi-responsive-box-col [ratio]="1"></dxi-responsive-box-col>
    <dxi-responsive-box-item>
      <dxi-responsive-box-location
        [row]="0"
        [col]="0"
        [colspan]="3"
        screen="lg"
      ></dxi-responsive-box-location>
      <dxi-responsive-box-location
        [row]="0"
        [col]="0"
        [colspan]="2"
        screen="sm"
      ></dxi-responsive-box-location>
      <div *dxTemplate class="header item">
        <p>Header</p>
      </div>
    </dxi-responsive-box-item>
    <dxi-responsive-box-item>
      <dxi-responsive-box-location
        [row]="1"
        [col]="1"
        screen="lg"
      ></dxi-responsive-box-location>
      <dxi-responsive-box-location
        [row]="1"
        [col]="0"
        [colspan]="2"
        screen="sm"
      ></dxi-responsive-box-location>
      <div *dxTemplate class="content item">
        <p>Content</p>
      </div>
    </dxi-responsive-box-item>
    <dxi-responsive-box-item>
      <dxi-responsive-box-location
        [row]="1"
        [col]="0"
        screen="lg"
      ></dxi-responsive-box-location>
      <dxi-responsive-box-location
        [row]="2"
        [col]="0"
        screen="sm"
      ></dxi-responsive-box-location>
      <div *dxTemplate class="left-side-bar item">
        <p>Left Bar</p>
      </div>
    </dxi-responsive-box-item>
    <dxi-responsive-box-item>
      <dxi-responsive-box-location
        [row]="1"
        [col]="2"
        screen="lg"
      ></dxi-responsive-box-location>
      <dxi-responsive-box-location
        [row]="2"
        [col]="1"
        screen="sm"
      ></dxi-responsive-box-location>
      <div *dxTemplate class="right-side-bar item">
        <p>Right Bar</p>
      </div>
    </dxi-responsive-box-item>
    <dxi-responsive-box-item>
      <dxi-responsive-box-location
        [row]="2"
        [col]="0"
        [colspan]="3"
        screen="lg"
      ></dxi-responsive-box-location>
      <dxi-responsive-box-location
        [row]="3"
        [col]="0"
        [colspan]="2"
        screen="sm"
      ></dxi-responsive-box-location>
      <div *dxTemplate class="footer item">
        <p>Footer</p>
      </div>
    </dxi-responsive-box-item>
  </dx-responsive-box>
</div>
