::ng-deep .demo-container,
#page {
  height: 100%;
  min-height: 300px;
}

::ng-deep #page .header {
  background-color: #C6B1DE;
  text-align: center;
}

::ng-deep #page .content {
  background-color: #EDBBE7;
}

::ng-deep #page .left-side-bar {
  background-color: #F9E2AE;
}

::ng-deep #page .right-side-bar {
  background-color: #9FD89F;
}

::ng-deep #page .footer {
  background-color: #B4D6FA;
}

::ng-deep .item {
  height: 100%;
}

::ng-deep #page p {
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  color: #000;
}
