@use "../../../_design-system/variables/ds" as ds;

$check-box-border: ds.$color-border-contrast !default;
$check-box-border-hovered: ds.$color-border-contrast-hovered !default;
$check-box-border-active: ds.$color-border-contrast-active !default;

$check-box-icon-bg: ds.$color-content-inverted !default;
$check-box-mark-content: ds.$color-content-inverted !default;

$check-box-icon-checked-bg: ds.$color-bg-primary-shared !default;
$check-box-icon-checked-bg-hovered: ds.$color-bg-primary-shared-hovered !default;

$check-box-icon-checked-bg-focused: ds.$color-bg-primary-shared-hovered !default;
$check-box-icon-checked-bg-active: ds.$color-bg-primary-shared-active !default;

$check-box-icon-checked-border: ds.$color-border-primary-shared !default;
$check-box-icon-checked-border-hovered: ds.$color-border-primary-shared-hovered !default;
$check-box-icon-checked-border-focused: ds.$color-border-primary-shared-hovered !default;
$check-box-icon-checked-border-active: ds.$color-border-primary-shared-active !default;

$check-box-invalid-border: ds.$color-border-danger-shared !default;
$check-box-invalid-border-hovered: ds.$color-border-danger-shared-hovered !default;
$check-box-invalid-border-focused: ds.$color-border-danger-shared-hovered !default;
$check-box-invalid-border-active: ds.$color-border-danger-shared-active !default;

$check-box-invalid-bg: ds.$color-bg-danger-shared !default;
$check-box-invalid-bg-hovered: ds.$color-bg-danger-shared-hovered !default;
$check-box-invalid-bg-focused: ds.$color-bg-danger-shared-hovered !default;
$check-box-invalid-bg-active: ds.$color-bg-danger-shared-active !default;

$check-box-invalid-mark-bg: ds.$color-content-danger-shared !default;
$check-box-invalid-mark-bg-hovered: ds.$color-content-danger-shared-hovered !default;
$check-box-invalid-mark-bg-focused: ds.$color-content-danger-shared-hovered !default;
$check-box-invalid-mark-bg-active: ds.$color-content-danger-shared-active !default;

$check-box-border-disabled: ds.$color-border-disabled !default;

$check-box-border-read-only: ds.$color-border-disabled !default;
$check-box-icon-bg-disabled: ds.$color-content-disabled !default;
