@use "../../../_design-system/variables/ds" as ds;

$splitter-bar-border: ds.$color-border !default;
$splitter-bar-bg-active: ds.$color-bg-primary-alpha-active !default;

$splitter-bar-border-disabled: ds.$color-border-disabled !default;
