@use "colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/splitterBar" with (
  $splitterbar-splitter-border-width: var(--dx-splitter-bar-border-width),
  $splitterbar-splitter-bar-width: var(--dx-splitter-bar-width),
);

// adduse
.dx-splitter-bar {
  background-color: var(--dx-splitter-bar-bg-active);

  &.dx-splitter-inactive {
    background-color: var(--dx-splitter-bar-border-rest);
  }
}

.dx-splitter-border {
  background-color: transparent;
}
