@use "sass:math";
@use "colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../button/sizes" as buttonSizes;
@use "../textEditor/colors" as textEditorColors;
@use "../textEditor/index" as *;
@use "../toolbar/sizes" as toolbarSizes;
@use "../common/mixins" as *;
@use "../common/sizes" as *;
@use "../fileUploader/sizes" as fileUploaderSizes;
@use "../popup/sizes" as popupSizes;
@use "../../base/mixins" as *;
@use "../../base/htmlEditor" with (
  $htmleditor-code-block-bg: $html-editor-code-block-bg,
  $htmleditor-placeholder-color: $html-editor-placeholder-content,
  $htmleditor-aidialog-title-font-weight: $html-editor-ai-dialog-title-font-weight,
);

.dx-htmleditor {
  border-color: transparent;
  position: relative;

  .dx-htmleditor-toolbar-wrapper {
    padding: 0 $html-editor-toolbar-padding;
    position: relative;
  }

  &::before {
    left: 0;
    right: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    content: "";
    position: absolute;
    z-index: 2;
    transform: scale(0);
  }

  &.dx-state-readonly,
  &.dx-state-disabled {
    .dx-htmleditor-toolbar-wrapper::before {
      position: absolute;
      top: $html-editor-toolbar-wrapper-inset-block-start;
      bottom: $html-editor-toolbar-wrapper-inset-block-end;
      left: $html-editor-toolbar-wrapper-inset-inline-start;
      right: $html-editor-toolbar-wrapper-inset-inline-end;
      z-index: 2;
      background-color: $html-editor-cover-bg;
      content: "";
      pointer-events: none;
    }
  }

  &.dx-state-focused,
  &.dx-state-active {
    &::before {
      border-bottom: $html-editor-border-block-end-active;
      border-bottom-color: textEditorColors.$text-editor-indicator;
      transform: scale(1);
      transition-property: transform;
      transition-duration: 0.2s;
      transition-timing-function: cubic-bezier(0.1, 0.9, 0.2, 1);
    }
  }

  &.dx-htmleditor-outlined {
    @include texteditor-outlined-styling();

    .dx-htmleditor-content {
      margin: $html-editor-content-margin;
      margin-inline-start: 0;
    }

    .dx-htmleditor-toolbar-wrapper + .dx-quill-container .dx-htmleditor-content {
      margin-top: 0;
    }
  }

  &.dx-htmleditor-filled {
    @include texteditor-filled-styling();
  }

  &.dx-htmleditor-underlined {
    &::after {
      left: 0;
      right: 0;
      bottom: 0;
      height: 0;
      width: 100%;
      content: "";
      position: absolute;
    }

    @include texteditor-underlined-styling();

    .dx-htmleditor-content {
      padding-inline-start: 0;
    }
  }

  &.dx-state-disabled {
    opacity: 1;
  }
}

.dx-invalid.dx-htmleditor {
  &.dx-state-hover {
    &::after {
      border-bottom-color: textEditorColors.$text-editor-invalid-border;
    }
  }

  &.dx-state-focused,
  &.dx-state-active {
    &::before {
      border-bottom: $html-editor-border-block-end-active;
      border-bottom-color: textEditorColors.$text-editor-invalid-border-focused;
    }
  }
}

.dx-htmleditor-content {
  line-height: $global-line-height;
  padding: $html-editor-padding-block $html-editor-padding-inline;

  &.ql-blank::before { // stylelint-disable-line selector-class-pattern
    color: textEditorColors.$text-editor-placeholder;
  }

  code,
  .ql-code-block-container { // stylelint-disable-line selector-class-pattern
    color: $html-editor-faded-content;
  }

  blockquote {
    color: $html-editor-faded-content;
    border-inline-start-color: $html-editor-toolbar-border;
  }

  .dx-variable {
    & > span {
      background: $html-editor-variable-bg;
    }
  }

  td,
  th {
    border-color: $html-editor-table-border;
  }
}

@mixin dx-htmleditor-button-states($default-color, $hover-color, $focused-color) {
  background-color: $default-color;

  &.dx-state-hover {
    background-color: $hover-color;
  }

  &.dx-state-focused {
    background-color: $focused-color;
  }
}

.dx-htmleditor-toolbar {
  background-color: transparent;
}

.dx-htmleditor-toolbar-format {
  &.dx-dropdowneditor.dx-editor-filled {
    background-color: transparent;

    &::after {
      border-bottom-color: transparent;
    }
  }

  &.dx-color-format,
  &.dx-background-format {
    .dx-button-content {
      padding-bottom: calc(#{buttonSizes.$button-padding-block} - 3px);
    }
  }

  &.dx-size-format {
    width: $html-editor-toolbar-size-editor-width;
  }
}

.dx-htmleditor-toolbar-separator {
  height: calc((#{toolbarSizes.$toolbar-height}) / 2);
  border-inline-start-color: $html-editor-toolbar-border;
}

.dx-htmleditor-toolbar-menu-separator {
  border-top-color: $html-editor-toolbar-border;
  margin-top: $html-editor-toolbar-menu-separator-margin;
  margin-bottom: $html-editor-toolbar-menu-separator-margin;
}

.dx-resize-frame {
  border-color: $html-editor-resize-frame-border;

  .dx-resizable-handle-corner-top-right,
  .dx-resizable-handle-corner-top-left,
  .dx-resizable-handle-corner-bottom-right,
  .dx-resizable-handle-corner-bottom-left {
    background-color: $html-editor-resize-trigger;
  }

  .dx-resizable-handle-top,
  .dx-resizable-handle-left,
  .dx-resizable-handle-right,
  .dx-resizable-handle-bottom {
    &::after {
      background-color: $html-editor-resize-trigger;
    }
  }
}

.dx-htmleditor-add-image-popup > .dx-overlay-content > .dx-popup-content {
  .dx-collection .dx-field-item:not(.dx-last-col) {
    padding-inline-end: $html-editor-add-image-dialog-padding-inline-end;
  }

  .dx-fix-ratio-container {
    .dx-textbox {
      width: calc(100% - buttonSizes.$button-height - $html-editor-add-image-dialog-padding-inline-end);
    }

    .dx-buttongroup {
      margin-inline-start: $html-editor-add-image-dialog-padding-inline-end;
      width: buttonSizes.$button-height;
      margin-top: calc((#{$global-inline-widget-height} - #{buttonSizes.$button-height}) / 2);
    }
  }

  .dx-collection .dx-field-item:not(.dx-first-col) {
    padding-inline-start: 0;
  }

  .dx-tabs {
    padding: 0 $html-editor-add-image-dialog-tabs-padding;
  }

  .dx-fileuploader-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $html-editor-input-wrapper-gap;
    padding: $html-editor-add-image-dialog-file-uploader-padding;
    border-width: $html-editor-file-uploader-input-wrapper-border-width;
    border-style: dashed;
    border-color: $html-editor-file-uploader-input-wrapper-border;
    border-radius: $html-editor-file-uploader-input-wrapper-border-radius;
    background-color: $html-editor-file-uploader-input-wrapper-bg;

    &::after,
    &::before {
      content: none;
    }

    .dx-fileuploader-input-label {
      text-align: center;
      border-width: 0;
    }
  }
}

.dx-htmleditor-add-image-popup {
  .dx-fileuploader-dragover {
    .dx-fileuploader-input {
      padding-top: fileUploaderSizes.$file-uploader-padding-block;
      padding-bottom: calc(#{fileUploaderSizes.$file-uploader-padding-block} + 1px);
    }

    .dx-fileuploader-content {
      background-color: $html-editor-uploader-cover-bg;
    }
  }
}

.dx-formdialog-field-target .dx-field-item-content {
  text-align: start;
}

.dx-mention {
  background-color: $html-editor-mention-bg;
}

.dx-suggestion-list-wrapper {
  @include dx-dropdownlist-list-appearance();
}

.dx-table-resize-frame {
  > .dx-draggable-dragging + .dx-htmleditor-highlighted-column,
  > .dx-draggable-dragging + .dx-htmleditor-highlighted-row {
    background-color: $html-editor-highlighted-row-bg;
  }
}

.dx-formdialog.dx-dropdowneditor-overlay.dx-popup-wrapper .dx-overlay-content {
  box-shadow: popupSizes.$popup-content-box-shadow;
}

.dx-aidialog-controls {
  gap: $html-editor-ai-dialog-selects-gap;

  .dx-selectbox {
    max-width: calc(50% - $html-editor-ai-dialog-selects-gap * 0.5);
  }
}

.dx-aidialog-content {
  padding: $html-editor-ai-dialog-content-padding;
  gap: $html-editor-ai-dialog-content-gap;
}

.dx-aidialog {
  .dx-pending-indicator {
    @include dx-pending-indicator-centered();
  }

  &.dx-popup-wrapper > .dx-overlay-content {
    border-radius: $html-editor-ai-dialog-border-radius;
  }
}
