@use "../../../_design-system/variables/ds" as ds;

// adduse

$progress-bar-bg-rest: ds.$progress-bar-progress-line-color-track-rest !default;

$progress-bar-range-bg-rest: ds.$progress-bar-progress-line-color-indicator-rest !default;
$progress-bar-container-bg-disabled: ds.$progress-bar-progress-line-color-track-disabled !default;
$progress-bar-range-bg-disabled: ds.$progress-bar-progress-line-color-indicator-disabled !default;
$progress-bar-range-indeterminate-bg-rest: ds.$progress-bar-progress-line-color-indicator-indeterminate-gradient-center !default;
$progress-bar-range-invalid-bg-rest: ds.$color-surface-danger-default-rest !default;

$progress-bar-indeterminate-bg-rest: -90deg, transparent 5%, $progress-bar-range-indeterminate-bg-rest, transparent 95%;
$progress-bar-indeterminate-bg-disabled: -90deg, transparent 5%, $progress-bar-range-bg-disabled, transparent 95%;
$progress-bar-indeterminate-invalid-bg-rest: -90deg, transparent 5%, $progress-bar-range-invalid-bg-rest, transparent 95%;

$progress-bar-label-content-rest: ds.$color-content-neutral-default-rest !default;

$progress-bar-content-disabled: ds.$color-content-neutral-default-disabled !default;
