@use "../sizes" as *;

// adduse

$generic-xl-font-size: null !default;
$generic-l-font-size: null !default;
$generic-m-font-size: null !default;
$generic-s-font-size: null !default;
$generic-xs-font-size: null !default;
$generic-h3-font-size: null !default;
$generic-h5-font-size: null !default;

@if $size == "default" {
  $generic-xl-font-size: 34px;
  $generic-l-font-size: 28px;
  $generic-m-font-size: 20px;
  $generic-s-font-size: 18px;
  $generic-xs-font-size: 12px;
  $generic-h3-font-size: 22px;
  $generic-h5-font-size: 16px;
}

@else if $size == "compact" {
  $generic-xl-font-size: 29px;
  $generic-l-font-size: 24px;
  $generic-m-font-size: 18px;
  $generic-s-font-size: 16px;
  $generic-xs-font-size: 10px;
  $generic-h3-font-size: 20px;
  $generic-h5-font-size: 14px;
}
