@use "../sizes" as *;

// adduse

$MATERIAL_TIMEVIEW_CLOCK_MIN_SIZE: null !default;
$MATERIAL_TIMEVIEW_CLOCK_IMAGE_MIN_SIZE: null !default;
$MATERIAL_TIMEVIEW_FIELD_MIN_HEIGHT: null !default;
$MATERIAL_TIMEVIEW_ARROW_HEIGHT_REDUCE: null !default;
$MATERIAL_TIMEVIEW_FIELD_NUMBERBOX_REDUCE: null !default;
$MATERIAL_TIMEVIEW_CLOCK_ADDITIONAL_SIZE: null !default;
$MATERIAL_TIMEVIEW_TIME_SEPARATOR_MARGIN: null !default;
$MATERIAL_TIMEVIEW_FORMAT12_WIDTH: null !default;

@if $size == "default" {
  $MATERIAL_TIMEVIEW_CLOCK_MIN_SIZE: 252px;
  $MATERIAL_TIMEVIEW_CLOCK_IMAGE_MIN_SIZE: 215px;
  $MATERIAL_TIMEVIEW_FIELD_MIN_HEIGHT: 35px;
  $MATERIAL_TIMEVIEW_ARROW_HEIGHT_REDUCE: 0;
  $MATERIAL_TIMEVIEW_FIELD_NUMBERBOX_REDUCE: 0;
  $MATERIAL_TIMEVIEW_CLOCK_ADDITIONAL_SIZE: 8px;
  $MATERIAL_TIMEVIEW_TIME_SEPARATOR_MARGIN: 5px;
  $MATERIAL_TIMEVIEW_FORMAT12_WIDTH: 70px;
}

@else if $size == "compact" {
  $MATERIAL_TIMEVIEW_CLOCK_MIN_SIZE: 200px;
  $MATERIAL_TIMEVIEW_CLOCK_IMAGE_MIN_SIZE: 190px;
  $MATERIAL_TIMEVIEW_FIELD_MIN_HEIGHT: 35px;
  $MATERIAL_TIMEVIEW_ARROW_HEIGHT_REDUCE: 0;
  $MATERIAL_TIMEVIEW_FIELD_NUMBERBOX_REDUCE: 0;
  $MATERIAL_TIMEVIEW_CLOCK_ADDITIONAL_SIZE: 8px;
  $MATERIAL_TIMEVIEW_TIME_SEPARATOR_MARGIN: 5px;
  $MATERIAL_TIMEVIEW_FORMAT12_WIDTH: 56px;
}
