@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../button/mixins" as *;
@use "../button/colors" as *;
@use "../typography/sizes" as *;
@use "../../base/calendar";

// adduse

$generic-calendar-base-size: 28px;
$generic-calendar-table-header-font-size: 10px;

.dx-calendar {
  width: 226px;// $generic-calendar-width;
  min-width: 226px; // $generic-calendar-width;
  height: 286; // $generic-calendar-height + 20px;
  min-height: 286px; // $generic-calendar-height + 20px;
  background-color: $calendar-bg;
  border: 1px solid transparent;

  &.dx-calendar-with-footer {

    // height: $generic-calendar-height + $generic-calendar-footer-height + 10px + 20px;

    // min-height: $generic-calendar-height + $generic-calendar-footer-height;
  }
}

.dx-calendar-navigator {
  .dx-button {
    border-radius: 0;
    border-color: $calendar-navigator-border-color;

    &.dx-calendar-disabled-navigator-link {
      visibility: visible;
      opacity: 1;

      .dx-button-content {
        opacity: 0.5;
      }
    }

    &.dx-state-active:not(.dx-calendar-disabled-navigator-link) {
      z-index: 1;
    }

    &.dx-state-hover:not(.dx-calendar-disabled-navigator-link) {
      z-index: 1;
      border-color: $calendar-navigator-hover-border-color;
    }
  }

  .dx-calendar-caption-button {
    font-weight: bold;

    &.dx-button {
      &.dx-state-active {
        background-color: $calendar-button-caption-active-bg;
      }

      .dx-button-content {
        color: $calendar-button-caption-color;
      }
    }
  }
}

.dx-calendar-navigator-previous-view,
.dx-calendar-navigator-next-view {
  &.dx-button {
    .dx-icon {
      color: $calendar-shevron-icon-color;
    }
  }
}

.dx-calendar-navigator-previous-view {
  margin-right: -1px;

  &.dx-button {
    border-radius: $calendar-navigator-border-radius 0 0 $calendar-navigator-border-radius;
  }
}

.dx-calendar-navigator-next-view {
  margin-left: -1px;

  &.dx-button {
    border-radius: 0 $calendar-navigator-border-radius $calendar-navigator-border-radius 0;
  }
}

.dx-calendar-body {
  thead {
    font-weight: bold;
    text-transform: uppercase;

    tr {
      height: $generic-calendar-base-size;

      th {
        box-shadow: inset 0 -1px 0 $calendar-border-color;
        color: $calendar-header-color;
      }
    }
  }

  table {
    border-spacing: 0;

    th {
      color: $calendar-header-color;
      font-weight: 500;
      text-align: center;
      font-size: $generic-calendar-table-header-font-size;
    }

    .dx-week-number-header {
      color: $calendar-cell-selected-bg;
      width: $generic-calendar-base-size;
    }

    .dx-calendar-week-number-cell {
      color: $calendar-cell-selected-bg;
      font-size: $generic-calendar-week-number-cell-font-size;
      width: 28px;
    }
  }
}

.dx-calendar-cell {
  color: $calendar-color;
  font-size: $generic-calendar-cell-font-size;
  border: 1px double transparent;
  width: 39px;
  min-height: $generic-calendar-base-size;
  border-radius: $calendar-cell-contoured-border-radius;

  &.dx-calendar-today {
    font-weight: bold;
  }

  &.dx-state-hover {
    box-shadow: inset 0 -1px 0 1000px $calendar-hover-bg;
    color: $calendar-cell-hover-color;
  }

  &.dx-calendar-other-view:not(.dx-calendar-selected-date),
  &.dx-calendar-empty-cell:not(.dx-calendar-selected-date) {
    color: $calendar-cell-other-color;

    &.dx-state-hover,
    &.dx-state-active {
      color: $calendar-cell-other-hover-color;
    }
  }

  &.dx-calendar-empty-cell {
    cursor: default;
    background: $calendar-cell-empty-bg;

    &.dx-state-hover:not(.dx-calendar-selected-date) {
      box-shadow: none;
    }
  }

  &.dx-state-active {
    &:not(.dx-calendar-empty-cell) {
      &:not(.dx-calendar-selected-date) {
        box-shadow: inset 0 -1px 0 1000px $calendar-cell-active-bg;
      }
    }
  }

  &.dx-calendar-contoured-date:not(.dx-calendar-empty-cell) {
    box-shadow: inset 0 0 0 1px $calendar-cell-contoured-border-color;
  }

  &.dx-calendar-selected-date {
    &,
    &.dx-calendar-today {
      color: $base-inverted-text-color;
      box-shadow: inset 0 0 0 1000px $calendar-cell-selected-bg;
      font-weight: normal;

      &.dx-calendar-contoured-date {
        box-shadow: inset 0 0 0 1px $calendar-cell-contoured-border-color, inset 0 0 0 1000px $calendar-cell-selected-bg;
      }
    }
  }
}

.dx-invalid {
  &.dx-calendar {
    border-color: $calendar-invalid-faded-border-color;

    &.dx-state-focused {
      border-color: $calendar-invalid-focused-border-color;
    }
  }
}
