@use "../sizes" as *;

// adduse

$generic-calendar-legacy-width: null !default;

$material-calendar-body-legacy-height: null !default;

$generic-calendar-cell-base-size: null !default;

@if $size == "default" {
  $generic-calendar-legacy-width: 282px;

  $material-calendar-body-legacy-height: 222.59px !default;

  $generic-calendar-cell-base-size: 2em;
}

@else if $size == "compact" {
  $generic-calendar-legacy-width: 232px;

  $material-calendar-body-legacy-height: 189.4px !default;

  $generic-calendar-cell-base-size: 2em;
}
