@use "../sizes" as *;

// adduse

$generic-calendar-cell-font-size: null !default;
$generic-calendar-week-number-cell-font-size: null !default;
$generic-calendar-cell-horizontal-padding: null !default;

@if $size == "default" {
  $generic-calendar-cell-font-size: 14px !default;
  $generic-calendar-week-number-cell-font-size: 12px !default;
  $generic-calendar-cell-horizontal-padding: 8px !default;
}

@else if $size == "compact" {
  $generic-calendar-cell-font-size: 12px !default;
  $generic-calendar-week-number-cell-font-size: 11px !default;
  $generic-calendar-cell-horizontal-padding: 3px !default;
}
