<div class="form">
  <div class="dx-fieldset">
    <div class="dx-field">
      <div class="dx-field-label">Default mode</div>
      <div class="dx-field-value">
        <dx-text-box
          value="John Smith"
          [inputAttr]="{ 'aria-label': 'Name' }"
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">With placeholder</div>
      <div class="dx-field-value">
        <dx-text-box
          placeholder="Enter full name here..."
          [inputAttr]="{ 'aria-label': 'Full Name' }"
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">With clear button</div>
      <div class="dx-field-value">
        <dx-text-box
          value="John Smith"
          [showClearButton]="true"
          [inputAttr]="{ 'aria-label': 'Name' }"
        >
        </dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Password mode</div>
      <div class="dx-field-value">
        <dx-text-box
          mode="password"
          [inputAttr]="{ 'aria-label': 'Password' }"
          placeholder="Enter password"
          [showClearButton]="true"
          value="f5lzKs0T"
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Text mask</div>
      <div class="dx-field-value">
        <dx-text-box
          mask="+1 (X00) 000-0000"
          [maskRules]="rules"
          [inputAttr]="{ 'aria-label': 'Mask' }"
        >
        </dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Disabled</div>
      <div class="dx-field-value">
        <dx-text-box
          value="John Smith"
          [disabled]="true"
          [inputAttr]="{ 'aria-label': 'Name' }"
        >
        </dx-text-box>
      </div>
    </div>
  </div>
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Events and API</div>
    <div class="dx-field">
      <div class="dx-field-label">Full Name</div>
      <div class="dx-field-value">
        <dx-text-box
          value="Smith"
          [showClearButton]="true"
          placeholder="Enter full name"
          valueChangeEvent="keyup"
          [inputAttr]="{ 'aria-label': 'Full Name' }"
          (onValueChanged)="valueChanged($event)"
        ></dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Email (read only)</div>
      <div class="dx-field-value">
        <dx-text-box
          [readOnly]="true"
          [hoverStateEnabled]="false"
          [inputAttr]="{ 'aria-label': 'Email' }"
          [(value)]="emailValue"
        ></dx-text-box>
      </div>
    </div>
  </div>
</div>
