@use "../sizes" as *;

// adduse

$generic-xl-font-size: null !default;
$generic-l-font-size: null !default;
$generic-m-font-size: null !default;
$generic-s-font-size: null !default;
$generic-xs-font-size: null !default;
$generic-h3-font-size: null !default;
$generic-h5-font-size: null !default;

@if $size == "default" {
  $generic-xl-font-size: 34px !default;
  $generic-l-font-size: 28px !default;
  $generic-m-font-size: 20px !default;
  $generic-s-font-size: 18px !default;
  $generic-xs-font-size: 12px !default;
  $generic-h3-font-size: 22px !default;
  $generic-h5-font-size: 16px !default;
}

@else if $size == "compact" {
  $generic-xl-font-size: 29px !default;
  $generic-l-font-size: 24px !default;
  $generic-m-font-size: 18px !default;
  $generic-s-font-size: 16px !default;
  $generic-xs-font-size: 10px !default;
  $generic-h3-font-size: 20px !default;
  $generic-h5-font-size: 14px !default;
}
