<div id="descContainer"
  >Sort and filter data, group, reorder and resize columns, change page numbers
  and page size. Once you are done,
  <a (click)="onRefreshClick()">refresh</a> the web page to see that the grid’s
  state is automatically persisted to continue working from where you stopped or
  you can <a (click)="onStateResetClick()">reset</a> the grid to its initial
  state.</div
>
<dx-data-grid
  id="gridContainer"
  [dataSource]="orders"
  [keyExpr]="'ID'"
  [allowColumnResizing]="true"
  [allowColumnReordering]="true"
  [width]="'100%'"
  [showBorders]="true"
>
  <dxo-data-grid-selection mode="single"></dxo-data-grid-selection>
  <dxo-data-grid-filter-row [visible]="true"></dxo-data-grid-filter-row>
  <dxo-data-grid-group-panel [visible]="true"></dxo-data-grid-group-panel>
  <dxo-data-grid-state-storing
    [enabled]="true"
    type="localStorage"
    storageKey="storage"
  ></dxo-data-grid-state-storing>
  <dxo-data-grid-pager
    [visible]="true"
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[5, 10, 20]"
  ></dxo-data-grid-pager>

  <dxi-data-grid-column
    dataField="OrderNumber"
    [width]="130"
    caption="Invoice Number"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="OrderDate"
    sortOrder="desc"
    dataType="date"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="SaleAmount"
    alignment="right"
    format="currency"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="CustomerStoreCity" caption="City"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="CustomerStoreState"
    caption="State"
    [groupIndex]="0"
  ></dxi-data-grid-column>
</dx-data-grid>
