<dx-scheduler
    [height]="600"
    [currentDate]="currentDate"
    [dataSource]="appointments"
    [views]="[
        {
            type: 'timelineWorkWeek',
            name: 'Timeline',
            groupOrientation: 'vertical'
        },
        {
            type: 'workWeek',
            groupOrientation: 'vertical'
        },
        {
            type: 'month',
            groupOrientation: 'horizontal'
        }
    ]"
    currentView="timelineWorkWeek"
    [firstDayOfWeek]="0"
    [startDayHour]="8"
    [endDayHour]="20"
    [cellDuration]="60"
    [showAllDayPanel]="false"
    [scrolling]="{
        mode: 'virtual'
    }"
    [groups]="['humanId']"
    [resources]="[{
        fieldExpr: 'humanId',
        dataSource: resources,
    }]"
>
</dx-scheduler>