<dx-chart
  id="container"
  [dataSource]="dataSource"
  title="Australian Olympic Medal Count"
>
  <dxi-chart-series
    valueField="bronze"
    name="Bronze Medals"
    color="#cd7f32"
  ></dxi-chart-series>
  <dxi-chart-series
    valueField="silver"
    name="Silver Medals"
    color="#c0c0c0"
  ></dxi-chart-series>
  <dxi-chart-series valueField="gold" name="Gold Medals" color="#ffd700"></dxi-chart-series>
  <dxo-chart-common-series-settings type="stepline" argumentField="year">
    <dxo-stepline>
      <dxo-chart-point [visible]="false"></dxo-chart-point>
    </dxo-stepline>
  </dxo-chart-common-series-settings>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxo-chart-argument-axis>
    <dxo-chart-label>
      <dxo-chart-format type="decimal"></dxo-chart-format>
    </dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-chart-legend>
</dx-chart>
