<div id="chart-demo">
  <dx-chart
    id="zoomedChart"
    [dataSource]="stockPrices"
    title="Google Inc. Stock Prices"
  >
    <dxi-chart-series
      type="candleStick"
      openValueField="Open"
      highValueField="High"
      lowValueField="Low"
      closeValueField="Close"
      argumentField="Date"
    >
      <dxo-chart-aggregation [enabled]="true"></dxo-chart-aggregation>
    </dxi-chart-series>
    <dxo-chart-margin [right]="10"></dxo-chart-margin>
    <dxi-chart-value-axis valueType="numeric"></dxi-chart-value-axis>
    <dxo-chart-argument-axis
      [valueMarginsEnabled]="false"
      argumentType="datetime"
      [visualRange]="visualRange"
    >
      <dxo-chart-grid [visible]="true"></dxo-chart-grid>
      <dxo-chart-label [visible]="false"></dxo-chart-label>
    </dxo-chart-argument-axis>
    <dxo-chart-legend [visible]="false"></dxo-chart-legend>
    <dxo-chart-tooltip [enabled]="true"></dxo-chart-tooltip>
  </dx-chart>
  <dx-range-selector [dataSource]="stockPrices" [(value)]="visualRange">
    <dxo-range-selector-size [height]="120"></dxo-range-selector-size>
    <dxo-range-selector-scale
      minorTickInterval="day"
      tickInterval="month"
      valueType="datetime"
      aggregationInterval="week"
      [placeholderHeight]="20"
    >
    </dxo-range-selector-scale>
    <dxo-range-selector-behavior valueChangeMode="onHandleMove" [snapToTicks]="false">
    </dxo-range-selector-behavior>
    <dxo-range-selector-chart>
      <dxo-range-selector-value-axis valueType="numeric"></dxo-range-selector-value-axis>
      <dxi-range-selector-series type="line" valueField="Open" argumentField="Date">
        <dxo-range-selector-aggregation [enabled]="true"></dxo-range-selector-aggregation>
      </dxi-range-selector-series>
    </dxo-range-selector-chart>
  </dx-range-selector>
</div>
