<dx-polar-chart
  id="chart"
  title="Archimedean Spiral"
  [dataSource]="coordinates"
>
  <dxi-polar-chart-series type="line" name="Function" [closed]="false"></dxi-polar-chart-series>
  <dxo-polar-chart-argument-axis
    [inverted]="true"
    [startAngle]="90"
    [tickInterval]="45"
    [period]="360"
  >
  </dxo-polar-chart-argument-axis>
  <dxo-polar-chart-export [enabled]="true"></dxo-polar-chart-export>
  <dxo-polar-chart-legend [visible]="false"></dxo-polar-chart-legend>
</dx-polar-chart>
