@use "sass:color";
@use "../sizes" as *;
@use "../colors" as *;

// adduse

/**
* $name 150. Pager selected item text color
* $type color
*/
$pager-page-selected-color: null !default;

/**
* $name 160. Pager selected item background color
* $type color
*/
$pager-page-selected-bg: null !default;
$pager-page-selected-border-color: null !default;
$pager-page-border-radius: $base-border-radius - 1px !default;

@if $color == "carmine" {
  $pager-page-selected-color: lighten($base-text-color, 100%) !default;
  $pager-page-selected-bg: $base-accent !default;
  $pager-page-selected-border-color: transparent !default;
}

@if $color == "contrast" {
  $pager-page-selected-bg: $base-inverted-bg !default;
  $pager-page-selected-border-color: $base-border-color !default;
  $pager-page-selected-color: $base-inverted-text-color !default;
}

@if $color == "dark" {
  $pager-page-selected-color: $base-text-color !default;
  $pager-page-selected-bg: lighten($base-bg, 17%) !default;
  $pager-page-selected-border-color: transparent !default;
}

@if $color == "darkmoon" {
  $pager-page-selected-color: $base-bg !default;
  $pager-page-selected-bg: $base-accent !default;
  $pager-page-selected-border-color: transparent !default;
}

@if $color == "darkviolet" {
  $pager-page-selected-bg: lighten($base-bg, 17%) !default;
  $pager-page-selected-border-color: transparent !default;
  $pager-page-selected-color: $base-text-color !default;
}

@if $color == "greenmist" {
  $pager-page-selected-bg: $base-link-color !default;
  $pager-page-selected-border-color: transparent !default;
  $pager-page-selected-color: lighten($base-text-color, 100%) !default;
}

@if $color == "light" {
  $pager-page-selected-color: $base-text-color !default;
  $pager-page-selected-bg: darken($base-bg, 17%) !default;
  $pager-page-selected-border-color: transparent !default;
}

@if $color == "softblue" {
  $pager-page-selected-color: $base-text-color !default;
  $pager-page-selected-bg: $base-border-color !default;
  $pager-page-selected-border-color: transparent !default;
}
