<dx-chart id="chart" [dataSource]="productionData" palette="violet">
  <dxo-chart-common-series-settings
    argumentField="country"
    type="bar"
    valueField="oil"
  >
  </dxo-chart-common-series-settings>
  <dxo-chart-series-template nameField="year" [customizeSeries]="customizeSeries">
  </dxo-chart-series-template>
  <dxo-chart-title text="Oil Production">
    <dxo-chart-subtitle text="(in millions tonnes)"></dxo-chart-subtitle>
  </dxo-chart-title>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
</dx-chart>
