<div class="navbar-layout-phone" data-options="dxLayout : { name: 'pivot', platform: 'win', phone: true }">

    <div class="layout-content" data-options="dxContentPlaceholder : { name: 'content' }">
    </div>

    <div class="layout-footer" data-options="dxContentPlaceholder : { name: 'footer' }">
        <div data-bind="dxToolbar: { items: [], renderAs: 'bottomToolbar' }" data-options="dxCommandContainer : { id: 'win8-phone-appbar' }" class="layout-toolbar-bottom">
        </div>
    </div>

</div>
