@use "sass:color";
@use "../colors" as *;
@use "../sizes" as *;
@use "../button/colors" as *;
@use "../button/mixins" as *;
@use "../../base/icons" as *;
@use "../../base/tabs";
@use "colors" as *;
@use "sizes" as *;

// adduse
@use "../scrollable";
@use "../badge";


@mixin dx-tabs-border-mixin($position, $color, $expanded: false) {
  &::after {
    content: "";
    position: absolute;
    background-color: $color;

    @if $position == bottom {
      left: 0;
      width: 100%;

      @if $expanded {
        bottom: -$material-tabs-item-padding-horizontal;
        height: 3px;

        // TODO: Move to variable
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      } @else {
        bottom: 0;
        height: 2px;
      }
    } @else if $position == top {
      left: 0;
      right: 0;
      width: 100%;

      @if $expanded {
        top: -$material-tabs-item-padding-horizontal;
        height: 3px;

        // TODO: Move to variable
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
      } @else {
        top: 0;
        height: 2px;
      }
    } @else if $position == left {
      top: 0;
      bottom: 0;
      height: 100%;

      @if $expanded {
        left: -$material-tabs-item-padding-vertical;
        width: 3px;

        // TODO: Move to variable
        border-top-right-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
      } @else {
        left: 0;
        width: 2px;
      }
    } @else if $position == right {
      top: 0;
      bottom: 0;
      height: 100%;

      @if $expanded {
        right: -$material-tabs-item-padding-vertical;
        width: 3px;

        // TODO: Move to variable
        border-top-left-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
      } @else {
        right: 0;
        width: 2px;
      }
    }
  }
}

.dx-tab {
  padding: $material-tabs-item-padding;
  min-width: $material-tab-min-width;
  background-color: $tabs-tab-background;
  color: $tabs-tab-color;

  &.dx-state-hover {
    background-color: $tabs-hovered-tab-bg-color;
  }

  &.dx-tab-selected {
    color: $tabs-tab-selected-color;

    .dx-icon {
      color: $tabs-tab-icon-selected-color;
    }
  }

  &.dx-state-focused {
    background-color: $tabs-focused-tab-bg-color;
  }


  &.dx-state-disabled {
    color: $tabs-tab-disabled-color;

    .dx-icon {
      color: $tabs-tab-icon-disabled-color;
    }
  }

  &.dx-state-active,
  &.dx-state-active .dx-inkripple-wave {
    background-color: $tabs-active-tab-bg-color;
  }

  .dx-tab-text {
    text-transform: uppercase;
    line-height: $material-tab-text-line-height;
    font-weight: 500;
  }

  .dx-icon {
    color: $tabs-tab-icon-color;

    @include dx-icon-sizing($material-base-icon-size);
  }
}

.dx-tabs {
  padding: 0;
  background-color: $tabs-tab-background;

  .dx-inkripple {
    overflow: hidden;
  }

  .dx-scrollable {
    flex-basis: 100%;
  }
}

.dx-tabs-nav-button {
  border: none;
  background-color: $tabs-tab-background;
  height: $material-tab-height;
  border-radius: 0;
  box-shadow: none;

  &.dx-button.dx-tabs-nav-button.dx-button-has-icon:not(.dx-button-has-text) {
    @include dx-button-flat-color-styling(
      $base-icon-color,
      $material-tabs-nav-button-background,
      $material-tabs-nav-button-background,
      $material-tabs-nav-button-background,
    );

    border-radius: 0;

    .dx-inkripple-wave {
      background-color: $material-tabs-nav-button-background;
    }
  }

  &.dx-button-has-icon .dx-icon {
    width: $material-tab-nav-button-icon-width;
    height: $material-tab-nav-button-icon-height;
    font-size: $material-tab-nav-button-icon-font-size;
  }
  
  &.dx-state-active {
    border: none;
  }

  &.dx-state-disabled {
    opacity: 1;
    background-color: $tabs-tab-background;

    .dx-button-content {
      opacity: $tabs-tab-button-disabled-opacity;
    }
  }

  .dx-button-content {
    flex: unset;
    padding: $material-tab-nav-button-content-padding;
  }
}

<<<<<<< HEAD
=======
.dx-tabs-icon-position-start,
.dx-tabs-icon-position-end {
  .dx-tab .dx-icon {
    margin-block-end: 2px;
  }
}

>>>>>>> fe999e24fd (feat(tabs): Add icon position)
.dx-tabs-icon-position-start .dx-tab .dx-icon {
  @include dx-icon-margin($material-base-icon-margin, start);
}

.dx-tabs-icon-position-end .dx-tab .dx-icon {
  @include dx-icon-margin($material-base-icon-margin, end);
}

.dx-tabs-vertical {
  .dx-tabs-nav-button {
    padding: $material-tab-vertical-nav-button-content-padding;
  }
}

.dx-tabs-styling-mode-primary {
  .dx-tab.dx-tab-selected {
    @include dx-tabs-border-mixin(bottom, $tabs-selected-tab-border-color);

    &.dx-state-disabled {
      @include dx-tabs-border-mixin(bottom, $tabs-disabled-tab-border-color);
    }
  }

  &.dx-tabs-vertical {
    .dx-tab-selected {
      @include dx-tabs-border-mixin(left, $tabs-selected-tab-border-color);
  
      &.dx-state-disabled {
        @include dx-tabs-border-mixin(left, $tabs-disabled-tab-border-color);
      }
    }
  }
}

.dx-tabs-styling-mode-secondary:not(.dx-tabs-vertical) {
  .dx-tab-content {
    position: relative;
  }

  .dx-tab.dx-tab-selected .dx-tab-content {
    @include dx-tabs-border-mixin(bottom, $tabs-selected-tab-border-color, true);

    &.dx-state-disabled .dx-tab-content {
      @include dx-tabs-border-mixin(bottom, $tabs-disabled-tab-border-color, true);
    }
  }
}

.dx-tabs-styling-mode-secondary {
  .dx-tab .dx-tab-text {
    text-transform: none;
  }

  &.dx-tabs-vertical:not(.dx-rtl) {
    .dx-tab-selected .dx-tab-content {
      @include dx-tabs-border-mixin(right, $tabs-selected-tab-border-color, true);

      &::after {
        border-top-left-radius: unset;
        top: $material-tabs-item-padding-horizontal;
        height: calc(100% - 2 * $material-tabs-item-padding-horizontal);
        right: 0;
      }
    }

    .dx-tab-selected.dx-state-disabled .dx-tab-content {
      @include dx-tabs-border-mixin(right, $tabs-disabled-tab-border-color, true);
    }
  }
}

.dx-rtl.dx-tabs-styling-mode-secondary.dx-tabs-vertical {
  .dx-tab-selected .dx-tab-content {
    @include dx-tabs-border-mixin(left, $tabs-selected-tab-border-color, true);

    &::after {
      border-top-left-radius: unset;
      top: $material-tabs-item-padding-horizontal;
      height: calc(100% - 2 * $material-tabs-item-padding-horizontal);
      left: 0;
    }
  }
}
