@use "../sizes" as *;

// adduse


$material-tabs-item-padding: null !default;
$material-tab-height: null !default;
$material-tab-min-width: null !default;

$material-tab-text-line-height: null !default;
$material-base-icon-margin: null !default;

$material-tab-nav-button-icon-width: null !default;
$material-tab-nav-button-icon-height: null !default;
$material-tab-nav-button-icon-font-size: null !default;
$material-tab-nav-button-content-padding: null !default;

$material-tab-vertical-nav-button-content-padding: null !default;

@if $size == "default" {
  $material-tabs-item-padding: 12px 16px !default;
  $material-tab-height: auto !default;
  $material-tab-min-width: 90px !default;
  $material-base-icon-margin: 8px !default;
  $material-tab-text-line-height: 24px !default;
  $material-tab-nav-button-icon-width: 24px !default;
  $material-tab-nav-button-icon-height: 24px !default;
  $material-tab-nav-button-icon-font-size: 24px !default;
  $material-tab-nav-button-content-padding: 0 4px !default;
  $material-tab-vertical-nav-button-content-padding: 4px 0 !default;
}

@else if $size == "compact" {
  $material-tabs-item-padding: 6px 12px !default;
  $material-tab-height: auto !default;
  $material-tab-min-width: 82px !default;
  $material-base-icon-margin: 8px !default;
  $material-tab-text-line-height: 24px !default;
  $material-tab-nav-button-icon-width: 24px !default;
  $material-tab-nav-button-icon-height: 24px !default;
  $material-tab-nav-button-icon-font-size: 24px !default;
  $material-tab-nav-button-content-padding: 0 4px !default;
  $material-tab-vertical-nav-button-content-padding: 4px 0 !default;
}
