<dx-circular-gauge id="gauge" [value]="12" [subvalues]="[8, 18]">
  <dxo-circular-gauge-scale [startValue]="0" [endValue]="20" [tickInterval]="5"> </dxo-circular-gauge-scale>
  <dxo-circular-gauge-title text="Rheostat Resistance">
    <dxo-circular-gauge-font [size]="28"></dxo-circular-gauge-font>
  </dxo-circular-gauge-title>
  <dxo-circular-gauge-tooltip [enabled]="true" [customizeTooltip]="customizeTooltip">
    <dxo-circular-gauge-font color="#DCD0FF" [size]="40"> </dxo-circular-gauge-font>
  </dxo-circular-gauge-tooltip>
  <dxo-circular-gauge-export [enabled]="true"></dxo-circular-gauge-export>
</dx-circular-gauge>
