<dx-data-grid 
    id="gridContainer" 
    [customizeColumns]="customizeColumns"
    [dataSource]="dataSource" 
    [showBorders]="true">
    <dxo-scrolling 
        rowRenderingMode="virtual">
    </dxo-scrolling>
    <dxo-paging 
        [pageSize]="10">
    </dxo-paging>
    <dxo-pager 
        [visible]="true" 
        [allowedPageSizes]="allowedPageSizes" 
        [displayMode]="displayMode"
        [showPageSizeSelector]="showPageSizeSelector" 
        [showInfo]="showInfo" 
        [showNavigationButtons]="showNavButtons">
    </dxo-pager>
</dx-data-grid>
<div class="options">
    <div class="caption">Options</div>
    <div class="option-container">
        <div class="option">
            <dx-select-box 
                id="displayModes"
                displayExpr="text"
                valueExpr="value"
                [items]="displayModes" 
                [(value)]="displayMode">
            </dx-select-box>
        </div>
        <div class="option">
            <dx-check-box 
                id="showPageSizes"
                text="Show Page Size Selector" 
                [(value)]="showPageSizeSelector">
            </dx-check-box>
        </div>
        <div class="option">
            <dx-check-box 
                id="showInfo"
                text="Show Info Text" 
                [disabled]="isCompactMode" 
                [(value)]="showInfo">
            </dx-check-box>
        </div>
        <div class="option">
            <dx-check-box 
                id="showNavButtons"
                text="Show Navigation Buttons" 
                [disabled]="isCompactMode" 
                [(value)]="showNavButtons">
            </dx-check-box>
        </div>
    </div>
</div>