<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>DevExtreme Demo</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="../../../../../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../../../node_modules/devextreme/dist/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="../../../../../node_modules/devextreme/dist/css/dx.light.css" />
    <script src="../../../../../node_modules/angular/angular.min.js"></script>
    <script src="../../../../../node_modules/devextreme/dist/js/dx.all.js"></script>
    <script src="data.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <script src="index.js"></script>
</head>
<body class="dx-viewport">
<div class="demo-container" ng-app="DemoApp" ng-controller="DemoController">
    <div class="dx-fieldset">
        <div class="dx-field">
            <div class="dx-field-label">Image as the icon</div>
            <div class="dx-field-value">
                <div dx-select-box="customIconOptions">
                    <div data-options="dxTemplate: { name: 'dropDownButton' }">
                        <img src="../../../../images/icons/custom-dropbutton-icon.svg" class="custom-icon"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Load indicator as the icon</div>
            <div class="dx-field-value">
                <div id="load-indicator" dx-select-box="loadIndicatorOptions">
                    <div data-options="dxTemplate: { name: 'dropDownButton' }">
                        <div dx-load-indicator="{ bindingOptions: { visible: '!isLoaded' }}"></div>
                        <img src="../../../../images/icons/custom-dropbutton-icon.svg" ng-show="isLoaded"
                             class="custom-icon"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Value-dependent icon</div>
            <div class="dx-field-value">
                <div id="dynamic-template" dx-select-box="dynamicDropDownButtonOptions" dx-item-alias="item">
                    <div data-options="dxTemplate: { name: 'dropDownButton' }">
                        <img ng-if="selectedItem" ng-src="../../../../images/icons/{{selectedItem.IconSrc}}"
                             class="custom-icon"/>
                        <div ng-if="!selectedItem" class="dx-dropdowneditor-icon"></div>
                    </div>

                    <div data-options="dxTemplate: { name: 'item' }" class='custom-item'>
                        <img ng-src='../../../../images/icons/{{item.IconSrc}}'/>
                        <div class='product-name' ng-bind="item.Name"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
