::ng-deep .dx-gallery-item {
    width: 500px;
    max-width: 100%;
}
::ng-deep .dx-gallery-item img {
    height: 300px;
    width: 450px;
    max-width: 100%;
}
::ng-deep .dx-gallery-item .item-price {
    font-size: 20px;
    font-weight: bold;
}