@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../scheduler/sizes" as *;
@use "../../base/recurrenceEditor" as *;

// adduse


$MATERIAL_RECURRENCE_NUMBER_BOX_MARGIN: 11px;
$MATERIAL_RECURRENCE_BUTTON_GROUP_PADDING: 6px;
$MATERIAL_RECURRENCE_RADIO_GROUP_MARGIN: 15px;
$MATERIAL_RECURRENCE_DATE_BOX_MERGIN_LEFT: 23px;

.dx-recurrence-numberbox-interval {
  margin-right: $MATERIAL_RECURRENCE_NUMBER_BOX_MARGIN;
}

.dx-recurrence-numberbox-interval-label {
  font-size: $MATERIAL_BASE_FONT_SIZE;
  margin-top: $MATERIAL_RECURRENCE_INTERVAL_NUMBER_BOX_MARGIN_TOP;
}

.dx-recurrence-button-group {
  .dx-button-content {
    padding: $MATERIAL_RECURRENCE_BUTTON_GROUP_PADDING;
  }

  .dx-buttongroup-wrapper > div {
    min-width: 0;
  }
}

.dx-recurrence-radiogroup-repeat-type {
  margin: $MATERIAL_RECURRENCE_RADIO_GROUP_MARGIN 0;
}

.dx-recurrence-datebox-until-date {
  margin-left: $MATERIAL_RECURRENCE_DATE_BOX_MERGIN_LEFT;
}

.dx-recurrence-numberbox-repeat-count {
  margin: 0 $MATERIAL_RECURRENCE_NUMBER_BOX_MARGIN 0 $MATERIAL_RECURRENCE_NUMBER_BOX_MARGIN;
}

