@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../scheduler/sizes" as *;
@use "../../base/recurrenceEditor" as *;

// adduse


$material-recurrence-number-box-margin: 11px;
$material-recurrence-button-group-padding: 6px;
$material-recurrence-radio-group-margin: 15px;
$material-recurrence-date-box-mergin-left: 23px;

.dx-recurrence-numberbox-interval {
  margin-right: $material-recurrence-number-box-margin;
}

.dx-recurrence-numberbox-interval-label {
  font-size: $material-base-font-size;
  margin-top: $material-recurrence-interval-number-box-margin-top;
}

.dx-recurrence-button-group {
  .dx-button-content {
    padding: $material-recurrence-button-group-padding;
  }

  .dx-buttongroup-wrapper > div {
    min-width: 0;
  }
}

.dx-recurrence-radiogroup-repeat-type {
  margin: $material-recurrence-radio-group-margin 0;
}

.dx-recurrence-datebox-until-date {
  margin-left: $material-recurrence-date-box-mergin-left;
}

.dx-recurrence-numberbox-repeat-count {
  margin: 0 $material-recurrence-number-box-margin 0 $material-recurrence-number-box-margin;
}

