<div id="chart-demo">
  <dx-chart palette="Violet" [dataSource]="countriesInfo">
    @for(energy of energySources; track energy.name) {
    <dxi-chart-series [valueField]="energy.value" [name]="energy.name">
    </dxi-chart-series>
    }
    <dxo-chart-common-series-settings
      #seriesSettings
      argumentField="country"
      [type]="types[0]"
    >
    </dxo-chart-common-series-settings>
    <dxo-chart-margin [bottom]="20"></dxo-chart-margin>
    <dxo-chart-argument-axis
      [valueMarginsEnabled]="false"
      discreteAxisDivisionMode="crossLabels"
    >
      <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    </dxo-chart-argument-axis>
    <dxo-chart-legend
      verticalAlignment="bottom"
      horizontalAlignment="center"
      itemTextPosition="bottom"
    >
    </dxo-chart-legend>
    <dxo-chart-title text="Energy Consumption in 2024">
      <dxo-chart-subtitle text="(Millions of Tons, Oil Equivalent)">
      </dxo-chart-subtitle>
    </dxo-chart-title>
    <dxo-chart-export [enabled]="true"></dxo-chart-export>
    <dxo-chart-tooltip [enabled]="true"></dxo-chart-tooltip>
  </dx-chart>
  <div class="options">
    <div class="caption">Options</div>
    <div class="option">
      <span>Series Type</span>
      <dx-select-box
        [dataSource]="types"
        [(value)]="seriesSettings.type"
        [inputAttr]="{ 'aria-label': 'Series Type' }"
      >
      </dx-select-box>
    </div>
  </div>
</div>
