@use "../sizes" as *;

$generic-button-text-line-height: null !default;
$generic-button-vertical-padding: null !default;
$generic-button-horizontal-padding: null !default;
$generic-button-icon-horizontal-padding: null !default;
$generic-button-border-weight: $generic-base-border-width !default;

$generic-button-content-line-height: $generic-base-line-height !default;

@if $size == "default" {
  $generic-button-text-line-height: 1.2858 !default;
  $generic-button-vertical-padding: 8px !default;
  $generic-button-horizontal-padding: 12px !default;
  $generic-button-icon-horizontal-padding: 8px !default;
}

@else if $size == "compact" {
  $generic-button-text-line-height: 1.33334 !default;
  $generic-button-vertical-padding: 4px !default;
  $generic-button-horizontal-padding: 10px !default;
  $generic-button-icon-horizontal-padding: 5px !default;
}

:root {
  --dx-button-padding-inline: #{$generic-button-horizontal-padding};
}
