<dx-gantt taskListWidth="300" height="700" taskTitlePosition="none">
  <dxi-gantt-strip-line [start]="tasks[0].start" title="Start"> </dxi-gantt-strip-line>
  <dxi-gantt-strip-line
    [start]="tasks[tasks.length - 3].start"
    [end]="tasks[tasks.length - 1].end"
    title="Final Phase"
  >
  </dxi-gantt-strip-line>
  <dxi-gantt-strip-line
    [start]="currentTime"
    title="Current Time"
    cssClass="current-time"
  >
  </dxi-gantt-strip-line>

  <dxo-gantt-validation [autoUpdateParentTasks]="true"></dxo-gantt-validation>

  <dxo-gantt-tasks [dataSource]="tasks"></dxo-gantt-tasks>

  <dxi-gantt-column dataField="title" caption="Task" [width]="300"></dxi-gantt-column>
</dx-gantt>
