<dx-range-selector
  id="range-selector"
  [value]="[selectedStartValue, selectedEndValue]"
  title="Select a Vacation Period"
>
  <dxo-range-selector-margin [top]="50"></dxo-range-selector-margin>
  <dxo-range-selector-scale
    [startValue]="startValue"
    [endValue]="endValue"
    minorTickInterval="day"
    tickInterval="week"
    minRange="week"
    maxRange="month"
  >
    <dxo-range-selector-minor-tick
      [visible]="false"
    ></dxo-range-selector-minor-tick>
  </dxo-range-selector-scale>
  <dxo-range-selector-slider-marker
    format="monthAndDay"
  ></dxo-range-selector-slider-marker>
</dx-range-selector>
