<dx-scheduler
  timeZone="America/Los_Angeles"
  [dataSource]="appointmentsData"
  currentView="Auto Mode"
  [currentDate]="currentDate"
  [height]="730"
>
  <dxi-scheduler-view name="Auto Mode" type="month" maxAppointmentsPerCell="auto">
  </dxi-scheduler-view>
  <dxi-scheduler-view
    name="Unlimited Mode"
    type="month"
    maxAppointmentsPerCell="unlimited"
  >
  </dxi-scheduler-view>
  <dxi-scheduler-view name="Numeric Mode" type="month" [maxAppointmentsPerCell]="2">
  </dxi-scheduler-view>
  <dxi-scheduler-resource
    fieldExpr="roomId"
    label="room"
    [dataSource]="resourcesData"
  ></dxi-scheduler-resource>
</dx-scheduler>
