<dx-chart
  id="chart"
  palette="vintage"
  [dataSource]="populationData"
  title="Evolution of Population by Continent"
>
  <dxi-chart-series valueField="africa" name="Africa"></dxi-chart-series>
  <dxi-chart-series valueField="asia" name="Asia"></dxi-chart-series>
  <dxi-chart-series valueField="europe" name="Europe"></dxi-chart-series>
  <dxi-chart-series
    valueField="latinamerica"
    name="Latin America & Caribbean"
  ></dxi-chart-series>
  <dxi-chart-series valueField="northamerica" name="Northern America"></dxi-chart-series>
  <dxi-chart-series valueField="oceania" name="Oceania"></dxi-chart-series>
  <dxi-chart-series
    axis="total"
    type="spline"
    valueField="total"
    name="Total"
    color="#008fd8"
  >
  </dxi-chart-series>
  <dxo-chart-common-series-settings argumentField="year" type="fullstackedbar">
  </dxo-chart-common-series-settings>
  <dxi-chart-value-axis>
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
  </dxi-chart-value-axis>
  <dxi-chart-value-axis name="total" position="right">
    <dxo-chart-grid [visible]="true"></dxo-chart-grid>
    <dxo-chart-title text="Total Population, billions"></dxo-chart-title>
  </dxi-chart-value-axis>
  <dxo-chart-legend verticalAlignment="bottom" horizontalAlignment="center">
  </dxo-chart-legend>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxo-chart-tooltip
    [enabled]="true"
    [shared]="true"
    [customizeTooltip]="customizeTooltip"
  >
    <dxo-chart-format type="largeNumber" [precision]="1"></dxo-chart-format>
  </dxo-chart-tooltip>
</dx-chart>
