@use "sizes" as *;
@use "../button/sizes" as *;

// adduse

$material-accordion-title-horizontal-padding: null !default;
$material-accordion-title-vertical-padding: 6px !default;
$material-accordion-body-padding: null !default;
$material-accordion-title-height: null !default;

/**
* $name 50. Item opened margin
* $type text
*/
$material-accordion-opened-margin: null !default;
$material-accordion-shadow: null !default;
$accordion-title-icon-top-offset: null !default;
$accordion-title-icon-margin: null !default;

$material-accordion-arrow-line-height: 16px !default;

/**
* $name 20. Item title font size
* $type text
*/
$material-accordion-title-font-size: $material-base-font-size !default;
$material-accordion-title-icon-size: $material-button-icon-size !default;

$accordion-item-border-radius: $material-base-border-radius !default;

@if $size == "default" {
  $material-accordion-title-horizontal-padding: 16px !default;
  $material-accordion-body-padding: 16px !default;
  $material-accordion-title-height: 48px !default;
  $material-accordion-opened-margin: 16px !default;
  $accordion-title-icon-top-offset: 4px !default;
  $accordion-title-icon-margin: 8px !default;
}

@else if $size == "compact" {
  $material-accordion-title-horizontal-padding: 11px !default;
  $material-accordion-body-padding: 11px !default;
  $material-accordion-title-height: 40px !default;
  $material-accordion-opened-margin: 8px !default;
  $accordion-title-icon-top-offset: 3px !default;
  $accordion-title-icon-margin: 6px !default;
}
