<dx-tile-view
    #tileView
    [height]="390"
    [baseItemHeight]="120"
    [baseItemWidth]="185"
    width="100%"
    [itemMargin]="10"
    [direction]="'horizontal'">
    <dxi-item
        *ngFor="let home of homes"
        [widthRatio]="home.widthRatio"
        [heightRatio]="home.heightRatio">
        <div class="image" [style.background-image]="'url(' + home.ImageSrc + ')'"></div>
        <div class="price">{{ home.Price | currency:'USD':'symbol':'1.0-0' }}</div>
    </dxi-item>
</dx-tile-view>