{
    "extends": [
        "devextreme/typescript",
        "devextreme/jest"
    ],
    "env": {
        "node": true
    },
    "parserOptions": {
        "project": "themebuilder-scss/tests/tsconfig.json",
    }
}
