<div class="demo-container">
  <div class="button-container">
    <dx-button
      text="Show Popup"
      type="default"
      [width]="300"
      (onClick)="showPopup($event)"
    >
    </dx-button>
    <div class="label"> A native scrollable container </div>
  </div>

  <div class="button-container">
    <dx-button
      text="Show Popup"
      [width]="300"
      (onClick)="showPopupWithScrollView($event)"
    >
    </dx-button>
    <div class="label"> The ScrollView </div>
  </div>
</div>

<dx-popup
  [width]="360"
  [height]="320"
  [hideOnOutsideClick]="true"
  [(visible)]="popupVisible"
  title="Downtown Inn"
>
  <div *dxTemplate="let data of 'content'">
    <div>
      <div class="caption">Description</div>
      In the heart of LA's business district, the Downtown Inn has a welcoming
      staff and award winning restaurants that remain open 24 hours a day. Use
      our conference room facilities to conduct meetings and have a drink at our
      beautiful rooftop bar.
      <br /><br />
      <div class="content">
        <div>
          <div class="caption">Features</div>
          <div>Concierge</div>
          <div>Restaurant</div>
          <div>Valet Parking</div>
          <div>Fitness Center</div>
          <div>Sauna</div>
          <div>Airport Shuttle</div>
        </div>
        <div>
          <div class="caption">Rooms</div>
          <div>Climate control</div>
          <div>Air conditioning</div>
          <div>Coffee/tea maker</div>
          <div>Iron/ironing</div>
        </div>
      </div>
    </div>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions"
  >
  </dxi-toolbar-item>
</dx-popup>

<dx-popup
  [width]="360"
  [height]="320"
  [hideOnOutsideClick]="true"
  [(visible)]="popupScrollViewVisible"
  title="Downtown Inn"
>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
      <div class="caption">Description</div>
      In the heart of LA's business district, the Downtown Inn has a welcoming
      staff and award winning restaurants that remain open 24 hours a day. Use
      our conference room facilities to conduct meetings and have a drink at our
      beautiful rooftop bar.
      <br /><br />
      <div class="content">
        <div>
          <div class="caption">Features</div>
          <div>Concierge</div>
          <div>Restaurant</div>
          <div>Valet Parking</div>
          <div>Fitness Center</div>
          <div>Sauna</div>
          <div>Airport Shuttle</div>
        </div>
        <div>
          <div class="caption">Rooms</div>
          <div>Climate control</div>
          <div>Air conditioning</div>
          <div>Coffee/tea maker</div>
          <div>Iron/ironing</div>
        </div>
      </div>
    </dx-scroll-view>
  </div>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="center"
    [options]="bookButtonOptions"
  >
  </dxi-toolbar-item>
</dx-popup>
