<dx-data-grid
  id="gridContainer"
  [height]="440"
  [dataSource]="tasksStore"
  [showBorders]="true"
>
  <dxo-data-grid-row-dragging
    [allowReordering]="true"
    [onReorder]="onReorder"
    dropFeedbackMode="push"
  ></dxo-data-grid-row-dragging>
  <dxo-data-grid-sorting mode="none"></dxo-data-grid-sorting>
  <dxo-data-grid-scrolling mode="virtual"></dxo-data-grid-scrolling>
  <dxi-data-grid-column dataField="ID" [width]="55"></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Owner" [width]="150">
    <dxo-data-grid-lookup
      [dataSource]="employeesStore"
      valueExpr="ID"
      displayExpr="FullName"
    ></dxo-data-grid-lookup>
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="AssignedEmployee"
    dataType="number"
    [width]="150"
    caption="Assignee"
  >
    <dxo-data-grid-lookup
      [dataSource]="employeesStore"
      valueExpr="ID"
      displayExpr="FullName"
    ></dxo-data-grid-lookup>
  </dxi-data-grid-column>
  <dxi-data-grid-column dataField="Subject"></dxi-data-grid-column>
</dx-data-grid>
