// adduse
@mixin dx-dropdown-button($dropdownbutton-horizontal-padding) {
  .dx-dropdownbutton {
    display: inline-block;
    vertical-align: middle;
  }

  .dx-dropdownbutton-action {
    &.dx-button-has-text .dx-icon.dx-icon-right {
      margin-inline-start: 4px;
      margin-inline-end: 0;
    }
  }
  

  .dx-dropdownbutton-content {
    &.dx-popup-content {
      padding: 0;
    }

    & .dx-list .dx-empty-message,
    & .dx-list .dx-list-item {
      border: none;
    }
  }

  .dx-dropdownbutton-toggle {
    flex: 0 0 auto;

    .dx-button-content {
      padding-inline: 0;
    }
  }

  .dx-dropdownbutton:not(.dx-dropdownbutton-has-arrow) {
    .dx-button-has-icon {
      .dx-button-content {
        padding-inline: $dropdownbutton-horizontal-padding;
      }
    }

    .dx-button-has-text {
      .dx-button-content {
        padding-inline: $dropdownbutton-horizontal-padding * 2;
      }
    }
  }

  .dx-dropdownbutton-action:not(.dx-buttongroup-last-item) {
    border-inline-start-width: 1px;
    border-inline-end-width: 0;
  }
}
