<dx-diagram #diagram id="diagram">
  <dxo-diagram-nodes [dataSource]="flowNodesDataSource" textExpr="text" typeExpr="type">
    <dxo-diagram-auto-layout type="layered"></dxo-diagram-auto-layout>
  </dxo-diagram-nodes>
  <dxo-diagram-edges
    [dataSource]="flowEdgesDataSource"
    fromExpr="fromId"
    toExpr="toId"
    textExpr="text"
  ></dxo-diagram-edges>
  <dxo-diagram-toolbox>
    <dxi-diagram-group category="general" title="General"></dxi-diagram-group>
  </dxo-diagram-toolbox>
</dx-diagram>
