.diagram-icon-colored(@data-uri, @current-color, @width, @height) {
    @uri: replace("@{data-uri}", "currentColor", escape("@{current-color}"), "gi");

    background-image: e(@uri);
    width: @width;
    height: @height;
}

.diagram-action-icons-mixin(@toolbar-color, @menu-color, @icon-size, @toolbar-colorbutton-border-width) {
    .dx-diagram-i-connector-begin-none {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-begin-none.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-begin-arrow {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-begin-arrow.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-begin-outlined-triangle {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-begin-outlined-triangle.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-begin-filled-triangle {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-begin-filled-triangle.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-end-none {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-end-none.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-end-arrow {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-end-arrow.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-end-outlined-triangle {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-end-outlined-triangle.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-end-filled-triangle {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-end-filled-triangle.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-orthogonal {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-orthogonal.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-connector-straight {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/connector-straight.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-line-solid {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/line-solid.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-line-dotted {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/line-dotted.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-line-dashed {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/line-dashed.svg'), @toolbar-color, 1.56 * @icon-size, @icon-size);
    }

    .dx-diagram-i-button-fill {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/button-fill.svg'), @toolbar-color, @icon-size, @icon-size + @toolbar-colorbutton-border-width);
    }

    .dx-diagram-i-menu-fill {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/button-fill.svg'), @menu-color, @icon-size, @icon-size + @toolbar-colorbutton-border-width);
    }

    .dx-diagram-i-button-fullscreen {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/fullscreen.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-menu-fullscreen {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/fullscreen.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-lock {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/lock.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-menu-lock {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/lock.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-unlock {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/unlock.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-menu-unlock {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/unlock.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-send-to-back {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/send-to-back.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-menu-send-to-back {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/send-to-back.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-bring-to-front {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/bring-to-front.svg'), @toolbar-color, @icon-size, @icon-size);
    }


    .dx-diagram-i-menu-bring-to-front {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/bring-to-front.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-select-all {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/select-all.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-menu-select-all {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/select-all.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-image-delete {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/image-delete.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-menu-image-delete {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/image-delete.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-image-edit {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/image-edit.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-menu-image-edit {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/image-edit.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-image-insert {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/image-insert.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-menu-image-insert {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/image-insert.svg'), @menu-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-layout-layered-bt {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/layout-layered-bt.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-layout-layered-lr {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/layout-layered-lr.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-layout-layered-rl {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/layout-layered-rl.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-layout-layered-tb {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/layout-layered-tb.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-layout-tree-bt {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/layout-tree-bt.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-layout-tree-lr {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/layout-tree-lr.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-layout-tree-rl {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/layout-tree-rl.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-toolbox-open {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/toolbox-open.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-toolbox-close {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/toolbox-close.svg'), @toolbar-color, @icon-size, @icon-size);
    }

    .dx-diagram-i-button-layout-tree-tb {
        .diagram-icon-colored(data-uri('image/svg+xml;charset=UTF-8', 'images/widgets/common/diagram/layout-tree-tb.svg'), @toolbar-color, @icon-size, @icon-size);
    }
}
