.filemanager-icons-mixin(@text-color, @success-bg-color, @success-text-color, @danger-bg-color, @danger-text-color, @icon-size) {
    @image-type: 'image/svg+xml;charset=UTF-8';
    @base-path: 'images/widgets/common/fileManager/';

    .dx-filemanager-i,
    .dx-filemanager-i.dx-icon {
        &.dx-filemanager-i-refresh,
        &.dx-filemanager-i-progress {
            .filemanager-icon-colored(data-uri(e(@image-type), '@{base-path}refresh.svg'), @text-color, @success-bg-color, @success-text-color, @danger-bg-color, @danger-text-color, @icon-size, @icon-size);
        }

        &.dx-filemanager-i-done {
            .filemanager-icon-colored(data-uri(e(@image-type), '@{base-path}done.svg'), @text-color, @success-bg-color, @success-text-color, @danger-bg-color, @danger-text-color, @icon-size, @icon-size);
        }

        &.dx-filemanager-i-danger {
            .filemanager-icon-colored(data-uri(e(@image-type), '@{base-path}danger.svg'), @text-color, @success-bg-color, @success-text-color, @danger-bg-color, @danger-text-color, @icon-size, @icon-size);
        }

        &.dx-filemanager-i-cancel {
            .filemanager-icon-colored(data-uri(e(@image-type), '@{base-path}cancel.svg'), @text-color, @success-bg-color, @success-text-color, @danger-bg-color, @danger-text-color, @icon-size, @icon-size);
        }
    }
}

.filemanager-icon-colored(@data-uri, @text-color, @success-bg-color, @success-text-color, @danger-bg-color, @danger-text-color, @width, @height) {
    @uri1: replace("@{data-uri}", "currentTextColor", escape("@{text-color}"), "gi");
    @uri2: replace("@{uri1}", "currentSuccessBgColor", escape("@{success-bg-color}"), "gi");
    @uri3: replace("@{uri2}", "currentSuccessTextColor", escape("@{success-text-color}"), "gi");
    @uri4: replace("@{uri3}", "currentDangerBgColor", escape("@{danger-bg-color}"), "gi");
    @uriFinal: replace("@{uri4}", "currentDangerTextColor", escape("@{danger-text-color}"), "gi");

    background: e(@uriFinal);
    width: @width;
    height: @height;
}
