$utility-gray-10: var(--DS-utility-gray-10);
$utility-gray-20: var(--DS-utility-gray-20);
$utility-gray-30: var(--DS-utility-gray-30);
$utility-gray-40: var(--DS-utility-gray-40);
$utility-gray-50: var(--DS-utility-gray-50);
$utility-gray-60: var(--DS-utility-gray-60);
$utility-gray-70: var(--DS-utility-gray-70);
$utility-gray-80: var(--DS-utility-gray-80);
$utility-gray-90: var(--DS-utility-gray-90);
$utility-gray-100: var(--DS-utility-gray-100);
$utility-gray-110: var(--DS-utility-gray-110);
$utility-gray-120: var(--DS-utility-gray-120);
$utility-blue-10: var(--DS-utility-blue-10);
$utility-blue-20: var(--DS-utility-blue-20);
$utility-blue-30: var(--DS-utility-blue-30);
$utility-blue-40: var(--DS-utility-blue-40);
$utility-blue-50: var(--DS-utility-blue-50);
$utility-blue-60: var(--DS-utility-blue-60);
$utility-blue-70: var(--DS-utility-blue-70);
$utility-blue-80: var(--DS-utility-blue-80);
$utility-blue-90: var(--DS-utility-blue-90);
$utility-blue-100: var(--DS-utility-blue-100);
$utility-blue-110: var(--DS-utility-blue-110);
$utility-blue-120: var(--DS-utility-blue-120);
$utility-cyan-10: var(--DS-utility-cyan-10);
$utility-cyan-20: var(--DS-utility-cyan-20);
$utility-cyan-30: var(--DS-utility-cyan-30);
$utility-cyan-40: var(--DS-utility-cyan-40);
$utility-cyan-50: var(--DS-utility-cyan-50);
$utility-cyan-60: var(--DS-utility-cyan-60);
$utility-cyan-70: var(--DS-utility-cyan-70);
$utility-cyan-80: var(--DS-utility-cyan-80);
$utility-cyan-90: var(--DS-utility-cyan-90);
$utility-cyan-100: var(--DS-utility-cyan-100);
$utility-cyan-110: var(--DS-utility-cyan-110);
$utility-cyan-120: var(--DS-utility-cyan-120);
$utility-teal-10: var(--DS-utility-teal-10);
$utility-teal-20: var(--DS-utility-teal-20);
$utility-teal-30: var(--DS-utility-teal-30);
$utility-teal-40: var(--DS-utility-teal-40);
$utility-teal-50: var(--DS-utility-teal-50);
$utility-teal-60: var(--DS-utility-teal-60);
$utility-teal-70: var(--DS-utility-teal-70);
$utility-teal-80: var(--DS-utility-teal-80);
$utility-teal-90: var(--DS-utility-teal-90);
$utility-teal-100: var(--DS-utility-teal-100);
$utility-teal-110: var(--DS-utility-teal-110);
$utility-teal-120: var(--DS-utility-teal-120);
$utility-green-10: var(--DS-utility-green-10);
$utility-green-20: var(--DS-utility-green-20);
$utility-green-30: var(--DS-utility-green-30);
$utility-green-40: var(--DS-utility-green-40);
$utility-green-50: var(--DS-utility-green-50);
$utility-green-60: var(--DS-utility-green-60);
$utility-green-70: var(--DS-utility-green-70);
$utility-green-80: var(--DS-utility-green-80);
$utility-green-90: var(--DS-utility-green-90);
$utility-green-100: var(--DS-utility-green-100);
$utility-green-110: var(--DS-utility-green-110);
$utility-green-120: var(--DS-utility-green-120);
$utility-yellow-10: var(--DS-utility-yellow-10);
$utility-yellow-20: var(--DS-utility-yellow-20);
$utility-yellow-30: var(--DS-utility-yellow-30);
$utility-yellow-40: var(--DS-utility-yellow-40);
$utility-yellow-50: var(--DS-utility-yellow-50);
$utility-yellow-60: var(--DS-utility-yellow-60);
$utility-yellow-70: var(--DS-utility-yellow-70);
$utility-yellow-80: var(--DS-utility-yellow-80);
$utility-yellow-90: var(--DS-utility-yellow-90);
$utility-yellow-100: var(--DS-utility-yellow-100);
$utility-yellow-110: var(--DS-utility-yellow-110);
$utility-yellow-120: var(--DS-utility-yellow-120);
$utility-orange-10: var(--DS-utility-orange-10);
$utility-orange-20: var(--DS-utility-orange-20);
$utility-orange-30: var(--DS-utility-orange-30);
$utility-orange-40: var(--DS-utility-orange-40);
$utility-orange-50: var(--DS-utility-orange-50);
$utility-orange-60: var(--DS-utility-orange-60);
$utility-orange-70: var(--DS-utility-orange-70);
$utility-orange-80: var(--DS-utility-orange-80);
$utility-orange-90: var(--DS-utility-orange-90);
$utility-orange-100: var(--DS-utility-orange-100);
$utility-orange-110: var(--DS-utility-orange-110);
$utility-orange-120: var(--DS-utility-orange-120);
$utility-red-10: var(--DS-utility-red-10);
$utility-red-20: var(--DS-utility-red-20);
$utility-red-30: var(--DS-utility-red-30);
$utility-red-40: var(--DS-utility-red-40);
$utility-red-50: var(--DS-utility-red-50);
$utility-red-60: var(--DS-utility-red-60);
$utility-red-70: var(--DS-utility-red-70);
$utility-red-80: var(--DS-utility-red-80);
$utility-red-90: var(--DS-utility-red-90);
$utility-red-100: var(--DS-utility-red-100);
$utility-red-110: var(--DS-utility-red-110);
$utility-red-120: var(--DS-utility-red-120);
$utility-pink-10: var(--DS-utility-pink-10);
$utility-pink-20: var(--DS-utility-pink-20);
$utility-pink-30: var(--DS-utility-pink-30);
$utility-pink-40: var(--DS-utility-pink-40);
$utility-pink-50: var(--DS-utility-pink-50);
$utility-pink-60: var(--DS-utility-pink-60);
$utility-pink-70: var(--DS-utility-pink-70);
$utility-pink-80: var(--DS-utility-pink-80);
$utility-pink-90: var(--DS-utility-pink-90);
$utility-pink-100: var(--DS-utility-pink-100);
$utility-pink-110: var(--DS-utility-pink-110);
$utility-pink-120: var(--DS-utility-pink-120);
$utility-purple-10: var(--DS-utility-purple-10);
$utility-purple-20: var(--DS-utility-purple-20);
$utility-purple-30: var(--DS-utility-purple-30);
$utility-purple-40: var(--DS-utility-purple-40);
$utility-purple-50: var(--DS-utility-purple-50);
$utility-purple-60: var(--DS-utility-purple-60);
$utility-purple-70: var(--DS-utility-purple-70);
$utility-purple-80: var(--DS-utility-purple-80);
$utility-purple-90: var(--DS-utility-purple-90);
$utility-purple-100: var(--DS-utility-purple-100);
$utility-purple-110: var(--DS-utility-purple-110);
$utility-purple-120: var(--DS-utility-purple-120);
$utility-indigo-10: var(--DS-utility-indigo-10);
$utility-indigo-20: var(--DS-utility-indigo-20);
$utility-indigo-30: var(--DS-utility-indigo-30);
$utility-indigo-40: var(--DS-utility-indigo-40);
$utility-indigo-50: var(--DS-utility-indigo-50);
$utility-indigo-60: var(--DS-utility-indigo-60);
$utility-indigo-70: var(--DS-utility-indigo-70);
$utility-indigo-80: var(--DS-utility-indigo-80);
$utility-indigo-90: var(--DS-utility-indigo-90);
$utility-indigo-100: var(--DS-utility-indigo-100);
$utility-indigo-110: var(--DS-utility-indigo-110);
$utility-indigo-120: var(--DS-utility-indigo-120);
$box-shadow-shadow-0: var(--DS-box-shadow-shadow-0);
$box-shadow-shadow-1: var(--DS-box-shadow-shadow-1);
$box-shadow-shadow-2: var(--DS-box-shadow-shadow-2);
$box-shadow-shadow-3: var(--DS-box-shadow-shadow-3);
$box-shadow-shadow-4: var(--DS-box-shadow-shadow-4);
$box-shadow-shadow-5: var(--DS-box-shadow-shadow-5);
$box-shadow-shadow-6: var(--DS-box-shadow-shadow-6);
$font-weight-caption-2: var(--DS-font-weight-caption-2);
$font-weight-caption-2-strong: var(--DS-font-weight-caption-2-strong);
$font-weight-caption-1: var(--DS-font-weight-caption-1);
$font-weight-caption-1-strong: var(--DS-font-weight-caption-1-strong);
$font-weight-body-1: var(--DS-font-weight-body-1);
$font-weight-body-1-strong: var(--DS-font-weight-body-1-strong);
$font-weight-body-2: var(--DS-font-weight-body-2);
$font-weight-subtitle-2: var(--DS-font-weight-subtitle-2);
$font-weight-subtitle-2-stronger: var(--DS-font-weight-subtitle-2-stronger);
$font-weight-subtitle-1: var(--DS-font-weight-subtitle-1);
$font-weight-title-3: var(--DS-font-weight-title-3);
$font-weight-title-2: var(--DS-font-weight-title-2);
$font-weight-title-1: var(--DS-font-weight-title-1);
$font-weight-large-title: var(--DS-font-weight-large-title);
$font-weight-display: var(--DS-font-weight-display);
$font-size-caption-2: var(--DS-font-size-caption-2);
$font-size-caption-2-strong: var(--DS-font-size-caption-2-strong);
$font-size-caption-1: var(--DS-font-size-caption-1);
$font-size-caption-1-strong: var(--DS-font-size-caption-1-strong);
$font-size-body-1: var(--DS-font-size-body-1);
$font-size-body-1-strong: var(--DS-font-size-body-1-strong);
$font-size-body-2: var(--DS-font-size-body-2);
$font-size-subtitle-2: var(--DS-font-size-subtitle-2);
$font-size-subtitle-2-stronger: var(--DS-font-size-subtitle-2-stronger);
$font-size-subtitle-1: var(--DS-font-size-subtitle-1);
$font-size-title-3: var(--DS-font-size-title-3);
$font-size-title-2: var(--DS-font-size-title-2);
$font-size-title-1: var(--DS-font-size-title-1);
$font-size-large-title: var(--DS-font-size-large-title);
$font-size-display: var(--DS-font-size-display);
$line-height-caption-2: var(--DS-line-height-caption-2);
$line-height-caption-2-strong: var(--DS-line-height-caption-2-strong);
$line-height-caption-1: var(--DS-line-height-caption-1);
$line-height-caption-1-strong: var(--DS-line-height-caption-1-strong);
$line-height-body-1: var(--DS-line-height-body-1);
$line-height-body-1-strong: var(--DS-line-height-body-1-strong);
$line-height-body-2: var(--DS-line-height-body-2);
$line-height-subtitle-2: var(--DS-line-height-subtitle-2);
$line-height-subtitle-2-stronger: var(--DS-line-height-subtitle-2-stronger);
$line-height-subtitle-1: var(--DS-line-height-subtitle-1);
$line-height-title-3: var(--DS-line-height-title-3);
$line-height-title-2: var(--DS-line-height-title-2);
$line-height-title-1: var(--DS-line-height-title-1);
$line-height-large-title: var(--DS-line-height-large-title);
$line-height-display: var(--DS-line-height-display);
$font-family-sans-serif: var(--DS-font-family-sans-serif);
$font-family-serif: var(--DS-font-family-serif);
$font-family-mono: var(--DS-font-family-mono);
$letter-spacing-caption-2: var(--DS-letter-spacing-caption-2);
$letter-spacing-caption-2-strong: var(--DS-letter-spacing-caption-2-strong);
$letter-spacing-caption-1: var(--DS-letter-spacing-caption-1);
$letter-spacing-caption-1-strong: var(--DS-letter-spacing-caption-1-strong);
$letter-spacing-body-1: var(--DS-letter-spacing-body-1);
$letter-spacing-body-1-strong: var(--DS-letter-spacing-body-1-strong);
$letter-spacing-body-2: var(--DS-letter-spacing-body-2);
$letter-spacing-subtitle-2: var(--DS-letter-spacing-subtitle-2);
$letter-spacing-subtitle-2-stronger: var(--DS-letter-spacing-subtitle-2-stronger);
$letter-spacing-subtitle-1: var(--DS-letter-spacing-subtitle-1);
$letter-spacing-title-3: var(--DS-letter-spacing-title-3);
$letter-spacing-title-2: var(--DS-letter-spacing-title-2);
$letter-spacing-title-1: var(--DS-letter-spacing-title-1);
$letter-spacing-large-title: var(--DS-letter-spacing-large-title);
$letter-spacing-display: var(--DS-letter-spacing-display);
$text-case-caption-2: var(--DS-text-case-caption-2);
$text-case-caption-2-strong: var(--DS-text-case-caption-2-strong);
$text-case-caption-1: var(--DS-text-case-caption-1);
$text-case-caption-1-strong: var(--DS-text-case-caption-1-strong);
$text-case-body-1: var(--DS-text-case-body-1);
$text-case-body-1-strong: var(--DS-text-case-body-1-strong);
$text-case-body-2: var(--DS-text-case-body-2);
$text-case-subtitle-2: var(--DS-text-case-subtitle-2);
$text-case-subtitle-2-stronger: var(--DS-text-case-subtitle-2-stronger);
$text-case-subtitle-1: var(--DS-text-case-subtitle-1);
$text-case-title-3: var(--DS-text-case-title-3);
$text-case-title-2: var(--DS-text-case-title-2);
$text-case-title-1: var(--DS-text-case-title-1);
$text-case-large-title: var(--DS-text-case-large-title);
$text-case-display: var(--DS-text-case-display);
$sizing-0: var(--DS-sizing-0);
$sizing-10: var(--DS-sizing-10);
$sizing-20: var(--DS-sizing-20);
$sizing-30: var(--DS-sizing-30);
$sizing-40: var(--DS-sizing-40);
$sizing-50: var(--DS-sizing-50);
$sizing-60: var(--DS-sizing-60);
$sizing-70: var(--DS-sizing-70);
$sizing-80: var(--DS-sizing-80);
$sizing-90: var(--DS-sizing-90);
$sizing-100: var(--DS-sizing-100);
$sizing-110: var(--DS-sizing-110);
$sizing-120: var(--DS-sizing-120);
$sizing-130: var(--DS-sizing-130);
$sizing-140: var(--DS-sizing-140);
$sizing-150: var(--DS-sizing-150);
$sizing-160: var(--DS-sizing-160);
$sizing-170: var(--DS-sizing-170);
$sizing-180: var(--DS-sizing-180);
$sizing-190: var(--DS-sizing-190);
$sizing-200: var(--DS-sizing-200);
$sizing-210: var(--DS-sizing-210);
$sizing-220: var(--DS-sizing-220);
$sizing-230: var(--DS-sizing-230);
$sizing-240: var(--DS-sizing-240);
$sizing-260: var(--DS-sizing-260);
$sizing-280: var(--DS-sizing-280);
$sizing-300: var(--DS-sizing-300);
$sizing-320: var(--DS-sizing-320);
$sizing-360: var(--DS-sizing-360);
$sizing-400: var(--DS-sizing-400);
$sizing-440: var(--DS-sizing-440);
$sizing-480: var(--DS-sizing-480);
$sizing-520: var(--DS-sizing-520);
$sizing-560: var(--DS-sizing-560);
$sizing-600: var(--DS-sizing-600);
$sizing-640: var(--DS-sizing-640);
$sizing-720: var(--DS-sizing-720);
$sizing-800: var(--DS-sizing-800);
$sizing-880: var(--DS-sizing-880);
$sizing-960: var(--DS-sizing-960);
$sizing-1200: var(--DS-sizing-1200);
$sizing-1600: var(--DS-sizing-1600);
$sizing-minus-10: var(--DS-sizing-minus-10);
$sizing-minus-20: var(--DS-sizing-minus-20);
$sizing-minus-40: var(--DS-sizing-minus-40);
$sizing-theme-builder-item-gap-small: var(--DS-sizing-theme-builder-item-gap-small);
$sizing-theme-builder-item-gap-medium: var(--DS-sizing-theme-builder-item-gap-medium);
$sizing-theme-builder-item-gap-large: var(--DS-sizing-theme-builder-item-gap-large);
$border-radius-0: var(--DS-border-radius-0);
$border-radius-10: var(--DS-border-radius-10);
$border-radius-20: var(--DS-border-radius-20);
$border-radius-30: var(--DS-border-radius-30);
$border-radius-40: var(--DS-border-radius-40);
$border-radius-50: var(--DS-border-radius-50);
$border-radius-60: var(--DS-border-radius-60);
$border-radius-80: var(--DS-border-radius-80);
$border-radius-120: var(--DS-border-radius-120);
$border-radius-160: var(--DS-border-radius-160);
$border-radius-circular: var(--DS-border-radius-circular);
$border-radius-theme-builder-default: var(--DS-border-radius-theme-builder-default);
$border-width-0: var(--DS-border-width-0);
$border-width-10: var(--DS-border-width-10);
$border-width-20: var(--DS-border-width-20);
$border-width-30: var(--DS-border-width-30);
$border-width-40: var(--DS-border-width-40);
$border-width-theme-builder-focus: var(--DS-border-width-theme-builder-focus);
$opacity-0: var(--DS-opacity-0);
$opacity-5: var(--DS-opacity-5);
$opacity-10: var(--DS-opacity-10);
$opacity-15: var(--DS-opacity-15);
$opacity-20: var(--DS-opacity-20);
$opacity-25: var(--DS-opacity-25);
$opacity-30: var(--DS-opacity-30);
$opacity-35: var(--DS-opacity-35);
$opacity-40: var(--DS-opacity-40);
$opacity-45: var(--DS-opacity-45);
$opacity-50: var(--DS-opacity-50);
$opacity-55: var(--DS-opacity-55);
$opacity-60: var(--DS-opacity-60);
$opacity-65: var(--DS-opacity-65);
$opacity-70: var(--DS-opacity-70);
$opacity-75: var(--DS-opacity-75);
$opacity-80: var(--DS-opacity-80);
$opacity-85: var(--DS-opacity-85);
$opacity-90: var(--DS-opacity-90);
$opacity-95: var(--DS-opacity-95);
$opacity-100: var(--DS-opacity-100);
$color-theme-builder-focus: var(--DS-color-theme-builder-focus);
$color-theme-builder-focus-inverted: var(--DS-color-theme-builder-focus-inverted);
$color-theme-builder-backdrop: var(--DS-color-theme-builder-backdrop);
$color-theme-builder-focus-static: var(--DS-color-theme-builder-focus-static);
$color-theme-builder-focus-static-inverted: var(--DS-color-theme-builder-focus-static-inverted);
$color-surface-neutral-default-rest: var(--DS-color-surface-neutral-default-rest);
$color-surface-neutral-default-hovered: var(--DS-color-surface-neutral-default-hovered);
$color-surface-neutral-default-pressed: var(--DS-color-surface-neutral-default-pressed);
$color-surface-neutral-default-selected: var(--DS-color-surface-neutral-default-selected);
$color-surface-neutral-default-selected-hovered: var(--DS-color-surface-neutral-default-selected-hovered);
$color-surface-neutral-default-disabled: var(--DS-color-surface-neutral-default-disabled);
$color-surface-neutral-subdued-rest: var(--DS-color-surface-neutral-subdued-rest);
$color-surface-neutral-subdued-hovered: var(--DS-color-surface-neutral-subdued-hovered);
$color-surface-neutral-subdued-pressed: var(--DS-color-surface-neutral-subdued-pressed);
$color-surface-neutral-subdued-disabled: var(--DS-color-surface-neutral-subdued-disabled);
$color-surface-neutral-deep-rest: var(--DS-color-surface-neutral-deep-rest);
$color-surface-neutral-deep-hovered: var(--DS-color-surface-neutral-deep-hovered);
$color-surface-neutral-deep-pressed: var(--DS-color-surface-neutral-deep-pressed);
$color-surface-neutral-deep-disabled: var(--DS-color-surface-neutral-deep-disabled);
$color-surface-neutral-muted-rest: var(--DS-color-surface-neutral-muted-rest);
$color-surface-neutral-muted-hovered: var(--DS-color-surface-neutral-muted-hovered);
$color-surface-neutral-muted-pressed: var(--DS-color-surface-neutral-muted-pressed);
$color-surface-neutral-muted-disabled: var(--DS-color-surface-neutral-muted-disabled);
$color-surface-neutral-inverted-rest: var(--DS-color-surface-neutral-inverted-rest);
$color-surface-neutral-inverted-hovered: var(--DS-color-surface-neutral-inverted-hovered);
$color-surface-neutral-inverted-pressed: var(--DS-color-surface-neutral-inverted-pressed);
$color-surface-neutral-inverted-disabled: var(--DS-color-surface-neutral-inverted-disabled);
$color-surface-neutral-inverted-selected: var(--DS-color-surface-neutral-inverted-selected);
$color-surface-neutral-static-rest: var(--DS-color-surface-neutral-static-rest);
$color-surface-neutral-static-hovered: var(--DS-color-surface-neutral-static-hovered);
$color-surface-neutral-static-pressed: var(--DS-color-surface-neutral-static-pressed);
$color-surface-neutral-static-selected: var(--DS-color-surface-neutral-static-selected);
$color-surface-neutral-static-disabled: var(--DS-color-surface-neutral-static-disabled);
$color-surface-neutral-static-inverted-rest: var(--DS-color-surface-neutral-static-inverted-rest);
$color-surface-neutral-static-inverted-hovered: var(--DS-color-surface-neutral-static-inverted-hovered);
$color-surface-neutral-static-inverted-pressed: var(--DS-color-surface-neutral-static-inverted-pressed);
$color-surface-neutral-static-inverted-selected: var(--DS-color-surface-neutral-static-inverted-selected);
$color-surface-neutral-static-inverted-disabled: var(--DS-color-surface-neutral-static-inverted-disabled);
$color-surface-primary-default-rest: var(--DS-color-surface-primary-default-rest);
$color-surface-primary-default-hovered: var(--DS-color-surface-primary-default-hovered);
$color-surface-primary-default-pressed: var(--DS-color-surface-primary-default-pressed);
$color-surface-primary-default-disabled: var(--DS-color-surface-primary-default-disabled);
$color-surface-primary-default-selected: var(--DS-color-surface-primary-default-selected);
$color-surface-primary-additional-rest: var(--DS-color-surface-primary-additional-rest);
$color-surface-primary-additional-hovered: var(--DS-color-surface-primary-additional-hovered);
$color-surface-primary-subdued-rest: var(--DS-color-surface-primary-subdued-rest);
$color-surface-primary-subdued-hovered: var(--DS-color-surface-primary-subdued-hovered);
$color-surface-primary-subdued-selected: var(--DS-color-surface-primary-subdued-selected);
$color-surface-primary-subdued-pressed: var(--DS-color-surface-primary-subdued-pressed);
$color-surface-primary-static-rest: var(--DS-color-surface-primary-static-rest);
$color-surface-primary-static-hovered: var(--DS-color-surface-primary-static-hovered);
$color-surface-primary-static-selected: var(--DS-color-surface-primary-static-selected);
$color-surface-secondary-default-rest: var(--DS-color-surface-secondary-default-rest);
$color-surface-secondary-default-hovered: var(--DS-color-surface-secondary-default-hovered);
$color-surface-secondary-default-pressed: var(--DS-color-surface-secondary-default-pressed);
$color-surface-secondary-default-disabled: var(--DS-color-surface-secondary-default-disabled);
$color-surface-secondary-default-selected: var(--DS-color-surface-secondary-default-selected);
$color-surface-info-default-rest: var(--DS-color-surface-info-default-rest);
$color-surface-info-default-hovered: var(--DS-color-surface-info-default-hovered);
$color-surface-info-default-pressed: var(--DS-color-surface-info-default-pressed);
$color-surface-info-default-selected: var(--DS-color-surface-info-default-selected);
$color-surface-info-subdued-rest: var(--DS-color-surface-info-subdued-rest);
$color-surface-info-subdued-hovered: var(--DS-color-surface-info-subdued-hovered);
$color-surface-info-subdued-selected: var(--DS-color-surface-info-subdued-selected);
$color-surface-info-subdued-pressed: var(--DS-color-surface-info-subdued-pressed);
$color-surface-success-default-rest: var(--DS-color-surface-success-default-rest);
$color-surface-success-default-hovered: var(--DS-color-surface-success-default-hovered);
$color-surface-success-default-pressed: var(--DS-color-surface-success-default-pressed);
$color-surface-success-default-selected: var(--DS-color-surface-success-default-selected);
$color-surface-success-additional-rest: var(--DS-color-surface-success-additional-rest);
$color-surface-success-additional-hovered: var(--DS-color-surface-success-additional-hovered);
$color-surface-success-subdued-rest: var(--DS-color-surface-success-subdued-rest);
$color-surface-success-subdued-hovered: var(--DS-color-surface-success-subdued-hovered);
$color-surface-success-subdued-selected: var(--DS-color-surface-success-subdued-selected);
$color-surface-success-subdued-pressed: var(--DS-color-surface-success-subdued-pressed);
$color-surface-warning-default-rest: var(--DS-color-surface-warning-default-rest);
$color-surface-warning-default-hovered: var(--DS-color-surface-warning-default-hovered);
$color-surface-warning-default-pressed: var(--DS-color-surface-warning-default-pressed);
$color-surface-warning-default-selected: var(--DS-color-surface-warning-default-selected);
$color-surface-warning-subdued-rest: var(--DS-color-surface-warning-subdued-rest);
$color-surface-warning-subdued-hovered: var(--DS-color-surface-warning-subdued-hovered);
$color-surface-warning-subdued-selected: var(--DS-color-surface-warning-subdued-selected);
$color-surface-warning-subdued-pressed: var(--DS-color-surface-warning-subdued-pressed);
$color-surface-danger-default-rest: var(--DS-color-surface-danger-default-rest);
$color-surface-danger-default-hovered: var(--DS-color-surface-danger-default-hovered);
$color-surface-danger-default-pressed: var(--DS-color-surface-danger-default-pressed);
$color-surface-danger-default-selected: var(--DS-color-surface-danger-default-selected);
$color-surface-danger-additional-rest: var(--DS-color-surface-danger-additional-rest);
$color-surface-danger-additional-hovered: var(--DS-color-surface-danger-additional-hovered);
$color-surface-danger-subdued-rest: var(--DS-color-surface-danger-subdued-rest);
$color-surface-danger-subdued-hovered: var(--DS-color-surface-danger-subdued-hovered);
$color-surface-danger-subdued-selected: var(--DS-color-surface-danger-subdued-selected);
$color-surface-danger-subdued-pressed: var(--DS-color-surface-danger-subdued-pressed);
$color-surface-dark-default-rest: var(--DS-color-surface-dark-default-rest);
$color-surface-dark-default-hovered: var(--DS-color-surface-dark-default-hovered);
$color-surface-dark-default-pressed: var(--DS-color-surface-dark-default-pressed);
$color-surface-dark-default-selected: var(--DS-color-surface-dark-default-selected);
$color-surface-highlight-rest: var(--DS-color-surface-highlight-rest);
$color-surface-utility-blue-default-rest: var(--DS-color-surface-utility-blue-default-rest);
$color-surface-utility-blue-subdued-rest: var(--DS-color-surface-utility-blue-subdued-rest);
$color-surface-utility-red-default-rest: var(--DS-color-surface-utility-red-default-rest);
$color-surface-utility-red-subdued-rest: var(--DS-color-surface-utility-red-subdued-rest);
$color-surface-utility-green-default-rest: var(--DS-color-surface-utility-green-default-rest);
$color-surface-utility-green-subdued-rest: var(--DS-color-surface-utility-green-subdued-rest);
$color-surface-utility-yellow-default-rest: var(--DS-color-surface-utility-yellow-default-rest);
$color-surface-utility-yellow-subdued-rest: var(--DS-color-surface-utility-yellow-subdued-rest);
$color-surface-utility-orange-default-rest: var(--DS-color-surface-utility-orange-default-rest);
$color-surface-utility-orange-subdued-rest: var(--DS-color-surface-utility-orange-subdued-rest);
$color-surface-utility-pink-default-rest: var(--DS-color-surface-utility-pink-default-rest);
$color-surface-utility-pink-subdued-rest: var(--DS-color-surface-utility-pink-subdued-rest);
$color-surface-utility-purple-default-rest: var(--DS-color-surface-utility-purple-default-rest);
$color-surface-utility-purple-subdued-rest: var(--DS-color-surface-utility-purple-subdued-rest);
$color-surface-utility-indigo-default-rest: var(--DS-color-surface-utility-indigo-default-rest);
$color-surface-utility-indigo-subdued-rest: var(--DS-color-surface-utility-indigo-subdued-rest);
$color-surface-utility-cyan-default-rest: var(--DS-color-surface-utility-cyan-default-rest);
$color-surface-utility-cyan-subdued-rest: var(--DS-color-surface-utility-cyan-subdued-rest);
$color-surface-utility-teal-default-rest: var(--DS-color-surface-utility-teal-default-rest);
$color-surface-utility-teal-subdued-rest: var(--DS-color-surface-utility-teal-subdued-rest);
$color-surface-utility-gray-default-rest: var(--DS-color-surface-utility-gray-default-rest);
$color-surface-utility-gray-subdued-rest: var(--DS-color-surface-utility-gray-subdued-rest);
$color-content-neutral-default-rest: var(--DS-color-content-neutral-default-rest);
$color-content-neutral-default-hovered: var(--DS-color-content-neutral-default-hovered);
$color-content-neutral-default-pressed: var(--DS-color-content-neutral-default-pressed);
$color-content-neutral-default-selected: var(--DS-color-content-neutral-default-selected);
$color-content-neutral-default-selected-hovered: var(--DS-color-content-neutral-default-selected-hovered);
$color-content-neutral-default-disabled: var(--DS-color-content-neutral-default-disabled);
$color-content-neutral-subdued-rest: var(--DS-color-content-neutral-subdued-rest);
$color-content-neutral-subdued-hovered: var(--DS-color-content-neutral-subdued-hovered);
$color-content-neutral-subdued-pressed: var(--DS-color-content-neutral-subdued-pressed);
$color-content-neutral-subdued-selected: var(--DS-color-content-neutral-subdued-selected);
$color-content-neutral-subdued-selected-hovered: var(--DS-color-content-neutral-subdued-selected-hovered);
$color-content-neutral-subdued-disabled: var(--DS-color-content-neutral-subdued-disabled);
$color-content-neutral-muted-rest: var(--DS-color-content-neutral-muted-rest);
$color-content-neutral-muted-hovered: var(--DS-color-content-neutral-muted-hovered);
$color-content-neutral-muted-pressed: var(--DS-color-content-neutral-muted-pressed);
$color-content-neutral-muted-disabled: var(--DS-color-content-neutral-muted-disabled);
$color-content-neutral-inverted-rest: var(--DS-color-content-neutral-inverted-rest);
$color-content-neutral-inverted-hovered: var(--DS-color-content-neutral-inverted-hovered);
$color-content-neutral-inverted-pressed: var(--DS-color-content-neutral-inverted-pressed);
$color-content-neutral-inverted-disabled: var(--DS-color-content-neutral-inverted-disabled);
$color-content-neutral-static-rest: var(--DS-color-content-neutral-static-rest);
$color-content-neutral-static-hovered: var(--DS-color-content-neutral-static-hovered);
$color-content-neutral-static-pressed: var(--DS-color-content-neutral-static-pressed);
$color-content-neutral-static-disabled: var(--DS-color-content-neutral-static-disabled);
$color-content-neutral-inverted-subdued-rest: var(--DS-color-content-neutral-inverted-subdued-rest);
$color-content-neutral-additional-rest: var(--DS-color-content-neutral-additional-rest);
$color-content-neutral-additional-hovered: var(--DS-color-content-neutral-additional-hovered);
$color-content-neutral-additional-pressed: var(--DS-color-content-neutral-additional-pressed);
$color-content-neutral-additional-selected: var(--DS-color-content-neutral-additional-selected);
$color-content-neutral-additional-disabled: var(--DS-color-content-neutral-additional-disabled);
$color-content-neutral-static-inverted-rest: var(--DS-color-content-neutral-static-inverted-rest);
$color-content-neutral-static-inverted-hovered: var(--DS-color-content-neutral-static-inverted-hovered);
$color-content-neutral-static-inverted-pressed: var(--DS-color-content-neutral-static-inverted-pressed);
$color-content-neutral-static-inverted-disabled: var(--DS-color-content-neutral-static-inverted-disabled);
$color-content-neutral-static-inverted-subdued-rest: var(--DS-color-content-neutral-static-inverted-subdued-rest);
$color-content-neutral-static-subdued-rest: var(--DS-color-content-neutral-static-subdued-rest);
$color-content-primary-default-rest: var(--DS-color-content-primary-default-rest);
$color-content-primary-default-hovered: var(--DS-color-content-primary-default-hovered);
$color-content-primary-default-pressed: var(--DS-color-content-primary-default-pressed);
$color-content-primary-additional-rest: var(--DS-color-content-primary-additional-rest);
$color-content-primary-additional-hovered: var(--DS-color-content-primary-additional-hovered);
$color-content-primary-additional-pressed: var(--DS-color-content-primary-additional-pressed);
$color-content-secondary-default-rest: var(--DS-color-content-secondary-default-rest);
$color-content-secondary-default-hovered: var(--DS-color-content-secondary-default-hovered);
$color-content-secondary-default-pressed: var(--DS-color-content-secondary-default-pressed);
$color-content-info-default-rest: var(--DS-color-content-info-default-rest);
$color-content-info-default-hovered: var(--DS-color-content-info-default-hovered);
$color-content-info-default-pressed: var(--DS-color-content-info-default-pressed);
$color-content-success-default-rest: var(--DS-color-content-success-default-rest);
$color-content-success-default-hovered: var(--DS-color-content-success-default-hovered);
$color-content-success-default-pressed: var(--DS-color-content-success-default-pressed);
$color-content-success-additional-rest: var(--DS-color-content-success-additional-rest);
$color-content-success-additional-hovered: var(--DS-color-content-success-additional-hovered);
$color-content-success-additional-pressed: var(--DS-color-content-success-additional-pressed);
$color-content-warning-default-rest: var(--DS-color-content-warning-default-rest);
$color-content-warning-default-hovered: var(--DS-color-content-warning-default-hovered);
$color-content-warning-default-pressed: var(--DS-color-content-warning-default-pressed);
$color-content-danger-default-rest: var(--DS-color-content-danger-default-rest);
$color-content-danger-default-hovered: var(--DS-color-content-danger-default-hovered);
$color-content-danger-default-pressed: var(--DS-color-content-danger-default-pressed);
$color-content-danger-additional-rest: var(--DS-color-content-danger-additional-rest);
$color-content-danger-additional-hovered: var(--DS-color-content-danger-additional-hovered);
$color-content-danger-additional-pressed: var(--DS-color-content-danger-additional-pressed);
$color-content-highlight-rest: var(--DS-color-content-highlight-rest);
$color-content-utility-blue-default-rest: var(--DS-color-content-utility-blue-default-rest);
$color-content-utility-red-default-rest: var(--DS-color-content-utility-red-default-rest);
$color-content-utility-green-default-rest: var(--DS-color-content-utility-green-default-rest);
$color-content-utility-yellow-default-rest: var(--DS-color-content-utility-yellow-default-rest);
$color-content-utility-orange-default-rest: var(--DS-color-content-utility-orange-default-rest);
$color-content-utility-pink-default-rest: var(--DS-color-content-utility-pink-default-rest);
$color-content-utility-purple-default-rest: var(--DS-color-content-utility-purple-default-rest);
$color-content-utility-indigo-default-rest: var(--DS-color-content-utility-indigo-default-rest);
$color-content-utility-cyan-default-rest: var(--DS-color-content-utility-cyan-default-rest);
$color-content-utility-teal-default-rest: var(--DS-color-content-utility-teal-default-rest);
$color-content-utility-gray-default-rest: var(--DS-color-content-utility-gray-default-rest);
$color-border-neutral-default-rest: var(--DS-color-border-neutral-default-rest);
$color-border-neutral-default-hovered: var(--DS-color-border-neutral-default-hovered);
$color-border-neutral-default-pressed: var(--DS-color-border-neutral-default-pressed);
$color-border-neutral-default-disabled: var(--DS-color-border-neutral-default-disabled);
$color-border-neutral-subdued-rest: var(--DS-color-border-neutral-subdued-rest);
$color-border-neutral-subdued-hovered: var(--DS-color-border-neutral-subdued-hovered);
$color-border-neutral-subdued-pressed: var(--DS-color-border-neutral-subdued-pressed);
$color-border-neutral-subdued-selected: var(--DS-color-border-neutral-subdued-selected);
$color-border-neutral-subdued-selected-hovered: var(--DS-color-border-neutral-subdued-selected-hovered);
$color-border-neutral-subdued-disabled: var(--DS-color-border-neutral-subdued-disabled);
$color-border-neutral-muted-rest: var(--DS-color-border-neutral-muted-rest);
$color-border-neutral-muted-hovered: var(--DS-color-border-neutral-muted-hovered);
$color-border-neutral-muted-pressed: var(--DS-color-border-neutral-muted-pressed);
$color-border-neutral-muted-disabled: var(--DS-color-border-neutral-muted-disabled);
$color-border-neutral-inverted-rest: var(--DS-color-border-neutral-inverted-rest);
$color-border-neutral-inverted-hovered: var(--DS-color-border-neutral-inverted-hovered);
$color-border-neutral-inverted-pressed: var(--DS-color-border-neutral-inverted-pressed);
$color-border-neutral-inverted-disabled: var(--DS-color-border-neutral-inverted-disabled);
$color-border-neutral-inverted-subdued-rest: var(--DS-color-border-neutral-inverted-subdued-rest);
$color-border-neutral-inverted-subdued-hovered: var(--DS-color-border-neutral-inverted-subdued-hovered);
$color-border-neutral-inverted-subdued-pressed: var(--DS-color-border-neutral-inverted-subdued-pressed);
$color-border-neutral-inverted-subdued-disabled: var(--DS-color-border-neutral-inverted-subdued-disabled);
$color-border-neutral-static-rest: var(--DS-color-border-neutral-static-rest);
$color-border-neutral-static-hovered: var(--DS-color-border-neutral-static-hovered);
$color-border-neutral-static-pressed: var(--DS-color-border-neutral-static-pressed);
$color-border-neutral-static-disabled: var(--DS-color-border-neutral-static-disabled);
$color-border-neutral-static-inverted-rest: var(--DS-color-border-neutral-static-inverted-rest);
$color-border-neutral-static-inverted-hovered: var(--DS-color-border-neutral-static-inverted-hovered);
$color-border-neutral-static-inverted-pressed: var(--DS-color-border-neutral-static-inverted-pressed);
$color-border-neutral-static-inverted-disabled: var(--DS-color-border-neutral-static-inverted-disabled);
$color-border-primary-default-rest: var(--DS-color-border-primary-default-rest);
$color-border-primary-default-hovered: var(--DS-color-border-primary-default-hovered);
$color-border-primary-subdued-rest: var(--DS-color-border-primary-subdued-rest);
$color-border-primary-subdued-hovered: var(--DS-color-border-primary-subdued-hovered);
$color-border-primary-subdued-pressed: var(--DS-color-border-primary-subdued-pressed);
$color-border-primary-subdued-disabled: var(--DS-color-border-primary-subdued-disabled);
$color-border-primary-additional-rest: var(--DS-color-border-primary-additional-rest);
$color-border-primary-additional-hovered: var(--DS-color-border-primary-additional-hovered);
$color-border-primary-additional-pressed: var(--DS-color-border-primary-additional-pressed);
$color-border-secondary-default-rest: var(--DS-color-border-secondary-default-rest);
$color-border-secondary-default-hovered: var(--DS-color-border-secondary-default-hovered);
$color-border-secondary-subdued-rest: var(--DS-color-border-secondary-subdued-rest);
$color-border-secondary-subdued-hovered: var(--DS-color-border-secondary-subdued-hovered);
$color-border-secondary-subdued-pressed: var(--DS-color-border-secondary-subdued-pressed);
$color-border-secondary-subdued-disabled: var(--DS-color-border-secondary-subdued-disabled);
$color-border-info-default-rest: var(--DS-color-border-info-default-rest);
$color-border-info-default-hovered: var(--DS-color-border-info-default-hovered);
$color-border-info-subdued-rest: var(--DS-color-border-info-subdued-rest);
$color-border-info-subdued-hovered: var(--DS-color-border-info-subdued-hovered);
$color-border-info-subdued-pressed: var(--DS-color-border-info-subdued-pressed);
$color-border-success-default-rest: var(--DS-color-border-success-default-rest);
$color-border-success-default-hovered: var(--DS-color-border-success-default-hovered);
$color-border-success-subdued-rest: var(--DS-color-border-success-subdued-rest);
$color-border-success-subdued-hovered: var(--DS-color-border-success-subdued-hovered);
$color-border-success-subdued-pressed: var(--DS-color-border-success-subdued-pressed);
$color-border-success-additional-rest: var(--DS-color-border-success-additional-rest);
$color-border-success-additional-hovered: var(--DS-color-border-success-additional-hovered);
$color-border-success-additional-pressed: var(--DS-color-border-success-additional-pressed);
$color-border-warning-default-rest: var(--DS-color-border-warning-default-rest);
$color-border-warning-default-hovered: var(--DS-color-border-warning-default-hovered);
$color-border-warning-subdued-rest: var(--DS-color-border-warning-subdued-rest);
$color-border-warning-subdued-hovered: var(--DS-color-border-warning-subdued-hovered);
$color-border-warning-subdued-pressed: var(--DS-color-border-warning-subdued-pressed);
$color-border-danger-default-rest: var(--DS-color-border-danger-default-rest);
$color-border-danger-default-hovered: var(--DS-color-border-danger-default-hovered);
$color-border-danger-subdued-rest: var(--DS-color-border-danger-subdued-rest);
$color-border-danger-subdued-hovered: var(--DS-color-border-danger-subdued-hovered);
$color-border-danger-subdued-pressed: var(--DS-color-border-danger-subdued-pressed);
$color-border-danger-additional-rest: var(--DS-color-border-danger-additional-rest);
$color-border-danger-additional-hovered: var(--DS-color-border-danger-additional-hovered);
$color-border-danger-additional-pressed: var(--DS-color-border-danger-additional-pressed);
$color-border-dark-default-rest: var(--DS-color-border-dark-default-rest);
$color-border-dark-default-hovered: var(--DS-color-border-dark-default-hovered);
$color-border-dark-subdued-rest: var(--DS-color-border-dark-subdued-rest);
$color-border-dark-subdued-hovered: var(--DS-color-border-dark-subdued-hovered);
$color-border-dark-subdued-pressed: var(--DS-color-border-dark-subdued-pressed);
$color-border-utility-blue-default-rest: var(--DS-color-border-utility-blue-default-rest);
$color-border-utility-red-default-rest: var(--DS-color-border-utility-red-default-rest);
$color-border-utility-green-default-rest: var(--DS-color-border-utility-green-default-rest);
$color-border-utility-yellow-default-rest: var(--DS-color-border-utility-yellow-default-rest);
$color-border-utility-orange-default-rest: var(--DS-color-border-utility-orange-default-rest);
$color-border-utility-pink-default-rest: var(--DS-color-border-utility-pink-default-rest);
$color-border-utility-purple-default-rest: var(--DS-color-border-utility-purple-default-rest);
$color-border-utility-indigo-default-rest: var(--DS-color-border-utility-indigo-default-rest);
$color-border-utility-cyan-default-rest: var(--DS-color-border-utility-cyan-default-rest);
$color-border-utility-teal-default-rest: var(--DS-color-border-utility-teal-default-rest);
$color-border-utility-gray-default-rest: var(--DS-color-border-utility-gray-default-rest);
$color-border-focus: var(--DS-color-border-focus);
$color-border-focus-inverted: var(--DS-color-border-focus-inverted);
$color-border-focus-static: var(--DS-color-border-focus-static);
$color-border-focus-static-inverted: var(--DS-color-border-focus-static-inverted);
$color-shadow-ambient: var(--DS-color-shadow-ambient);
$color-shadow-ambient-lighter: var(--DS-color-shadow-ambient-lighter);
$color-shadow-ambient-darker: var(--DS-color-shadow-ambient-darker);
$color-shadow-ambient-brand: var(--DS-color-shadow-ambient-brand);
$color-shadow-key: var(--DS-color-shadow-key);
$color-shadow-key-lighter: var(--DS-color-shadow-key-lighter);
$color-shadow-key-darker: var(--DS-color-shadow-key-darker);
$color-shadow-key-brand: var(--DS-color-shadow-key-brand);
$color-shadow-none: var(--DS-color-shadow-none);
$primary-10: var(--DS-primary-10);
$primary-20: var(--DS-primary-20);
$primary-30: var(--DS-primary-30);
$primary-40: var(--DS-primary-40);
$primary-50: var(--DS-primary-50);
$primary-60: var(--DS-primary-60);
$primary-70: var(--DS-primary-70);
$primary-80: var(--DS-primary-80);
$primary-90: var(--DS-primary-90);
$primary-100: var(--DS-primary-100);
$primary-110: var(--DS-primary-110);
$primary-120: var(--DS-primary-120);
$primary-130: var(--DS-primary-130);
$primary-140: var(--DS-primary-140);
$primary-150: var(--DS-primary-150);
$primary-160: var(--DS-primary-160);
$primary-170: var(--DS-primary-170);
$secondary-10: var(--DS-secondary-10);
$secondary-20: var(--DS-secondary-20);
$secondary-30: var(--DS-secondary-30);
$secondary-40: var(--DS-secondary-40);
$secondary-50: var(--DS-secondary-50);
$secondary-60: var(--DS-secondary-60);
$secondary-70: var(--DS-secondary-70);
$secondary-80: var(--DS-secondary-80);
$secondary-90: var(--DS-secondary-90);
$secondary-100: var(--DS-secondary-100);
$secondary-110: var(--DS-secondary-110);
$secondary-120: var(--DS-secondary-120);
$secondary-130: var(--DS-secondary-130);
$secondary-140: var(--DS-secondary-140);
$secondary-150: var(--DS-secondary-150);
$secondary-160: var(--DS-secondary-160);
$secondary-170: var(--DS-secondary-170);
$secondary-180: var(--DS-secondary-180);
$secondary-190: var(--DS-secondary-190);
$secondary-200: var(--DS-secondary-200);
$secondary-210: var(--DS-secondary-210);
$secondary-220: var(--DS-secondary-220);
$secondary-230: var(--DS-secondary-230);
$secondary-240: var(--DS-secondary-240);
$secondary-250: var(--DS-secondary-250);
$info-10: var(--DS-info-10);
$info-20: var(--DS-info-20);
$info-30: var(--DS-info-30);
$info-40: var(--DS-info-40);
$info-50: var(--DS-info-50);
$info-60: var(--DS-info-60);
$info-70: var(--DS-info-70);
$info-80: var(--DS-info-80);
$info-90: var(--DS-info-90);
$info-100: var(--DS-info-100);
$info-110: var(--DS-info-110);
$info-120: var(--DS-info-120);
$info-130: var(--DS-info-130);
$info-140: var(--DS-info-140);
$info-150: var(--DS-info-150);
$info-160: var(--DS-info-160);
$info-170: var(--DS-info-170);
$success-10: var(--DS-success-10);
$success-20: var(--DS-success-20);
$success-30: var(--DS-success-30);
$success-40: var(--DS-success-40);
$success-50: var(--DS-success-50);
$success-60: var(--DS-success-60);
$success-70: var(--DS-success-70);
$success-80: var(--DS-success-80);
$success-90: var(--DS-success-90);
$success-100: var(--DS-success-100);
$success-110: var(--DS-success-110);
$success-120: var(--DS-success-120);
$success-130: var(--DS-success-130);
$success-140: var(--DS-success-140);
$success-150: var(--DS-success-150);
$success-160: var(--DS-success-160);
$success-170: var(--DS-success-170);
$warning-10: var(--DS-warning-10);
$warning-20: var(--DS-warning-20);
$warning-30: var(--DS-warning-30);
$warning-40: var(--DS-warning-40);
$warning-50: var(--DS-warning-50);
$warning-60: var(--DS-warning-60);
$warning-70: var(--DS-warning-70);
$warning-80: var(--DS-warning-80);
$warning-90: var(--DS-warning-90);
$warning-100: var(--DS-warning-100);
$warning-110: var(--DS-warning-110);
$warning-120: var(--DS-warning-120);
$warning-130: var(--DS-warning-130);
$warning-140: var(--DS-warning-140);
$warning-150: var(--DS-warning-150);
$warning-160: var(--DS-warning-160);
$warning-170: var(--DS-warning-170);
$danger-10: var(--DS-danger-10);
$danger-20: var(--DS-danger-20);
$danger-30: var(--DS-danger-30);
$danger-40: var(--DS-danger-40);
$danger-50: var(--DS-danger-50);
$danger-60: var(--DS-danger-60);
$danger-70: var(--DS-danger-70);
$danger-80: var(--DS-danger-80);
$danger-90: var(--DS-danger-90);
$danger-100: var(--DS-danger-100);
$danger-110: var(--DS-danger-110);
$danger-120: var(--DS-danger-120);
$danger-130: var(--DS-danger-130);
$danger-140: var(--DS-danger-140);
$danger-150: var(--DS-danger-150);
$danger-160: var(--DS-danger-160);
$danger-170: var(--DS-danger-170);
$neutral-10: var(--DS-neutral-10);
$neutral-20: var(--DS-neutral-20);
$neutral-30: var(--DS-neutral-30);
$neutral-40: var(--DS-neutral-40);
$neutral-50: var(--DS-neutral-50);
$neutral-60: var(--DS-neutral-60);
$neutral-70: var(--DS-neutral-70);
$neutral-80: var(--DS-neutral-80);
$neutral-90: var(--DS-neutral-90);
$neutral-100: var(--DS-neutral-100);
$neutral-110: var(--DS-neutral-110);
$neutral-120: var(--DS-neutral-120);
$neutral-130: var(--DS-neutral-130);
$neutral-140: var(--DS-neutral-140);
$neutral-150: var(--DS-neutral-150);
$neutral-160: var(--DS-neutral-160);
$neutral-170: var(--DS-neutral-170);
$neutral-180: var(--DS-neutral-180);
$neutral-190: var(--DS-neutral-190);
$neutral-200: var(--DS-neutral-200);
$neutral-210: var(--DS-neutral-210);
$neutral-220: var(--DS-neutral-220);
$neutral-230: var(--DS-neutral-230);
$neutral-240: var(--DS-neutral-240);
$neutral-250: var(--DS-neutral-250);
