<dx-range-selector
  id="range-selector"
  [value]="['1', '2']"
  title="Select a Product Weight"
  [dataSource]="dataSource"
>
  <dxo-range-selector-margin [top]="50"></dxo-range-selector-margin>
  <dxo-range-selector-scale valueType="numeric"></dxo-range-selector-scale>
  <dxo-range-selector-chart>
    <dxi-range-selector-series valueField="appleCost" color="#00ff00"></dxi-range-selector-series>
    <dxi-range-selector-series valueField="orangeCost" color="#ffa500"></dxi-range-selector-series>
    <dxo-range-selector-common-series-settings type="spline" argumentField="weight">
    </dxo-range-selector-common-series-settings>
  </dxo-range-selector-chart>
</dx-range-selector>
