::ng-deep .form {
    padding: 20% 0;
    text-align: center;
}
::ng-deep #progress-button {
    margin-bottom: 20px;
}
::ng-deep #progress-bar-status {
    display: inline-block;
}
::ng-deep .complete .dx-progressbar-range {
    background-color: green;
}