@use "sass:math";

$size: null !default;

@use "colors" as *;
@use "./variables" as *;

$generic-size-postfix: null !default;
$generic-base-font-size: null !default;
$padding-ratio: 1 !default;
$dense-ratio: 1 !default;

@use "../base/size-functions" as s with (
  $padding-ratio: $padding-ratio,
  $dense-ratio: $dense-ratio
);

@if $size == "default" {
  $generic-size-postfix: "" !default;
  $generic-base-font-size: 14px;
}

@if $size == "compact" {
  $generic-size-postfix: ".compact" !default;
  $generic-base-font-size: 12px;
}

@include s.set-font-size($generic-base-font-size);

// Font sizes
$generic-base-line-height: 1.35 !default;

// Base sizes
$generic-base-inline-widget-height: s.calc-vertical-indent(36px) !default;
$generic-base-inline-block-height: s.calc-vertical-indent(19px) !default;
$generic-base-icon-size: s.calc-font-size(18px) !default;
$generic-base-more-adaptive-icon-size: s.calc-font-size(21px) !default;
$generic-base-inline-horizontal-padding: s.calc-horizontal-indent(6px) !default;

// Base inline widgets paddings
$generic-base-inline-widget-vertical-padding:
  $generic-base-inline-widget-height -
  $generic-base-inline-block-height !default;
$generic-base-inline-widget-top-padding: floor(math.div($generic-base-inline-widget-vertical-padding, 2)) !default;
$generic-base-inline-widget-bottom-padding:
  $generic-base-inline-widget-vertical-padding -
  $generic-base-inline-widget-top-padding !default;

// Base bordered inline widgets sizes
$generic-base-border-width: 1px !default;
$generic-base-inline-borderedwidget-inner-size:
  $generic-base-inline-widget-height -
  $generic-base-border-width * 2 !default;

$generic-base-inline-borderedwidget-top-padding:
  $generic-base-inline-widget-top-padding -
  $generic-base-border-width !default;

$generic-base-inline-borderedwidget-horizontal-padding:
  $generic-base-inline-horizontal-padding -
  $generic-base-border-width !default;

$generic-base-inline-borderedwidget-bottom-padding:
  $generic-base-inline-widget-bottom-padding -
  $generic-base-border-width !default;
