<div style="overflow:hidden; width: 100%; height: calc(40vh - 100px);">
	<dx-data-grid #grid [showColumnHeaders]="true" [dataSource]="data" [height]="'100%'">
		<dxo-scrolling mode="virtual" [useNative]="false" rowRenderingMode="virtual" columnRenderingMode="virtual">
		</dxo-scrolling>
	<dxo-search-panel [visible]="true"
                        [searchVisibleColumnsOnly]="true"
                        [placeholder]="search"></dxo-search-panel>

		<dxi-column caption="Name" dataField="person.firstName" cellTemplate="nameTemplate"> </dxi-column>
		<dxi-column caption="Phone" dataField="person.phone">
		</dxi-column>
		<dxi-column caption="Organisation" dataField="organisation.name">
		</dxi-column>
		<dxi-column caption="Position" dataField="person.position.title">
		</dxi-column>

		<div *dxTemplate="let d of 'nameTemplate'" style="overflow: hidden;">
			<span [ngStyle]="getNameStyle(d.data.person.id)"><b>{{d.data.person.firstName}}</b></span>
			<span *ngIf="d.data.organisation.name === 'A'">
         <i>{{d.data.person.surname}}</i>
       </span>
		</div>
	</dx-data-grid>
</div>