<dx-splitter id="splitter">
  <dxi-item
    [resizable]="true"
    minSize="70px"
    size="140px"
    template="Left Pane"
  ></dxi-item>
  <dxi-item [resizable]="true">
    <dx-splitter orientation="vertical">
      <dxi-item
        [resizable]="true"
        [collapsible]="true"
        collapsedSize="8%"
        maxSize="75%"
        template="Central Pane"
      ></dxi-item>
      <dxi-item [resizable]="true" [collapsible]="true">
        <dx-splitter>
          <dxi-item
            [resizable]="true"
            [collapsible]="true"
            minSize="5%"
            size="30%"
            template="Nested Left Pane"
          ></dxi-item>
          <dxi-item
            [resizable]="true"
            template="Nested Central Pane"
          ></dxi-item>
          <dxi-item
            [resizable]="true"
            [collapsible]="true"
            minSize="5%"
            size="30%"
            template="Nested Right Pane"
          ></dxi-item>

          <ng-container *ngFor="let pane of paneContentTemplates">
            <div *dxTemplate="let data of pane.name" tabindex="0">
              <ng-template
                [ngTemplateOutlet]="customPaneTemplate"
                [ngTemplateOutletContext]="{ data: data, title: pane.name }"
              >
              </ng-template>
            </div>
          </ng-container>
        </dx-splitter>
      </dxi-item>

      <ng-container *ngFor="let pane of paneContentTemplates">
        <div *dxTemplate="let data of pane.name" tabindex="0">
          <ng-template
            [ngTemplateOutlet]="customPaneTemplate"
            [ngTemplateOutletContext]="{ data: data, title: pane.name }"
          >
          </ng-template>
        </div>
      </ng-container>
    </dx-splitter>
  </dxi-item>
  <dxi-item
    [resizable]="false"
    [collapsible]="false"
    size="140px"
    template="Right Pane"
  ></dxi-item>

  <ng-container *ngFor="let pane of paneContentTemplates">
    <div *dxTemplate="let data of pane.name" tabindex="0">
      <ng-template
        [ngTemplateOutlet]="customPaneTemplate"
        [ngTemplateOutletContext]="{ data: data, title: pane.name }"
      >
      </ng-template>
    </div>
  </ng-container>
</dx-splitter>

<ng-template #customPaneTemplate let-data="data" let-title="title">
  <div class="pane-content">
    <div class="pane-title">{{ title }}</div>
    <div class="pane-state">{{ getPaneState(data) }}</div>
    <ng-container *ngFor="let item of filterDimensionOptions(data)">
      <div class="pane-option">{{ item.key }}: {{ item.value }}</div>
    </ng-container>
  </div>
</ng-template>
