::ng-deep .demo-container {
  height: 500px;
}

::ng-deep #splitter {
  border: 1px solid var(--dx-color-border);
  border-radius: 8px;
  overflow: hidden;
}

::ng-deep .pane-content {
  padding: 12px;
}

::ng-deep .pane-title {
  font-weight: 600;
  margin-bottom: 2px;
}

::ng-deep .pane-state {
  font-size: var(--dx-font-size-xs);
  margin-bottom: 4px;
}

::ng-deep .pane-option {
  color: var(--dx-texteditor-color-label);
  font-size: 10px;
}
