@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../button/mixins" as *;
@use "../button/colors" as *;
@use "../../base/calendar";

// adduse

$material-calendar-cell-hover-bg-color: color.change($base-accent, $alpha: 0.24) !default;
$material-calendar-cell-active-bg-color: color.change($base-accent, $alpha: 0.32) !default;

.dx-calendar {
  width: $material-calendar-legacy-width; // $material-calendar-width; width: 226px;
  min-width: 226px; // $material-calendar-width; min-width: 226px;
  height: $material-calendar-legacy-height; // $material-calendar-height + 20px; // 242 without today button 36 + 8gap height: 264.4px;
  min-height: 242px; // $material-calendar-height + 20px; min-height: 264.4px;
  background-color: $calendar-bg;
  border: 1px solid transparent;
}

.dx-calendar-navigator-previous-view,
.dx-calendar-navigator-next-view {
  &.dx-button {
    .dx-icon {
      color: $calendar-shevron-icon-color;
    }
  }
}

.dx-calendar-body {
  thead {
    font-size: 12px;

    tr {
      height: $material-calendar-cell-base-size;
    }
  }

  table {
    border-spacing: 0;

    th {
      color: $calendar-header-color;
      font-weight: 500;
    }

    .dx-week-number-header {
      color: $calendar-cell-selected-bg;
      width: $material-calendar-cell-base-size;
    }

    .dx-calendar-week-number-cell {
      color: $calendar-cell-selected-bg;
      border-radius: $calendar-cell-contoured-border-radius;
    }
  }
}

.dx-calendar-cell {
  text-align: center;
  color: $calendar-color;

  .dx-calendar-view-decade &,
  .dx-calendar-view-year & {
    span {
      line-height: 400%;
      width: 48px;
    }
  }

  .dx-calendar-view-century & {
    span {
      line-height: 200%;
      width: 48px;
    }
  }

  span {
    border-radius: 50%;
    width: $material-calendar-cell-base-size;
    height: $material-calendar-cell-base-size;
  }

  &.dx-calendar-today {
    font-weight: bold;
    color: $calendar-cell-selected-bg;
  }

  &.dx-state-hover {
    span {
      background-color: $material-calendar-cell-hover-bg-color;
    }
  }

  &.dx-calendar-contoured-date:not(.dx-calendar-today):not(.dx-calendar-selected-date):not(.dx-calendar-empty-cell) {
    color: $calendar-cell-hover-color;

    span {
      box-sizing: border-box;
      border: 2px solid $base-accent;

      // box-shadow: inset 0 2px $base-accent, inset 0 -2px $base-accent;

      // background-color: $material-calendar-cell-hover-bg-color;
    }
  }

  &.dx-calendar-other-view,
  &.dx-calendar-empty-cell {
    color: $calendar-cell-other-color;

    &.dx-state-hover,
    &.dx-state-active {
      color: $calendar-cell-other-hover-color;
    }
  }

  &.dx-calendar-empty-cell {
    cursor: default;
    color: color.change($calendar-color, $alpha: 0.25);

    &.dx-state-hover:not(.dx-calendar-selected-date) {
      color: color.change($calendar-color, $alpha: 0.25);

      span {
        background-color: transparent;
      }
    }
  }

  &.dx-state-active {
    &:not(.dx-calendar-empty-cell) {
      &:not(.dx-calendar-selected-date) {
        span {
          background-color: $material-calendar-cell-active-bg-color;
        }
      }
    }
  }

  &.dx-calendar-selected-date:not(.dx-calendar-other-view) {
    &,
    &.dx-calendar-today {
      span {
        color: $base-inverted-text-color;
        background-color: $calendar-cell-selected-bg;
      }
    }
  }

  &.dx-calendar-range-date:not(.dx-calendar-other-view) {
    background-color: color.change($calendar-cell-selected-bg, $alpha: 0.08);
    box-shadow: inset 0 2px $calendar-bg, inset 0 -2px $calendar-bg;
    border-radius: 0;
  }
}

.dx-calendar-views-wrapper {
  .dx-widget:not(.dx-rtl) .dx-calendar-range-start-date:not(.dx-calendar-other-view),
  .dx-widget.dx-rtl .dx-calendar-range-end-date:not(.dx-calendar-other-view) {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }

  .dx-widget:not(.dx-rtl) .dx-calendar-range-end-date:not(.dx-calendar-other-view),
  .dx-widget.dx-rtl .dx-calendar-range-start-date:not(.dx-calendar-other-view) {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

.dx-invalid {
  &.dx-calendar {
    border-color: $calendar-invalid-faded-border-color;

    &.dx-state-focused {
      border-color: $calendar-invalid-focused-border-color;
    }
  }
}
