@use "sass:color";
@use "colors" as *;
@use "../colors" as *;
@use "sizes" as *;
@use "../sizes" as *;
@use "../../base/calendar/calendar";
@use "../../base/calendar/mixins" as *;

// adduse

$material-week-number-cell-bg-color: color.change(darken($base-bg, 12%), $alpha: 0.5) !default;
$material-calendar-cell-hover-bg: color.change($base-accent, $alpha: 0.24) !default;
$material-calendar-cell-selected-bg: color.change($calendar-cell-selected-bg, $alpha: 0.32) !default;
$material-calendar-cell-active-bg: color.change($base-accent, $alpha: 0.4) !default;
$material-cell-contoured-border-color: color.change($base-accent, $alpha: 0.5) !default;

.dx-calendar {
  width: $material-calendar-legacy-width;
  min-width: $material-calendar-legacy-width;
  height: $material-calendar-legacy-height;
  min-height: $material-calendar-legacy-height;
  background-color: $calendar-bg;

  &.dx-calendar-multiview {
    width: $material-calendar-legacy-width * 2;
    min-width: $material-calendar-legacy-width * 2;
  }
}

.dx-calendar-navigator-previous-view,
.dx-calendar-navigator-next-view {
  &.dx-button {
    .dx-icon {
      width: $material-base-icon-size;
      height: $material-base-icon-size;
      font-size: $material-base-icon-size;
    }
  }
}

@include dx-calendar-body-mixin(
  $calendar-cell-other-color,
  $material-week-number-cell-bg-color,
  $base-border-radius,
  $material-calendar-cell-font-size,
  $calendar-header-color,
);
@include dx-calendar-cell-mixin(
  $calendar-cell-contoured-border-radius,
  $calendar-color,
  $base-border-radius,
  $base-accent,
  $material-calendar-cell-hover-bg,
  $calendar-cell-hover-color,
  $material-calendar-cell-active-bg,
  $material-calendar-cell-selected-bg,
  $calendar-color,
  $material-cell-contoured-border-color,
  $calendar-cell-other-color,
  $calendar-cell-other-hover-color,
  $base-inverted-text-color,
);

.dx-invalid {
  &.dx-calendar {
    border-color: $calendar-invalid-faded-border-color;

    &.dx-state-focused {
      border-color: $calendar-invalid-focused-border-color;
    }
  }
}
