@use "../sizes" as *;

// adduse

$material-calendar-body-width: null !default;
$material-calendar-body-height: null !default;
$material-calendar-body-top: null !default;
$material-calendar-navigator-height: null !default;
$material-nav-button-width: null !default;
$material-calendar-cell-width: null !default;
$material-calendar-cell-diameter: null !default;
$material-calendar-cell-vertical-padding: null !default;

$material-calendar-cell-font-size: 12px !default;
$material-calendar-footer-height: 45px !default;
$material-calendar-navigator-vertical-padding: 9px !default;
$material-calendar-header-bottom-padding: 10px !default;
$material-calendar-cell-horizontal-padding: 8px !default;
$material-calendar-caption-button-padding: 2px 15px 4px !default;

@if $size == "default" {
  $material-calendar-body-width: 226px !default;
  $material-calendar-body-height: 204px !default;
  $material-calendar-body-top: 45px !default;
  $material-calendar-navigator-height: 36px !default;
  $material-nav-button-width: 32px !default;
  $material-calendar-cell-width: 32px !default;
  $material-calendar-cell-diameter: 28px !default;
  $material-calendar-cell-vertical-padding: 0 !default;
}

@else if $size == "compact" {
  $material-calendar-body-width: 250px !default;
  $material-calendar-body-height: 200px !default;
  $material-calendar-body-top: 35px !default;
  $material-calendar-navigator-height: 28px !default;
  $material-nav-button-width: 28px !default;
  $material-calendar-cell-width: 32px !default;
  $material-calendar-cell-diameter: 28px !default;
  $material-calendar-cell-vertical-padding: 0 !default;
}
