@use "../../../_design-system/variables/ds" as ds;

$tile-view-content-rest: ds.$color-content-neutral-default-rest !default;
$tile-view-bg-rest: ds.$color-surface-neutral-default-rest !default;
$tile-view-border-rest: ds.$color-border-neutral-subdued-rest !default;
$tile-view-bg-hovered: ds.$color-surface-neutral-default-rest !default;
$tile-view-border-hovered: ds.$color-border-primary-default-rest !default;
$tile-view-bg-active: ds.$color-surface-neutral-alpha-active !default;
$tile-view-content-active: $tile-view-content-rest !default;
