<dx-chart
  id="chart"
  palette="violet"
  title="Crude Oil Prices in 2005"
  [dataSource]="oilPrices"
>
  <dxo-chart-common-series-settings
    argumentField="date"
    type="rangeBar"
    [minBarSize]="2"
  ></dxo-chart-common-series-settings>
  <dxi-chart-value-axis>
    <dxo-chart-title text="$ per barrel"></dxo-chart-title>
  </dxi-chart-value-axis>
  <dxo-chart-argument-axis>
    <dxo-chart-label format="month"></dxo-chart-label>
  </dxo-chart-argument-axis>
  <dxo-chart-export [enabled]="true"></dxo-chart-export>
  <dxo-chart-legend
    verticalAlignment="bottom"
    horizontalAlignment="center"
  ></dxo-chart-legend>
  <dxi-chart-series
    rangeValue1Field="aVal1"
    rangeValue2Field="aVal2"
    name="ANS West Coast"
  ></dxi-chart-series>
  <dxi-chart-series
    rangeValue1Field="tVal1"
    rangeValue2Field="tVal2"
    name="West Texas Intermediate"
  ></dxi-chart-series>
  <dxo-chart-tooltip [enabled]="true"></dxo-chart-tooltip>
</dx-chart>
