<dx-data-grid
  id="gridContainer"
  [dataSource]="dataSource"
  keyExpr="ID"
  [showBorders]="true"
>
  <dxi-data-grid-column
    dataField="OrderNumber"
    [width]="130"
    caption="Invoice Number"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="CustomerStoreCity"
    caption="City"
    [hidingPriority]="0"
  ></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="CustomerStoreState"
    caption="State"
    [hidingPriority]="1"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="Employee"></dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="OrderDate"
    dataType="date"
    [hidingPriority]="2"
  ></dxi-data-grid-column>
  <dxi-data-grid-column dataField="SaleAmount" format="currency"></dxi-data-grid-column>
</dx-data-grid>
