<dx-vector-map
  id="vector-map"
  #vectorMap
  [bounds]="[-180, 85, 180, -60]"
  (onZoomFactorChanged)="zoomChanged($event)"
  (onCenterChanged)="centerChanged($event)"
>
  <dxi-layer [dataSource]="worldMap"></dxi-layer>
  <dxo-control-bar [panVisible]="pan.value" [zoomVisible]="zoom.value">
  </dxo-control-bar>
</dx-vector-map>
<div class="options">
  <div class="caption">Options</div>
  <div class="wrapper-option">
    <div class="column">
      <div class="option">
        <span>Continent</span>
        <dx-select-box
          [dataSource]="viewportData"
          [width]="210"
          [inputAttr]="{ 'aria-label': 'Continent' }"
          displayExpr="continent"
          valueExpr="coordinates"
          [value]="viewportData[0].coordinates"
          (onValueChanged)="onValueChanged($event)"
        ></dx-select-box>
      </div>
      <div class="option">
        <span>Zoom factor</span>
        <dx-text-box
          [value]="zoomFactorValue"
          [readOnly]="true"
          [width]="210"
          [inputAttr]="{ 'aria-label': 'Zoom' }"
        >
        </dx-text-box>
      </div>
      <div class="option">
        <span>Center</span>
        <dx-text-box
          [inputAttr]="{ 'aria-label': 'Center' }"
          [value]="centerValue"
          [readOnly]="true"
          [width]="210"
        ></dx-text-box>
      </div>
    </div>
    <div class="column">
      <div class="option">
        <span>Pan control</span>
        <dx-switch [value]="true" #pan></dx-switch>
      </div>
      <div class="option">
        <span>Zoom bar</span>
        <dx-switch [value]="true" #zoom></dx-switch>
      </div>
    </div>
  </div>
</div>
